@charset "utf-8";

/**
 * 图片分组页面
 */
.xui-editor-imageGroupPage .xui-i-imageGroup {
	width: 45%;
	height: 300px;
	margin: 20px;
	border: solid 1px #BFBFBF;
}
.xui-editor-imageGroupPage .xui-i-title {
	height: 40px;
	line-height: 40px;
	background-color: #EEEEEE;
	padding: 0px 10px;
	margin: 0px;
	position: relative;
}
.xui-editor-imageGroupPage .xui-close {
	display: block !important;
}
.xui-editor-imageGroupPage .xui-i-images {
	padding-left: 20px;
	overflow: hidden;
	height: 258px;
}
.xui-editor-imageGroupPage .xui-i-image {
	float: left;
	margin: 20px 20px 0px 0px;
	width: 80px;
	height: 80px;
}
.xui-editor-imageGroupPage .xui-i-image img {
	width: 100%;
	height: 100%;
}
.xui-addImageGroupImageDialog .xui-i-images {
	
}
.xui-addImageGroupImageDialog .xui-i-image {
	width: 96px;
	height: 96px;
	float: left;
	margin: 10px 0px 25px 33px;
	border: solid 1px #BFBFBF;
}
.xui-addImageGroupImageDialog .modal-dialog .modal-body{
	padding-left: 0px;
}
.xui-addImageGroupImageDialog .help-block,.xui-uploader{
	margin-left: 32px;
}
.xui-addImageGroupImageDialog .errorHint{
	font-weight:normal;
}
.xui-addImageGroupImageDialog .xui-editTitle{
	background-repeat: no-repeat;
}
.xui-addImageGroupImageDialog .xui-editTitle{
    margin-top: 10px;
}
.xui-addImageGroupImageDialog .close{
	padding-top: 0px !important;
}
.xui-addImageGroupImageDialog .xui-i-image:last-child {
	margin-right: 0px;
}
.xui-addImageGroupImageDialog .xui-i-image img {
	width: 100%;
	height: 100%;
}
.xui-addImageGroupImageDialog .xui-i-footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
/*图片管理弹窗*/
.xui-addImageGroupImageDialog .modal-dialog{
 	width: 812px;
 	height: 512px;
 	position: absolute;
 	top:50%;
 	left: 50%;
 	margin-top: -256px;
 	margin-left: -408px;
 }

/**
 * 运费模板页面
 */
 .xui-editor-postageConfigsPage .xui-i-box{
 	background: #EFF4FF;
 	padding-top: 15px;
 }
.xui-editor-postageConfigsPage .xui-i-title {
	background: #C7D1E5;
	height: 40px;
	line-height: 40px;
	padding: 0px 10px;
}
.xui-editor-postageConfigsPage .xui-i-actionItem {
	display: inline-block;
}
.xui-editor-postageConfigsPage .xui-addNewGroup{
	margin-left: 25px;
}
.xui-editor-postageConfigsPage .xui-i-actionItem a{
	padding:0 8px;
}
.xui-editor-postageConfigsPage .xui-edit{
	border-right: 1px solid #0477E0;
}
.xui-editor-postageConfigsPage .xui-i-postageConfig thead th{
	border-right: 1px solid #ddd;
}


/*配置模板页面*/
.xui-editPostageTemplatePage .xui-editPostageTemplate{
	background: #E7F1FD;
	padding-top: 23px;
}
.xui-editPostageTemplatePage .xui-postageTemplateName td:first-child{
	width: 108px;
	text-align: center;
}
.xui-editPostageTemplatePage .xui-postageTemplateName td:last-child{
	width: 469px;
}
.xui-editPostageTemplatePage .xui-postageTemplateName tr{
	height: 42px;
}
.xui-defaultPostage legend,.xui-specialPostage legend,.xui-freePostage legend{
	background: #DBDBDB;
	color: #333;
	height: 30px;
	padding-left: 75px;
	line-height: 30px;
	font-size: 12px;
	font-weight: bold;
}
.xui-specialPostage legend,.xui-freePostage legend{
	padding-left: 52px;
}
.xui-specialPostage label,.xui-freePostage label{
	font-weight: bold;
}
.xui-specialPostage tbody td:first-child,.xui-freePostage tbody td{
	padding: 8px 40px;
}
.xui-defaultPostage input.form-control{
	width: 80px;
}
.xui-defaultPostage .form-group{
	padding-left: 104px;
}
.xui-defaultPostage label{
	font-weight: normal;
}
.xui-specialConfigTable thead,.xui-freeConfigTable thead{
	height: 32px;
	background: #D1E1FF;
	border-top: 2px solid #0377E1; 
}
.xui-specialConfigTable tbody tr,.xui-freeConfigTable tbody tr{
	border-bottom: 1px solid #D1E1FF;
}
.xui-specialPostage .xui-i-box,.xui-freePostage .xui-i-box{
	padding: 0 30px;
}
.xui-editPostageTemplatePage .xui-i-button{
	height: 52px;
	padding-left: 87px;
	color: #0477E0;
	line-height: 26px;
}
.xui-editPostageTemplatePage .xui-i-button button{
	background: none;
}
.xui-editPostageTemplatePage .xui-save{ 
	width: 80px;
	height: 40px;
	font-size: 14px;
	font-weight: bold;
}
.xui-editPostageTemplatePage .xui-specialConfigTable tbody td:first-child,.xui-editPostageTemplatePage .xui-freeConfigTable tbody td:first-child{
	padding-left: 50px;
	padding-right: 50px;
}
/*运费模板弹窗*/
.xui-mallSelectProvinceDialog .modal-dialog{
	width: 500px;
	height: 430px;
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -250px;
	margin-top: -215px;
}
.xui-mallSelectProvinceDialog .modal-body{
	margin-top: -20px;
	padding-left: 22px;
}						
.xui-mallSelectProvinceDialog table{
	border-left: 1px solid #D8DBDD;
	border-right: 1px solid #D8DBDD;
}
.xui-mallSelectProvinceDialog table td{
	width: 65px;
	height: 44px;
	text-align: center;
}
.xui-mallSelectProvinceDialog table td:first-child{
	font-weight: bold;
}






/*
* 物流名称管理页
*/
.xui-logisticsPage .xui-addExpressDeliverytBtn{
	width: 138px;
	height: 30px;
	margin-top: 10px;
	margin-left: 25px;
	margin-bottom: 16px;
}
.xui-logisticsPage .xui-expressDeliveryListTable{
	padding-top: 20px;
	border-top: 2px solid #1183C9;
}
.xui-logisticsPage .xui-expressDeliveryListTable table{
	width: 952px;
	margin: 0 auto;
}
.xui-logisticsPage .xui-expressDeliveryListTable thead{
	background: #EFEFEF;
}
.xui-logisticsPage .xui-expressDeliveryListTable thead th{
	border-right: 1px solid #ddd;
}












/*物流页面弹窗*/
.xui-commonExpressDeliverDialog .modal-dialog{
	width: 500px;
	height: 356px;
	position: absolute;
	left: 50%;
	top:50%;
	margin-top: -178px;
	margin-left: -250px;
}
.xui-commonExpressDeliverDialog .modal-body select{
	width: 287px;
	margin-bottom: 18px;
	height: 24px;
}
.xui-commonExpressDeliverDialog .modal-body textarea{
	width: 348px;
	height: 182px;
	margin-left: 78px;
}






/**
 * 支付方式列表页面
 */
.xui-editor-payInterfacePage .xui-i-title {
	padding: 10px;
	background: #D2E1FF;
}
.xui-editor-payInterfacePage section{
	width: 848px;
	margin: 0 auto;
}
.xui-editor-payInterfacePage section h2{
	margin-bottom: 0;
	height: 42px;
}
.xui-editor-payInterfacePage .xui-i-content{
	background: #fff;
	min-height: 78px;
	padding-left: 25px;
}
/*.xui-editor-payInterfacePage section:first-child .xui-i-content{
	height: 220px;
	padding-top: 25px;
}*/
.xui-editor-payInterfacePage section:first-child .xui-i-content ul{
	padding-left: 100px;
	margin-top: -22px;
}
.xui-editor-payInterfacePage section:nth-child(2),.xui-editor-payInterfacePage section:nth-child(3){
	line-height: 78px;
}
.xui-editor-payInterfacePage .xui-useBtn{
	float: right;
	position: relative;
}
.xui-editor-payInterfacePage .xui-useBtn input{
	opacity: 0;
	position: absolute;
}
.xui-editor-payInterfacePage .xui-useBtn label{
	height: 25px;
	line-height: 13px;
}
.xui-editor-payInterfacePage .btn-primary{
	background: #D3D3D3;
	border:none;
	color: #666;
}
.xui-editor-payInterfacePage .btn-primary.active{
	background: #1F7BBD;
	color: #fff;
}










/**
 * 商品列表样式
 */
 .xui-productList .xui-i-sellout{
 	position: absolute; 
 	bottom: 0px; 
 	width: 100%; 
 	height: 30px; 
 	line-height: 30px; 
 	background-color: rgba(0, 0, 0, 0.2); 
 	color: #FFF; 
 	font-size: 1.2em; 
 	text-align:center;
 }

 .xui-productList tbody tr{
 	padding-top: 5px;
 	padding-bottom: 5px;
 	height: 80px;

 }
  .xui-productList tr td:first-child{
    width: 50px;
 }
   .xui-productList tr td{
   padding-left:0px;
 }
  .xui-productList tr td .xui-poductorIntroduction{
  	text-align:left;
    height: 60px;
    line-height:15px;
    padding-top: 5px;
  }









/**
 * 编辑商品页面
 */
 .xui-editProductPage header{
 	height: 50px;
 	line-height: 50px;
 	padding-top: 12px;
 	padding-left: 30px;
 }
 .xui-editProductPage section:first-child header{
 	height: 81px;
 	line-height: 81px;
 	padding-top: 0;
 }
.xui-mall-addProductForm {

}
.xui-mall-addProductForm section {
	border: solid 1px #DCE4EB;
	margin-top: 20px;
	background: #EAEEF5;
}
.xui-editProductPage legend{
	padding-left: 54px;
	background:#D7E9FB;
	color:#333;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	font-weight: bold;
}
.xui-editProductPage .control-label{
	width: 100px;
	padding-top: 3px;
	margin-left: 100px;
}
.xui-editProductPage .xui-category{
	padding-top: 3px;
	margin-left: 0px;
}
.xui-editProductPage .form-group{
	margin-bottom: 10px;
}
.xui-editProductPage label{
	font-weight: normal;
}
.xui-editProductPage p{
	margin: 0;
	line-height: 24px;
}
.xui-editProductPage .xui-deleteProperty{
	height: 24px;
	width: 46px;
	background-color: #fff;
	border:1px solid #ccc;
	padding: 5px;
	padding-bottom: 4px;
}
.xui-editProductPage .xui-i-images {
}
.xui-editProductPage .xui-i-image {
	float: left;
	margin: 10px 20px 0px 0px;
	width: 70px;
	height: 70px;
	border: solid 1px #BFBFBF;
	text-align: center;
	/*line-height: 80px;*/
	cursor: pointer;
}
.xui-editProductPage .xui-i-image img {
	width: 100%;
	height: 100%;
}
.xui-editProductPage .xui-i-templateProperties {
	text-align: center;
	width: 826px;
	background: #D7E9FB;
	/*padding: 20px;*/
	margin: 0 auto;
	margin-bottom: 30px;
	border-radius: 5px;
	padding:15px;
}
.xui-editProductPage .xui-i-templateProperty {
	float: left;
	width: 50%;	
	margin-top: 8px;
}
/*.xui-editProductPage .xui-i-templateProperty:first-child{
	margin-top: 15px;
}*/
.xui-editProductPage .xui-i-templateProperty:last-child{
	margin-bottom: 15px;
}
.xui-editProductPage .xui-i-propertyName {
	display: block;
	background-color: #EFEFEF;
	width: 100px;
	text-align: center;
	border: solid 1px #BFBFBF;
	width: 68px;
	height: 25px;
	line-height: 25px;
	float: left;
	position: relative;
	top:-4px;
}
.xui-editProductPage .xui-i-propertyValue {
	display: block;
	background-color: #FFFFFF;
	width: 268px;
	text-align: center;
	border: solid 1px #BFBFBF;
	height: 25px;
	line-height: 25px;
	float: left;
	position: relative;
	top:-4px;
	left: 4px;
}
.xui-editProductPage .xui-i-propertyName:last-child {
	float: none;
}

/*选择产品规格弹窗*/
.xui-selectProductModelPropertyDialog .modal-dialog{
	width: 500px;
	height: 442px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -221px;
	margin-left: -250px;
}
.xui-selectProductModelPropertyDialog .modal-dialog .modal-body{
	padding-left: 15px;
	padding-right: 15px;
	max-height: 422px;
	overflow:auto;
}
.xui-selectProductModelPropertyDialog table li{
	width: 90px;
	float: left;
	padding-left: 30px;
	text-align: left;
	overflow: hidden;
}
.xui-selectProductModelPropertyDialog table li label{
	margin:10px auto 0 auto;
	height:33px;
	width: 68px;
	font-weight: normal;
}




/**
 * 选择图片分组中的图片的对话框
 */
.xui-selectMallImagesDialog .xui-i-images {
	
}
.xui-selectMallImagesDialog .xui-i-image {
	width: 96px;
	height: 96px;
	float: left;
	margin: 20px 0px 0px 25px;
	border: solid 1px #BFBFBF;
}
.xui-selectMallImagesDialog .xui-i-image img {
	width: 100%;
	height: 100%;
}
.xui-selectMallImagesDialog .xui-i-footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFF;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.xui-selectMallImagesDialog .xui-i-imageGroupSelector {
	color: #000;
	overflow: hidden;
	white-space: nowrap;
}
.xui-selectMallImagesDialog .xui-i-selected {
	border: solid 2px  rgb(60, 155, 215);
}
.xui-selectMallImagesDialog .modal-dialog{
	width: 812px;
	height: 514px;
	position: absolute;
	top:50%;
	left: 50%;
	margin-top: -256px;
	margin-left: -406px;
}










/**
 * table增强样式 
 */
.xui-tableTitleBar {
	line-height: 40px;
	height: 40px;
	background-color: #ABE0FF;
	position: relative;
}
.xui-tableTitleBar .xui-i-actionBar {
	line-height: 40px;
	position: absolute; right: 10px; bottom: 0px;
}
.xui-tableTitleBar .xui-i-title {
	padding: 0px 5px;
	margin: 0px;
	line-height: 40px;
}


/**
 * 规格管理页面 
 */
 .xui-modelPropertyPage .xui-propertyValueList{
 	text-align: left;
 }

  .xui-addSpecificationDialog .modal-dialog .modal-body{
 	padding-left: 20px !important;
 	padding-top: 10px !important;
 }
  .xui-modelPropertyPage .table thead th{
    background-color: #D7E9FB;
 }
  .xui-productPropertyPage .xui-addWraper{
  	height: 30px;
  	width: 973px;
  	margin-bottom: 20px;
  }
  .xui-productPropertyPage .xui-rightPanel{
  	background-color: #eaeef6;
  	padding: 5px 10px 15px 10px;
  }
.xui-modelPropertyPage .xui-propertyValueList li {
	display: inline-block;
	box-sizing: border-box;
	margin: 8px 10px 5px 0px;
	min-width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	position: relative;
	vertical-align: middle;
	background: #fff;
}
.xui-modelPropertyPage .xui-propertyValueList li div{
	overflow: hidden;
	border: solid 1px #BFBFBF;
}
.xui-modelPropertyPage .xui-propertyValueList li div span{
	padding: 0 7px;
}
.xui-modelPropertyPage .xui-propertyValueList img {
	width: 35px;
	height: 35px;
}
.xui-modelPropertyPage .nav li{
	background: #E7F1FD;
}
.xui-specification{
	margin-top:4px;
	min-height: 1057px;
}
.xui-specification table{
	margin-bottom: 0;
}
.xui-specification thead{
	height: 32px;
	line-height: 32px;
	background: #E4E4E4;
	padding-left: 34px;
}
.xui-specification thead th{
	text-align: center;
}
.xui-specification tbody tr:nth-child(even){
	background: #E4EDFF;
}
.xui-specification tbody tr:nth-child(odd){
	background:#EFF5FF  !important;
}

.xui-modelPropertyPage .btn-success{
	margin-left: 64px;
}
.xui-modelPropertyPage .xui-addModelProperty{
	background-color :#EFF5FF ;
}
.xui-specification tbody td{
	height: 78px;
	line-height: 78px;
	border-top: 0;
	border-bottom:1px solid #D7E4FD;
}
.xui-specification .xui-addModelProperty{
	height: 78px;
	line-height: 78px;
	border-top: 0;
}
.xui-specification tbody td:first-child{
	padding-left: 34px;
	position: relative;
}
.xui-specification .xui-name{
	height: 36px;
	line-height: 36px;
	overflow: hidden;
	display: block;
}
.xui-specification .xui-editName{
	position: relative;
	top: -27px;
	left: 75px;
}
.xui-specification .xui-newEditName{
	position: relative;
	top: -15px;
	left: 62px;
}
/*.xui-modelPropertyPage .xui-deleteModelProperty{
	width: 14px;
	height: 16px;
}*/
/*.xui-modelPropertyPage .xui-deleteModelProperty img{
	width: 100%;
}*/
/*规格管理页面弹窗*/
.xui-addSpecificationDialog .modal-dialog{
	width: 448px;
	height: 180px;
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -224px;
	margin-top: -90px;
}
.xui-addSpecificationDialog .modal-header{
	margin-bottom: 0;
}
.xui-addSpecificationDialog .form-control{
	width: 156px;

}








/*
*
*分组管理页面↓
*
*/
.xui-procateCategoriesPage .xui-i-title{
	background: #F1EFEF;
	position: relative;
}
.xui-procateCategoriesPage .table  thead tr:last-child {
	background-color: #C7D1E5;
}
.xui-procateCategoriesPage .table   td {
	height: 32px;
}

.xui-procateCategoriesPage .xui-content{
	background: #EFF5FF;
}
.xui-procateCategoriesPage .table > tbody > tr:nth-child(odd) > td {
	background-color: #fff;
} 
.xui-procateCategoriesPage .table > tbody > tr:nth-child(even) > td {
	background-color: #F1F9FD;
} 

/*按钮位置↓*/
.xui-procateCategoriesPage .xui-tableTitleBar .xui-i-actionBar{
	/*float: right;*/
}
.xui-procateCategoriesPage .table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	border-bottom: none;
}
.xui-procateCategoriesPage .xui-i-actionBar{
	height: 3px;
	position: absolute;
	top: -2px;
	right: 20px;
}

.xui-addProductCategoryDialog .modal-body .modal-header{
	padding-left: 30px !important;
}
.xui-addProductCategoryDialog .modal-body{
	padding-right: 30px !important;
}
.xui-procateCategoriesPage
{
	background-color: #EFF5FF;
	padding-bottom: 25px;
}
 .breadcrumb{
	background-color: #fff;
}
.xui-procateCategoriesPage .xui-editCategory{
	width:40px;
	min-width: 20px;
	font-size: 12px;
	background: transparent;
	color: #666666;
	padding-top: 0px;
	height: 14px;
	padding: 0px 0px;
	border:none;
}
.xui-procateCategoriesPage .xui-cutLine{
	height: 12px;
	width: 1px;
	background-color: #666666;
	position: relative;
	top:16px;
	left:57px;

}
.xui-procateCategoriesPage .xui-deleteCategory{
	border:none;
	padding-left: 10px;
	width:60px;
	min-width: 40px;
	font-size: 12px;
	background: transparent;
	color: #666666;
	padding-top: 0px;
	height: 14px;
}
.xui-procateCategoriesPage .table{
	width: 973px;
	margin: auto;
}
.xui-procateCategoriesPage .table-bordered>thead>tr>th{
	text-align: center;
	font-weight: normal;
  
}

.xui-procateCategoriesPage .table>tbody>tr>td,
.xui-procateCategoriesPage .table>tbody>tr>th,
.xui-procateCategoriesPage .table>thead>tr>th{
	padding: 0;
}
.xui-procateCategoriesPage .table-bordered>tbody>tr>td{
	text-align: center;
}
.xui-procateCategoriesPage .table > thead > tr > th:nth-child(1){
	text-align: left;
	padding-left: 44px;
	/*width:415px;*/
}
/*.xui-procateCategoriesPage .table > thead > tr > th:nth-child(2),
.xui-procateCategoriesPage .table-bordered>tbody>tr>td:nth-child(2){
	width: 110px;
}
.xui-procateCategoriesPage .table > thead > tr > th:nth-child(3),
.xui-procateCategoriesPage .table-bordered>tbody>tr>td:nth-child(3){
	width: 80px;
}
.xui-procateCategoriesPage .table > thead > tr > th:nth-child(4),
.xui-procateCategoriesPage .table-bordered>tbody>tr>td:nth-child(4){
	width: 75px;
}
.xui-procateCategoriesPage .table > thead > tr > th:nth-child(5),
.xui-procateCategoriesPage .table-bordered>tbody>tr>td:nth-child(5){
	width: 75px;
}
.xui-procateCategoriesPage .table > thead > tr > th:nth-child(6),
.xui-procateCategoriesPage .table-bordered>tbody>tr>td:nth-child(6){
	width: 110px;
}*/
.xui-procateCategoriesPage .table-bordered>tbody>tr>td:nth-child(1){
	text-align:left;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	/*width:415px;*/
	padding-left: 44px;

}
.xui-procateCategoriesPage .table-bordered>tbody>tr>td:nth-child(4){
	padding:4px 15px;
}


/*分组管理页面弹窗*/
/*分组管理弹窗大盒子↓*/
.xui-addProductCategoryDialog .modal-dialog .modal-content{
	width: 905px;
}
.xui-addProductCategoryDialog .modal-dialog .modal-body {
	max-height: 500px;
	overflow: auto;
}
.xui-addProductCategoryDialog .modal-header{
	margin-bottom: 0;
}
.xui-addProductCategoryDialog .wui-titleInput{
	margin-top: -2px !important;

}
 .xui-i-imageGroup{
	width: 405px !important;
	background-color: #fff;
}
.xui-i-imageGroup .xui-i-title{
	height: 32px;
	background-color: #D7E9FB;
}
.xui-i-imageGroup .xui-i-image{
	width: 96px;
	height: 96px;
	margin: 25px 0px 0px 28px;
}
.xui-i-imageGroup .xui-i-images{
	padding-left: 0px;
}
/*编辑分类标题框↓*/
.xui-addProductCategoryDialog .modal-dialog .wui-titleInput{
	height: 27px;
	position: relative;
}
/*搜索框↓*/
.xui-addProductCategoryDialog .modal-dialog .form-group div input.wui-query{
	height: 27px;
	width: 417px;!important
	border-radius: 0;
	-webkit-border-radius: 0;
}
/*搜索条字体颜色↓*/
.xui-addProductCategoryDialog .modal-dialog .form-group div .btn{
	color: #fff;
}
.xui-addProductCategoryDialog .modal-dialog .form-group div span{
	color: #666666;
}
/*添加搜索图↓*/
.xui-addProductCategoryDialog .modal-dialog .wui-search{
	height: 24px;
	width: 27px;
	background: url(/static_v2/img/editor/groupSearch.gif);
}
/*调搜索图位置↓*/
.xui-addProductCategoryDialog .modal-dialog .glyphicon {
	position: relative;
	top: 9px;
	left: 5px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/*弹窗表格宽度↓*/
.xui-addProductCategoryDialog .xui-searchColor{
	color: #f00;
}
/*弹窗底部盒子↓*/
.xui-addProductCategoryDialog .modal-footer{
	/*
	position: absolute
	bottom: 0px;
	width: 100%;
	*/
	background-color: #E9EDF7;
	-webkit-border-bottom-left-radius:5px; 
	-webkit-border-bottom-right-radius:5px; 
}
/*弹窗底部按钮↓*/
.xui-addProductCategoryDialog .wui-dialogbtn{
	color: #333333;
	width: 84px;
	height: 30px;
	background: #D6D6D6;
	border: none;
	border-right: 1px solid #B0AFAF;
	border-bottom: 1px solid #989797;
	border-radius: 3px;
}
/*表格内容居中↓*/
.xui-addProductCategoryDialog .table-bordered>thead>tr>th{
	text-align: center;
}
.xui-addProductCategoryDialog .table-bordered>tbody>tr>td{
	text-align: center;
}
  .wui-titleInput{
 	text-align: center;
 	color: #000;
 	width: 122px;
 }
/*dialog头部输入框*/
.xui-addProductCategoryDialog .xui-titleInput{
	width: 149px;
	height:33px;
	margin-top:-10px;
	border-radius: 0;
}
/*铅笔小图标旁输入框位置*/
.xui-addProductCategoryDialog .wui-titleInput{
	margin-top: -9px;
}
/*铅笔小图标位置*/
.xui-addProductCategoryDialog .glyphicon-edit:before{
	margin-top: -26px;
}
/*關閉按鈕顏色*/
.xui-addProductCategoryDialog .xui-closeColor{
	color: #fff;
}
/*關閉按鈕位置*/
.xui-addProductCategoryDialog .close{
	line-height: 0.6;
}
.xui-addProductCategoryDialog .wui-titleInput{
	color: #666;
}
.xui-addProductCategoryDialog .xui-titleColor{
	color: #ffffff;
	font-weight: bold;
}

.xui-addProductCategoryDialog .modal-dialog{
	position: absolute;
	top:50%;
	left: 50%;
	margin-top: -273px;
	margin-left: -452.5px;
}

/**
 * 属性管理页面
 */
 .xui-productPropertyPage{
 	background-color: #e8f2fd;
 	padding-bottom: 15px;
 }
/*.xui-productPropertyPage .xui-i-templateName {
	background-color: #ABE0FF;
	padding: 10px;
}*/
.xui-productPropertyPage .xui-i-templateProperties {
	text-align: center;
}
.xui-productPropertyPage .xui-i-templateProperty {
	float: left;
	width: 50%;	
}
.xui-productPropertyPage .xui-section{
	margin-bottom: 50px;
}
.xui-productPropertyPage .xui-section:last-child{
	margin-bottom: 0px;
}
.xui-productPropertyPage .xui-i-propertyName {
	display: inline-block;
	background-color: #EFEFEF;
	width: 100px;
	padding: 5px;
	text-align: center;
	border: solid 1px #BFBFBF;
}
.xui-productPropertyPage .xui-i-propertyValue {
	display: inline-block;
	background-color: #FFFFFF;
	width: 300px;
	padding: 5px;
	text-align: center;
	border: solid 1px #BFBFBF;
}
.xui-productPropertyPage .xui-addNewGroup{
	margin-left: 34px;
}
.xui-productPropertyPage .xui-propertyNameBtn{
	width: 67px;
	height: 25px;
}
.xui-productPropertyPage .xui-emptyBox {
	width: 973px;
}
.xui-productPropertyPage .xui-propertyValueInput{
	min-height: 22px;
	width: 287px;
	background: #ffffff;
	color: #666666;
	border: none !important;
}
.xui-propertyTemplateHeader{
	height: 32px;
	overflow: hidden;
	background: #D6EAFF;
	border-top:2px solid #5FA1E9;
	color: #666;
	padding-left: 28px;
	margin-left: 35px;
	margin-right: 35px;
}
.xui-propertyTemplateHeader h2{
	float: left;
	margin: 0;
	line-height: 32px;
}
.xui-propertyTemplateHeader .xui-operationBtn{
	float: right;
	color: #076BB1;
}
.xui-productPropertyPage .xui-i-propertyName{
	padding: 0;
	line-height: 25px;
	margin-bottom: 6px;
}
.xui-productPropertyPage .xui-i-propertyValue{
	padding:0;
	line-height: 24px;
	margin-bottom: 6px;
}
.xui-productPropertyPage .xui-operationBtn{
	margin-left: 128px;
	line-height: 32px;
}
.xui-productPropertyPage .xui-editBtn{
	border: none;
	background: none;
	padding: 0 8px;
	cursor: pointer;
	border-right: 1px solid #076BB1;
}
.xui-productPropertyPage .xui-deleteBtn{
	border: none;
	padding: 0 8px;
	background: none;
	cursor: pointer;
}
/*属性管理页面弹窗*/
.xui-mallEditProductPropertyTemplateDialog .modal-dialog{
	width: 720px;
	height: 360px;
	position: absolute;
	left: 50%;
	top:50%;
	margin-left: -360px;
	margin-top: -180px;
}
.xui-mallEditProductPropertyTemplateDialog .modal-body{
	width: 665px;
	margin:0 auto;
	padding: 0;
}

.xui-mallEditProductPropertyTemplateDialog .xb-stripedTable{
	max-height: 144px;
	overflow-y:scroll; 
}









/*
*商品管理页面
*/
.xui-productsPage .xui-batchbtn{
	position: absolute;
	height: 50px;
	line-height: 50px;
	bottom: 0;
	padding-left: 15px;
}
.xui-productsPage .icon-arrow-down{
	 background: rgba(0, 0, 0, 0) url("/static_v2/img/weixin/storing.png") no-repeat scroll 0 0;
}
.xui-productsPage .icon-arrow-up{
	 background: rgba(0, 0, 0, 0) url("/static_v2/img/weixin/storingUp.png") no-repeat scroll 0 0;
}
.xui-productsPage [class^="icon-"] {
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}
/*在售商品管理，多规格修改库存弹窗*/
.xui-updateProductModelStocksDialog .modal-dialog{
	width: 500px;
	height: 388px;
	position: absolute;
	top:50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -194px;
}
.xui-updateProductModelStocksDialog .modal-dialog .modal-body{
	overflow: auto;
}
.xui-productsPage .xui-imgBox{
	width: 60px;
	height: 60px;
	overflow: hidden;
	text-align: center;
	vertical-align: middle;
}

.xui-productsPage .xb-pagination-component{
	position: absolute;
	bottom: 0;
	right: 0;
}

/*
*评价管理页面
*/
.xui-reviewDetail-page{
	padding:25px 20px 20px 25px;
}
.xui-reviewDetail-page .xui-panelTitle{
	padding: 0 0 10px;
	width: 100%;
	border-bottom: 1px solid #ccc;
	display: block;
}
.xui-reviewDetail-page .star_show:before{
	color: #333;
}
.xui-reviewDetail-page table tr td{
	line-height: ;
	padding:8px 0;
}
.xui-reviewDetail-page table tr td:first-child{
	text-align: right;
	width:60px;
	vertical-align: top;
}
.xui-reviewDetail-page table{
	margin:10px 150px 0 20px;
	max-width:780px;
}
.xui-reviewDetail-page .xui-reviewImg li{
	width:80px;
	height: 80px;
	margin-top: 2px;
	-moz-box-shadow: 0 0 0 1px #ddd;
	-webkit-box-shadow: 0 0 0 1px #ddd;
	box-shadow: 0 0 0 1px #ddd;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.xui-reviewDetail-page .xui-tips li{
	padding: 3px 0;
	color: #666;
}
.xui-reviewDetail-page .xui-action button{
	margin-right: 18px;
	font-weight: bold;
	padding: 6px 20px;
}