.xui-wepage-orderSummaryPage .xui-chart{
	height: 490px;
	border: 1px solid #ddd;
}




/*订单概况分析*/
.xui-wepage-orderSummaryPage .xui-filter,.xui-wepage-BIPage .xui-filter{
	height: 66px;
	width: 100%;
	background-color: #eaeef6;
}

.xui-wepage-orderSummaryPage .xui-i-shortcut {
    display: inline-block;
}

.xui-wepage-orderSummaryPage .xui-i-shortcutLink {
    display: block;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    padding: 0px 10px;
}

.xui-wepage-orderSummaryPage .xui-i-activeLink {
    background-color: #FFF;
    border: solid 1px #1D84C7;
}

.xui-wepage-orderSummaryPage .xb-rightPanel,.xui-wepage-BIPage .xb-rightPanel {
	background-color: #fff;
	margin-bottom: 15px;
}
.xui-wepage-orderSummaryPage .xui-summary {
	height: 206px;
	width: 100%;
	margin-top: 15px;
}
.xui-wepage-orderSummaryPage .xui-summary  {
	border:1px solid  #d7e0e7;
	background-color: #f8fbff;
}
.xui-wepage-orderSummaryPage .xui-summary .xui-i-left {
	background-color: #639fdf;
	height: 206px;
	width: 100px;
}
.xui-wepage-orderSummaryPage .xui-summary tr td:last-child .xui-i-wrap {
	border-right:none;
}
.xui-wepage-orderSummaryPage .xui-summary tr:first-child {
	border-bottom: 1px dashed #f2f2f2;

}
.xui-wepage-orderSummaryPage .xui-summary .xui-i-wrap {
	height: 70%;
	width: 100%;
	text-align: center;
	border-right: 1px dashed #e5e5e5;
	color:#000;
	font-size: 12px;
	font-weight: bold;
	padding-top: 8px;
	line-height: 25px;
}       
.xui-wepage-orderSummaryPage .xui-summary .xui-i-wrap .xui-i-money {
	color: #e55050;
	cursor: auto;
	font-size: 18px;
}
.xui-wepage-orderSummaryPage .xui-i-alert {
	width:145px; color:#666666; font-size:12px;
}
.xui-wepage-orderSummaryPage .xui-summary .xui-i-wrap .xui-i-name {
	color: #666666;
	margin-right: 8px;
	margin-left: 8px;
	cursor: auto;
}
.xui-wepage-orderSummaryPage .xui-summary .xui-i-hide {
	visibility: hidden;
}
.xui-wepage-orderSummaryPage .xui-summary .xui-i-left .xui-i-title {
	color: #fff;
	width: 40px;
	margin: auto;
	font-size: 16px;
	font-weight: bold;
}
.xui-wepage-orderSummaryPage .xui-summary .xui-i-wrap .xui-i-img,
.xui-wepage-BIPage .xui-charWrap .xui-i-img {
	background-image: url(/static_v2/img/editor/help.png);
	width:18px;
	height: 18px;
}
.xui-wepage-orderSummaryPage .xui-charWrap:nth-child(odd){
	float: left;
}
.xui-wepage-orderSummaryPage .xui-charWrap,.xui-wepage-BIPage .xui-charWrap {
	width: 480px;
	height: 400px;
	border: 1px solid #eee;
	margin-top: 20px;
}
.xui-wepage-orderSummaryPage .xui-charWrap:nth-child(even) {
	float: right;
}
.xui-wepage-orderSummaryPage .xui-charWrap .xui-i-title{
	background-color: #edf3f8;
	width: 100%;
	height: 50px;
	
}
.xui-wepage-orderSummaryPage .xui-charWrap .xui-i-title,
.xui-wepage-BIPage .xui-charWrap .xui-i-title,
.xui-mall-outlinePage .xui-title{
	background-color: #edf3f8;
	width: 100%;
	height: 42px;
	line-height: 42px;
	vertical-align: middle;
	padding-left: 10px;
	color: #666666;
	font-size: 14px;
	font-weight: bold;
}

.xui-wepage-orderSummaryPage .xui-filter {
	padding-top: 22px;
}
.xui-wepage-orderSummaryPage .xui-filter .xui-col:last-child {
	margin-top: -5px;
}
.xui-wepage-orderSummaryPage .xui-charWrap .xui-i-block ,
.xui-wepage-BIPage .xui-charWrap .xui-i-block,
.xui-mall-outlinePage .xui-i-block{
	height: 20px;
	width: 5px;
	background-color: #20a3ff;
	float: left;
	margin-top: 11px;
}
.xui-wepage-orderSummaryPage .xui-charWrap:last-child {
	width: 100%;
	clear: both;
}

/*活动分析*/
.xui-wepage-analysisPage .xui-charWrap {
	width: 100%;
	clear: both;
}
.xui-wepage-analysisPage .xui-i-link {
	cursor: pointer;
}
.xui-wepage-analysisPage .nav-tabs {
	border-bottom: none;
	margin-left: 5px;
}
.xui-wepage-analysisPage .xui-charWrap .xui-i-title{
	background-color: #edf3f8;
	font-size: 14px;
	color: #666666;
	font-weight: bold;
	width: 100%;
	height: 42px;
	line-height: 42px;
	vertical-align: middle;
	padding-left: 10px;
}
.xui-wepage-analysisPage .xui-charWrap .xui-i-block {
	height: 20px;
	width: 5px;
	background-color: #20a3ff;
	float: left;
	margin-top: 11px;
}
.xui-wepage-analysisPage .xui-charWrap {
	border: 1px solid  #ebeff3;
}
.xui-wepage-analysisPage .xui-charWrap .xui-tab-activity  {
	width: 99%;
	margin: auto;
}
.xui-wepage-analysisPage .xui-charWrap .xui-tab-activity td {
	height: 62px;
}
.xui-wepage-analysisPage .xui-charWrap .xui-tab-activity tr:nth-child(odd) {
	
}
.xui-wepage-analysisPage .xui-charWrap .xui-tab-activity tr:nth-child(even) {
	background-color: #f0f9fe;
}
.xui-wepage-analysisPage .nav-tabs a{
	
}
.xui-wepage-analysisPage .nav-tabs {
}

/*会员分析*/
.xui-wepage-membersPage .xui-charWrap:nth-child(odd){
	float: left;
}
.xui-wepage-membersPage .xui-charWrap {
	width: 490px;
	border: 1px solid #f2f2f2;
	margin-top: 15px;
}


.xui-wepage-membersPage .xui-gradeTab th{
	background-color: #f5faff;
	border-color:#f2f2f2;
}
.xui-wepage-membersPage .xui-gradeTab td{
	border-color:#f2f2f2;
	color: #000;
}
.xui-wepage-membersPage .xui-gradeTab tr:nth-child(odd){
	background-color: #fcfcfc;
}
.xui-wepage-membersPage .xui-i-alert {
	width:145px; color:#666666; font-size:12px;
}
.xui-wepage-membersPage .xui-charWrap:first-child {
	width: 100%;
}
.xui-wepage-membersPage .xui-charWrap:last-child {
	width: 100%;
}
.xui-wepage-membersPage .xui-charWrap:nth-child(even) {
	float: right;
}
.xui-wepage-membersPage .xui-summary .xui-i-wrap .xui-i-money {
	color: #e55050;
	cursor: auto;
	font-size: 18px;
}
.xui-wepage-membersPage .xui-charWrap .xui-i-title{
	background-color: #edf3f8;
	width: 100%;
	height: 50px;
	font-size: 14px;
	
}
.xui-wepage-membersPage .xui-summary .xui-i-wrap .xui-i-money {
	color: #e55050;
	cursor: auto;
	font-size: 18px;
}
.xui-wepage-membersPage .xui-i-alert {
	width:145px; color:#666666; font-size:12px;
}
.xui-wepage-membersPage .xui-summary .xui-i-wrap .xui-i-name {
	color: #666666;
	margin-right: 0px;
	margin-left: 0px;
	cursor: auto;
}
.xui-wepage-membersPage .xui-summary .xui-i-hide {
	visibility: hidden;
}
.xui-wepage-membersPage .xui-charWrap .xui-i-title{
	background-color: #edf3f8;
	width: 100%;
	height: 42px;
	line-height: 42px;
	vertical-align: middle;
	padding-left: 10px;

}
.xui-wepage-membersPage .xui-charWrap .xui-i-title{
	background-color: #edf3f8;
	width: 100%;
	height: 42px;
	line-height: 42px;
	vertical-align: middle;
	padding-left: 10px;
	color: #666666;
	font-weight: bold;

}
.xui-wepage-membersPage .xui-charWrap .xui-i-block {
	height: 20px;
	width: 5px;
	background-color: #20a3ff;
	float: left;
	margin-top: 11px;
}
.xui-wepage-membersPage .xui-filter{
	height: 66px;
	width: 100%;
	background-color: #eaeef6;
}

.xui-wepage-membersPage .xui-i-shortcut {
    display: inline-block;
}

.xui-wepage-membersPage .xui-i-shortcutLink {
    display: block;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    padding: 0px 10px;
}

.xui-wepage-membersPage .xui-i-activeLink {
    background-color: #FFF;
    border: solid 1px #1D84C7;
}

.xui-wepage-membersPage .xb-rightPanel {
	background-color: #fff;
	margin-bottom: 15px;
}
.xui-wepage-membersPage .xui-summary {
	height: 206px;
	width: 100%;
	margin-top: 15px;
}
.xui-wepage-membersPage .xui-summary  {
	border:1px solid #f2f2f2;
	font-weight: bold;
}
.xui-wepage-membersPage .xui-summary .xui-i-left {
	background-color: #639fdf;
	height:100px;
	width: 100px;
}
.xui-wepage-membersPage .xui-summary tr td:last-child .xui-i-wrap {
	border-right:none;

}
.xui-wepage-membersPage .xui-summary .xui-i-wrap {
	height: 70%;
	width: 100%;
	text-align: center;
	border-right: 1px dashed #e5e5e5;
	color:#000;
	font-size: 14px;
	line-height: 30px;
}
.xui-wepage-membersPage .xui-summary tr:first-child {
	border-bottom:1px solid #f2f2f2;
}
.xui-wepage-membersPage .xui-gradeTab th {
	color: #777777;
	font-size: 12px;
	font-weight: bold;
}
.xui-sideBar-product_summary {
	background-position: 50px -450px;
}
.xui-wepage-membersPage .xui-summary tr:last-child {
	border-top:1px solid #f2f2f2;
}
.xui-wepage-membersPage .xui-summary td {
	border:1px solid #f2f2f2;
	background-color: #f8fbff;
}
.xui-wepage-membersPage .xui-summary .xui-i-wrap .xui-i-money {
	color: #e55050;
	cursor: auto;
}
.xui-wepage-membersPage .xui-summary .xui-i-wrap {
	height: 70%;
	width: 100%;
	text-align: center;
	border-right: 1px dashed #e5e5e5;
	color:#000;
	font-size: 12px;
	font-weight: bold;
	padding-top: 8px;
	line-height: 25px;
} 
.xui-wepage-membersPage .xui-summary .xui-i-left .xui-i-title {
	color: #fff;
	width: 40px;
	margin: auto;
	font-size: 16px;
	font-weight: bold;

}
.xui-wepage-membersPage .xui-summary .xui-i-wrap .xui-i-name {
	color: #666666;
	margin-right: 2px;
	cursor: auto;
	width: 100px;
}

.xui-wepage-membersPage .xui-summary .xui-i-wrap .xui-i-img {
	background-image: url(/static_v2/img/editor/help.png);
	width:18px;
	height: 18px;
	margin-top: -2px;
}
.xui-activityDialog .xui-i-wrap {
	width:173px; 
	border:1px solid #f2f2f2;
	border-left: none;
	border-top: none;

}
.xui-activityDialog .xui-wrap {
	border-left:1px solid #f2f2f2;
	border-top:1px solid #f2f2f2;
}

.xui-activityDialog .xui-i-wrap .xui-i-name {
	width:100%;background-color:#f0f9fe;
	height:40px; 
	text-align:center;
	line-height:40px;
}
.xui-activityDialog .xui-i-wrap .xui-i-value {
	border-top: 1px solid #f2f2f2;
	width:100%;
	height:40px;
	text-align:center;
	line-height:40px;
}
.xui-sideBar-member_summary {
	background-position: 50px -380px;
}
.xui-sideBar-activity {
	background-position: 50px -402px;
}
.xui-wepage-membersPage .xui-filterPanel{
	padding: 17px!important;
}
.xui-wepage-membersPage .xui-filterPanel .xui-col{
	float: none!important;
}
/*商品概况分析*/
.xui-wepage-sellpagesPage .xui-summary{
	height: 105px!important;
}
.xui-wepage-sellpagesPage .xui-summary .xui-i-name{
	font-size: 12px;
}
.xui-wepage-sellpagesPage .xui-charWrap:nth-child(odd){
	float: left;
}
.xui-wepage-sellpagesPage .xui-charWrap {
	width: 490px;
	height: 480px;
	border: 1px solid #f2f2f2;
	margin-top: 15px;
}
.xui-wepage-sellpagesPage .xui-charWrap:first-child {
	width: 100%;
}
.xui-wepage-sellpagesPage .xui-charWrap:last-child {
	width: 100%;
}
.xui-wepage-sellpagesPage .xui-charWrap:nth-child(even) {
	float: right;
}
.xui-wepage-sellpagesPage .xui-charWrap .xui-i-title{
	background-color: #639fdf;
	width: 100%;
	height: 50px;
	
}
.xui-wepage-sellpagesPage .xui-charWrap .xui-i-title{
	background-color: #edf3f8;
	width: 100%;
	height: 42px;
	line-height: 42px;
	vertical-align: middle;
	padding-left: 20px;
}
.xui-wepage-sellpagesPage .xui-charWrap .xui-i-title{
	background-color: #edf3f8;
	width: 100%;
	height: 42px;
	line-height: 42px;
	vertical-align: middle;
	padding-left: 20px;
	font-weight: bold;
	font-size: 14px;
	color: #666666;
}
.xui-wepage-sellpagesPage .xui-charWrap .xui-i-block {
	height: 20px;
	width: 5px;
	background-color: #20a3ff;
	float: left;
	margin-top: 11px;
}
.xui-wepage-sellpagesPage  .xui-gradeTab th{
	color: #777777;
	font-size: 12px;
	font-weight: bold;
}
.xui-wepage-sellpagesPage  .xui-gradeTab {
	/*min-height: 394px;*/
}
.xui-wepage-sellpagesPage .xui-filter{
	height: 66px;
	width: 100%;
	background-color: #eaeef6;
}

.xui-wepage-sellpagesPage .xui-i-shortcut {
    display: inline-block;
}

.xui-wepage-sellpagesPage .xui-i-shortcutLink {
    display: block;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    padding: 0px 10px;
}

.xui-wepage-sellpagesPage .xui-i-activeLink {
    background-color: #FFF;
    border: solid 1px #1D84C7;
}

.xui-wepage-sellpagesPage .xb-rightPanel {
	background-color: #fff;
	margin-bottom: 15px;
}
.xui-wepage-sellpagesPage .xui-summary {
	height: 206px;
	width: 100%;
	margin-top: 15px;
}
.xui-wepage-sellpagesPage .xui-summary  {
	border:1px solid #f2f2f2;
	font-weight: bold;
	background-color: #f8fbff
}
.xui-wepage-sellpagesPage .xui-summary .xui-i-left {
	background-color: #639fdf;
	height:100px;
	width: 100px;
}
.xui-wepage-sellpagesPage .xui-summary tr td:last-child .xui-i-wrap {
	border-right:none;

}
.xui-wepage-sellpagesPage .xui-summary .xui-i-wrap {
	height: 70%;
	width: 100%;
	text-align: center;
	border-right: 1px dashed #e5e5e5;
	color:#000;
	font-size: 18px;
	line-height: 30px;
}
.xui-wepage-sellpagesPage .xui-summary tr:first-child {
	border-bottom:1px solid #f2f2f2;
}
.xui-wepage-sellpagesPage .xui-summary tr:last-child {
	border-top:1px solid #f2f2f2;
}
.xui-wepage-sellpagesPage .xui-summary .xui-i-wrap .xui-i-money {
	color: #e55050;
	cursor: auto;
}
.xui-wepage-sellpagesPage .xui-summary .xui-i-wrap .xui-i-name {
	color: #666666;
	margin-right: 10px;
	cursor: auto;
	margin-left: 10px;
}
.xui-wepage-sellpagesPage .xui-summary .xui-i-left .xui-i-title {
	color: #fff;
	width: 40px;
	margin: auto;
	font-size: 16px;
}
.xui-wepage-sellpagesPage .xui-summary .xui-i-wrap .xui-i-img {
	background-image: url(/static_v2/img/editor/help.png);
	width:18px;
	height: 18px;
}
.xui-wepage-sellpagesPage .xb-theadBg thead {
	background: #f0f4f8!important;
}
.xui-wepage-sellpagesPage .xui-tbodyBg{
	background-color:expression(this.rowIndex%2==0?"#FFFFFF":"#fcfcfc");
}

.xui-wepage-sellpagesPage .xui-productEchart{
	width: 60%;
	float: left;
	margin:0 2% 0 0;
}

.xui-wepage-sellpagesPage .xui-i-alert {
	width:145px; color:#666666; font-size:12px;
}
/*经营概况*/
.xui-wepage-analysisPage .xui-i-alert {
	width:145px; color:#666666; font-size:12px;
}

.xui-wepage-analysisPage .xui-filter{
	height: 66px;
	width: 100%;
	background-color: #eaeef6;
}

.xui-wepage-analysisPage .xui-i-shortcut {
    display: inline-block;
}
.xui-sideBar-management_summary {
	background-position: 50px -426px;
}
.xui-wepage-analysisPage .xui-i-tr {
	border:1px solid #d7e0e7;
	height: 100px;
}


.xui-wepage-analysisPage .xui-i-shortcutLink {
    display: block;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    padding: 0px 10px;
}
.xui-wepage-analysisPage .xui-charWrap {
	margin-top: 15px;
}

.xui-wepage-analysisPage .xui-i-activeLink {
    background-color: #FFF;
    border: solid 1px #1D84C7;
}

.xui-wepage-analysisPage .xb-rightPanel {
	background-color: #fff;
	margin-bottom: 15px;
}
.xui-wepage-analysisPage .xui-summary {
	width: 100%;
	margin-top: 15px;
}
.xui-wepage-analysisPage .xui-summary  {
	border:1px solid #f2f2f2;
	font-weight: bold;
}
.xui-wepage-analysisPage .xui-summary .xui-i-left {
	background-color: #eaeef6;
	height:100px;
	width: 100px;
}
.xui-wepage-analysisPage .xui-i-hide {
	visibility: hidden;
}
.xui-wepage-analysisPage .xui-summary tr td:last-child .xui-i-wrap {
	border-right:none;

}

.xui-wepage-analysisPage .xui-summary tr:last-child {
	border-top:1px solid #f2f2f2;
}
.xui-wepage-analysisPage .xui-summary  {
	border:1px solid #d7e0e7;
}
.xui-wepage-analysisPage .xui-summary  td{
	
	background-color: #f8fbff;
}
.xui-wepage-analysisPage .xui-summary .xui-i-wrap .xui-i-money {
	color: #e55050;
	cursor: auto;
	font-size: 18px;
	margin-left: -12px;
}
.xui-wepage-analysisPage .xui-summary .xui-i-differ {
	background-color: #eaeef6;
	width: 266px;
}

.xui-wepage-analysisPage .xui-bv-period-selected:hover{
    color: #333 !important;
}
.xui-wepage-analysisPage .f18{font-size:18px; font-family:微软雅黑; cursor: inherit;}
.xui-wepage-analysisPage .f24{font-size:24px;}
.xui-wepage-analysisPage .xui-summary .xui-i-wrap {
	height: 70%;
	text-align: center;
	border-right: 1px dashed #e5e5e5;
	color:#000;
	font-size: 12px;
	font-weight: bold;
	padding-top: 8px;
	line-height: 25px;
} 
.xui-wepage-analysisPage .xui--wrapFirst-money {
	text-align:center;
	margin-top: -22px;
	width: 100px;
}
.xui-wepage-analysisPage .xui-summary .xui-i-wrapFirst {
	height: 70%;
	width: 176px;
	text-align: center;
	border-right: 1px dashed #ccced1;
	color:#000;
	font-size: 12px;
	font-weight: bold;
	padding-top: 10px;
	position: relative;
	top:10px;
	line-height: 25px;
	color: #e60b11;
	cursor: default;
} 
.xui-wepage-analysisPage .xui-summary .xui-i-left .xui-i-title {
	width: 100px;
	margin: auto;
	font-size: 16px;
	color: #e55050;
	font-weight: bold;
	background: #eaeef6;
	text-align: center;
	padding-left: 0px;
	padding-top: 5px;
}
.xui-wepage-analysisPage .xui-summary .xui-i-wrap .xui-i-name {
	color: #666666;
	margin-right: 10px;
	cursor: auto;
}

.xui-wepage-analysisPage .xui-summary .xui-i-wrap .xui-i-value {
	color: #e55050;
	margin-right: 10px;
	cursor: auto;
}

.xui-wepage-analysisPage .xui-summary .xui-i-value {
	cursor: default;
}

.xui-wepage-analysisPage .xui-summary .xui-i-wrap .xui-i-img {
	background-image: url(/static_v2/img/editor/help.png);
	width:18px;
	height: 18px;
}

.xui-wepage-analysisPage .xui-filterPanel{
	padding: 17px!important;
}
.xui-wepage-analysisPage .xui-filterPanel .xui-col{
	float: none!important;
}
.xui-wepage-sellpagesPage .xui-filter {
	padding-top: 22px;
}
.xui-wepage-sellpagesPage .xui-filter .xui-col:last-child {
	margin-top: -5px;
}
.xui-wepage-sellpagesPage .xui-gradeTab th{
	background-color: #f5faff;
	border-color:#f2f2f2;
}
.xui-wepage-sellpagesPage .xui-gradeTab td{
	border-color:#f2f2f2;
}
.xui-wepage-sellpagesPage .xui-summary .xui-i-hide {
	visibility: hidden;
}
.xui-wepage-sellpagesPage .xui-gradeTab tr:nth-child(odd){
	background-color: #fcfcfc;
}
.xui-wepage-sellpagesPage .xui-gradeTab {
	border:1px solid #f2f2f2;
}
.xui-wepage-sellpagesPage .xui-charWrap{
	min-height: 520px;
}
.xui-wepage-sellpagesPage .xui-gradeTab td:nth-child(odd){
	min-width: 50px;
}
.xui-wepage-sellpagesPage .xui-gradeTab td:nth-child(even){
	max-width: 220px;
}

/*复购分析页面*/
.xui-rePurchaseAnalyzePage .xui-setConsumption,.xui-rePurchaseAnalyzePage .xui-setCondition{
	font-weight: normal;
}
.xui-rePurchaseAnalyzePage  .xui-memberStateSelect{
	width: 101px;
	height: 24px;
	border:1px solid #C3DBF0;
}
.xui-rePurchaseAnalyzePage .xui-setConsumptionBtn,.xui-rePurchaseAnalyzePage .xui-setConditionBtn{
	color: #1261B7;
	cursor: pointer;
	z-index: 9999;
}
.xui-rePurchaseAnalyzePage .xui-consumptionBox,.xui-rePurchaseAnalyzePage .xui-conditionBox{
	background: #fff;
	border: 1px solid #DDDDDD;
	padding: 15px 10px 5px;
	font-size: 12px;
	color: #333;
	width: 334px;
	z-index: 1000;
    right: 12px;
    top: 30px;
    /*display: none;*/
}
.xui-rePurchaseAnalyzePage .xui-conditionBox{
	width: 222px;
}
.xui-rePurchaseAnalyzePage .xui-consumptionBox  input,.xui-rePurchaseAnalyzePage .xui-conditionBox input{
	height: 22px;
	line-height: 22px;
	width: 90px;
	border: 1px solid #E6E6E6;
}
.xui-rePurchaseAnalyzePage .xui-conditionBox input{
	width: 60px;
}
.xui-rePurchaseAnalyzePage .xui-consumptionBox .xui-confirm,.xui-rePurchaseAnalyzePage .xui-conditionBox .xui-confirm{
	min-width: 60px;
	height: 30px;
	background: #1F7BBD;
	line-height: 30px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}
/*.xui-rePurchaseAnalyzePage .errorHint{
	line-height: 0px;
}*/
.xui-rePurchaseAnalyzePage .xui-consumptionHelp{
	z-index: 9999;
}
.xui-rePurchaseAnalyzePage .xui-rangeBox{
	display: inline-block;
	width: 30px;
	height: 22px;
	border:1px solid #ccc;
	text-align: center;
	line-height: 22px;
}
.xui-rePurchaseAnalyzePage .xui-userAnalysisBox{
	/*text-align: center;*/
}
.xui-rePurchaseAnalyzePage .xui-userAnalysis{
	width: 150px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	background-color: #FFF3F3; /* Can be set to transparent */
    border: 4px #FFC7C7 solid;
	-webkit-border-radius: 100px;
	color: #FE3D3D;
	margin-top: 27px;
	margin-left: 158px;
	margin-bottom: 10px;
}
.xui-rePurchaseAnalyzePage .xui-noData{
	width: 224px;
	height: 81px;
	background: url(/static_v2/img/editor/noData.gif) no-repeat;
	margin-top: 197px;
	margin-left: 135px;
}
.xui-rePurchaseAnalyzePage .popover {
	max-width: 455px;
	font-size: 12px;
}