@charset "utf-8";
/*
* 会员分组页面
*/
.xui-memberQrcodePage .xui-rightPanelBg,.xui-memberTagPage .xui-rightPanelBg{
	min-height: 880px;
}
.xui-memberTagPage .xui-i-content,.xui-memberQrcodePage .xui-i-content{
	margin:0 10px;
}
.xui-memberTagPage .xui-btn-group .btn,.xui-memberQrcodePage .xui-btn-group .btn{
	margin-top:40px;
}
.xui-memberTagPage .table > thead > tr > th{
	padding:11px 8px;
}
.xui-memberTagPage .table > tbody > tr:last-child > td{
	padding:20px 8px;
}
.xui-memberTagPage .table > tbody > tr > td{
	padding:16px 8px;
	height: 60px;
}
.xui-memberTagPage .form-control{
	display: inline-block;
	width:100px;
}
.xui-memberTagPage .xb-stripedTable tbody > tr:nth-child(2n) {
    background: none repeat scroll 0 0 #f0f9fe;
}
/*
* 会员推广扫码页面
*/
.xui-memberQrcodePage .xui-i-content label{
	width: 125px;
	text-align: right;
	display: inline-block;
}
.xui-memberQrcodePage .xui-prize select{
	background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #bfd7eb;
    line-height: 24px;
    padding: 0 5px;
    width: 120px;
}
/*
*会员等级页面
*/
.xui-members-page .xui-content{
	margin-left: 0px !important;
	background-color:#EAEEF5;
	height: 960px;
}

.xui-members-page .table th{
	height: 39px;
	background-color: #C7D1E5;
}
.xui-members-page .table{

	width: 95%;
	margin: auto;
	margin-top: 20px;
}
.xui-members-page .table tbody tr{
    height:100px;
}
.xui-members-page .table tbody tr:last-child{
    height:60px;
}
.xui-members-page .table tr:nth-child(even) {background:#EFF5FF}
.xui-members-page .table tr:nth-child(odd) {background: #FFFFFF}

.xui-members-page .table .xui-input{
   width:90px;
}

.xui-members-page .table .td-first{
   width:14%;
}
.xui-members-page .table .td-second{
   width:38%;
}
.xui-members-page .table .td-third{
   width:38%;
}

.xui-members-page .table .td-fouth{
   width:10%;
}

.xui-members-page .table .xui-td-left{
  float: left;
  width:60%;
  padding-left: 30px;
  padding-top: 10px;
}
.xui-members-page .table .xui-td-right{
  float: right;
  width:40%;
  height: 100%;
}
.xui-members-page .table .xui-td-right p{
  color: red;
  line-height: 100px;
  width: 130px;

}

.xui-members-page .tags_tbody p{
	width: 170px;
	font-size: 12px;
	line-height: 25px;
	margin-bottom:5px;

}
.xui-members-page .table .xui-grade{
   width: 100px;
   margin: auto;
   text-align: center;
}

.xui-members-page .xui-p-title{
	margin-left: 20px;
	padding-top: 15px;

}
.xui-td-spanxui-p-title
{
	font-weight:bold;
	margin-left: 15px;
}
.xui-members-page .xui-td-span{
	line-height: 30px;
}
.xui-members-page .errorHint{

	width: 80px;
	margin-left: 95px;
	position: relative;
	top:-3px;
}

/*
*会员列表页面
*/
.xui-memberListPage .xui-fromShare,
.xui-memberListPage .xui-fromCode{
	border-width: 1px;
	border-style: solid;
	display: inline-block;
	width: 67px;
	padding: 2px 0;
}
.xui-memberListPage .xui-fromShare{
	border-color: #ED9611;
	color:#ED9611;
}
.xui-memberListPage .xui-fromCode{
	border-color: #22866E;
	color:#22866E;
}
.xui-memberListPage .xui-productList td{
	padding: 0px !important;
}
.xui-memberListPage  .xui-memberHeader{
	margin-bottom: 5px;
	position: relative;
}
.xui-memberListPage .xui-cancelCover{
	width:50%;
	background-color:rgba(0, 0, 0, 0.5);
	position:absolute;
	bottom:0;
	color:#fff;
	line-height:15px;
}
.xui-memberListPage .xui-productList td:nth-child(2){
 text-align: left;
  width: 50px;
}
.xui-memberListPage .xui-productList td:nth-child(3){

  width: 75px;
}
.xui-memberListPage .xui-productList td:nth-child(4){

  width: 120px;
}
.xui-memberListPage .xui-productList td:nth-child(5){
  width: 90px;
}
.xui-memberListPage .xui-productList td:nth-child(6){
  width: 100px;
}
.xui-memberListPage .xui-productList td:nth-child(7){
  width: 100px;
}
.xui-memberListPage .xui-productList td:nth-child(8){
  width: 150px;
}
.xui-memberListPage .xui-productList td:nth-child(9){
  width: 90px;
}
.xui-memberListPage .xui-productList td:nth-child(2)  a{
   color: #000;
}
.xui-memberListPage .xui-productList th:nth-child(2){
  text-align: left;
  width: 50px;
}
.xui-memberListPage .xb-rightPanel .panel-body{
	margin-bottom:0;
}
.xui-memberListPage .xui-col {
}
.xui-memberListPage .xui-filterPanel .xui-col .xui-i-item:last-child{
	margin-bottom: 12px !important;
	margin-right: 20px;
}
.xui-memberListPage .xui-w218,
.xui-memberListPage .xui-col .xui-i-item select{

}
.xui-memberListPage .xui-w100{
	width:66px!important;
}
.xui-memberListPage .xui-filterPanel .xui-col label{
	width: 104px !important;
}
.xui-memberListPage .xui-memberHeader a,
.xui-memberListPage .xui-memberHeader a > img{
	width:41px;
	height: 41px;
}
.xui-memberListPage .xb-pagination-component{
	position: absolute;
	bottom: 0;
	right: 0;
}
.xui-updateGradeOrTagBox .drop-box-content{
	padding:0!important;
}
.xui-updateGradeOrTagBox .btn-primary{
	background: #207cbe;
	color:#fff;
	margin-right: 15px;
}
.xui-updateGradeOrTagBox input[type="radio"],.xui-updateGradeOrTagBox input[type="checkbox"],{
	margin-top:2px;
}
.xui-memberListPage .xui-operation {
    height: 50px;
    line-height: 50px;
    padding-left: 15px;
}
/*.xui-memberListPage .xui-operation .checkbox{
	display: inline-block;
}*/
.xui-memberListPage .dropdown-menu{
	border:1px solid #c5c5c5;
	border-radius: 0px;
	min-width: 96px;
	top: 39px;
}
.xui-memberListPage .xui-operation .dropdown-submenu {
    position: relative;
    min-width: 105px;
}
.xui-memberListPage .xui-operation .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: 0px;
    border-radius: 0;

}
.xui-memberListPage .xui-operation .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.xui-memberListPage .xui-operation ul li:first-child{
	border:none;
}
.xui-memberListPage .dropdown-submenu {
	 padding: 0px;
}
.xui-memberListPage .dropdown-submenu a{
	 padding: 12px 10px !important;
	 border-radius: 5px;
}

.xui-memberListPage .xui-dropbox a{
	padding: 5px 10px !important;
	text-align: center;
	border-radius: 5px;
}
.xui-memberListPage .xui-dropbox {
	margin-left: 10px !important;
	border-top: none !important;
}
.xui-memberListPage .xui-dropbox .drop-box-arrow{
	background: url(/static_v2/img/editor/grayArrow.png) no-repeat;

}

.xui-memberListPage .dropdown-menu {
	border-radius: 5px;
}
.xui-memberListPage .xui-operation ul li{
	border-top:1px solid #c5c5c5;
}
.xui-memberListPage .xui-operation ul li a{
	padding: 6px 12px;
}
.xui-memberListPage .xui-operation .caret{
	margin-top: -2px;
    position: absolute;
    right: 8px;
    top: 50%;
}
.xui-memberListPage .xui-tipBox{
	display: inline-block;
	line-height: 30px;
	color:#333;
	cursor: pointer;
}
.xui-memberListPage .xui-tip{
	background: none repeat scroll 0 0 #b5b5b5;
    border-radius: 10px;
    color: #fff;
    display: inline-block;
    font-family: Verdana;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin-left: 2px;
    text-align: center;
    width: 16px;
}
/*
*会员详情页面
*/
 .xui-memberOrderPayDialog .modal-content {
	width: 550px;
}
.xui-memberOrderPayDialog .modal-body{
	padding:0px;
}
.xui-memberOrderPayDialog table{
	width: 500px;
	margin:auto;
}
.xui-memberOrderPayDialog tbody > tr:nth-child(odd){
	background: #fff;
}
.xui-memberOrderPayDialog tbody > tr:nth-child(even){
	background: #f0f9fe;
}
.xui-memberOrderPayDialog table thead th{
	background-color: #c8d2e5;
	height: 40px;
}
.xui-memberOrderPayDialog  .xui-memberClose{
	background-color:#207cbe !important;
	color: #fff !important;
}
.xui-memberOrderPayDialog table tbody td{
	height: 35px;
	text-align: center;
	width: 33.333333%;
}
.xui-page-memberDetail .xui-emptyBox {
	background-color:transparent;
	height: 110px;
	margin-top: 36px;
	padding-top: 5px;
}
.xui-emptyBox .xui-i-emptyHint span {
	margin-top: 10px;
}
.xui-page-memberDetail .xui-emptyBox .xui-i-emptyHint {

}
.xui-page-memberDetail .xui-member-info-panel{
	width: 996px;
	min-height: 200px;
	background-color: #EAEEF5;
	padding-bottom: 25px;
}
.xui-page-memberDetail .xui-btn-group .btn{
 margin-top: 0px;
 margin-bottom:0px;
}
.xui-page-memberDetail .xui-addresswaper{
	width: 50%;
}
.xui-page-memberDetail .xui-infowrap{
	width: 30%;
	float: left;
	padding-top: 20px;
}
.xui-page-memberDetail .xui-infowrap{
	width: 30%;
	float: left;
	padding-top: 20px;
}
.xui-page-memberDetail .xui-infowrap:last-child{
}
.xui-page-memberDetail .xui-clear{
	clear: both;
}
.xui-page-memberDetail .xui-infowrap:first-child{
	width: 17%;
}

.xui-page-memberDetail .xui-infowrap-last{
	width: 15%;
}
.xui-page-memberDetail .xui-infowrap-last .xui-name{
	width: 180px;
}
.xui-page-memberDetail .xui-name{
	width: 100px;
	height: 30px;
	float: left;
	line-height: 30px;
	text-align: right;
	font-weight: bold;
	clear: both;
	margin-bottom: 0px;
}
.xui-page-memberDetail .xui-notify{
	position: relative;
	top:6px;
}
.xui-page-memberDetail .xui-group {
	padding-top: 6px;
}
.xui-page-memberDetail .xui-infowrap a{
  position: relative;
  left:187px;
  top:-15px;
  font-weight: bold;
}
.xui-page-memberDetail .xui-unknow{
    position: relative;
    left:-30px;
    background-color: #ccc;
    border-radius: 9px;
    height: 18px;
    width: 18px;
    border:none;
    line-height: 20px;
    color: #ffffff;
    font-weight: bold;
    margin-top: 3px;

}
.xui-page-memberDetail .xui-membername{
	width: 105px;
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
}

.xui-page-memberDetail .errorHint{
	clear: both;
	margin-bottom: -12px;
}
.xui-page-memberDetail .xui-value{
	width: 190px;
	min-height: 30px;
	float: right;
	line-height:30px;
		margin-bottom: 0px;
}
.xui-page-memberDetail .xui-value input[type="radio"]{
	position: relative;
	top:2px;
}
.xui-page-memberDetail .xui-fieldwrap
{
	width: 100%;
    min-height:30px;

}


.xui-page-memberDetail .xui-img-wrap
{
	margin-top: 38px;
	margin-left:30px;
	width: 132px;
	height: 46px;

}

.xui-page-memberDetail .xui-img
{
	width: 41px !important;
	height: 41px !important;
	margin-left: 32px;
}

.xui-page-memberDetail .xui-content-top{
	width: 100%;
	height: 30px;
	line-height:30px;
	background-color:#BDDFFF;
	font-weight: bold;
	padding-left:30px;
}
.xui-page-memberDetail .xui-content{
	margin-left: 0px !important;
	background-color:#EAEEF5;
	
}
.xui-page-memberDetail .xui-content-address{
	min-height: 108px;
}
.xui-page-memberDetail .xui-innerwrap-left
{
  width: 305px;
  min-height: 200px;
  float: left;
  padding-top: 30px;
  line-height: 20px;
  margin-left: 40px;
}

.xui-page-memberDetail .xui-innerwrap-right
{
  width: 500px;
 height: 140px;
 float: right;
  padding-top: 30px;
  padding-left: 40px;


}
.xui-page-memberDetail .xui-innerwrap-left .xui-left
{
  width: 120px;
  height: 40px;
 border:1px solid #ccc;
  float: left;
  text-align: right;

}
.xui-page-memberDetail .xui-innerwrap-left .xui-right
{
  width: 240px;
  height: 40px;
  float: right;

}
.xui-page-memberDetail .xui-addresswaper
 {
	padding-left: 100px;
	padding-top: 15px;
	line-height: 25px;
}
.xui-page-memberDetail .xui-address-left
{
	width: 60px;
	float: left;
	text-align: right;
	clear: both;
}

.xui-page-memberDetail .xui-address-right
{
	width: 260px;

	float: left;
}
.xui-page-memberDetail .xui-span-address{
	margin-left: 15px;
}
.xui-page-memberDetail .xui-textarea-mark
{
	width: 332px;
	height: 121px;
	background-color: #f2f2f2;
	border: 1px solid #aecfea;
}

.xui-page-memberDetail .xui-btn-save
{
   margin-top: 119px;
   background-color: #1D9119;
   margin-bottom: 28px;
   border:none;
   font-weight: bold;
}
.xui-page-memberDetail  .xui-p-infowrap{
	width: 300px;
	height: 110px;
	margin-left: 50px;
	padding-top: 20px;

}
.xui-page-memberDetail  .xui-p-infowrap-num{
	width:300px;
	height:82px;
	margin-left: 50px;
	padding-top: 20px;

}


.xui-page-memberDetail  .xui-p-infowrap-left{
  width: 105px;
  text-align: right;
}

.xui-page-memberDetail  .xui-p-infowrap-right{
	 width:190px;
}
.xui-page-memberDetail  .xui-color-red{
	color:red;
	font-weight: bold;
	margin-right: 10px;
}
 .xui-memberOrderPayDialog  .logtable th,.xui-memberOrderPayDialog  .logtable td{
    width:33.3333%;
}
.xui-page-memberDetail  .xui-color-blue{
	color:#1183CA;
	font-weight: bold;
	margin-right: 10px;
}
.xui-page-memberDetail .xui-tab-memberifo{
	width: 95%;
	margin:auto;
	border-top:3px solid #0377E1;
	margin-top: 5px;
}
.xui-page-memberDetail .xui-tab-memberifo td,.xui-page-memberDetail .xui-tab-memberifo th{
	width: 25% !important;
}
.xui-page-memberDetail .xui-tab-memberifo thead{
	height: 32px;
	width: 100%;
	background-color: #D1E1FF;
}
.xui-page-memberDetail .xui-tab-memberifo td{
	height: 40px;
	text-align: center;
	border-bottom: 1px solid #D7E4FD;
	width: 25%;
}
.xui-page-memberDetail .form-control{
	width: 130px;
}

.xui-chooseCouponCount {
    line-height: 20px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    vertical-align: center;
}
.xui-memberPageSelectCouponDialog	.modal-dialog .modal-header{
	margin-bottom: 0px;

}
.xui-memberPageSelectCouponDialog .modal-dialog .modal-body {
	padding: 0px 20px;
	width: 720px;
}
.xui-memberPageSelectCouponDialog .table>tbody>tr>td {
	padding: 0px;
	height: 52px;
    padding-top: 8px;
}
.xui-memberPageSelectCouponDialog .xui-hint{
	width:auto;
	height: 36px;
	line-height: 100%;
	background:#fffadf;
	color:#333333;
	border-radius:5px;
	border:1px solid #ffd4a2;
	padding-top: 8px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	top:-54px;
	left:425px;
	}
.xui-memberPageSelectCouponDialog .xui-btn {
	background-color:#f0f0f0;
	height: 28px;
	width: 28px;
	padding: 5px;
}
.xui-memberPageSelectCouponDialog .xui-btngroup {
	border:1px solid #d6d6d6;
	padding-top: 5px;
	padding-bottom: 5px;
}
.xui-memberPageSelectCouponDialog .xui-down {
	border-right:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	padding: 5px 10px;

}
.xui-memberPageSelectCouponDialog .xui-counterText {
	padding: 0px 5px;
}

.xui-memberPageSelectCouponDialog .xui-up {
	border-left:1px solid #d6d6d6;
	border-bottom:1px solid #d6d6d6;
	padding: 5px 8px;

}

.xui-memberPageSelectCouponDialog .btn-primary.checked{
    background: #CBCBCB;
    border:1px solid #CBCBCB;
    color: #999999;
}

.xui-memberPageSelectCouponDialog .errorHint {
    margin-top:3px;
}

}
.xui-firendlistdialog .xui-blue{
	color: #1262b7;
}
.xui-firendlistdialog .xui-black{
	color: #333333;
}
.xui-firendlistdialog .table>tbody>tr>td, .xui-firendlistdialog .table>tbody>tr>th{
	padding:5px
}
.xui-firendlistdialog .table>tbody>tr>td:first-child, .xui-firendlistdialog .table>tbody>tr>th:first-child{
	padding-left:20px
}
