@charset "utf-8";
/*=============模板消息==========*/

.xui-weixin-template_messagesPage .xui-tableHead{
    background: #eaeef6;
}

.xui-weixin-template_messagesPage .xui-background{
    background: #eaeef6;
}

.xui-weixin-template_messagesPage .xui-btn-cancel{
    background: white;
}

.xui-weixin-template_messagesPage label{
    font-weight:normal;
}
.xui-weixin-template_messagesPage .control-label{
    width:120px;
    padding-top:0px;
}
.xui-weixin-template_messagesPage .xui-contentItem{
    line-height:25px;
}
.xui-weixin-template_messagesPage .modal-backdrop{
        display:none;
    }
.xui-weixin-template_messagesPage .btn-danger{
     border-top-width: 0px!important;
    border-bottom-width: 0px!important;
}
.xui-weixin-template_messagesPage .xui-templateIntroduction{
    position: absolute;
    left: 180px;
    top: 25px;
    width: 425px;
    height: 215px;
    background: #fff;
    border: 1px solid #ccc;
}
.xui-weixin-template_messagesPage .xui-templateIntroduction p{
    width: 385px;
    margin:0 auto;
    line-height: 18px;
}
.xui-weixin-template_messagesPage .xui-templateIntroduction ul{
    display: block;
    width: 385px;
    margin:0 auto;
}
.xui-weixin-template_messagesPage .xui-templateIntroduction ul li{
    color: #666;
}
