{% extends "content_base_v2.html" %}

{% load workbench_filter %}

{% block content-panel %}
<div id="workbench" class="xui-wepage-workbenchPage clearfix pr">
  <div class="relative">
    <ul class="breadcrumb">
      <li>您当前所在位置</li>
      <li><a href="/termite2/pages/">店铺装修</a></li>
      <li><a href="/termite2/pages/">微页面</a></li>
      <li class="active">编辑微页面</li>
    </ul>
  </div>

  <div style="background-color: #EAEEF7;" class="clearfix">
    <div id="leftPanel" class="fl xui-workbench-leftPanel xui-hide">
    </div>
    
    <div id="phonePanel" class="xui-workbench-phonePanel xui-section fl">
      <div id="phone" class="xui-phone ">
          <div id="phoneSkin" class="xui-i-skin">
            <div class="xui-i-title">
              <span class="xa-title">微页面标题</span>
            </div>
            <iframe name="phoneFrame" id="phoneIFrame" src="{{request|get_design_page:project}}" height="100%" border="none"></iframe>
          <div id="phoneSkinCover" class="hide xui-i-skinCover"></div>
        </div>
      </div>
    </div>
    <div id="rightPanel" class="fl xui-workbench-rightPanel xui-hide mb30">
    </div>
  </div>
</div>
{% endblock %}

{% block global_elements %}
<div class="xui-bottomActionBar">
  <button class="xa-save btn btn-primary">保存</button>
  <button class="xa-preview btn btn-default ml20">预览</button>
  {% if user|is_system_manager %}
  <!--
  <button class="xa-makeCover btn btn-default ml20">生成封面</button>
  -->
  <button class="xa-export btn btn-default ml20">导出</button>
  <button class="xa-import btn btn-default ml20">导入</button>
  {% endif %}
</div>
{% endblock %}

{% block base_js %}
  {% include 'wepage_components.html' %}
  <!-- start of ueditor -->
  <script type="text/javascript">
   window.UEDITOR_HOME_URL = '/static/ueditor-1.2.6.1/'
  </script>  
  <script type="text/javascript" src="/static/ueditor-1.2.6.1/ueditor.config.js"></script>
  <script type="text/javascript" src="/static/ueditor-1.2.6.1/ueditor.all.js"></script>
  <!-- end of ueditor -->

  <script type="text/javascript">
    W.uid = {{ user.id }};
    W.projectId = {{ project.id }};
    W.host = "{{request.META.HTTP_HOST}}";
    W.editModel = true;
    //W.workspaceId = {{ project.workspace_id}};
    //W.datasourceProjectId = {{ project.datasource_project_id }};
    W.API_VERSION = 1;
    W.pagesJSON = '';//'{{ pages_json|safe }}';
    //W.data.htmlEditor = null;
    W.projectType = "{{ project.type }}";
    var isNewProject = {% if is_new_project %}true{% else %}false{% endif %};
    W.isSystemManager = {% if user|is_system_manager %}true{% else %}false{% endif %};
    W.isUseWepage = {% if user.get_profile.is_use_wepage %}true{% else %}false{% endif %};
    var bottomDistance = 110;

    var loadPages = function(pageManagerView) {
      W.getApi().call({
        app: 'termite2',
        api: 'pages_json',
        args: {
          project_id: W.projectId
        },
        showLoading: false,
        success: function(data) {
          W.pagesJSON = data;
          var pages = $.parseJSON(data);
          var firstPage = null;
          for (var i = 0; i < pages.length; ++i) {
            //xlog("pages[i]:");xlog(pages[i]);
            var page = W.component.Component.parseJSON(pages[i]);
            pageManagerView.addPage(page.getModel().get('title'), page, {silent: true});
            if (!firstPage) {
                firstPage = page;
            }
          }
          if (firstPage) {
            pageManagerView.activePage(page, {triggerSelectPageComponentEvent:isNewProject});
          }
        },
        error: function(resp) {
          alert('Failed to load pages in JSON. Please check it.');
        }
      });
    }

    $(document).ready(function() {
      var windowHeight = $(window).height();
      var height = windowHeight - 350;

       $('#leftPanel').css('min-height' ,height+ 'px');
      $('#workbench').css('min-height' ,height+ 'px');
      /*
      $('#phonePanel').height(height + 'px');
      $('#phoneSkin').height(height - bottomDistance + 'px');
      */
      
      $(window).bind('beforeunload', function() {
        if (isDirtyWorkbenchIndicatorVisible) {
          return '您对页面的编辑还没保存，请先保存页面'
        } else {
        }
      })

      var pageManagerView = new W.workbench.PageManagerView({
        el: '#leftPanel',
        isSystemManager: W.isSystemManager
      });
      pageManagerView.render();

      var phoneView = new W.workbench.PhoneView({
        el: '#phonePanel'
      });
      phoneView.render();

      var propertyViewLeft = phoneView.getRightBorderOffset() - $('#workbench').offset().left;
      var propertyView = new W.workbench.PropertyView({
        el: '#rightPanel',
        left: propertyViewLeft,
        onlyShowUserProperty: true//!W.isSystemManager
      });
      propertyView.render();

      var synchronizer = new W.workbench.PageSynchronizer();
      synchronizer.run();
      W.Synchronizer = synchronizer;

      loadPages(pageManagerView);

      $('.xa-save').click(function() {
        event.stopPropagation();
        event.preventDefault();
        // 保存model
        W.Synchronizer.manualSync(function() {
          W.resource.termite2.Project.id(W.projectId).post({
            data: {
              field: 'is_enable'
            },
            success: function(data) {
              W.getLoadingView().show();
              W.showHint('success', '保存页面成功');
              _.delay(function() {
                  window.location.href = '/termite2/pages/';
              }, 1000);
            },
            error: function(resp) {
              alert('保存页面失败!');
            }
          })
        });
      });

      // $('.xa-makeCover').click(function() {
      //   pageManagerView.makeCover();
      // });
      $('.xa-export').click(function() {
        pageManagerView.exportPage();
      });
      $('.xa-import').click(function() {
        pageManagerView.importPage();
      });

      $('[data-toggle="tooltip"]').tooltip();

      W.isReady = true;

      W.Broadcaster.on('designpage:reach_scroll_boundary', function(direction) {
        var $window = $(window);
        var scrollTop = $window.scrollTop();
        if (direction === 'down') {
          var newScrollTop = scrollTop + 20;
        } else {
          var newScrollTop = scrollTop - 20;
        }
        $window.scrollTop(newScrollTop);
      });

      /*
      W.Broadcaster.on('workbench:refresh_design_page', function() {
        xlog('[workbench]: trigger mobilepage:before_reload');
        W.Broadcaster.trigger('mobilepage:before_reload');
        xlog('[workbench]: refreh mobile page');

        delete parent.W.mobile.DesignPageView;
        document.getElementById('phoneIFrame').contentWindow.location.reload();
      });

      $('#previewMobilePageBtn').click(function(event) {
        if (W.projectType === 'jqm' || W.projectType === 'weapp') {
          var url = '/webapp/preview/?project_id='+W.projectId;
          window.open(url, '_blank', 'top=50, left=300, width=430, height=600,location=no,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=yes');
        } else if (W.projectType === 'viper') {
          var url = '/termite/workbench/'+W.projectType+'/preview/?project_id='+W.projectId;
          window.open(url, '_blank', 'top=50, left=100, width=1100, height=600,location=no,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=yes');
        } else {
          alert('不识别的类型：' + W.projectType);
        }
        event.stopPropagation();
        event.preventDefault();
      });

      $('#viewProductionBtn').click(function(event) {
        var url = '/workbench/'+W.projectType+'/view_production/?project_id='+W.projectId;
        window.open(url, '_blank', 'top=50, left=300, width=430, height=600,location=no,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=yes');
        event.stopPropagation();
        event.preventDefault();
      });

      $('#screenshotBtn').click(function(event) {
        event.stopPropagation();
        event.preventDefault();
        W.data.pageManager.onClickMakeTemplate();
      });

      $('#refreshMobilePageBtn').click(function(event) {
        W.Broadcaster.trigger('designpage:refresh');
      });


      //管理dirty workbench indicator
      var $dirtyWorkbenchIndicator = $('#saveMobilePageBtn');
      //var $dirtyWorkbenchIndicatorText = $('#dirtyWorkbenchIndicator_text');
      var isDirtyWorkbenchIndicatorVisible = false;
      function showDirtyWorkbenchIndicator() {
        if (!isDirtyWorkbenchIndicatorVisible) {
          isDirtyWorkbenchIndicatorVisible = true;
          $dirtyWorkbenchIndicator.show();
        }
      }
      W.Broadcaster.on('component:change_property', showDirtyWorkbenchIndicator);
      W.Broadcaster.on('component:create', showDirtyWorkbenchIndicator);
      W.Broadcaster.on('mobilepage:delete-widget', showDirtyWorkbenchIndicator);
      W.Broadcaster.on('page_synchronizer:synchronizing', function() {
        $dirtyWorkbenchIndicator.text('保存中...');
        $dirtyWorkbenchIndicator.attr('disabled', 'disabled');
      });
      W.Broadcaster.on('page_synchronizer:success', function() {
        if (isDirtyWorkbenchIndicatorVisible) {
          isDirtyWorkbenchIndicatorVisible = false;
          $dirtyWorkbenchIndicator.hide();
        }
        $dirtyWorkbenchIndicator.text('保存');
        $dirtyWorkbenchIndicator.removeAttr('disabled');
      });
      $dirtyWorkbenchIndicator.click(function(event) {
        W.Synchronizer.manualSync(function() {
          W.getSuccessHintView().show('保存页面成功');
        });
      });

      W.isReady = true;
      */

      $('[data-toggle="tooltip"]').tooltip();

      var open = function(verb, url, data, target) {
        var form = document.createElement("form");
        form.action = url;
        form.method = verb;
        form.target = target || "_self";
        if (data) {
          for (var key in data) {
            var input = document.createElement("textarea");
            input.name = key;
            input.value = typeof data[key] === "object" ? JSON.stringify(data[key]) : data[key];
            form.appendChild(input);
          }
        }
        
        form.style.display = 'none';
        document.body.appendChild(form);
        form.submit();
      };

      $('.xa-preview').click(function(event){
        var page = pageManagerView.getCurrentActivePage();

        // 验证
        if (!W.isSystemManager) {
            if(!page.validate()) {
                return;
            }
        }

        // 预览
        var pageJson = JSON.stringify(page.toJSON());
        W.resource.termite2.TermitePreview.put({
          data: {
            project_id: W.projectId,
            page_json: pageJson
          },
          success: function(data) {
            window.open("/termite2/termite_preview/?view_editing_data=true&id="+W.projectId);
          },
          error: function(resp) {

          }
        });
      });

      $(document).click(function() {
        // 点击空白处，触发事件
        W.Broadcaster.trigger('designpage:cancel_delete');
      });
    });
  </script>
{% block js %}{% endblock %}
{% endblock %}
