{% load workbench_filter %}


{% ifequal component.type 'appkit.shvotedescription' %}
<div  
    class="wui-shvoteDescription"
    data-component-cid="{{component.cid}}"
>
    <div>
        <img src="{{ component.model.material_image }}">
    </div>
    <div class="wa-shvote-desc wui-i-details">
        <h1 class="wui-i-title xa-title">{{component.model.title}}</h1>
        <p class="wui-i-time">
            活动时间：{{component.model.start_time|space_split_0}}-{{component.model.end_time|space_split_0}}
        </p>
        <div class="wui-i-rule">
            {{component.model.rule}}
        </div>
        <div class="wui-i-description">
            {{component.model.description|safe}}
        </div>
        <div>
            <button class="wa-imark">我要报名</button>
            <button class="wa-getback">返回投票</button>
        </div>
    </div>

</div>
{% endifequal %}
