{% load workbench_filter %}

{% ifequal component.type 'viper.custom_textinput' %}
<!-- =====> viper:textinput component -->
{% if in_design_mode %}
<div 
    {% ifequal component.selectable "yes" %}data-ui-behavior="xub-selectable"{% endifequal %} 
    data-ui-sortable="true" 
    data-cid="{{component.cid}}"
    class="p5"
>
{% endif %}
    {% with component|get_component_name as name %}
    <div class="control-group">
        <label class="control-label" for="{{name}}">{{component.model.label}}：</label>
        <div class="controls xa-errorHintContainer">
            {{component.model.text|format_input_from_text:component|safe}}
            <div class="errorHint">{% if in_design_mode %}name="{{name}}"{% endif %}</div>
        </div>
    </div>
    {% endwith %}
{% if in_design_mode %}
</div>
{% endif %}
<!-- <===== viper:textinput component -->
{% endifequal %}