@charset "utf-8";
/*common for clear jqury mobile css*/
/* 投票 */
/*body,html,.ui-page{
	color:#333;
}*/
body,.xui-activity-page.ui-page{
	background: url(/markettools_static/activity/img/bg.jpg) no-repeat center center;
	-webkit-background-size: cover!important;
	background-size: cover!important;
	color:#333;
}
.xui-memberComplain-page.ui-page{
	background: #f0f0f0;
}
.xui-form-controls label.xui-form-cell{
	text-align: right;
	padding:0 5px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.xui-checkbox .ui-select a{
	box-shadow: none;
}
.xui-checkbox .ui-select a .ui-btn-inner{
	overflow: hidden;
}
.ui-br{
	border-style: none;
}
.ui-field-contain, fieldset.ui-field-contain{
	padding:0.6em 0;
}
.xui-form-cell .ui-shadow{
	box-shadow: none;
}
.vote_apply{
	width: 100%;
}
.vote_apply h3{
	font-weight: normal;
	margin-top: 6px;
}
.vote_apply hr{
	color: #f4f3f3;
}
.vote_apply .xui-detail-content,
.vote_apply .xui-product-detail-content p{
	letter-spacing: 1px;
}

.vote_apply .tx_alert_info{
	display:inline-block;
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 12px;
	font-family: "黑体";
	color: #b3b3b3;
}

.vote_apply .xui-form-box .ui-submit{
	background: none;
	/*color: transparent;*/
	color: #e64145;
}

.vote_apply div.ui-input-text,
.vote_apply .xui-form-box div.ui-select .ui-btn{;
    min-height:22px;
}
.ui-form-btn-lay 
.vote_apply .ui-input-text input{
    border:none !important;
}

.rice-vote-list{
	background-color: #e9ebe9;
	margin: 0 auto;
}
/*person list*/
.ui-search-box-div,
.ui-list-person{
	margin: 0 3%;
}
.ui-list-person ul{
	overflow:auto;
	margin:0 auto;
	max-width:480px;
}
.ui-list-person li{
	float:left;
	display:inline;
	margin: 0 1.1% 10px;
	width: 31%;
}

.ui-list-person li:nth-child(3n+1){
	clear:left;
}

.rice-vote-list .list-vote-item{
	max-width: 186px;
	background-color: #ffffff;
	border: 1px solid #e1e1e1;
}

.rice-vote-list .list-vote-item .ui-vote-item{
	display: inline-block;
	width: 84%;
	margin: 7% 8%;
}
.rice-vote-list .list-vote-item .ui-vote-item span{
	display: block;
	word-break:break-all;
	white-space: normal;
}

.rice-vote-list .list-vote-item .ui-vote-item .ui-name{
	color: #333333;
	font-size: 15px;
	margin-top: 5px;
}

.rice-vote-list .list-vote-item .ui-vote-item .ui-poll{
	color: #656565;
	font-size: 13px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.rice-vote-list .list-vote-item .ui-vote-item .item-img{
	width: 100%;
	height: 84%;
	text-align: center;
}

.rice-vote-list .xui-form-box .ui-btn{
	border: 1px solid #e64145;
	color: #e64145;
	width: 98%;
	padding: 0.18em 0;
}

.rice-vote-list .xui-form-box .not-action-button .ui-btn{
	border: 1px solid #dadada;
	color: #dadada;
	width: 98%;
	padding: 0.18em 0;
}


.ui-search-box{
	margin: 0 auto;
	max-width: 480px;
	overflow: auto;
	padding: 5px;
}

div.ui-input-text {
	background: none;
	border: 0;
	border-bottom: 1px solid #C2C2C2;
	border-radius: 0;
	box-shadow: none;
	margin-right: 50px;
}

.ui-input-text.ui-focus {
	background: none;
	border: 0;
	border-bottom: 1px solid #C2C2C2;
	box-shadow: none;
}

input.tx_search{
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	box-shadow: none;
	font-size: 15px;
	padding-left: 0;
	width: 100%;
}

.rice-vote-list .xui-form-box .ui-search-box .ui-btn {
	border: 1px solid #E64145;
	color: #E64145;
	padding: 0.18em 0;
	width: 30px;
}

.tx_btnMore {
	display: block;
	padding: 0.7em 0;
	text-align: center;
	text-decoration: none;
	color: #666;
	border-top: 1px solid #ECE8DE;
	background: #F8F5EE;
	margin: 0 -30px;
}
.vote-poll-div input{
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
	border: 0 none;
	cursor: pointer;
	font-size: 1px;
	height: 100%;
	left: 0;
	opacity: 0.1;
	position: absolute;
	text-indent: -9999px;
	top: 0;
	width: 100%;
}

.error-alert h3{
	text-align: center;
	margin-bottom: 20px;
}

/***/
.tx_data{
	display: inline-block;
	text-align: left;
	width: 100%;
}
.xui-form-box .xui-form-controls{
	color:#fff;
}
.xui-formTitle{
	border-bottom:1px dashed #dbdbdb;
	/*-webkit-border-style:dashed;*/
}
.tx-title-box{
	color: #2B2D2F;
	font-size: 18px;
}
.member-box{

}
.member-box .red{
	color: #e64145;
}
.member-box img{
	width: 25px;
    height:25px;
	vertical-align:middle;
	border-radius: 8px;
}

.activity-box{
	color:#fff;
	background: transparent;
}
.ui-form-btn-lay .ui-btn{
	border-radius:6px;
	background: #ae0001;
    color:#fff;
    padding:7px 0;
    width: 45%;
    margin:0 auto;
}
.activity-submit-success{
    text-align:center;
    color:#777;
}
.activity-submit-success .xui-tag{
	right:5px;
	display: block;
	background:url(/markettools_static/activity/img/signbg.png) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-border-radius:4px;
	top:5%;
	width: 80px;
	height: 38px;
}
.activity-submit-success .xui-tag-unSign,.activity-submit-success .xui-tag-Sign{
	color:#212427;
	line-height: 38px;
}
/*.activity-box div.ui-input-text ,
.activity-box select{
	background: #fff;
	border-bottom: 1px solid #C2C2C2;
	box-shadow: none;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-style: solid;
	border-width: 1px;
}*/

/*.activity-box .ui-input-text.ui-focus {
	background: none;
	border: 1px solid #C2C2C2;
	box-shadow: none;
}*/

/*
.xui-activity-form .ui-select{
    width:215px;
}
.xui-activity-form .ui-input-text{
    width:200px;
}
*/
.xui-uploagImageLabel{
    padding-top:30px;
    font-size:0.9em;
    display:inline-block;
}
/* .xui-active-over{
    background: url(/markettools_static/activity/img/active_over.png) right 0 no-repeat;
    width:100px;
    height:100px;
    position:absolute;
    right:20px;
    top:10px;
}
.xui-active-not-start{
	background: url(/markettools_static/activity/img/active_not_start.png) right 0 no-repeat;
	width:100px;
	height:100px;
	position:absolute;
	right:20px;
	top:10px;
} */
/**/
.xui-uploadImage{
    background: url(/markettools_static/activity/img/uploadImg.png) no-repeat center center #8c969c!important;
    width:55px !important;
    background-size: 75%!important;
    border-radius: 2px!important;
    height:55px !important;
    border:none !important;
    overflow:hidden !important;
    position:relative;
    padding:0px !important;
}
.xui-uploadImage input{
    background:none !important;
    border:none !important;
    height:50px !important;
    width:200px !important;
    margin-left:-100px !important;
    font-size:0px !important;
    cursor:pointer;
    position:absolute;
    left:0px;
    top:0px;
    z-index:3;
}
.xui-uploadImage img{
    width:65px;
    height:55px;
    position:absolute;
    left:0px;
    top:0px;
    z-index:2;
}
.upLoadImageLoadding{
    background: url('/static/img/widget/uploadImg/loading.gif') center center no-repeat;
}

/*--活动--*/
.xui-alert-info{
	color:#666;
	font-size:1em;
	padding:50px;
	text-align: center;	
}

/* 悬浮按钮 */
.xui-btn-back.ui-btn-up-x,
.xui-btn-back.ui-btn-down-x,
.xui-btn-back.ui-btn-hover-x{
	background:rgba(52,73,94, 0.5) url("") 10px center no-repeat;
	-webkit-border-radius: 20px 0 0 20px;
	-moz-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;
	height:32px;
	width:70px;
	position:fixed;
	bottom:90px;
	right:0;
	z-index:2;
}
.xui-btn-back .ui-btn-text{
	display:inline-block;
	height:16px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color:#fff;
	margin: 8px 0 0 5px;
	font-size:0.9em;
	line-height:16px;
	font-family:arial;
}

/**/
/*状态*/
.xui-activity-status{
    position:absolute;
    right:5%;
    top:7%;
    width:100px;
    height:100px;
    z-index:99999;
}
.xui-activity-status-0{
    background:url(/markettools_static/activity/img/active_suspend.png) 0 0 no-repeat;
}
.xui-activity-status-2{
    background:url(/markettools_static/activity/img/active_over.png) 0 0 no-repeat;
}
.xui-activity-status-,
.xui-activity-status-1{
    display:none;
}
.xui-activity-status-3{
    background:url(/markettools_static/activity/img/active_not_start.png) 0 0 no-repeat;
}
.xui-memberComplain-page .form-box-div{
	background: transparent;
	border:none;
}
.xui-memberComplain-page .ui-input-text.ui-focus{
	background: #fff;
}
/*2014/10/11活动报名优化*/
.xui-inner-bg{
	margin:0 2%;
	width: 96%;
	top:50%;
}
.xui-inner-bg .xui-blbg{
	width: 100%!important;
}
.xui-btn-join{
	background:#ea564e;
    border-radius: 3px;
    display: block;
    font-size: 22px;
    padding: 9px 0;
    text-align: center;

}
.xui-activity-btnBox{
	bottom: 0;
    padding: 15px 3%;
    width: 94%;
    z-index: 1000000!important;
}
.xui-activity-content{
	position:relative;
	margin:10% 8% auto;
	overflow-y:auto;
	box-sizing:border-box;
/*	background: url(/markettools_static/activity/img/blackboard.jpg) no-repeat;
	background-size: cover;*/
}
.xui-activity-name{
	font-size: 22px;
	color:#ffe2a2;
}
.hidden{
	display: none;
}
::-webkit-input-placeholder { color:#a3aeb5!important;}
.xui-form-box .ui-input-text,.xui-form-box .ui-checkbox .ui-btn .ui-btn-text, .xui-form-box .ui-radio .ui-btn .ui-btn-text{
	color:#a3aeb5;
}
.xui-form-box .ui-checkbox,.xui-form-box .ui-radio{
	display: block;
	margin:15px auto 15px 10px;
}
.xui-form-box .ui-checkbox:last-child,.xui-form-box .ui-radio:last-child{
	margin-bottom:0px;
}
.ui-icon{
	background-image: url(/markettools_static/activity/img/sprite.png);
	background-repeat: no-repeat;
	-webkit-background-size:cover;
	background-size:cover;
}
.ui-icon-radio-on{
	background-position: -18px 0;
}
.ui-checkbox .ui-icon-checkbox-off, .ui-radio .ui-icon-radio-off{
	background-color:#fff;
}
.ui-radio-on .ui-icon{
	background-color: #fff;
}
.ui-icon-shadow{
	box-shadow: none;
}
.ui-checkbox .ui-icon-checkbox-off{
	border:none;
	border-radius: 50%;
}
.ui-icon-checkbox-on{
	border:none!important;
	border-radius: 50%!important;
	background-position: -36px 0!important;
}