@charset "utf-8";
/*摇一摇*/
html{
	font-family:Arial,Tahoma,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC","Hiragino Sans GB",'Microsoft Yahei',Simsun,sans-serif;
}
html,body{
	background: #e93131;
}
.xui-attentionAlert{
	display: none;
}
.xui-content{
	background-image: url(/markettools_static/share_red_envelope/img/bg_bottom.png),url(/markettools_static/share_red_envelope/img/bg.jpg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position:bottom center,top center;
	background-color: #ffd350;
	padding-top:7.35rem;
	padding-bottom: 3.45rem;
}
.xui-env,
.xui-empty-env{
	width:11.9rem;
	background-size: 100% auto;
	background-repeat: no-repeat;	
	margin:0 auto;
	position: relative;
}
.xui-env{
	height:11.15rem;
	background-image: url(/markettools_static/share_red_envelope/img/env1.png);
}
.xui-empty-env{
	height:10.7rem;
	margin-bottom:.25rem;
	background-image: url(/markettools_static/share_red_envelope/img/env2.png);
}
/*优惠券*/
.xui-coupon{
	width:9.2rem;
	height: 4.85rem;
	margin:0 auto;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding-top: .5rem;
	text-align: center;
	color:#fa4444;
	white-space: nowrap;
	overflow: hidden;
}
.xui-coupon span:first-child{
	font-size: 1.25rem;
}
.xui-coupon span:last-child{
	font-size: 3.25rem;
	font-weight: bold;
}
/*获得优惠券信息*/
.xui-prizeInfo p{
	color:#fff;
	margin: .5rem 0 0 0;
	text-align: center;
	font-size: .8rem;
}
.xui-prizeInfo .xui-couponFinish{
	font-size: .8rem;
	padding-top:1.25rem;
	color:#666;
}
.xui-btnGroup{
	text-align: center;
	margin-top:1.75rem;
}
/*红包底部内容*/
.xui-qrSection{
	font-size: .55rem;
	margin-top:.4rem;
	padding:0 6.32rem 0 .5rem;
	position: relative;
}
.xui-qrSection p{
	color:#fff;
	padding-top:.3rem;
	-webkit-transform:scale(.95);
	-moz-transform:scale(.95);
	-ms-transform:scale(.95);
	transform:scale(.95);
}
.xui-qrSection span{
	color:#ffef9a;
}
.xui-qrCode{
	padding-bottom:3.2rem;
	width:3.5rem;
	height:3.5rem;
	position: absolute;
	right:1rem;
	top:0;
	z-index: 100;
}
.xui-use-btn:link,
.xui-use-btn:active,
.xui-use-btn:visited{
	color:#333;
}
.xui-myCoupon-btn:link,
.xui-myCoupon-btn:active,
.xui-myCoupon-btn:visited{
	color:#e72842;
}
.xui-use-btn,
.xui-myCoupon-btn{
	display: inline-block;
	height:1.6rem;
	width:5rem;
	line-height: 1.6rem;
	border-radius:.1rem;
	font-size:.65rem;
}
.xui-myCoupon-btn{
	background: #ffef9a;
	color:#e72842;
	margin-right: .95rem;
}
.xui-use-btn{
	background: #fff;
	color:#333;
}
.xui-shareEnv-btn{
	color:#fff;
	width:11.9rem;;
	line-height: 2rem;
	height:2rem;
	text-align: center;
	display: block;
	margin:.5rem auto 0 auto;
	font-size: .8rem;
	-webkit-border-radius: .15rem;
	border-radius: .15rem;
	background-color: #dc3434;
	box-shadow: 0 .1rem #ac0101;
}
.xui-shopping-btn{
	display: block;
	line-height:1.875rem;
	height:1.875rem;
	width: 10.5rem;
	font-weight: bold;
	margin:3.85rem auto 0;
	font-size: .8rem;
	background: #fff;
	color:#f1354f;
	-webkit-border-radius: .15rem;
	border-radius: .15rem;
	box-shadow: 0 .1rem #f1354f;
}
.xui-shopping-btn:link,
.xui-shopping-btn:active,
.xui-shopping-btn:visited{
	color:#f1354f;
}
.xui-other{
	background: #e93131;
	padding:0 .5rem;
}
.xui-friends{
	padding-bottom:1rem;
}
.xui-friends ul{
	padding: 0 .25rem;
}
.xui-guideTitle{
	font-size: .7rem;
	color:#8e0000;
	text-align: center;
	font-weight: bold;
	margin:0;
	position: relative;
}
.xui-guideTitle i{
	display: inline-block;
	width:.525rem;
	height:.525rem;
	-webkit-background-size: cover;
	background-size: cover;
	background-image: url(/markettools_static/share_red_envelope/img/star.jpg);
	position: absolute;
	top: .5rem;
	margin-top: -.25rem;
	z-index: 1;
}
.xui-guideTitle i:first-child{
	left:0;
}
.xui-guideTitle i:last-child{
	right:0;
}
.xui-guideTitle::before,.xui-guideTitle::after{
	position: absolute;
	content: "";
	border-top: solid 1px #8e0000;
	-webkit-transform: scaleY(.5);
	-moz-transform: scaleY(.5);
	transform: scaleY(.5);
	top: .5rem;
}
.xui-rule .xui-guideTitle::before,.xui-rule .xui-guideTitle::after{
	width: 4.6rem;
}
.xui-friends .xui-guideTitle::before,.xui-friends .xui-guideTitle::after{
	width: 3.1rem;
}
.xui-guideTitle::before{
	left:.75rem;
}
.xui-guideTitle::after{
	right:.75rem;
}
.xui-rule p{
	font-size: .65rem;
	color:#fff;
	padding-left:.35rem;
	position: relative;
	margin:.8rem 0;
}
.xui-rule p::before{
	content:"";
	display: inline-block;
	width:.15rem;
	height: .625rem;
	background: #fbe150;
	position: absolute;
	top:.15rem;
	left: 0;
}
.xui-rule p:last-child{
	margin-bottom:.75rem;
}
.xui-gotCoupon{
	width:100%;
	height: 2.25rem;
	line-height: 2.25rem;
	background: url(/markettools_static/share_red_envelope/img/got_bg.jpg);
	background-size: cover;
	font-size: .7rem;
	color:#666;
	font-weight: bold;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 1rem 0 .5rem;
	margin-bottom: .75rem;
}
.xui-gotCoupon span{
	font-size: .8rem;
	color:#f1354f;
	float: right;
}
.xui-friends .xui-avatar{
	width:1.55rem;
	height:1.55rem;
	border-radius: 50%;
	border:1px solid #a91127;
	position: absolute;
	top: .5rem;
	overflow: hidden;
}
.xui-friends .xui-info{
	padding: .5rem 0 .35rem 2.3rem;
}
.xui-friends .xui-info .xui-memberName{
	position: relative;
	padding-right:2rem;
}
.xui-friends .xui-info p{
	color:#fff;
	margin:0;
}
.xui-friends .xui-couponNum{
	position: absolute;
	right:0;
	top: 0;
	color:#fff09c;
	float: right;
}
.xui-friends .xui-info p:first-child{
	min-height:.95rem;
	font-size: .7rem;
	margin:.35rem 0 .7rem 0;
}
.xui-friends .xui-info p:last-child{
	font-size: .65rem;
}
.xui-friends ul li{
	position: relative;
}
.xui-friends ul li:after{
	content: "";
	width: 100%;
	display: block;
	border-bottom:1px solid #a91127;
	-webkit-transform: scaleY(.5);
	-moz-transform: scaleY(.5);
	transform: scaleY(.5);
}
.xui-cover{
	background: rgba(0, 0, 0, 0.85);
}
.xui-cover .xui-guideArrow{
	width:7rem;
	height: 3.45rem;
	right:2.05rem;
	top: 0;
	background-image: url(/markettools_static/share_red_envelope/img/guide_arrow.png);
	background-size: 7rem 3.45rem;
}
.xui-cover .xui-close-btn{
	width:6.1rem;
	height: 2rem;
	background-image: url(/markettools_static/share_red_envelope/img/known.png);
	background-color: #c04949;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 3.9rem .9rem;
	border-radius: .2rem;
	top:7.85rem;
	left:50%;
	margin-left:-3.05rem;
}