@charset "utf-8";
/*重置JQ样式*/
.ui-body-c, .ui-overlay-c{
	color: inherit;
	text-shadow:none;
}
.xui-rank-bg{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url('/markettools_static/coupon/img/bg.jpg') no-repeat;
	-moz-background-size:cover;
    -webkit-background-size:cover;
	background-size: cover;
	background-attachment: fixed;
}
.xui-rank-bg .xui-container{
	padding:10px;
}
.xui-rank-bg h4{
	text-align: center;
	color:#fff;
	font-weight: normal;
}
.xui-info span{
	display: block;
	color: #fff;
	line-height: 30px;
}
.xui-tableBox{
	width: 96%;
	margin: 0 auto;
}
.table{
	background-color: #faf3c9;
	border-radius:15px;
}
.table th,.table td{
	text-align: center!important;
	border-left:none;
	border-right:none;
	border-bottom:none;
}
.table-shadow{
	box-shadow: 0 0 0 3px rgba(239,215,150,0.4);
}
.table th{
	background-color: #efd796;
	border-top:none!important;
	border-bottom:2px solid #cb9763;
	color:#3d1d0c;
	padding:14px 0!important;
	font-weight: normal!important;
	font-size:1.1em; 
}
.table th:first-child{
	border-top-left-radius: 15px;
}
.table th:last-child{
	border-top-right-radius: 15px;
}
.table td{
	border-color: #efd796!important;
	color: #875840;
	vertical-align: middle!important;
}
.table td:first-child span{
	padding:2px 7px;
	background: #edd89a;
	border-radius: 5px;
}
.xui-rank{
	background-image: url('/markettools_static/coupon/img/award1.png');
	width: 21px;
	height: 25px;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}
.xui-no1{
	background-position:0 0;
}
.xui-no2{
	background-position:-21px 0;
}
.xui-no3{
	background-position:-41px 0;
}
.xui-no1 + span,.xui-no2 + span,.xui-no3 + span {
	display: none;
}
.xui-tableBorder{

}