 <script id="termite-edit-simulator-tmpl-src" type="text/x-jquery-tmpl">
	<div class="xui-simulator xa-simulator">
		<div class="xui-simulator-back-btn xa-simulator-back-btn"></div>
		<div class="xui-title-zone xa-simulatorTitle">${title}</div>
        <div class="xui-simulator-screen xa-simulator-screen">
	        <div class="xui-modelBox" style="height:50px;">点击这里添加新模块	
	        </div>
	        <div class="xui-modelBox pl0" style="position:relative">
	        	<div class="xui-toolbar"><p class="xui-tool ">删除</p><p class="xui-tool ">编辑</p><p class="xui-tool ">添加模块</p></div>
	        </div>
        </div>
    </div>

</script>



