{% extends "jqm_content_base.html" %}
{% load common_tag %}

{% block css %}
	<link type="text/css" rel="stylesheet" href="/static/css/market_tools_css/common.css">
	<link type="text/css" rel="stylesheet" href="/markettools_static/vote/css/vote.css">
	<style>
		.progress_bar {
			background: linear-gradient(to bottom, #aed5ed 0%, #7bbbe2 70%, #5aaadb 100%) repeat scroll 0 0 #5aaadb;
			box-shadow: 0 1px rgba(255, 255, 255, 0.3) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
   			border-color: #459fd6 #3094d2 #277db2;
			color: #FFF;
			margin: 2px 0 2px 30px;
			padding-left: 5px;
			border-radius: 5px;
			width: 10%;
		}
		.xui-form-box .ui-form-btn-lay {
		    margin-top: 0;
		    text-align: center;
		}
		
		.vote_apply .ui-btn {
		    background: none repeat scroll 0 0 #FFFFFF;
		    border: 1px solid #008601;
		    border-radius: 6px;
		    color: #008605;
		    display: inline-block;
		    padding: 0.38em 0.5em;
		    margin: 0;
		    margin-top: 15px;
		    padding: 0;
		}
		
		.ui-icon {
			left: 17px!important;
			margin-top: -7px!important;
			display: none;
		}

		.ui-btn-inner {
			border-top: medium none;
		}
		
	</style>
{% endblock %}

{% block mobileinit %}
	<script type="text/javascript">
		$(document).bind("mobileinit", function () {
			$.mobile.ajaxEnabled = false;
		});
	</script>
{% endblock %}

{% block content-panel %}
	<div data-role="page" data-theme="x" class="{% if not user.is_from_weixin %}notweixin{% endif %} xui-vote-page" data-title="{{ page_title }}">
		<div data-role="content">
			<form class="xui-form-box vote_list">
				<div class="vote_apply">
					<h3 class="mt15 mb15">{{ vote.name }}</h3>
					<hr/>
					<div class="xui-product-detail-content xui-detail-content rawHtml">
						{{ vote.detail|safe }}
					</div>
				</div>
				
				<div class="controls">
					{% for vote_option in vote_options %}
					<label class="checkbox inline">
						<input type="radio" class="vote_radio" {% if vote.member_vote_info.vote_option_id == vote_option.id %}checked=true{% endif %} value="{{vote_option.id}}" name="vote_radio"> {{vote_option.name}}
					</label>
					<div class="progress_bar" {% if vote_option.width > 8 %}style="width: {{vote_option.width}}%" {% endif %}>{{vote_option.vote_count}}</div>
					{% endfor %}
				</div>
				
				<div class="vote_apply"> 
					<div class="ui-form-btn-lay">
						{% if vote.webapp_user_vote_info %}
						<button type="button" disabled="disabled" class="btn">已投票 </button>
						{% else %}
						<button type="button" id="btnSubmit" class="btn btn-submit">投票 </button>
						{% endif %}
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function() {
        var $postBtn = $('#btnSubmit');
        $postBtn.removeAttr('disabled');
        $postBtn.click(function() {
	        xlog($('.vote_radio:checked').length)
	        if($('.vote_radio:checked').length == 0) {
		        $('body').alert({
			        isShow: true,
			        info: '请选择项目进行投票',
			        speed: 2000
		        });
		        return false;
	        }
	        var dataID = $('.vote_radio:checked').val()
	        //将按钮置为无效,防止多次点击
	        $postBtn.attr('disabled', true);
	        W.getApi().call({
                app: 'webapp',
                api: 'project_api/call',
                method: 'get',
                args: _.extend({
	                target_api: 'ballot/create',
	                option_id: dataID,
	                project_id: W.projectId
                }),
                success: function(data) {
					$('body').alert({show:true, info:'投票成功!', speed:2000});
					$postBtn.removeAttr('disabled');
					location.reload() ;
                },
                error: function(resp) {
                	$('body').alert({show:true, info:'投票失败，请稍后再试!', speed:2000});
                    $postBtn.removeAttr('disabled');
                },
                scope: this
            });
        });
    })
</script>
{% endblock %}