<script id="common-swipe-image-list-tmpl-src" type="text/x-jquery-tmpl">
    <div class="">
        <div>
            <input id="swipeImageList-addBtn" type="button" class="btn btn-primary" value="&nbsp;添加&nbsp;" />
            <span class="help-block">允许最多上传${maxCount}个图片</span>
        </div>
    </div>
    <div class="">
        <div id="swipeImageList-images" class="clearfix" style="width: 350px;">
        </div>
    </div>
</script>

<script id="common-swipe-image-list-one-image-tmpl-src" type="text/x-jquery-tmpl">
    <div data-id="${id}" class="fl imgBox pt0 mr15 mb10 mt5 x-oneSwipePhoto" style="width: 80px;">
        <button class="close x-removeImage" type="button">×</button>
        <img width="80px" src="${url}" style="width: 80px; height: 80px;"/>
    </div>
</script>
