<style>
</style>

<script id="mall-order-filter-view-tmpl-src" type="text/x-jquery-tmpl">	
	<ul>
		<li>
			<div class="fl">
				订 单 编 号：
				<input type="text" class="input-xlarge m0 w120" id="order_id" name="order_id" value="" />
			</div>
			<div class="fr w440">
				<div>
				订单时间：
					<input 
						type="text" 
						class="input-xlarge m0" 
						id="start_date" 
						name="start_date" 
						style="width:90px;z-index:9999"
					    placeholder="开始日期" 
					    value=""
					    readonly="readonly" 
						data-validate="required-none"
						data-ui-role="orderDatepicker"
					    data-format="yy-mm-dd" 
					    data-max="now"/>
					-
					<input 
						type="text" 
						class="input-xlarge m0" 
						id="end_date" 
						name="end_date" 
						style="width: 90px;z-index:9999"
					    placeholder="结束日期" 
					    value=""
					    readonly="readonly" 
						data-validate="required-none"
						data-ui-role="orderDatepicker"
					    data-format="yy-mm-dd" 
					    data-max="now" 
					    data-min-el="#start_date"/>&nbsp;&nbsp;

					<a herf="javascript:void(0);" style="font-size:12px;" class='recently-week-day' data-day=7>最近7天</a>&nbsp;
					<a herf="javascript:void(0);" style="font-size:12px;" class='recently-week-day' data-day=30>最近30天</a>
				</div>
				<div class="errorHint"></div>
			</div>
			<div class="clear"></div>
		</li>

		<li>
			<div class="fl">
				收货人姓名：
				<input type="text" class="input-xlarge m0 w120" id="ship_name" name="ship_name" value="" />
			</div>
			<div class="fr w440">
				<span class="db">
					订单状态：					
					{{if statuses.length}}
					<select id="orderStatus" name="orderStatus" class="w120 m0">
						<option value="-1">全部</option>
						{{each(i, status) statuses}}
						<option value="${status.value}" data-value="${status.value}" data-name="${status.name}">${status.name}</option>
						{{/each}}
					</select>
					{{/if}}					
				</span>

				{{if types.length}}
				<span class="db pr5">
					订单类型：
					<select id="orderType" name="orderType" class="w120 m0">
						<option value="-1">全部</option>
						{{each(i, type) types}}
						<option value="${type.value}" data-value="${type.value}" data-name="${type.name}">${type.name}</option>
						{{/each}}
					</select>
				</span>			
				{{/if}}
			</div>
			<div class="clear"></div>
		</li>

		<li>
			<div class="fl">
				收货人电话：
				<input type="text" class="input-xlarge m0 w120" id="ship_tel" name="ship_tel" value="" />
			</div>
			<div class="fr w440">	
				{{if payTypes.length}}				
				<span class="db">
					支付方式：
					<select id="payType" name="payType" class="w120 m0">
						<option value="-1">全部</option>
						{{each(i, payType) payTypes}}
						<option value="${payType.data_value}" data-value="${payType.data_value}" data-name="${payType.pay_name}">${payType.pay_name}</option>
						{{/each}}
					</select>
				</span>
				{{/if}}

				{{if orderSources.length}}
				<span class="db">
					订单来源：
					<select id="orderSource" name="orderSource" class="w120 m0">
						<option value="-1">全部</option>
						{{each(i, orderSource) orderSources}}
						<option value="${orderSource.value}" data-value="${orderSource.value}" data-name="${orderSource.name}">${orderSource.name}</option>
						{{/each}}
					</select>
				</span>
				{{/if}}

			</div>
			<div class="clear"></div>
		</li>
		<li>
			<input type="button" class="btn btn-primary mr10 seacrh-order-btn" id="seacrh-order-btn" value="筛选" />
			<a class="btn btn-primary export-btn" href="javascript:void(0);">导出excel</a>
		</li>
	</ul>
</script>
