# 每分钟执行
* * * * * sh /weapp/web/weapp/services/service_minutely.sh &> /weapp/web/log/services/minutely.log

1 1 * * * /usr/local/python/bin/python  /weapp/web/weapp/manage.py  update_member_analysis

*/5 * * * * /usr/local/python/bin/python  /weapp/web/weapp/manage.py update_component_access_token > /tmp/update_token.log

*/10 * * * * sh /weapp/web/weapp/services/service_ten_minutely.sh &> /weapp/web/log/services/service_ten_minutely.log

*/30 * * * * /usr/local/python/bin/python  /weapp/web/weapp/manage.py send_express_poll_request > /tmp/send_express_poll.log

*/* 1 * * * sh /weapp/web/weapp/services/service_hourly.sh &> /weapp/web/log/services/service_hourly.log

#*/1 * * * * flock -xn /weapp/event_handler/event_handler.lock -c 'sh /weapp/event_handler/services/runner/service.sh > /weapp/event_handler/services/start_service.log 2>&1'
