<div class="mt20 shop-service">
    <div class="content content-picture single-content-picture">
        <div class="main-picture wx-message-link" data-link="{{ main_message.url }}">
            <div class="main-picture-title">
                {{ main_message.title }}
                <p class="date">4月14日</p>
            </div>
            <div class="main-picture-box">
                <img src="{{ main_message.pic_url }}" width="360px" height="180px"/>
            </div>
        </div>
        <div class="description mt10 pb10">{{ main_message.description }}</div>
        <div class="more-link pt5">
            阅读全文
        </div>
    </div>
</div>