{% extends "apps_base.html" %}

{% block css %}
<style type="text/css">
	h1 {
		color: #00F;
	}
	div{
		box-sizing: border-box;
	}
	.xui-record {
		margin: 10px 15px;
		padding: 5px;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
		border-radius: 5px;
	}
	.xui-record .xui-inner-content {
		color: #8F8F8F;
	}
	a.xui-button {
		padding: 10px;
		display: block;
		text-align: center;
		color: #FFF;
		margin: 10px 15px;
		background-color: rgba(0, 125, 255, 0.5);
		border-radius: 10px;
	}
	.xui-group{
		overflow: hidden;
		border-bottom: 1px solid #8E8E8E;
	}
	.xui-group > div{
		float: left;
		font-size: 18px;
		text-align: center;
		width: 33.33%;
		padding: 10px 0;
	}
	.xui-group > div.active{
		color: #FF8000;
	}
	.xui-rank{
		background: #fff;
		font-size: 14px;
	}
	.xui-rankList-wrap{
		padding: 0 10px;
	}
	.xui-rank-list{
		overflow: hidden;
		position: relative;
		margin-top: 10px;
	}
	.xui-search{
		border-bottom: 1px solid #8E8E8E;
		padding: 5px 10px;
		overflow: hidden;
		line-height: 29px;
	}
	.xui-search span{
		font-size: 16px;
	}
	.xui-searchBox{
		float: right;
		width: 70%;
		position: relative;
	}
	.xui-search-input{
		height: 25px;
		width: 90%;
		border: 1px solid #8E8E8E;
		border-radius: 5px;
		outline: none;
		padding-left: 5px;
	}
	.xui-searchBtn{
		height: 29px;
		border-radius: 5px;
		border: 1px solid #8E8E8E;
		background: #fff;
		position: absolute;
		right: 0;
		top: 0;
		padding: 0 10px;
		outline: none;
	}
	.xui-rank-item{
		border:1px solid #8E8E8E;
		width: 49%;
		float: left;
		margin-bottom: 10px;
	}
	.xui-rank-item:nth-child(even){
		float: right;
	}
	.xui-rank-pic{
		height:100px;
		border-bottom: 1px solid #8E8E8E;
	}
	.xui-rank-name{
		border-bottom: 1px solid #8E8E8E;
		text-align: center;
		padding: 2px 0;
	}
	.xui-rank-vote{
		overflow: hidden;
	}
	.xui-rank-vote > div{
		float: left;
		width: 50%;
		text-align: center;
		padding: 3px 0;
	}
	.xui-rank-voteLef{
		border-right: 1px solid #8E8E8E;
	}
</style>
{% endblock %}

{% block content-panel %}
	{{ page_html_content|safe }}
<div class="wa-mobile">
    <div class="wa-dynamic-info">
        <div>
            <p>
                <span>已报名</span>
                <span class="wa-total-parted">123312</span>
            </p>
            <p>
                <span>投票数</span>
                <span class="wa-total-counts">122112</span>
            </p>
            <p>
                <span>访问数</span>
                <span class="wa-total-visits">1212</span>
            </p>
        </div>
        <div>
            <p>截止日期：<b class="wa-enddate">2016-07-18</b> 可投：<b class="wa-left-chance">2</b></p>
            <a>排行>></a>
        </div>
    </div>
	<div class="xui-rank">
		<div class="xui-rankList-wrap">
			<div class="xui-search wa-search-panel">
				<span>选手</span>
				<div class="xui-searchBox">
					<input type="text" class="xui-search-input wa-search-text">
					<button type="button" class="xui-searchBtn wa-search">搜索</button>
				</div>
			</div>
			<div class="xui-group wa-groups">
				<div class="active">初中组</div>
				<div>高中组</div>
				<div>大学组</div>
			</div>
			<div class="xui-rank-list wa-rank-list">

				<div class="xui-rank-item">
					<div class="xui-rank-pic"></div> 
					<div class="xui-rank-name">
						<span>001</span> 
						<span>王思辰</span>
					</div> 
					<div class="xui-rank-vote">
						<div class="xui-rank-voteLef">
							18票
						</div>
						<div class="xui-rank-voteRig">
							投票
						</div>
					</div> 
				</div>

			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	W.pageId = "{{request.GET.page_id}}";

	$(function(){
        if(W.isPC){
            return false;
        }

		// 我要报名
		$('.wa-imark').click(function(){
			var link = window.location.origin + '/m/apps/shvote/shvote_participance/?webapp_owner_id='+W.webappOwnerId+'&id='+W.appRecordId;
			window.location.href = link;
		});
        //展示参与统计
//        getDynamicData();

        //参与投票
        var voteLock = false;
        $('.wa-ivote').on('click', function(){
            if(voteLock) return false;
            voteLock = true;
            vote_to = 1;
            W.getApi().call({
                app: 'apps/shvote',
                resource: 'shvote_participance',
                method: 'post',
                args: {
                    webapp_owner_id: W.webappOwnerId,
                    recordId: W.appRecordId,
                    vote_to: vote_to
                },
                success: function(data){

                },
                error: function(data){

                }
            });
        });
		
    });

    $(function(){
        if(W.isPC){
            showDesc();
            return false;
        }
        //展示参与统计
        getDynamicData();
    });

    //获取已报名人数、总投票数、页面总访问数、本次可投票机会、排行、分组信息
    function getDynamicData(){
        W.getApi().call({
            app: 'm/apps/shvote',
            resource: 'm_shvote',
            method: 'get',
            args: {
                webapp_owner_id: W.webappOwnerId,
                recordId: W.appRecordId
            },
            success: function(data) {
                console.log(data);
                //更新活动信息
                var record_info = data.record_info;
                update_record_info(record_info);
                //更新会员信息
                var member_info = data.member_info;
                update_member_info(member_info);
                //更新排名信息
                getRankInfo();
            },
            error: function(data){
                if(data.errMsg == 'is_deleted'){
                    deletedRecord();
                }else{
                    wuiAlert(data.errMsg);
                }
            }
        });
    }

    function showDesc(){
        $('.wa-shvote-desc').removeClass('none');
    }
    function showDynamic(){
        $('.wa-mobile').removeClass('none');
    }
    function update_record_info(record_info){

    }
    function update_member_info(member_info){

    }

    //获取排名信息
    function getRankInfo(){
        W.getApi().call({
            app: 'm/apps/shvote',
            resource: 'get_rank_list',
            method: 'get',
            args: {
				webapp_owner_id: W.webappOwnerId,
                recordId: W.appRecordId
            },
            success: function(data) {
                console.log(data.result_list);
            },
            error: function(data){
				wuiAlert(data.errMsg);
            }
        });
    }
</script>
{% endblock %}