{% extends "apps_base.html" %}

{% block css %}
<style type="text/css">
	body{
		background: #fff !important;
	}
	.wui-rank-groups{
		font-size : 0;
		padding: 10px 0;
	}
	.wui-rank-groups div{
		font-size: 1rem;
		display: inline-block;
		width: 25%;
		text-align: center;
	}
	.wui-rank-groups div.active{
		color: red;
		font-size: 1.2rem;
	}
	.wui-rank-table{
		width: 100%;
		border-collapse: collapse;
    	border-spacing: 0;
    	border-top: 1px solid #e1e1e1;
	}
	.wui-rank-table thead{
		background: #f5f5f5;
	}
	.wui-rank-table td,.wui-rank-table th{
		text-align: center;
		border-bottom: 1px solid #e1e1e1;
		padding: 5px 0;
	}
	.wui-rank-table tbody tr td:nth-child(1) span{
		display: inline-block;
		width: 25px;
		height: 25px;
		line-height: 25px;
		background: rgba(0,0,0,0.3);
		border-radius: 15px;
		color: #fff;
	}	
	.wui-rank-table tbody tr:nth-child(1) td:nth-child(1){
		background: url(/static_v2/img/no1.png) no-repeat 50% 50%;
		background-size: 31px 33px;
	}
	.wui-rank-table tbody tr:nth-child(2) td:nth-child(1){
		background: url(/static_v2/img/no2.png) no-repeat 50% 50%;
		background-size: 28px 33px;
	}
	.wui-rank-table tbody tr:nth-child(3) td:nth-child(1){
		background: url(/static_v2/img/no3.png) no-repeat 50% 50%;
		background-size: 28px 33px;
	}
	.wui-rank-table tbody tr:nth-child(1) td:nth-child(1) span{
		display: none;
	}
	.wui-rank-table tbody tr:nth-child(2) td:nth-child(1) span{
		display: none;
	}
	.wui-rank-table tbody tr:nth-child(3) td:nth-child(1) span{
		display: none;
	}
	.wui-rank-table tbody tr td:nth-child(2){
		width: 45%;	
		text-align: left;
	}
	.wui-rank-table tbody tr td:nth-child(2) img{
		vertical-align: middle;
		margin-right: 15px;
	}
	.wui-count{
		color: #ff4200;
		font-size: 1.1rem;
	}
	.wui-number{
		font-size: 0.9rem;
		color: #999999;
	}
	.active{
		font-size: 1.1rem;
		color:  #ff4200;
	}
</style>
{% endblock %}

{% block content-panel %}
<div class="wui-rank-groups wa-rank-groups">
	{% for group in groups %}
	<div>{{group}}</div>
	{% endfor %}
</div>
<table class="wui-rank-table wa-rank-table">
	<thead>
		<tr>
			<th>排名</th>
			<th>选手</th>
			<th>票数</th>
		</tr>
	</thead>
	<tbody class="wa-rank-list">

	</tbody>
</table>

<script type="text/plain" id="tpl">
	<tr>
		<td>
			<span>{ rank }</span>
		</td>			
		<td>
			<img src={ icon } width="50px" height="50px">
			<span>{ name }</span>
		</td>
		<td>
			<div>
				<span class="wui-count">{ count }</span>
				票
			</div>
			<div class="wui-number">编号:{ serial_number }</div>
		</td>
	</tr> 
</script>
{% endblock %}

{% block js %}
<script type="text/javascript">

//当前分组，切换时候需要改变值，用于查找
var current_group = '';

$(function(){
	var wid = 100/$('.wa-rank-groups div').length;
	$('.wa-rank-groups div').css("width",wid+'%');
	$('.wa-rank-groups div').eq(0).addClass('active');
	current_group = $('.active').html();
	getRankInfo(current_group,'');

	//切换分组
	$('.wa-rank-groups').on('click','div',function(){
		$(this).addClass('active').siblings().removeClass('active');
		current_group = $(this).html();
		getRankInfo(current_group,'');
	});	
});

function getRankInfo(current_group,search_name){
        W.getApi().call({
            app: 'm/apps/shvote',
            resource: 'm_shvote_rank',
            method: 'get',
            args: {
				webapp_owner_id: W.webappOwnerId,
                recordId: W.appRecordId,
				current_group: current_group,
				search_name: search_name
            },
            success: function(data) {
				$('.wa-rank-list').html('');
                var result = data.result_list;
                var tpl = new Template($('#tpl').html());
                for(var i=0;i<result.length;i++){
        		    var s = tpl.render({
        		    	rank : i+1,
		               	serial_number : result[i].serial_number,
		                name : result[i].name,
		                count : result[i].count,
		                icon : result[i].icon,
		            });
		        $('.wa-rank-list').append(s);
	        	}
            },
            error: function(data){
				wuiAlert(data.errMsg);
            }
        });
    }

</script>
{% endblock %}