{% extends "content_base_v2.html" %}
{% load common_tag %}
{% load account_filter %}

{% block css %}
<style>
  .control-label{
      font-weight: normal;
  }
  .errorHint{
      margin-left: 170px;
  }
  #edui1 {
    width: 550px !important;
  }

</style>
{% endblock %}

{% block content-panel %}
<div class="xui-create-rebate-rule-page">
<ul class="breadcrumb">
    <li>您当前所在位置</li>
    <li><a href="/apps/lottery/lotteries/">百宝箱</a></li>
    <li><a href="/apps/rebate/rebates/">返利活动</a></li>
    <li class="active">新建返利活动</li>
</ul>
{% if is_deleted_data %}
    <div style="background-color: #EAEEF7;" class="clearfix">
    <div class="xui-emptyBox m10">
        <img src="/static_v2/img/editor/empty.png">
        <span class="ml20">您访问的数据已被删除！</span>
    </div>
    </div>
{% else %}
<form class="form-horizontal xui-formPanel xa-form pt0 pr" method="post">

<section class="mt0" style="border:0;">
  <span class="xui-fontBold ml30 mt15" style="font-size:14px;display:inline-block;">返利设置</span>
  <hr class="ml30" style="border-color:#ccc;margin-top:8px;width:638px;">
  <fieldset class="mt30">
    <!--<input id="qrcode_id" name="qrcode_id" class="hide" value="{% if rebate_rule %}{{ rebate_rule.id }}{% else %}0{% endif %}">-->
    <div class="form-group">
        <label class="control-label col-sm-2 pt0 ">二维码名称</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="name" name="name" style="width: 150px" value="{{ rebate_rule.name }}" data-validate="require-notempty::二维码名称不能为空,,require-string::最多可以输入18个字" maxlength="18" placeholder="输入名称"/>
          <div class="errorHint"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2 pt0 star_show">已关注会员可参与</label>
        <div class="controls xa-errorHintContainer">
            <div style="margin-left: 120px;">
                <input type="radio" value="1" {% ifequal rebate_rule.permission 1 %}checked{% endifequal %}checked style="vertical-align: sub;" class="permission" name="permission">是
				<input type="radio" value="0" {% ifequal rebate_rule.permission 0 %}checked{% endifequal %} style="vertical-align: sub;" class="permission ml10" name="permission" class="m10 p20" value='0'>否
            </div>
            <div class="errorHint" data-error-hint="请选择已关注会员是否可参与"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2 pt0 star_show">订单返利条件</label>
        <div class="controls xa-errorHintContainer">
            <div style="margin-left: 120px;">购买次数：
                <input type="radio" value="1" name="is_limit_first_buy" class="is_limit_first_buy" {%if not rebate_rule.is_limit_first_buy %}checked{% endif%}>首单
                <input type="radio" value="0" name="is_limit_first_buy" class="is_limit_first_buy" {%if rebate_rule.is_limit_first_buy %}checked{% endif%}>不限
            </div>
            <div class="errorHint" data-error-hint="请选择购买次数"></div>
        </div>
        <div class="controls xa-errorHintContainer">
            <div style="margin-left: 170px;">订单金额是否为现金：
                <input type="radio" value="1" name="is_limit_cash" class="is_limit_cash" {%if not rebate_rule.is_limit_cash %}checked{% endif%}>是
                <input type="radio" value="0" name="is_limit_cash" class="is_limit_cash" {%if rebate_rule.is_limit_cash %}checked{% endif%}>否
            </div>
            <div class="errorHint" data-error-hint="请选择订单金额是否为现金"></div>
        </div>
        <div class="controls xa-errorHintContainer">
            <div style="margin-left: 170px;">订单返利：
                <span>满</span>
                <input type="text" class="form-control w70" id="rebate_order_price" name="rebate_order_price" value="{{rebate_rule.rebate_order_price}}" data-validate="require-notempty,,require-positive-int"/>元
                <span>返</span>
                <input type="text" class="form-control w70" id="rebate_money" name="rebate_money" value="{{rebate_rule.rebate_money}}" data-validate="require-notempty,,require-positive-int"/>元
            </div>
            <div class="errorHint" data-error-hint="请输入正整数"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2 pt0 star_show">发放微众卡号段</label>
        <div class="controls xa-errorHintContainer">
            <div style="margin-left: 120px;">
                <input type="text" class="form-control w70" id="weizoom_card_id_from" name="weizoom_card_id_from" value="{{rebate_rule.weizoom_card_id_from}}" data-validate="require-notempty,,require-nonnegative"/>
                -&nbsp
                <input type="text" class="form-control w70" id="weizoom_card_id_to" name="weizoom_card_id_to" value="{{rebate_rule.weizoom_card_id_to}}" data-validate="require-notempty,,require-nonnegative"/>
            </div>
            <div class="errorHint" data-error-hint="请输入数字"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2 pt0 star_show">有效期</label>
        <div class="controls xa-errorHintContainer">
            <div class="">
                <div style="display:inline-block; vertical-align:text-top;margin-top:-6px;">
                    <input
                    style="width:132px!important;cursor:pointer;"
                    type="text"
                    class="form-control xui-datePicker xui-greyColor"
                    id="start_time"
                    name="start_time"
                    value="{% if not rebate_rule.limit_time %}{{rebate_rule.start_time|date:"Y-m-d H:i"}}{%endif%}"
                    readonly="readonly"
                    data-validate="require-notempty"
                    data-enable-select-time="true"
                    data-ui-role="date-picker"
                    data-format="yy-mm-dd HH:MM"
                    data-min="now"
                    data-max-el="#end_time"
                    width="132"
                    {% if start_time %}disabled="disabled"{% endif %}/>

                </div>
                至
                <div style="display:inline-block; vertical-align:text-top;margin-top:-6px;">
                    <input
                    style="width:132px!important;cursor:pointer;"
                    type="text"
                    class="form-control xui-datePicker xui-greyColor"
                    id="end_time"
                    name="end_time"
                    value="{% if not rebate_rule.limit_time %}{{rebate_rule.end_time|date:"Y-m-d H:i"}}{%endif%}"
                    readonly="readonly"
                    data-validate="require-notempty"
                    data-ui-role="date-picker"
                    data-enable-select-time="true"
                    data-format="yy-mm-dd HH:MM"
                    data-min="now"
                    data-min-el="#start_time"
                    {% if end_time %}disabled="disabled"{% endif %}/>

                </div>
            </div>
            <div class="errorHint" data-error-hint="请选择有效期"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2 pt0 star_show">扫码后回复</label>
        <div class="controls xa-errorHintContainer">
            <div style="margin-left: 170px;" id="prize_qrcode">
                <div id="edit-message-panel"></div>
            </div>
            <div class="tab-content" style="margin: 20px 0 5px 160px;">
				<div id="weixinMessageEdite r-textMessageZone" style="width: 350px">
					<div class="control-group mr5 mt5">
						<div class="controls ml20">
							<textarea class="input-xlarge hide xa-a" id="reply_detail" name="reply_detail" data-ui-role="richtext-editor" data-height="300" data-width="350">{% if qrcode %}{{ qrcode.reply_detail|format_emotion|safe }}{% endif %}</textarea>
						</div>
					</div>
				</div>
				<div id="weixinMessageEditer-newsMessageZone" style="width: 350px">
					<input id="reply_material_id" name="reply_material_id" class="hide" value="">
				</div>
			</div>
        </div>
    </div>

  </fieldset>
  <hr style="border-color:#ccc;">
  <fieldset>
    <div class="form-group mt5 mr5 xa-operateBtns" id="operateBtns">
      <div class="controls ml20 tc">
        {% if not rebate_rule %}
        <a class="btn btn-primary xa-submit mr80">保&nbsp;存</a>
        {% endif %}
      </div>
    </div>
  </fieldset>
</section>
</form>
{% endif %}
{% endblock %}
{% block js %}
<script type="text/javascript">

$(document).ready(function(){
    var answerContent = W.loadJSON('qrcode_answer');
    var options = {
        el: '#edit-message-panel',
        richTextEditorWidth: 800,
        enableSubmitBtn: 'false',
        enableCanelBtn: 'false',
        pasteplain: true
    };
    if (answerContent) {
        if (answerContent.type === 'text') {
            options.answer = answerContent.content;
        } else if (answerContent.type === 'news') {
            options.materialId = answerContent.content;
            options.material = answerContent;
        }
    }
    var editor = new W.view.weixin.MessageEditor(options);

// 提交按钮
  $('.xa-submit').click(function(event) {
    $(this).attr('disabled',true);
    if (!W.validate()) {
      $(this).attr('disabled',false);
      return false;
    }
    var textContent = $.trim($('[name="text_content"]').val());
	var materialId = 0;
    var materialStr = $('.xa-newsMessageZone a').attr('href');
    if (materialStr && materialStr.length > 0) {
        var strs = materialStr.split("?");
        var str = strs[1];
        paramFields = str.split("=");
        materialId = parseInt(paramFields[1]);
    }
    if (!textContent && materialId == 0) {
        W.showHint('error', '扫码后回复内容不能为空');
        $('.xa-submit').removeAttr('disabled');
        return;
    }
    if(materialId == 0 && textContent.length > 600){
        W.showHint('error', '扫码后回复内容不能超过600字');
        $('.xa-submit').removeAttr('disabled');
        return;
    }

    var replyType = 0;
    var activeLink = $('#edit-message-panel li[class="active"]').text();
    if(activeLink === '图文消息' && materialId > 0) {
        replyType = 2;
        textContent = '';
    } else {
        replyType = 1;
    }
    var args = $('.xa-form').serializeObject();
    args['reply_type'] = replyType;
    args['reply_detail'] = textContent;
    args['reply_material_id'] = materialId;
    console.log('args!!!!!!!!');
    console.log(args);
    W.getApi().call({
      method: 'put',
      app: 'apps/rebate',
      resource: 'rebate',
      args: W.toFormData(args),
      scope: this,
      success: function() {
        W.showHint('success', '创建返利活动成功！');
        _.delay(function() {
          window.location.href = '/apps/rebate/rebates/';
        }, 500)
      },
      error: function() {
        W.showHint('error','创建返利活动失败！');
        $(this).attr('disabled',false);
      }
    });
  });
})
</script>
{% endblock %}