{% extends "webapp_content_base.html" %}
{% load common_tag %}
{% load mall_filter %}

{% block content-panel %}
<div data-role="page" data-theme="x" class="xui-addrManage-page xui-page xa-page" data-title="编辑收货地址">
	<div class="xui-section" style="box-shadow:0 0 0;-webkit-box-shadow:0 0 0;">

		<div class="xui-emptyImg xa-emptyTemplate" style="display: none">
			<img src="/static_v2/img/webapp/mall/map.png"></div>
		<a href="" data-role="button" data-icon="true" class="xui-addAddress xa-addShipAddress xa-emptyTemplate" style="display: none">+添加收货地址</a>

		<div class="xui-addNewBtn xa-addNewBtn" style="display: none">
			<a href="" data-role="button" data-icon="true" class="xui-addNew disT pr xt-addShipAddress xa-addShipAddress">
			<span class="disTc">新建地址</span>
			</a>
		</div>

		<form action="">
			<ul>

				<li style="display: none" data-role="button" data-icon="true" class="xui-inner-box tl pr xt-shipInfo xa-shipInfo" >
					<div class="disT" style="width:100%;">
						<label class="xui-radioBox disTc tc xt-shipInfoSelector xa-shipInfoSelector" for="" data-id="">
							<div class="disTc xui-choseAddress">
								<input type="radio" name="is_addrItem" data-role="none" class="xui-regular-radio hidden xt-selectRadio xa-selectRadio"  data-id="">

								<label for="is_addrItem" class="xui-regular-radio-label"></label>
							</div>

							<div class="xui-infoLink disTc">
								<div class="pr20w">
									<h2 class="mb10">
										<span class="xui-receiver">收件人:</span>
										<span class="xt-name xui-name xa-shipName"></span>
										<span class="xui-tel xt-tel xa-shipTel"></span>
									</h2>
									<div style="color:#7f7f7f;font-size:0.9em;line-height:18px;" class="xt-areaAddress ">
                                        <span class="xt-shipArea xa-shipArea">收货地址:</span><span class="xt-shipAddress xa-shipAddress ml5"></span>
                                    </div>
								</div>
							</div>

						</label>

						<a href="" class="xui-editIcon disTc xa-edit"> <i></i>
						</a>

					</div>
				</li>

			</ul>
		</form>

	</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">

$(document).ready(function() {
    var ship_infos;
    var woid = getWoid();
    if(sessionStorage.ship_infos){
        ship_infos = JSON.parse(sessionStorage.ship_infos);
    }
    else{
        ship_infos = JSON.constructor();
    }

    if($.isEmptyObject(ship_infos)){
        $('.xa-emptyTemplate').show();
    }
    else {
        $('.xa-addNewBtn').show();
        var ship_info;
        var templateElem = $($('li')[0]);
        for (var i in ship_infos) {

            ship_info = ship_infos[i];

            var template = templateElem.clone();
            template.show();
            $('.xa-shipName', template).text(ship_info.ship_name);
            $('.xa-shipTel', template).text(ship_info.ship_tel);
            $('.xa-shipArea', template).text(ship_info.area_str);
            $('.xa-shipAddress', template).text(ship_info.ship_address);
            $('.xa-shipInfoSelector', template).attr('data-id', ship_info.ship_id);
            if (ship_info.is_selected) {
                $(template).addClass('xui-checked');
                $('.xa-selectRadio', template).attr('checked', 'checked');

            }

            $('.xa-selectRadio', template).attr('data-id', ship_info.ship_id);
            var UrlEdit= './?woid=' + woid + '&module=mall&model=address&action=edit&id=' + ship_info.ship_id + addFmt();
            $('.xa-edit',template).attr('href',UrlEdit);
            $('ul').append(template);



        }
    }
    var UrlAdd = './?woid=' + woid +'&module=mall&model=address&action=add' + addFmt();
    $('.xa-addShipAddress').attr('href',UrlAdd);

	// $('[name="is_addrItem"]').click(function(event){
	$('.xui-radioBox').click(function(event){
		// 点击添加信封边框
		var $target = $(event.currentTarget);
		$('input').parents('li').removeClass('xui-checked');
		$target.parents('li').addClass('xui-checked');

		var ship_info_id = $(this).attr('data-id');
		event.stopPropagation();
		event.preventDefault();
        //显示提交订单的提示
        $('body').alert({
            isShow: true,
            info:'正在修改收货地址',
            speed: 200000
        });

	    W.getApi().call({
	        app: 'webapp',
	        api: 'project_api/call',
	        method: 'post',
	        args: {
	            woid: W.webappOwnerId,
	            module: 'mall',
	            target_api: 'address/select',
	            ship_id: ship_info_id
	        },
	        success: function(data) {
	            var ship_id = data['ship_id'];

                if(sessionStorage.ship_infos){
                        ship_infos = JSON.parse(sessionStorage.ship_infos);

                    }
                    else{
                        ship_infos = JSON.constructor();
                }
                ship_infos[ship_id].is_selected = true;

                for(var i in ship_infos){
                        if(i!=ship_id){
                            ship_infos[i].is_selected = false;

                        }
                    }
                sessionStorage.ship_infos = JSON.stringify(ship_infos);

                if(sessionStorage.mallShipfromUrl){
                    // 返回订单
                    window.location.href = sessionStorage.mallShipfromUrl;
                }else if(data['msg'] != null){
	                $('body').alert({
	                    isShow: true,
	                    speed: 2000,
	                    info: data['msg']
	                })
	            }
	        },
	        error: function(resp) {
	            var errMsg = '保存失败';
	            if (resp.errMsg) {
	                errMsg = resp.errMsg;
	            } else if (resp.data && resp.data['msg']) {
	                errMsg = resp.data['msg']
	            }

	            $('body').alert({
	                isShow: true,
	                info: errMsg,
	                speed: 2000,
	                callBack: function() {
	                    // window.location.reload();
	                }
	            });
	        }
	    });
	});
});
</script>
{% endblock %}