{% extends "webapp_content_base.html" %}
{% load mall_filter %}

{% block content-panel %}
<div id="dj_request_owner_id" class="xui-productReviewCreatePage pb10" data-value="{{request.webapp_owner_id}}">
    <div class="xui-title pr">
       <a href="###"><i onclick="javascript:history.back(-1);"></i></a>
        <span class="em9">追加晒图</span>
    </div>
    <div id="dj_order_id"class="xui-productReview" data-value="{{order_id}}">
        <div class="xui-product disT mb15 w">
            <div class="xui-productImg disTc">
                <img src="{{product.thumbnails_url}}" data-allow-autoplay="false">
            </div>
            <div id="dj_product_id" class="productInfo disTc vt pl10" data-value="{{product.id}}">
                <div class="xui-productname em85 c65">{{product.name}}</div>
                <div class="xui-productSpecificationAndPrice mt10">
                    {% for model in order_has_product.product.custom_model_properties%}
                        {% if forloop.first %}{{model.property_value}}
                        {% else %}/ {{model.property_value}}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="dj_product_review_id" class="xui-reviewGrade" data-value="{{product_review.id}}">
            <span class="c3 em9">商品评价</span>
            <span class="xui-starGrade xa-starGrade">
                <span id='dj_product_score' data-value="{{product_review.product_score}}" class="xui-starGrade xui-starGrade{{product_review.product_score}}">
                </span>
            </span>
        </div>
        <div class="xui-reviewText">
            <div class="pr xui-reviewHint">
                <textarea id='dj_review_detail' cols="30" rows="10" class="em8"></textarea>
                <div class="pa em8 xui-i-box p5" style="top:0;left:0;margin-top:8px;color:#cbcbcb">
                    {{product_review.review_detail}}
                </div>
            </div>
        </div>
        <div class="xui-productPhoto mt10">
            <div class="xui-photo fl pr">
                <i></i>
            <input id="" name="imgFile123"  data-ui-role="uploadImage" type="file" style="opacity:0;top:0;left:0;width:45px;height:45px;" class="pa">
            </div>
            <span class="em75 xa-text">上传图片</span>
        </div>
    </div>
    <div class="xui-serviceReview mt10 mb20">
        {% if has_order_review %}
        <h2 class="c3 em9">
            服务评分
            <span id="dj_order_review_is_created" data-value="1" class="cRed fr">已完成</span>
        </h2>
        {% else %}
        <h2 class="c3 em9">
            服务评分
            <span id="dj_order_review_is_created" data-value="0" class="cRed fr"></span>
        </h2>
        {% endif %}
    </div>
    <input type="submit" class="xui-reviewBtn xa-reviewBtn em95 mb10" value="追加晒图">
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/termite_static/v3/gmu/widget/addImg.js"></script>
<script>
$(document).ready(function(){
    var $textarea = $('textarea');
    var insetNum = $textarea.val().length;
        $('input[type="submit"]').on('click', function(e){
            e.preventDefault();
            var product_review_id = $("#dj_product_review_id").data('value')
            var picture_list = [];
            $('.xui-uploadImage img').each(function(){
                      if($(this).attr('src').indexOf('data:image') != -1){picture_list.push($(this).attr('src'))}
              });
            W.getApi().call({
                app:'webapp',
                api:'project_api/call',
                method:'post',
                args:_.extend({
                    target_api:'product_review_picture/update',
                    module:'mall',
                    woid:W.webappOwnerId,
                    product_review_id: product_review_id,
                    picture_list: JSON.stringify(picture_list),
                }),
                success:function(data){
                    successful_url = "./?module=mall&model=product_review&action=redirect&identify="+data;
                    _.delay(function() { 
                        window.location.href = successful_url;
                    }, 500)
                },
                error: function(data){
                    alert('error');
                    return ;
                },
            });

        });
});
</script>
<script type="text/javascript" src="/termite_static/v3/gmu/widget/addImg.js"></script>
{% endblock %}
