{% extends "webapp_content_base.html" %}
{% load common_tag %}

{% block content-panel %}
<div class="xui-reviewAllPage xui-page">
	<div class="xui-title pr">
		<i data-ui-role="goBack"></i>
		<span class="em9">更多评价</span>
	</div>
	<div class="xui-content">
		<ul class="xui-reviewlist">
			{% for review in product_review_list %}
				<li style="border-top:1px solid #efefef;">
			        <div class="clearfix pb10" style="padding-top:12px;">
			            <div class="fl">
				            <div class="xui-user">
				                <img src="{% if review.user_icon %}{{ review.user_icon }}{% else %}/static/img/user-1.jpg{% endif %}" data-allow-autoplay="true">
				            </div>
			                <span class="ml5 xa-memberName">
			                	{% autoescape off %}
			                		{{review.member_name }}
			                	{% endautoescape %}
			                </span>
			            </div>
			            <span class="fr" style="line-height:30px;">{{ review.created_at|date:"Y-m-j" }}</span>
			        </div>
			        <p class="em85 c6">{{ review.review_detail }}</p>
					{% if review.custom_model_properties %}
					<div class="pt5">
                        {% for property in review.custom_model_properties %}
                        <span class="mr10">{{ property.property_value }}</span>
                        {% endfor %}
					</div>
					{% endif %}
					{% if review.pictures %}
					<div class="xui-reviewImg clearfix mt10">
						{% for picture in review.pictures %}
			                {% ifequal picture|truncatechars:18 'http://weappimg...'%}
							<img width="50" height="50" src="{{picture}}!60" full-src="{{picture}}">
			                {% else %}
							<img width="50" height="50" src="{{picture}}">
			                {% endifequal%}
						{% endfor %}
					</div>
					{% endif %}
			    </li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endblock %}

{% block js %}
<script>
	$(document).ready(function(){
		var spanMemberName = $(".xa-memberName");
		for(var i = 0; i < spanMemberName.length; i++) {
			var str = $(spanMemberName[i]).text().trim();
			var str_name = str.substring(0,1)+"**"+str[str.length-1];
			$(spanMemberName[i]).html(str_name)
		}
	})
</script>
{% endblock %}
