{% extends "content_base_v2.html" %}
{% load apps_filter %}

{% block css%}
	<style>
		.tl.pl25 img{
			height: 60px;
			width: 60px;
		}
		.wui-create-player{
			min-height: 810px;
		    background-color: #E9EDF5;
		}
		.wui-create-player label{
			text-align: right;
			margin-right: 20px;
		}    
		.wui-create-player input[type='text'],.wui-create-player select{
			width: 150px;
		}  
		.wui-create{
			height: 34px;
			width: 90%;
		    margin: 20px 0 34px 43px;
	        font-size: 16px;
   			font-weight: bold;
   			border-bottom: 1px solid #000;
		}
		.wui-upload-img{
			width: 100px;
			height: 100px;
			display: none;
			float: right;
			margin-right: 65%;
		}
		.wui-upload-img-div{
			height: 100px;
		    margin-top: 30px;
		}
		.edui-default .edui-editor{
			margin-left: 134px;
		}
		#swipe_images-queue,#swipe_images_des-queue{
			display: none;
		}
		#swipe_images-button,#swipe_images_des-button{
			background-image: url('/static_v2/img/editor/addProduct.png');
			height :69px !important;
		}
		.uploadify-button-text{
			display: none;
		}
		.uploadify-button{
		    box-shadow: 0px 0px 0 #989797;
		    background-color: #E9EDF5;
		}
		#imgSelect{
			width: 90px;
		}
		.wui-details{
			width: 50%;
			height: 200px !important;
			vertical-align: text-top;
		}
		.wui-img-container{
			margin-left: 140px;
		}
		.wui-img-container .wui-upload-img-des{
			width: 200px;
			margin-right: 10px;
		}
		.wui-btn-container{
			width: 206px;
		    margin-left: 275px;
		}
		.wui-btn-container .wui-submit{
			margin-right: 10px;
		}
	</style>
{% endblock%}

{% block content-panel %}
<div class="xui-ShvoteParticipancesAppPage xui-appPage-commonStyle">
	<div class="relative">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
			<li><a href="/apps/">百宝箱</a></li>
			<li class="active">微信投票</li>
		</ul>
	</div>
	<!--查看选手-->
	{% if cur_player_info %}
	<div class="panel panel-default wui-create-player">
		<div class="wui-create">选手详情</div>
		<img class="wui-upload-img wa-upload-img" src="{{cur_player_info.icon}}" style="display:block">
		<div class="form-group wui-upload-img-div">
			<label class="control-label fl" for="swipe_images">上传头像</label>
			<div id="imgSelect" class="col-sm-9">
		        <input id="swipe_images" name="swipe_images" type='hidden' />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label fl" for="player_name">名称</label>
			<input type="text" class="form-control" name="player_name" id="player_name" value="{{cur_player_info.name}}"/>
		</div>
		<div class="form-group">
			<label class="control-label fl" for="group">选择分组</label>
			<select id="group" name="group" class="form-control">
				<option>{{cur_player_info.group}}</option>
			</select>
		</div>
		<div class="form-group">
			<label class="control-label fl" for="serial_number">输入编号</label>
			<input type="text" class="form-control" name="serial_number" id="serial_number" value="{{cur_player_info.serial_number}}"/>
		</div>
		<div class="form-group">
			<label class="control-label" for="details">详情</label>
			<!-- <span class="xui-fontGary" style="font-weight: lighter;">（上传图片要求宽度在480-620之间,高度小于等于960,大小不超过500K）</span> -->
			<textarea class="wui-details" id="details" name="details">
				{{cur_player_info.details}}
			</textarea>
		</div>
		<div class="form-group wui-upload-img-div">
			<label class="control-label fl" for="swipe_images_des">上传图片</label>
			<div id="imgSelect" class="col-sm-9">
		        <input id="swipe_images_des" name="swipe_images_des" type='hidden' />
			</div>
		</div>
		<div class="wui-img-container wa-img-container">
			{% for src in cur_player_info.pics %}
			<img class="wui-upload-img-des wa-upload-img-des" src="{{src}}">'
			{% endfor %}
		</div>
		<div class="wui-btn-container">
<!-- 			<button class="btn btn-primary wui-submit wa-submit">提交</button> -->
			<button class="btn btn-primary">取消</button>
		</div>
	</div>
	<!--创建选手-->
	{% else %}
	<div class="panel panel-default wui-create-player">
		<div class="wui-create">创建选手</div>
		<img class="wui-upload-img wa-upload-img" src="">
		<div class="form-group wui-upload-img-div">
			<label class="control-label fl" for="swipe_images">上传头像</label>
			<div id="imgSelect" class="col-sm-9">
		        <input id="swipe_images" name="swipe_images" type='hidden' />
			</div>
		</div>
		<div class="form-group">
			<label class="control-label fl" for="player_name">名称</label>
			<input type="text" class="form-control" name="player_name" id="player_name"/>
		</div>
		<div class="form-group">
			<label class="control-label fl" for="group">选择分组</label>
			<select id="group" name="group" class="form-control">
				{% for group in groups%}
				<option>{{group}}</option>
				{% endfor %}
			</select>
		</div>
		<div class="form-group">
			<label class="control-label fl" for="serial_number">输入编号</label>
			<input type="text" class="form-control" name="serial_number" id="serial_number"/>
		</div>
		<div class="form-group">
			<label class="control-label" for="details">详情</label>
			<!-- <span class="xui-fontGary" style="font-weight: lighter;">（上传图片要求宽度在480-620之间,高度小于等于960,大小不超过500K）</span> -->
			<textarea class="wui-details" id="details" name="details">
			</textarea>
		</div>
		<div class="form-group wui-upload-img-div">
			<label class="control-label fl" for="swipe_images_des">上传图片</label>
			<div id="imgSelect" class="col-sm-9">
		        <input id="swipe_images_des" name="swipe_images_des" type='hidden' />
			</div>
		</div>
		<div class="wui-img-container wa-img-container"></div>
		<div class="wui-btn-container">
			<button class="btn btn-primary wui-submit wa-submit">提交</button>
			<button class="btn btn-primary">取消</button>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}


{% block js %}

<script type="text/javascript">
$(document).ready(function() {
	$('.wa-submit').click(function(event) {
		var head_img_src = $('.wa-upload-img').attr('src');
		var player_name = $.trim($('#player_name').val());
		var group = $.trim($('#group').val());
		var serial_number = $.trim($('#serial_number').val());
		var details = $.trim($('#details').val());
		var img_arr = [];
		$('.wa-upload-img-des').each(function(index, el) {
			var src = $(el).attr('src');
			img_arr.push(src);
		});
		W.getApi().call({
			method: 'post',
			app: 'apps/shvote',
			resource: 'shvote_create_player',
			args: {
				webapp_owner_id: W.webappOwnerId,
				head_img_src: head_img_src,
				player_name: player_name,
				group: group,
				serial_number: serial_number,
				details: details,
				img_des_srcs: JSON.stringify(img_arr)
			},
			success: function(resp){
				W.showHint('success', '创建选手成功！');
				href = "/apps/shvote/shvote_registrators/?id={{id}}";
				setTimeout(function(){
					window.location.href = href
				},3000);
			},
			error: function(error){
				W.showHint('error', '创建选手失败！');
			}
		});
	});

	//初始化上传组件参数
    var swf = '/static/uploadify.swf',
        overrideEvents = ['onError', 'onUploadSuccess'],
        multi = false,
        removeCompleted = false,
        uploader = '/apps/shvote/api/upload_img/',
        cancelImg = '/static/img/cancel.png',
        buttonText = '上传头像',
        fileTypeExts = '*.jpg',
        method = 'post',
        removeTimeout = 0.0,
        width = 80,
        height = 80,
        formData = {
            'owner_id': '{{ request.webapp_owner_id }}'
        },
        onError = function(errorType,file) {
            xlog(errorType);
            xlog(file.name);
        };

	//初始化上传组件
    $("#swipe_images").uploadify({
        overrideEvents: overrideEvents,
        swf: swf,
        width: width,
        height: height,
        multi: multi,
        removeCompleted: removeCompleted,
        uploader: uploader,
        cancelImg: cancelImg,
        buttonText: buttonText,
        fileTypeDesc: '上传头像',
        fileTypeExts: fileTypeExts,
        method: method,
        removeTimeout: removeTimeout,
        formData: $.extend(formData, {
            'cat': 'swipe_images'
        }),
        onUploadStart: function(file){
            if(file && file.name.substring(file.name.length - 3,file.name.length) == 'jpg'){}else{
                W.showHint('error', '请上传jpg类型的图片');
                $("#swipe_images").uploadify('cancel', '*');
                $("#swipe_images").uploadify('stop');
            }
        },
        onUploadSuccess : function(file, response, status) {
            response = JSON.parse(response);
            if(response.code == 200){
                $('.wa-upload-img').attr('src',response.data).show().css('display','inline-block');
            }else{
                 W.showHint('error', response.errMsg);
            }
        },
        onSelect: function(file) {
            var $queues = $('#swipe_images-queue').children();
            if($queues.length > 1){
                $queues.eq(0).remove();
            }
        },
        onError: onError
    });
    $("#swipe_images_des").uploadify({
        overrideEvents: overrideEvents,
        swf: swf,
        width: width,
        height: height,
        multi: multi,
        removeCompleted: removeCompleted,
        uploader: uploader,
        cancelImg: cancelImg,
        buttonText: buttonText,
        fileTypeDesc: '上传图片',
        fileTypeExts: fileTypeExts,
        method: method,
        removeTimeout: removeTimeout,
        formData: $.extend(formData, {
            'cat': 'swipe_images_des'
        }),
        onUploadStart: function(file){
            if(file && file.name.substring(file.name.length - 3,file.name.length) == 'jpg'){}else{
                W.showHint('error', '请上传jpg类型的图片');
                $("#swipe_images_des").uploadify('cancel', '*');
                $("#swipe_images_des").uploadify('stop');
            }
        },
        onUploadSuccess : function(file, response, status) {
            response = JSON.parse(response);
            if(response.code == 200){
                $('.wa-img-container').append('<img class="wui-upload-img-des wa-upload-img-des" src='+response.data+'>')
            }else{
                 W.showHint('error', response.errMsg);
            }
        },
        onSelect: function(file) {
            var $queues = $('#swipe_images-queue').children();
            if($queues.length > 1){
                $queues.eq(0).remove();
            }
        },
        onError: onError
    });
});
</script>
{% endblock %}

