{% extends "content_base_v2.html" %}
{% load common_tag %}
{% load account_filter %}
{% block css %}
<style type="text/css">
.xi-member-name {
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  width: 152px;
	  display: inline-block;
}
.dropdown-menu>li>a {
	border-radius: 5px;
}
.coupon_name_in_dialog {
	display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
	width:135px!important;
}
</style>
{% endblock %}
{% block content-panel %}
    <div class="xui-page-memberDetail">
    <ul class="breadcrumb">
		<li>您当前所在位置</li>
		<li>
			<a href="/member/member_list/">会员列表</a>
		</li>
		<li class="active">会员详情</li>
	</ul>
	<div class="xui-member-info-panel">
		<div class="xui-infoTop clearfix">
    	<div class="xui-img" style="background-image: url({{show_member.user_icon}}); background-size:100%;" ></div>

			<p class="">
				<span class="xui-membername">{{ show_member.username_for_html|safe }}</span>
				<a class="xui-borderBtn" href="/new_weixin/realtime_messages_detail/?session_id={{show_member.session_id}}" {% if show_member.session_id == -1 %}title="暂无对话" onclick="return false"{% endif %}>聊天记录</a>
			</p>
			<dl class="xui-accounting clearfix fl">
				<dd>
					<p>{{show_member.pay_times}}</p>
					<p>购买次数</p>
				</dd>
				<dd>
					<p>{{show_member.pay_money}}</p>
					<p>实付总额</p>
				</dd>
				<dd>
					<p>{{show_member.unit_price}}</p>
					<p>平均客单价</p>
				</dd>
				<dd>
					<p>￥{{show_member.weizoom_card_total_money}}</p>
					<p>微众卡使用金额</p>
				</dd>
				<dd>
					<p><a href="javascript:void(0);" class="relation-text">{{show_member.friend_count}}</a></p>
					<p>好友数</p>
				</dd>
			</dl>
			<div class="fr" style="margin-top:-15px;">
				<p class="mb5 tr">关注时间：{{ show_member.created_at|date:"Y-m-j" }}<span class="ml10">
				{% if show_member.source == 0 %}
					直接关注
				{% endif %}
				{% if show_member.source == 1 %}
					推广扫码
				{% endif %}
				{% if show_member.source == 2 %}
					会员分享
				{% endif %}
				{% if show_member.source == -1 %}
					直接关注
				{% endif %}</span></p>
				<p class="mb0">最近交易时间：{{ show_member.last_pay_time|date:"Y-m-j H:i" }}</p>
			</div>
		</div>
		<div class="xui-infoEdit clearfix">
			<div class="xui-left">
				<div class="xui-fieldwrap">
      		<label>会员等级：</label>
      		<div class="xui-value">
      			<select type="text" class="w120 m0 form-control xa-isEdited hidden" id="grade_id">
      				<option  value="-1" >请选择等级</option>
        			{% for grade in grades%}
							<option value="{{ grade.id }}" {% ifequal grade.id show_member.grade.id %}selected="selected"{% endifequal %}>{{ grade.name }}</option>
							{% endfor %}
						</select>
						<span class="xa-display">{{show_member.grade.name}}</span>
					</div>
				</div>
				<div class="xui-fieldwrap">
      		<label>性别：</label>
      		<div class="xui-value">
	      		<span class="xa-isEdited hidden">
	      			<input name="sex_type" type="radio" value="1" {% ifequal show_member_info.sex 1 %}checked {% endifequal %}/><span class="ml5">男</span>
							<input name="sex_type" type="radio" value="2" {% ifequal show_member_info.sex 2 %}checked {% endifequal %} class="ml20"/>	<span class="ml5">女</span>
							<input class="ml20" name="sex_type" type="radio" value="0" {% ifequal show_member_info.sex 0 %}checked {% endifequal %}/><span class="ml5">未知</span>
						</span>
						<span class="xa-display">{% if show_member_info.sex == 1 %}男{% elif show_member_info.sex == 2 %}女{% else %}未知{% endif %}</span>
					</div>
				</div>
				<div class="xui-fieldwrap">
      		<label>绑定手机：</label>
      		<div class="xui-value">
	      		<span class="xa-isEdited hidden">
	      			<input  class="form-control" id="phone_number" value="{% ifequal show_member_info.is_binded 1 %}{{show_member_info.phone_number}}{% endifequal %}"  type="text" data-validate="norequire,,require-mobile-phone::请输入正确的手机号" placeholder="11位手机号">
	      			<div class="errorHint"></div>
	      		</span>
	      		<span class="xa-display">{% if show_member_info.is_binded == 1 %}{{show_member_info.phone_number}}{% else %}-{% endif %}</span>
					</div>
				</div>
				<div class="xui-fieldwrap">
      		<label>备注姓名：</label>
      		<div class="xui-value">
      			<input class="form-control xa-isEdited hidden" type="text" id="name" name="name" placeholder="不超过8个字符" maxlength="8" value="{% if show_member_info %}{{ show_member_info.name }}{% endif %}" />
      			<span class="xa-display">{% if show_member_info.name %}{{ show_member_info.name }}{% else %}-{% endif %}</span>
					</div>
				</div>
				<div class="xui-fieldwrap">
      		<label>所在分组：</label>
      		<div class="xui-value">
      			<div class="tag-group xui-tagGroup" title="{% for tag in member_has_tags %}{{ tag.member_tag.name }}  {% endfor %}">
      			{% for tag in member_has_tags %}
            <span class="mr10">{{ tag.member_tag.name }}</span>
            <input name = "tag_id" class="tag_id" id = "tag_id" hidden="hidden" value="{{ tag.member_tag.id }}">
            {% endfor %}
            </div>
            <a href="javascript:void(0);" class="xa-update-tag xui-borderBtn xa-isEdited hidden">修改</a>
					</div>
				</div>
			</div>
			<div class="xui-right">
				<div class="xui-fieldwrap">
      		<label>积分：</label>
      		<div class="xui-value f14">
      			<span style="min-width: 35px;display: inline-block;">{{show_member.integral}}</span>
            <a href="javascript:void(0);" class="xa-update-integral xui-borderBtn xa-isEdited hidden" data-id="${member.id}">调积分</a>
            <a href="javascript:void(0);" class="xa-show-integral xui-borderBtn">查看</a>
					</div>
				</div>
				<div class="xui-fieldwrap">
      		<label>优惠券：</label>
      		<div class="xui-value f14">
      			<span style="min-width: 35px;display: inline-block;"><span class="xui-bold">{{coupons|length}}</span>&nbsp;个</span>
      			<a href="javascript:void(0);" class="xui-borderBtn xa-coupon">查看</a>
					</div>
				</div>
				<div class="xui-fieldwrap">
      		<label class="vt">备注信息：</label>
      		<div class="xui-value f14">
      			<textarea class="xui-textarea-mark xa-isEdited hidden" id="member_remarks" name="member_remarks" placeholder="" rows=4 value="{{ show_member_info.member_remarks }}">{{ show_member_info.member_remarks }}</textarea>
						<span class="xa-display f12">{% if show_member_info.member_remarks %}{{show_member_info.member_remarks}}{% else %}-{% endif %}</span>
					</div>
				</div>
			</div>
			<input type="submit" class="btn btn-success xui-btn-save hidden xa-isEdited" id="submitBtn" value="保存" />
			<input type="submit" class="btn btn-success xui-btn-save xa-display" id="edit" value="编辑" />
		</div>
	</div>
	<div>
		<ul class="nav nav-tabs mt14" id="tab">
			<li class="xa-count active" data-total-status-value="-1"><a href="#purchasingOrders">购买订单</a></li>
  		<li class="xa-count" data-total-status-value="0"><a href="#transmission">传播能力</a></li>
  		<li class="xa-count" data-total-status-value="3"><a href="#shipInfos">收货信息</a></li>
  		<li class="xa-count" data-total-status-value="4"><a href="#prints">浏览轨迹</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
	  	<div class="tab-pane fade in active" id="purchasingOrders">
	      <p>订单总额：￥{{show_member.pay_money}}</p>
	      <div
          data-ui-role="advanced-table"
          data-app="member"
          data-resource="order_list"
          data-enable-paginator="true"
          data-template-id="#mall-member-orders-view"
          data-item-count-per-page="6"
          data-selectable = "false"
          data-args='{"id": {{show_member.id}}}'
        >
        </div>
	   	</div>
	   	<div class="tab-pane fade" id="transmission">
	      <p>
		      二维码引流会员数量：<a href="javascript:void(0);" class="xui-color-blue friends" data-value="qrcode">{{qrcode_friends}}</a>人
		      <span class="ml50">
		      分享链接引流会员数量：<a href="javascript:void(0);" class="xui-color-blue friends" data-value="shared">{{shared_url_lead_number}}</a>人
		      </span>
		      <span class="ml50">
		      购买转化会员数量：<a href="javascript:void(0);" class="xui-color-blue friends" data-value="purchase">{{purchased_fans}}</a>人
		      </span>
		      <span class="ml50">
		      转化率：{{conversion_rate}}%
		      </span>
	      </p>
	      <div
          data-ui-role="advanced-table"
          data-app="member"
          data-resource="spread"
          data-enable-paginator="true"
          data-template-id="#mall-member-transmission-view"
          data-item-count-per-page="6"
          data-selectable = "false"
          data-args='{"member_id": {{show_member.id}}}'
        >
        </div>
	   	</div>
	   	<div class="tab-pane fade" id="shipInfos">
	      <div
          data-ui-role="advanced-table"
          data-app="member"
          data-resource="member_shipinfo"
          data-enable-paginator="true"
          data-template-id="#mall-member-shipInfos-view"
          data-item-count-per-page="6"
          data-selectable = "false"
			  	data-args='{"id": {{show_member.id}}}'
        >
        </div>
	   	</div>
	   	<div class="tab-pane fade" id="prints">
	      <p>
	      	<div
	          data-ui-role="advanced-table"
	          data-app="member"
	          data-resource="member_browse_record"
	          data-enable-paginator="true"
	          data-template-id="#mall-member-browse-record-view"
	          data-selectable = "false"
			  		data-item-count-per-page="6"
			  		data-args='{"id": {{show_member.id}}}'
	        >
        	</div>
	      </p>
	   	</div>
		</div>
	</div>

{% endblock %}

{% block dialog %}
{% endblock %}

{% block js %}
{% verbatim %}
<script id="mall-member-orders-view" type="text/x-jquery-tmpl">
	<table class="table table-bordered xb-noTdLRBorder xb-theadBg">
		<thead>
			<th width="220">订单号</th>
			<th width="280">实付金额</th>
			<th width="230">下单时间</th>
			<th>订单状态</th>
		</thead>
		<tbody>
		{{if items.length}}
			{{each(i, item) items}}
			<tr>
				<td><span class="xui-color-blue xui-bold"><a href="/mall2/order/?order_id=${id}" target="_blank">${order_id}</a><span></td>
				<td>${final_price}</td>
				<td>${created_at}</td>
				<td>
				{{if order_status == 0}}
					待支付
				{{/if}}
				{{if order_status == 1}}
					已取消
				{{/if}}
				{{if order_status == 2}}
					已付款
				{{/if}}
				{{if order_status == 3}}
					待发货
				{{/if}}
				{{if order_status == 4}}
					已发货
				{{/if}}
				{{if order_status == 5}}
					已完成
				{{/if}}
				{{if order_status == 6}}
					退款中
				{{/if}}
				{{if order_status == 7}}
					退款成功
				{{/if}}
				</td>
			</tr>
			{{/each}}
		{{else}}
			<tr rowspan='6' ><td colspan='4' class="h130 xui-fontGary" >暂无数据</td></tr>
		{{/if }}
		</tbody>
	</table>
</script>
<script id="mall-member-transmission-view" type="text/x-jquery-tmpl">
	<table class="table table-bordered xb-noTdLRBorder xb-theadBg xui-transmission">
		<thead>
			<th width="450">分享链接</th>
			<th width="150">点击</th>
			<th width="130">关注转化</th>
			<th width="250">购买转化</th>
		</thead>
		<tbody>
		{{if items.length}}
			{{each(i, item) items}}
			<tr>
				<td class="tl pl50">${title}</td>
				<td>${pv}</td>
				<td>${followers}</td>
				<td>${leadto_buy_count}</td>
			</tr>
			{{/each}}
		{{else}}
			<tr rowspan='6' ><td colspan='4' class="h130 xui-fontGary" >暂无数据</td></tr>
		{{/if }}
		</tbody>
	</table>
</script>

<script id="mall-member-shipInfos-view" type="text/x-jquery-tmpl">
	<table class="table table-bordered xb-noTdLRBorder xb-theadBg">
		<thead>
			<th width="220">收货人</th>
			<th class="tl pl40">收货地址</th>
			<th width="245" class="tl pl40">电话/手机号</th>
		</thead>
		<tbody>
		{{if items.length}}
			{{each(i, item) items}}
			<tr>
				<td>${ship_name}</td>
			  <td class="tl pl20">${area}${ship_address}</td>
			  <td class="tl pl30">${ship_tel}
			  	{{if is_selected}}
			  		<span class="xui-default-shipInfo">默认地址</span>
			  	{{/if}}
			  </td>
			</tr>
			{{/each}}
		{{else}}
			<tr rowspan='6' ><td colspan='3' class="h130 xui-fontGary" >暂无数据</td></tr>
		{{/if }}
		</tbody>
	</table>
</script>
<script id="mall-member-browse-record-view" type="text/x-jquery-tmpl">
	<table class="table table-bordered xb-noTdLRBorder xb-theadBg xui-browseRecord">
		<thead>
			<th width="220">时间</th>
			<th class="tl pl100">页面名称</th>
		</thead>
		<tbody>
		{{if items.length}}
			{{each(i, item) items}}		
			<tr>
				<td>${create_at}</td>
			  <td class="tl pl80">${tittle}</td>
			</tr>
			{{/each}}
		{{else}}
			<tr rowspan='6' ><td colspan='2' class="h130 xui-fontGary" >暂无数据</td></tr>
		{{/if }}
		</tbody>
	</table>
</script>
{% endverbatim %}
	<script type="text/javascript">
	$('#tab a').click(function(event) {
		event.preventDefault();
    $(this).tab('show');
	});
		var memberId = '{{ show_member.id }}';

		// 优惠劵
		$('.xa-coupon').click(function(event) {
			W.dialog.showDialog('W.member.dialog.MemberDetailCouponsDialog', {
				memberId: memberId
	      	});
		});

		// 传播能力
		$('.friends').click(function(event){
			var $el = $(event.currentTarget);
			var data_value = $el.attr('data-value');
			// if ($el.html() == '0') {
			// 	return false;
			// }

			W.dialog.showDialog('W.member.dialog.MemberDetailRelationsDialog', {
				memberId: memberId,
				friendCount: 0,
				fansCount: 0,
				dataValue: data_value
	      	});
		})

		// 修改分组
		$('body').delegate('.xa-update-tag', 'click', function(event){
			var $el = $(event.currentTarget);
			var member_id = memberId;

			var memberTagsUpdateView = W.getMemberTagsUpdateView({
				width: 260,
				title: '修改分组',
				position:'top',
				isTitle: false,
				privateContainerClass:'xui-updateGradeOrTagBox',
				isPostData: false
			});
			memberTagsUpdateView.show({
				$action: $el,
				isUpdateGrade: false,
				memberId: member_id,
				isPostData: false
			})
	        memberTagsUpdateView.render();
		});

		$('.xa-show-integral').click(function(){
			W.dialog.showDialog('W.dialog.member.MemberIntegralDialog', {
				memberId: memberId,
			    success: function(data) {
	    			// W.getLoadingView().show();
	    			window.location.reload();
			    }
			});
		});
		var isEdited=false;
		$('#edit').click(function(event) {
			$('.xa-isEdited').removeClass('hidden');
			$('.xa-display').addClass('hidden');
			isEdited=true;
		})
	// 修改积分
	$('.xa-update-integral').click(function(event){
		var $el = $(event.currentTarget);

		var memberIntegralUpdateView = W.getMemberIntegralUpdateView({
			width: 310,
			title: '调积分',
			position:'top',
			isTitle: false,
			privateContainerClass:'xui-updateBox'
		});
		memberIntegralUpdateView.show({
			$action: $el,
			memberId: memberId,
		})
        memberIntegralUpdateView.render();

	});
	$('.relation-text').click(function(event) {
				var _this = this;

				var memberId = {{ show_member.id }};
				W.dialog.showDialog('W.dialog.member.RelationsDialog', {
					memberId: memberId,
					isReload:true,
					onlyFans:true
				});
		});
		//提交
		$('#submitBtn').click(function() {
			if (!W.validate()) {
				return false;
			}
			var memberId = {{ show_member.id }};

			var gradeId = $('#grade_id').val();

			if (gradeId == '-1'){
				W.showHint('error', '请选择等级');
				return false
			}
			var name = $('#name').val();
			var sex = $('input[name=sex_type]:radio:checked').val();
			var memberRemarks = $('#member_remarks').val();

			var phoneNumber = $('#phone_number').val();
			/*if ((isNaN(phone_number) || phone_number.length != 11)) {
				W.getErrorHintView().show("请输入正确手机号")
				return false
			}*/
			if (!sex) {
				sex = 0;
			}
			var tag_ids = [];
			$(".tag_id").each(function() {
				tag_ids.push(this.value)
			});

			W.getApi().call({
				method: 'post',
				app: 'member',
				resource:'detail',
				args: {
					member_id: memberId,
					grade_id: gradeId,
					name: name,
					sex: sex,
					phone_number: phoneNumber,
					member_remarks: memberRemarks,
					tag_ids: tag_ids.join('_')
				},
				success: function(data) {
					W.showHint('success','保存成功！');
          window.location.reload();
          $('.xa-isEdited').addClass('hidden');
					$('.xa-display').removeClass('hidden');
        },
        error: function(resp) {
            if (resp.code === 400) {
                W.showHint('error', resp.errMsg);
            } else {
            W.showHint('error', '保存失败，请稍后重试！');
            }
        },
        scope: this
			});


		});
	</script>
{% endblock %}