{% extends "content_base_v2.html" %}
{% load common_tag %}
{% load account_filter %}
{% block css %}
<style type="text/css">
.xi-member-name {
	  overflow: hidden;
	  text-overflow: ellipsis;
	  white-space: nowrap;
	  width: 152px;
	  display: inline-block;
}
.dropdown-menu>li>a {
	border-radius: 5px;
}
.coupon_name_in_dialog {
	display:block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
	width:135px!important;
}
</style>
{% endblock %}
{% block content-panel %}
    <div class="xui-page-memberDetail">
    <ul class="breadcrumb">
		<li>您当前所在位置</li>
		<li>
			<a href="/member/member_list/">会员列表</a>
		</li>
		<li class="active">会员详情</li>
	</ul>
	<div class="xui-member-info-panel">
		<div class="xui-infoTop clearfix">
    	<div class="xui-img" style="background-image: url({{show_member.user_icon}}); background-size:100%;" ></div>

			<p class="">
				<span class="xui-membername">{{ show_member.username_for_html|safe }}</span>
				<a class="xui-borderBtn" href="/new_weixin/realtime_messages_detail/?session_id={{show_member.session_id}}" {% if show_member.session_id == -1 %}title="暂无对话" onclick="return false"{% endif %}>聊天记录</a>
			</p>
			<dl class="xui-accounting clearfix fl">
				<dd>
					<p>{{show_member.pay_times}}</p>
					<p>购买次数</p>
				</dd>
				<dd>
					<p>{{show_member.pay_money}}</p>
					<p>实付总额</p>
				</dd>
				<dd>
					<p>{{show_member.unit_price}}</p>
					<p>平均客单价</p>
				</dd>
				<dd>
					<p>￥{{show_member.weizoom_card_total_money}}</p>
					<p>微众卡使用金额</p>
				</dd>
				<dd>
					<p><a href="javascript:void(0);" class="relation-text">{{show_member.friend_count}}</a></p>
					<p>好友数</p>
				</dd>
			</dl>
			<div class="fr" style="margin-top:-15px;">
				<p class="mb5 tr">关注时间：{{ show_member.created_at|date:"Y-m-j" }} 直接关注</p>
				<p class="mb0">最近交易时间：{{ show_member.last_pay_time|unify_datetime }}</p>
			</div>
		</div>
		<div class="xui-infoEdit clearfix">
			<div class="xui-left">
				<div class="xui-fieldwrap">
      		<label>会员等级：</label>
      		<div class="xui-value">
      			<select type="text" class="w120 m0 form-control xa-isEdited hidden" id="grade_id">
      				<option  value="-1" >请选择等级</option>
        			{% for grade in grades%}
							<option value="{{ grade.id }}" {% ifequal grade.id show_member.grade.id %}selected="selected"{% endifequal %}>{{ grade.name }}</option>
							{% endfor %}
						</select>
						<span class="xa-display">普通会员</span>
					</div>
				</div>
				<div class="xui-fieldwrap">
      		<label>性别：</label>
      		<div class="xui-value">
	      		<span class="xa-isEdited hidden">
	      			<input name="sex_type" type="radio" value="1" {% ifequal show_member_info.sex 1 %}checked {% endifequal %}/><span class="ml5">男</span>
							<input name="sex_type" type="radio" value="2" {% ifequal show_member_info.sex 2 %}checked {% endifequal %} class="ml20"/>	<span class="ml5">女</span>
							<input class="ml20" name="sex_type" type="radio" value="0" {% ifequal show_member_info.sex 0 %}checked {% endifequal %}/><span class="ml5">未知</span>
						</span>
						<span class="xa-display">{% if show_member_info.sex == 1 %}男{% elif show_member_info.sex == 2 %}女{% else %}未知{% endif %}</span>
					</div>
				</div>
				<div class="xui-fieldwrap">
      		<label>绑定手机：</label>
      		<div class="xui-value">
	      		<span class="xa-isEdited hidden">
	      			<input  class="form-control" id="phone_number" value="{% ifequal show_member_info.is_binded 1 %}{{show_member_info.phone_number}}{% endifequal %}"  type="text" data-validate="norequire,,require-mobile-phone::请输入正确的手机号" placeholder="11位手机号">
	      			<div class="errorHint"></div>
	      		</span>
	      		<span class="xa-display">{% if show_member_info.is_binded == 1 %}{{show_member_info.phone_number}}{% else %}-{% endif %}</span>
					</div>
				</div>
				<div class="xui-fieldwrap">
      		<label>备注姓名：</label>
      		<div class="xui-value">
      			<input class="form-control xa-isEdited hidden" type="text" id="name" name="name" placeholder="不超过8个字符" maxlength="8" value="{% if show_member_info %}{{ show_member_info.name }}{% endif %}" />
      			<span class="xa-display">{% if show_member_info.name %}{{ show_member_info.name }}{% else %}-{% endif %}</span>
					</div>
				</div>
				<div class="xui-fieldwrap">
      		<label>所在分组：</label>
      		<div class="xui-value">
      			<div class="tag-group xui-tagGroup" title="{% for tag in member_has_tags %}{{ tag.member_tag.name }}  {% endfor %}">
      			{% for tag in member_has_tags %}
            <span class="mr10">{{ tag.member_tag.name }}</span>
            <input name = "tag_id" class="tag_id" id = "tag_id" hidden="hidden" value="{{ tag.member_tag.id }}">
            {% endfor %}
            </div>
            <a href="javascript:void(0);" class="xa-update-tag xui-borderBtn xa-isEdited hidden">修改</a>
					</div>
				</div>
			</div>
			<div class="xui-right">
				<div class="xui-fieldwrap">
      		<label>积分：</label>
      		<div class="xui-value f14">
      			<span style="min-width: 35px;display: inline-block;">{{show_member.integral}}</span>
            <a href="javascript:void(0);" class="xa-update-integral xui-borderBtn xa-isEdited hidden" data-id="${member.id}">调积分</a>
            <a href="javascript:void(0);" class="xa-show-integral xui-borderBtn">查看</a>
					</div>
				</div>
				<div class="xui-fieldwrap">
      		<label>优惠券：</label>
      		<div class="xui-value f14">
      			<span style="min-width: 35px;display: inline-block;"><span class="xui-bold">3</span>&nbsp;个</span>
      			<a href="javascript:void(0);" class="xui-borderBtn xa-coupon">查看</a>
					</div>
				</div>
				<div class="xui-fieldwrap">
      		<label class="vt">备注信息：</label>
      		<div class="xui-value f14">
      			<textarea class="xui-textarea-mark xa-isEdited hidden" id="member_remarks" name="member_remarks" placeholder="" rows=4 value="{{ show_member_info.member_remarks }}">{{ show_member_info.member_remarks }}</textarea>
						<span class="xa-display f12">{% if show_member_info.member_remarks %}{{show_member_info.member_remarks}}{% else %}-{% endif %}</span>
					</div>
				</div>
			</div>
			<input type="submit" class="btn btn-success xui-btn-save hidden xa-isEdited" id="submitBtn" value="保存" />
			<input type="submit" class="btn btn-success xui-btn-save xa-display" id="edit" value="编辑" />
		</div>
	</div>
	<div>
		<ul class="nav nav-tabs mt14" id="tab">
			<li class="xa-count active" data-total-status-value="-1"><a href="#purchasingOrders">购买订单</a></li>
  		<li class="xa-count" data-total-status-value="0"><a href="#transmission">传播能力</a></li>
  		<li class="xa-count" data-total-status-value="3"><a href="#shipInfos">收货信息</a></li>
  		<li class="xa-count" data-total-status-value="4"><a href="#prints">浏览轨迹</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
	  	<div class="tab-pane fade in active" id="purchasingOrders">
	      <p>订单总额：￥23951.00</p>
	      <div
          data-ui-role="advanced-table"
          data-app="mall2"
          data-resource="order_list"
          data-enable-paginator="true"
          data-template-id="#mall-member-orders-view"
          data-item-count-per-page="6"
          data-selectable = "false"
        >
        </div>
	   	</div>
	   	<div class="tab-pane fade" id="transmission">
	      <p>
		      二维码引流会员数量：<a href="javascript:void(0);" class="xui-color-blue friends" data-value="qrcode">{{qrcode_friends}}</a>人
		      <span class="ml50">
		      分享链接引流会员数量：<a href="javascript:void(0);" class="xui-color-blue friends" data-value="shared">{{shared_url_lead_number}}</a>人
		      </span>
		      <span class="ml50">
		      购买转化会员数量：<a href="javascript:void(0);" class="xui-color-blue friends" data-value="purchase">00</a>人
		      </span>
		      <span class="ml50">
		      转化率：70.1%
		      </span>
	      </p>
	      <div
          data-ui-role="advanced-table"
          data-app="mall2"
          data-resource="order_list"
          data-enable-paginator="true"
          data-template-id="#mall-member-transmission-view"
          data-item-count-per-page="6"
          data-selectable = "false"
        >
        </div>
	   	</div>
	   	<div class="tab-pane fade" id="shipInfos">
	      <div
          data-ui-role="advanced-table"
          data-app="member"
          data-resource="member_shipinfo"
          data-enable-paginator="true"
          data-template-id="#mall-member-shipInfos-view"
          data-item-count-per-page="6"
          data-selectable = "false"
			  	data-args='{"id": {{show_member.id}}}'
        >
        </div>
	   	</div>
	   	<div class="tab-pane fade" id="prints">
	      <p>
	      	<div
	          data-ui-role="advanced-table"
	          data-app="member"
	          data-resource="member_browse_record"
	          data-enable-paginator="true"
	          data-template-id="#mall-member-browse-record-view"
	          data-selectable = "false"
			  		data-item-count-per-page="6"
			  		data-args='{"id": {{show_member.id}}}'
	        >
        	</div>
	      </p>
	   	</div>
		</div>
	</div>
   <!--	<div class="xui-member-info-panel">
    	<div class="xui-infowrap">
    		<div class="xui-img-wrap">
    			 <div class="xui-img" style="background-image: url({{show_member.user_icon}}); background-size:100%;" ></div>
    			  <p class=" xui-membername">{{ show_member.username_for_html|safe }}</p>
    		</div>
    	</div>
    <div class="xui-infowrap">
      	<div class="xui-fieldwrap">
      		<div class="xui-name">关注时间：</div>
      		<div class="xui-value ">{{ show_member.created_at|date:"Y-m-j" }}</div>
      	</div>
      	<div class="xui-fieldwrap">
      		<div class="xui-name">会员等级：</div>
      		<div class="xui-value ">
      			<select   type="text" class="w120 m0 form-control" id="grade_id">
      				<option  value="-1" >请选择等级</option>
        			{% for grade in grades%}
							<option value="{{ grade.id }}"  {% ifequal grade.id show_member.grade.id %}selected="selected"{% endifequal %}>{{ grade.name }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="xui-fieldwrap">
		    	<div class="xui-name ">姓名：</div>
    			<div class="xui-value">
    				<input class="form-control fl" type="text" id="name" name="name" placeholder="不超过8个字符" maxlength="8" value="{% if show_member_info %}{{ show_member_info.name }}{% endif %}" />
					</div>
				</div>
				<div class="xui-fieldwrap">
      		<div class="xui-name">性别：</div>
      		<div class="xui-value">
      			<input name="sex_type" type="radio" value="1" {% ifequal show_member_info.sex 1 %}checked {% endifequal %}/><span class="ml5">男</span>
						<span class="ml20"><input name="sex_type" type="radio" value="2" {% ifequal show_member_info.sex 2 %}checked {% endifequal %}/>	<span class="ml5">女</span></span>
						<span class="ml20"><input name="sex_type" type="radio" value="0" {% ifequal show_member_info.sex 0 %}checked {% endifequal %}/><span class="ml5">未知</span></span>
					</div>
				</div>
				<div class="xui-fieldwrap">
      		<div class="xui-name">绑定手机：</div>
      		<div class="xui-value ">
      			<input  class="form-control" id="phone_number" value="{% ifequal show_member_info.is_binded 1 %}{{show_member_info.phone_number}}{% endifequal %}"  type="text" data-validate="norequire,,require-mobile-phone::请输入正确的手机号" placeholder="11位手机号">
      			<div class="errorHint"></div>
      		</div>
      		<div class="xui-name">上次交易时间：</div>
      		<div class="xui-value">{{ show_member.last_pay_time|unify_datetime }}</div>
				</div>
      </div>

    	<div class="xui-infowrap pt50">
    		<a href="/new_weixin/realtime_messages_detail/?session_id={{show_member.session_id}}" {% if show_member.session_id == -1 %}title="暂无对话" onclick="return false"{% endif %}>查看聊天记录</a>
    		<div class="xui-name">备注：</div>
    		<div class="xui-value">
    			<textarea class="xui-textarea-mark" id="member_remarks" name="member_remarks" placeholder="" rows=4 value="{{ show_member_info.member_remarks }}">{{ show_member_info.member_remarks }}</textarea>
    		</div>
    	</div>
			<div class="xui-fieldwrap tags">
			    <div class="xui-name w268 ">所在分组：</div>
        			<div class="w700 fl">
        			<div class="tag-group xui-group fl" >
        			{% for tag in member_has_tags %}
	                 <span class="mr30">{{ tag.member_tag.name }}</span>
	                 <input name = "tag_id" class="tag_id" id = "tag_id" hidden = "hidden" value="{{ tag.member_tag.id }}">
	                {% endfor %}
					</div>
					 <a class="xa-update-tag xui-notify ml10">修改</a>
					</div>
			</div>
			<div class="xui-fieldwrap tags">
			    <div class="xui-name w268 ">本店积分：</div>
        			<div class="w700 fl" style="padding-top:6px;">
	        			<div class="fl ml10" >
	        				{{show_member.integral}}

						</div>
						 <a href="javascript:void(0);" class="xa-update-integral ml15" data-id="${member.id}">调积分</a>
						 <a href="javascript:void(0);" class="xa-show-integral ml15">积分明细</a>
					</div>
			</div>
			<div class="xui-fieldwrap tags">
		    <div class="xui-name w268 ">好友数：</div>
  			<div class="w700 fl" style="padding-top:6px;">
    			<div class="fl ml10 relation-text" >
    				<a class="relation-text" href="javascript:void(0);" style="" friend_count='{{show_member.friend_count}}'>{{show_member.friend_count}}</a>
					</div>
				</div>
			</div>
    	<div class="xui-clear"></div>
      <div class="xui-btn-group tc mb20">
				<input type="submit" class="btn btn-primary xui-btn-save" id="submitBtn" value="保&nbsp;存" />
			</div>
        </div>
        <div class="xui-content xui-content-address">
				<div class="xui-rightPanelTitle">
					收货信息
				</div>
				{% if not ship_infos%}
					<div class="xui-emptyBox ">
						<div class="xui-i-emptyHint">
							<img src="/static_v2/img/editor/empty.png"/>
							<div>
								<span>暂无数据</span>
							</div>
						</div>
					</div>
					<div style="clear:both;"></div>

				{% else %}
					 {% for ship_info in ship_infos %}
					    <div class="xui-addresswaper fl">
					 	<div class="xui-address-left">
					 	 收货地址：</div> <div class="xui-address-right"><span >{{ship_info.province}}</span><span class="ml20">{{ship_info.city}}<span class="ml20">{{ship_info.village}}</span> <span class="xui-span-address">{{ship_info.ship_address}}</span> <br/>
					 	 收货人 {{ship_info.ship_name}} 电话 {{ship_info.ship_tel}}
					 </div>
					 </div>
					 {% endfor %}
					 <div style="clear:both;"></div>
				{% endif %}
	   </div>
	   <div class="xui-content">
				<div class="xui-rightPanelTitle">
					购买信息
				</div>
				{% if orders %}
		        <div class="xui-p-infowrap">
		        	<p class="xui-p-infowrap-left fl">
		        		平均客单价：
		        	</p>
		        	<p class="xui-p-infowrap-right fr">
		        		<span class="xui-color-red">{{show_member.unit_price}}</span>元
		        	</p>
		        	<p class="xui-p-infowrap-left fl">
		        		购买次数：
		        	</p>
		        	<p class="xui-p-infowrap-right fr">
		        		<span class="xui-color-red">{{show_member.pay_times}}</span>次
		        	</p>
		        	<p class="xui-p-infowrap-left fl">
		        		购买金额：
		        	</p>
		        	<p class="xui-p-infowrap-right fr">
		        		<span class="xui-color-red">{{show_member.pay_money}}</span>元
		        	</p>
		        </div>
		        <table class="xui-tab-memberifo">
		        	<thead >
		        		<tr style="position: relative; top:expression(this.offsetParent.scrollTop-2); ">
		        			<th>订单号</th>
		        			<th>订单金额（元）</th>
		        			<th>下单时间</th>
		        			<th>订单状态</th>
		        		</tr>
		        	</thead>
		        </table>
		        <div style="height:225px; overflow-y:scroll;">
		        <table class="xui-tab-memberifo" style="border:none;">

		        	<tbody>

						{% for order in orders %}
		        		<tr>
			        		<td><span class="xui-color-blue"><a href="/mall2/order/?order_id={{order.id}}" target="_blank">{{order.order_id}}</a><span></td>
			        		<td>{{ order.final_price|floatformat:"-2" }}</td>
			        		<td>{{ order.created_at|unify_datetime }}</td>
			        		<td>
			        			{% if order.status == 0 %}
									待支付
								{% endif %}

								{% if order.status == 1 %}
									已取消
								{% endif %}

								{% if order.status == 2 %}
									已付款
								{% endif %}

								{% if order.status == 3 %}
									待发货
								{% endif %}

								{% if order.status == 4 %}
									已发货
								{% endif %}

								{% if order.status == 5 %}
									已完成
								{% endif %}

								{% if order.status == 6 %}
									退款中
								{% endif %}

								{% if order.status == 7 %}
									退款成功
								{% endif %}

							</td>
		        	    </tr>
		        	    {% endfor %}

		        	</tbody>
				</table>
		    	</div>
		    	{% else %}
		    		<div class="xui-emptyBox ">
						<div class="xui-i-emptyHint">
							<img src="/static_v2/img/editor/empty.png"/>
							<div>
								<span>暂无数据</span>
							</div>
						</div>
					</div>
					<div style="clear:both;"></div>
		    	{% endif %}

	   </div>
	   <div class="xui-content">
				<div class="xui-rightPanelTitle">
					传播能力
				</div>
				{% if shared_url_infos or qrcode_friends %}
				 <div class="xui-p-infowrap-num">
				 	<div style="width: 332px;">
			        	<p class="xui-p-infowrap-left fl " style="  width: 130px;" >
			        		  二维码引流会员数量：
			        	</p>
			        	<p class="xui-p-infowrap-right fr">
			        		<span class="xui-color-blue"><a href="javascript:void(0);" data-value="qrcode" class="friends">{{qrcode_friends}}</a></span>人
			        	</p>
		        	</div>

		        	<div style="width: 332px;  width: initial;">
			        	<p class="xui-p-infowrap-left fl" style="  width: 140px;">
			        		分享链接引流会员数量：
			        	</p>
			        	<p class="xui-p-infowrap-right fr" style="  width: 150px;">
			        		<span class="xui-color-blue"><a href="javascript:void(0);" data-value="shared" class="friends">{{shared_url_lead_number}}</a></span>人
			        	</p>
		        	</div>

		        	<div style="width: 332px;  width: initial;">
			        	<p class="xui-p-infowrap-left fl" style="  width: 140px;">
			        		购买转化会员数量：
			        	</p>
			        	<p class="xui-p-infowrap-right fr" style="  width: 150px;">
			        		<span class="xui-color-blue"><a href="javascript:void(0);" data-value="purchase" class="friends">{{shared_url_lead_number}}</a></span>人
			        	</p>
		        	</div>
		        	<a class="xa-coupon">5656</a>
		        </div>
		        <table class="xui-tab-memberifo ">
		        	<thead>
		        		<tr>

		        			<th>分享链接</th>
		        			<th>点击</th>
		        			<th>关注转化</th>
		        			<th>购买转化</th>
		        		</tr>
		        	</thead>
		        </table>
		        <div style="height:225px; overflow-y:scroll;">
					<table class="xui-tab-memberifo" style="border:none">
			        	<tbody>
			        		{% for info in shared_url_infos %}
			        	    <tr>

				        		<td><strong>{{info.title}}</strong></td>
				        		<td>{{info.pv}}</td>
				        		<td>{{info.followers}}</td>
				        		<td>{{info.leadto_buy_count }}</td>
			        	    </tr>
			        	    {% endfor %}
			        	</tbody>

			        </table>
		        </div>
		        {% else %}
		        	<div class="xui-emptyBox ">
						<div class="xui-i-emptyHint">
							<img src="/static_v2/img/editor/empty.png"/>
							<div>
								<span>暂无数据</span>
							</div>
						</div>
					</div>
					<div style="clear:both;"></div>
		     {% endif %}
	   </div>
	   <div class="xui-content">
				<div class="xui-rightPanelTitle">
					<p class="xui-p-title">浏览轨迹</p>
				</div>
				{% if member_browse_records %}
				<table class="xui-tab-memberifo">
		        	<thead>
		        		<tr>
		        			<th>时间</th>
		        			<th>链接</th>
		        			<th></th>
		        			<th></th>
		        		</tr>
		        	</thead>
		        </table>
				<div style="height:225px; overflow-y:scroll;">
				<table class="xui-tab-memberifo" style="border-top:none">
		        	<tbody>
		        		{% for member_browse_record in member_browse_records %}
		        		<tr>
			        		<td><strong>{{ member_browse_record.created_at|date:"Y-m-j" }}<br/>{{ member_browse_record.created_at|date:"H:i:s" }}</strong></td>
			        		<td>{{ member_browse_record.title }}</td>
			        		<td></td>
			        		<td></td>
		        	    </tr>
		        	    {% endfor %}
		        	</tbody>

		        </table>
		        {% else %}
		        	<div class="xui-emptyBox ">
						<div class="xui-i-emptyHint">
							<img src="/static_v2/img/editor/empty.png"/>
							<div>
								<span>暂无数据</span>
							</div>
						</div>
					</div>
					<div style="clear:both;"></div>
		        {% endif %}
		    </div>
	   </div>

	</div> -->

{% endblock %}

{% block dialog %}
{% endblock %}

{% block js %}
{% verbatim %}
<script id="mall-member-orders-view" type="text/x-jquery-tmpl">
	<table class="table table-bordered xb-noTdLRBorder xb-theadBg">
		<thead>
			<th width="220">订单号</th>
			<th width="280">实付金额</th>
			<th width="230">下单时间</th>
			<th>订单状态</th>
		</thead>
		<tbody>
			<tr>
				<td><span class="xui-color-blue xui-bold"><a href="/mall2/order/?order_id=${order_id}" target="_blank">${order_id}</a><span></td>
				<td>0.50</td>
				<td>2016/03/28 20:08</td>
				<td>已取消</td>
			</tr>
			<tr>
				<td>20160328200845803</td>
				<td>0.50</td>
				<td>2016/03/28 20:08</td>
				<td>已取消</td>
			</tr>
			<tr>
				<td>20160328200845803</td>
				<td>0.50</td>
				<td>2016/03/28 20:08</td>
				<td>已取消</td>
			</tr>
			<!-- <tr rowspan='6' ><td colspan='4' class="h130 xui-fontGary" >暂无数据</td></tr> -->
		</tbody>
	</table>
</script>
<script id="mall-member-transmission-view" type="text/x-jquery-tmpl">
	<table class="table table-bordered xb-noTdLRBorder xb-theadBg xui-transmission">
		<thead>
			<th width="450">分享链接</th>
			<th width="150">点击</th>
			<th width="130">关注转化</th>
			<th width="250">购买转化</th>
		</thead>
		<tbody>
			<tr>
				<td class="tl pl50">blah~blah~~</td>
				<td>10</td>
				<td>20</td>
				<td>0</td>
			</tr>
			<tr>
				<td class="tl pl50">blah~blah~~</td>
				<td>10</td>
				<td>20</td>
				<td>0</td>
			</tr>
			<tr>
				<td class="tl pl50">blah~blah~~</td>
				<td>10</td>
				<td>20</td>
				<td>0</td>
			</tr>
			<!-- <tr rowspan='6' ><td colspan='4' class="h130 xui-fontGary" >暂无数据</td></tr> -->
		</tbody>
	</table>
</script>

<script id="mall-member-shipInfos-view" type="text/x-jquery-tmpl">
	<table class="table table-bordered xb-noTdLRBorder xb-theadBg">
		<thead>
			<th width="220">收货人</th>
			<th class="tl pl40">收货地址</th>
			<th width="245" class="tl pl40">电话/手机号</th>
		</thead>
		<tbody>
		{{if items.length}}
			{{each(i, item) items}}
			<tr>
				<td>${ship_name}</td>
			  <td class="tl pl20">${area}${ship_address}</td>
			  <td class="tl pl30">${ship_tel}
			  	{{if is_selected}}
			  		<span class="xui-default-shipInfo">默认地址</span>
			  	{{/if}}
			  </td>
			</tr>
			{{/each}}
		{{else}}
			<tr rowspan='6' ><td colspan='3' class="h130 xui-fontGary" >暂无数据</td></tr>
		{{/if }}
		</tbody>
	</table>
</script>
<script id="mall-member-browse-record-view" type="text/x-jquery-tmpl">
	<table class="table table-bordered xb-noTdLRBorder xb-theadBg xui-browseRecord">
		<thead>
			<th width="220">时间</th>
			<th class="tl pl100">页面名称</th>
		</thead>
		<tbody>
		{{if items.length}}
			{{each(i, item) items}}		
			<tr>
				<td>${create_at}</td>
			  <td class="tl pl80">${tittle}</td>
			</tr>
			{{/each}}
		{{else}}
			<tr rowspan='6' ><td colspan='2' class="h130 xui-fontGary" >暂无数据</td></tr>
		{{/if }}
		</tbody>
	</table>
</script>
{% endverbatim %}
	<script type="text/javascript">
	$('#tab a').click(function(event) {
    $(this).tab('show');
	});
		var memberId = '{{ show_member.id }}';

		// 优惠劵
		$('.xa-coupon').click(function(event) {
			W.dialog.showDialog('W.member.dialog.MemberDetailCouponsDialog', {
				memberId: memberId
	      	});
		});

		// 传播能力
		$('.friends').click(function(event){
			var $el = $(event.currentTarget);
			var data_value = $el.attr('data-value');
			// if ($el.html() == '0') {
			// 	return false;
			// }

			W.dialog.showDialog('W.member.dialog.MemberDetailRelationsDialog', {
				memberId: memberId,
				friendCount: 0,
				fansCount: 0,
				dataValue: data_value
	      	});
		})

		// 修改分组
		$('body').delegate('.xa-update-tag', 'click', function(event){
			var $el = $(event.currentTarget);
			var member_id = memberId;

			var memberTagsUpdateView = W.getMemberTagsUpdateView({
				width: 260,
				title: '修改分组',
				position:'top',
				isTitle: false,
				privateContainerClass:'xui-updateGradeOrTagBox',
				isPostData: false
			});
			memberTagsUpdateView.show({
				$action: $el,
				isUpdateGrade: false,
				memberId: member_id,
				isPostData: false
			})
	        memberTagsUpdateView.render();
		});

		$('.xa-show-integral').click(function(){
			W.dialog.showDialog('W.dialog.member.MemberIntegralDialog', {
				memberId: memberId,
			    success: function(data) {
	    			// W.getLoadingView().show();
	    			window.location.reload();
			    }
			});
		});
		var isEdited=false;
		$('#edit').click(function(event) {
			$('.xa-isEdited').removeClass('hidden');
			$('.xa-display').addClass('hidden');
			isEdited=true;
		})
	// 修改积分
	$('.xa-update-integral').click(function(event){
		var $el = $(event.currentTarget);

		var memberIntegralUpdateView = W.getMemberIntegralUpdateView({
			width: 310,
			title: '调积分',
			position:'top',
			isTitle: false,
			privateContainerClass:'xui-updateBox'
		});
		memberIntegralUpdateView.show({
			$action: $el,
			memberId: memberId,
		})
        memberIntegralUpdateView.render();

	});
	$('.relation-text').click(function(event) {
				var _this = this;

				var memberId = {{ show_member.id }};
				W.dialog.showDialog('W.dialog.member.RelationsDialog', {
					memberId: memberId,
					isReload:true,
					onlyFans:true
				});
		});
		//提交
		$('#submitBtn').click(function() {
			if (!W.validate()) {
				return false;
			}
			var memberId = {{ show_member.id }};

			var gradeId = $('#grade_id').val();

			if (gradeId == '-1'){
				W.showHint('error', '请选择等级');
				return false
			}
			var name = $('#name').val();
			var sex = $('input[name=sex_type]:radio:checked').val();
			var memberRemarks = $('#member_remarks').val();

			var phoneNumber = $('#phone_number').val();
			/*if ((isNaN(phone_number) || phone_number.length != 11)) {
				W.getErrorHintView().show("请输入正确手机号")
				return false
			}*/
			if (!sex) {
				sex = 0;
			}
			var tag_ids = [];
			$(".tag_id").each(function() {
				tag_ids.push(this.value)
			});

			W.getApi().call({
				method: 'post',
				app: 'member',
				resource:'detail',
				args: {
					member_id: memberId,
					grade_id: gradeId,
					name: name,
					sex: sex,
					phone_number: phoneNumber,
					member_remarks: memberRemarks,
					tag_ids: tag_ids.join('_')
				},
				success: function(data) {
					W.showHint('success','保存成功！');
          window.location.reload();
          $('.xa-isEdited').addClass('hidden');
					$('.xa-display').removeClass('hidden');
        },
        error: function(resp) {
            if (resp.code === 400) {
                W.showHint('error', resp.errMsg);
            } else {
            W.showHint('error', '保存失败，请稍后重试！');
            }
        },
        scope: this
			});


		});
	</script>
{% endblock %}