{% extends "content_base_v2.html" %}
{% load common_tag %}
{% load account_filter %}
{% block css %}
<style type="text/css">
	.xui-senderNav{
		display: block;
		border-bottom: 1px solid #ccc;
		height: 40px;
	}
	.xui-senderNav li{
		float: left;
		padding-left: 38px;
		padding-right: 38px;
		line-height: 40px;
	}
	.xui-senderNav li a{
		color: #000;
		font-size: 14px;
		text-decoration:none;
	}
</style>
{% endblock %}
{% block content-panel %}

<div class="xui-expiredTime-page" style="background: #eaeef6">
	<ul class="breadcrumb">
		<li>您当前所在位置</li>
		<li>
			<a href="mall/editor/edit_expired_time.html">订单管理</a>
		</li>
		<li class="active">所有订单</li>
	</ul>
	<div>
		<ul class="xui-senderNav">
		<li><a href="/mall2/sender_info_list">发件人信息</a></li>
		<li style="border-bottom: 3px solid #0088CC;"><a href="mall2/address_1">快递账号管理</a></li>
	</ul>
	</div>
	<div class="fr h40 lh40">注:需联系附近的快递网店，获取打印电子面单所需账号密码，顺丰、EMS可直接使用</div>
   <div class="cb mt10 mb10 ml8">
   	<a href="/mall2/sender_info/" class="btn btn-success">
   	<img src="/static_v2/img/editor/plusOpcity.png" alt=""/>
   	新增地址
   </a>
   </div>
   
	<div
                data-ui-role="advanced-table"
                data-app="mall2"
                data-resource=""
                data-enable-paginator="true"
                data-template-id="#mall-orders-address"
                data-init-sort="-created_at"
                data-selectable = "false"
                data-user-webapp-id={{user.get_profile.webapp_id}}
            >
   </div>
{% endblock %}

{% block js %}
{% verbatim %}
 <script id="mall-orders-address" type="text/x-jquery-tmpl">
 	{{if items!='' }}
	<table class="table ml8">
		<thead>
			<tr class="xui-trHeight" style="background:#c9d1e4;">
				<th width="80">快递名称</th>
				<th width="80">账号</th>
				<th width="80">密码</th>				
			</tr>
		</thead>
		<tbody style="border: 1px solid #CCC;">
            {{each(i, address) items}}
                <tr data-id="${address.id}" data-name = "${address.name}">
                   
                    <!--快递名称-->
                    <td>
                        <div>${}</div>                        
                    </td>
                    <!--账号-->
                    <td class="nowrap">
                        <input type="text"  value="${}"/>
                    </td>
                    <!--密码-->
                    <td class="nowrap">
                      <input type="password" value="${}" />
                    </td>                    
                </tr>
			{{/each}}
		</tbody>        
	</table>
	{{else}}
		<div class="xui-emptyBox m10">
			<img src="/static_v2/img/editor/empty.png">
			<span class="ml20">您还没有相关数据！</span>
		</div>
	{{/if}}
</script>
{% endverbatim %}
{% endblock %}
