{% extends "content_base_v2.html" %}
{% load common_tag %}
{% load account_filter %}

{% block css %}
<style>
  .xui-editProductPage .control-label{
    margin-left: 10px;
  }
  .xui-create-redEnvelope-page .uploadify{
    height:90px!important;
    margin-bottom: 0!important;
  }
  .xui-create-redEnvelope-page .uploadify-button{
    background-color: #fafafa;
    border: 1px dashed #e5e5e5;
    background-size: 91px 91px;
    width:90px!important;
    height:90px!important;
    box-shadow: none;
  }
  .xui-create-redEnvelope-page .uploadify-button:after,
  .xui-create-redEnvelope-page .uploadify-button:before{
    content:"";
    display: inline-block;
    background: #e5e5e5;
    position: absolute;
  }
  .xui-create-redEnvelope-page .uploadify-button:after{
    left:24px;
    top:45px;
    width:45px;
    height:3px;

  }
  .xui-create-redEnvelope-page .uploadify-button:before{
    left:45px;
    top:25px;
    width:3px;
    height:45px;
  }
  .xui-create-redEnvelope-page .uploadify-button-text{
    color:transparent;
  }
  .xui-imgTips{
    position: absolute;
    top: 46px;
    left: 230px;
    color:#999;
  }
  .xui-imgTips i{
    font-style: normal;
    display: inline-block;
    border-radius: 50%;
    background-color:#d0d8e2;
    color:#fff;
    width:18px;
    height:18px;
    line-height:18px;
    text-align: center;
  }
  .xui-couponTip{
    margin-left:120px!important;
    color:#999;
  }
  .xui-unchangedCover{
    background-color: rgba(0,0,0,0);
    width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
  }
  .popover{
    box-shadow: none;
    width:180px;
    font-size: 12px;
    border-radius:3px;
    line-height: 20px;
  }
</style>
{% endblock %}

{% block content-panel %}
<div class="xui-editProductPage xui-create-redEnvelope-page">
<ul class="breadcrumb">
    <li>您当前所在位置</li>
    <li><a href="/mall/red_envelope_rule/get/">促销管理</a></li>
    <li class="active">分享红包</li>
</ul>
<form class="form-horizontal xui-formPanel xa-form pt0 pr" method="post">

<div class="xui-unchangedCover{% if not red_envelope_rule %}hidden{% endif%}"></div>
<section class="mt0" style="border:0;">
  <span class="xui-fontBold ml30 mt15" style="font-size:14px;display:inline-block;">活动设置</span>
  <hr class="ml30" style="border-color:#ccc;margin-top:8px;width:638px;">
  <fieldset class="mt30">
    <div class="form-group h40">
        <label class="control-label col-sm-2 col-sm-offset-1 pt0 w110">活动名称</label>
        <div class="controls">
          <input type="text" class="input-xlarge" id="name" name="name" style="width: 150px" value="{{ red_envelope_rule.name }}" data-validate="require-notempty::活动名称不能为空,,require-string::最多可以输入18个字" maxlength="18" placeholder="最多可以输入18个字"/>
          <div class="errorHint" style="margin-left:120px;"></div>
        </div>
    </div>
    <div class="form-group h40">
      <label class="control-label col-sm-2 col-sm-offset-1 pt0 w110 star_show">奖励</label>
      <div class="controls">
        {% if coupon_rule %}
            <select id="coupon_rule" style="width:150px">
                <option>{{ coupon_rule.name }}</option>
            </select>
        {% else %}
          <select id="coupon_rule" style="width:150px" name="coupon_rule" data-validate="require-select-positive-option">
              <option value="-1">请选择优惠券</option>
              {% for rule in coupon_rules %}
                <option value="{{ rule.id }}" data-remained-count="{{ rule.remained_count }}">{{rule.name}}</option>
              {% endfor %}
          </select>
          &nbsp;&nbsp;<span class="hidden"><a href="">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:#969a9d;">库存：</span></span>
           <p class="xa-couponTip xui-couponTip hidden">当库存为0时用户将无法获取优惠券</p>
          <div class="errorHint" data-error-hint="请选择奖励" style="margin-left:120px;"></div>
        {% endif %}
      </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2 col-sm-offset-1 pt0 w110 star_show">奖励时间</label>
        <div class="controls xa-errorHintContainer">
            <div class=""><input type="radio" class="xa-select-time" name="prize-time" {% if red_envelope_rule.limit_time %}{%else%}checked{%endif%}>
                <div style="display:inline-block; vertical-align:text-top;margin-top:-6px;">
                    <input
                    style="width:132px!important; margin-left:12px;"
                    type="text"
                    class="form-control xui-datePicker xui-greyColor"
                    id="start_date"
                    name="start_date"
                    style=""
                    value="{% if not red_envelope_rule.limit_time %}{{red_envelope_rule.start_time|date:"Y-m-d H:i"}}{%endif%}"
                    readonly="readonly"
                    data-validate="require-notempty"
                    data-enable-select-time="true"
                    data-ui-role="date-picker"
                    data-format="yy-mm-dd HH:MM"
                    data-min="now"
                    data-max-el="#end_date"
                    width="132"
                    {% if start_date %}disabled="disabled"{% endif %}/>

                </div>
                至
                <div style="display:inline-block; vertical-align:text-top;margin-top:-6px;">
                    <input
                    style="width:132px!important;"
                    type="text"
                    class="form-control xui-datePicker xui-greyColor"
                    id="end_date"
                    name="end_date"
                    value="{% if not red_envelope_rule.limit_time %}{{red_envelope_rule.end_time|date:"Y-m-d H:i"}}{%endif%}"
                    readonly="readonly"
                    data-validate="require-notempty"
                    data-ui-role="date-picker"
                    data-enable-select-time="true"
                    data-format="yy-mm-dd HH:MM"
                    data-min="now"
                    data-min-el="#start_date"
                    {% if end_date %}disabled="disabled"{% endif %}/>

                </div>
            </div>
            <div class="" style="margin-left: 120px;">
                <input type="radio" class="xa-forever" name="prize-time"  {%if red_envelope_rule.limit_time %}checked{% endif%}>&nbsp;&nbsp;永久
            </div>
            <div class="errorHint ml120" data-error-hint="请选择奖励时间"></div>
        </div>
    </div>

    <div class="form-group h40">
        <label class="control-label col-sm-2 col-sm-offset-1 w110" style="color:#000;">奖励条件</label>
        订单<span style="color:#cf0404;">满</span>
        <input type="text" class="form-control w70" id="limit_money" name="limit_money" value="{{red_envelope_rule.limit_order_money}}" data-validate="norequire,,require-positive-int"/>元
        <span class="xui-i-help ml5">注：空为不限制</span>
        <div class="errorHint ml110 mt" data-error-hint="请输入正整数"></div>
    </div>

    <div class="form-group h500">
      <label class="control-label col-sm-2 col-sm-offset-1 pt0 w110">活动说明</label>
      <div class="controls">
          <div style="margin-left:120px;">
            <textarea class="xui-hide" id="detail" name="detail" data-ui-role="richtext-editor" data-type="full" data-height="150" data-width="420">
                {% if red_envelope_rule %}{{ red_envelope_rule.use_info|format_emotion|safe }}{% endif %}
            </textarea>
          </div>
        <div class="errorHint"></div>
      </div>
    </div>
  </fieldset>
    <fieldset>
        <span class="xui-fontBold ml30" style="font-size:14px;">分享图文设置</span>
        <hr class="ml30" style="border-color:#ccc;margin-top:8px;width:638px;">
        <div class="form-group pr" style="min-height:100px;">
            <label for="" class="control-label col-sm-2 col-sm-offset-1 pt0 w110">分享图片</label>
            <p class="xui-imgTips">注：不上传为使用默认图片<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;推荐尺寸:90*90，仅支持jpg,png&nbsp;&nbsp;<i class="xa-tips">?</i></p>
            <input type="hidden" name="share_pic" id="share_pic" value="{% if red_envelope_rule.share_pic %}{{red_envelope_rule.share_pic }}{% else %}/static_v2/img/editor/redEnv.jpg{% endif %}" data-ui-role="image-selector" data-width="90" data-height="90"/>
            <div data-ui-role="image-selector-view" auto-show-help="false" style="margin-left: 120px;">
            </div>
            <div class="errorHint"></div>
        </div>
        <div class="form-group">
            <label for="" class="control-label col-sm-2 col-sm-offset-1 pt0 w110 star_show">分享描述</label>
            <div class="controls">
                <textarea class="input-xlarge w280" style="height: 100px" id="remark" name="remark" placeholder="最多可输入26个字" data-validate="require-notempty::分享描述不能为空" maxlength="26">{{ red_envelope_rule.share_title }}</textarea>
                <div class="errorHint ml120"></div>
            </div>
        </div>
    </fieldset>

  <hr style="border-color:#ccc;">
  <fieldset>
    <div class="form-group mt5 mr5 xa-operateBtns" id="operateBtns">
      <div class="controls ml20 tc">
        {% if not red_envelope_rule %}
        <a class="btn btn-primary xa-submit mr80">保&nbsp;存</a>
        {% endif %}
      </div>
    </div>
  </fieldset>
</section>
</form>

{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function(){
    $('.uploadify object').attr('height','90');
    $('.xa-select-time').on('click', function(e){
        var $input = $(e.target);
        if($input.prop('checked')){
            $('input[data-ui-role="date-picker"]').removeAttr('disabled');
            $('input[data-ui-role="date-picker"]').attr('data-validate', 'require-notempty');
        }
    });

    $('.xa-forever').on('click', function(e){
        var $input = $(e.target);
        if($input.prop('checked')){
            $('input[data-ui-role="date-picker"]').removeAttr('data-validate').attr('disabled', 'disabled').parent().removeClass('has-error');
            $('input[data-ui-role="date-picker"]').val("");
            $('.xa-errorHintContainer .errorHint').text("");
        }
    });

    $('#coupon_rule').change(function(event){
        var coupon_rule_id = $('#coupon_rule').val();
        if (coupon_rule_id == "-1") {
            $('#coupon_rule').next().addClass('hidden');
            $('.xa-couponTip').addClass('hidden');
        }else {
            var count = $('option[value="'+coupon_rule_id+'"]').data('remained-count');
            $('.xa-couponTip').removeClass('hidden');
            $('#coupon_rule').siblings('.errorHint').text('');
            $('#coupon_rule').next().removeClass('hidden').children('a').attr('href', '/mall_promotion/coupon/create/?rule_id='+coupon_rule_id);
            $('#coupon_rule').next().children('span').text("库存："+count+"份");

        }
    });

    $('.xa-tips').popover({
      template:"<div class='popover'><div class='popover-content'></div></div>",
      content : "分享图片和分享描述用于朋友圈查看时的展示内容",
      trigger : "hover",
      html : true,
      placement : "bottom"
    });
// 提交按钮
  $('.xa-submit').click(function(event) {
    if (!W.validate()) {
      return false;
    }
    var args = $('.xa-form').serializeObject();
    W.getApi().call({
      method: 'post',
      app: 'mall_promotion',
      api: 'red_envelope_rule/create',
      args: W.toFormData(args),
      scope: this,
      success: function() {
        W.showHint('success', '创建红包成功！');
        _.delay(function() {
          window.location.href = '/mall_promotion/red_envelope_rule/get/';
        }, 500)
      },
      error: function() {
        W.showHint('error','创建红包失败！');
      }
    });
  });
})
</script>
{% endblock %}
