{% extends "content_base_v2.html" %}
{% load common_tag %}
{% load account_filter %}


{% block content-panel %}
<div class="xui-expiredTime-page">
	<ul class="breadcrumb">
		<li>您当前所在位置</li>
		<li>
			<a href="/mall/orders/get/">订单管理</a>
		</li>
		<li class="active">订单设置</li>
	</ul>

	<form class="xui-mall-addProductForm" method="post" id="editForm" data-id="{% if product %}{{ product.id }}{% else %}0{% endif %}">
		<section>
			<div class="clearfix mt30 fl">
				<span class="fl" for="order_expired_day">未付款订单：</span>
					<input type="text" class="form-control fl xa-expiredTime" style="width:85px;" id="order_expired_day" name="order_expired_day" placeholder="" value="{% if mall_config %}{{ mall_config.order_expired_day }}{% endif %}" data-validate="norequire,,require-positive-int" maxlength="100"/>

				<span class="fl">小时内未付款，自动取消该订单</span><span class="fl ml10 xui-color-mark">注：空为不设置</span>
				<div style="clear: both;"></div>
				<div class="errorHint" style="margin-top: 10px;margin-left: 90px;"></div>
			</div>

			<div class="xui-btn-group tc fr">
				<input type="submit" class="btn btn-primary" id="submitBtn" value="保存" />
			</div>
		</section>
</form>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function() {
		//提交
		$('#editForm').submit(function() {
			if (!W.validate()) {
				return false;
			}
			var $expiredTime = $('input.xa-expiredTime');
			var expiredTimeVal =$expiredTime.val();
			if (isNaN(expiredTimeVal)) {
				W.showHint('error', '请输入订单过期时间');
				return false;
			}else{
				W.showHint('success', '保存成功');
				return true;
			}


		});
	});
</script>
{% endblock %}
