{% extends "content_base_v2.html" %}
{% block css %}
<style type="text/css">
.xui-labelOut label{
	font-weight: normal;
}
.xui-guideCover{
	min-width:1200px;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	background: rgba(0,0,0,0.6);
	position: fixed;
}
.xui-tips{
	height: 365px;
    position: absolute;
    top: 370px;
    width: 665px;
}
.xui-tipsBtn{
	width: 200px;
	height: 84px;
	bottom: 0;
	right: 190px;
}
.xui-close,
.xui-tipsBtn{
	background: url(/static_v2/img/editor/guide-sprite.png) no-repeat;
	cursor: pointer;
	position: absolute;
}
.xui-close{
	width: 49px;
	height: 49px;
	right:85px;
	top:0;
	background-position:0 -168px;
}
.xui-knew{
	background-position:0 -84px;
}
</style>
{% endblock %}
{% block content-panel %}
<div class="xui-mall-integralStrategyPage">
	<div class="relative">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
			<li>
				<a href="/mall2/outline/">首页</a>
			</li>
			<li class="active">积分规则</li>
		</ul>
	</div>

	<form class="xa-form xui-rightPanelBg xui-form" action="/mall2/integral_strategy/" method="post">
		<section>
			<div class="xui-legend">
			积分规则
		</div>

			<div class="xui-introduce xa-errorHintContainer">
				1元 ＝<span class="ml10 mr10"> <input type="text" class="form-control xui-inline" style="width: 65px" name="integral_each_yuan" value="{{integral_strategy.integral_each_yuan}}" data-validate="require-int"/></span>积分
				<div class="errorHint" style="line-height:16px;"></div>
			</div>

			<table class="table table-bordered xb-stripedTable xb-bk">
				<thead>
					<tr>
						<th >积分获取途径</th>
						<th >基础奖励（积分）</th>
						<th>条件说明</th>
						<th >额外积分奖励</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>关注公众号</td>
						<td><input type="text" class="form-control" name="be_member_increase_count" value="{{integral_strategy.be_member_increase_count}}" data-validate="require-int"/><div class="errorHint"></div></td>
						<td>用户关注公众号</td>
						<td>暂无</td>
					</tr>
					<tr>
						<td>分享链接给好友点击</td>
						<td><input type="text" class="form-control" name="click_shared_url_increase_count" value="{{integral_strategy.click_shared_url_increase_count}}" data-validate="require-int"/>
						<div class="errorHint"></div></td>
						<td>一个链接，不同好友点击，都会增加一次积分</td>
						<td>暂无</td>
					</tr>
					<tr>
						<td>购买商品返积分</td>
						<td><input type="text" class="form-control" name="buy_award_count_for_buyer" value="{{integral_strategy.buy_award_count_for_buyer}}" data-validate="require-int"/></td>
						<td>每次购买都会获得基础奖励</td>
						<td>
							<input  name="order_money_percentage_for_each_buy" value="{{integral_strategy.order_money_percentage_for_each_buy}}" style="width: 60px;" data-validate="require-float"/>


							x 订单支付金额
							<div class="errorHint" data-error-hint="请输正确的小数"></div>
						</td>
					</tr>
					<tr>
						<td>分享链接购买</tda>
						<td><input type="text" class="form-control" name="buy_via_shared_url_increase_count_for_author" value="{{integral_strategy.buy_via_shared_url_increase_count_for_author}}" data-validate="require-int"/><div class="errorHint"></div></td>
						<td>好友通过分享链接购买后给分享者增加积分</td>
						<td>暂无</td>
					</tr>
					<tr>
						<td style="padding-right:15px;">推荐关注的好友购买奖励</td>
						<td><input type="text" class="form-control" name="buy_via_offline_increase_count_for_author" value="{{integral_strategy.buy_via_offline_increase_count_for_author}}" data-validate="require-int"/><div class="errorHint"></div></td>
						<td>用户推荐的线下会员每次购买给推荐者增加积分<a href="javascript:void(0);"></a></td>
						<td>
							<input  name="buy_via_offline_increase_count_percentage_for_author" value="{{integral_strategy.buy_via_offline_increase_count_percentage_for_author}}" style="width: 60px;" data-validate="require-float"/>


							x 订单支付金额
							<div class="errorHint" data-error-hint="请输正确的小数"></div>
						</td>
					</tr>
					<tr>
						<td>商品好评送积分</td>
						<td><input type="text" class="form-control" name="review_increase" value="{{integral_strategy.review_increase}}" data-validate="require-int"/>
						<div class="errorHint"></div>
						</td>
						<td colspan="2">用户评价已购买商品，评价内容审核后增加积分</td>
					</tr>
					<tr>
						<td>订单积分抵扣上限</br>(指订单中商品金额)</td>
						<!--		积分抵扣状态初始化		-->
						<td colspan="3">
							{% if integral_strategy.use_ceiling > 0 %} <!--	已经设置积分抵扣	-->
							<div class="fl">
								<input type="text" class="form-control xa-use-ceiling fl mt5 mb5" name="use_ceiling"
								       data-validate="require-notempty,,require-percent"
								       value="{{integral_strategy.use_ceiling}}" />
								<i class="ml5 fl mt10">%</i>
								<div class="errorHint" data-error-hint="请输入1~100之间的数" style="clear:both;margin-left:-26px;"></div>
								<div style="margin-left:40px;clear:both;">建议抵扣上限设置范围：20%-50%</div>
							</div>
								<span class="xui-labelOut xui-btn ml15 fl mt5">
									<label><input type="radio" name="use_condition" class="xa-use-ceiling-on ml10 c65 mr10" checked='checked' value="on">开启</label>
								<label><input type="radio" name="use_condition" class="xa-use-ceiling-off ml10 c65 mr10"  value="off">关闭</label>
								</span>
							{% else %} <!--	 未设置积分抵扣	-->
							<div class="fl">
								<input type="text" name="use_ceiling" class="form-control xa-use-ceiling fl mt5 mb5" readonly=true value="">
								<i class="ml5 fl mt10">%</i>
								<div class="errorHint" data-error-hint="请输入1~100之间的数" style="clear:both;margin-left:-26px;"></div>
								<div style="margin-left:40px;clear:both;">建议抵扣上限设置范围：20%-50%</div>
							</div>
							<span class="xui-labelOut xui-btn ml15 fl mt5">
								<label><input type="radio" name="use_condition" class="xa-use-ceiling-on pr mr10"  value="on"  {% if has_a_integral_strategy %}disabled='true'{%endif%}>开启</label>
							<label class="ml10"><input type="radio" name="use_condition" class="xa-use-ceiling-off pr mr10" checked='checked' value="off">关闭</label>
							</span>
							{% endif %}
							<span class="fl ml25 xui-useHint"{% if not has_a_integral_strategy %} style="line-height:40px;"{% endif %}>
								<span class="xui-block">如需要设置单品积分抵扣上限，请<a href="/mall2/integral_sales_list/">点击这里</a></span>
								{% if has_a_integral_strategy %}
									<span class="cRed">提示：请先结束单品积分促销应用设置！</span>
								{% endif %}
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
		<input type="submit" class="btn xui-submit xa-submit btn-primary" value="确定" />
	</form>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	// 积分抵扣
	$('.xa-use-ceiling-on').on('click', function(e){
		var has_a_integral_strategy = $('.xa-use-ceiling').attr('has-a-integral-strategy');
		if(has_a_integral_strategy){

		}else{
			$('.xa-use-ceiling').removeAttr('readonly'); // 可以输入折扣
			$('.xa-use-ceiling').attr('data-validate', 'require-notempty,,require-percent');
		};
	});
	$('.xa-use-ceiling-off').on('click', function(e){
		$('.xa-use-ceiling').attr('readonly', true);  // 不可以输入折扣
		$('.xa-use-ceiling').removeAttr('data-validate'); // 去掉验证
		$('.xa-use-ceiling').parent().removeClass('has-error'); // 去掉警告
		$('.xa-use-ceiling').val('');   // 初始化折扣
	});
	$(".xa-submit").click(function(){
		if (!W.validate($('.xa-form'))) {
			return false;
		}
	});
	{%if show_guide %}
	/*引导效果 begin*/
	var windowW = $(window).width(),
		windowH = $(window).height(),
		documentW = $(document).width(),
		string = '/static_v2/img/editor/guideImg',
		i = 1;
	var $guide = $('<div class="xui-guideCover w"></div>');
	var $tips = $('<div class="xui-tips">'
						+'<i class="xui-close xa-guideClose"></i>'
						+'<img class="xa-tipImg" src="'+ string +'1.png"/>'
						+'<i class="xui-tipsBtn xa-guideNext"></i>'
						+'<i class="xui-tipsBtn xui-knew xa-guideknew xui-hide"></i>'
					+'</div>');
	function smallWindow(){//当window.width小于document.width改变tips定位
		var $tips = $('.xui-tips');
		var windowW = $(window).width();
		if(windowW < documentW){
			$tips.css({
				'left': '0px',
				'margin-left': '332px'
			});
		}else{
			$tips.css({
				'left': '50%',
				'margin-left': '-270px'
			});
		}
	}
	function nextStep(index){
		var $img = $('.xa-tipImg');
		switch(index)
		{
		case 2:
			$img.attr('src',string + '2.png');
			break;
		case 3:
			$img.attr('src',string + '3.png');
			$('.xa-guideNext').addClass('xui-hide');
			$('.xa-guideknew').removeClass('xui-hide');
			break;
		}
	};
	function guideClose(){
		$guide.addClass('xui-hide');
		$('.xui-tips').addClass('xui-hide');
	};
	$('body').append($guide).append($tips);
	smallWindow();
	$guide.css({'width':windowW,'height':windowH});
	$('.xa-guideNext').click(function(event) {
		if(i == 3){
			return;
		}
		i += 1;
		nextStep(i);
	});
	$('.xa-guideClose,.xa-guideknew').click(function(){
		guideClose();
	});
	$(window).resize(function(event) {
		var windowW = $(window).width(),
			windowH = $(window).height(),
			documentW = $(document).width();
			$guide.css({'width':windowW,'height':windowH});
			smallWindow();
	});
	/*引导效果 end*/
	{%endif%}
});

</script>
{% endblock %}
