{% extends "content_base_v2.html" %}

{% block content-panel %}
<div class="xui-productsPage">

	<div class="relative">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
			<li>
				<a href="/mall2/product_list/?shelve_type=1">商品管理</a>
			</li>
			<li class="active">在售商品管理</li>
		</ul>
	</div>
	<div class="xa-productFilterView xui-filterPanel"></div>
	{% if has_product %}
	<div class="panel panel-default mt20 xb-rightPanel">
		<div class="panel-heading">
			<label for="topSelectAll" class="xui-selectAll ml15">
				<input type="checkbox" id="topSelectAll" class="xa-selectAll">全选
			</label>
			<a href="javascript:void(0);" class="btn btn-default ml10 xa-batchOffshelf">批量下架</a>
			<a href="javascript:void(0);" class="btn btn-default ml10 xa-batchDelete">彻底删除</a>
			<a href="/mall2/product/" class="btn btn-success xui-addProductBtn ml10 xa-addProduct fr">
				<span style="padding-right:5px;"><img src="/static_v2/img/editor/plusOpcity.png"></span>
				添加新商品
			</a>
		</div>
		<div
		data-ui-role="advanced-table"
		data-app="mall2"
		data-resource="product_list"
		data-args='{"type":"onshelf", "sort_attr":"-created_at"}'
		data-template-id="#products-view"
		data-enable-paginator="true"
		data-enable-sort="false"
		data-selectable="true"
		data-item-count-per-page="30"
		data-disable-header-select="true"
		data-outer-selecter='.xa-selectAll'
		class="panel-body"
		data-selecttable-tr='xa-selectTr'
	></div>
		<div style="height:30px;"></div>
		<div class="xui-batchbtn">
			<label for="bottomSelectAll" class="xui-selectAll ml12">
				<input type="checkbox" id="bottomSelectAll" class="xa-selectAll">全选
			</label>
			<a href="javascript:void(0);" class="btn btn-default ml10 xa-batchOffshelf">批量下架</a>
			<a href="javascript:void(0);" class="btn btn-default ml10 xa-batchDelete">彻底删除</a>
		</div>

	</div>
	{% else %}
	<div class="panel panel-default mt20 xb-rightPanel" >
		<div class="panel-heading">
			<a href="/mall2/product/" class="btn btn-success xui-addProductBtn ml10 xa-addProduct fr"><span style="padding-right:5px;"><img src="/static_v2/img/editor/plusOpcity.png"></span>添加新商品</a>
		</div>
		<div class="panel-body xb-noContent">
			<div class="xui-emptyBox">
				<div class="xui-i-emptyHint">
					<img src="/static_v2/img/editor/empty.png">
					<div>
						<span>您还没有商品在售，赶快添加！</span>
					</div>
				</div>
			</div>
		</div>

	</div>
	{% endif %}
</div>
{% endblock %}


{% block js %}
{% verbatim %}
<script id="products-view" type="text/x-jquery-tmpl">
	<table id="productListTable" class="table table-bordered table-condensed xui-productList xb-stripedTable xb-noTdBorder xb-noBottom xb-noBorder xb-theadBg">
		<thead>
			<tr>
				<th width="250">商品信息</th>
				<th width="100">条码</th>
				<th width="100">分组</th>
				<th width="115">商品价格（元）</th>
				<th width="50">库存</th>
				<th width="78">总销量</th>
				<th width="120">创建时间</th>
				{{if data.data.owner_id != 216}}
				<th width="58">排序</th>
				{{/if}}
				<th width="90">操作</th>
			</tr>
		</thead>
		<tbody id='product_list'>
            {{if items.length}}
	            {{each(i, product) items}}
				<tr data-id="${product.id}" class="xa-selectTr">
					<td class="wui-advanced-table-sort-handler tl_important">
						<div class="disT w">
							<div class="imgBox disTc pr xui-imgBox">
								<a href="/mall2/product/?id=${product.id}">
                                    {{if product.thumbnails_url.search('http://weappimg') != -1}}
                                      <img src="${product.thumbnails_url + '!60'}" width="60" height="60"/>
                                    {{else}}
                                      <img src="${product.thumbnails_url}" width="60" height="60"/>
                                    {{/if}}

								</a>
								{{if product.is_sellout}}
								<div class="xui-i-sellout">已售罄</div>
								{{/if}}
							</div>
							<div class="pl15 disTc xui-poductorIntroduction">
								<div class="mb0 mt0" style="height:35px; "><p class="mb0" style="line-height:16px;">${product.name}</p></div>
								{{if product.is_use_custom_model}}
								<span class="label label-info xa-showAllModels cursor-pointer" style="font-size: 1.0em;">查看${product.models.length}个规格详情</span>
								{{else}}
									<span class="xui-fontGary">商品编码: ${product.user_code}</span>
								{{/if}}
							</div>
						</div>
					</td>
					<td>${product.bar_code}</td>
					<td>
						<ul>
							{{each(i, category) product.categories}}
							{{if category.is_selected}}
							<li>
								<span style="font-size: 1.0em;">${category.name}</span>
							</li>
							{{/if}}
							{{/each}}
						</ul>
					</td>
					<td>
						{{if product.is_use_custom_model}}
						${product.display_price_range}
						{{else}}
						${product.display_price}
						{{/if}}
					</td>
					<td>
						{{if product.is_use_custom_model}}
							<a href="javascript:void(0);" class="xa-modifyCustomModelStocks">{{if product.is_self}}修改{{/if}}</a>
						{{else}}
							<div class="xa-stockText">${product.stocks}</div>
							<input class="xa-stockInput xui-hide" style="width: 100%;" />
							<div><a href="javascript:void(0);" class="xa-modifyStandardModelStocks">{{if product.is_self}}修改{{/if}}</a></div>
						{{/if}}
					</td>
					<td>${product.sales}</td>
					<td>${product.created_at}</td>
					{{if data.data.owner_id != 216}}
					<td style="padding:0 15px;">
						<input width="38" type="text" class="xa-rank" data-id="${product.id}" style="width:100%;"
						 			 value="${product.display_index}" data-display-index="${product.display_index}">
					</td>
					{{/if}}
					<td>
					<div style=" width:74px; margin:auto;">
						<a href="/mall2/product/?id=${product.id}&shelve_type=1" class="xa-modify fl" style="width: 37px;">
						{{if product.is_self}}修改{{else}}查看{{/if}}</a>
						<a href="javascript:void(0);" class="xa-offshelf fl" style="width: 30px;">下架</a>
					</div>
						</br>
						<a href="javascript:void(0);" class="xa-delete">彻底删除</a>
					</td>
				</tr>
				{{/each}}
            {{else}}
                <tr><td colspan='7'>还没有数据</td></tr>
            {{/if}}
		</tbody>
	</table>
</script>
{% endverbatim %}
<script type="text/javascript">
$(document).ready(function() {
	var view = new W.view.mall.ProductListView({
		el: '.xui-productsPage',
		type: 'onshelf'
	});
	view.render();
});
</script>
{% endblock %}
