{% extends "content_base_v2.html" %}
{% load common_tag %}
{% load account_filter %}

{% block css %}
<style type="text/css">
.xui-mainPanel .xui-sideBar-orderMoney{
    background-image: url('/static_v2/img/editor/moneyicon.png') !important;
	left: 14px !important;
	width: 20px !important;
}
</style>
{% endblock %}

{% block content-panel %}
	<div id="orderPage"></div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){
	W.getApi().call({
		app: 'mall2',
		resource: 'orders_to_money',
		method: 'get',
		args: {},
		success: function(resp) {
			$('#orderPage').html(resp.data.html);
		},
		error: function(resp) {
		}
	});
})
</script>

{% endblock %}