{% extends "content_base_v2.html" %}
{% load common_tag %}
{% load account_filter %}
{% load mall_filter %}
{% load express_filter %}


{% block css %}

{% endblock %}
{% block content-panel %}
<div class="xui-orderDetialPage">
<div class="xui-orderwrap">
<ul class="breadcrumb" style="margin-bottom:-12px;">
    <li>您当前所在位置</li>
    {% if second_nav_name == 'allOrder' %}
    <li>
    <a href="/mall/orders/get/">订单管理</a>
    </li>
    <li>
    <a href="/mall/orders/get/">所有订单</a>
    </li>
    {% endif %}
    {% if second_nav_name == 'refundOrder' %}
    <li>
    <a href="/mall/orders/get/">订单管理</a>
    </li>
    <li>
    <a href="/mall/refund_orders/get/">退款订单</a>
    </li>
    {% endif %}
    {% if second_nav_name == 'financialCheck' %}
    <li>
    <a href="/mall/orders/get/">订单管理</a>
    </li>
    <li>
    <a href="/mall/audit_orders/get/">财务审核</a>
    </li>
    {% endif %}
    <li class="active">订单详情</li>
</ul>
<form class="form-horizontal"  id="order-form" >
<fieldset>

<div class=" xuicontainer xui-ordernomcon">
    <div class="xui-ordernom">
        <div class="control-group ">
            <p class="pt40 m0 ct" style="line-height:24px;text-align: center;">订单号：{{ order.order_id }}{% if order.edit_money %}-{{order.edit_money|cut:'.'|cut:'-'}}
            <br/><font style="font-weight: 100;">(原：{{ order.order_id }})</font>
            {% endif %}
            </p>
            <input type="hidden" name="order_id" value="{{order.id}}"/>
        </div>
        <div class="control-group">
            <p class="pt5 m0">订单状态：
               {% ifequal order.status 1 %}
               		已取消
               {% endifequal %}
               {% ifequal order.status 0 %}
               		待支付
               {% endifequal %}
               {% ifequal order.status 3 %}
               		待发货
               {% endifequal %}
               {% ifequal order.status 4 %}
               		已发货
               {% endifequal %}
               {% ifequal order.status 5 %}
               		已完成
               {% endifequal %}
               {% ifequal order.status 6 %}
               		退款中
               {% endifequal %}
               {% ifequal order.status 7 %}
               		退款成功
               {% endifequal %}
            </p>
        </div>
<!--
		<button class="btn xui-btn xui-btnfh">发&nbsp;&nbsp;&nbsp;货</button>
		<button class="btn xui-btn">申请退款</button> -->
    </div>
     <div class="xui-btngroup">
        {% for action in order|get_order_actions %}
          <button data-order-id="{{order.id}}" class="btn xui-btn  {{action.button_class}}
          {% ifequal action.action 'cancel' %}xa-cancelOrder{% endifequal %}
          {% ifequal action.action 'ship' %} xa-order-delivery{% endifequal %}
          {% ifequal action.action 'pay' %} xa-pay{% endifequal %}
          {% ifequal action.action 'update_express' %} xa-order-delivery{% endifequal %}
          {% ifequal action.action 'update_price' %} xa-update-price{% endifequal %}
          {% ifequal action.action 'finish' %} xa-finish{% endifequal %}
          {% ifequal action.action 'refunding' %} xa-refund{% endifequal %}
          {% ifequal action.action 'refund_success' %} xa-refundSuccess{% endifequal %}
          "
          href="javascript:void(0);"
          {% if action.action == 'update_express' %}data-is-update="true"{%endif%}
          >{{action.name}}</a>
        {% endfor %}
        </div>
</div>

<div class="xui-orderstate " >
        <div class="xui-stateimg ">
            <div class="progress" >
          {% for log in order_status_logs %}
          <div class="progress-bar {% if log.is_current == 0 %}xb-imglightblue{% endif %}{% if log.is_current == 1 %}xb-imgdarkblue{% endif %} {% if log.is_current == 2 %}xb-imggray{% endif %} " style="width:{{log_count|formate_width}}%">


           <p  class="xui-log-status"> {{log.status}}</p>
           <p class="xui-backgroundpay" >{% if forloop.first and log.operator%}{% if log.operator == "客户" %}{% if log.status == 3 %} （商家后台支付){% endif %}{% endif %}{% endif %} </p>
           <div class=" {% if log.is_current == 0 %}xb-imglightblueCircle{% endif %}{% if log.is_current == 1 %}xb-imgdarkblueCircle{% endif %}  " ></div>


           <p class="xui-log-time">{{ log.created_at|date:"Y-m-j" }}<br/>{{ log.created_at|date:"H:i:s" }}</p>
          </div>
          {% endfor %}
      </div>
        </div>
</div>
<div class=" xuicontainer xui-bk ">
    <div class="xui-containertop">
        <p class="xui-infotitle">买家信息</p>
    </div>
    <div class="xui-customerinfo">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="xui-title">收货信息</p>
                    <div class="xui-innerwrap">
                      <p>{{ order.ship_name }}<span class="ml30">{{ order.ship_tel }}</span></p>
                      <p>{% if order.area %}{{ order.area }}{% endif %} {{order.ship_address}}</p>
                      <p>买家留言：{{order.customer_message}}</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <p class="xui-title">发票信息</p>
                    <div class="xui-innerwrap">
                        <p>发票抬头：
                            {% ifequal order.bill_type 0 %}
                                无
                            {% else %}
                                {% ifequal order.bill_type 1 %}
                                    个人
                                {% endifequal %}
                                {% ifequal order.bill_type 2 %}
                                    公司
                                {% endifequal %}
                                <p class="xui-ml60">{{ order.bill }}</p>
                            {% endifequal %}</p>

                    </div>
                </div>
                <div class="col-md-4">
                    <p class="xui-title">商家备注</p>

                    <div class="xui-innerwrap">
                    	<img  data-order-id="{{order.id}}" data-order-value="{{order.remark}}" class="xui-notify xa-order-remark" src="/static_v2/img/editor/pencial.png" />
                        <p>{{order.remark}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  <ul class="nav nav-tabs mt14 ">
    <li class="xa-count active" data-total-status-value="-1"><a href="javascript:void(0);">物流信息</a></li>
      <li class="xa-count" data-total-status-value="0"><a href="javascript:void(0);">订单操作日志</a></li>
  </ul>
  <div class="" id="tab-wuliuinfo" style="display:block;">
    <div class="xui-wuliuinfo">
        <p>
          物流公司名称：{% if order.express_company_name %} {{ order.express_company_name|get_company_name_by_value }}   {% endif %}
        </p>
        <p>
          运单号：{% if order.express_company_name %} <a target="_blank" href="http://www.kuaidi100.com/chaxun?com={{order.express_company_name}}&nu={{ order.express_number }}">{{ order.express_number }}</a>{% endif %}
        </p>
        <p>

          {% for detail in order.get_express_details %}
          <span class="mr30 ml50">{{ detail.ftime }}</span>
          <span>{{ detail.context }}</span>
              <br/>
          {% endfor %}
        </p>
    </div>
  </div>
  <div class="" id="tab-orderlog" style="display:none;">
      <div class="xui-wuliuinfo">
              <table class="xui-Logtable"  >
                   <thead>
                      <th>时间</th>
                      <th>操作</th>
                      <th>操作人</th>
                   </thead>
                   <tbody>
                    {% for log in order_operation_logs %}
                    <tr>
                      <td style="width:200px;">{{ log.created_at|date:"Y-m-j H:i:s" }}</td>
                      <td>{{ log.action }}</td>
                      {% if log.action == "订单发货" and order.leader_name %}
                        <td>{{ log.operator }}-{{ order.leader_name }}</td>
                      {% else %}
                        <td>{{ log.operator }}</td>
                      {% endif %}
                      </tr>
                    {% endfor %}
                   </tbody>
              </table>
      </div>
  </div>
<div class=" xuicontainer">
    <div class="xui-containertop">
        <p class="xui-infotitle">订单信息</p>
    </div>
    <div class="xui-orderinfo">
        <p class="xui-info-p">订单来源<span class="xui-info-value">{{order.source}}</span></p>
        <p class="xui-info-p">运送方式<span class="xui-info-value">{{ order.express_company_name|get_company_name_by_value }}</span></p>
        <p class="xui-info-p">支付方式<span class="xui-info-value">{{order.pay_interface_name}}</span></p>

        <table class="xui-producttab table">
            <tr>
               <th class="xui-td-img"></th>
                <th class="xui-td-first">商品信息</th>
                <th class="xui-td-second">单价（元）/数量</th>
                <th class="xui-td-third">单品优惠</th>
                <th class="xui-td-fourth" style="width:160px;">整单优惠</th>
                <th class="xui-td-fifth" style="width:120px;">微众卡支付金额</th>
                <th class="xui-td-sixth" style="width:90px;">运费</th>
            </tr>
            {% for product in order.products %}
            <tr>
              <td class="xui-td-img"{% if product.noline %} style="border-top:none;"{% endif %}><img width="42" height="42" src="{{product.thumbnails_url}}"></td>
              <td class="xui-td-first"{% if product.noline %} style="border-top:none;"{% endif %}>
                <div class="xui-a-productname">
                  <a style="color:#333;">
                  {% if product.promotion.type == 'flash_sale' %}
                    [限时抢购]
                  {% elif product.promotion.type == 'premium_sale:premium_product' %}
                    [赠品]
                  {% endif %}
                  {{product.name}}</a>
                </div>
                <span class="ml10" style="color: red">{% if product.is_deleted %}已删除{% endif %}</span>
                <p class="xui-colorsize">
                  <span>
                      {% if product.custom_model_properties %}
                          {% for property in product.custom_model_properties %}
                            {% if product.custom_model_properties|length == forloop.counter %}
                              {{property.property_value}}
                            {% else %}
                              {{property.property_value}}&nbsp;/&nbsp;
                            {% endif %}
                          {% endfor %}
                      {% endif %}
                  </span>
                </p>
              </td>
              <td class="xui-td-second"{% if product.noline %} style="border-top:none;"{% endif %}>
                {{ product.price|floatformat:"2" }}
              <br>
              （{{ product.count }}件）
              </td>
              <td class="xui-td-third"{% if product.noline %} style="border-top:none;"{% endif %}>
                {% if product.promotion.type == 'flash_sale' %}
                直降{{product.promotion.promotion_saved_money|floatformat:"2" }}元
                {% endif %}
                {% if coupon.product_id == product.id %}
                  <p> 优惠券:{{order.coupon_money|floatformat:"2"}}</p> <p>（{{ coupon.coupon_id }}）</p>
                {% endif %}
                {% if product.integral_count %}
                  <p>{{ product.integral_count }}积分，抵扣{{ product.integral_money }}元</p>
                {% endif %}
              </td>
              {% if forloop.first %}
              <td class="xui-td-fourth" rowspan="{{ forloop.revcounter }}" {% if product.noline %} style="border-top:none;"{% endif %}>
                {% if order.coupon_id and coupon.product_id != product.id%}
                <p> 优惠券:{{order.coupon_money|floatformat:"2"}}</p> <p>（{{ coupon.coupon_id }}）</p>
                {% endif %}
                {% if order.integral %}
                  <p>{{order.integral}}积分，抵扣{{order.integral_money}}</p>
                {% endif %}
                {% if order.edit_money %}
                  <p>商家优惠：{{ order.edit_money|floatformat:"2" }}</p>
                {% endif %}
              </td>
              <td class="xui-td-fifth" rowspan="{{ forloop.revcounter }}">
                {% if order.weizoom_card_money %}
                  <p> 微众卡抵扣:{{ order.weizoom_card_money|floatformat:"2" }}</p>
                  {% for card in order.weizoom_cards %}
                  <p>{{card | safe}}</p>
                  {% endfor %}
                {% endif %}
              </td>
              <td class="xui-td-sixth" rowspan="{{ forloop.revcounter }}">{{ order.postage|floatformat:"2" }}</td>
              </td>
              {% endif %}
            </tr>
            {% endfor %}
        </table>
        <div class="xui-summary">
        	<p class="xui-field">
        		<span class="pull-left">
        			共计商品：<span class="xui-allnum">{{order.number}}</span> 件
        		</span>
        		商品金额：
        	</p>
        	<p class="xui-value">￥{{order.total_price|floatformat:"2"}}</p>
          {% if order.save_money > 0 %}
        	<p class="xui-field">优惠金额：</p>
          <p class="xui-value">-￥{{order.save_money|floatformat:"2"}}</p>
          {% elif order.save_money < 0 %}
          <p class="xui-field">优惠金额：</p>
          <p class="xui-value">+￥{{order.save_money|floatformat:"2"|cut:'-'}}</p>
          {% endif %}
        	<p class="xui-field">运费：</p>
        	<p class="xui-value">+￥{{order.postage|floatformat:"2"}}</p>
          <div class="xui-line-long"></div>
          <p class="xui-field ml38" style="width:350px;">
            <span class="pull-left">
              支付金额：现金<span class="xui-money">￥{{order.final_price|floatformat:"2"}}</span>+微众卡<span class="xui-money">￥{{order.weizoom_card_money|floatformat:"2"}}</span>=<span class="xui-money" style="font-weigth:bolder;">￥{{order.pay_money|floatformat:"2"}}</span>
            </span>
          </p>

        </div>
    </div>
</div>
{% endblock %}

{% block dialog %}
{% endblock %}

{% block jsTemplate %}
{% endblock %}

{% block js %}
<script type="text/javascript">

    $(document).ready(function () {
        /*$(".btn-danger").click(function(event) {
         var $cancelButton = $(event.currentTarget);
         alert($cancelButton.href);
         if(confirm("确定取消吗?")){
         location.href="确认后跳转的页面";
         } else {
         return;
         }
         });*/
        $('#myTab a:last').tab('show');//初始化显示哪个tab

        $('#myTab a').click(function (e) {
            e.preventDefault();//阻止a链接的跳转行为
            $(this).tab('show');//显示当前选中的链接及关联的content
        });

        //切换物流信息和订单操作日志
        $('.xa-count').click(function(event){
          var $el = $(event.currentTarget);
          status = $el.attr('data-total-status-value');
          $('.xa-count').removeClass('active');
          $el.addClass("active");
          if (status == "0") {
            $("#tab-wuliuinfo").hide();
            $("#tab-orderlog").show();
          } else {
            $("#tab-wuliuinfo").show();
            $("#tab-orderlog").hide();
          }
        });

        // 发货
        $('.xa-order-delivery').click(function (event) {
            event.stopPropagation();
            event.preventDefault();
            var $el = $(event.currentTarget);
            var expressCompanyValue = {% if order.express_company_name %}
            '{{ order.express_company_name }}'
            {% else %}
            -1
            {% endif %};
            var expressNumber = '{{ order.express_number }}';
            var leaderName = '{% if order.leader_name %}{{ order.leader_name }}{% endif %}';
            // 点击发货，不是点击修改
            if ($el.attr('data-is-update') !== 'true') {
                expressCompanyValue = -1;
                expressNumber = '';
                leaderName = '';
            }
            var mallOrderShipView = W.getMallOrderShipView({
                width: 318,
                title: '发货',
                position:'top',
                isTitle: false,
                privateContainerClass:'xui-shipDropBox'
            });
            mallOrderShipView.show({
                $action: $el,
                orderId: '{{order.id}}',
                expressCompanyValue: expressCompanyValue,
                expressNumber: expressNumber,
                leaderName: leaderName
            });
        })

        // 取消
        $('.xa-cancelOrder').click(function (event) {

            event.stopPropagation();
            event.preventDefault();
            var $el = $(event.currentTarget);
            var orderId = $el.attr('data-order-id');
            W.requireConfirm({
              $el: $(this),
              viewName: 'order-list-confirm',
              width:380,
              position:'top',
              isTitle: false,
              privateContainerClass:'xui-orderConfirmPop',
                  msg:'确定取消订单？',
                  confirm:function(){
                   window.location.href = '/mall/order/update/?order_id='+orderId+'&action=cancel';
                  }
            })
        })
        //标记完成
        $('.xa-finish').click(function (event) {
          event.stopPropagation();
          event.preventDefault();
          var $el = $(event.currentTarget);
          var orderId = $el.attr('data-order-id');
          W.requireConfirm({
            $el: $(this),
            viewName: 'order-list-confirm',
            width:445,
            position:'top',
            isTitle: false,
            privateContainerClass:'xui-orderConfirmPop',
                msg:'确定将该订单标记为完成？',
                confirm:function(){
                 window.location.href = '/mall/order/update/?order_id='+orderId+'&action=finish';
                }
          })
        });
        // 申请退款
        $('.xa-refund').click(function (event) {
          event.stopPropagation();
          event.preventDefault();
          var $el = $(event.currentTarget);
          var orderId = $el.attr('data-order-id');
          W.requireConfirm({
            $el: $(this),
            viewName: 'order-list-confirm',
            width:380,
            position:'top',
            isTitle: false,
            privateContainerClass:'xui-orderConfirmPop',
                msg:'确定申请退款？',
                confirm:function(){
                 window.location.href = '/mall/order/update/?order_id='+orderId+'&action=return_pay';
                }
          })
        });
        //退款完成
        $('body').delegate('.xa-refundSuccess', 'click', function(event) {
              event.stopPropagation();
              event.preventDefault();
              var $el = $(event.currentTarget);
              var orderId = $el.attr('data-order-id');
              W.requireConfirm({
                $el: $(this),
                width:356,
                position:'top',
                isTitle: false,
                privateContainerClass:'xui-orderAuditConfirmPop',
                msg:'请您与买家私下协商退款且退款成功后，再使用该功能哦!',
                confirm:function(){
                  window.location.href = '/mall/order/update/?order_id='+orderId+'&action=return_success';
                }
              })
          });
        // 备注
        $('.xa-order-remark').click(function(event){
          var $el = $(event.currentTarget);
          var orderId = $el.attr('data-order-id');
          var message = $el.attr('data-order-value');

          var mallOrderRemarkView = W.getMallOrderRemarkView({
            width: 574,
            height: 62,
            title: '备注',
            position:'top',
            isTitle: false,
            privateContainerClass:'xui-remarkDropBox'
          });
          mallOrderRemarkView.show({
            $action: $el,
            orderId: orderId,
            message: message
          })
        });

        // 支付
        $('.xa-pay').click(function(event){
          event.stopPropagation();
          event.preventDefault();
          var orderId = {{order.id}};
          W.dialog.showDialog('W.dialog.mall.UpdateOrderDialog', {
              orderId: orderId,
              success: function(data) {
                window.location.href = '/mall/order/update/?order_id='+this.orderId+'&action=pay';
              }
          });
        });


        // 修改价格
        $('.xa-update-price').click(function(event){
          event.stopPropagation();
          event.preventDefault();
          var orderId = {{order.id}};
          W.dialog.showDialog('W.dialog.mall.UpdateOrderDialog', {
              orderId: orderId,
              isUpdatePrice: true,
              success: function(data) {
                W.getApi().call({
                  app: 'mall',
                  api: 'order_info/update',
                  method: 'post',
                  args: {
                    order_id: orderId,
                    postage: data.postage,
                    final_price: data.finalPrice
                  },
                  success: function(data) {
                    window.location.reload();
                  },
                  error: function(resp) {

                  }
                })
              }
          });
        });

        $('#bill_type').change(function () {
            var $select = $(this);
            var type = parseInt($select.val());
            var $input = $select.parent().find('input[type="text"]');
            if (type === 0) {
                $input.val('').attr('disabled', 'disabled');
            } else {
                $input.removeAttr('disabled');
            }
        })

        $('#order-form').submit(function () {
            if (!W.validate()) {
                return false;
            }

            return true;
        });
    });
    //提交
</script>
{% endblock %}