{% extends "content_base_v2.html" %}
{% load common_tag %}
{% load account_filter %}

{% block css %}
<style type="text/css">
</style>
{% endblock %}

{% block content-panel %}
<div class="xui-allOrders">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
			<li>
				<a href="/mall2/order_list">订单管理</a>
			</li>
			<li class="active xa-pageType">{{ page_type }}</li>
		</ul>
	<!-- 筛选 -->
	<div class="xa-orderFilterView xui-filterPanel"></div>

	{% if has_order %}
        {%ifequal page_type '所有订单' %}
            <div
                data-ui-role="advanced-table"
                data-app="mall2"
                data-resource="order_list"
                data-enable-paginator="true"
                data-template-id="#mall-orders-view"
                data-init-sort="-created_at"
                data-selectable = "false"
                data-user-webapp-id={{user.get_profile.webapp_id}}
                data-args='{"order_status":"{{order_status}}"}'
            >
            </div>
        {% else %}
            <div
                data-ui-role="advanced-table"
                data-app="mall2"
                data-args='{"belong":"audit"}'
                data-resource="order_list"
                data-enable-paginator="true"
                data-template-id="#mall-orders-view"
                data-init-sort="-created_at"
                data-user-webapp-id={{user.get_profile.webapp_id}}
            >
            </div>
        {% endifequal %}
	{% else %}
	<ul class="nav nav-tabs mt14">
		<li class="xa-count active" data-total-status-value="-1"><a href="javascript:void(0);">所有订单</a></li>
  		<li class="xa-count" data-total-status-value="0"><a href="javascript:void(0);">待支付</a></li>
  		<li class="xa-count" data-total-status-value="3"><a href="javascript:void(0);">待发货</a></li>
  		<li class="xa-count" data-total-status-value="4"><a href="javascript:void(0);">已发货</a></li>
  		<li class="xa-count" data-total-status-value="5"><a href="javascript:void(0);">已完成</a></li>
  		<li class="xa-count" data-total-status-value="1"><a href="javascript:void(0);">已取消</a></li>
  		<li class="xa-count" data-total-status-value="6"><a href="javascript:void(0);">退款中</a></li>
  		<li class="fr"><p class="fb mb0 " style="line-height:30px; width:274px;text-align:right ;">筛选结果：共0条订单</p></li>
	</ul>
	<div class="xui-emptyBox"><img src="/static_v2/img/editor/empty.png"><span class="ml20">您还没有相关数据！</span></div>
	{% endif %}
</div>

{% endblock %}


{% block js %}
{% verbatim %}
<script id="mall-orders-view" type="text/x-jquery-tmpl">
	<ul class="nav nav-tabs mt14 ">
	{{if data.is_refund}}
		<li class="xa-count {{if data.current_status_value==-1}}active{{/if}}" data-total-status-value="-1"><a href="javascript:void(0);">全部</a></li>
		<li class="xa-count {{if data.current_status_value==8}}active{{/if}}" data-total-status-value="8"><a href="javascript:void(0);">团购退款</a></li>
		<li class="xa-count {{if data.current_status_value==6}}active{{/if}}" data-total-status-value="6"><a href="javascript:void(0);">退款中</a></li>
		<li class="xa-count {{if data.current_status_value==7}}active{{/if}}" data-total-status-value="7"><a href="javascript:void(0);">退款完成</a></li>
	{{else}}
		<li class="xa-count {{if data.current_status_value==-1}}active{{/if}}" data-total-status-value="-1"><a href="javascript:void(0);">所有订单</a></li>
  		<li class="xa-count {{if data.current_status_value==0}}active{{/if}}" data-total-status-value="0"><a href="javascript:void(0);">待支付</a></li>
  		<li class="xa-count {{if data.current_status_value==3}}active{{/if}}" data-total-status-value="3"><a href="javascript:void(0);">待发货<i class="xui-noticyTip xa-orderTip " style="display:none"></i></a></li>
  		<li class="xa-count {{if data.current_status_value==4}}active{{/if}}" data-total-status-value="4"><a href="javascript:void(0);">已发货</a></li>
  		<li class="xa-count {{if data.current_status_value==5}}active{{/if}}" data-total-status-value="5"><a href="javascript:void(0);">已完成</a></li>
  		<li class="xa-count {{if data.current_status_value==1}}active{{/if}}" data-total-status-value="1"><a href="javascript:void(0);">已取消</a></li>
  		<li class="xa-count {{if data.current_status_value==6}}active{{/if}}" data-total-status-value="6"><a href="javascript:void(0);">退款中</a></li>
  		<li class="fr"><p class="fb mb0 " style="line-height:30px; width:274px;text-align:right ;">筛选结果：共${data.order_return_count}条订单</p></li>
	{{/if}}
	</ul>
	{{if data.pageinfo.object_count != 0}}
	<table class="table table-condensed mb0 xui-tableHead">
		<thead>
			<tr>
			    {{if data.mall_type}}
			        <th width="75">供货商</th>
			    {{else}}
			        <th width="75">来源</th>
			    {{/if}}
				<th width="310">
					商品
				</th>
				<th width="80">单价/数量</th>
				<th width="140">优惠金额</th>
				<th width="100">买家</th>
				<th width="110">实付金额</th>
				<th width="90">订单状态</th>
				<th width="90">操作</th>
				<!--<th>商品数</th>
				<th>收货人</th>
				<th class="tx_sortable" data-sort-attr='created_at'>下单时间</th>
				<th class="tx_sortable" data-sort-attr='payment_time'>付款时间</th>
				-->
			</tr>
		</thead>
	</table>
	{{/if}}

	{{if data.pageinfo.object_count == 0}}
		<div class="xui-emptyBox"><img src="/static_v2/img/editor/empty.png"><span class="ml20">您还没有相关数据！</span></div>
	{{/if}}

	<ul>
		{{each(i, order) items}}
		<li data-order-id="${order.id}">
			<table width="100%" class="table mb15 xui-table-orderDetail">
				<tr class="xui-order-firstTr">
					<td colspan="8">
						<p class="ml15 fl">
						订单编号：
						<a title="查看" class="xt-orderLink" href="/mall2/order/?order_id=${order.id}" target="_blank">${order.order_id}{{if order.edit_money}}-${order.edit_money}{{/if}}</a>
						</p>
						<p class="ml15 fl w20">
						{{if order.is_group_buying}}
							<img src="/static_v2/img/editor/orderGroupIcon.png"/>
						{{else}}
							&nbsp;
						{{/if}}
						</p>
						<p class="ml10 fl w60">
							${order.pay_interface_name}
						</p>
						<p class="ml10 fl">
							下单时间：${order.created_at}
						</p>
						{{if order.payment_time}}
						<p class="ml15 fl">

							付款时间：${order.payment_time}
						</p>
						{{/if}}
					<div class="fr">
					{{if order.groups.length > 1}}<p class="fl ml30">{{else}}<p class="fr mr15">{{/if}}
						<a title="查看" href="/mall2/order/?order_id=${order.id}" target="_blank" class="mr5">查看详情</a>
						-
						<a href='javascript:void(0);' class="xa-order-remark ml10" data-order-id="${order.id}" data-order-value="${order.remark}">备注</a>
					</p>
					{{if order.groups.length > 1}}
						<p class="fl" style="width:90px;text-align:center;margin-left:4px;">
					    {{html formatOrderStatus(order.status)}}
					    </p>
					    <p class="fl ml20 mr20 xa-actions" data-order-id="${order.id}">
                            {{each(i,x) order.parent_action}}
                                <a href='javascript:void(0);' class="${x.class_name}">${x.name}</a>
                            {{/each}}
					    </p>
					{{/if}}
					</div>
					</td>
				</tr>
				{{each(j, group) order.groups}}
				<tr data-order-id="${group.fackorder.id}">
					<td class="nowrap" width="75">
						{{if data.mall_type}}
							{{if group.id > 0}}
							    ${data.supplier[group.id]}
							{{/if}}
							{{if group.supplier_user_id > 0 }}
								${data.supplier_users[group.supplier_user_id]}
							{{/if}}
                        {{else}}
                            {{if order.supplier_user_id > 0}}
                                商城
                            {{else}}
                                本店
                            {{/if}}
						{{/if}}
					</td>
					<td class="" width="390px"{{if order.groups.length > 1}} style="border-right:1px solid #ddd;"{{/if}}>
					<ul class="">
					{{each(i, product) group.products}}
						<li class="disT" style="width:100%;" data-id="${product.id}">
							<div style="display:table-cell;vertical-align:middle;text-align: center;width:75px">
							{{if product.thumbnails_url.search('http://weappimg') != -1}}
							<img class="xui-product-thumbnails" src="${product.thumbnails_url + '!60'}" width="60" height="60"/>
							{{else}}
							<img class="xui-product-thumbnails" src="${product.thumbnails_url}" width="60" height="60"/>
							{{/if}}
							</div>
							<div style="width:235px;display:table-cell">
								<p class="tl">
								<span class="xa-productName" name="xa-productName">
								{{if !(order.supplier_user_id > 0 && data.mall_type == 0)}}
									{{if product.promotion }}
										{{if product.promotion.type == "flash_sale"}}【限时抢购】{{/if}}
										{{if product.promotion.type == "premium_sale:premium_product"}}【赠品】 {{/if}}
									{{/if}}
									{{if product.grade_discounted_money}}【会员优惠】{{/if}}
								{{/if}}
									${product.name}{{if order.fackorders && order.fackorders[product.supplier]}}-${order.fackorders[product.supplier].order_id}{{/if}}
								</span></p>
								<p class="tl pt10">
								{{each(p, property) product.custom_model_properties}}
									{{if p == (product.custom_model_properties.length - 1)}}
										${property.property_value}
									{{else}}
										${property.property_value}&nbsp;/&nbsp;
									{{/if}}
								{{/each}}
								</p>
							</div>
							<div style="width:80px;display:table-cell;vertical-align: middle;">
							{{if order.supplier_user_id > 0 && data.mall_type == 0}}
							<p class="tc">${product.count}&nbsp;件</p>
							{{else}}
							<p class="tc">
								${product.price}
							</p>
							<p class="tc">(${product.count}&nbsp;件)</p>
							{{/if}}
							</div>
						</li>
					{{/each}}
					</ul>
					</td>
					{{if j == 0 }}
					<td width="140px" rowspan="${order.groups.length}">
						{{if order.save_money != 0 }}
							{{if !(order.supplier_user_id > 0 && data.mall_type == 0)}}
								${ order.save_money.toFixed(2)}
							{{/if}}
						{{/if}}
					</td>
					<td width="100" rowspan="${order.groups.length}">
						{{if order.is_first_order }}<i class="xui-firstTag">首</i>{{/if}}
						{{if order.member_id > 0}}
							{{if order.member_is_subscribed > 0}}
								{{if data.mall_type}}
									<a target="_blank" href="/member/detail/?id=${ order.member_id }">{{html order.buyer_name}}</a>
								{{else}}
									{{if order.supplier_user_id > 0}}
										{{html order.buyer_name}}
									{{else}}
										<a target="_blank" href="/member/detail/?id=${ order.member_id }">{{html order.buyer_name}}</a>
									{{/if}}
								{{/if}}
							{{else}}
								非会员
							{{/if}}
							<span class="xui-buyerHint xa-buyerHint pr">
								<i class="xa-buyerHintImg"
									data-delivery_time="${order.delivery_time}"
									data-addr="${order.ship_address}"
									data-tel="${order.ship_tel}"
									data-message="${order.customer_message}"
									{{if order.bill_type == 0}}
										data-bill-type="--"
									{{else}}
										{{if order.bill_type == 1}}
											data-bill-type="个人"
											data-bill="${order.bill}"
										{{/if}}
										{{if order.bill_type == 2}}
											data-bill-type="公司"
											data-bill="${order.bill}"
										{{/if}}
									{{/if}}
								>
								</i>
							</span>
						{{else}}
							{{html order.buyer_name}}
						{{/if}}
						{{if order.customer_message}}
							<p class="pt5 tc"><a class="xa-costomerMessage xui-costomerMessage" data-content="${order.customer_message}"></a></p>
						{{/if}}
					</td>
					<td width="110" rowspan="${order.groups.length}">
						{{if (data.mall_type == 0 && order.supplier_user_id > 0) }}
							${ order.total_purchase_price }
						{{else}}
							${ order.pay_money }
						{{/if}}
						{{if order.postage > 0 }}
							{{if !(data.mall_type == 0 && order.supplier_user_id) }}
							</br>
								<span class="xui-colorGray">(含运费：${order.postage})</span>
							{{/if}}
						{{/if}}
						<div class="tc">
						{{if order.weizoom_card_money_huihui > 0 }}
							{{if !(data.mall_type == 0 && order.supplier_user_id) }}
								<span class="xui-weizoomCard xui-huihuiCard pr">
									<i class="xa-huihuiCardImg"></i>
									<span class="pa" style="display:none;">惠惠卡支付&nbsp${order.weizoom_card_money_huihui}元</span>
								</span>
							{{/if}}
						{{/if}}
						{{if order.weizoom_card_money_rest > 0 }}
							{{if !(data.mall_type == 0 && order.supplier_user_id) }}
								<span class="xui-weizoomCard pr">
									<i class="xa-weizoomCardImg"></i>
									<span class="pa" style="display:none;">微众卡支付&nbsp${order.weizoom_card_money_rest}元</span>
								</span>
							{{/if}}
						{{/if}}
						</div>
					</td>
					{{/if}}
					<td class="nowrap" width="90"{{if order.groups.length > 1 }}style="{{if order.order_status != 6 && order.order_status != 7}}border-left:1px solid #ddd;{{/if}}{{if order.order_status == 6 || order.order_status == 7}}border-top:0;{{/if}}"{{/if}}>
						{{if order.groups.length == 1 || order.order_status != 6 && order.order_status != 7}}
							<div>
								{{html formatOrderStatus(group.fackorder.status)}}
							</div>
						{{/if}}
					</td>
					<td class="nowrap xui-operation" width="90"{{if order.groups.length > 1 && (order.order_status == 6 || order.order_status == 7)}}style="border-top:0;"{{/if}} >
						<div class="xa-actions" data-order-id="${group.fackorder.id}">
						{{each(i,a) group.fackorder.actions}}
							<!-- 团购订单，不显示'申请退款'、'取消订单'、'退款成功'按钮 -->
							{{if order.is_group_buying &&
								(a.class_name == 'xa-refund' || a.class_name == 'xa-cancelOrder' || a.class_name == 'xa-refundSuccess') }}
							{{else}}
							    <a href='javascript:void(0);' class="${a.class_name}"
							    {{if a.action=="update_express"}}
							        data-is-update=true
							        data-express-company-name="${group.fackorder.express_company_name}"
							        data-express-number="${group.fackorder.express_number}"
									data-leader-name="${group.fackorder.leader_name}"
							    {{/if}}
							    >${a.name}</a>
						    {{/if}}
						{{/each}}
                        </div>
					</td>
				</tr>
				{{/each}}
				{{if order.remark }}
				<tr>
					<td colspan="8" class="xui-remark xa-remark">
					<img src="/static_v2/img/editor/attention.jpg">卖家备注：${order.remark}
					</td>
				</tr>
				{{/if}}
			</table>
		</li>
		{{/each}}
	</ul>
</script>

<script id="order-products-table-tmpl-src" type="text/x-jquery-tmpl">
	<table class="table table-bordered table-condensed" id='xx' style="margin: 5px auto; background-color: #FAFAFA; width: 94%;">
	{{if products}}
		<tr>
			<th>商品</th>
			<th>规格</th>
			<th>数量</th>
			<th>总价</th>
		</tr>
		{{each(i, product) products}}
		<tr>
			<td width="200" style="padding: 10px;">
				{{if product.thumbnails_url.search('http://weappimg') != -1}}
				<img class="imgBox" src="${product.thumbnails_url + '!60'}" width="60" height="60"/>
				{{else}}
				<img class="imgBox" src="${product.thumbnails_url}" width="60" height="60"/>
				{{/if}}

				<span class="ml10">${product.name}</span>
				<span class="ml10" style="color: red">
					{{if product.is_deleted}} 已删除 {{/if}}
				</span>
			</td>
			<td width="20%">
			{{if (product.custom_model_properties !== null)}}
				{{each(j, property) product.custom_model_properties}}
				${property.name}: ${property.property_value}<br/>
				{{/each}}
			{{/if}}
		   	</td>
			<td width="10%" class="nowrap">
				x ${product.count}
			</td>
			<td width="10%" class="nowrap">
				￥${product.total_price}
			</td>
		</tr>
		{{/each}}
	{{else}}
		<tr><td>暂无数据</td></tr>
	{{/if}}
	</table>
</script>
{% endverbatim %}
<script type="text/javascript">
function formatOrderStatus(status) {
	var color = '#333333';
	if (status === '退款中') {
		return '<img src="/static_v2/img/editor/refund.jpg" class="mr5"><span style="color:red">' + status + '</span>';
	} else {
		return '<span style="color: ' + color + '">' + status + '</span>';
	}
	return
}
var DATA_INTERVAL = '';
$(document).ready(function() {
    var pageType = $(".xa-pageType").text();
    var status = '';
    if(pageType == '财务审核'){
        status = 'audit'
    }
	var filterBox = new W.view.mall.order.orderFilter({
		el: ".xa-orderFilterView",
		dataView: $('[data-ui-role="advanced-table"]').data('view'),
		userWebappId: {{user.get_profile.webapp_id}},
		status:status,
		orderStatus:{{order_status}},
	});
	filterBox.$el.bind('end_click', function(){
		// $('#start_date').val('');
		// $('#end_date').val('');
		DATA_INTERVAL = '';
	});


    var orderAction = new W.view.mall.OrderAction({
        pageType:"order_list"
    });

	// 订单状态栏，点击事件
	$('body').delegate('.xa-count', 'click', function(event){
		var $el = $(event.currentTarget);
		status = $el.data('total-status-value');
		filterBox.trigger('clickStatusBox', status);
	});
    var table = $('[data-ui-role="advanced-table"]');
    if(table.length>0){
        table.data('view').afterload = function(){
        common_interval_check_func();}
    }
	// 时间确定按钮
	$('#dateTimeBtn').click(function(event){
		var startDate = $('#start_date').val();
		var endDate = $('#end_date').val();
		if (!W.validate()) {
			return false;
		}
		var start = new Date(startDate.replace("-", "/").replace("-", "/"));
		var end = new Date(endDate.replace("-", "/").replace("-", "/"));
		if (start > end){
			//W.getErrorHintView().show('开始日期不能大于结束日期！');
			return false;
		}

		DATA_INTERVAL = startDate+'|'+endDate;

		var dataView = $('[data-ui-role="advanced-table"]').data('view');
		dataView.options.args = _.extend('{"date_interval":"'+DATA_INTERVAL+'", "filter_value":"'+filterBox.filter_value+'"}', dataView.options.args);
		dataView.reload();
	});

	// 获取商品
	$('#order-products-table-tmpl-src').template('order-products-table-tmpl-src');
	if($('[data-ui-role="advanced-table"]').length>0)// 避免没有数据时报空

		$('[data-ui-role="advanced-table"]').data('view').on('table-row-expanded', function(order_id, $tr) {
			if ($tr.find('table').length !== 0) {
				return;
			}
			W.getApi().call({
				app: 'mall2',
				resource: 'order_product',
				method: 'get',
				args: {
					order_id: order_id
				},
				success: function(data) {
					var $node = $.tmpl('order-products-table-tmpl-src', data);
					$tr.find('td').empty().append($node);
				},
				error: function(resp) {
					$tr.find('td').empty().html('无商品数据')
				}
			})
		});
	//买家留言
	// $('body').delegate('.xa-costomerMessage','click',function(event) {
	// 	$('.xa-costomerMessage').popover({
	// 	trigger:'click',
	// 	placement:'right',
	// 	template:'<div class="popover" role="tooltip"><div class="popover-content"></div></div>'
	// 	});
	// });




	//买家留言
	$('body').delegate('.xa-costomerMessage', 'mouseenter', function(event){
		var $el = $(event.currentTarget);
		var messageContent = $el.data('content');
		// console.log(content);
		var mallOrderCostomerMessageView = W.getMallOrderCostomerMessageView({
			width: 220,
			isTitle: false,
			isArrow:false,
			privateContainerClass:'xui-costomerMessageDropBox',
			position:'down-left'
		});
		mallOrderCostomerMessageView.show({
			$action: $el,
			messageContent: messageContent
		});
	})

	$('body').delegate('.xa-costomerMessage', 'mouseleave', function(event){
		var mallOrderCostomerMessageView = W.getMallOrderCostomerMessageView({
			width: 220,
			isTitle: false,
			isArrow:false,
			privateContainerClass:'xui-costomerMessageDropBox',
			position:'down-left'
		});
		mallOrderCostomerMessageView.hide();
	})

	$('body').delegate('.xa-huihuiCardImg', 'mouseover', function(event) {
		var $el = $(event.currentTarget);
		$el.siblings('span').show();
	});
	$('body').delegate('.xa-huihuiCardImg', 'mouseout', function(event) {
		var $el = $(event.currentTarget);
		$el.siblings('span').hide();
	});

	// 微众卡价钱提示
	$('body').delegate('.xa-weizoomCardImg','mouseover',function(event){
		var $el = $(event.currentTarget);
		$el.siblings('span').show();
	});
	$('body').delegate('.xa-weizoomCardImg','mouseout',function(event){
		var $el = $(event.currentTarget);
		$el.siblings('span').hide();
	});


	// 买家信息提示
	$('body').delegate('.xa-buyerHintImg','mouseenter',function(event){
		var $el = $(event.currentTarget);
		var buyerHintView = W.getBuyerHintView({
			width: 267,
			isTitle: false,
			isArrow:true,
			privateContainerClass:'xui-buyerHintDropBox xa-buyerHintDropBox',
			position:'top'
		});

		var delivery_time = $el.data('delivery_time');
		var addr = $el.data('addr');
		var tel = $el.data('tel');
		var message = $el.data('message');
		var bill_type = $el.data('bill-type');
		if(bill_type === "0") {
			bill_type = "无";
		} else if(bill_type === "1") {
			bill_type = "个人";
		} else if(bill_type === "2") {
			bill_type = "公司";
		}
		var bill = $el.data('bill');

		buyerHintView.show({
			$action: $el,
			delivery_time: delivery_time,
			addr: addr,
			tel: tel,
			message: message,
			bill_type: bill_type,
			bill: bill
		});
	});
	$('body').delegate('.xa-buyerHintImg','mouseleave',function(){
		$('.xa-buyerHintDropBox').hide();
	});
});
</script>
{% endblock %}
