{% extends "content_base_v2.html" %}

{% block content-panel %}
<div class="xui-mall-outlinePage">
	<div class="relative">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
			<li>
				<a href="/mall2/outline/">首页</a>
			</li>
			<li class="active">统计概况</li>
		</ul>
	</div>

	<section class="xui-i-allContent">
		<div class="xui-legend">
			经营概况
		</div>

		<div class="panel panel-default">
			<div class="panel-body clearfix">
				<section class="xui-i-left xui-mall-outlinePage-orders">
					<header class="xui-i-header">待发货订单 <span class="xui-i-date">({{order_info.count}})</span></header>
					<div class="pl20 xui-i-orders">
						{% for orders in order_info.orders_list %}
						<section class="mt5">
							<header class="xui-i-date">［{{orders.date}}］</header>
							{% for order in orders.items %}
							<ul class="pl20">
								<li class="mt5">
									<a href="/mall2/order/?order_id={{order.id}}" target="_blank" class="xui-block">{{order.order_id}}</a>
									<p class="fl">订单金额：</p><p class=" w80 fl">{{order.final_price}}</p><p class="fl">数量：</p><p class="fl w50 ml10">{{order.product_count}}</p>
								</li>
							</ul>
							{% endfor %}
						</section>
						{% endfor %}
					</div>
					<footer class="xui-i-moreOrder">
					<a href='/mall2/order_list/'>更多...</a>
					</footer>
				</section>

				<section class="xui-i-right ml10">
					<div class="xui-i-outlineCounts">
						<ul class="clearfix">
							{% for outline_count in outline_counts %}
								<li class="xui-i-outlineCount fl">
									<div class="xui-i-count">{{outline_count.count}}</div>
									<div class="xui-i-description">{{outline_count.description}}</div>
								</li>
							{% endfor %}
						</ul>
					</div>

					<section class="xui-i-messages">
						<header class="p10 pl20"><img src="/static_v2/img/editor/clock.png"/><span class="ml15 xui-bold">系统通知</span><a href="#" class="fr"></a></header>

						{% for message in system_messages %}
						<div class="xui-i-message ml80">
							<a href='/mall2/notice/?pk={{message.id}}' class="xui-i-messageLink">［{{message.created_at|date:"o-m-d"}}］{{message.title}}</a>
							<div class="xui-i-messageSummary">
								{{message.summary}}
							</div>
						</div>
						{% endfor %}
					</section>
				</section>
			</div>
			<div class="xui-ChartContent">
				 <div class="panel-heading xui-bold">购买趋势</div>
			     <div  class="xui-ChartBody" id="purchaseTrend" data-ui-role="echart" data-app="mall2" data-api="outline" data-args='{"type":"purchase_trend"}'>
			     </div>
			</div>
			<div class="xui-ChartContent mb50">
				<div class="panel-heading xui-bold">页面访问</div>
				<div class="xui-ChartBody" id="visitTrend" data-ui-role="echart" data-app="mall2" data-api="outline" data-args='{"type":"visit_daily_trend"}'>
			   </div>
			</div>
		</div>

	</section>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	// var view = new W.view.mall.ProductListView({
	// 	el: '.xui-productsPage',
	// 	type: 'offshelf'
	// });
	// view.render();
});

</script>
{% endblock %}
