{% extends "content_base_v2.html" %}
{% block css%}
<style>
	.xui-container{
		background: #eee!important;
	}
	.xui-mall-outlinePage p {
		font: 24px 'Microsoft YaHei';
		color:#c0bebe;
		padding-top:250px;
	}
	.xui-mall-outlinePage p span{
		display: inline-block;
		padding-bottom: 3px;
		vertical-align: bottom;
	}
	.xui-mainPanel .xui-container .xui-content{
		margin-left: 0;
	}
</style>
{% endblock %}
{% block content-panel %}
<div class="xui-mall-outlinePage">
<p class="vm tc">
	<img src="/static_v2/img/editor/lock.jpg" alt="">
	<span>系统使用权限不足，请联系管理员申请授权。</span>
</p>
</div>
{% endblock %}