{% extends "content_base_v2.html" %}


{% block content-panel %}
<div class="xui-procateCategoriesPage">
<ul class="breadcrumb">
	<li>您当前所在位置</li>
	<li><a href="/mall2/product_list/?shelve_type=1">商品管理</a></li>
	<li class="active">分组管理</li>
</ul>

<div class="fr">
	<button class="btn mt20 mr10 btn-success xui-addProductBtn xa-addCategory xui-addNewGroup"><span style="padding-right:5px;"><img src="/static_v2/img/editor/plusOpcity.png"></span>新建分组</button>
</div>
<hr  class="mt70" style="border:1px solid #1183C9;">
<!-- glyphicon glyphicon-plus-sign -->
{% for category in product_categories %}
<table class="table  mt20  table-bordered" data-category-id="{{category.id}}">
	<thead>
		<tr class="xui-tableTitleBar ">
			<th colspan="7" class="xui-i-title">
				<span class="xa-categoryTitle xui-fontBold xui-categoryTitlePosition">{{category.name}}</span>
				<div class="xui-i-actionBar">
					<a href="javascript:void(0);" class="btn btn-primary xa-editCategory xui-editCategory">管理</a>
					<div class="xui-cutLine fl"></div>
					<a href="javascript:void(0);" class="btn btn-danger xa-deleteCategory xui-deleteCategory">删除分组</a>
				</div>
			</th>
		</tr>
		<tr>
			<th width="415">商品名称</th>
			<th width="110">商品价格（元）</th>
			<th width="80">状态</th>
			<th width="75">排序</th>
			<th width="75">销量</th>
			<th width="110">加入分组时间</th>

			<th>操作</th>
		</tr>{{product.user_code}}
	</thead>
	<tbody>
		{% for product in category.products %}
		<tr data-product-id="{{product.id}}" data-category-id="{{category.id}}" {% if product.status == '待售' %}class="xui-color-mark"{% endif %}>
			<td width="415">{{product.name}}</td>
			<td width="110">{{product.display_price}}</td>
			<td width="80">{{product.status}}</td>
			<td width="75">
				{% if product.status == '在售' %}
					<input autocomplete="off" width="38" type="text" class="xa-rank" data-id="{{product.id}}" style="width:100%;"
					 			 value="{{product.display_index}}" data-display-index="{{product.display_index}}">
				{% endif %}
			</td>
			<td width="75">{{product.sales}}</td>
			<td width="110">{{product.join_category_time|date:"Y-m-j H:i"}}</td>
			<td><a class="xa-deleteProductFromCategory" href="javascript:void(0);">删除</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>

{% endfor %}
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	function addCategory() {
		W.getAip().call({
			method: 'put',
			app: 'mall2',
			resource: 'category',
		})
	}

	$('.xa-addCategory').click(function() {
		W.dialog.showDialog('W.dialog.mall.AddProductCategoryDialog', {
			canEditTitle: true,
			success: function(data) {
				W.getApi().call({
					method: 'put',
					app: 'mall2',
					resource: 'category',
					args: data,
					success: function(data) {
						window.location.reload();
					},
					error: function(resp) {

					}
				})
			}
		})
	});

	$('.xa-editCategory').click(function(event) {
		var $table = $(event.currentTarget).parents('table');
		var categoryId = $table.data('categoryId');
		var title = $table.find('.xa-categoryTitle').text();

		W.dialog.showDialog('W.dialog.mall.AddProductCategoryDialog', {
		  	canEditTitle: true,
			title: title,
			categoryId: categoryId,
			success: function(data) {
				W.getApi().call({
					method: 'post',
					app: 'mall2',
					resource: 'category',
					args: _.extend(data, {
						id: categoryId
					}),
					success: function(data) {
						window.location.reload();
					},
					error: function(resp) {

					}
				})
			}
		})
	});

	$('.xa-deleteCategory').click(function(event) {
		var $table = $(event.currentTarget).parents('table');
		var categoryId = $table.data('categoryId');

		W.requireConfirm({
        	$el: $(this),
        	width:380,
        	position:'top',
			isTitle: false,
			privateContainerClass:'xui-orderConfirmPop',
        	msg:'确定删除分组？',
        	confirm:function(){
        		W.getApi().call({
					method: 'delete',
					app: 'mall2',
					resource: 'category',
					args: {
						category_id: categoryId
					},
					success: function(data) {
						window.location.reload();
					},
					error: function(resp) {

					}
				});
        	}
        })

	});

	$(document).delegate('.xa-deleteProductFromCategory', 'click', function(event) {
		var $link = $(event.currentTarget);
		var productId = $link.parents('tr').data('productId');
		var categoryId = $link.parents('table').data('categoryId');

		W.requireConfirm({
        	$el: $(this),
        	width:380,
        	position:'top',
			isTitle: false,
			privateContainerClass:'xui-orderConfirmPop',
        	msg:'确定删除？',
        	confirm:function(){
        		W.getApi().call({
					method: 'delete',
					app: 'mall2',
					resource: 'category',
					args: {
						category_id: categoryId,
						product_id: productId
					},
					success: function(data) {
						window.location.reload();
					},
					error: function(resp) {
						alert("创建分组失败");
					}
				});
        	}
        })
	});

	$(document).delegate('.xa-rank-category', 'click', function(event){
			location.reload();

	});

	var onConfirmRankInput = function(event){
		  var $link = $(event.currentTarget);
		  var category_id = $(event.currentTarget).parents('tr').data('category-id');
		  var product_id = $(event.currentTarget).parents('tr').data('product-id');
		  var rankText = $.trim($(event.currentTarget).val());/*文本框的值*/
		  var oldPos = $.trim($(event.currentTarget).data('display-index'));
		  var updateAction = function() {
		      try{
		          has_index.val('0').data('display-index', 0);
		      }
		      catch(e){
		      }
		      finally{
		          W.getApi().call({
		              method: 'post',
		              app: 'mall2',
		              resource: 'category_list',
		              args: {
		                  category_id: category_id,
		                  product_id: product_id,
		                  position: rankText,
		              },
		              success: function(data){
		                 $(event.currentTarget).data('display-index', rankText).val(rankText);
		              },
		              error: function(response){
		                  W.showHint('error', '更新产品位置失效');
		              }

		          });
		      }
		  }
		  var has_index = false
		  var rankTextList = $(event.currentTarget).parents('tr').siblings().find('.xa-rank').each(function(i){
		      var a_rank = $.trim($(this).data('display-index'));
		      if(rankText == a_rank && rankText != 0){
		          has_index = $(this);
		      }
		  });
		  var cancel = function(){
		      $(event.currentTarget).val(oldPos);
		  }
		  if (has_index){
		          var msg = "位置"+rankText+"已存在商品， 是否替换"
		          W.requireConfirm({
		              $el: $link,
		              width:480,
		              height:55,
		              position:'top',
		              isTitle: false,
		              msg: msg,
		              confirm: updateAction,
		              cancel:cancel,
		              minClickTime:1
		          });
		  }else{
		      updateAction();
		  }
	}

	$(document).delegate('.xa-rank', 'keypress', function(event){
		var keyCode = event.keyCode;
		if(keyCode === 13) {
			onConfirmRankInput(event);

		}
	});

	$(document).delegate('.xa-rank', 'blur', function(event){
		var oldConfirmView = W.registry['common-popup-confirm-view'];
		var oldPos = $.trim($(event.currentTarget).data('display-index'));
		var rankText = $.trim($(event.currentTarget).val());
		if(rankText == oldPos){
		    return;
		}
		if(!oldConfirmView || oldConfirmView.$el.css('display') == 'none'){
		    onConfirmRankInput(event);
		}
	});
});
</script>
{% endblock %}
