{% extends "content_base_v2.html" %}
{% load staticfiles %}
{% load project_filter %}
{% load account_filter %}

{% block content-panel %}
<div class="xui-productsPoolPage">
    <ul class="breadcrumb">
        <li>您当前所在位置</li>
        <li>
            <a href="/mall2/product_list/?shelve_type=1">商品管理</a>
        </li>
        <li class="active">添加新商品-商品池</li>
    </ul>
    {% if mall_type %}
    <ul class="nav nav-tabs" style="border:none;">
        <li>
            <a href="/mall2/product/">添加新商品</a>
        </li>
        <li class="active">
            <a href="/mall2/product_pool/">商品池</a>
        </li>
    </ul>
    {% endif %}
    <div class="xa-productFilterView xui-filterPanel"></div>
    <div class="panel panel-default mt20 xb-rightPanel">
        <div class="panel-heading">
            <label for="topSelectAll" class="xui-selectAll ml15">
                <input type="checkbox" id="topSelectAll" class="xa-selectAll">全选
            </label>
            <a href="javascript:void(0);" class="btn btn-default ml10 xa-batchOffshelf">批量放入待售</a>
            <a href="javascript:void(0);" class="btn btn-primary ml10 xa-checkOffshelf xui-offshelf-btn fr">
                查看失效商品
            </a>
        </div>
        <div
        data-ui-role="advanced-table"
        data-app="mall2"
        data-resource="product_pool"
        data-template-id="#products-view"
        data-enable-paginator="true"
        data-enable-sort="false"
        data-selectable="true"
        data-item-count-per-page="8"
        data-disable-header-select="true"
        data-outer-selecter='.xa-selectAll'
        class="panel-body"
        data-selecttable-tr='xa-selectTr'
    ></div>
    <label for="bottomSelectAll" class="xui-selectAll ml12 xui-bottomSelectAll">
        <input type="checkbox" id="bottomSelectAll" class="xa-selectAll">全选
    </label>
    </div>
</div>
{% endblock %}
{% block js %}
{% verbatim %}
<script id="products-view" type="text/x-jquery-tmpl">
    <table id="productListTable" class="table table-bordered table-condensed xui-productList xb-stripedTable xb-noTdBorder xb-noBottom xb-noBorder xb-theadBg {{if items.length == 0}}mb50{{/if}}">
        <thead>
            <tr>
                <th width="250">商品信息</th>
                <th width="100">供货商</th>
                <th width="50">库存</th>
                <th width="115">状态</th>
                <th width="120">同步时间</th>
                <th width="90">操作</th>
            </tr>
        </thead>
        <tbody id='product_list'>
            {{if items.length}}
                {{each(i, product) items}}
                <tr data-id="${product.id}" class="xa-selectTr">
                    <td class="wui-advanced-table-sort-handler tl_important">
                        <div class="disT w">
                            <div class="imgBox disTc pr xui-imgBox vm">
                                {{if product.thumbnails_url.search('http://weappimg') != -1}}
                                  <img src="${product.thumbnails_url + '!60'}" width="60" height="60"/>
                                {{else}}
                                  <img src="${product.thumbnails_url}" width="60" height="60"/>
                                {{/if}}
                            </div>
                            <div class="pl15 disTc xui-poductorIntroduction">
                                <div class="mb0 mt0" style="height:35px; ">
                                <p class="mb0" style="line-height:16px;">${product.name}
                                {{if product.status == 1}}
                                <i class="xui-updateTag">更新</i>
                                {{/if}}
                                </p>
                                </div>
                                <span class="xui-fontGary">商品编码: ${product.user_code}</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        ${product.store_name}
                    </td>
                    <td>${product.stocks}</td>
                    <td>
                        {{if product.status == 1}}
                        <span class="cRed">待更新</span>
                        {{/if}}
                        {{if product.status == 2}}
                        <span>未选择</span>
                        {{/if}}
                        {{if product.status == 3}}
                        <span class="cRed">已选择</span>
                        {{/if}}
                    </td>
                    <td class="xui-createdTime">${product.sync_time}</td>
                    <td>
                        {{if product.status == 1}}
                        <a href="javascript:void(0);" class="xa-update">更新</a>
                        {{/if}}
                        {{if product.status == 2}}
                        <a href="javascript:void(0);" class="xa-offshelf">放入待售</a>
                        {{/if}}
                        {{if product.status == 3}}
                        <span class="c6">无更新</a>
                        {{/if}}
                    </td>
                </tr>
                {{/each}}
            {{else}}
                <tr><td colspan='6'>还没有数据</td></tr>
            {{/if}}
        </tbody>
    </table>
</script>
{% endverbatim %}
<script type="text/javascript">
$(document).ready(function() {
    var view = new W.view.mall.ProductsPoolView({
        el: '.xui-productsPoolPage'
    });
    view.render();
});
</script>
{% endblock %}
