{% extends "content_base_v2.html" %}

{% block content-panel %}
<div class="xui-editLimitedAreaConfigsPage">
	<ul class="breadcrumb">
		<li>您当前所在位置</li>
		<li>
			<a href="/mall2/product_list/?shelve_type">商品管理</a>
		</li>
		<li>限定区域</li>
        <li>编辑限定区域</li>
	</ul>
	<div class="xui-i-content p30 xa-limitedAreaSelector">
		<section class="mb20">
			<p class="clearfix">
				<label class="fl" style="padding-top:4px;">模板名称</label>
				<input class="form-control w350 fl ml10" name="name" data-validate="require-string" >
			</p>
			<div class="errorHint"></div>
			<p>禁售地区：有些地区不能够买</p>
			<p>仅售地区：只有此地区可以购买</p>
		</section>
		<section class="xa-selectedLimitedArea">
			<!--<table class="table xui-editLimitedAreaConfigTable">
		        <thead>
		            <tr>
		                <th width="200">区域</th>
		                <th width="134">省</th>
		                <th>市</th>
		                <th width="84">操作</th>
		                <th width="65" class="tl"><a href="javascript:void(0);" class="xa-edit">编辑</a></th>
		            </tr>
		        </thead>
		        <tbody>
		            <tr>
		                <td>直辖市</td>
		                <td>北京市</td>
		                <td></td>
		                <td><a href="javascript:void(0);" class="xa-delete">删除</a></td>
		                <td></td>
		            </tr>
		            <tr>
		                <td>华北-东北</td>
		                <td>河北</td>
		                <td>张家口市 廊坊市</td>
		                <td><a href="javascript:void(0);" class="xa-delete">删除</a></td>
		                <td></td>

		            </tr>
		            <tr>
		                <td>华北-东北</td>
		                <td>辽宁</td>
		                <td>葫芦岛市 长春市</td>
		                <td><a href="javascript:void(0);" class="xa-delete">删除</a></td>
		                <td></td>
		            </tr>
		             <tr>
		            	<td colspan="5" class="tl">未添加任何地区</td>
		            </tr>
		        </tbody>
		    </table> -->
		</section>
		
        <div class="tc mt50">
			<button class="btn btn-primary xa-submit mt20">保&nbsp;存</button>
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
$(document).ready(function(){
	var limitedAreaSelector = new W.view.mall.limitedAreaSelectorView({
		el: '.xa-limitedAreaSelector',
		tableTemplate: 'selected-limited-area-view-tmpl-src',
	});
	limitedAreaSelector.render();
});
</script>
{% endblock %}