{% extends "content_base_v2.html" %}

{% block content-panel %}
<div class="xui-productPropertyPage">
	<ul class="breadcrumb">
		<li>您当前所在位置</li>
		<li>
			<a href="/mall/onshelf_products/get/">商品管理</a>
		</li>
		<li class="active">属性规格管理</li>
	</ul>

	<ul class="nav nav-tabs">
		<li class="active">
			<a href="/mall/property_templates/get/">属性管理</a>
		</li>
		<!--li>
			<a href="/mall/model_properties/get/">规格管理</a>
		</li-->
	</ul>

	{% if templates %}
		<div class="mt15 xui-addWraper">

		<button class="btn fr btn-success xa-add xui-addProductBtn  xui-addNewGroup mb15">
			<span style="padding-right:4px;">
				<img src="/static_v2/img/editor/plusOpcity.png"></span>
			属性模板
		</button>
	</div>
	{% for template in templates %}
	<section class="xui-section" data-template-id="{{template.id}}" >
		<div class="xui-propertyTemplateHeader">
			<h2 class="xui-i-templateName xa-title xui-templateTitle pl20">{{template.name}}</h2>
			<div class="xui-operationBtn">
				<a class="xa-edit xui-editBtn">编辑</a>
				<a class="xa-cancelBtn xui-deleteBtn">删除</a>
			</div>
		</div>
		<ul class="xui-i-templateProperties xui-clearListStyle clearfix pt10">
			{% for property in template.properties %}
			<li class="xui-i-templateProperty">
				<span class="xui-i-propertyName xui-propertyNameBtn text_nowrap" title="{{property.name}}">{{property.name}}</span>
				<span class="xui-i-propertyValue xui-propertyValueInput text_nowrap" title="{{property.value}}">{{property.value}}</span>
			</li>
			{% endfor %}
		</ul>

	</section>
	{% endfor %}

	{% else %}
	<div class="xui-rightPanel">	

	<div class="mt15 xui-addWraper">

		<button class="btn fr btn-success xa-add xui-addNewGroup mb15">
			<span style="padding-right:4px;">
				<img src="/static_v2/img/editor/plusOpcity.png"></span>
			属性模板
		</button>
	</div>
	<div class="xui-emptyBox ">
		<div class="xui-i-emptyHint">
			<img src="/static_v2/img/editor/empty.png">
			<div>
				<span style="">您还没有属性模板，赶快添加！</span>
			</div>
		</div>
	</div>
	</div>
	{% endif %}
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	$('.xa-add').click(function(event) {
		W.dialog.showDialog('W.dialog.mall.EditProductPropertyDialog', {
			canEditTitle: true,
			success: function(data) {
				data = W.toFormData(data);
				W.getApi().call({
					method: 'post',
					app: 'mall',
					api: 'property_template/create',
					args: data,
					success: function(data) {
						window.location.reload();
					},
					error: function(resp) {
						alert('创建属性模板失败!');
					}
				})
			}
		})
	});

	$('.xa-edit').click(function(event) {
		var $section = $(event.target).parents('section').eq(0);
		var title = $.trim($section.find('.xa-title').text());
		var templateId = $section.data('templateId');
		W.dialog.showDialog('W.dialog.mall.EditProductPropertyDialog', {
			canEditTitle: true,
			title: title,
			templateId: templateId,
			success: function(data) {
				data = W.toFormData(data);
				W.getApi().call({
					method: 'post',
					app: 'mall',
					api: 'property_template/update',
					args: _.extend(data, {id: templateId}),
					success: function(data) {
						window.location.reload();
					},
					error: function(resp) {
						alert('更新属性模板失败!');
					}
				})
			}
		})
	});

$('body').delegate('.xa-cancelBtn', 'click', function(event) {
        event.stopPropagation();
        event.preventDefault();
        var $el = $(event.currentTarget);
        var $section = $el.parents('section').eq(0);
		var templateId = $section.data('templateId');
        W.requireConfirm({
        	$el: $(this),
        	width:380,
        	position:'top',
			isTitle: false,
			privateContainerClass:'wui-confirmDelete',
        	msg:'是否确定删除',
        	confirm:function(){
        		W.getApi().call({
				method: 'post',
				app: 'mall',
				api: 'property_template/delete',
				args: {id: templateId},
				success: function(data) {
					window.location.reload();
				},
				error: function(resp) {
					alert('删除属性模板失败!');
				}
			})
        	}
        })
       
    });
});

</script>
{% endblock %}
