{% extends "content_base_v2.html" %}
{% load apps_filter %}
{% block css %}
    <style>
    .tl.pl25 img{
    	height: 60px;
    	width: 60px;
    }
    </style>
{% endblock %}
{% block content-panel %}
<div class="xui-redEnvelopeParticipances-page xui-appPage-commonStyle">
	<div class="relative">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
            <li><a href="/apps/lottery/lotteries/">百宝箱</a></li>
            <li><a href="/apps/promotion/red_envelope_rule_list/">分享红包</a></li>
			<li class="active">查看结果</li>
		</ul>
	</div>
    	<div class="xui-formPanel pb10 mb15">
		<div class="xui-i-col">
			<div class="xui-i-item">
				<label class="">用户名：</label>
				<input type="text" class="form-control" id="participant_name" name="participant_name" value="" />
			</div>
		</div>
		<div class="xui-i-col">
			<div class="ml80">
				<a class="btn btn-primary mr30 xa-search xui-fontBold" href="javascript:void(0);">查&nbsp;&nbsp;&nbsp;&nbsp;询</a>
				<a class="btn btn-default xa-reset xui-fontBold" href="javascript:void(0);">重&nbsp;&nbsp;&nbsp;置</a>
			</div>
		</div>
	</div>
    <div class="panel panel-default xui-tableBox">
        <div
            class="panel-body panel-table p0 mt10"
            data-ui-role="advanced-table"
            data-app="apps/promotion"
            data-resource="red_envelope_participances"
            data-args='{"id": "{{red_envelope_id}}"}'
            data-template-id="#red_envelope_participances_view"
            data-enable-paginator="true"
            data-enable-sort="false"
            data-disable-header-select="true"
            data-item-count-per-page="10"
            id="redEnvelopeParticipancesList"
        ></div>
    </div>
</div>
{% endblock %}

{% block js %}
{% verbatim %}
<script id="red_envelope_participances_view" type="text/x-jquery-tmpl">
	{{if items!='' }}
	<table class="table table-bordered xb-stripedTable xb-noTdBorder xb-noBottom xb-noBorder xb-theadBg mb10">
		<thead>
			<tr>
				<th>用户名</th>
				<th>报名时间</th>
				<th>信息</th>
			</tr>
		</thead>
		<tbody>
		  {{each(i, item) items}}
			<tr data-id="${item.id}">
				<td
					class="tl pl25"
					style="width:250px; height:60px;"
				>
					<img src="${item.participant_icon}" />
					{{html item.participant_name}}
				</td>
				<td>
					${item.created_at}
				</td>
				<td>
					{{each(i, information) informations}}
						${information.item_name}:${information.item_value}<br />
					{{/each}}
				</td>
			</tr>
			{{/each}}
		</tbody>
		<div class="cb"></div>
	</table>
	{{else}}
		<div class="xui-emptyBox m10">
			<img src="/static_v2/img/editor/empty.png">
			<span class="ml20">您还没有相关数据！</span>
		</div>
	{{/if}}
	<br>
</script>
{% endverbatim %}

<script type="text/javascript">
$(document).ready(function() {
	// $('body').delegate('.xa-viewData', 'click', function(event) {
	// 	var activityId = $(event.currentTarget).parents('tr').data('id');
	// 	W.dialog.showDialog('W.dialog.app.event.ViewParticipanceDataDialog', {
	// 		activityId: activityId,
	// 		success: function(data) {
	// 			alert(data);
	// 		}
	// 	});
	// });

	var participant_name,startTime,endTime;
    //export
    $('.xa-export').click(function(event){
        W.getLoadingView();
		participant_name = $.trim($('[name="participant_name"]').val());
		startTime = $.trim($('[name="start_time"]').val());
		endTime = $.trim($('[name="end_time"]').val());
        var export_id =window.location.search.split('?id=')[1];
        W.getApi().call({
            method: 'get',
            app: 'apps/event',
            resource: 'event_participances-export',
            args: {
				'export_id':export_id,
				'participant_name': participant_name,
				'start_time': startTime,
				'end_time': endTime
			},
            success: function(resp){

                if(resp.code == 200){
                    $('#export_href').prop({
                        'href': resp.download_path,
                        'download': resp.filename
                    }).get(0).click();

                }
                console.log("导出成功");
            },
            error: function(error){
                console.log('导出失败');
            }
        });
    });

    $('.xa-reset').click(function(event) {
		$('[name="name"]').val('');
		$('[name="status"]').val('-1');
		$('[name="prize_type"]').val('all');
	});

});
</script>
{% endblock %}

