{% extends "content_base_v2.html" %} {% load common_tag %} {% load account_filter %} {% block content-panel %}

<div class="xui-expiredTime-page">
	<ul class="breadcrumb">
		<li>您当前所在位置</li>
		<li>
			<a href="mall/editor/edit_expired_time.html">订单管理</a>
		</li>
		<li class="active">所有订单</li>
	</ul>
	<div class="xui-new-adress w975 pr" style="background: #EAEEF6;">
		<div class="pt20 pl20">添加新地址</div>
		<div class="xui-i-content mt20 pl50">
			
			<!--<form action="/mall2/sender_info/" method="put">-->
				<form action="/mall2/sender_info/?method=put" method="post">

				<div class="mb10">
					<label for="" class="star_show">发货人：</label>
					<input type="text" class="ml10" name="sender_name" required/><br />
				</div>
				
			<div class="mb10">
			<label class="star_show">所在地区：</label>
			<select class="xa-province" required>
             	<option value="请选择">请选择省/直辖市</option>            	
             </select>
			 <select class="xa-city" required>
             	<option value="请选择">请选择市</option>            	
             </select>
			 <select class="xa-district" required>
             	<option value="请选择">请选择区/县</option>            	
             </select><br />
             <input type="hidden" name="area" />
			</div>

				<div>
					<div class="mb10">
						<label for="" class="star_show fl">详细信息：</label>
						<textarea rows="5" cols="50" placeholder="不需要重复填写省/市/区" name="sender_address" required></textarea>
					</div>
				</div><br />
				<div class="mb10 ">
					邮政编码：<input type="text" name="code" class="ml20"/><br />
				</div>
				
				<div class="mb10"> 
					<label class="star_show fl" >发货人电话：</label>
					<input type="tel" name="sender_tel" required/>
				</div>
				
				<div class="mb10">
					公司名称：<input type="text" class="ml20" name="company_name"/>
				</div>
				
				<div class="mb10">
					<label class="fl">备注：</label><textarea name="adress" rows="5" cols="50" class="ml10"></textarea>
				</div>
				<div class="mt70 ml200">
					<a href="javascript:void(0);" class="btn btn-default xa-submit">保存</a>
				</div>
				
			</form>
		</div>
	</div>
</div>

{% endblock %}
{% block js %}
<script type="text/javascript">
    
	$(document).ready(function() {
		$('.xa-submit').on('click',function(){
    	var area = $('.xa-province').val()+'_'+$('.xa-city').val()+'_'+$('.xa-district').val();
    	$('[name="area"]').val(area);
    	var args = $('form').serializeObject();
//  	$('form').submit();
    	  W.getApi().call({
          method: 'put',
          app: 'mall2',
          resource: 'sender_info',
          args:args,
	      success: function(data) {
				window.location.href = '/mall2/sender_info_list/';
					},
					error: function(resp) {
					}
				});
       });
       
       
		var obj = {
			init: function () {
				this.getPrvince();
			},


			// 获取省份
			getPrvince: function() {
				var _this = this;
				W.getApi().call({
                 method: 'get',
                 app: 'tools',
                 resource: 'regional/provinces',
					success: function(datas) {
						var option = '';
						_.each(datas,function(data,i){
//							console.log(data,i)
							option+='<option value="'+i+'" data-id="'+i+'">'+data+'</option>';
						})
						$('.xa-province').html(option);
						_this.selectProvince();
					},
					error: function(resp) {
					}
				});
			},
			// 选择省份
			selectProvince: function() {
				var _this = this;
				$('.xa-province').on('click',function() {
					var $self = $(this);
					if($self.find('option:selected').html() != "请选择省份/直辖市") {
						_this.getCity();
					}else{
						$('.xa-city').html('<option>请选择市</option>');
					}
				});
			},
			
			// 获取城市
			getCity: function() {
				var _this = this;
                var id = $('.xa-province').find('option:selected').data('id')
//              console.log(id);
                   W.getApi().call({
                    method: 'get',
                    app: 'tools',
                    resource: 'regional/cities/'+id,
					success: function(datas) {
						var option = '';
						_.each(datas,function(data,i){
//							console.log(data,i)
							option+='<option value="'+i+'" data-id="'+i+'">'+data+'</option>';
						})


						$('.xa-city').html(option);
						_this.selectDistrict();
					},
					error: function(resp) {
					}
				});
			},
			
			//选择区县
			selectDistrict: function() {
				var _this = this;
				$('.xa-city').on('click',function() {
					var $self = $(this);
					if($self.find('option:selected').html() != "请选择市") {
						_this.getDistrict();
					}else{
						$('.xa-district').html('<option>请选择市</option>');
					}
				});
			},
			
			// 获取区/县
			getDistrict: function() {
				var _this = this;
                var id=$('.xa-city').find('option:selected').data('id');
//              console.log(id);
                   W.getApi().call({
                    method: 'get',
                    app: 'tools',
                    resource: 'regional/districts/'+id,
					success: function(datas) {
						var option = '';
						_.each(datas,function(data,i){
//							console.log(data,i)
							option+='<option value="'+i+'" data-id="'+i+'">'+data+'</option>';
						})
						$('.xa-district').html(option);
					},
					error: function(resp) {
					}
				});
			},
		};
		obj.init();
		
	});
</script>
{% endblock %}