{% extends "content_base_v2.html" %}
{% load common_tag %}
{% load account_filter %}


{% block content-panel %}

<div class="xui-expiredTime-page">
	<ul class="breadcrumb">
		<li>您当前所在位置</li>
		<li>
			<a href="mall/editor/edit_expired_time.html">订单管理</a>
		</li>
		<li class="active">所有订单</li>
	</ul>
   <a href="/mall2/sender_info/">+新增地址</a>
     <div
                data-ui-role="advanced-table"
                data-app="mall2"
                data-resource="sender_info_list"
                data-enable-paginator="true"
                data-template-id="#mall-orders-sender"
                data-init-sort="-created_at"
                data-selectable = "false"
                data-user-webapp-id={{user.get_profile.webapp_id}}
            >
            </div>
   
	
</div>
{% endblock %}

{% block js %}
{% verbatim %}
 <script id="mall-orders-sender" type="text/x-jquery-tmpl">
	<table class="table">
		<thead>
			<tr class="xui-trHeight">
				<th width="110px">默认</th>
				<th width="110">发货人信息</th>
				<th width="110">发货人电话</th>
				<th width="110">所在地区</th>
				<th width="110">详细地址</th>
				<th width="110">邮政编码</th>
				<th width="110">操作</th>
			</tr>
		</thead>
		<tbody>
            {{each(i, item) items}}
                <tr data-id="${item.id}">
                	<!--默认-->
                    <td class="nowrap">
                        <input type="radio" id="verbose_name" value="" />
                    </td>
                    <!--发货人姓名-->
                    <td>
                        <div>${item.sender_name}</div>
                    </td>
                    <!--发货人电话-->
                    <td class="nowrap">
                        <div>${item.sender_tel}</div>
                    </td>
                    <!--所在地区-->
                    <td class="nowrap">
                        <div>${item.area}</div>
                    </td>
                    <!--详细地址-->
                    <td class="nowrap">
                        <div>${item.sender_address}</div>
                    </td>
                    <!--邮政编码-->
                    <td class="nowrap">
                        <div>${item.code}</div>
                    </td>
                    <!--操作-->
                    <td class="tc" style="width:100px;">
                        <a href="javascript:void(0);" data-id="" class="xui-delete-sender xa-delete mr10">删除</a>
                        <a href="" data-id="" data-name="">修改</a>
                    </td>
                </tr>
			{{/each}}
		</tbody>        
	</table>
</script>
{% endverbatim %}
{% endblock %}
