{% extends "content_base_v2.html" %}
{% block css%}
<style>
    .xui-advancedTableContent .table tr td{
        height:50px;
    }
</style>
{% endblock%}
{% block content-panel %}
<div class="xui-logisticsPage">
	<ul class="breadcrumb">
		<li>您当前所在位置</li>
		<li>配置管理</li>
		<li class="active">供货商</li>
	</ul>
<div class="xui-tableList-content">
    <div class="xui-filter xui-filterPanel clearfix" style="padding:20px 15px;">
        <span style="margin-left: 25px;">供货商：</span>
        <input type="text" class="form-control w150" id="find_info" />
        <a type="button" class="xa-date-search btn btn-primary xui-fontBold xa-find-supplier" style="margin:0 20px 0 65px;">查&nbsp;&nbsp;询</a>
        <a type="button" class="xa-date-search btn btn-primary xui-fontBold xa-export-supplier" style="margin:0;">导&nbsp;&nbsp;出</a>
        <a class="btn btn-success fr w120" style="" href="/mall2/supplier_info/" style="background:#0c9d08;">
            <span class="xui-add-btn-icon">+</span>添加供货商
        </a>
    </div>
    <div class="panel panel-default mt15" style="background:#E9EDF5;padding:12px 12px 15px 12px">
    	{% if has_supplier %}
            <div
                data-ui-role="advanced-table"
                data-app="mall2"
                data-resource="supplier_list"
                data-template-id="#supplier-list-view"
                data-enable-paginator="true"
                data-item-count-per-page="10"
                data-init-sort="-create_at"
            ></div>
    	{% else %}
    	<div class="xui-emptyBox">
    		<div class="xui-i-emptyHint">
    			<img src="/static_v2/img/editor/empty.png">
    			<div>
    				<span style="">您还没有供货商，赶快添加！</span>
    			</div>
    		</div>
    	</div>
    	{% endif %}
    </div>
</div>
{% endblock %}
{% block js %}
{% verbatim %}
<script id="supplier-list-view" type="text/x-jquery-tmpl">
	<table class="table xb-stripedTable">
		<thead>
			<tr class="xui-trHeight">
				<th width="110px">供货商名称</th>
				<th width="110">添加时间</th>
				<th width="110">客户负责人</th>
				<th width="110">备注</th>
				<th width="110">操作</th>
			</tr>
		</thead>
		<tbody id='supplier-list'>
            {{each(i, supplier) items}}
                <tr data-id="${supplier.id}">

                    <td class="nowrap">
                        <div class="xui-colorBlue">${supplier.name}</div>
                    </td>
                    <td class="nowrap">
                        <div>${supplier.create_at}</div>
                    </td>
                    <td class="nowrap">
                        <div>${supplier.responsible_person}</div>
                    </td>
                    <td class="nowrap">
                        <div>${supplier.remark}</div>
                    </td>
                    <td class="tc" style="width:100px;">
                        <a href="javascript:void(0);"
                         data-id="${supplier.id}"
                         class="xui-delete-supplier xa-delete mr10">删除</a>
                        <a href="/mall2/supplier_info/?id=${supplier.id}"
                         data-id="${supplier.id}"
                         data-name="${supplier.name}"
                         >修改</a>
                    </td>
                </tr>
			{{/each}}
		</tbody>        
	</table>
</script>
<script type="text/javascript">
$(document).ready(function() {

    $('body').delegate('.xui-delete-supplier', 'click', function (event) {

        var id = $(this).attr('data-id');
        var $el = $(event.currentTarget);
        W.requireConfirm({
            $el: $el,
            msg : '确定删除？',
            isTitle: false,
            confirm: function(){
                W.getApi().call({
                    app: 'mall2',
                    api: 'supplier_info',
                    method: 'delete',
                    args: {id: id},
                    success: function(data) {
                        //根据data内容动态显示
                        if(data.msg){
                            W.showHint('error',data.msg);
                        }else{
                            W.finishConfirm();
                            $('div[data-ui-role="advanced-table"]').data('view').reload();
                        }
                    },
                    error: function(resp) {
                        W.showHint('error','失败');
                    },
                    scope: this
                });
            }
        });

    });
    $('.xa-find-supplier').click(function (event) {
        var suppliername = $("#find_info").val();
        var dataView = $('[data-ui-role="advanced-table"]').data('view');
        var args={'name':suppliername}
		dataView.reload(args);
    });
    $('.xa-export-supplier').click(function (event) {
        var suppliername = $("#find_info").val();
        var url = "/mall2/supplier_export";
        url = url + '?name='+suppliername;
        var $frame=$('<iframe>').hide().attr('src',url);
        $('body').append($frame);
    });

});

</script>
{% endverbatim %}
{% endblock %}