{% extends "content_base_v2.html" %}
{% load apps_filter %}
{% block css %}
    <style>
        th, td{
            text-align: left !important;
            height: 56px;
        }
        .uploadify-queue{
            position: absolute;
            width: 35%;
            margin: -50px 0 0 100px;
        }
        .uploadify{
            margin-bottom: 0;
        }  
        .uploadify-queue-item{
            margin-top: 12px;
            padding: 9px;
            border: none;
            background: transparent;
            margin-left: 70px;
        }
        .uploadify-button{
            background: transparent;
            box-shadow: none;
            color: #1262b7;
            padding-left: 10px;
        }
        #cert-file{
            display: inline-block;
        }  
        #key-file{
            display: inline-block;
        }  
        .xui-help{
            display: inline-block;
            float: right;
            height: 40px;
            cursor: pointer;
            line-height: 40px;
            margin-right: 15px;
        }
        .xui-table{
            width: 100%;
            margin-bottom: 0;
        }
        .xui-table tbody{
            background: #eaeef6;
        }
        i{
            font-size: 20px;
            color: red;
        }
        .xui-upload-success{
            margin-right: 10px;
            display: none;
        }
        .xui-upload-success span{
            background: url('/static_v2/img/editor/success.png');
            display: inline-block;
            width: 20px;
            height: 16px;
            vertical-align: text-bottom;
            margin-right: 5px;
        }
        .xui-table-container{
            padding: 0 10px 10px;
            background: #d8e9fb;
            overflow: hidden;
        }
        table tr td.xui-bt-none{
            border-top: none;
        }
        table tr td:first-child{
            padding-left: 80px;
            width: 40%;
        }
        .xui-cert-name,.xui-key-name{
            margin-top: 5px;
        }
        .xui-show{
            display: inline;
        }
    </style>
{% endblock %}

{% block content-panel %}
<div class="xui-RedPacketParticipancesAppPage xui-appPage-commonStyle">
	<div class="relative">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
			<li>配置管理</li>
            <li>支付方式</li>
			<li class="xa-open"><a href="/mall2/weixin_certificate/">录入证书</a></li>
		</ul>
	</div>
    <div class="xui-table-container">
        <a class="xa-help xui-help">&nbsp;帮助说明&nbsp;</a>
        <table class="table xui-table">
            <thead></thead>
            <tbody>
                <tr>
                    <td class="xui-bt-none">
                        <b>证书pem格式</b>
                        <div class="xa-cert-name xui-cert-name {% if not cert_name %}mt0{% endif %}">
                        {% if cert_name %}
                            {{ cert_name }}
                        {% endif %}                           
                        </div>
                    </td>
                    <td class="xui-bt-none"><span class="xui-upload-success xa-cert-success {% if cert_name %}xui-show{% endif %}"><span></span>上传成功</span><input type="file" id="cert-file"></td>
                </tr>
                <tr>
                    <td>
                        <b>证书密钥pem格式</b>
                        <div class="xa-key-name xui-key-name {% if not key_name %}mt0{% endif %}">
                        {% if key_name %}
                            {{ key_name }}
                        {% endif %}
                        </div>
                    </td>
                    <td><span class="xui-upload-success xa-key-success {% if key_name %}xui-show{% endif %}"><span></span>上传成功</span><input type="file" id="key-file"></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}

{% block js %}
<!-- *start_prunt_task* -->
<!-- [prunt_task]
  {
    "task": "weizoom-load-app-views-dialogs"
  }
-->
{{ "red_packet"|load_app_views_and_dialogs|safe }}
<!-- *end_prunt_task* -->
<script id="red_packet-upload-dialog-tmpl-src" type="text/x-jquery-tmpl">
    <div class="modal fade">
        <div class="modal-dialog modal-lg" style="width: 1020px;">
            <div class="modal-content">
                <div class="modal-header">
                    <button aria-hidden="true" data-dismiss="modal" class="close" type="button"><span class="xui-closeColor" aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title">帮助说明</h3>
                </div>

                <div class="modal-body ml15">
                    <div>
                        <p>登录<a href="https://pay.weixin.qq.com" target="_blank">https://pay.weixin.qq.com</a>，进入微信支付商务平台。选择账户中心—账户设置—API安全。</p>
                    </div>
                    <div>
                        <p>找到API证书，点击“下载证书”</p>
                    </div>
                    <div>
                        <img src="/termite_static/img/component/redpacket/red_packt_help_img1.png">
                    </div>
                    <div style="display:inline-block">
                        <p style="display:inline-block">点击“下载”。下载完成后，找到“</p><p style="color:#09F;display:inline-block">证书pem格式与证书密钥pem格式</p><p style="display:inline-block">”上传。</p>
                    </div>
                    <div>
                        <img src="/termite_static/img/component/redpacket/red_packt_help_img2.png">
                    </div>
                    <div>
                        <img src="/termite_static/img/component/redpacket/red_packt_help_img3.jpg">
                    </div>
                </div>

                <div class="modal-footer modal-footerBg">
                    <button class="btn btn-success" aria-hidden="true" data-dismiss="modal" style="width:110px;height:36px;background:#207cbe; color:#ffffff;">关&nbsp;&nbsp;闭</button>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/javascript">
    var cert_done =  {% if cert_name %}true{% else %}false{% endif %};
    var key_done = {% if key_name %}true{% else %}false{% endif %};
    var done_map = {
        'cert_done': '请上传证书文件',
        'key_done': '请上传证书密钥文件'
    };
    //初始化上传文件说明
	ensureNS('W.dialog.red_packet');
	W.dialog.red_packet.UploadInstructionDialog = W.dialog.Dialog.extend({
		getTemplate: function() {
			$('#red_packet-upload-dialog-tmpl-src').template('red_packet-upload-dialog-tmpl');
			return "red_packet-upload-dialog-tmpl";
		}
	});
    //初始化上传组件参数
    var swf = '/static/uploadify.swf',
        overrideEvents = ['onError', 'onUploadSuccess'],
        multi = false,
        removeCompleted = false,
        uploader = '/mall2/weixin_certificate/',
        cancelImg = '/static/img/cancel.png',
        buttonText = '添加文件',
        fileTypeExts = '*.pem',
        method = 'post',
        removeTimeout = 0.0,
        width = 85,
        formData = {
            'owner_id': '{{ request.webapp_owner_id }}'
        },
        onError = function(errorType,file) {
            xlog(errorType);
            xlog(file.name);
        };

    $(function(){
        //帮助说明弹窗
        $('.xa-help').on('click', function(){
            W.dialog.showDialog('W.dialog.red_packet.UploadInstructionDialog', {});
        });
        //初始化上传组件
        $("#cert-file").uploadify({
            overrideEvents: overrideEvents,
            swf: swf,
            width: width,
            multi: multi,
            removeCompleted: removeCompleted,
            uploader: uploader,
            cancelImg: cancelImg,
            buttonText: buttonText,
            fileTypeDesc: '证书文件',
            fileTypeExts: fileTypeExts,
            method: method,
            removeTimeout: removeTimeout,
            formData: $.extend(formData, {
                'cat': 'cert_file'
            }),
            onUploadStart: function(file){
                if(file && file.name == 'apiclient_cert.pem'){}else{
                    W.showHint('error', '请上传正确的证书文件');
                    $('#cert-file').uploadify('cancel', '*');
                    $('#cert-file').uploadify('stop');
                }
            },
            onUploadSuccess : function(file, response, status) {
                response = JSON.parse(response);
                if(response.code == 200){
                    console.log(response.data);
                    $('#cert-file').find('.uploadify-button-text').html('重新上传');
                    $('.xa-cert-name').html('('+file.name+')');
                    $('.xa-cert-success').show();
                    cert_done = true;
                }else{
                    console.log(response.errMsg);
                }
            },
            onSelect: function(file) {
                var $queues = $('#cert-file-queue').children();
                if($queues.length > 1){
                    $queues.eq(0).remove();
                }
            },
            onError: onError
        });
        $("#key-file").uploadify({
            overrideEvents: overrideEvents,
            swf: swf,
            width: width,
            multi: multi,
            removeCompleted: removeCompleted,
            uploader: uploader,
            cancelImg: cancelImg,
            buttonText: buttonText,
            fileTypeDesc: '证书密钥文件',
            fileTypeExts: fileTypeExts,
            method: method,
            removeTimeout: removeTimeout,
            formData: $.extend(formData, {
                'cat': 'key_file'
            }),
            onUploadStart: function(file){
                if(file && file.name == 'apiclient_key.pem'){}else{
                    W.showHint('error', '请上传正确的证书密钥文件');
                    $('#key-file').uploadify('cancel', '*');
                    $('#key-file').uploadify('stop');
                }
            },
            onUploadSuccess : function(file, response, status) {
                response = JSON.parse(response);
                if(response.code == 200){
                    console.log(response.data);
                    $('#key-file').find('.uploadify-button-text').html('重新上传');
                    $('.xa-key-name').html('('+file.name+')');
                    $('.xa-key-success').show();
                    key_done = true;
                }else{
                    console.log(response.errMsg);
                }
            },
            onSelect: function(file) {
                var $queues = $('#key-file-queue').children();
                if($queues.length > 1){
                    $queues.eq(0).remove();
                }
            },
            onError: onError
        });
        if(cert_done){
            $("#cert-file").find('.uploadify-button-text').html('重新上传');   
        }
        if(key_done ){
            $("#key-file").find('.uploadify-button-text').html('重新上传');   
        }
    });
</script>
{% endblock %}