@charset "utf-8";
/*common for clear jqury mobile css*/
/* 投票 */
body,html,.ui-page,.ui-content{
	background: #f0f0f0;
	color:#333;
}
.xui-form-controls label.xui-form-cell{
	text-align: right;
	padding:0 5px;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}
.xui-checkbox .ui-select a{
	box-shadow: none;
	color: #000;
}
.xui-checkbox .ui-select a .ui-btn-inner{
	overflow: hidden;
}
.ui-br{
	border-style: none;
}
.ui-field-contain, fieldset.ui-field-contain{
	padding:0.6em 0;
}
.vote_apply .ui-header.ui-bar-x{
	border:none;
}
.xui-form-cell .ui-shadow{
	box-shadow: none;
}
.vote_apply{
	width: 100%;
}
.vote_apply h3{
	font-weight: normal;
	margin-top: 6px;
}
.vote_apply hr{
	color: #f4f3f3;
}
.vote_apply .xui-detail-content,
.vote_apply .xui-product-detail-content p{
	letter-spacing: 1px;
	padding:0 5px;
}

.vote_apply .tx_alert_info{
	display:inline-block;
	margin-top: 20px;
	margin-bottom: 15px;
	font-size: 12px;
	font-family: "黑体";
	color: #b3b3b3;
}

.vote_apply .xui-form-box .ui-submit{
	background: none;
	/*color: transparent;*/
	color: #e64145;
}

.vote_apply div.ui-input-text,
.vote_apply .xui-form-box div.ui-select .ui-btn{
    border: 1px solid #c2c2c2;
    background-color:#fff;
	border-radius: 5px;
}
/*.vote_apply .xui-form-box div.ui-select .ui-btn .ui-btn-inner{
	line-height: 35px;
}*/
.xui-research-page .vote_apply .xui-form-box div.ui-select .ui-btn{
	padding:9px 0;
}
.xui-research-page .ui-header h1.ui-title{
	text-overflow: ellipsis;
}
.vote_apply .ui-select .ui-btn-icon-right.ui-li-has-count .ui-btn-inner{
	padding-right:45px;
}
.xui-research-page .ui-bar-x > a > .ui-btn-inner{
	padding: 0;	
}
.xui-research-page .ui-btn-text span{
	white-space: pre-wrap;
} 
.vote_apply .ui-input-text input{
    border:none !important;
}

.rice-vote-list{
	background-color: #e9ebe9;
	margin: 0 auto;
}
/*person list*/
.ui-search-box-div,
.ui-list-person{
	margin: 0 3%;
}
.ui-list-person ul{
	overflow:auto;
	margin:0 auto;
	max-width:480px;
}
.ui-list-person li{
	float:left;
	display:inline;
	margin: 0 1.1% 10px;
	width: 31%;
}

.ui-list-person li:nth-child(3n+1){
	clear:left;
}

.rice-vote-list .list-vote-item{
	max-width: 186px;
	background-color: #ffffff;
	border: 1px solid #e1e1e1;
}

.rice-vote-list .list-vote-item .ui-vote-item{
	display: inline-block;
	width: 84%;
	margin: 7% 8%;
}
.rice-vote-list .list-vote-item .ui-vote-item span{
	display: block;
	word-break:break-all;
	white-space: normal;
}

.rice-vote-list .list-vote-item .ui-vote-item .ui-name{
	color: #333333;
	font-size: 15px;
	margin-top: 5px;
}

.rice-vote-list .list-vote-item .ui-vote-item .ui-poll{
	color: #656565;
	font-size: 13px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.rice-vote-list .list-vote-item .ui-vote-item .item-img{
	width: 100%;
	height: 84%;
	text-align: center;
}

.rice-vote-list .xui-form-box .ui-btn{
	border: 1px solid #e64145;
	color: #e64145;
	width: 98%;
	padding: 0.18em 0;
}

.rice-vote-list .xui-form-box .not-action-button .ui-btn{
	border: 1px solid #dadada;
	color: #dadada;
	width: 98%;
	padding: 0.18em 0;
}


.ui-search-box{
	margin: 0 auto;
	max-width: 480px;
	overflow: auto;
	padding: 5px;
}

div.ui-input-text {
	background: none;
	border: 0;
	border-bottom: 1px solid #C2C2C2;
	border-radius: 0;
	box-shadow: none;
	margin-right: 50px;
}

.ui-input-text.ui-focus {
	background: none;
	border: 0;
	border-bottom: 1px solid #C2C2C2;
	box-shadow: none;
}

input.tx_search{
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	box-shadow: none;
	font-size: 15px;
	padding-left: 0;
	width: 100%;
}

.rice-vote-list .xui-form-box .ui-search-box .ui-btn {
	border: 1px solid #E64145;
	color: #E64145;
	padding: 0.18em 0;
	width: 30px;
}

.tx_btnMore {
	display: block;
	padding: 0.7em 0;
	text-align: center;
	text-decoration: none;
	color: #666;
	border-top: 1px solid #ECE8DE;
	background: #F8F5EE;
	margin: 0 -30px;
}
.vote-poll-div input{
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
	border: 0 none;
	cursor: pointer;
	font-size: 1px;
	height: 100%;
	left: 0;
	opacity: 0.1;
	position: absolute;
	text-indent: -9999px;
	top: 0;
	width: 100%;
}

.error-alert h3{
	text-align: center;
	margin-bottom: 20px;
}

/***/
.tx_data{
	color: #7a7a7a;
	display: inline-block;
	text-align: left;
	width: 100%;
}
.form-box-div{
	background-color: #fff;
	border: 1px solid #d5d5d5;
	-webkit-border-radius:7px;
	border-radius:7px;
}
.form-box-div .xui-formTitle{
	border-bottom:1px solid #dbdbdb;
}
.tx-title-box{
	color: #2B2D2F;
	font-size: 18px;
}
.member-box{

}
.member-box .red{
	color: #e64145;
}
.member-box img{
	width: 25px;
    height:25px;
	vertical-align:middle;
	border-radius: 8px;
}

.activity-box{

}
.ui-form-btn-lay .ui-btn{
	border-radius:6px;
	background: #ae0001;
    color:#fff;
    padding:7px 0;
    width: 45%;
    margin:0 auto;
}
.activity-submit-success{
    text-align:center;
    height:100px;
    line-height:100px;
    color:#777;
}
.activity-submit-success .xui-tag{
	right:10px;
	background:#f2f2f2;
	box-shadow:0 0 0 1px #c7c7c7;
	padding:3px 10px;
	-webkit-border-radius:4px;
	border-radius:4px;
	top:-30px;
}
.activity-submit-success .xui-tag-unSign{
	color:#ae0001;
}
.activity-submit-success .xui-tag-Sign{
	color:#1f931f;
}
.activity-box div.ui-input-text ,
.activity-box select{
	background: #fff;
	border-bottom: 1px solid #C2C2C2;
	box-shadow: none;
	border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
	border-style: solid;
	border-width: 1px;
}

.activity-box .ui-input-text.ui-focus {
	background: none;
	border: 1px solid #C2C2C2;
	box-shadow: none;
}

/*
.xui-activity-form .ui-select{
    width:215px;
}
.xui-activity-form .ui-input-text{
    width:200px;
}
*/
.xui-uploagImageLabel{
    padding-top:30px;
    font-size:0.9em;
    display:inline-block;
}
/* .xui-active-over{
    background: url(/markettools_static/activity/img/active_over.png) right 0 no-repeat;
    width:100px;
    height:100px;
    position:absolute;
    right:20px;
    top:10px;
}
.xui-active-not-start{
	background: url(/markettools_static/activity/img/active_not_start.png) right 0 no-repeat;
	width:100px;
	height:100px;
	position:absolute;
	right:20px;
	top:10px;
} */
/**/
.xui-uploadImage{
    background-image: url(/static/img/widget/uploadImg/uploadImg.png) !important;
    background-position: center center !important;
    background-repeat:no-repeat !important;
    width:65px !important;
    height:55px !important;
    border:1px dashed #9d9d9d !important;
    overflow:hidden !important;
    position:relative;
    padding:0px !important;
}
.xui-uploadImage input{
    background:none !important;
    border:none !important;
    height:50px !important;
    width:200px !important;
    margin-left:-100px !important;
    font-size:0px !important;
    cursor:pointer;
    position:absolute;
    left:0px;
    top:0px;
    z-index:3;
}
.xui-uploadImage img{
    width:65px;
    height:55px;
    position:absolute;
    left:0px;
    top:0px;
    z-index:2;
}
.upLoadImageLoadding{
    background: url('/static/img/widget/uploadImg/loading.gif') center center no-repeat;
}

/*--活动--*/
.xui-alert-info{
	color:#666;
	font-size:1em;
	padding:50px;
	text-align: center;	
}

/* 悬浮按钮 */
.xui-btn-back.ui-btn-up-x,
.xui-btn-back.ui-btn-down-x,
.xui-btn-back.ui-btn-hover-x{
	background:rgba(52,73,94, 0.5) url("") 10px center no-repeat;
	-webkit-border-radius: 20px 0 0 20px;
	-moz-border-radius: 20px 0 0 20px;
	border-radius: 20px 0 0 20px;
	height:32px;
	width:70px;
	position:fixed;
	bottom:90px;
	right:0;
	z-index:2;
}
.xui-btn-back .ui-btn-text{
	display:inline-block;
	height:16px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color:#fff;
	margin: 8px 0 0 5px;
	font-size:0.9em;
	line-height:16px;
	font-family:arial;
}

/**/
/*状态*/
.xui-activity-status{
    position:absolute;
    right:0;
    top:0;
    width:100px;
    height:100px;
    z-index:99999;
}
.xui-activity-status-0{
    background:url(/markettools_static/lottery/img/active_suspend.png) 0 0 no-repeat;
}
.xui-activity-status-2{
    background:url(/markettools_static/lottery/img/active_over.png) 0 0 no-repeat;
}
.xui-activity-status-,
.xui-activity-status-1{
    display:none;
}
.xui-activity-status-3{
    background:url(/markettools_static/lottery/img/active_not_start.png) 0 0 no-repeat;
}
.xui-memberComplain-page .form-box-div{
	background: transparent;
	border:none;
}
.xui-memberComplain-page .ui-input-text.ui-focus{
	background: #fff;
}