<script id="mall-product-custom-model-property-editor-tmpl-src" type="text/x-jquery-tmpl">
<legend class="pr">
	规格信息
	<div style="position: absolute; bottom: 0px; right: 0px;">
		<label class="checkbox" style="width:100px;display:none;"><input type="checkbox" name="is_use_custom_model" class="xa-useCustomModel" value="true" {{if isUseCustomModel}}checked="checked"{{/if}}/> 使用定制规格</label>
	</div>
</legend>
<div class="xa-standardModel {{if isUseCustomModel}}hide{{/if}}">
	<div class="control-group">
		<label class="control-label" for="weight">重量(公斤)： </label>
		<div class="controls">
			<input type="text" class="input-xlarge" id="weight" name="weight" placeholder="请输入重量" value="${standardModel.weight}" data-validate="require-float-three" {{if isUseCustomModel}}data-ignore-validate="true"{{/if}}/>
			<div class="errorHint"></div>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="price">单个售价：</label>
		<div class="controls">
			<input type="text" class="input-xlarge" id="price" name="price" placeholder="输入价格" value="${standardModel.price}" data-validate="require-price" {{if isUseCustomModel}}data-ignore-validate="true"{{/if}}/>
			<div class="errorHint"></div>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="market_price">市场售价：</label>
		<div class="controls">
			<input type="text" class="input-xlarge" id="market_price" name="market_price" placeholder="输入价格" value="${standardModel.market_price}" data-validate="can-none-price" {{if isUseCustomModel}}data-ignore-validate="true"{{/if}}/>
			<div class="errorHint"></div>
		</div>
	</div>

	<div class="control-group x-stock">
		<label class="control-label">商品库存：</label>
		<div class="controls">
			<label class="radio">
				<input 
					class="xa-stockTypeRadio" 
					type="radio" 
					name="stock_type" 
					value="0"
					{{if standardModel.stock_type != 1}}checked="checked"{{/if}}>无限
			</label>
			<label class="radio">
				<input 
					class="xa-stockTypeRadio" 
					type="radio" 
					name="stock_type" 
					value="1" 
					{{if standardModel.stock_type == 1}}checked="checked"{{/if}}>有限&nbsp;
					<input 
						type="text" 
						class="
							xa-stockCount 
							input-small 
							{{if standardModel.stock_type == 0}}hide{{/if}}
							{{if !standardModel.stock_type}}hide{{/if}}
						" 
						name="stocks" 
						placeholder="输入商品数量" 
						value="${standardModel.stocks}" 
						data-validate="int"
						style="padding: 0px 2px;" />
				<span class="errorHint"></span>
			</label>
		</div>
	</div>
</div>

<div class="xa-customModel {{if !isUseCustomModel}}hide{{/if}}">
	<div class="xa-customModelTable">
	</div>
	<p style="color:#C09853;">温馨提示：使用定制规格设置市场价时，请全部设置，以免出现市场价低于会员价的现象。</p>
	<div class="control-group">
		<a href="javascript:void(0);" class="btn btn-primary xa-selectProductModelProperty"><i class="icon-white icon-plus"></i> 选择商品规格</a>
	</div>
</div>
</script>


<script id="mall-product-custom-model-property-editor-custom-model-table-tmpl-src" type="text/x-jquery-tmpl">
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				{{each(i, header) headers}}
				<th>${header.name}</th>
				{{/each}}
				<th>重量</th>
				<th>市场价</th>
				<th>售价</th>
				<th>库存</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{{each(i, model) models}}
			<tr data-model-name="${model.modelId}">
				{{each(j, propertyValue) model.propertyValues}}
				<td>${propertyValue.name}</td>
				{{/each}}
				<td style="width:125px;">
					<input type="text" name="customModel^${model.modelId}^weight" class="input-small" value="${model.weight}" data-validate="require-float-three"/>
					{{if i == 0}}
						<input type="checkbox" name="customModelChecked" data-checked-el="^weight"/>
					{{/if}}
					<div class="errorHint"></div>
				</td>
				<td style="width:125px;">
					<input type="text" name="customModel^${model.modelId}^market_price" class="input-small" value="${model.market_price}" data-validate="can-none-price"/>
					{{if i == 0}}
						<input type="checkbox" name="customModelChecked" data-checked-el="^market_price"/>
					{{/if}}
					<div class="errorHint"></div>
				</td>
				<td style="width:125px;">
					<input type="text" name="customModel^${model.modelId}^price" class="input-small" value="${model.price}" data-validate="require-price"/>
					{{if i == 0}}
						<input type="checkbox" name="customModelChecked" data-checked-el="^price"/>
					{{/if}}
					<div class="errorHint"></div>
				</td>
				<td>
					<label class="radio">
						<input 
							class="xa-stockTypeRadio" 
							type="radio" 
							name="customModel^${model.modelId}^stock_type" 
							value="0"
							{{if model.stock_type != 1}}checked="checked"{{/if}}>无限
					</label>
					<label class="radio">
						<input 
							class="xa-stockTypeRadio" 
							type="radio" 
							name="customModel^${model.modelId}^stock_type" 
							value="1" 
							{{if model.stock_type == 1}}checked="checked"{{/if}}>有限<br/>
							<input 
								type="text" 
								class="
									xa-stockCount 
									input-small 
									{{if model.stock_type == 0}}hide{{/if}}
									{{if !model.stock_type}}hide{{/if}}
								" 
								name="customModel^${model.modelId}^stocks" 
								placeholder="输入商品数量" 
								value="${model.stocks}" 
								data-validate="require-positive-int"
								style="padding: 0px 2px;" />
						<div class="errorHint"></div>
					</label>
				</td>
				<td>
					<button class="btn btn-danger btn-mini xa-removeOneModel"><i class="icon-white icon-remove"></i></button>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</script>







<!-- 积分商品 -->

<script id="mall-integral-product-custom-model-property-editor-tmpl-src" type="text/x-jquery-tmpl">
<legend class="pr">
	规格信息
	<div style="position: absolute; bottom: 0px; right: 0px;">
		<label class="checkbox" style="width:100px;display:none;"><input type="checkbox" name="is_use_custom_model" class="xa-useCustomModel" value="true" {{if isUseCustomModel}}checked="checked"{{/if}}/> 使用定制规格</label>
	</div>
</legend>
<div class="xa-standardModel {{if isUseCustomModel}}hide{{/if}}">
	<div class="control-group">
		<label class="control-label" for="weight">重量(公斤)：</label>
		<div class="controls">
			<input type="text" class="input-xlarge" id="weight" name="weight" placeholder="请输入重量" value="${standardModel.weight}" data-validate="require-float-three" {{if isUseCustomModel}}data-ignore-validate="true"{{/if}}/>
			<div class="errorHint"></div>
		</div>
	</div>

	<div class="control-group">
		<label class="control-label" for="price">单个售价（积分）：</label>
		<div class="controls">
			<input type="text" class="input-xlarge" id="price" name="price" placeholder="输入价格" value="${standardModel.price}" data-validate="require-int" {{if isUseCustomModel}}data-ignore-validate="true"{{/if}}/>
			<div class="errorHint"></div>
		</div>
	</div>

	<div class="control-group hide">
		<label class="control-label" for="market_price">市场售价：</label>
		<div class="controls">
			<input type="text" class="input-xlarge" id="market_price" name="market_price" placeholder="输入价格" value="${standardModel.market_price}" data-validate="can-none-price" {{if isUseCustomModel}}data-ignore-validate="true"{{/if}}/>
			<div class="errorHint"></div>
		</div>
	</div>

	<div class="control-group x-stock">
		<label class="control-label">商品库存：</label>
		<div class="controls">
			<label class="radio">
				<input 
					class="xa-stockTypeRadio" 
					type="radio" 
					name="stock_type" 
					value="0"
					{{if standardModel.stock_type != 1}}checked="checked"{{/if}}>无限
			</label>
			<label class="radio">
				<input 
					class="xa-stockTypeRadio" 
					type="radio" 
					name="stock_type" 
					value="1" 
					{{if standardModel.stock_type == 1}}checked="checked"{{/if}}>有限&nbsp;
					<input 
						type="text" 
						class="
							xa-stockCount 
							input-small 
							{{if standardModel.stock_type == 0}}hide{{/if}}
							{{if !standardModel.stock_type}}hide{{/if}}
						" 
						name="stocks" 
						placeholder="输入商品数量" 
						value="${standardModel.stocks}" 
						data-validate="int"
						style="padding: 0px 2px;" />
				<span class="errorHint"></span>
			</label>
		</div>
	</div>
</div>

<div class="xa-customModel {{if !isUseCustomModel}}hide{{/if}}">
	<div class="xa-customModelTable">
	</div>
	<p style="color:#C09853;">温馨提示：使用定制规格设置市场价时，请全部设置，以免出现市场价低于会员价的现象。</p>
	<div class="control-group">
		<a href="javascript:void(0);" class="btn btn-primary xa-selectProductModelProperty"><i class="icon-white icon-plus"></i> 选择商品规格</a>
	</div>
</div>
</script>

<script id="mall-integral-product-custom-model-property-editor-custom-model-table-tmpl-src" type="text/x-jquery-tmpl">
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				{{each(i, header) headers}}
				<th>${header.name}</th>
				{{/each}}
				<th>重量</th>
				<th class="hide">市场价</th>
				<th>售价(积分)</th>
				<th>库存</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{{each(i, model) models}}
			<tr data-model-name="${model.modelId}">
				{{each(j, propertyValue) model.propertyValues}}
				<td>${propertyValue.name}</td>
				{{/each}}
				<td style="width:125px;">
					<input type="text" name="customModel^${model.modelId}^weight" class="input-small" value="${model.weight}" data-validate="require-float-three"/>
					{{if i == 0}}
						<input type="checkbox" name="customModelChecked" data-checked-el="^weight"/>
					{{/if}}
					<div class="errorHint"></div>
				</td>
				<td style="width:125px;" class="hide">
					<input type="text" name="customModel^${model.modelId}^market_price" class="input-small" value="${model.market_price}" data-validate="can-none-price"/>
					{{if i == 0}}
						<input type="checkbox" name="customModelChecked" data-checked-el="^market_price"/>
					{{/if}}
					<div class="errorHint"></div>
				</td>
				<td style="width:125px;">
					<input type="text" name="customModel^${model.modelId}^price" class="input-small" value="${model.price}" data-validate="require-int"/>
					{{if i == 0}}
						<input type="checkbox" name="customModelChecked" data-checked-el="^price"/>
					{{/if}}
					<div class="errorHint"></div>
				</td>
				<td>
					<label class="radio">
						<input 
							class="xa-stockTypeRadio" 
							type="radio" 
							name="customModel^${model.modelId}^stock_type" 
							value="0"
							{{if model.stock_type != 1}}checked="checked"{{/if}}>无限
					</label>
					<label class="radio">
						<input 
							class="xa-stockTypeRadio" 
							type="radio" 
							name="customModel^${model.modelId}^stock_type" 
							value="1" 
							{{if model.stock_type == 1}}checked="checked"{{/if}}>有限<br/>
							<input 
								type="text" 
								class="
									xa-stockCount 
									input-small 
									{{if model.stock_type == 0}}hide{{/if}}
									{{if !model.stock_type}}hide{{/if}}
								" 
								name="customModel^${model.modelId}^stocks" 
								placeholder="输入商品数量" 
								value="${model.stocks}" 
								data-validate="require-positive-int"
								style="padding: 0px 2px;" />
						<div class="errorHint"></div>
					</label>
				</td>
				<td>
					<button class="btn btn-danger btn-mini xa-removeOneModel"><i class="icon-white icon-remove"></i></button>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
</script>