{% extends "apps_base.html" %}
{% block css %}
    <style>
        .wui-submitButton {
            margin: 0 10px;
        }
    </style>
{% endblock %}
{% block content-panel %}
    {{ page_html_content|safe }}
    <div class="wui-submitButton wa-submitButtonContainer">
	    <a class="xui-btn xui-btn-danger wa-submitTermite" data-role="button" href="javascript:void(0);">发表评价</a>
    </div>
{% endblock %}

{% block js %}
<script>
    var template_type = "{{ template_type }}",
        order_id = "{{ order_id }}",
        product_model_name = "{{ product_model_name }}",
        order_has_product_id = "{{ order_has_product_id }}",
        product_id = "{{ product_id }}",
        created,
        has_order_review;

    $(function(){
        if('ordinary' !== template_type) {
            $('.wa-evaluate-container').find('.wa-i-body').hide();
        }
        getDynamicData();
    });

    //获取商品和评价信息
    function getDynamicData(){
        loadingStatus(true);
        W.getApi().call({
            app: 'm/apps/evaluate',
            resource: 'm_evaluate',
            method: 'get',
            args: {
                webapp_owner_id: W.webappOwnerId,
                order_id: order_id,
                product_model_name: product_model_name,
                order_has_product_id: order_has_product_id,
                product_id: product_id
            },
            success: function(data){
                loadingStatus(false);
                render_page(data);
                bind_events();
            },
            error: function(resp){
                loadingStatus(false);
                wuiAlert(resp.errMsg)
            }
        });
    }

    //根据评价数据，渲染页面
    function render_page(data){
        deblog('render_page', data);
        //首先渲染商品信息
        var product = data.product;
        $('.wa-productname').html(product.name);
        $('.wa-productinfo').html(product.props);
        $('.wa-productimg').find('img').prop('src', product.thumbnails_url).parent().css('border', 'none');
        product_id = product.id;
        has_order_review = data.has_order_review;
        if(has_order_review){
            $('.wa-iscreated').removeClass('wui-iscreated');
            $('.wa-notcreated').addClass('wui-iscreated');
        }
        //渲染评价信息
        created = data.created;
        if(created){
            //如果已经评价过，则渲染评价数据，根据配置的模版渲染页面

        }else{
            //否则直接渲染页面
            var product_score = data.product_review.product_score;
            $('#dj_product_score').prop({
                'data-value': product_score,
                'class': 'wui-starGrade wui-starGrade'+product_score
            });
            $('#dj_review_detail').val(data.product_review.review_detail);
        }
    }

    //绑定事件
    function bind_events(){
        deblog('bind_events');
        // 点击星评
        $('.wa-evaluate-container').delegate('.wa-starGrade i', 'click', function(){
            var $star = $(this);
            var starGrade = $star.attr('data-grade');
            $star.parent('span').attr({
                'class': 'wui-starGrade wui-starGrade'+starGrade,
                'data-value': starGrade
            });
        });
        //隐藏说明提示
        $('.wui-reviewHint').click(function(){
            $(this).find('.wui-i-box').hide();
            $(this).find('textarea').focus();
        }).focusout(function(){
            $(this).find('.wui-i-box').show();
        });
        // 字数实时提示
        if('ordinary' === template_type) {
            var $textarea = $('.wa-ordinary-review-detail');
            var limitNum = 200;
            var insetNum = $textarea.val().length;
            var $limitText = '<span>还可以输入' + limitNum + '字</span>';
            var keyup_or_change = function () {
                insetNum = $(this).val().length;
                var remainder = limitNum - insetNum;
                if (insetNum > 4) {
                    $('.xa-reviewBtn').addClass('xui-red');
                } else {
                    $('.xa-reviewBtn').removeClass('xui-red')
                }
                if (insetNum > 200) {
                    remainder = insetNum - limitNum;
                    $limitText = '<span>已超出<span class="cRed">' + remainder + '</span>个字</span>';
                } else {
                    $limitText = '<span>还可以输入' + remainder + '字</span>';
                }
                $('.wa-limitNum').html($limitText);
            };
            $textarea.change(keyup_or_change).keyup(keyup_or_change);
        }
        //提交按钮
        $('body').delegate('.wa-submitTermite', 'click', submitEvaluateData);
    }

    //提交数据
    function submitEvaluateData(){
        //TODO 发表or晒图 ，普通or自定义
        var postData;
        if('ordinary' === template_type) {
            postData = {
                product_score: $('#dj_product_score').attr('data-value'),

            };
        }
    }
</script>
{% endblock %}
