{% extends "apps_base.html" %}
{% block css %}
<style type="text/css">
    html,body{
        height: 100%;
    }
    .xui-productReviewListPage {
        height: 100%;
    }
    .xui-productReviewListPage .xui-title{
        text-align: center;
        line-height: 35px;
        color:#333;
    }
    .xui-productReviewListPage .xui-title a{
        height: 35px;
        width: 35px;
        display: inline-block;
        position: absolute;
        left:0;
    }
    .xui-productReviewListPage .xui-title i{
        display: inline-block;
        width: 8px;
        height: 8px;
        border-top: 1px solid #393939;
        border-left: 1px solid #393939;
        -webkit-transform:rotate(-45deg);
        left: 14px;
        top:12px;
    }
    .xui-productReviewListPage{
        height: 100%;
    }
    .xui-productReviewListPage .xui-productReview{
        background: #fff;
    }
    .xui-productReviewListPage .xui-productReview .xui-productImg{
        width: 50px;
        height: 50px;
    }
    .xui-productReviewListPage .xui-uploadImg{
        margin-top: 13px;
    }
    .xui-productReviewListPage .xui-uploadImg{
        width: 100%;
        overflow: hidden;
        height: 52px;
    }
    .xui-productReviewListPage .xui-uploadImg img{
        width: 50px;
        height: 50px;
        border: 1px solid #E5E5E5;
        margin-right: 5px;
    }
    .xui-productReviewListPage .xui-uploadImg img:last-child{
        margin-right: 0;
    }
    .xui-productReviewListPage .xui-emptyReview{
        height: 100%;
        background: #fff;
    }
    .xui-productReviewListPage .xui-placeholder{
        height: 84px;
    }
    .xui-productReviewListPage .xui-emptyReview .xui-emptyImg{
        width: 136px;
        height: 130px;
        background: url(/static_v2/img/empty.png) no-repeat;
        -webkit-background-size: 380px 152px;
        background-size: 380px 152px;
        background-position: -136px 0;
        margin: 0 auto;
    }  
    .xui-text-ellipsis{
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical; 
    }
    .xui-shopReply{
        border-bottom: 1px solid #e1e1e1;
    }
</style>
{% endblock %}
{% block content-panel %}
<div class="xui-productReviewListPage pb20">
    <div class="xui-title pr">
        <a class="xa-goBack xui-returnPrev pa">
            <i data-ui-role="goBack"></i>
        </a>
        <span class="em9">我的评价</span>
    </div>
    {% if reviewed_products %}
    {% for review in reviewed_products %}
    <div class="xui-productReview p10 mb10">
        <div class="xui-product disT mb15 w">
            <div class="xui-productImg disTc">
                {% if review.product.thumbnails_url|truncatechars:15 == 'http://weappimg...'%}
                    <img src="{{review.product.thumbnails_url}}!60" full-src="{{review.product.thumbnails_url}}" >
                {% else %}
                    <img src="{{review.product.thumbnails_url}}" >
                {% endif %}
            </div>
            <div class="productInfo disTc vt pl10">
                <div class="xui-productname em85 c65">{{review.product.name}}</div>
                <div class="xui-productSpecificationAndPrice mt10">
                    <span class="xui-specification em75 c9">
                        {% if review.product.custom_model_properties %}
                            {% for property in review.product.custom_model_properties %}
                                {{ property.property_value }}&nbsp;&nbsp;
                            {% endfor %}
                        {% endif %}
                    </span>
                    <span class="em7 c9 fr">{{review.created_at|date:"Y-m-d"}}</span>
                </div>
            </div>
        </div>
        <div class="pb10 xui-shopReply">
            <span class="em9">商家留言：</span>
            <span class="em9 c65">奖励地址</span>
        </div>
        <div class="xui-productReviewText c65 em9 pt10">
            {{review.detail}}
        </div>
        <!-- 如果有商品评价晒图-->
        {% if review.pics %}
        <div class="xui-uploadImg">
            {% for picture_url in review.pics%}
            {% if picture_url|truncatechars:15 == 'http://weappimg...'%}
                <img src="{{picture_url}}!60" full-src="{{picture_url}}">
            {% else %}
                <img src="{{picture_url}}">
            {% endif %}

            {% endfor %}
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% else %}

    <div class="xa-emptyReview xui-emptyReview">
         <div class="xui-placeholder"></div>
         <div class="xui-emptyImg"></div>
    </div>
    {% endif %}
       
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function(){

    });
</script>
{% endblock %}
