
.fLeft{float:left;}.fRight{float:right;}
.left{text-align:left;}.center{text-align:center;}.right{text-align:right;}
.absolute{position:absolute;}.relative{position:relative;}
.hide{display:none;}
.hide.selected{display:block;}
.block{ display:block;}
.noBold{font-weight:normal;}
.bold{font-weight:bold;}
.ofHidden{overflow:hidden;}


.longbox{width:1084px;margin:120px auto;position:relative;z-index:2;}
.longbox.w1003{width:1083px; }

.mblLeft{float:left;padding:5px 0 0 10px;}
.mblRight{margin-left:65px;}
.mblContent{padding:10px 20px;}
.mblFunc{ text-align:right;color:#c1c1c1;height:16px;}
.mblCon{color:#333;line-height:24px;}

.imgVM img{ vertical-align:-4px;}
.workLeftTop{padding:15px 20px;border-bottom:1px solid #f4f4f4;}


.adBoxMiddle{padding:20px 0; text-align:center;}
.commentFunc p{float:right;}

.small .inputLong{padding:20px 20px; background:#fff;}
.small .inputLong .normalArea{width:710px;}
.small .inputLong .commentFunc{width:724px;height:30px;}
.small .commentArea{width:646px;}
.small .commentFunc{width:658px;}


/**/
.msgWrapper{font-size:14px; background:#fff;padding:10px 0;}

.newad{width:250px;height:230px; overflow:hidden;text-align:center;}

.indexShow{ position:relative;}
.indexShowBox{width:960px;height:764px; overflow:hidden;}

.indexShowLeft{ position:absolute;left:-60px;top:45%; display:inline-block;width:33px;height:106px; background:url(/static/img/landing/index/icon1.png) no-repeat 0 -16px;}
.indexShowRight{position:absolute;right:60px;top:45%; display:inline-block;width:33px;height:106px; background:url(/static/img/landing/index/icon1.png) no-repeat -33px -16px;}

