@charset "utf-8";
/*重置样式*/
/** 清除内外边距 **/
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;font-size:100%;vertical-align:baseline;}
/** 重置表格元素 **/
table{/* border-collapse:collapse;*/
 border-spacing:0;}
/** 重置列表元素 **/
ul,ol{list-style:none;}
/** 重置文本格式元素 **/
a{text-decoration:none;}
a:hover{text-decoration:underline;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
/** 重置表单元素 **/
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
input,textarea{outline:none;background:#fff;}
/* 注：optgroup 无法扶正 */
* 重置 HTML5 元素 */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{display:block;margin:0;padding:0;}
mark{background:#ff0;}
/* 其它 */
audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}
audio:not([controls]){display:none;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,i,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
/*水平分隔线*/
hr{background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:1px;line-height:1px;font-size:0;border:none 0;margin:1em 0;}
/*公用样式*/
.lfloat{float:left;display:inline;}
.rfloat{float:right;display:inline;}
.clearfix:before,.clearfix:after{content:"";display:table;font-size:0;}
.clearfix:after{clear:both;overflow:hidden;}
.clearfix{zoom:1;}
.clear{clear:both;}
.relative{position:relative;}
.absolute{position:absolute;}
/* 不显示图像链接或 javascript/内部链接 */
 pre,blockquote{border:1px solid #999;page-break-inside:avoid;}
thead{display:table-header-group;}
/* h5bp.com/t */
 tr,img{page-break-inside:avoid;}
img{max-width:100% !important;}
@page{margin:0.5cm;}
p,h2,h3{orphans:3;widows:3;}
h2,h3{page-break-after:avoid;}
}
.font_16{font-size:16px;padding-left:26px;line-height:42px}
