* {
	margin: 0;
	padding: 0;
	
	-webkit-font-smoothing: antialiased;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html,body{
	background: #fff;
}
body,input,button{
	font-family: Microsoft YaHei,Helvitica,Verdana,Arial,san-serif;
}
input:-webkit-autofill{
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}
.logo,
.login,
.footer{
	width:960px;
	margin:0 auto;
}
.login{
	height:510px;
	position:relative;
	background: url(/landing_static/img/index/banner.jpg) no-repeat;
	background-position: 0 0;
}
.login-form{
	width:349px;
	height:auto; 
	overflow:hidden;
	background:#fff;
	border: 1px solid #e5e5e5;
	position:absolute;
	right:15px;
	top:90px;
	box-sizing:border-box;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,.1);
}
.login-form h1{
	font-size:24px;
	padding:0 25px;
	border-bottom: 1px solid #e5e5e5;
	color:#ff4200;
	margin: 0;
	line-height: 60px;
}
.login-eror{
	color:#e66e06;
	font-size:12px;
	bottom:110px;
	margin-top: 20px;
	text-align: right;
}
.login-form form{
	display:block;
	overflow:hidden;
	clear:both;
	margin: 0;
	padding:25px;
}
.login-name,
.login-pwd{
	height: 40px;
    border: 1px solid #e5e5e5;
    position: relative;
    display: block;
    overflow: hidden;
    box-sizing: border-box;
    padding-left: 40px;
    background-repeat: no-repeat;
}
.login-name{
	background: url(/landing_static/img/index/user.jpg);
}
.login-pwd{
	margin-top:20px;
	background: url(/landing_static/img/index/psw.jpg);
}
input.input_txt:focus {
    box-shadow: none;
}
.login-name .input_txt,
.login-pwd .input_txt{
	width:100%;
	border:0;
	height:40px;
	padding:12px;
	font-size: 14px;
	color:#333;
	border-radius: 0;
}
.login-btn{
 	background-color: #ff4200;
    border: 0 none;
    border-radius: 2px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    height: 42px;
    letter-spacing: 15px;
    text-align: center;
    width: 100%;
    margin-top:20px;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
}
.footer{
	height:110px;
	line-height: 110px;
	text-align: center;
	font-size: 13px;
	color:#666;
	background: #fff;
}