body{background-color:#fff ;}
.wrapper {
    margin:94px auto 0;width: 100%;background: url(/landing_static/img/index/ts_bg.jpg) #fff center top no-repeat;
}
.main {margin:94px auto 0;width: 960px;
    background: url(/landing_static/img/index/ts_bg.jpg) #fff center top no-repeat;padding-top:88px;}
.main .line{
    background: url(/landing_static/img/sjz/line-bg.png) repeat-y 249px 0;
}
.main .title {
	position: absolute;
	line-height: 40px;
	padding-left: 67px;
	left: 230px;
	top: 0;
	color: #58a6fb;
	font-size: 24px;
	background: url("/landing_static/img/sjz/clock.gif") no-repeat left top;
}
.main .year {
	position: relative;
	z-index: 100;
}
.main .year h2 {
	height: 40px;
	width: 170px;
	padding-right: 30px;
	font-size: 24px;
	line-height: 40px;
	text-align: right;
    color: #58a6fb;
}
.main .year h2 i{
	display:block;
	position:relative;
	height:0;
	width:0;
	left:190px;
	top:-20px;
	border-width:6px;
	border-style:solid;
	border-color:#59a7fb transparent transparent transparent;
	-webkit-transition:.5s;
	-moz-transition:.5s;
	-ms-transition:.5s;
	-o-transition:.5s;
	transition:.5s;
	-webkit-transform-origin:6px 3px;
	-moz-transform-origin:6px 3px;
	-ms-transform-origin:6px 3px;
	-o-transform-origin:6px 3px;
	transform-origin:6px 3px
}
.main .year .list{
	margin:10px 0;
	position:relative;
	overflow:hidden;
	-webkit-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
	-moz-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
	-ms-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
	-o-transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s;
	transition:height 1s cubic-bezier(0.025,0.025,0.000,1.115),opacity 1s
}
.main .year .list ul {
	bottom: 0;
}
.main .year .list ul li {
	background: url(/landing_static/img/sjz/circle.png) no-repeat 232px 31px;
	padding: 30px 0;
	color: #a1a4b8;
}
.main .year .list ul li:first-child{background-image: url(/landing_static/img/sjz/highlight.png);}
.main .year .list ul li:first-child .date, .main .year .list ul li .intro{color: #1ba0ae;}
.main .year .list ul li:first-child p:nth-of-type(2){color:#1ba0ae;}
.cls {
	zoom: 1;
}
.cls:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.main .year .list ul li .date,.main .year .list ul li .version{
	float:left;
	display:block;
	clear:left;
	width:200px;
	line-height:24px;
	text-align:right
}
.main .year .list ul li .date{
	font-size:18px;
	line-height:32px;
	color:#252525;
}
.main .year .list ul li .version{
    width:400px;
    margin-left: -100px;
    text-align: justify;
}
.main .year .list ul li .intro, .main .year .list ul li .more {
	float: left;
	display: block;
	width: 400px;
	margin-left: 100px;
	line-height: 24px;
   
    
}
.main .year .list ul li .intro {
	font-size: 18px;
	line-height: 32px;
	color: #252525;
     white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}
.wrapper:first-child .main .year.close h2 i{
	transform:rotate(-90deg);
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-o-transform:rotate(-90deg)
}
.wrapper:first-child .main .year.close .list{
	opacity:0;
	height:0!important;
}