@charset "utf-8";
/*header开始*/
.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  margin-bottom: 0;
  width: 100%;
    height: 94px;
    border-bottom: 1px solid #9ea7ae;
    background: rgba(255,255,255,0.9);
    color: #252525;
}

.navbar-fixed-top .container{
    width: 960px;
    height: 94px;
    margin: 0 auto;
    background: none;
    padding:0;
    min-height: 0;
        
}
.navbar-fixed-top .container ul{float:right;margin-right: 30px;}
.navbar-fixed-top .container ul li{float: left;margin:0 10px;line-height: 94px;}
.navbar-fixed-top .container ul li a{color:#252525;font-size: 0.9em;}
.navbar-fixed-top .container img{padding-top: 20px;}

.headerAction{display: inline;margin-right:20px;position: relative;}
.headerAction .login_btn{color: #fff;line-height: 94px;margin-right: 20px;}
.headerAction .login_btn a{padding:8px 26px;width: 80px;height: 32px; background-color: #1086d0; -webkit-border-radius: 1px;-moz-border-radius: 1px;border-radius: 5px;color: #fff;text-align: center;font-size:14px;}
.headerAction .tel{width: 116px;height: 16px;background: url(/landing_static/img/index/icon1.png) 0 0px;display:inline-block;padding-left:10px;vertical-align: middle;}
.navbar-fixed-top .container ul li a.active,.navbar-fixed-top .container ul li a:hover{color: #1086D0;}
/*footer开始*/
#footer{width: 100%;height: 252px;background: #434a53;margin: 0 auto;position: relative;color:#acacac;}
#footer .footercontainer{width: 960px;height: 160px;position: absolute;top: 32px;left:50%;margin-left: -480px;font-size:12px;color:#8f8f8f;}
#footer .footercontainer .logo{width: 275px;height: 60px;}
#footer .footercontainer .logo p{display: inline-block;}
#footer .footercontainer .address{margin-top:55px;}
#footer .footercontainer  .copyright{margin-top: 5px;}
#footer .footercontainer  .copyright a{color: inherit;}
#footer .footercontainer .conr{padding-top:20px;padding-left:20px;}
#footer .footercontainer .conr span a{width: 200px;height: 200px;padding-top:20px;color: #fff;font:16px "Microsoft YaHei";margin-right:85px;}
#footer .footercontainer .conr a.last{margin-right: 0px;}
#footer .markbox img{padding-top:24px;height: 142px;display: inline;}
#footer .title{font:16px "Microsoft YaHei";}
/* 登录框开始*/
.loginViewBox{position: absolute;top:110px;right:-11px;}
    .drop-box-content{width: 350px;height: 276px;border-radius:15px;-webkit-border-radius:15px;-moz-border-radius:15px;background: url(/static/landing/img/index/DropBox_bg.jpg) repeat-x;box-shadow:0px 0px 8px rgba(0,0,0,0.4);}
    .drop-title{position: absolute;left: 96px;top:10px;}
    .drop-inputbox{width: 280px;padding: 69px 35px;}
    .drop-form{height: 200px;width: 280px;position: relative;font-family:"Microsoft YaHei";}
     .drop-form .input{width: 230px;border: 0;background-color:none;margin:15px 2px 0px 2px;box-shadow: none;-webkit-box-shadow: none;outline: none;}
    .login-error{overflow:visible;}
    .errorHint{font-size:12px;padding:10px;margin-top:-19px!important;}
    .inputbox{width: 280px;height: 55px;background-color: #fff;position: relative;}
    .inputbox input{border-radius:8px;float:right;font-size:16px;margin-bottom:0px!important;}
    .input_name{border:1px #c0c0c0 solid;border-bottom:0px;border-top-left-radius:8px;border-top-right-radius:8px;}
    .inputname .name_icon{width:29px;height:27px;overflow: hidden;display: block;background: url/landing_static/img/index/icon1.png) -3px -20px no-repeat;}
    .input_password{border:1px #c0c0c0 solid;border-bottom-left-radius:8px;border-bottom-right-radius:8px;}
    .ico{width: 29px;height: 27px;position: absolute;left: 10px;top: 15px;z-index: 1;background-image: url(/landing_static/img/index/icon1.png);}
    .ico-iud{background-position:-133px -61px;}
    .ico-pwd{background-position:-133px -37px;}
    .btn_login{position: absolute;top:150px;left:50%;margin-left:-70px;}
    .btn_login .btn{width: 131px;height: 32px;background-color:#1086d0;border: 0px;border-radius:5px;font-size:14px;color: #fff;cursor:pointer;}
    input[type="password"],input[type="text"]{height: auto;}
    .modal-backdrop{background: rgba(0,0,0,.4);z-index: 1000;}
    /*记住密码*/
.AutoLogin{width: 150px;height: 18px;position: relative;font-size:14px;color: #4a4a4a;margin-top: 5px;}
.loginFormCbx{margin-right: 5px!important;}
/*QQ客服 */
#qq,.sidebarclose{background: url("/static/landing/img/index/icon1.png") no-repeat;}
#qq{position: fixed; top: 200px; right: 50px; z-index: 100;width:33px;height: 144px;background-position: -134px -86px;}
#qq .close{width: 19px;height: 19px;display:none;}
#qq .sidebarclose{width: 19px;height: 19px;background-position:-45px -211px;position: absolute;top: 115px;right: 6px;cursor: pointer;}
#qq .sidebarclose:hover{background-position:-21px -211px;cursor: pointer;}
#qq .qqcontent{width: 24px;height: 107px;cursor: pointer;position: absolute; top: 5px;left: 5px;}
#qq .qqcontent a{display: none;}
