{% extends "webapp_content_base.html" %}
{% load common_tag %}

{% block css %}
<link type="text/css" rel="stylesheet" href="/markettools_static/red_envelope/css/my_red_envelope.css?v=1.1">
{% endblock %}

{% block content-panel %}
<div class="{% if not user.is_from_weixin %}notweixin{% endif %} xui-myR-pege xui-page"  data-title="{{ page_title }}">
	<div>
            {% if red_envelope_records %}
            <ul class="xui-list-y" data-theme="x" data-icon="false">
                {% for red_envelope_record in red_envelope_records %}
                <li>
                    <a href="{{red_envelope_record.red_envelope.target_link}}" data-coupon-id="{{red_envelope_record.red_envelope.id}}" class="coupon">
                        <div class="xui-myR-info">
                            <p class="xui-myR-name">
                                {{ red_envelope_record.red_envelope.name }}
                            </p>
                            {% if red_envelope_record.prize_type != -1 %}
                            <p class="xui-myR-detail"><span>{{ red_envelope_record.prize_detail }}</span></p>
                            {% endif %}
                            <p class="mt10" style="color:#83282e;font-size:14px;">
                                {{ red_envelope_record.red_envelope.desc }}
                            </p>
                        </div>
                            <div class="xui-myR-val">
                            </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <div class="error-info">
            您还没有红包
            </div>
            {% endif %}
        <!-- <div class="xui-btn-layer-footer xui-form-box">
            <a data-role="button" class="btn-back" href="/m/rice/user_center/{{ webapp_id }}/">&nbsp;&nbsp;返 回&nbsp;&nbsp;</a>
        </div> -->
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
</script>
{% endblock %}
