{% extends "webapp_content_base.html" %}
{% load common_tag %}

{% block css %}
<link type="text/css" rel="stylesheet" href="/markettools_static/shake/css/shake.css">

{% endblock %}

{% block content-panel %}
<div class="xui-page xui-shake-bg">
	<audio style="display:none" id="shaking" preload="metadata" src="/markettools_static/shake/img/shake.mp3"></audio>  
	<div class="xui-hand xa-hand pa autoX shake">
		<img src="/markettools_static/shake/img/hand.png" alt="" data-allow-autoplay=false>
	</div>
	<div class="xui-handBg pa autoX">
		<img src="/markettools_static/shake/img/hand_bg.png" alt="" data-allow-autoplay=false>
	</div>
	<div class="xui-title pa autoX">
		<img src="/markettools_static/shake/img/title.png" alt="" data-allow-autoplay=false>
	</div>
	<div class="xui-star1 pa">
		<img src="/markettools_static/shake/img/star.png" alt="" data-allow-autoplay=false>
	</div>
	<div class="xui-star2 pa">
		<img src="/markettools_static/shake/img/star.png" alt="" data-allow-autoplay=false>
	</div>
	<div class="xui-star3 pa">
		<img src="/markettools_static/shake/img/star.png" alt="" data-allow-autoplay=false>
	</div>
	<div class="xui-star4 pa">
		<img src="/markettools_static/shake/img/star.png" alt="" data-allow-autoplay=false>
	</div>
	<div class="xui-r1 pa">
		<img src="/markettools_static/shake/img/r1.png" alt="" data-allow-autoplay=false>
	</div>
	<div class="xui-r2 pa">
		<img src="/markettools_static/shake/img/r2.png" alt="" data-allow-autoplay=false>
	</div>
	<div class="xui-r3 pa">
		<img src="/markettools_static/shake/img/r3.png" alt="" data-allow-autoplay=false>
	</div>
	<div class="xui-r4 pa">
		<img src="/markettools_static/shake/img/r4.png" alt="" data-allow-autoplay=false>
	</div>
	<div class="xui-r5 pa">
		<img src="/markettools_static/shake/img/r5.png" alt="" data-allow-autoplay=false>
	</div>

	<div class="xui-music pa play xa-music">
		<img src="/markettools_static/shake/img/music_on.png" alt="" data-allow-autoplay=false>
	</div>
	<div class="autoX pa xui-info">
		 {% if cur_request_member and cur_request_member.is_subscribed %}
		 {% if next_shake_detail %}
		<h2 class="tc">
			您来晚了，活动已结束!
		</h2>
		<p class="tc">
			您来晚了，该时间段活动已结束！
		</p> 
		
		<p class="tc xui-timeLimit">
			下次开放时间{{next_shake_detail.start_at | date:"Y-m-d H:i"}}
		</p>
		{% else %}
			{% if shake_detail %}
			<h1 class="tc">
				手机摇一摇</br>
				幸运大奖随手摇出来
			</h1>
			{% else %}
			{% if is_participated %}
			<h2 class="tc">
				您已经参与当前活动
			</h2>
			{% else %}
			<h2 class="tc">
				您来晚了，活动已结束!
			</h2>
			{% endif %}
			{% endif %}
			
		{% endif %}
		 {% else %}
		 <h2 class="tc">
		 	先关注未来广场官方微信号<br/>
		 	才能参与抢红包哟~
		 </h2>
		 {% endif %}
		
		<a class="xui-ruleBtn tc xa-ruleBtn" href="javascript:void(0);">
			活动规则
		</a>
	</div>
</div>
<div class="xui-cover xa-cover hidden"></div>
<div class="xui-pop pa autoX xa-pop hidden">
	<img src="/markettools_static/shake/img/pop_bg.png" alt="" data-allow-autoplay=false>
	<i class="xui-close xa-Pclose pa"></i>
	<h2 class="pa autoX tc notice"></h2>
	<p class="pa autoX tc mark"></p>
	<a href="javascript:void(0);" class="xui-redBtn pa autoX xa-more hidden">再摇一把</a>
</div>
<div class="xui-rule xa-rule" style="">
	<div class="pa" style="right:15px;top:15px;overflow:hidden;"><i class="xui-close xa-Rclose"></i></div>
	<h3 class="tc">活动规则</h3>

	<div class="xui-ruleContent">
		{% if shake %}
			{{shake.detail|safe}}
		{% endif %}
	</div>
</div>
{% endblock %}

{% block js %}
<script src="/markettools_static/shake/js/shake.js"></script>
<script src="/markettools_static/shake/js/jpreloader.js"></script>
<script>
$(document).ready(function(){
 	/*loading*/
 	$('body').jpreLoader({
        showSplash: true,
        loaderVPos: "35%",
        splashVPos: '30%',
        showPercentage: true,
        closeBtnText: '',
        autoClose: true
    });  
 	/*声音的开启&关闭*/
 	var musicOn = "on",
 		$sound = $('#shaking')[0];
	$('.xa-music').click(function(event) {
		if(musicOn == "on"){
			$(this).removeClass('play').addClass('stop');
			musicOn = "off";
			$(this).children('img').attr('src', '/markettools_static/shake/img/music_'+ musicOn +'.png');
		}else{
			$(this).removeClass('stop').addClass('play');
			musicOn = "on";
			$(this).children('img').attr('src', '/markettools_static/shake/img/music_'+ musicOn +'.png');
		}
	});
	/*摇动的响应函数*/
		var shake_detail_id = '{{shake_detail.id}}';
		shake_detail = "{{shake_detail}}";
		if (shake_detail != 'None') { 
			var myShakeEvent = new Shake({
				threshold: 15
			    });
		    myShakeEvent.start();
		    
		}
		window.onload = function(){
		window.addEventListener('shake', shakeEventDidOccur, false);
		}
	  function shakeEventDidOccur(){
	    	if(musicOn == "on"){
	    		$sound.play();
	    	}else{
	    		$sound.pause();
	    	}
	    	data = {};
	    	var member_id = "{{ cur_request_member.id }}";
	    	var is_subscribed = "{{cur_request_member.is_subscribed}}";
	    	if (member_id){
			 W.getApi().call({
	        	app: 'webapp',
	            api: 'project_api/call',
	            args: _.extend({
	                project_id: W.projectId,
	                shake_detail_id: shake_detail_id,
	                target_api: 'prize/record',
	                member_id: member_id
	            }, data),
		        method: 'get',
		        success: function(data) {
			    	$('.xa-hand').removeClass('shake');
			    	myShakeEvent.stop();
			    	if (data.result.error_msg) {
			    		$('.notice').html("很遗憾")
	                	$('.mark').html(data.result.error_msg)
	                	
	                } else {
	                	$('.notice').html("恭喜您");
	                	$('.mark').html('恭喜您获得<span style="font-size:1.45rem;font-weight:bold;">'+data.result.send_price+'元</span>现金红包');
	                }
	                $('.xa-pop').removeClass('hidden');
	                $('.xa-cover').removeClass('hidden');
	                if (data.result.play_count > 0) {
	                	$('.xa-more').removeClass('hidden');
	                }
		        },
		        error: function(data) {
		        	$('.xa-cover').removeClass('hidden');
			    	$('.xa-hand').removeClass('shake');
			    	myShakeEvent.stop();
		    		$('.notice').html("很遗憾");
                	$('.mark').html("{{shake_detail.shake.not_winning_desc}}")
	                $('.xa-pop').removeClass('hidden');
                	$('.xa-more').removeClass('hidden');
		        }
	        });
	    	} else {
	    		$('.notice').html("很遗憾");
	            $('.mark').html("请先关注公众号");
	            $('.xa-pop').removeClass('hidden');
	    	}
	    }
	
   	/*点击活动规则按钮*/
 	$('.xa-ruleBtn').click(function(event) {
		$('.xa-rule').css('display', 'block').addClass('fadeIn');
		$('.xa-hand').removeClass('shake');
		myShakeEvent.stop();
 	});
 	/*点击活动规则的关闭按钮*/
 	$('.xa-Rclose').click(function(event) {
 		$(event.target).parents('.xa-rule').css('display','none').removeClass('fadeIn');
 		$('.xa-hand').addClass('shake');
 		myShakeEvent.start();
 	});
 	/*隐藏弹框*/
 	$('.xa-Pclose,.xa-cover,.xa-more').click(function(event) {
 		$('.xa-pop').addClass('hidden');
 		$('.xa-cover').addClass('hidden');
 		$('.xa-hand').addClass('shake');
 		myShakeEvent.start();
 	});
	$(".xa-more").click(function(){
		window.location.reload();
	})
 	
    $(".xa-test").click(function(){

    	data = {};
	    	
			 W.getApi().call({
	        	app: 'webapp',
	            api: 'project_api/call',
	            args: _.extend({
	                project_id: W.projectId,
	                shake_detail_id: shake_detail_id,
	                target_api: 'prize/record',
	            }, data),
		        method: 'get',
		        success: function(data) {
	                $('.xa-cover').removeClass('hidden');
			    	$('.xa-hand').removeClass('shake');
			    	if (data.result.error_msg) {
			    		
			    		$('.notice').html("很遗憾")
	                	$('.mark').html(data.result.error_msg)
	                	
	                } else {
	                	$('.mark').html('恭喜您获得'+data.result.send_price+'元现金红包')
	                }
	                $('.xa-pop').removeClass('hidden');

	                if (data.result.play_count > 0) {
	                	$('.xa-more').removeClass('hidden');
	                }
		        },
		        error: function() {
			        $('.ui-page').alert({
			         	isShow: true,
			         	info: '领取红包失败',
			         	isSlide: true,
			         	speed: 2000
			         });
		        }
	        });
    })
});
</script>

{% endblock %}
