@charset "utf-8";

.x-design .x-ui-grid .ui-block-a, .x-design .x-ui-grid .ui-block-b, .x-design .x-ui-grid .ui-block-c, .x-design .x-ui-grid .ui-block-d, .x-design .x-ui-grid .ui-block-e {
    box-shadow: 0 0 2px #000000 inset;
    min-height: 60px;
}

#selectedWidgetHighlighter {
    background: transparent;
    border: solid 2px #1262B7;
    border-radius: 3px 3px 3px 3px;
    position: absolute;
    /*
    margin-left: -1px;
    */
    top: -1000px;
    left: 0px;
    z-index: 9000;
    pointer-events: none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.xui-designPage-selectIndicator {
    background: transparent;
    border: solid 2px #1262B7;
    border-radius: 3px 3px 3px 3px;
    position: absolute;
    /*
    margin-left: -1px;
    */
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 9000;
    pointer-events: none;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
.xui-designPage-actionPanel {
    z-index: 9001;
    position: absolute;
    font-size: 12px;
    right: 2px;
    bottom: 2px;
    height: 20px;
    line-height: 20px;
}
[data-type="wepage.componentadder"] .xui-designPage-actionPanel {
    display: none !important;
}
.xui-designPage-actionPanel .xui-i-action {
    pointer-events: auto;
    background-color: rgba(0,0,0,0.3);
    display: inline-block;
    padding: 0px 3px;
    height: 20px;
    line-height: 20px;
    color: #FFF;
    cursor: pointer;
}
.xui-designPage-actionPanel .xui-i-editAction {
    pointer-events: none;
}

#selectedWidgetCover {
	/*background-color: rgba(73, 164, 230, 0.1);*/
    background: transparent;
    border: 2px solid #1262B7;
    border-radius: 3px 3px 3px 3px;
	position: absolute;
	/*padding: 1px;*/
	top: -1000px;
	left: 10px;
    /*margin-left: -2px;*/
    cursor: move;
    pointer-events: none;
    z-index: 9999;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

#selectedWidgetCover_actionPanel {
	background-color: #EEEEEE;
    border: 1px solid #999999;
    border-radius: 5px 5px 5px 5px;
    bottom: -14px;
    height: 14px;
    padding: 5px 0 5px 5px;
    position: absolute;
    right: 10px;
    z-index: 101;
    pointer-events: auto;
}

.actionIcon {
	display: block;
    float: left;
    margin-right: 5px;
    background: url("/termite_static/termite_img/icons_sprite.png") no-repeat scroll 0 0 transparent;
}

.actionIconDelete {
	background-position: -70px -15px;
    height: 15px;
    width: 14px;
}
.actionIconPlus {
    background-position: -84px 0px;
    height: 15px;
    width: 14px;
}

.x-circumInsertablePlaceholder {
	height: 1px;
	background-color: transparent;
}

.xui-state-highlight {
    height: 30px;
    background: none;
    display: block;
    border: solid 3px rgba(111, 167, 210, 0.8);
    /*background-color: rgba(111, 167, 210, 0.8) !important;*/
}
.weapp-block,.weapp-line{
	padding:4px 0;
}
.weapp-block div{
	border:1px dashed #bbb;
} 

/*===================页头====================*/
/*.wui-pageheader .wui-shop-header{
    -webkit-background-size: 360px 100px !important;
    background-size: 360px 100px !important;
}*/


.wui-componentadder {
    cursor: pointer;
    padding: 10px;
    margin: 0px 2px;
    border: dashed 1px #CFCFCF;
}

.wui-personalityTheme .wui-shop-Bg, .wui-specialTemplate .wui-shop-Bg{
    position: relative;
}