<script id="dialog-view-mall-product-tmpl-src" type="text/x-jquery-tmpl">
	<div class="monitorSetActiveDialog">
		<p class="tx_content">
		<p style="text-align:center">
			你还没有商品信息
			<br>
			请创建商品之后再创建网站
		</p>
		<p></p>
		</p>
		<p class="btnLayout" style="text-align:center">
			<button class="btn tx_cancel">我知道了</button>
			<a class="btn btn-success ml10" href="/mall/editor/product/add/0/">创建商品</a>
		</p>
		<p></p>
	</div>
</script>

<script id="dialog-view-mall-category-tmpl-src" type="text/x-jquery-tmpl">
	<div class="monitorSetActiveDialog">
		<p class="tx_content">
		<p style="text-align:center">
			你还没有分类信息
			<br>
			请创建分类之后再创建网站
		</p>
		<p></p>
		</p>
		<p class="btnLayout" style="text-align:center">
			<button class="btn tx_cancel">我知道了</button>
			<a class="btn btn-success ml10" href="/mall/editor/category/create/">创建分类</a>
		</p>
		<p></p>
	</div>
</script>
