{% extends "mockapi/mockapi_content_base.html" %}

{% block title %}【MockAPI】支付宝{% endblock %}

{% block content %}
    <div class="tc" style="margin-top: 100px;">
        <div>
            <img src="/static/img/mockapi/alipay.jpg" />
            <h3 style="color: blue;">{{ name }}</h3>
        </div>
        <div class="mt20">
            <div class="alert"><strong>价格</strong>：￥{{price}}</div>
            <button class="btn btn-success" data-url="{{ success_call_back_url|safe }}">支付成功</button>&nbsp;&nbsp;
            <button class="btn btn-danger" data-url="{{ fail_call_back_url|safe }}">支付失败</button>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function() {
        $('.btn').click(function() {
            var url = $(this).attr('data-url');
            showPayHint();
            callPayApi(url);
        });
    });
</script>
{% endblock %}
