<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//ZH-CN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>{% block title %}第三方支付{% endblock %}</title>

        <link type="text/css" rel="stylesheet" media="all" href="/static/bootstrap/css/bootstrap.css">
	    <link type="text/css" rel="stylesheet" media="all" href="/static/css/base.css">
	    <link type="text/css" rel="stylesheet" media="all" href="/static/css/system.css">

        <style type="text/css">
            html, body {
                background-color: #FFFFFF;
            }

            #payHint {
                width: 60px;
                top: 0px;
                position: absolute;
                left: 36%;
                text-align: center;
            }
        </style>
    </head>
    <body>
        <div class="alert alert-info hide" id="payHint">
            <strong>支付中...</strong>
        </div>
        {% block content %}{% endblock %}
        <script type="text/javascript">
            window.W = {};
        </script>
        <script type="text/javascript" src="/static/jquery/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/static/backbone/underscore-1.4.4.min.js"></script>
        <script type="text/javascript" src="/static/js/system/template-0.9.js"></script>
        <script type="text/javascript" src="/static/js/system/api.js"></script>
        <script type="text/javascript">    
            function showPayHint() {
                $('#payHint').slideDown('fast');
            }

            function callPayApi(call_back_url) {
                /*
                W.getApi().call({
                    app: 'mockapi',
                    api: 'pay_callback_result/get',
                    args: {
                        call_back_url: call_back_url
                    },
                    success: function() {

                    }
                })
                */
                var url = '/mockapi/call_back_url/request/?call_back_url=' + encodeURIComponent(call_back_url);
                window.location.href = url;
            }
        </script>
        {% block js %}{% endblock %}
	</body>
</html>
