{% extends "webapp_content_base.html" %}
{% load common_tag %}
{% block css%}
<style>
    html,body{
        background: #fff;
    }
    .xui-qrcodePage {
        padding-top: 120px;
    }
    .xui-myRecPage .xui-header{
        padding-bottom: 56px;
    }
    .xui-qrcodePage .xui-qrcodeinfo p {
        margin-top: 10px;
        text-align: center;
        font-weight: bolder;
    }
</style>
{% endblock %}
{% block content-panel %}
<div class="xui-myRecPage xui-qrcodePage">

    <section>
        <div class="pr tc">
            <img width="250" height="250" src="{{ qrcode_img }}" class="xui-qrcode">
        </div>
        <div class="xui-qrcodeinfo">
            <p>请长按上方二维码关注我们参与活动！</p>
        </div>
    </section>
</div>

{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}