{% extends "webapp_content_base.html" %}
{% load common_tag %}
{% block css%}
{% endblock%}
{% block content-panel %}
<div class="xui-page xui-wapBinding-page">
	<form class="xui-form" method="post" action="" id="binding_form">
		<div class="xui-phoneNum-section pr mb10 xa-section">
			<label for="">
				<i></i>
				<input type="number" cellphone_number required-msg="请输入正确的手机号" name="number" class="xa-phoneNum" placeholder="输入手机号"/>
			</label>
			<button class="xui-btnCode xa-getCode" type="button">获取验证码</button>
		</div>
		<div class="xa-section">
			<label for="" class="xui-phoneCode-section mb15">
				<i></i>
				<input type="number" class="xa-phoneCode" required required-msg="验证码" placeholder="请输入短信中的验证码">
			</label>
			<button class="xui-btnsubmit xa-submit" type="button">确认提交</button>
		</div>
	</form>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function() {
	if($('.xa-phoneNum').val() == "" && $('.xa-phoneCode').val() == ""){
		$('.xa-submit').attr('disabled', 'true');
	}
	if($('.xa-phoneNum').val() == ""){
		$('.xa-getCode').attr('disabled', 'true');
	}
	var wait=60;
	function validate_phone(phone_number){
		var reg = /^1[3|4|5|8][0-9]\d{4,8}$/;
		if(!reg.test(phone_number || phone_number.length != 11 )){
			$('.xui-page').alert({
		         	isShow: true,
		         	info: "请填写有效的手机号",
		         	isSlide: true,
		         	speed: 2000
		     });
            return false;
		}
		return true;
	}

	function time(currentTarget) {
		var input = currentTarget.parents('.xa-section').find('.xa-phoneNum');
		if (wait == 0) {
			currentTarget.attr("disabled","false");
			input.attr("disabled","false");
			currentTarget.removeAttr('disabled');
			input.removeAttr('disabled');
			currentTarget.text("获取验证码");
			currentTarget.css('background-color', '#067de2');
			wait = 60;
		} else {
			currentTarget.attr("disabled", "true");
			input.attr("disabled","true");
			currentTarget.text("(" + wait + ")重新获取");
			currentTarget.css('background-color', '#63b7ff');
			wait--;
			setTimeout(function() {
				time(currentTarget)
			},
			1000)
		}
	}
	$('input').on('input',function(event){
		var $target =$(event.target);
		var $siblingsInput = $target.parents('.xa-section').siblings().find('input');
		if($target.hasClass('xa-phoneNum')){
			if($target.val()==""){
				$('.xa-getCode').attr('disabled', 'true').css('background-color', '#63b7ff');
			}else{
			$('.xa-getCode').removeAttr('disabled').css('background-color', '#067de2');
			}
		}
		if($target.val() =="" || $siblingsInput.val() == ""){
			$('.xa-submit').attr('disabled', 'true').css('background-color', '#63b7ff');
		}else{
			$('.xa-submit').removeAttr('disabled').css('background-color', '#067de2');
		}
	});

	$(".xa-getCode").click(function(event){
		var phone_number = $('.xa-phoneNum').val();
		if (validate_phone(phone_number)){
			W.getApi().call({
		        app: 'webapp',
		        api: 'project_api/call',
		        method: 'post',
		        args: _.extend({
		            woid: W.webappOwnerId,
		            project_id: W.projectId,
		            module: 'user_center',
		            target_api: 'captcha/send',
		            phone_number: phone_number
		        }),
		        success: function(data) {
		        	time($(event.target));
		        },
		        error: function(data){
		        	console.log(data)
		        	if (data.data && data.data.msg){
		        		$('.xui-page').alert({
			         	isShow: true,
			         	info: data.data.msg,
			         	isSlide: true,
			         	speed: 2000
			     	});
		        	}

		        }
		    });
		}
	});

	$(".xa-submit").click(function(){
		var phone_number = $('.xa-phoneNum').val();
		var code = $('.xa-phoneCode').val();
		if (validate_phone(phone_number)){
			W.getApi().call({
		        app: 'webapp',
		        api: 'project_api/call',
		        method: 'post',
		        args: _.extend({
		            woid: W.webappOwnerId,
		            project_id: W.projectId,
		            module: 'user_center',
		            
		            target_api: 'phone/binding',
		            phone_number: phone_number,
		            code:code
		        }),
		        success: function(data) {
		        	$('.xui-page').alert({
			         	isShow: true,
			         	info: '绑定成功',
			         	isSlide: true,
			         	speed: 3000
			        })
		        	window.location.href = "./?webapp_owner_id={{request.webapp_owner_id}}&module=user_center&model=user_info&action=get&workspace_id=user_center";
		        },
		        error: function(data){
		        	$('.xui-page').alert({
			         	isShow: true,
			         	info: data.data.msg,
			         	isSlide: true,
			         	speed: 2000
			        })
		        }
		    });
		}
	})
	
});
</script>
{% endblock %}