{% extends "webapp_content_base.html" %}
{% load common_tag %}

{% block content-panel %}
<div class="xui-integralLogPage">
    {%if not member_integral_logs%}
    <div class="influence-log-list error-info">您还没有积分日志</div>
    {% else %}
    <ul class="clearStyle xui-integralLogList">
                <div class="xui-inner-infoBox">
                    {% for value in member_integral_logs %}
                    <div class="xui-inner-time">{{value.0}}</div>
                       {% for log in value.1 %}
                        <li class="xui-listItem">
                            <div class="xui-inner-content">
                                <img src="{{log.pic}}" class="xui-usericon fl"/>
                                {% if log.is_friend %}
                                <p class="xui-zoom fl">
                                    <span class=" xui-username">{{log.event_type}}</span>
                                    <br/>
                                    <span class=" xui-type">{{log.name}}</span>
                                </p>
                                {% else %}
                                <p class="xui-zoom fl">
                                    <span class=" xui-username">{{log.event_type}}</span>
                                    <br/>
                                  <!--   <span class=" xui-type">gggg</span> -->
                                </p>
                                {% endif %}
                                <p class="xui-right fr tr">
                                    {% if log.integral_count > 0 %}
                                    <span class=" xui-text-blue em8">+{{log.integral_count}}</span>
                                    {% else %}
                                    <span class=" xui-text-red em8">-{{log.integral_count}}</span>
                                    {% endif %}
                                </p>
                            </div>
                        </li>
                        {% endfor %}

                    {% endfor %}
                    
                </div>

           
    </ul>
    {% endif %}
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function() {
		$('.xui-integralLogPage').css('min-height', screen.height+'px');
	})
</script>
{% endblock %}
