{% extends "webapp_content_base.html" %}
{% load mall_filter %}
{% load common_tag %}

{% block css%}
<link rel="stylesheet" href="/webapp_static/backend_default/css/loading.css">
<style>

html{
font-family:Arial,Tahoma,Roboto,"Droid Sans","Helvetica Neue","Droid Sans Fallback","Heiti SC","Hiragino Sans GB",'Microsoft Yahei',Simsun,sans-serif;
}
html,body{
	background: #fff;
}
body .wui-alert{
	font-size: .8rem;
}
.xui-attentionAlert a{
	font-size: .75rem!important;
}
.xui-info{
	padding:.6rem .75rem .5rem .75rem;
	border-top:1px solid #e5e5e5;
}
.xui-info h2,
.xui-info h3{
	font-weight: normal;
}
.xui-info h2{
	font-size: .75rem;
	margin:0 0 .35rem 0;
}
.xui-info h3{
	color:#cf0404;
	font-size: .6rem;
	margin:0 0 .5rem 0;
}
.xui-info label{
	display: block;
}
.xui-info .xui-oShopping,
.xui-info .xui-oShopping:visited{
	color:#a4a4a4;
	font-size:.6rem;
	float: right;
}
.xui-countPrice{
	font-size: .6rem;
	color:#4a4a4a;
}
.xui-price{
	font-size: .55rem;
	color:#a4a4a4;
}
.xui-price span{
	display: inline-block;
	-webkit-transform:scale(.98);
	transform:scale(.98);
}
.xui-images img{
	display: block;
}
.xui-tips{
	font-size: .65rem;
	color:#cf0404;
	padding:.15rem .1rem;
}
.xui-orange{
	color:#ff8502;
}
.xui-borderBtn{
	display: block;
	text-align: center;
	width:100%;
	border:.05rem solid #ff8502;
	color:#ff8502;
	border-radius:.1rem;
	background: #fff;
	font-size: .7rem;
	line-height: 2rem;
	-webkit-appearance:none;
	box-sizing:border-box;
	padding:0;
	margin:.4rem 0;
}
.xui-borderBtn span{
	font-weight:bold;
}
.xui-progress,
.xui-successBtn{
	color:#fff;
	font-size: .7rem;
	line-height: 2rem;
	height: 2rem;
	border-radius:.1rem;
	text-align: center;
	position: relative;
	overflow: hidden;
	margin: .4rem 0;
}
.xui-progress{
	background: rgba(255,133,2,.5);
}
.xui-successBtn{
	display: block;
	background: #ff8502;
}
/*安卓a标记兼容*/
.xui-successBtn:link,
.xui-successBtn:active,
.xui-successBtn:visited{
	color:#fff;
}
.xui-progress label{
	display: block;
	position: absolute;
	width: 100%;
}
.xui-progressBar{
	position: absolute;
	left:0;
	top: 0;
	height: 2rem;
	width:10%;
	background: #ff8502;
	transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: width, background-color;
    transition-timing-function: linear;
}
.xui-panel{
	width: 11.5rem;
	margin: 5rem auto 0 auto;
	padding:1.4rem .7rem 1rem .7rem;
	box-sizing:border-box;
	background: #fff;
	border-radius:.2rem;
}
.xui-rule{
	width: 12rem;
	padding:1.4rem .85rem 1.2rem .85rem;
}
.xui-panel h3{
	font-size: .75rem;
	color: #8a8a8a;
	font-weight:normal;
	position: relative;
	text-align: center;
	padding:0 0 .15rem 0;
	margin: 0;
}
.xui-panel h3::before,
.xui-panel h3::after{
	position: absolute;
	content: "";
	width:3.05rem;
	border-top: solid 1px #ccc;
	-webkit-transform: scaleY(.5);
	-moz-transform: scaleY(.5);
	transform: scaleY(.5);
	top: .5rem;
}
.xui-rule h3::before,
.xui-rule h3::after{
	width:3.1rem;
}
.xui-members{
	padding-bottom: .75rem;
}
.xui-members h3::before,
.xui-members h3::after{
	width:2.8rem;
}
.xui-success h3,
.xui-success h4{
	color:#60b82b;
	font-size: .75rem;
}
.xui-success h4 i{
	content: "";
	display: inline-block;
	width: 1.35rem;
	height: 1.35rem;
	background: url(/static_v2/img/webapp/usercenter/socketPage/succ_icon.jpg) no-repeat;
	background-size: cover;
	vertical-align: middle;
	margin-right: .5rem;
}
.xui-success img{
	width:7.5rem;
	margin:0 auto;
	display: block;
	margin-top: .75rem;
}
.xui-success p{
	font-size: .55rem;
	-webkit-transform: scale(.9);
	transform: scale(.9);
	text-align: center;
	margin-top: .5rem;
	white-space: nowrap;
}
.xui-panel h3::before{
	left: 0;
}
.xui-panel h3::after{
	right: 0;
}
.xui-panel li{
	color:#4a4a4a;
	margin-top: .6rem;
	font-size: .6rem;
}
.xui-guideTip{
	position: absolute;
	width:9.5rem;
	height:3.5rem;
	top: 0;
	right: .75rem;
	background: url(/static_v2/img/webapp/usercenter/socketPage/guide_tip.png) no-repeat;
	background-size:100% auto;
}
.xui-members .xui-avatar{
	width:2.6rem;
	height: 2.6rem;
	border-radius:.15rem;
	display: block;
}
.xui-members ul{
	padding:.05rem .2rem 0 .2rem;
	height: 12rem;
	overflow-y:auto; 
}
.xui-members ul li{
	width: 2.6rem;
	display: inline-block;
	margin-right:.95rem;
	float: left;
	margin-top: .5rem;
}
.xui-members ul li:nth-child(3n){
	margin-right: 0;
}
.xui-members p{
	font-size: .6rem;
	margin-top:.08rem;
	text-align: center;
}
.wui-i-dotPositions{
	position: absolute;
	right: 0;
	left: 0;
	bottom: 1rem;
	text-align: center;	
}
.wui-i-dotPosition{
	display: inline-block;
	width: .3rem;
	height: .3rem;
	background: #eaeaea;
	border-radius:50%;
}
.wui-i-activeDotPosition{
	background: #ff8502;
}
.xui-loadingContainer{
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0);
	z-index: 10000;
}
.xui-loading{
	top:12.35rem;
}
.hidden{
	display: none!important;
}
.no-code{
	margin-top:9rem;
}
@media only screen and (min-device-width: 320px) and (max-device-height: 480px){
	.xui-guideTip{
		width:8.3rem;
		height:3.05rem;
	}
	.xui-panel{
		margin: 3.8rem auto 0 auto;
	}
	.no-code{
		margin-top:8rem;
	}
	.xui-loading{
		top:11rem;
	}
}
</style>
{% endblock %}
{% block content-panel %}
<div class="xui-socketPage">

        joined:{{joined}}:<br>
        current_count:{{current_count}}<br>self_visit:{{self_visit}} 
        <br>member_voted:{{member_voted}}

<button class="voted">dddddd</button>
</div>
{% endblock %}

{% block js %}
<script>
(function (doc, win) {
    var docEl = doc.documentElement,
    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
    recalc = function () {
      var clientWidth = docEl.clientWidth;
      if (!clientWidth) return;
      docEl.style.fontSize = 20 * (clientWidth / 320) + 'px';
    };

    if (!doc.addEventListener) return;
    win.addEventListener(resizeEvt, recalc, false);
    doc.addEventListener('DOMContentLoaded', recalc, false);
})(document, window);

$(document).ready(function() {
	var count = 0;
	var totalCount = 15;
	var changeProgressBar = function(){
		count = parseInt($('.xa-member-count').text());
		var width = count >= totalCount ? 100:(count * 6.67);
		var percent = Math.round(width);
		$('.xa-progress').css('width', width + '%');
		// $('.xa-percent').text(percent);
		if(count >= totalCount){
			$('.xa-progress').siblings('label').html('加油完成，我也要分享');
			$('.xa-progress').parent('.xui-progress').removeClass('xa-showMembers').addClass('xa-showRule');
		}else{
			$('.xa-percent').text(percent);
		}
		
	}
	if( $('.xa-member-count').length){
		changeProgressBar();
	}

	$('body').delegate('.xa-showRule', 'click', function(event) {
		$('.xa-ruleCover').removeClass('hidden');
	});

	$('.xa-showMembers').click(function(event) {
		if (count < totalCount) {
			$('.xa-membersCover').removeClass('hidden');
		}
	});
	$('.xui-cover').click(function(event) {
		if($(event.target).hasClass('xui-cover') || $(event.target).hasClass('xui-guideTip')){
			$(this).addClass('hidden');
		}
	});
	 $('.voted').click(function(){
        W.getApi().call({
        app: 'webapp',
        api: 'project_api/call',
        method: 'get',
        args: {
            woid: W.webappOwnerId,
            module: 'user_center',
            target_api: 'mileke_log/record',
            fid: '{{url_fid}}'
	        },
        success: function(data) {
        	$('.xa-loading').addClass('hidden');
	 		$('.xa-successCover').removeClass('hidden');
            $('.xa-refueling').addClass('hidden');
            $('.xa-showMembers').removeClass('hidden');
            $('.xa-success-refueling').removeClass('hidden');
            $('.xa-member-count').text({{refueling_count}}+1);
            changeProgressBar();
        },
        error: function(data) {
        	$('.xa-loading').addClass('hidden');
            $('body').alert({
                isShow: true,
                info: data['data']['msg'],
                speed:2000
            });
        }
        });
    });
});
</script>
{% endblock %}
