<script id="mall-products-pool-filter-view-tmpl-src" type="text/x-jquery-tmpl">
<div class="xui-form disT w">
	<div class="xui-col disTc">
		<div class="xui-i-item">
			<label class="">商品名称：</label>
			<input type="text" class="form-control" id="name" name="name" value="" />
		</div>
	</div>
	<div class="xui-col disTc">
		<div class="xui-i-item">
			<label class="">供货商：</label>
			<input type="text" class="form-control" id="supplier" name="supplier" value="" />
		</div>
	</div>
	<div class="xui-col disTc">
		<div class="xui-i-item">
			<label>状态：</label>
			<select id="status" name="status">
				<option value="-1">全部</option>
				<!-- {{each(i, category) categories}}
				<option value="${category.id}" name="status">${category.name}</option>
				{{/each}} -->
				<option value="1" name="status">待更新</option>
				<option value="2" name="status">未选择</option>
				<option value="3" name="status">已选择</option>

			</select>
		</div class="xui-i-item">
	</div>
</div>
<div class="xui-btn-group">
	<a class="btn btn-primary mr40 xa-search xui-fontBold" href="javascript:void(0);">查询</a>
	<a class="btn btn-default xa-reset xui-fontBold" href="javascript:void(0);">重置</a>
</div>
</script>
