<script id="one-voteoption-tmpl-src" type='text/x-jquery-tmpl'>
<tr data-id="{{if vote_option}}${vote_option.id}{{else}}-1{{/if}}">
    <td style="width: 250px;">
        <div>
            <input type="text" class="input-xlarge w180" id="vote_option_name" name="vote_option_name" placeholder="长度小于24个字符" value="{{if vote_option}}${vote_option.name}{{/if}}" data-validate="required" data-validate-max-length="24" />
            <div class="errorHint"></div>
        </div>
    </td>

    <td style="width: 160px;" class="{{if is_show_image}}{{else}}hidden {{/if}}vote_option_picurl">
        <input type="hidden" name="vote_option_url" value="{{if vote_option}}${vote_option.pic_url}{{/if}}" data-validate="require-image" data-ui-role="image-selector" data-width="160" data-height="160"/>
        <div data-ui-role="image-selector-view"></div>
        <span class="help-block alert"><span class="selectImageDialog-width">160px</span>*<span class="selectImageDialog-height">160px</span>
        </span>
        <div class="errorHint"></div>
    </td>

    <td style="width: 40px;">
        <button class="vote_delete_option btn btn-danger btn-mini ml5" type="button"><i class="icon-remove icon-white"></i>
        </button>
    </td>
</tr>
</script>

<script id="voteoptions-list-tmpl-src" type='text/x-jquery-tmpl'>
<div>
    <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th width="250px">票项名称</th>
                <th width="160px" class="{{if is_show_image}}{{else}}hidden {{/if}}vote_option_picurl">图片</th>
                <th width="40px">删除</th>
            </tr>
        </thead>
        <tbody id="vote_options_list">
        </tbody>
    </table>
    <div>
        <button class="vote_option_add btn btn-default btn-huge" type="button" style="margin-left: 157px; width:200px;">+&nbsp;增加投票选项
        </button>
    </div>
</div>
</script>