# .coveragerc to control coverage.py
[run]
branch = True
omit = 
    */debug_*.py
    */admin.py
    captcha/*
    admin/*
    disttool/*
    example/*
    management/*
    init_db/*
    manage_tools/*
    sbin/*
    test/*

    */*_tests.py
    */*_test.py
    */tests.py
    */__init__.py
    */middleware.py
    */urls.py
    core/context_processors.py
    core/send_message.py
    core/sendmail.py
    core/ofc.py
    core/emojicons.py
    six.py
    manage.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    __author__*
    import *

ignore_errors = True

[html]
directory = coverage_html_report

[xml]
directory = coverage_xml_report
