{% extends "webapp_content_base.html" %}
{% load common_tag %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

{% block css%}
<link type="text/css" rel="stylesheet" href="/markettools_static/distribution/css/m_weixin_style_v1.css">
<style>
   
</style>
{% endblock %}
{% block content-panel %}
<div class="xui-wrapper xui-process-wrapper">
    <div class="xui-mainContain pt50">
        {% if cur_list %}
            <div class="xui-list">
                <div class="xui-time">时间：{{ cur_list.created_at|date:"Y/m/d H:i" }}</div>
                <ul class="xui-process">
                    {% if cur_list.state == 1 %}
                        <li class="xui-step cur">已申请<span class="icon-right icon-moveRight"><i class="icon-rect-white"></i><i class="icon-tri-white"></i>
                        <li class="xui-step">正在返现<span class="icon-right"><i class="icon-rect-blue"></i><i class="icon-tri-blue"></i></span></li>
                        <li class="xui-step">已完成</li>
                    {% endif %}
                    {% if cur_list.state == 2 %}
                        <li class="xui-step">已申请<span class="icon-right"><i class="icon-rect-blue"></i><i class="icon-tri-blue"></i>
                        <li class="xui-step cur">正在返现<span class="icon-right icon-moveRight"><i class="icon-rect-white"></i><i class="icon-tri-white"></i></span></li>
                        <li class="xui-step">已完成</li>
                    {% endif %}
                    {% if cur_list.state == 3 %}
                        <li class="xui-step">已申请<span class="icon-right"><i class="icon-rect-blue"></i><i class="icon-tri-blue"></i>
                        <li class="xui-step">正在返现<span class="icon-right"><i class="icon-rect-blue"></i><i class="icon-tri-blue"></i></span></li>
                        <li class="xui-step cur">已完成</li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}

        {% if prev_lists %}
            {% for prev_list in prev_lists %}
                <div class="xui-list">
                    <div class="xui-time">时间：{{ prev_list.created_at|date:"Y/m/d H:i" }}</div>
                    <ul class="xui-process">
                        <li class="xui-step">已申请<span class="icon-right"><i class="icon-rect-blue"></i><i class="icon-tri-blue"></i>
                        <li class="xui-step">正在返现<span class="icon-right"><i class="icon-rect-blue"></i><i class="icon-tri-blue"></i></span></li>
                        <li class="xui-step cur">已完成</li>
                    </ul>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

{% block js %}
<script>
</script>
{% endblock %}