{% load workbench_filter %}
{% block css %}
<link type="text/css" rel="stylesheet" media="all" href="/termite_static/css/apps/powerme.css">
<link type="text/css" rel="stylesheet" media="all" href="/termite_static/css/apps/powerme_yellow.css" id="css_yellow">
<link type="text/css" rel="stylesheet" media="all" href="/termite_static/css/apps/powerme_red.css" id="css_red" disabled=" true">
<link type="text/css" rel="stylesheet" media="all" href="/termite_static/css/apps/powerme_orange.css" id="css_orange" disabled=" true">
{% endblock %}

{% ifequal component.type 'appkit.powermedescription' %}
    <div class="wui-powerme-container">
        <div class="wui-i-background-image">
            {% if component.model.background_image %}
                <img src="{{ component.model.image }}">
            {% else %}
                <img src="/termite_static/img/component/powerme/top_default.png" style="padding: 80px 0;width: 150px;height: 110px;">
            {% endif %}
        </div>
        <div class="wui-i-body">
            <div style="display: none" class="wui-i-start_time"></div>
            <div style="display: none" class="wui-i-end_time"></div>
            <div class="wui-i-timing wa-timing">
                <i></i>:
                <b class="xa-day">00</b>天
                <b class="xa-hour">00</b>时
                <b class="xa-minute">00</b>分
                <b class="xa-second">00</b>秒
            </div>
            <div class="wui-i-btngroup">
                <button class="wui-i-btn-closed wa-closed wui-hide">活动已结束</button>
                <button class="wui-i-btn-notready wa-notready wui-hide">活动尚未开启,敬请期待</button>
                <button class="wui-i-btn-using wa-using wui-hide">我也要参加</button>
                <button class="wui-i-btn-power wa-power wui-hide">帮助力</button>
            </div>
            <div class="wui-i-description xa-description cl">
                <div class="wui-i-description-content">
                    {{component.model.description|safe}}
                </div>
            </div>
            <div class="wui-i-rules xa-rules">
                <div class="wui-i-title">
                    <div class="wui-i-line"></div>
                    <div class="wui-i-title-content">
                        <i class="wui-i-star"></i><b>活动规则</b><i class="wui-i-star"></i>
                    </div>
                </div>
                <div class="wui-i-rules-content">
                    {{component.model.rules|safe}}
                </div>
            </div>
            <div class="wui-i-states">
                <div class="wui-i-title">
                    <div class="wui-i-line"></div>
                    <div class="wui-i-title-content">
                        <i class="wui-i-star"></i><b>助力值TOP100</b><i class="wui-i-star"></i></div>
                    </div>
                <ul>
                    <li>
                        <span>排名</span>
                        <span>会员</span>
                        <span class="fr">助力值</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endifequal %}
