{% load workbench_filter %}
{% block css %}
    <style>
        hr{
            display: inline-block;
            width: 60px;
            vertical-align: middle;
        }
        .wui-hide{
            display: none;
        }
        .wui-powerme-container{
            width: 100%;
            height: auto;
            text-align: center;
            font-family: "微软雅黑" !important;
            text-align: center;
        }
        .wui-powerme-container>.wui-i-top{
            width: 100%;
            height: auto;
            background: white;
        }
        .wui-powerme-container .wui-i-top>img{
            width: 100%;
            height: 300px;
            margin: 0;
            border: none;
        }
        .wui-powerme-container .wui-i-body{
            background: #FEF6C5;
            padding: 10px 0;
        }
        .wui-powerme-container .wui-i-body div{
            margin-top: 15px;
        }
        .wui-powerme-container .wui-i-body .wui-i-btngroup button{
            width: 80%;
            height: 35px;
            border-radius: 2px;
            border: none;
            color: white;
            font-size: 20px;
            margin: 5px 0;
        }
        .wui-powerme-container .wui-i-body .wui-i-btngroup .wui-i-btn-closed{
            background: #B5B5B5;
        }
        .wui-powerme-container .wui-i-body .wui-i-btngroup .wui-i-btn-notready{
            background: #666666;
        }
        .wui-powerme-container .wui-i-body .wui-i-btngroup .wui-i-btn-using{
            background: #FD5C0E;
        }
        .wui-powerme-container .wui-i-body .wui-i-rules .wui-i-title{

        }
        .wui-powerme-container .wui-i-timing{
            color: black;
        }
        .wui-powerme-container .wui-i-timing i{
            background: url("/termite_static/img/component/powerme/icon_sprite.png") no-repeat;
            background-position: -49px 0;
            background-size: 940% 220%;
            width: 33px;
            height: 33px;
            display: inline-block;
            margin-bottom: -12px;
        }
        .wui-powerme-container .wui-i-timing b{
            width: 20px;
            height: 100%;
            background: url("/termite_static/img/component/powerme/icon_sprite.png") no-repeat;
            background-position: -170px -12px;
            font-size: 14px;
            padding: 7px 5px;
            color: white;
            border-radius: 2px;
        }
        .wui-powerme-container .wui-i-masterinfo{
            position: static;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 30px;
            padding: 10px 0;
            font-size: 12px;
            line-height: 30px;
            background-color: white;
            border-top: 1px solid gainsboro;
        }
        .wui-powerme-container .wui-i-masterinfo b{
            color: lightsalmon;
            font-size: 15px;
        }
        .wui-powerme-container .wui-i-rules .wui-i-star, .wui-powerme-container .wui-i-states .wui-i-star{
            background: url("/termite_static/img/component/powerme/icon_sprite.png") no-repeat;
            background-position: 9px 3px;
            background-size: 940% 420%;
            width: 33px;
            height: 17px;
            display: inline-block;
        }
        .wui-powerme-container .wui-i-rules b, .wui-powerme-container .wui-i-states b{
            color: #6F2F0C;
        }
        .wui-powerme-container .wui-i-states ul li{
            text-align: left;
            margin: 0 10px;
        }
        .wui-powerme-container .wui-i-states ul li:nth-child(1) span{
            min-width: 45px;
            display: inline-block;
        }
        .wui-powerme-container .wui-i-background-image {
            margin-bottom: -4px;
        }
        .wui-powerme-container .wui-i-rules-content {
            text-align: left !important;
            margin-left: 10px;
        }
    </style>
{% endblock %}

{% ifequal component.type 'appkit.powermedescription' %}
    <div class="wui-powerme-container">
        <div class="wui-i-background-image">
            <img src="/termite_static/img/component/powerme/top_default.png" style="padding: 80px 0;width: 150px;height: 110px;">
        </div>
        <div class="wui-i-body">
            <div style="display: none" class="wui-i-start_time"></div>
            <div style="display: none" class="wui-i-end_time"></div>
            <div class="wui-i-timing">
                <i></i>:
                <b class="xa-day">00</b>天
                <b class="xa-hour">00</b>时
                <b class="xa-minute">00</b>分
                <b class="xa-second">00</b>秒
            </div>
            <div class="wui-i-btngroup">
                <button class="wui-i-btn-closed">活动已结束</button>
                <button class="wui-i-btn-notready">活动尚未开启,敬请期待</button>
                <button class="wui-i-btn-using">我也要参加</button>
            </div>
            <div class="wui-i-description xa-description cl">
                <div class="wui-i-description-content">
                    {{component.model.description|safe}}
                </div>
            </div>
            <div class="wui-i-rules xa-rules">
                <div class="wui-i-title"><hr><i class="wui-i-star"></i><b>活动规则</b><i class="wui-i-star"></i><hr></div>
                <div class="wui-i-rules-content">
                    {{component.model.rules|safe}}
                </div>
            </div>
            <div class="wui-i-states">
                <div class="wui-i-title"><hr><i class="wui-i-star"></i><b>助力值TOP100</b><i class="wui-i-star"></i><hr></div>
                <ul>
                    <li>
                        <span>排名</span>
                        <span>会员</span>
                        <span class="fr">助力值</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="wui-i-masterinfo">
            <span class="wa-myrange">我的排名: <b>124</b></span>
            <span class="wa-mypower">我的助力值: <b>12343</b></span>
            <span class="wa-totalcount">参与人数: <b>7231</b></span>
        </div>
    </div>
{% endifequal %}
