@charset "utf-8";

.xui-cardnumFilter .xui-w100 {
    width: 66px !important;
}

.xui-card-num-ul {
    width: 25%;
    text-align: center;
    margin: 20px 0px;
    border-right: solid 1px #DADADA;
}
.xui-card-num-ul :last-child {
    border-right: none;
}
.xui-cardnumFilter .xa-num-date a{
	color:black;
}
.xui-cardnumFilter .xa-num-date a:hover{
	cursor: pointer;
	text-decoration: none;
}
.xui-cardnumFilter .xui-datePicker {
    width: 98px !important;
}