@charset "utf-8";
/*=============模板消息==========*/

.xa-follow-wrap{
	padding: 0 0 0 40px;
}
.xa-follow-tit{
	color: #333;
	font-size: 12px;
	line-height: 30px;
	padding: 10px 0 0;
}
.follow-input{
	width: 368px;
	height: 24px;
	padding: 3px;
	border:1px solid #ddd;
	color: #666;
}
.xui-guideImg{
    width:1020px;
    left:50%;
    margin-left: -500px;
    position: fixed;
    z-index: 1042;
    height:100%;
    overflow-y:auto;
}
.xui-guidecover{
    background: rgba(0,0,0,.4);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1041;
    display: none;
}