@charset "utf-8";
/**
* 统计概况页面
*/
.xui-mall-outlinePage .xui-summary .xui-i-title{
  line-height: 103px;
}
.xui-mall-outlinePage .xui-charWrap{
  width: 100% !important;
  height: inherit!important;
  margin-top:30px!important;
}
.xui-mall-outlinePage .wui-echart .wui-i-header{
  position: absolute;
  left: 90px;
  top: -4px;
  background: transparent;
}
.xui-mall-outlinePage .xui-tips{
  padding:30px 10px;
}
.xui-mall-outlinePage .xui-tips li:not(:last-child){
  margin-bottom:20px;
}
.xui-mall-outlinePage .xui-tips li a{
  margin-right: 10px;
  text-decoration: none;
}
.xui-mall-outlinePage .xui-tips .xui-item{
  float: left;
  display: inline-block;
  width:90px;
  text-align: right;
  margin-right: 25px;
  cursor: default;
}
.xui-mall-outlinePage .xui-tips .xui-numTip{
  color:#ff9600;
  font-weight: bold;
}
/*.xui-mall-outlinePage .xui-legend {
 height: 36px;
  width: 100%;
  background-color: #d8eafb;
  line-height: 36px;
  padding-left: 25px;
  font-weight: bold;
}
.xui-mall-outlinePage  .panel-body{
  padding-left: 34px;
  padding-bottom: 0px;
}
.xui-mall-outlinePage .xui-ChartContent{
    width: 800px;
   margin-left:30px;
}
.xui-mall-outlinePage .xui-ChartBody{
  margin-left: 60px;
}
.xui-mall-outlinePage {
    
}
.xui-mall-outlinePage .xui-i-allContent {
    background-color: #EBEEF7;
    padding-top: 14px;
}
.xui-mall-outlinePage .panel {
    background-color: #EBEEF7   
}
.xui-mall-outlinePage .xui-i-left {
    float: left;
    width: 300px;
    background-color: #D6EBFE;
    height: 340px;
    overflow: hidden;
}
.xui-mall-outlinePage .xui-i-right {
    float: left;
    width: 620px;
}*/
.xui-mall-outlinePage-orders .xui-i-header {
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    padding-left: 10px;
}
.xui-mall-outlinePage-orders .xui-i-count {
    color: #FF7F00;
}
.xui-mall-outlinePage-orders .xui-i-date {
    color: #FF7F00;
}
.xui-mall-outlinePage-orders .xui-i-orders {
    height: 270px;
    overflow: hidden;
}
.xui-mall-outlinePage-orders .xui-i-orders {
    line-height: 25px;
}
.xui-mall-outlinePage-orders .xui-i-moreOrder {
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding-right: 20px;
}
/*.xui-mall-outlinePage .xui-i-outlineCounts {
    background-color: #D6EBFE;
}
.xui-mall-outlinePage .xui-i-outlineCount {
    width: 25%;
    text-align: center;
    margin: 20px 0px;
    border-right: solid 1px #DADADA;
}
.xui-mall-outlinePage .xui-i-outlineCount:last-child {
    border-right: none;
}
.xui-mall-outlinePage .xui-i-count,.xui-weixin-outlinePage .xui-i-count {
    height: 30px;
    line-height: 30px;
    color: #FD7D23;
    font-weight: bold;
    font-size: 22px;
}
.xui-mall-outlinePage .xui-i-description {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
}

.xui-mall-outlinePage .xui-i-messages {
    background-color: #FFF;
    margin-top: 20px;
    height: 220px;
    line-height: 25px;
    font-size: 12px;
}*/
.xui-mall-integralStrategyPage .xui-legend {
 height: 36px;
  width: 100%;
  background-color: #d8eafb;
  line-height: 36px;
  padding-left: 25px;
  font-weight: bold;
}
.xui-mall-integralStrategyPage .xui-introduce{
  margin: 18px 50px;
}
.xui-mall-integralStrategyPage .xui-introduce input{
  text-align: center;
}
.xui-mall-integralStrategyPage table thead th {
  background-color: #c8d2e5;
  height: 40px;
}
.xui-mall-integralStrategyPage table  {
  width:976px;
  margin: auto;
}
.xui-mall-integralStrategyPage table td:nth-child(odd)  {
   text-align: left;
   padding-left: 30px;
}
.xui-mall-integralStrategyPage table td:nth-child(1)  {
   width: 160px;
}
.xui-mall-integralStrategyPage table td:nth-child(2)  {
   width: 220px;
}
.xui-mall-integralStrategyPage table td:nth-child(3)  {
   width: 350px;
}
.xui-mall-integralStrategyPage table tr{
  height: 58px;
  line-height: 58px;
}
.xui-mall-integralStrategyPage table tr .xui-useHint{
  width: 256px;
  text-align: left;
}
.xui-mall-integralStrategyPage table tr .xui-btn input{
  top: 2px;
}
.xui-mall-integralStrategyPage table tr input.form-control{
  width: 119px;
  margin-left: 42px;
  text-align: center;
}
.xui-mall-integralStrategyPage .xui-submit{
  margin-left:458px;
  margin-top: 30px;
}
.xui-mall-integralStrategyPage .xui-form{
    min-height: 880px;
}

/*消息中心*/
.xui-noticePage .panel{
  background: #E9EDF5;
}
.xui-noticePage .panel-body{
  border-bottom: 1px solid #CBCBCB;
}
.xui-noticePage .panel-body li{
  line-height: 26px;
}
.xui-noticePage .xui-paginationPosition{
  margin-right: 28px;
}
/*消息详情*/
.xui-noticeDetail{
  padding: 30px 48px;
}
.xui-noticeDetail .xui-detailTitle{
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.xui-noticeDetail .xui-detailTime{
  font-size: 12px;
  text-align: center;
}