[data-ui-role="sidebar-menu"] {
	display: none;
}

.wui-sidebarMenu {
	box-sizing: border-box;
	position: fixed;
	top: 200px;
	right: -155px;
	z-index: 500;
	width: 220px;
	display:inline-block;
	font-size: 1.375rem;
	-webkit-transition: right .5s linear;
	-moz-transition: right .5s linear;
	transition: right .2s linear;
}
.wui-sidebarMenu.wui-inner-expand {
	right: 0px;
}
.wui-sidebarMenu-handler {
	cursor: pointer;
	box-sizing: border-box;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 70px;
	height: 70px;
	background-color: #5C6166;
	color: #FFF;
	padding-left: 10px;
	padding-top: 10px;
	text-align: left;
	border-radius: .25em 0 0 .25em ;
}
.wui-sidebarMenu-handler img {

}
.wui-sidebarMenu ul, .wui-sidebarMenu li {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.wui-sidebarMenu li {
	box-sizing: border-box;
	height: 70px;
	text-align: center;
	line-height: 70px;
	text-shadow: 1px 1px 0px #000;
}
.wui-sidebarMenu li:hover {
	background-color: rgba(0, 0, 0, 0.3);
}
.wui-sidebarMenu ul {
	box-sizing: border-box;
	width: 150px;
	margin-left: 70px;
	background-color: #5C6166;
	-webkit-box-shadow:  -4px 4px 5px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:  -4px 4px 5px 0px rgba(50, 50, 50, 0.25);
	box-shadow:  -4px 4px 5px 0px rgba(50, 50, 50, 0.25);
}
.wui-sidebarMenu a {
	display: block;
}
.wui-sidebarMenu a:link,  .wui-sidebarMenu a:visited {
	text-decoration: none;
	color: #FFC40D;
}