@charset "utf-8";
/*
* 粉丝统计数据
*/
.xui-mainpage
{
	background: #eaeef6;
	padding: 13px;
}
.xui-mainpage .funs_date_ul
{
	background: #fff;
	padding: 20px 0;
	width: 613px;
	font-size: 11.94px;
	color: #333;
	height: 82px;
}
.xui-mainpage .funs_date_ul li
{
	width: 150px;
	float: left;
	border-right: 1px solid #ddd;
	text-align: center;
}
.xui-mainpage .funs_date_ul li em
{
	font-size: 18px;
}
.xui-mainpage .funs_date_ul li em a
{
	color: #1183ca;
}
.xui-mainpage .funs_date_ul li:last-child
{
	border-right: none;
}
.xui-mainpage .xui-ChartContent
{
	background: #fff;
	padding: 0 0 20px;
	margin: 13px 0;
}
.xui-mainpage .xui-ChartBody
{
	margin: 0 40px;
}
.xui-mainpage .wui-echart .wui-i-header
{
	background: #c8d2e5;
}
.xui-mainpage .wui-i-content
{
	border:1px solid #e5e5e5;
}
.xui-mainpage .wui-echart .wui-i-activeLink 
{
	background:#fff;
	border: solid 1px #1D84C7;
}
.xui-mainpage .wui-echart .wui-i-activeLink :hover
{
	background:#fff;
	border: 1px solid #1183ca;
}
.xui-mainpage .tips
{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	color: #fff;
	text-align: center;
	line-height: 20px;
	font-size: 16px;
	cursor: pointer;
	margin: 15px;
	background: #b0b0b0;
}
.xui-mainpage .tips_wrap
{
	position: relative;
	display: none;
}
.xui-mainpage .tips_ul
{
	position: absolute;
	background: #fff;
	padding: 12px 16px;
	border:1px solid #ddd;
	color: #666;
	z-index: 10;
	right: 40px;
	top: -317px;
}
.xui-mainpage .tips_ul li
{
	height: 25px;
	line-height: 25px;
}
.xui-mainpage .tips_ul li span
{
	color: #333;
}
.xui-mainpage .chart_data_txt
{
	position: relative;
	top: -30px;
	text-align: center;
}
.xui-mainpage .xui-search-title {
	width: 160px;
	height: 30px;
	padding: 0 0 0 3px;
	line-height: 30px;
}
.xui-mainpage .xui-searchBtn {
	display: inline-block;
	width: 52px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #f1f1f1;
	font-weight: normal;
	border-left: 0;
}
.xui-mainpage .xui-paginationPosition {
	position: relative;
	bottom: -5px;
	right: 0px;
}
.xui-mainpage .panel-body{
	padding: 10px;
}
.xui-mainpage .xui-tableHead thead th{
	background: #eaeef6;
}
.xui-mainpage .xui-tableHead tbody tr{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	height: 30px;
}
.xui-mainpage .xui-productList {
	width: 100%;
	display: table!important;
}
.xui-mainpage .xui-fansEchart{
	width: 65%;
	float: left;
	margin:0 2% 0 4%;
}
.xui-mainpage .xui-boughtFansEchart{
	width: 25%;
	float: left;
	margin:0 1% 0 1%;
}