@charset "utf-8";

.xui-weixin-messagePage .xui-normal thead th {
	background-color: #fff;
	text-align: left;
}
.xui-weixin-messagePage .xui-messageTable tbody td {
  background-color: #fff;
  width: 50%;
  padding-left: 30px;
  text-align: left;
}
.xui-weixin-messagePage .xui-messageTable thead {
	background-color: #c8d2e5;
}
.xui-weixin-messagePage .xui-contentWrap {
	width: auto;
	background-color:transparent;
	margin: auto;
	padding-bottom: 30px;
	margin-bottom: 30px;
}
.xui-weixin-messagePage .xui-white {
	
	background-color:#fff;
	
}
.xui-weixin-messagePage .xui-hint {
	display: none;
}
.xui-weixin-messagePage .xui-keywordView {
	position: absolute;
}
.xui-weixin-messagePage .xui-editeTable .xui-i-type {
	background-color: #ededed;
	line-height: 28px;
	padding-left: 14px;
	width: 78px;
	padding-right: 14px;
	height: 28px;
}
.xui-weixin-messagePage .xui-keywordView .xui-i-type {
	background-color: #ededed;
	line-height: 28px;
	padding-left: 14px;
	width: 78px;
	padding-right: 14px;
	height: 28px;
	border-left:1px solid #ccc;
}
.xui-weixin-messagePage .xui-rule-name {
	width: 100%;
	background-color: #fff;
	clear: both;
	height: 40px;
	line-height: 40px;
}
.xui-weixin-messagePage .xui-answer-item{
	margin-bottom: 10px;
}
.xui-weixin-messagePage .xui-rule-name input {
	
	line-height: 100%;
}
.xui-weixin-messagePage  .xui-save{
	min-width: 80px;
}
.xui-weixin-messagePage .xui-btnWrap{
	width: 232px;
	margin: auto;
}
.xui-weixin-messagePage .xui-save,.xui-weixin-materialsPage .xui-delete{
	min-width: 80px;
}
.xui-weixin-messagePage .xui-message-view{
	width: 560px;
}
.xui-weixin-messagePage .xui-message-view .xui-messageWarp{
	width: 560px;
	height: 190px;
	background-color: #fff;
	border:1px solid #eee;
}
.xui-weixin-messagePage .xui-message{
	width: 295px;
	border:1px solid #eee;
}
.xui-weixin-messagePage .xui-message .xui-i-message{
	width: 100%;
	border-bottom:1px solid #eee;
	height: 35px;
	line-height: 35px;
}
.xui-weixin-messagePage .xui-message .xui-i-message:last-child{
	border:none;

}
.xui-weixin-messagePage .xui-message .xui-i-message:first-child{
	height: 50px;
	line-height: 50px;

}

.xui-weixin-messagePage .xui-type{
	background-color: #1d911a;
	padding:2px;
	margin-right: 12px;
	margin-left: -2px;
	color: #fff;
	width: 30px;

	} 
.xui-weixin-messagePage	.xui-normal-answerWrap {
	float: left;
	width: 95%;
}
.xui-weixin-messagePage	.xui-messageTable .xui-answerContent {
	line-height: 26px;
	/*width: 80%;*/
}
.xui-weixin-messagePage	.xui-messageTable .xui-answerContent {
	word-break:break-all;
}

.xui-weixin-messagePage .xui-unmatchTable .xui-answerContent {
	width: 80%;
}
.xui-weixin-messagePage .xui-unmatchTable .xui-answerContent {
	width: 580px;
	word-break:break-all;
}

.xui-weixin-messagePage .xui-unmatchTable td {
	padding-left: 30px;
}

.xui-weixin-messagePage .xui-unmatchTable {
	border:1px solid #ddd;
}

.xui-weixin-messagePage	.xui-editeTable .xui-answerContent {
	float: left;
}
.xui-weixin-messagePage .xui-answersWrap {
	width: 100%;
	float: left;
	padding-right: 10px;
}
.xui-weixin-messagePage .xui-answersWrap a {
	line-height: 26px;
}

.xui-weixin-messagePage	.xui-answerContent {
	line-height: 26px;
}
.xui-weixin-messagePage .xui-title {
	line-height: 26px;
}
.xui-weixin-messagePage	.xui-searchInput {
	height: 30px;
}
.xui-weixin-messagePage	.xui-i-message {
	width: 300px;
}
.xui-weixin-messagePage .xui-patterns {
     border:1px solid #ccc;
     height: 30px;
     width: auto;
     margin-left: 10px;
}
.xui-weixin-messagePage .xui-patterns .xui-i-key {
     height: 100%;
     line-height: 30px;
     padding-left: 20px;
     padding-right: 20px;
	}
.xui-weixin-messagePage .xui-editeTable .xui-patterns .xui-i-type {
	background-color: #ededed;
	border-left:1px solid #ccc;
	height: 100%;
	width: auto;
	line-height: 30px;
	padding-left: 14px;
	padding-right: 14px;
	width: 78px;
}
.xui-weixin-messagePage .xui-editeTable .xui-verticalTop{
	vertical-align: top;
}
.xui-weixin-messagePage .xui-editeTable .xui-answerContent {
	width: 375px;
}
.xui-weixin-messagePage .xui-normal .xui-patterns .xui-i-type {
	background-color: #ededed;
	height: 100%;
	width: auto;
	line-height: 30px;
	padding-left: 14px;
	padding-right: 14px;
}
.xui-weixin-messagePage .xui-normal .xui-number {
	width: 20px;
	text-align: right;
	padding-right: 4px;
}
.xui-weixin-messagePage .xui-patterns .xui-close {
	position: relative;
	top: -42px;
	left: 26px;
	visibility: hidden;
}
.xui-weixin-messagePage .xui-newKeyView {
	width: 360px;
	border:1px solid #ccc;
	background-color: #fff;

}
.xui-weixin-messagePage .xui-newKeyView .xui-key {
	width: 100%;
	height: 100px;
	padding-top: 20px;
	border-bottom: 1px solid #ccc;
	line-height: 30px;
}
.xui-weixin-messagePage .xui-newKeyView .xui-key input {
	vertical-align: sub;
}
.xui-weixin-messagePage .xui-newKeyView .xui-show {
	width: 100%;
}
.xui-weixin-messagePage .btn {
	border-radius: 0px !important;
}
.xui-weixin-messagePage .xui-newKeyView .xui-i-left {
	text-align: right;
	width: 76px;
    clear: both;
    float: left;

}.xui-weixin-messagePage .xui-newKeyView .xui-i-right {
	text-align: left;
	right: 90px;

}
.xui-weixin-messagePage .xui-messageTrust .xui-i-left {
	width: 630px;
	height: 120px;
	padding: 22px;
}
.xui-weixin-messagePage .xui-messageTrust .xui-i-right {
	width: 100px;
	height: 100%;
	padding-top: 35px;
	
}
.xui-weixin-messagePage .xui-messageTrust {
	width: 100%;
	height: 120px;
    background-color: #fff;
   }
.xui-weixin-messagePage .xui-setting {
	width: auto;
	height: 120px;
	background-color: #fff;
}
.xui-weixin-messagePage .xui-setting .xui-row{
	width: 100%;
	height: 60px;
	background-color: #fff;
	text-align: center;
	clear: both;
	float: left;
	border:1px solid #ccc;
}
.xui-weixin-messagePage .xui-setting .xui-i-left{
	width: 130px;
	height: 100%;
	background-color: #c8d2e5;
	clear: both;
	line-height: 60px;
}
 .xui-weixin-materialsPage .xui-setting .xui-i-right{
	width: 130px;
	height: 100%;
}


/**
 * 选择素材对话框样式
 */
.xui-selectWeixinMaterialDialog input[type="checkbox"] {
	position: absolute;
	clip: rect(0,0,0,0);
	pointer-events: none;
}
.xui-selectWeixinMaterialDialog .btn-primary.checked{
	background: #CBCBCB;
	border:1px solid #CBCBCB;
	color: #999999;
}
.xui-selectWeixinMaterialDialog .xui-btnStyle{
	width: 110px;
	height: 35px;
	background: #207cbe;
}
