<script id="common-keyword-echart-tmpl-src" type="text/x-jquery-tmpl">
<div class="wui-i-header pl20 clearfix">
	<div class="fl">
		筛选日期：
		<input
			type="text"
			class="form-control wui-i-date"
			id="${id}_start_date"
			name="start_date"
			style=""
			value=""
			readonly="readonly"
			data-validate="require-notempty"
			data-ui-role="date-picker"
			data-format="yy-mm-dd" />
		至
		<input
			type="text"
			class="form-control wui-i-date"
			id="${id}_end_date"
			name="end_date"
			value=""
			readonly="readonly"
			data-validate="require-notempty"
			data-ui-role="date-picker"
			data-format="yy-mm-dd"
			data-min-el="#start_date"/>
	</div>

	<div class="fl ml40">
		快速查看：
		<ul class="xui-inline">
			<li class="wui-i-shortcut"><a data-value="6" href="javascript:void(0);" class="wui-i-shortcutLink xa-shortcut wui-i-activeLink">最近7天</a></li>
			<li class="wui-i-shortcut"><a data-value="29" href="javascript:void(0);" class="wui-i-shortcutLink xa-shortcut ml10">最近30天</a></li>
		</ul>
	</div>
	<div class="fr">
		<input type="text" class="xui-search-title xa-search-title" placeholder="请输入关键字">
		<a class="xui-searchBtn btn btn-default xa-searchBtn c65 fr m0 mt10 pt0 mr10">查询</a>
	</div>

</div>

<div class="xa-keyword-table"></div>

</script>

<script id="keyword-view" type="text/x-jquery-tmpl">
	<table class="table table-condensed mb0 xui-tableHead">
		<thead>
			<tr>
				<th>排行</th>
				<th>关键字</th>
				<th>出现次数</th>
			</tr>
		</thead>
		<tbody id = "template_message_list">
			{{if items.length}}
				{{each(i, item) items}}
				<tr data-id="${item.id}">
					<td class="tc">
						${item.id}
					</td>
					<td class="tc">
						${item.keyword}
					</td>
					<td class="tc">
						${item.count}
					</td>
				</tr>
				{{/each}}
			{{else}}
				<tr><td colspan="3">没有相应的数据</td></tr>
			{{/if}}
		</tbody>
	</table>
</script>
