{% load workbench_filter %}


{% ifequal component.type 'appkit.selection' %}
<div  
    class="wui-textSelection"  
    data-component-cid="{{component.cid}}" 
    style=""
>
	<h1 class="wui-i-title">{{component.model.title}} {% if component.model.is_mandatory == "true" %}<span class="wui-i-mandatory">(必填)</span>{% endif %}</h1>
	<ul 
		class="wui-i-items xa-inputControl"
		data-input-name="{{component.model.title}}"
		data-input-type="selection"
		data-control-type="appkit.selection"
		{% if component.model.is_mandatory == "true" %}
		data-validate='require-select-span::请选择"{{component.model.title}}"'
		{% endif %}
	>
		{% for sub_component in component.components %}
        {{ sub_component.html|safe }}
        {% endfor %}
	</ul>
</div>
{% endifequal %}



{% ifequal component.type 'appkit.selectitem' %}
<li  
    class="wui-i-item"
    data-component-cid="{{component.cid}}" 
    style=""
>
	{% if component.parent_component.model.type == 'single' %}
	<label for="radio_item_{{component.cid}}" style="display:block; padding: 3px 0px;">
		<span id="radio_item_{{component.cid}}" name="radio_{{component.parent_component.cid}}" data-type="radio" span-type="selection"  class="selection-radio" data-input-name="{{ component.model.title }}"></span><span class="ml5 xa-itemTitle" style="margin-left: 34px!important;">{{ component.model.title }}</span>
{#		<input  type="radio" name="radio_{{component.parent_component.cid}}" "/><span class="ml5 xa-itemTitle">{{ component.model.title }}</span>#}
	</label>
	{% else %}
	<label for="checkbox_item_{{component.cid}}" style="display:block; padding: 3px 0px;">
		<span id="checkbox_item_{{component.cid}}" name="checkbox_{{component.parent_component.cid}}" data-type="checkbox" span-type="selection"  class="selection-checkbox" data-input-name="{{ component.model.title }}"></span><span class="ml5 xa-itemTitle" style="margin-left: 34px!important;">{{ component.model.title }}</span>
{#		<input id="checkbox_item_{{component.cid}}" type="checkbox" name="checkbox_{{component.cid}}" data-input-name="{{ component.model.title }}"/><span class="ml5 xa-itemTitle">{{ component.model.title }}</span>#}
	</label>
	{% endif %}
</li>
{% endifequal %}
