{% extends "new_jqm_content_base.html" %}
{% load common_tag %}
{% block css %}
<link type="text/css" rel="stylesheet" href="/markettools_static/delivery_plan/css/delivery_plan.css">
<link type="text/css" rel="stylesheet" href="/markettools_static/delivery_plan/css/mobiscroll.custom-2.5.0.min.css">
{% endblock %}
{% block content-panel %}
	<div class="xui-deliveryplan-page">
	<div class="xui-bottom-actionPanel xui-actionPanel">
		<a href="javascript:void(0);" class="xui-btn" id="submit-order">立即购买</a>
	</div>
		<div class="xui-warper">
			<div 
            data-ui-role="swipeimage" 
            data-images-json='{{product.swipe_images_json}}' 
            data-image-width='320' 
            data-image-height='200'
       		 >
       		 </div>
			<div class="xui-section mb50">
				<div class="xui-section-item">
					<span class="xui-product-title">{{ product.name }}</span>
				</div>
				<div class="xui-section-item">
					<p>套餐包含：{{delivery_plan.name}}</p>
					<p>套餐价：<span class="xui-price">￥{{delivery_plan.price}}</span><span class="xui-priceBefore ml5">￥{{delivery_plan.original_price}}</span></p>
					<p class="xui-priceSave">立省{{delivery_plan.discount}}</p>
				</div>
				<div class="xui-section-item">
					<div class="xui-calendarBox"><div style="display:inline-block;position:absolute;margin-top:14px;">初次配送时间：</div><input type="text" name="date1" id="date1" readonly="true" /></div>
					
				</div>
				<div class="xui-section-item ">
					<div class="clearfix">
						<span style="float:left;">配送时间：</span>
						<ul id="date_list_ul" style="float:left;">
							<li></li>
							<li></li>
							<li></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<form id="create_order_form" style="display: none" action="./?woid={{request.webapp_owner_id}}&module=mall&model=order&action=edit&delivery_plan_id={{delivery_plan.id}}&product_id={{product.id}}&product_count=1" method="post" >
		<input name="delivery_dates" id="delivery_dates" value="">
	</form>
		 
{% endblock %}
{% block js %}
<script type="text/javascript" src="/markettools_static/delivery_plan/js/mobiscroll.custom-2.5.0.min.js"></script>
<script type="text/javascript">
    //轮播图
    W.BUY_COUNT = 1;
    var productId = '{{product.id}}';
    var today = '{{today}}';
    var start_date = '{{start_date}}';
    var end_date = '{{end_date}}';
    var times = parseInt('{{delivery_plan.times}}');
	var frequency = parseInt('{{delivery_plan.frequency}}');
	var days = parseInt('{{delivery_plan.days}}');
    //var isRefreshByPriceChange = {% if is_refresh_by_price_change %}true{% else %}false{% endif %};
    $(document).ready(function() {
        //修改"立即购买"链接中的product_count参数
        var updateBuyLink = function(productCount) {
            var $buy = $('.xa-buyBtn');
            var hrefAttr = $buy.attr('href');
            hrefAttr = hrefAttr.replace(/product_count=\d+/, 'product_count='+productCount);
            $buy.attr('href', hrefAttr);    
        };
        $('input[data-ui-role="counter"]').bind('count-changed', function(event, value) {
            updateBuyLink(value);
            W.BUY_COUNT = value;
        });
        
        var strToDate = function(date) {
        	var this_date = date.replace(/-/g,"/");
			var date = new Date(this_date);
			
			return date;
        }
        
        var opt = {
	        preset: 'date', //日期
	        theme: 'jqm', //皮肤样式
	        display: 'modal', //显示方式 
	        dateFormat: 'yy-mm-dd', // 日期格式
	        setText: '确定', //确认按钮名称
	        cancelText: '取消',//取消按钮名籍我
	        dateOrder: 'yymmdd', //面板中日期排列格式
	        dayText: '日', monthText: '月', yearText: '年', //面板中年月日文字
			minDate: strToDate(start_date),//最小日期  
	        maxDate: strToDate(end_date), //最大日期
	        onSelect: function (valueText, inst) {
		        changeDate(valueText);
		    },
		    
	    }
        
        $("#date1").scroller(opt);
        $("#date1").val(today);
        
        var changeDate = function(new_date) {
			var date = strToDate(new_date);
			date_list = [];
			date_list_html = '';
			for (i = 0; i < times; i++) {
				var next_date = date;
				if (i > 0) {
					next_date.setDate(date.getDate()+frequency*days);
				}
				cur_date = next_date.getFullYear()+"-"+(next_date.getMonth()+1)+"-"+next_date.getDate();
				date_list.push(cur_date);
				cur_html = '<li>' + cur_date + '</li>';
				date_list_html = date_list_html + cur_html;
			}
			
			var $date_list_ul = $("#date_list_ul");
			$date_list_ul.html(date_list_html);
			var date_str = date_list.join(",");
			$("#delivery_dates").val(date_str);
        };
        
        changeDate(today);
        
        $("#submit-order").click(function() {
        	$("#create_order_form").submit();
        })
    });
</script>
{% endblock %}