<% extends "mobile_content_base.html" %>

<% block css %>
<link type="text/css" rel="stylesheet" href="/static/css/webapp/<< css_name >>">
<% endblock %>

<% block mobileinit %>
<script type="text/javascript">
$(document).bind("mobileinit", function () {
    $.mobile.ajaxEnabled = false;
});
{% ifequal hasSwipeImages "yes" %}
W.swipeImageSize = {'width':450, 'height':210};
{% endifequal %}
</script>
<% endblock %>


<% block content-panel %>
<div data-role="page" data-theme="x" class="<% if not user.is_from_weixin %>notweixin<% endif %>" data-title="<< page_title >>">
	<div data-role="header" data-theme="x">
		<a href='/m/{{app}}/<< webapp_id >>/' class="headImgLink headHome" data-shadow="false" data-iconshadow="false" data-corners="false" data-ajax="false"></a>
		<h1><< {{instanceName}}.name >></h1>
	</div>

    <div data-role="content" data-theme="x">
    	<% if {{instanceName}}.is_deleted %>
    	<div>
	    	该{{entityName}}不存在，请返回
	    </div>
    	<% else %>
        {% ifequal hasSwipeImages "yes" %}
        <div class="page-swipe">
            <div class="page-swipe-border">
                <% ifequal swipe_images.size 0 %>
                <div id="page-swipe-images">
                    暂无图片
                </div>
                <% else %>
                <div id="page-swipe-images">
                </div>
                <% endifequal %>
                <nav>
                    <ul id="position">
                        <% for img in swipe_images %>
                        <li class="<% ifequal forloop.counter0 0 %>on<% endifequal %>" data-index="<< forloop.counter0 >>"></li>
                        <% endfor %>
                    </ul>
                </nav>
            </div>
        </div>
        {% else %}
    	<div id="banner">
    		<div id="banner-imgBox">
    			<img class="responsiveImg" src="<< {{instanceName}}.detail_pic_url >>" />
    		</div>
    	</div>
        {% endifequal %}
    	<div class="productDetail">
    		{% for property in properties %}
    		<p class="mt10">
    			<< {{instanceName}}.{{property.name}} >>
    		</p>
    		{% endfor %}
	    </div>
	    <% endif %>
	</div>
	
	<% include 'footer.html' %>
</div>
<% endblock %>

<% block js %>
<script type="text/javascript">
{% ifequal hasSwipeImages "yes" %}
var swipeImages = $.parseJSON('<< swipe_images_json|safe >>');

$(document).ready(function() {
    var swipeImageCount = swipeImages.length;
    if (swipeImageCount != 0) {
        var PhotoSwipe = window.Code.PhotoSwipe;
        var instance = PhotoSwipe.attach(
            swipeImages,
            {
                target: $('#page-swipe-images')[0],
                preventHide: true,
                autoStartSlideshow: true,
                getImageSource: function(obj){
                    return obj.url;
                },
                getImageCaption: function(obj){
                    return '';
                }
            }
        );
        instance.addEventHandler(window.Code.PhotoSwipe.EventTypes.onDisplayImage, function(event) {
            $('li.on').removeClass('on');
            $('li[data-index="'+event.index+'"]').addClass('on');
        });
        instance.addEventHandler(window.Code.PhotoSwipe.EventTypes.onTouch, function(event) {
            if (event.action === 'tap') {
                var image = event.currentTarget.originalImages[event.currentTarget.currentIndex];
                if (image) {
                    //TODO: 使用jquery mobile的跳转函数
                    window.location.href = image.link_url;
                }
            }
        });
        instance.show(0);
    }
});
{% endifequal %}
</script>
<% endblock %>