<script id="copy-link-view" type="text/x-jquery-tmpl">
	<div class="fl xa-linkInput" style="width:235px;margin-left:25px;margin-top:15px;">
		<input name="link" id="link_text" class="form-control" {{if !enableEdit}}disabled{{/if}} type="text" placeholder="复制链接" style="padding:2px 10px;box-sizing:initial"/>
	</div>
	<div class="fl" style="margin-left:45px;margin-top:5px;">
		<button id="xa-copy-btu" class="btn xa-submit btn-primary" data-clipboard-target="link_text">复 制</button>
	</div>
	<div class="remark_error red"></div>
</script>
