{% extends "content_base_v2.html" %}
{% load project_filter %}
{% load account_filter %}

{% block content-panel %}
<div class="xui-wepage-orderSummaryPage">
    <div class="relative">
        <ul class="breadcrumb">
            <li>您当前所在位置</li>
            <li><a href="/stats/order_summary/">销售分析</a></li>
            <li class="active">订单概况分析</li>
        </ul>
    </div>
    
    <div class="xb-rightPanel pl10 pr10 pb30">
        <div id="stats-order-summary-filter-view" class="xui-filter xui-filterPanel "></div>
        <table class="xui-summary" >
            <tr>
                <td rowspan="2" class="xui-i-left"><p class="xui-i-title">订单概况</p></td>
                <td>
                	<div class="xui-i-wrap"><span class="xui-i-money" id="order_num"></span><br/>
                		<img class="xui-i-img xui-i-hide"  src="/static_v2/img/editor/help.png"/>
                		<span class="xui-i-name">成交订单</span>
                		<img class="xui-i-img" id="order_num_help" src="/static_v2/img/editor/help.png"/>
                	</div>
                </td>
                <td>
                	<div class="xui-i-wrap">
                		<span class="xui-i-money" id="paid_amount"></span><br/>
                		<img class="xui-i-img xui-i-hide"  src="/static_v2/img/editor/help.png"/>
                		<span class="xui-i-name">成交金额</span>
                		<img class="xui-i-img" id="paid_amount_help" src="/static_v2/img/editor/help.png"/>
                	</div>
                </td>
                <td>
                	<div class="xui-i-wrap">
                		<span class="xui-i-money" id="unit_price"></span><br/>
                		<img class="xui-i-img xui-i-hide"  src="/static_v2/img/editor/help.png"/><span class="xui-i-name">客单价</span>
                		<img class="xui-i-img" id="unit_price_help" src="/static_v2/img/editor/help.png"/>
                	</div>
                </td>
                <td>
                	<div class="xui-i-wrap">
                		<span class="xui-i-money" id="product_num"></span><br/>
                		<img class="xui-i-img xui-i-hide"  src="/static_v2/img/editor/help.png"/>
                		<span class="xui-i-name">成交商品</span>
                		<img class="xui-i-img" id="product_num_help" src="/static_v2/img/editor/help.png"/>
                	</div>
                </td>
                <td>
                	<div class="xui-i-wrap">
                		<span class="xui-i-money" id="discount_amount"></span><br/>
                		<img class="xui-i-img xui-i-hide"  src="/static_v2/img/editor/help.png"/>
                		<span class="xui-i-name">优惠抵扣</span>
                		<img class="xui-i-img" id="discount_amount_help" src="/static_v2/img/editor/help.png"/>
                	</div>
                </td>
            </tr>

            <tr>
                <td>
                	<div class="xui-i-wrap">
                		<span class="xui-i-money" id="postage_amount"></span><br/>
                		<img class="xui-i-img xui-i-hide"  src="/static_v2/img/editor/help.png"/>
                		<span class="xui-i-name">总运费</span>
                		<img class="xui-i-img" id="postage_amount_help" src="/static_v2/img/editor/help.png"/>
                	</div>
                </td>
                <td>
                	<div class="xui-i-wrap">
                		<span class="xui-i-money" id="online_paid_amount"></span><br/>
                		<img class="xui-i-img xui-i-hide"  src="/static_v2/img/editor/help.png"/>
                		<span class="xui-i-name">在线支付金额</span>
                		<img class="xui-i-img" id="online_paid_amount_help" src="/static_v2/img/editor/help.png"/>
                	</div>
                </td>
                <td>
                	<div class="xui-i-wrap">
                		<span class="xui-i-money" id="cod_amount"></span><br/>
                		<img class="xui-i-img xui-i-hide"  src="/static_v2/img/editor/help.png"/>
                		<span class="xui-i-name">货到付款金额</span>
                		<img class="xui-i-img" id="cod_amount_help" src="/static_v2/img/editor/help.png"/>
                	</div>
                </td>
                <td>
                	<div class="xui-i-wrap">
                		<span class="xui-i-money" id="online_order_num"></span><br/>
                		<img class="xui-i-img xui-i-hide"  src="/static_v2/img/editor/help.png"/>
                		<span class="xui-i-name">在线支付订单</span>
                		<img class="xui-i-img" id="online_order_num_help" src="/static_v2/img/editor/help.png"/>
                	</div>
                </td>
                <td>
                	<div class="xui-i-wrap">
                		<span class="xui-i-money" id="cod_order_num"></span><br/>
                		<img class="xui-i-img xui-i-hide"  src="/static_v2/img/editor/help.png"/>
                		<span class="xui-i-name">货到付款订单</span>
                		<img class="xui-i-img" id="cod_order_num_help" src="/static_v2/img/editor/help.png"/>
                	</div>
                </td>
            </tr>
        </table>
        <div class="xui-charWrap">
        	<div class="xui-i-title">
        		<div class="xui-i-block"></div>
        		<span class="ml5">订单趋势</span>
        	</div>
            <div class="xui-i-chart pl20 pt10" id="order_trend_stats" style="height:300px;"></div>
        </div>  
        <div class="xui-charWrap">
        	<div class="xui-i-title">
        		<div class="xui-i-block"></div>
        		<span class="ml5">复购率</span>
        	</div>
            <div class="xui-i-chart pl20 pt10" id="repeated_ratio_stats" style="height:300px;"></div>
        </div> 
        <div class="xui-charWrap">
        	<div class="xui-i-title">
        		<div class="xui-i-block"></div>
        		<span class="ml5">买家来源</span>
        	</div>
            <div class="xui-i-chart pl20 pt10" id="buyer_source_stats" style="height:300px;"></div>
        </div> 
        <div class="xui-charWrap">
        	<div class="xui-i-title">
        		<div class="xui-i-block"></div>
        		<span class="ml5">支付金额</span>
        	</div>
            <div class="xui-i-chart pl20 pt10" id="payments_stats" style="height:300px;"></div>
        </div> 
        <div class="cb"></div>
        <div class="xui-charWrap">
        	<div class="xui-i-title">
        		<div class="xui-i-block"></div>
        		<span class="ml5">优惠抵扣</span>
        	</div>
            <div class="xui-i-chart pl20 pt10" id="discount_stats" style="height:380px;width:1000px"></div>
        </div> 
    </div>
     <div class="cb"></div>
</div>
{% endblock %} {% block js %} {% verbatim %} {% endverbatim %}

<script type="text/javascript">
	var stats_data = null;
	$(document).ready(function() {
		var view = new W.view.stats.OrderSummaryFilterView({
			el : '#stats-order-summary-filter-view'
		});
		view.render();
		
		stats_data = W.loadJSON('stats_data');
		var start_array = stats_data.start_time.split(" ");
		var end_array = stats_data.end_time.split(" ");
		$("#start_date").val(start_array[0]);
		$("#end_date").val(end_array[0]);
		view.updateTimeTags();
		updateStatsData();
	});
	
	function updateStatsData() {
		updateSummaryData();
		updateOrderTrendData();
		updateRepeatedRatioData();
		updateBuyerSourceData();
		updatePaymentsData();
		updateDiscountData();
	}
	
	function getWhere2go(with_time, with_status, params) {
		var result = "/stats/order_list?"
		if(with_time) {
			result += "start_time=" + stats_data.start_time + "&end_time=" + stats_data.end_time + "&";
		}
		
		if(with_status) {
			result +="order_status=iswait_send,isalready_send,isalready_complete&";
		}
		
		if(params) {
			for(var p in params) {
				result += p + "=" + params[p] + "&";
			}
		}
		
		return result;
	}

	function updateOrderTrendData() {
		var order_trend_stats = stats_data.order_trend_stats;
		var formatter_func = function(params, ticket, callback) {
			var res = "<b>" + params.name + "</b><br/>订单量：" + params.value + "<br/>订单量占比：" + params.percent + "%<br/><a href='";
			res = res + getWhere2go(true, false, { order_status : params.data.extra }) + "'>详情>></a>";
			return res;
		}
		option = {
			tooltip : {
				trigger : 'item',
				showDelay : 0,
				hideDelay : 50,
				transitionDuration : 0,
				backgroundColor : 'white',
				borderColor : 'grey',
				// borderRadius : 8,
				borderWidth : 1,
				// padding: 10,    // [5, 10, 15, 20]
				textStyle : {
					color : 'black'
				// decoration: 'none',
				// fontFamily: 'Verdana, sans-serif',
				// fontSize: 15,
				// fontStyle: 'italic',
				// fontWeight: 'bold'
				},
				hideDelay : 200,
				enterable : true,
				formatter : formatter_func
			},
			legend : {
				orient : 'vertical',
				x : 'left',
				data : [ '待发货', '已发货', '已完成' ]
			},
			calculable : true,
			series : [ {
				name : '订单趋势',
				type : 'pie',
				radius : '55%',
				center : [ '50%', '60%' ],
				data : [{
					value : order_trend_stats.not_shipped_num,
					extra : "iswait_send",
					name : '待发货'
				}, {
					value : order_trend_stats.shipped_num,
					extra : 'isalready_send',
					name : '已发货'
				}, {
					value : order_trend_stats.succeeded_num,
					extra : 'isalready_complete',
					name : '已完成'
				}]
			} ]
		};

		var theChart = echarts.init(document
				.getElementById('order_trend_stats'));
		theChart.setOption(option);
	}

	function updateRepeatedRatioData() {
		var total_num = stats_data.order_num;
		var repeated_num = stats_data.repeated_num;
		
		var formatter_func = function(params, ticket, callback) {
			var res = "<b>" + params.name + "</b><br/>订单量：" + params.value + "<br/>订单量占比：" + params.percent + "%<br/><a href='";
			res = res + getWhere2go(true, true, { repeat_buy : params.data.extra }) + "'>详情>></a>";
			return res;
		}
		option = {
				tooltip : {
					trigger : 'item',
					showDelay : 0,
					hideDelay : 50,
					transitionDuration : 0,
					backgroundColor : 'white',
					borderColor : 'grey',	
					// borderRadius : 8,
					borderWidth : 1,
					// padding: 10,    // [5, 10, 15, 20]
					textStyle : {
						color : 'black'
					// decoration: 'none',
					// fontFamily: 'Verdana, sans-serif',
					// fontSize: 15,
					// fontStyle: 'italic',
					// fontWeight: 'bold'
					},
					hideDelay : 200,
					enterable : true,
					formatter : formatter_func
				},
				legend : {
					orient : 'vertical',
					x : 'left',
					data : [ '初次购买', '重复购买' ]
				},
				calculable : true,
				series : [ {
					name : '复购率',
					type : 'pie',
					radius : '55%',
					center : [ '50%', '60%' ],
					data : [ {
						value : total_num - repeated_num,
						extra : 1,
						name : '初次购买'
					}, {
						value : repeated_num,
						extra : 2,
						name : '重复购买'
					} ]
				} ]
			};
		
		var theChart = echarts.init(document
				.getElementById('repeated_ratio_stats'));
		theChart.setOption(option);
	}
	
	function updateBuyerSourceData() {
		var buyer_source_stats = stats_data.buyer_source_stats;
		
		var formatter_func = function(params, ticket, callback) {
			var res = "<b>" + params.name + "</b><br/>订单量：" + params.value + "<br/>订单量占比：" + params.percent + "%<br/><a href='";
			res = res + getWhere2go(true, true, { buyer_source: params.data.extra }) + "'>详情>></a>";
			return res;
		}
		option = {
				tooltip : {
					trigger : 'item',
					showDelay : 0,
					hideDelay : 50,
					transitionDuration : 0,
					backgroundColor : 'white',
					borderColor : 'grey',
					// borderRadius : 8,
					borderWidth : 1,
					// padding: 10,    // [5, 10, 15, 20]
					textStyle : {
						color : 'black'
					// decoration: 'none',
					// fontFamily: 'Verdana, sans-serif',
					// fontSize: 15,
					// fontStyle: 'italic',
					// fontWeight: 'bold'
					},
					hideDelay : 200,
					enterable : true,
					formatter : formatter_func
				},
				legend : {
					orient : 'vertical',
					x : 'left',
					data : [ '直接关注购买', '推广扫码关注购买', '分享链接关注购买', '其他' ]
				},
				calculable : true,
				series : [ {
					name : '买家来源',
					type : 'pie',
					radius : '55%',
					center : [ '50%', '60%' ],
					data : [ {
						value : buyer_source_stats.sub_source_num,
						extra : 0,
						name : '直接关注购买'
					}, {
						value : buyer_source_stats.qrcode_source_num,
						extra : 1,
						name : '推广扫码关注购买'
					}, {
						value : buyer_source_stats.url_source_num,
						extra : 2,
						name : '分享链接关注购买'
					}, {
						value : buyer_source_stats.other_source_num,
						extra : 3,
						name : '其他'
					} ]
				} ]
			};
		
		var theChart = echarts.init(document
				.getElementById('buyer_source_stats'));
		theChart.setOption(option);
	}

	function updatePaymentsData() {
		option = {
				tooltip : {
					trigger : 'item',
					showDelay : 0,
					hideDelay : 50,
					transitionDuration : 0,
					backgroundColor : 'white',
					borderColor : 'grey',
					// borderRadius : 8,
					borderWidth : 1,
					// padding: 10,    // [5, 10, 15, 20]
					textStyle : {
						color : 'black'
					// decoration: 'none',
					// fontFamily: 'Verdana, sans-serif',
					// fontSize: 15,
					// fontStyle: 'italic',
					// fontWeight: 'bold'
					},
					hideDelay : 200,
					enterable : true,
					formatter : "<b>{b}</b> <br/>金额 : {c} <br/>金额占比: {d}%"
				},
				legend : {
					orient : 'vertical',
					x : 'left',
					data : [ '支付宝', '微信支付', '货到付款', '微众卡支付' ]
				},
				calculable : true,
				series : [ {
					name : '支付金额',
					type : 'pie',
					radius : '55%',
					center : [ '50%', '60%' ],
					data : [ {
						value : stats_data.alipay_amount.toFixed(2),
						name : '支付宝'
					}, {
						value : stats_data.weixinpay_amount.toFixed(2),
						name : '微信支付'
					}, {
						value : stats_data.cod_amount.toFixed(2),
						name : '货到付款'
					}, {
						value : stats_data.wezoom_card_amount.toFixed(2),
						name : '微众卡支付'
					} ]
				} ]
			};
		
		var theChart = echarts.init(document
				.getElementById('payments_stats'));
		theChart.setOption(option);
	}

	function updateDiscountData() {
		var discount_stats = stats_data.discount_stats;
		var formatter_func = function(params, ticket, callback) {
			console.log(params)
			var res = '<b>' + params[0].name + '</b>';
			for (var i = 0, l = params.length; i < l; i++) {
				res += '<br/>' + params[i].seriesName + ' : '
						+ params[i].value;
				res += '<br/>订单量占比: ';
				if(discount_stats.discount_order_num > 0) {
					res += (params[i].value / discount_stats.discount_order_num * 100).toFixed(2) + "%";
				} else {
					res += "0%";
				}
				res += '<br/>订单金额: ' + params[i].data.extra[0];
			}
			res = res + "<br/><a href='" + getWhere2go(true, true, { discount_type: params[0].data.extra[1] }) + "'>详情>></a>";

			return res;
		}
		option = {
			tooltip : {
				trigger : 'axis',
				showDelay : 0,
				hideDelay : 50,
				transitionDuration : 0,
				backgroundColor : 'white',
				borderColor : 'grey',
				// borderRadius : 8,
				borderWidth : 1,
				// padding: 10,    // [5, 10, 15, 20]
				textStyle : {
					color : 'black',
					//decoration: 'none',
					//fontFamily: 'Verdana, sans-serif',
					//fontSize: 15,
					//fontStyle: 'italic',
					//fontWeight: 'bold'
				},
				hideDelay : 200,
				enterable : true,
				formatter : formatter_func
			},
			calculable : true,
			xAxis : [ {
				axisLabel : {
					textStyle : {
						fontSize : 16
					}
				},
				type : 'category',
				data : [ '微众卡支付', '积分抵扣', '优惠券', '微众卡+积分', '微众卡+优惠券' ]
				// data : [ '微众卡支付', '积分抵扣', '优惠券', '微众卡+积分', '微众卡+优惠券', '积分+优惠券', '微众卡+积分+优惠券' ]
			} ],
			yAxis : [ {
				type : 'value'
			} ],
			series : [ {
				name : '订单量',
				type : 'bar',
				itemStyle : {
					normal : {
						color : function(params) {
							// build a color map as your need.
							// var colorList = [ '#d87a80', '#2ec7c9', '#b6a2de', '#5ab1ef', '#ffb980', '#66d19b', '#e98fc8' ];
							var colorList = [ '#d87a80', '#2ec7c9', '#b6a2de', '#5ab1ef', '#ffb980' ];
							return colorList[params.dataIndex]
						}
					}
				},
				data : [
						{
							value : discount_stats.wezoom_num,
							extra : [ discount_stats.wezoom_amount.toFixed(2), 'iswzcard_pay' ]
						},
						{
							value : discount_stats.integral_num,
							extra : [ discount_stats.integral_amount.toFixed(2), 'isintegral_deduction' ]
						},
						{
							value : discount_stats.coupon_num,
							extra : [ discount_stats.coupon_amount.toFixed(2), 'isfavorable_coupon' ]
						},
						{
							value : discount_stats.wezoom_integral_num,
							extra : [ discount_stats.wezoom_integral_amount.toFixed(2), 'iswzcard_integral' ]
						},
						{
							value : discount_stats.wezoom_coupon_num,
							extra : [ discount_stats.wezoom_coupon_amount.toFixed(2), 'iswzcard_discountcoupon' ]
						}
						/*,
						{
							value : discount_stats.integral_coupon_num,
							extra : discount_stats.integral_coupon_amount
									.toFixed(2)
						},
						{
							value : discount_stats.wezoom_integral_coupon_num,
							extra : discount_stats.wezoom_integral_coupon_amount
									.toFixed(2)
						} */ ]
			} ]
		};

		var theChart = echarts.init(document.getElementById('discount_stats'));
		theChart.setOption(option);
	}

	function updateSummaryData() {
		$('#order_num').text(stats_data.order_num);
		$('#order_num_help').popover({
			content : "<div class='xui-i-alert'>当前所选时段内该店铺已发货、待发货、已完成的订单数之和</div>",
			trigger : "hover",
			html : true,
			placement : "bottom"
		});

		$('#paid_amount').text("￥" + stats_data.paid_amount.toFixed(2));
		$('#paid_amount_help').popover({
			content : "<div class='xui-i-alert'>当前所选时段内该店铺已支付订单和货到付款提交成功订单的总金额</div>",
			trigger : "hover",
			html : true,
			placement : "bottom"
		});

		var unit_price = 0.0;
		if (stats_data.order_num > 0) {
			unit_price = stats_data.paid_amount / stats_data.order_num;
		}
		$('#unit_price').text("￥" + unit_price.toFixed(2));
		$('#unit_price_help').popover({
			content : "<div class='xui-i-alert'>当前所选时段内平均每个订单的金额</div>",
			trigger : "hover",
			html : true,
			placement : "bottom"
		});

		$('#product_num').text(stats_data.product_num);
		$('#product_num_help').popover({
			content : "<div class='xui-i-alert'>当前所选时段内所有成交订单内商品总件数</div>",
			trigger : "hover",
			html : true,
			placement : "bottom"
		});

		$('#discount_amount').text("￥" + stats_data.discount_amount.toFixed(2));
		$('#discount_amount_help').popover({
			content : "<div class='xui-i-alert'>当前所选时段内成交订单中使用积分或优惠券抵扣的总金额</div>",
			trigger : "hover",
			html : true,
			placement : "bottom"
		});

		$('#postage_amount').text("￥" + stats_data.postage_amount.toFixed(2));
		$('#postage_amount_help').popover({
			content : "<div class='xui-i-alert'>当前所选时段内所有成交订单中总支付的运费金额</div>",
			trigger : "hover",
			html : true,
			placement : "bottom"
		});

		$('#online_paid_amount').text(
				"￥" + stats_data.online_paid_amount.toFixed(2));
		$('#online_paid_amount_help').popover({
			content : "<div class='xui-i-alert'>当前所选时段内除货到付款之外的成交订单金额</div>",
			trigger : "hover",
			html : true,
			placement : "bottom"
		});

		$('#cod_amount').text("￥" + stats_data.cod_amount.toFixed(2));
		$('#cod_amount_help').popover({
			content : "<div class='xui-i-alert'>当前所选时段内使用货到付款方式的订单金额</div>",
			trigger : "hover",
			html : true,
			placement : "bottom"
		});

		$('#online_order_num').text(stats_data.online_order_num);
		$('#online_order_num_help').popover({
			content : "<div class='xui-i-alert'>当前所选时段内除货到付款之外的成交订单数</div>",
			trigger : "hover",
			html : true,
			placement : "bottom"
		});

		$('#cod_order_num').text(stats_data.cod_order_num);
		$('#cod_order_num_help').popover({
			content : "<div class='xui-i-alert'>当前所选时段内使用货到付款方式的订单数</div>",
			trigger : "hover",
			html : true,
			placement : "bottom"
		});
	}
</script>

{% endblock %}
