{% extends "content_base_v2.html" %}
{% load common_tag %}
{% load project_filter %}
{% load account_filter %}

{% block content-panel %}
<div class="xui-stats-orders">
    <div class="relative">
        <ul class="breadcrumb">
            <li>您当前所在位置</li>
            <li><a href="/stats/order_summary/">销售分析</a></li>
            <li class="active">订单明细分析</li>
        </ul>
    </div>

    <div id='stats-order-filter-view'  class="xa-fansFilterView"></div>
    <br>
    <div 
        data-ui-role="advanced-table" 
        data-app="stats" 
        data-resource="order_list"
        data-template-id="#order-list-view"
        data-enable-paginator="true" 
        data-auto-load="false"
        data-enable-sort="false" 
        data-selectable="false" 
        data-disable-header-select="true"
        data-item-count-per-page="20"
        data-outer-selecter=".xa-outerSelectAll"
        class=""
    ></div>

</div>


{% endblock %}

{% block global_elements %}

{% endblock %}

{% block js %}
{% verbatim %}

<script id="order-list-view" type="text/x-jquery-tmpl">
    {{if items!='' }}
    <div class="fb">查询结果共有&nbsp;${data.return_count}&nbsp;个订单 &nbsp;&nbsp;&nbsp;占总订单的&nbsp;${data.percent}</div>
    <table class="table table-bordered xui-surverList xb-stripedTable xb-noTdBorder xb-noBottom xb-noBorder xb-theadBg mb10">
        <thead>
            <tr>
                <th>商品名称</th>
                <th>订单编号</th>
                <th>优惠金额</th>
                <th>运费</th>
                <th>实付金额</th>
                <th>支付方式</th>
                <th>买家</th>
                <th>下单时间</th>
                <th>订单状态</th>                
            </tr>
        </thead>
        {{each(i, order) items}} 
        <tbody>
            <tr>
                <td>
                    
                    {{each(i, product) products}}
                        <div class="disT" style="width:100%;" data-id="${product.id}">
                            <div style="display:table-cell;vertical-align:middle;text-align: center;width:75px">

                            {{if product.thumbnails_url.search('http://weappimg') != -1}}
                            <img class="xui-product-thumbnails" src="${product.thumbnails_url + '!60'}" width="60" height="60"/>
                            {{else}}
                            <img class="xui-product-thumbnails" src="${product.thumbnails_url}" width="60" height="60"/>
                            {{/if}}

                            </div>
                            <div style="width:180px;display:table-cell">
                                <p class="tl">
                                <span class="xa-productName" name="xa-productName">
                                    {{if product.promotion }}
                                        {{if product.promotion.type == "flash_sale"}}【限时抢购】{{/if}}
                                        {{if product.promotion.type == "premium_sale:premium_product"}}【赠品】 {{/if}}
                                    {{/if}}
                                    ${product.name}
                                </span></p>
                                <p class="tl pt10">
                                {{each(p, property) product.custom_model_properties}}
                                    {{if p == (product.custom_model_properties.length - 1)}}
                                        ${property.property_value}
                                    {{else}}
                                        ${property.property_value}&nbsp;/&nbsp;
                                    {{/if}}
                                {{/each}}
                                </p>
                            </div>
                        </div>
                    {{/each}}
                    
                </td>
                <td>
                <a href="/mall2/order/?order_id=${order.id}">${order.order_id}</a>
                </td>
                <td style="width:80px">
                ${order.save_money}
                </td>
                <td style="width:50px">
                ${order.postage}
                </td>
                <td style="width:80px">
                ${order.pay_money}
                </td>
                <td style="width:80px">
                ${order.pay_interface_type}
                </td>
                <td>
				{{if order.member_id > 0}}
                <a href="/member/detail/?id=${order.member_id}">{{html order.buyer_name }}</a>
				{{else}}
				${order.buyer_name}
				{{/if}}
                </td>
                <td>
                ${order.created_at}
                </td>
                <td style="width:80px">
                ${order.order_status}
                </td>
            </tr>
        </tbody>
        {{/each}}
    </table>
    {{else}}
    <div class="fb">查询结果共有&nbsp;0&nbsp;个订单 &nbsp;&nbsp;&nbsp;占总订单&nbsp;0%</div>
    <table class="table table-bordered xui-surverList xb-stripedTable xb-noTdBorder xb-noBottom xb-noBorder xb-theadBg mb10">
        <thead>
            <tr>
                <th>商品名称</th>
                <th>订单编号</th>
                <th>优惠金额</th>
                <th>运费</th>
                <th>实付金额</th>
                <th>支付方式</th>
                <th>买家</th>
                <th>下单时间</th>
                <th>订单状态</th>                
            </tr>
        </thead>
    </table>
        <div class="xui-emptyBox">
            <img src="/static_v2/img/editor/empty.png">
            <span class="ml20">您还没有相关数据！</span>
        </div>
    {{/if}} 
</script>

{% endverbatim %}

<script type="text/javascript">
    $(document).ready(function() {
        var filterBox = new W.view.stats.StatsOrderListFilterView({
            el: "#stats-order-filter-view",
            dataView: $('[data-ui-role="advanced-table"]').data('view'),
        });
        
        params = W.loadJSON('params');
        var start_array = params.start_time.split(" ");
        var end_array = params.end_time.split(" ");
        $('#start_date').val(start_array[0]);
        $('#end_date').val(end_array[0]);

        var order_status = params.order_status;
        var repeat_buy = params.repeat_buy;
        var buyer_source = params.buyer_source;
        var discount_type = params.discount_type;


        if(order_status) {
            var list = order_status.split(",");
            $('.xa-status-checkbox').attr('checked',false);
            for(var i = 0; i < list.length; i++ ) {
            	$("#" + list[i]).attr('checked',true);
            }
        }
        
        if(discount_type) {
        	$('.xa-discount-checkbox').attr('checked',false);
        	$("#" + discount_type).attr('checked', true);
        }

        $('#repeat_buy').val(repeat_buy);
        $('#buyer_source').val(buyer_source);

        filterBox.doSearch();
    });
</script>

{% endblock %}
