{% extends "content_base_v2.html" %}
{% load project_filter %}
{% load account_filter %}

{% block content-panel %}
<div class="xui-wepage-sellpagesPage">
    <div class="relative">
        <ul class="breadcrumb">
            <li>您当前所在位置</li>
            <li><a href="/stats/order_summary/">销售分析</a></li>
            <li class="active">商品概况分析</li>
        </ul>
    </div>

    <div id="stats-date-filter-view" class="xui-filter xui-filterPanel "></div>

    <div
        data-ui-role="product-summary-base-data-advanced-table"
        data-app="stats"
        data-resource="product_summary"
        data-template-id="#product-summary-base-data-view"
        data-enable-paginator="false"
        data-enable-sort="false"
        data-selectable="false"
        data-item-count-per-page="10"
        data-disable-header-select="true"
        data-args='{"start_date":"{{start_date}}", "end_date":"{{end_date}}"}'
    ></div>

    <div class="xui-chart">

    <div class="xui-charWrap">
        <div class="xui-i-title"> <div class="xui-i-block"></div>  <span class="ml5">下单单量排行TOP10</span></div>
        <div class="xui-productEchart" id="productNum" data-ui-role="fansEchart" data-app="stats" data-resource="deal_order_rank_bar_chart" data-wrap-el=".xa-message-tips-wrap"></div>
        <div
            data-ui-role="advanced-table"
            data-app="stats"
            data-resource="deal_order_rank"
            data-template-id="#deal-order-rank-view"
            data-enable-paginator="false"
            data-enable-sort="false"
            data-selectable="false"
            data-item-count-per-page="10"
            data-disable-header-select="true"
            class="panel-body"
            data-args='{"start_date":"{{start_date}}", "end_date":"{{end_date}}"}'
            style="width:338px;float:right;"
        ></div>
    </div>
    <!--
    <div class="xui-charWrap">
        <div class="xui-i-title"> <div class="xui-i-block"></div>  <span class="ml5">商品被分享次数排行榜TOP10</span></div>
        <div class="mt20 ml20" style="float:left;width:610px;height:370px;border:1px solid #ccc;"></div>
        <div
            data-ui-role="advanced-table"
            data-app="stats"
            data-resource="member_share_url_rank"
            data-template-id="#member-share-url-rank-view"
            data-enable-paginator="false"
            data-enable-sort="false"
            data-selectable="false"
            data-item-count-per-page="10"
            data-disable-header-select="true"
            class="panel-body"
            data-args='{"start_date":"{{start_date}}", "end_date":"{{end_date}}"}'
            style="width:338px;float:right;"
        ></div>
    </div>
    -->
    </div>
    <div class="cb"></div>

</div>
{% endblock %}


{% block js %}

{% verbatim %}
<script id="product-summary-base-data-view" type="text/x-jquery-tmpl">
    <table class="xui-summary" >
        <tr>
            <td  class="xui-i-left"><p class="xui-i-title">商品概况</p></td>
            <td>
                <div class="xui-i-wrap">
                    <span class="xui-i-money" id="buy_num">${data.item.buyer_count}</span><br/>
                     <img class="xui-i-img xui-i-hide" src="/static_v2/img/editor/help.png"/>
                    <span class="xui-i-name">购买总人数</span>
                    <img class="xui-i-img" id="buy_num_help" src="/static_v2/img/editor/help.png"/>
                </div>
            </td>
            <td>
                <div class="xui-i-wrap">
                    <span class="xui-i-money" id="order_count">${data.item.order_count}</span><br/>
                     <img class="xui-i-img xui-i-hide" src="/static_v2/img/editor/help.png"/>
                    <span class="xui-i-name">下单单量</span>
                    <img class="xui-i-img" id="order_count_help" src="/static_v2/img/editor/help.png"/>
                </div>
            </td>
            <td>
                <div class="xui-i-wrap">
                    <span class="xui-i-money" id="deal_product_count">${data.item.deal_product_count}</span><br/>
                     <img class="xui-i-img xui-i-hide" src="/static_v2/img/editor/help.png"/>
                    <span class="xui-i-name">成交总件数</span>
                    <img class="xui-i-img" id="deal_product_count_help" src="/static_v2/img/editor/help.png"/>
                </div>
            </td>
        </tr>
    </table>
</script>

<script id="deal-order-rank-view" type="text/x-jquery-tmpl">
    <table class="table xb-theadBg xui-gradeTab">
        <thead>
            <tr>
                <th>排名</th>
                <th>商品名称</th>
                <th>次数</th>
            </tr>
        </thead>
        <tbody>
            {{if items.length}}
                {{each(i, item) items}}
                <tr>
                    <td>
                        ${item.rank}
                    </td>
                    <td>
                        <a href="/mall2/product/?id=${item.product_id}" target='_blank'>
                            {{html item.product_name}}
                        </a>
                    </td>
                    <td>
                        ${item.num}
                    </td>
                </tr>
                {{/each}}
            {{else}}
                <tr><td colspan="3"><p style="margin-top:150px;margin-bottom:150px"><img class="xui-i-img xui-i-hide" src="/static_v2/img/editor/warning.png"/><span style="color:#999999;font-size:16px;font-weight:bold;padding-left:10px;">还没有相关数据</span></p></td></tr>
            {{/if}}
        </tbody>
    </table>
</script>
{% endverbatim %}

<script type="text/javascript">
	$(document).ready(function() {
		xlog('in ready');
        var view = new W.view.stats.DateFilterView({
            el : '#stats-date-filter-view'
        });
        view.render();

        stats_data = W.loadJSON('stats_data');
        xlog("in ready()");

        $('#start_date').val('{{start_date}}');
        $('#end_date').val('{{end_date}}');
        view.updateTimeTags();

        $(document).delegate('.xa-date-search','click',function(event) {
            var args = {};
            args.start_date = $('#start_date').val();
            args.end_date = $('#end_date').val();

            //更新基础数据的数据
            $('[data-ui-role="product-summary-base-data-advanced-table"]').data('view').reload(args);

            //更新其他advanced table数据
            $('[data-ui-role="advanced-table"]').each(function(){
                $(this).data('view').reload(args);
            });

            //更新会员增长趋势数据
            $('[data-ui-role="fansEchart"]').data('view').reload(args);
            view.updateTimeTags();
        });
    });

</script>

{% endblock %}
