{% extends "webapp_content_base_v4.html" %}

{% block css %}
<style>
	.wui-masterinfo{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 30px;
        padding: 10px 0;
        font-size: 12px;
        line-height: 30px;
        background-color: white;
        border-top: 1px solid gainsboro;
        opacity: 0.9;
        text-align: center;
    }
</style>
{% endblock %}

{% block content-panel %}
    {{ page_html_content|safe }}
    <div class="wui-masterinfo wa-masterinfo wui-hide">
        <span class="wa-myrange">我的排名: <b>{% if current_member_rank_info %}{{ current_member_rank_info.rank }}{% else %}无{% endif %}</b></span>
        <span class="wa-mypower">我的助力值: <b>{% if current_member_rank_info %}{{ current_member_rank_info.power }}{% else %}0{% endif %}</b></span>
        <span class="wa-totalcount">参与人数: <b>{{ total_participant_count }}</b></span>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    var participances = {% if participances_list %} {{ participances_list }} {% else %}false{% endif %};
    var is_powered = {% if is_powered %}true{% else %}false{% endif %};
    var is_self_page = {% if is_self_page %}true{% else %}false{% endif %};
    var page_owner_name = '{{ page_owner_name }}';
    $(function(){
        //隐藏参与活动按钮
        $('.xa-submitButtonContainer').hide();
        if(W.isPC){
            return false;
        }

        //展示参与统计
        showTop100();

        //检查活动状态,更新参与按钮并绑定事件
        updateBtnStatus();

        //启动倒计时
        renderTime({{ timing }});

        //展示与隐藏我的排名面板
        showMyRank();
    });

    function updateBtnStatus(){
        if('进行中' != W.activityStatus){
            $('.wa-timing').hide();
            if('未开始' == W.activityStatus){
                $('.wa-notready').show();
            }else{
                $('.wa-closed').show();
            }
            return false;
        }
        //如果是自己的主页
        if(is_self_page){
            $('.wa-using').text('立即分享召唤小伙伴').on('click', openGuideMask).show();
        }else{
            var power_other_msg, using_msg;
            if(is_powered){
                power_other_msg = '已帮'+page_owner_name+'助力'
            }else{
                power_other_msg = '帮'+page_owner_name+'助力'
            }
            $('.wa-power').text(power_other_msg).on('click', function(){
                openGuideMask();
            }).show();

            if(W.isAlreadyParticipanted){
                using_msg = '您已参加该活动';
            }else{
                using_msg = '我也要参加';
            }
            $('.wa-using').text(using_msg).on('click', function(){
                openGuideMask();
            }).show();
        }

    }

    function showTop100(){
        if(participances){
            var li_content = '';
            for(var i in participances){
                var p = participances[i];
                li_content += "<li><span>"+(i+1)+"</span><span><img src='"+ p.user_icon+"'>"+ p.username+"</span><span>"+ p.power+"</span>";
            }
            $('.wa-top100').append($(li_content));
        }
    }

    function renderTime(seconds){
        seconds = parseInt(seconds);
        var $s = $('.xa-second');
        var $m = $('.xa-minute');
        var $h = $('.xa-hour');
        var $d = $('.xa-day');
        var timer = window.setInterval(function(){
            if(seconds <= 0){
                window.clearInterval(timer);
                return false;
            }
            var left_seconds = seconds%60;
            var left_minites = seconds/60%60;
            var left_hours = seconds/60/60%24;
            var left_days = seconds/60/60/24;
            $s.text(left_seconds);
            $m.text(left_minites);
            $h.text(left_hours);
            $d.text(left_days);
            seconds--;
        },900);
    }

    function showMyRank(){
        $('body').swipeUp(function(){
            console.log('show my rank....');
            $('.wa-masterinfo').show();
        });
    }

    function openGuideMask(){

    }
</script>
{% endblock %}

