{% extends "card_base.html" %}
{% load common_tag %}
{% load account_filter %}
{% block css %}
	<style type="text/css">
		.card-recharge-dialog-filter{
		    display: inline-block;
		    float: right;
		    margin-top: 12px;
		    margin-right: 20px;
		    font-size: 14px;
		}
		.card-recharge-dialog-title{
		    font-size: 14px;
		    display: inline-block;
		    line-height: 10px;
		    color: rgb(255, 255, 255);
		}
		.card-recharge-dialog-filter a:hover{
		    cursor: pointer;
		    text-decoration: none;
		    color: #FFF;
		}
		.xui-productList tbody tr{
			height: 36px;
		}
		.panel-body{
			margin-bottom: 0px;
			padding-bottom: 0px;
		}
	</style>
{% endblock %}
{% block content-panel %}
	<div class="relative">
	    <ul class="breadcrumb">
	        <li>您当前所在位置</li>
	        <li>
	            <a href="/card/cards/get/">微众卡管理</a>
	        </li>
	        <li><a href="/card/cards/get/">制卡管理</a></li>
			<li class="active">卡充值</li>
	    </ul>
	</div>
	<div>
		<div>
			<div class="panel panel-default mt20 pr card_rule_list" style="min-height: 500px;background-color:#EAEEF6">
				<div class="panel-heading" style="height: 55px"></div>
				<div style="margin-left: 50px;font-size: 14px">卡充值：<a data-toggle="modal" data-target="#cardRecharge" class="cardRecharge cursorPointer">添加卡</a></div>
				<div style="clear:both"></div>
				<div class="recharge_card_list"></div>
			</div>
		</div>
	</div>
	
	<div>
		<div id="cardRecharge" class="modal fade" data-backdrop="static">
			<div class="modal-dialog" style="max-width: 750px;width: auto">
				<div class="modal-content" style="top:80px;">
					<div class="modal-header" style="padding-top:1px;height:50px">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true" style="position:relative;bottom:10px;left:8px;">&times;</span>
						</button>
						<h3 class="card-recharge-dialog-title">微众卡</h3>
						<div class="card-recharge-dialog-filter">
							<span style="color:#FFF">卡号</span><input type="text" style="margin:0px 5px;"/>
							<a class="cards_filter">选取</a>
						</div>
					</div>
					<div class="modal-body tc" style="overflow-y:visible;font-size: 14px;">
						<div 
					        data-ui-role="advanced-table-card-recharge" 
					        data-enable-paginator="true"
					        data-enable-load="true"
					        data-app="card" 
					        data-api="all_cards/get" 
					        data-template-id="#card_all_cards_list_view" 
					        data-init-sort="-created_at" 
					        data-item-count-per-page="15"
					        data-auto-load="true"
					        class="panel-body">
					    </div>
					</div>
					<div class="modal-footer tc" data-list="">
						<button type="button" onclick="inilize();" class="btn btn-success choose-card" data-dismiss="modal">确定</button>
						<button class="btn btn-cancel" data-dismiss="modal" onclick="cancle_select_card()">取消</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}
    {% verbatim %}
        <script id="card_all_cards_list_view" type="text/x-jquery-tmpl">
            <table class="table table-bordered xui-productList xb-stripedTable xb-noTdBorder xb-noBottom xb-noBorder xb-theadBg" style="margin-bottom: 10px;clear:both;">
                <thead>
                    <tr>
						<th>
							卡号
						</th>
						<th>
							状态
						</th>
						<th>余额</th>
						<th>已使用金额</th>
						<th>累计充值金额</th>
						<th>操作</th>
					</tr>
                </thead>

                <tbody>
                    {{each(i, w_card) items}}
                    <tr key=${w_card.id}>
						<td><a class="recharge_card_id">${w_card.weizoom_card_id}</a></td>
						<td>
							{{if w_card.is_expired }}
                                <span style="color:#333">已过期</dl>
                            {{else}}
                                {{if w_card.status == 0}}
                                    <dl style="color:#FF0000;">未使用</dl>
                                {{/if}}
                                {{if w_card.status == 1}}
                                    <dl style="color:#00FF00;">已被使用</dl>
                                {{/if}}
                                {{if w_card.status == 2}}
                                    <dl style="color:#333;">已用完</dl>
                                {{/if}}
                                {{if w_card.status == 3}}
		                        	<dl style="color:#333;">未激活</dl>
		                        {{/if}}
                            {{/if}}
						</td>
						<td>${w_card.money}</td>
						<td>${w_card.used_money}</td>
						<td>${w_card.recharge_money}</td>
						<td class="show-active" data-id=${w_card.id} data-num=${w_card.weizoom_card_id} data-balance=${w_card.money}>
							{{if !w_card.is_expired && w_card.status!=3 }}
								<a style="color:#FFF;" class="btn select_card">选取</a>
							{{else}}

							{{/if}}
						</td>
					</tr>
                    {{/each}}
                </tbody>
            </table>
        </script>
    	<script id="card-recharge-tmpl" type="text/x-handlebars-template">
			<div>
				{{#each card_list}}
					<div class="recharge_card_list_value" data-id={{cardId}} data-balance={{balance}} style="margin-left:102px;font-size:14px;margin-top:20px;">
						<span class="card_num">{{ cardNum }}</span>
						<span style="display:inline-block;margin:0px 10px 0px 40px;">金额</span>
						<input class="card_recharge_money" type="text" style="width:100px;margin-right:10px;"/>元
						<a data-id={{cardId}} style="display:inline-block;marginLeft:20px;cursor:pointer" onClick="card_recharge_delete(this);">删除</a>
					</div>
				{{/each}}
				<div style="margin: 40px 0 40px 102px;">
					<button type="button" class="btn btn-success card_recharge_save" onClick="card_recharge_save();">确定</button>
					<a href="/card/recharge_detail/get/"><button class="btn btn-cancel" style="margin-left: 20px;background:RGBA(242, 216, 216, 0.74);">取消</button></a>
				</div>
			</div>
		</script>
    {% endverbatim %}
    <script type="text/javascript">
    	var card_list = [];
		$('.choose-card').click(function(){
			var template= Handlebars.compile($('#card-recharge-tmpl').html());
			$('.recharge_card_list').html(template({card_list:card_list}));
		});
		$('.cards_filter').click(function(){
			var cardIds = $('.card-recharge-dialog-filter input').val();
			var listView = $('[data-ui-role="advanced-table-card-recharge"]').data('view');
   			listView.searchQuery = '{"cardIds":"'+cardIds+'"}';
   			listView.curPage = 1;
    		listView.load(true);
    		$('.card-recharge-dialog-filter input').val('');
		});
		function inilize(){
			var another_list = card_list;
			$('.modal-footer').attr('data-list', JSON.stringify(another_list));
			var listView = $('[data-ui-role="advanced-table-card-recharge"]').data('view');
			listView.searchQuery = '{"cardIds":"'+0+'"}';
   			listView.curPage = 1;
    		listView.load(true);
		}
		function cancle_select_card(){
			var another_list = $('.modal-footer').attr('data-list');
			card_list = JSON.parse(another_list);
			selected_or_not();
		}
		function card_recharge_delete(that){
			var cardId = $(that).attr('data-id');
			for(index in card_list){
				if (card_list[index].cardId == cardId){
					card_list.splice(index,1);
				}
			}
			selected_or_not();
			var template= Handlebars.compile($('#card-recharge-tmpl').html());
			$('.recharge_card_list').html(template({card_list:card_list}));
		}
		function selected_or_not(){
			($('.select_card')).each(function(){
            	var cardId = $(this).parent().attr('data-id');
            	var choose_card_list = []
            	for(i in card_list){
					choose_card_list.push(card_list[i].cardId);
				}
				if(choose_card_list.indexOf(cardId) == -1){
					$(this).html("选取");
					$(this).css('background-color','#30abf9');
					
				}else{
					$(this).html("已选取");
					$(this).css('background-color','gray');
				}
        	});
		}
		function card_recharge_save(){
			var card_choose = [];
			var pattern = /^-?\d+\.?\d{0,2}$/;
			var is_valida = true;
			$('.recharge_card_list_value').each(function(){
				var card_obj = {};
				var cardId = $(this).attr('data-id');
				var balance = $(this).attr('data-balance');
				var cardNum = $(this).find('.card_num').html();
				var cardRechargeMoney = $(this).find('.card_recharge_money').val();
				if(!pattern.test(cardRechargeMoney)){
					W.showHint("error","金额不能为空且最多保留两位有效数字");
					is_valida = false;
				}
				if(cardRechargeMoney < 0){
					if(Math.abs(cardRechargeMoney) > balance){
						W.showHint("error","充值金额不能超过卡内余额");
						is_valida = false;
					}
				}
				card_obj['cardId'] = cardId;
				card_obj['rechargeMoney'] = cardRechargeMoney;
				card_obj['cardNum'] = cardNum;
				card_choose.push(card_obj);
			});
			if(!is_valida) return;
			W.getApi().call({
	            app: 'card',
	            api: 'card_recharge/save',
	            args: {card_choose:JSON.stringify(card_choose)},
	            method: 'get',
	            success: function(data) {
	                W.getLoadingView().hide();
	                window.location.href = "/card/recharge/get/"
	            },
	            error: function(resp) {
	                W.getLoadingView().hide();
	                W.showHint('error',resp.code == 500 ? resp.errMsg : '微众卡充值失败！');
	            }
	        });
		}
		var CardRecharge = W.view.common.AdvancedTable.extend({
            load: function(from_goto, options) {
                //构造传递给后台api的参数

                var args = {};

                // 解决BUG 002900: 微站-订单管理-创建筛选标签可以创建但是创建好的点击没有效果
                // 去掉注释部分
                _.extend(args, this.args, args);
                if (this.options.args) {
                    _.extend(args, $.parseJSON(this.options.args));
                }
                if (this.frozenArgs) {
                    _.extend(args, this.frozenArgs);
                }
                if (this.extraArgs) {
                    _.extend(args, this.extraArgs);
                }

                if (this.sortAttr) {
                    args['sort_attr'] = this.sortAttr;
                }
                if (this.searchQuery) {
                    args['query_attr'] = this.searchAttr;
                    args['query'] = this.searchQuery;
                }
                if (this.filterAttr) {
                    args['filter_attr'] = this.filterAttr;
                    args['filter_value'] = this.filterValue;
                }

                if (this.itemCountPerPage) {
                    args['count_per_page'] = this.itemCountPerPage;
                    args['page'] = this.curPage;
                    args['enable_paginate'] = 1
                }

                if (this.enableSort) {
                    if (from_goto) {
                        //来自翻页的load，保持排序行为
                    } else {
                        this.enableSort = false;
                    }
                }
                var _this = this;
                //W.getLoadingView().show();
                
                W.getApi().call({
                    app: this.options.app,
                    api: this.options.api,
                    args: args,
                    method: this.options.apiMethod,
                    scope: this,
                    success: function(data) {
                        _this.rawData = data;
                        if (data.items.length == 0) {
                            if (options && options.emptyDataHint) {
                                W.showHint('error', options.emptyDataHint);
                            }
                        }
                        _this.items = new Backbone.Collection(data.items);
                        var $node = $.tmpl(this.template, {
                            items: data.items,
                            can_export_batch_card: data.can_export_batch_card,
                            can_delay_card: data.can_delay_card,
                            data: data,
                            categories: data.categories,
                            'userWebappId': _this.userWebappId
                        });
                        ($node.find('.select_card')).each(function(){
                        	var cardId = $(this).parent().attr('data-id');
                        	var choose_card_list = []
                        	for(i in card_list){
								choose_card_list.push(card_list[i].cardId);
							}
							if(choose_card_list.indexOf(cardId) == -1){
								$(this).html("选取");
								$(this).css('background-color','#30abf9');
								
							}else{
								$(this).html("已选取");
								$(this).css('background-color','gray');
							}
                    	});
                        ($node.find('.select_card')).each(function(){
                        	var cardId = $(this).parent().attr('data-id');
							if($(this).html()=='选取'){
								$(this).toggle(
									function(){
										$(this).html("已选取");
										$(this).css('background-color','gray');
										var cardObj={};
										cardObj['cardId'] = $(this).parent().attr('data-id');
										cardObj['cardNum'] = $(this).parent().attr('data-num');
										cardObj['balance'] = $(this).parent().attr('data-balance');
										card_list.push(cardObj);
									},
									function(){
										$(this).html("选取");
										$(this).css('background-color','#30abf9');
										for(index in card_list){
											if (card_list[index].cardId == cardId){
												card_list.splice(index,1);
											}
										}
									}
								);
							}else{
								$(this).toggle(
									function(){
										$(this).html("选取");
										$(this).css('background-color','#30abf9');
										for(index in card_list){
											if (card_list[index].cardId == cardId){
												card_list.splice(index,1);
											}
										}
									},
									function(){
										$(this).html("已选取");
										$(this).css('background-color','gray');
										var cardObj={};
										cardObj['cardId'] = $(this).parent().attr('data-id');
										cardObj['cardNum'] = $(this).parent().attr('data-num');
										cardObj['balance'] = $(this).parent().attr('data-balance');
										card_list.push(cardObj);
									}
								);
							}
                        });
                        if (this.enableSelect) {
                            if (this.disableHeaderSelect) {
                                $node.find('thead tr').prepend('<th width="30"></th>');
                            } else {
                                $node.find('thead tr').prepend('<th width="30"><input type="checkbox" class="xa-selectAll" /></th>');
                            }
                            if (this.selectableTrSelector) {
                                $node.find('tbody tr').each(function() {
                                    var $tr = $(this);
                                    
                                    if ($tr.hasClass(_this.selectableTrSelector)) {
                                        $tr.prepend('<td width="30"><input type="checkbox" class="xa-select" /></td>');
                                    } else {
                                        $tr.prepend('<td width="30"></td>');
                                    }
                                });
                            } else {
                                $node.find('tbody tr').each(function() {
                                    var $tr = $(this);
                                    $tr.prepend('<td><input type="checkbox" class="xa-select" /></td>');
                                });
                            }
                        }

                        //table不存在
                        xwarn(this.$content);
                        this.$content.html($node);
                        
                        var multilineClass = this.$content.find('#multiline').attr('name');
                        if (multilineClass) {
                            this.$content.find(multilineClass).dotdotdot();
                        }

                        //处理翻页
                        if (this.paginationView) {
                            this.paginationView.setPageInfo(data.pageinfo);
                            if (this.paginationView && data.pageinfo.object_count != 0) {
                                this.paginationView.show();
                            } else {
                                this.paginationView.hide();
                            }
                        }

                        this.afterload();              
                    },
                    error: function(resp) {
                        return false;
                    }
                });
            },
        });

        W.registerUIRole('div[data-ui-role="advanced-table-card-recharge"]', function() {
            xlog("registed advance-table");
            var $div = $(this);
            var app = $div.attr('data-app');
            var api = $div.attr('data-api');
            var resource = $div.attr('data-resource');    
            if (resource) {
                api = resource;
            }

            var apiMethod = $div.attr('data-method') || 'get';
            var args = $div.attr('data-args');
            var template = $div.attr('data-template-id');
            var initSort = $div.attr('data-init-sort');
            var enablePaginator = $div.data('enablePaginator');
            var enableSort = !!($div.attr('data-enable-sort') === 'true');
            var enableSelect = !!($div.attr('data-selectable') === 'true');
            var disableHeaderSelect = !!($div.attr('data-disable-header-select') === 'true');
            var selectableTrSelector = $div.data('selecttableTr');
            //var onlyShowFrontSelect = !!($div.attr('data-only-show-front-select') === 'true');
            var sortApi = $div.attr('data-sort-api');
            var itemCountPerPage = $div.attr('data-item-count-per-page');
            var userWebappId = $div.attr('data-user-webapp-id');
            var outerSelecter = $div.attr('data-outer-selecter');

            var autoLoad = $div.data('autoLoad');
            if (autoLoad !== false) {
                autoLoad = true;
            }

            if (itemCountPerPage) {
                itemCountPerPage = parseInt(itemCountPerPage);
            } else {
                itemCountPerPage = 15;
            }

            var advancedTable = new CardRecharge({
                el: $div[0],
                template: template,
                app: app,
                api: api,
                args: args,
                apiMethod: apiMethod,
                initSort: initSort,
                itemCountPerPage: itemCountPerPage,
                enablePaginator: enablePaginator,
                enableSort: enableSort,
                enableSelect: enableSelect,
                disableHeaderSelect: disableHeaderSelect,
                //onlyShowFrontSelect: onlyShowFrontSelect,
                selectableTrSelector: selectableTrSelector,
                sortApi: sortApi,
                userWebappId: userWebappId,
                autoLoad: autoLoad,
                outerSelecter: outerSelecter
            });
            advancedTable.render();
            $div.data('view', advancedTable);
        });
	</script>
{% endblock %}