{% extends "card_base.html" %}
{% load common_tag %}
{% load account_filter %}
{% block css %}
<style type="text/css">
	.xui-filterPanel .xui-btn-group{
		text-align: right;
	}
	.belong_to_owner_name{
		display:inline-block;
		width:96px;
		float:left;
		marginBottom:5px;
		textAlign:center;
		color: #333;
	}
	.belong_to_owner_div{
		border: 1px solid gray;
		width: 300px;
		/*height: 50px;*/
		position: absolute;
		background-color: #FFF;
		padding: 5px 0px;
		z-index: 9999;
		left: -100px;
	}
</style>
{% endblock %}
{% block content-panel %}
    <div class="relative">
        <ul class="breadcrumb">
            <li>您当前所在位置</li>
            <li>
                <a href="/card/cards/get/">微众卡管理</a>
            </li>
            <li class="active">制卡管理</li>
        </ul>
    </div>

    <!-- 筛选 -->
    <div class="xa-cardFilterView xui-filterPanel"></div>

    <div class="panel-heading" style="position: absolute;left: 720px;;margin-top:24px;z-index:10;" id="u62"> 
        <div className="pa" style="top:-50px;right:15px;">
			<a href="/card/recharge_detail/get/" class="btn btn-primary ml20" style="position: absolute; left: 140px;top:0px;">
            卡充值
        </a>
		</div>
    </div>

<div class="panel panel-default mt20 pr card_rule_list" style="background-color:#EAEEF6">
    <div class="panel-heading" style="height:40px">
    </div>
    <div 
        data-ui-role="advanced-table" 
        data-enable-paginator="true" 
        data-app="card" 
        data-api="recharge_card_list/get" 
        data-template-id="#card_rule_record_list_view" 
        data-init-sort="-created_at" 
        data-item-count-per-page="15"
        data-auto-load="true"
        class="panel-body">
    </div>
</div>
<div class="belong_to_owner" style="display:none;">
	<div class="belong_to_owner_div" style="">
		<span class="belong_to_owner_name" style=""></span>
	</div>
</div>
{% endblock %}


{% block js %}
    {% verbatim %}
        <script id="card_rule_record_list_view" type="text/x-jquery-tmpl">
            <table class="table table-bordered xui-productList xb-stripedTable xb-noTdBorder xb-noBottom xb-noBorder xb-theadBg" style="margin-bottom: 10px;clear:both;">
                <thead>
                    <tr>
						<th>卡号</th>
						<th>余额</th>
						<th>已使用金额</th>
						<th>充值额度</th>
						<th>
							<div>卡属性</div>
							<div>卡类型</div>
						</th>
						<th>专属商家</th>
						<th>充值日期</th>
						<th>备注</th>
					</tr>
                </thead>

                <tbody>
                    {{each(i, recharge) items}}
                    <tr>
						<td>${recharge.card_number}</td>
						<td>${recharge.remainder}</td>
						<td>${recharge.used_money}</td>
						<td>
							{{if recharge.recharge_money>0 }}
								<span style="color:red">${recharge.recharge_money}</span>
							{{else}}
								<span style="color:green">${recharge.recharge_money}</span>
							{{/if}}
						</td>
						<td>
							{{if recharge.is_new_member_special }}
								新会员
							{{/if}}
							{{if recharge.card_attr }}
								专属卡
							{{else}}
								通用卡
							{{/if}}
							<div>${recharge.card_type}</div>
						</td>
						<td>
							<button class="btn btn-primary" style="position: relative;" onBlur="hide_belong_to_owner(this);" onClick="show_belong_to_owner(this,'${recharge.belong_to_owner}');">查看专属商家
								<div class="belong_to_dialog" style="display:none"></div>
							</button>
						</td>
						<td>${recharge.created_at}</td>
						<td>${recharge.remark}</td>
					</tr>
                    {{/each}}
                </tbody>
            </table>
        </script>
    {% endverbatim %}
    <script type="text/javascript">
    	$(document).ready(function() {
            var filterBox = new W.view.card.cards.cardChargeFilter({
                el: ".xa-cardFilterView",
                dataView: $('[data-ui-role="advanced-table"]').data('view'),
                userWebappId: {{user.get_profile.webapp_id}},
            });
        });
        function show_belong_to_owner(that,owner){
        	if(!owner){
        		owner = '暂无商家';
        	}
        	var attr = $(that).children('.belong_to_dialog').attr('style');
        	
        	owner = owner.split(",");
        	console.log(owner);
        	console.log(typeof(owner));
        	$('.belong_to_owner div').html('');
        	for(i in owner){
        		$('.belong_to_owner div').append('<span class="belong_to_owner_name" style="display:inline-block;width:96px;float:left;marginBottom:5px;textAlign:center;color: #333;">'+ owner[i] +'</span>');
        	}
        	$('.belong_to_owner div').append();
        	if(attr && attr.indexOf('none')!=-1){
        		var belong_to_owner_html = $('.belong_to_owner').show();
	        	// belong_to_owner_html.find('.belong_to_owner_name').html(owner);
	        	$(that).children('.belong_to_dialog').html(belong_to_owner_html).show();
        	}else{
	        	$(that).children().hide();
        	}
        }
        function hide_belong_to_owner(that){
        	$(that).children().hide();
        }
    </script>
{% endblock %}
