{% extends "card_base.html" %}
{% load common_tag %}
{% load account_filter %}

{% block content-panel %}

<div class="xui-editProductPage">
    <ul class="breadcrumb">
        <li>您当前所在位置</li>
        <li>
            <a href="/card/cards/get/">微众卡管理</a>
        </li>
        <li>
            <a href="/card/cards/get/">制卡管理</a>
        </li>
        <li>{% if weizoom_card_rule %}{{weizoom_card_rule.name}}{%else%}新建{% endif %}</li>
    </ul>

    <!-- 筛选 -->
    <div class="xa-cardListFilterView xui-filterPanel"></div>

    <div class="panel-heading" style="position: absolute;clear: both;margin-top: 22px;z-index: 10;left: -4px;">
        {% if can_batch_active_card %}
        <a class="btn btn-success xa-batch-active fr mt5 ml10" operate_style="active" href="javascript:void(0)">批量激活</a>
        {% endif %}
        {% if can_batch_stop_card %}
        <a class="btn btn-success xa-batch-inactive fr mt5" operate_style="inactive" href="javascript:void(0)">批量停用</a>
        {% endif %}
    </div>

    <div class=" " style="position: absolute;clear: both;margin-top: 27px;right:0px;z-index: 10;">
        {% if can_add_card %}
        <a id="appendBtn" rule-id="{{weizoom_card_rule.id}}" class="btn btn-primary" href="javascript:void(0)" style="margin:0px">追加</a>
        {% endif %}
        {% if can_export_batch_card %}
        <a id="exportBtn" class="btn btn-primary" href="javascript:void(0)"><i class="icon-plus icon-white"></i>导出表格</a>
        {% endif %}
    </div>

    <form class="form-horizontal xui-mall-addProductForm xa-addProductForm" method="post" id="editForm" style="">

        {% if weizoom_card_rule %}
        <fieldset>
            <div class="panel panel-default mt20 pr" style="background-color:#EAEEF6">
                <div class="panel-heading" style="height:60px">
                </div>

                <div class="xa-listView" 
                    data-ui-role="advanced-table"  
                    data-args='{"weizoom_card_rule_id":"{{weizoom_card_rule.id}}"}' 
                    data-enable-paginator="true" 
                    data-app="card" 
                    data-api="weizoom_cards/get" 
                    data-template-id="#weizoom_card_record_list_view" 
                    data-init-sort="-created_at"  
                    data-item-count-per-page="15"
                    data-outer-selecter=".xa-selectAll"
                    data-selectable="true">
                </div>
            </div>
        </fieldset>
        {% endif %}

    </form>
</div>


{% endblock %}
{% block js %}

    {% verbatim %}
    <script id="weizoom_card_record_list_view" type="text/x-jquery-tmpl">
        <table class="table table-bordered xui-productList xb-stripedTable xb-noTdBorder xb-noBottom xb-noBorder xb-theadBg" style="margin-bottom: 10px;">
        <thead>
            <tr>
                <th>
                    <span class="">
                        卡号
                    </span>
                </th>
                <th>密码</th>
                <th>
                    状态
                </th>
                <th>面值/余额</th>
                <th>已使用金额</th>
                <th>激活时间</th>
                <th>有效期</th>
                <th>备注</th>
                <th>领用人<br>申请部门</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="">
            {{each(i, card) items}}
            <tr tr-id='${card.id}'>
                <td style="width:85px;">
                    <a {{if can_view_card_details}} href="/card/card_num_details/get/?card_id=${card.weizoom_card_id}&IS_CARD_RULE=TRUE"{{else}} href="javascript:void(0);"{{/if}}>${card.weizoom_card_id}</a>
                </td>
                <td>
                    {{if ((card.active_card_user_id == card.user_id) && card.status==0) || ((card.active_card_user_id == card.user_id) && card.is_expired)|| ((card.active_card_user_id == card.user_id) && card.status==2 ) || ((card.active_card_user_id == card.user_id) && card.status==1)}}
                        ${card.password}
                    {{else}}
                        *******
                    {{/if}}
                </td>
                <td class="card_status" td-status="${card.status}">
                    {{if card.is_expired}}
                    <dl>已过期</dl>
                    {{else}}
                        {{if card.status==0}}
                        <dl style="color: #FF0000;">未使用</dl>
                        {{/if}}
                        {{if card.status==1}}
                        <dl style="color: #00FF00;">使用中</dl>
                        {{/if}}
                        {{if card.status==2 }}
                        <dl>己用完</dl>
                        {{/if}}
                        {{if card.status==3}}
                        <dl>未激活</dl>
                        {{/if}}
                    {{/if}}
                </td>
                <td>
                    ${card.total_money}/${card.money}
                </td>
                <td>
                    ${card.used_money}
                </td>
                <td style="min-width: 115px;">
                    ${card.activated_at}
                </td>
                <td style="min-width: 115px;">
                    ${card.valid_time_from}</br>
                    ${card.valid_time_to}
                </td>
                <td style="max-width: 160px;">
                    ${card.remark}
                </td>
                <td style="max-width: 120px;">
                    ${card.activated_to}<br>${card.department}
                </td>
                <td>
                    {{if !card.is_expired}}
                        {{if card.status==3}}
                            {{if can_active_card }}
                                <a class="btn btn-success xa-active" operate_style="active" href="javascript:void(0)">激活</a> 
                            {{/if}}  
                        {{else}}
                        {{if card.status!=2}}
                          {{if can_stop_card }}
                            <a class="btn btn-danger xa-active" operate_style="inactive" href="javascript:void(0)">停用</a>
                          {{/if}} 
                        {{/if}} 
                        {{/if}}
                    {{/if}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
    {% endverbatim %}

<script type="text/javascript">
$(document).ready(function() {
    var filterBox = new W.view.card.cards.cardListFilter({
        el: ".xa-cardListFilterView",
        dataView: $('[data-ui-role="advanced-table"]').data('view'),
        userWebappId: {{user.get_profile.webapp_id}},
        status:'',
    });
     $('#exportBtn').click(function(event) {
        var card_num_min = $('#card_num_min').val().trim();
        console.log(card_num_min,'ffffffffffff')
        var card_num_max = $('#card_num_max').val().trim();
        console.log(card_num_min,'ffffffffffff')
        var url = '/card/weizoom_cards/export/?card_id='+{{weizoom_card_rule.id}};
        if (filterBox.filter_value) {
            url = url + '&filter_value='+filterBox.filter_value;
        }
        if(card_num_min){
            url=url+'&card_num_min='+card_num_min;
        }
        if(card_num_max){
            url=url+'&card_num_max='+card_num_max;
        }
        console.log(url,22222222)
        window.open(url);
    });
});
</script>

<script>
    var deleteView2 = W.view.common.ConfirmView.extend({
        events:{
            'click .xa-confirm': 'submit',
            'click .xa-cancel2': 'close'
        },
        getTemplate: function() {
            var template ='<dl class="itemDeleteView2 wui-confirmView" style="margin: 10px 16px 5px 6px;">'
                    +'<div class="activated_to" style="margin-left: 4px;">'
                    +'<label for="activated_to" class="star_show">申&nbsp;&nbsp;请&nbsp;&nbsp;人</label>'
                    +'<input type="text" id="activated_to" style="width: 100px;margin-left: 7px;">'
                    +'</div>'
                    +'<div class="department" style="margin-left: 4px;">'
                    +'<label for="department" class="star_show">申请部门</label>'
                    +'<input type="text" id="department" style="width: 100px;margin-left: 6px;">'
                    +'</div>'
                    +'<div class="card_remark" style="margin-left: 4px;">'
                    +'<label for="card_remark" class="star_show" style="vertical-align: top;">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注</label>'
                    +'<textarea type="text" id="card_remark" style="height: 52px;width:164px;margin-left: 5px;"></textarea>'
                    +'</div>'
                    +'<button type="button" class="xa-confirm btn btn-success" style="background-color:#207CBE;margin: 8px 47px;width:60px;">确定</button> '
                    +'<button type="button" class="xa-cancel2 btn" style="background-color:#207CBE; color:#FFF;margin: 0px -44px;width:60px;">取消</button>'
                    +'</dl>';
            return _.template(template);
        }
    });
    W.requireConfirm2 = function(options) {
    //防止和父级view冲突
        var parent_view = W.registry['common-popup-confirm-view'];
        if(parent_view){
            parent_view.hide();
            W.isRequireConfirmViewDisplayed = false;
        }
    //获得view
        var view = W.registry['common-popup-confirm-view2'];
        if (!view) {
            xlog('create PopupConfirmView2');
            view = new deleteView2(options);
            W.registry['common-popup-confirm-view2'] = view;
        }
        if (options.confirm) {
            view.bind(view.SUBMIT_EVENT, options.confirm);
        }

        view.show({
            $action: options.$el
        });
    };

    W.finishConfirm2 = function() {
        var view = W.registry['common-popup-confirm-view2'];
        if (view) {
            view.hide();
        }
    };
</script>
<script>
    function buildTimeOptions(max, selected) {
        var i, optionHtml = '', value;
        for(i = 0; i < max; i++) {
            value = i < 10 ? '0'+i : i;
            if (selected==value){
                optionHtml += '<option value="'+value+'" selected>'+value+'</option>';
            }else{
                optionHtml += '<option value="'+value+'">'+value+'</option>';
            }
        }
        return optionHtml;
    }
    var selected = $('.xa_hours').attr('data-value') || '00';
    $('.xa_hours').append(buildTimeOptions(24, selected));
    selected = $('.xa_minute').attr('data-value') || '00';
    $('.xa_minute').append(buildTimeOptions(60, selected));

    $('.xa-listView').delegate('.xa-active', 'click', function(event) {
        var id = $(this).parents('tr').attr('tr-id');
        var operate_style = $(this).attr('operate_style');
        var $el = $(event.currentTarget);
        W.getApi().call({
            app: 'card',
            api: 'card_info/get',
            method: 'post',
            args: {
                card_id: id
            },
            success: function(data) {
                var weizoom_card_info = data.weizoom_card_info;
                $("#card_remark").val(weizoom_card_info.card_remark);
                $("#activated_to").val(weizoom_card_info.activated_to);
                $("#department").val(weizoom_card_info.department);
            },
            error: function(resp) {
                W.showHint('error','失败');
            }
        });
        W.requireConfirm2({
            $el: $el,
            isTitle: false,
            confirm: function(){
                var card_remark = $("#card_remark").val().trim();
                var activated_to =$("#activated_to").val().trim();
                var department = $("#department").val().trim();
                if (activated_to.length<= 0){
                    W.showHint('error','请输入领用人');
                    $('.xa-submit').bottonLoading({status:'hide'});
                    return;
                }
                if (department.length<= 0){
                    W.showHint('error','请输入领用部门');
                    $('.xa-submit').bottonLoading({status:'hide'});
                    return;
                }
                if (card_remark.length<= 0){
                    W.showHint('error','请输入备注');
                    $('.xa-submit').bottonLoading({status:'hide'});
                    return;
                }
                if (activated_to.length>20 || card_remark.length> 20|| department.length>20) {
                    W.showHint('error','该内容最多输入20个字符');
                    $('.xa-submit').bottonLoading({status:'hide'});
                    return;
                }
                W.getApi().call({
                    app: 'card',
                    api: 'status/update',
                    method: 'post',
                    args: {
                        card_id: id,
                        status: '0',
                        card_remark: card_remark,
                        activated_to: activated_to,
                        department: department,
                        operate_style: operate_style
                    },
                    success: function(data) {
                        W.finishConfirm2();
                        $('div[data-ui-role="advanced-table"]').data('view').reload();
                    },
                    error: function(resp) {
                        W.showHint('error','失败');
                    },
                    scope: this
                });
            }
        });
    });
    
    $('.xa-batch-active').click(function(event) {
        var $el = $(event.currentTarget);
        var operate_style= $(this).attr('operate_style');
        var card_ids =[],flag = false;
        $('input[name="xa-select"]:checked').parents('tr').each(function(){
            card_status= $(this).children('.card_status').attr('td-status');
            if(card_status == 3 ){
                card_ids.push($(this).attr('tr-id'));
            }else{
                W.showHint('error','操作失败，您所选的卡号含有使用中或未使用的状态！');
                flag = true;
            }
        });
        if(flag) return;
        if(card_ids.length == 0){
            W.showHint('error','请先选择要激活的微众卡！');
            return;
        }
        $("#card_remark").val("");
        $("#activated_to").val("");
        $("#department").val("");

        W.requireConfirm2({
            $el: $el,
            isTitle: false,
            confirm: function(){
                var card_remark = $("#card_remark").val().trim();
                var activated_to =$("#activated_to").val().trim();
                var department = $("#department").val().trim();
                if (activated_to.length<= 0){
                    W.showHint('error','请输入领用人');
                    $('.xa-submit').bottonLoading({status:'hide'});
                    return;
                }
                if (department.length<= 0){
                    W.showHint('error','请输入领用部门');
                    $('.xa-submit').bottonLoading({status:'hide'});
                    return;
                }
                if (card_remark.length<= 0){
                    W.showHint('error','请输入备注');
                    $('.xa-submit').bottonLoading({status:'hide'});
                    return;
                }
                if (activated_to.length>20 || card_remark.length> 20) {
                    W.showHint('error','该内容最多输入20个字符');
                    $('.xa-submit').bottonLoading({status:'hide'});
                    return;
                }
                W.getApi().call({
                    app: 'card',
                    api: 'batch_status/update',
                    method: 'post',
                    args: {
                        card_id: card_ids.toString(),
                        status: '0',
                        card_remark: card_remark,
                        activated_to: activated_to,
                        department: department
                    },
                    success: function(data) {
                        W.finishConfirm2();
                        $('div[data-ui-role="advanced-table"]').data('view').reload();
                    },
                    error: function(resp) {
                        if(resp.code == 500){
                            W.showHint('error',resp.errMsg);
                        }else{
                            W.showHint('error','批量激活失败');
                        }
                    },
                    scope: this
                });
            }
        });
    });

    $('.xa-batch-inactive').click(function(event) {
        var $el = $(event.currentTarget);
        var card_ids =[],flag = false;

        $('input[name="xa-select"]:checked').parents('tr').each(function(){
            card_status= $(this).children('.card_status').attr('td-status');
            if(card_status != 3 ){
                card_ids.push($(this).attr('tr-id'));
            }else{
                W.showHint('error','操作失败，您所选的卡号已包含未激活的状态！');
                flag = true;
            }
        });
        if(flag) return;
        if(card_ids.length == 0){
            W.showHint('error','请先选择要停用的微众卡！');
            return;
        }
        $("#card_remark").val("");
        $("#activated_to").val("");
        W.requireConfirm2({
            $el: $el,
            msg : '确定停用么?',
            isTitle: false,
            confirm: function(){
                var card_remark = $("#card_remark").val().trim();
                var activated_to =$("#activated_to").val().trim();
                var department =$("#department").val().trim();
                if (activated_to.length<= 0){
                    W.showHint('error','请输入领用人');
                    $('.xa-submit').bottonLoading({status:'hide'});
                    return;
                }
                if (department.length<= 0){
                    W.showHint('error','请输入领用部门');
                    $('.xa-submit').bottonLoading({status:'hide'});
                    return;
                }
                if (card_remark.length<= 0){
                    W.showHint('error','请输入备注');
                    $('.xa-submit').bottonLoading({status:'hide'});
                    return;
                }
                if (activated_to.length>20 || card_remark.length> 20) {
                    W.showHint('error','该内容最多输入20个字符');
                    $('.xa-submit').bottonLoading({status:'hide'});
                    return;
                }
                W.getApi().call({
                    app: 'card',
                    api: 'onbatch_status/update',
                    method: 'post',
                    args: {
                        card_id: card_ids.toString(),
                        card_remark: card_remark,
                        activated_to: activated_to,
                        department: department,
                        status: '3'
                    },
                    success: function(data) {
                        W.finishConfirm2();
                        $('div[data-ui-role="advanced-table"]').data('view').reload();
                    },
                    error: function(resp) {
                        if(resp.code == 500){
                            W.showHint('error',resp.errMsg);
                        }else{
                            W.showHint('error','批量停用失败');
                        }
                    },
                    scope: this
                }); 
            }
        });
    });

    $('.xa-listView').delegate('.xa-inactive', 'click', function(event) {
        var id = $(this).parents('tr').attr('tr-id');
        var $el = $(event.currentTarget);

        W.requireConfirm2({
            $el: $el,
            msg : '确定停用么?',
            isTitle: false,
            confirm: function(){
                W.getApi().call({
                    app: 'card',
                    api: 'status/update',
                    method: 'post',
                    args: {
                        card_id: id,
                        status: '3'
                    },
                    success: function(data) {
                        W.finishConfirm();
                        $('div[data-ui-role="advanced-table"]').data('view').reload();
                    },
                    error: function(resp) {
                        W.showHint('error','失败');
                    },
                    scope: this
                }); 
            }
        });
    });

    $('#appendBtn').click(function(event) {
        W.dialog.showDialog('W.weapp.dialog.AppendWeizoomCardDialog', {
            success: function(data) {
                W.getLoadingView().show();
                W.getApi().call({
                    app: 'card',
                    api: 'weizoom_cards/append',
                    method: 'post',
                    args: data,
                    success: function(data) {
                        $('[name="number"]').val(data.count);
                        $('div[data-ui-role="advanced-table"]').data('view').reload();
                    },
                    error: function(resp) {
                        W.showHint('error','追加微众卡失败！');
                    }
                })
            }
        })
    });


  var CardRule = W.view.common.AdvancedTable.extend({
    load: function(from_goto, options) {
        //构造传递给后台api的参数
        var args = {};
        // 解决BUG 002900: 微站-订单管理-创建筛选标签可以创建但是创建好的点击没有效果
        // 去掉注释部分
        _.extend(args, this.args, args);
        if (this.options.args) {
            _.extend(args, $.parseJSON(this.options.args));
        }
        if (this.frozenArgs) {
            _.extend(args, this.frozenArgs);
        }
        if (this.extraArgs) {
            _.extend(args, this.extraArgs);
        }

        if (this.sortAttr) {
            args['sort_attr'] = this.sortAttr;
        }
        if (this.searchQuery) {
            args['query_attr'] = this.searchAttr;
            args['query'] = this.searchQuery;
        }
        if (this.filterAttr) {
            args['filter_attr'] = this.filterAttr;
            args['filter_value'] = this.filterValue;
        }

        if (this.itemCountPerPage) {
            args['count_per_page'] = this.itemCountPerPage;
            args['page'] = this.curPage;
            args['enable_paginate'] = 1
        }

        if (this.enableSort) {
            if (from_goto) {
                //来自翻页的load，保持排序行为
            } else {
                this.enableSort = false;
            }
        }
        var _this = this;

        //W.getLoadingView().show();
        W.getApi().call({
            app: this.options.app,
            api: this.options.api,
            args: args,
            method: this.options.apiMethod,
            scope: this,
            success: function(data) {
                _this.rawData = data;
                if (data.items.length == 0) {
                    if (options && options.emptyDataHint) {
                        W.showHint('error', options.emptyDataHint);
                    }
                }
                _this.items = new Backbone.Collection(data.items);
                var $node = $.tmpl(this.template, {
                    items: data.items,
                    data: data,
                    can_active_card: data.can_active_card,
                    can_stop_card: data.can_stop_card,
                    can_view_card_details:data.can_view_card_details,
                    categories: data.categories,
                    'userWebappId': _this.userWebappId
                });
                xwarn('====== advance table =====');
                xwarn($node.html());
                if (this.enableSelect) {
                    if (this.disableHeaderSelect) {
                        $node.find('thead tr').prepend('<th width="30"></th>');
                    } else {
                        $node.find('thead tr').prepend('<th width="30"><input type="checkbox" class="xa-selectAll" /></th>');
                    }
                    if (this.selectableTrSelector) {
                        $node.find('tbody tr').each(function() {
                            var $tr = $(this);
                            
                            if ($tr.hasClass(_this.selectableTrSelector)) {
                                $tr.prepend('<td width="30"><input type="checkbox" class="xa-select" name="xa-select" /></td>');
                            } else {
                                $tr.prepend('<td width="30"></td>');
                            }
                        });
                    } else {
                        $node.find('tbody tr').each(function(index) {
                            var card = data.items[index]['status'];
                            var $tr = $(this);
                            if (card['is_expired'] && card['status']!=2 || card['status']==2){
                                $tr.prepend('<td><input type="checkbox" class="xa-select" value="1" name="xa-select"  disabled/></td>');
                            }else{
                                $tr.prepend('<td><input type="checkbox" class="xa-select" value="1" name="xa-select" /></td>');
                            }
                        });
                    }
                }

                //table不存在
                xwarn(this.$content);
                this.$content.html($node);
        
                var multilineClass = this.$content.find('#multiline').attr('name');
                if (multilineClass) {
                  this.$content.find(multilineClass).dotdotdot();
                }

                //初始化searchable header
                this.$content.find('.tx_searchable').css('cursor', 'pointer').append(' <i class="icon-search"></i>').popover({
                    placement: 'bottom',
                    title: '输入搜索文本',
                    html: true,
                    trigger: 'manual',
                    content: '<input type="text" class="input-medium inline" />&nbsp;<button class="btn btn-success tx_searchable_confirm_btn mb10">确定</button>'
                });

                //初始化sortable header
                this.$content.find('.tx_sortable').css('cursor', 'pointer').append(' <i class="hide icon-arrow-up"></i>');
                //显示当前已排序column的排序指示图标
                var sortedDirection = 'up';
                var sortedAttr = data.sortAttr;
                if (sortedAttr && sortedAttr[0] === '-') {
                    sortedDirection = 'down';
                    sortedAttr = sortedAttr.substring(1);
                }

                var selector = '[data-sort-attr="' + sortedAttr + '"]';
                var $th = this.$content.find(selector);
                if ($th.length > 0) {
                    $th.attr('data-sort-direction', sortedDirection);
                    var newIconClass = 'icon-arrow-' + sortedDirection;
                    $th.find('i').removeClass('icon-arrow-up').addClass(newIconClass).removeClass('hide');
                }

                //初始化filterable header
                var $filterables = this.$content.find('.tx_filterable');
                $filterables.css('cursor', 'pointer').find('.dropdown-toggle').append(' <i class="icon-chevron-down"></i>');
                //添加搜索框
                var onInputKeyUpHandler = function(event) {
                    var $input = $(event.target);
                    var $li = $(event.currentTarget)
                    var text = $.trim($input.val());
                    if (text === "") {
                        $li.nextAll('li').show();
                    } else {
                        $li.next('li').nextAll('li').hide().each(function() {
                            var $el = $(this);
                            var linkText = $el.text();
                            if (linkText.indexOf(text) !== -1) {
                                //如果链接文本中存在待搜索的字符串，显示该li
                                $el.show();

                            }
                        });
                    }
                }
                $filterables.each(function() {
                    var $filterable = $(this);
                    var $li = $('<li><input /><i class="icon-search"></i></li>');
                    $li.on('click.dropdown.data-api', function(event) {
                        return false;
                    });
                    var $input = $li.find('input');
                    $li.keyup(onInputKeyUpHandler);
                    $filterable.find('.dropdown-menu').css('margin-top', '8px').find('li:first').before($li);
                });

                $filterables.find('.dropdown-toggle').dropdown();

                //处理排序
                //处理翻页
                if (this.paginationView) {
                    this.paginationView.setPageInfo(data.pageinfo);
                    if (this.paginationView && data.pageinfo.object_count != 0) {
                        this.paginationView.show();
                    } else {
                        this.paginationView.hide();
                    }
                }

                //处理拖动排序
                if (this.enableSort) {
                    this.$el.find('thead tr').append('<th width="100">排序</th>');
                    this.$el.find('tbody tr').append('<td>' + '<a class="xa-inner-sortTrigger" data-direction="up" href="javascript:void(0);" data-toggle="tooltip" title="向上" data-placement="bottom" style="color:#0C9D08;"><i class="icon-arrow-up glyphicon glyphicon-arrow-up"></i></a>' + '<a class="ml20 xa-inner-sortTrigger" data-direction="down" href="javascript:void(0);" data-toggle="tooltip" title="向下" data-placement="bottom"><i class="icon-arrow-down glyphicon glyphicon-arrow-down"></i></a>' + '<a class="" data-direction="top" href="javascript:void(0);" data-toggle="tooltip" title="置顶" data-placement="bottom"><i class=""></i></a>');

                }
                // 扩展advanced_table.load方法
                if($('.card_status:first dl').html()=="已过期"){
                    $('.xa-selectAll').attr('disabled',true);
                }
                this.afterload();               
            },
            error: function(resp) {
                // W.getLoadingView().show();
                // alert('加载分类失败!');
                return false;
            }
        });
    },
  })

W.registerUIRole('div[data-ui-role="advanced-table"]', function() {
    xlog("registed advance-table");
    var $div = $(this);
    var app = $div.attr('data-app');
    var api = $div.attr('data-api');
    var resource = $div.attr('data-resource');    
    if (resource) {
        api = resource;
    }

    var apiMethod = $div.attr('data-method') || 'get';
    var args = $div.attr('data-args');
    var template = $div.attr('data-template-id');
    var initSort = $div.attr('data-init-sort');
    var enablePaginator = $div.data('enablePaginator');
    var enableSort = !!($div.attr('data-enable-sort') === 'true');
    var enableSelect = !!($div.attr('data-selectable') === 'true');
    var disableHeaderSelect = !!($div.attr('data-disable-header-select') === 'true');
    var selectableTrSelector = $div.data('selecttableTr');
    //var onlyShowFrontSelect = !!($div.attr('data-only-show-front-select') === 'true');
    var sortApi = $div.attr('data-sort-api');
    var itemCountPerPage = $div.attr('data-item-count-per-page');
    var userWebappId = $div.attr('data-user-webapp-id');
    var outerSelecter = $div.attr('data-outer-selecter');

    var autoLoad = $div.data('autoLoad');
    if (autoLoad !== false) {
        autoLoad = true;
    }

    if (itemCountPerPage) {
        itemCountPerPage = parseInt(itemCountPerPage);
    } else {
        itemCountPerPage = 15;
    }

    var advancedTable = new CardRule({
        el: $div[0],
        template: template,
        app: app,
        api: api,
        args: args,
        apiMethod: apiMethod,
        initSort: initSort,
        itemCountPerPage: itemCountPerPage,
        enablePaginator: enablePaginator,
        enableSort: enableSort,
        enableSelect: enableSelect,
        disableHeaderSelect: disableHeaderSelect,
        //onlyShowFrontSelect: onlyShowFrontSelect,
        selectableTrSelector: selectableTrSelector,
        sortApi: sortApi,
        userWebappId: userWebappId,
        autoLoad: autoLoad,
        outerSelecter: outerSelecter
    });
    advancedTable.render();

    $div.data('view', advancedTable);
});

    
</script>
{% endblock %}
