{% extends "card_base.html" %}
{% load common_tag %}
{% load account_filter %}

{% block content-panel %}
    <div class="relative">
        <ul class="breadcrumb">
            <li>您当前所在位置</li>
            <li>
                <a href="/card/cards/get/">微众卡管理</a>
            </li>
            <li class="active">制卡管理</li>
        </ul>
    </div>

    <!-- 筛选 -->
    <div class="xa-cardFilterView xui-filterPanel"></div>

    <div class="panel-heading" style="position: absolute;left: 720px;;margin-top:24px;z-index:10;" id="u62">
        <a href="/card/card_create/get/" class="btn btn-success xui-addProductBtn xa-addProduct fr" style="position: absolute;">
            <span style="padding-right:5px;"><img src="/static_v2/img/editor/plusOpcity.png"></span>
            创建新卡
        </a>

        <a href="/card/permissions/get/" class="btn btn-success xui-addProductBtn xa-addProduct fr" style="position: absolute; left: 140px;">
            商户权限管理
        </a>
        <a href="/card/cardmanager/get/" class="btn btn-success fr" style="position: absolute; left: -112px;">
            用户权限管理
        </a>
    </div>

<div class="panel panel-default mt20 pr card_rule_list" style="background-color:#EAEEF6">
    <div class="panel-heading" style="height:40px">
    </div>
    <div 
        data-ui-role="advanced-table-card-rule" 
        data-enable-paginator="true" 
        data-app="card" 
        data-api="cards/get" 
        data-template-id="#card_rule_record_list_view" 
        data-init-sort="-created_at" 
        data-item-count-per-page="15"
        data-auto-load="true"
        class="panel-body">
    </div>
</div>
{% endblock %}


{% block js %}
    {% verbatim %}
        <script id="card_rule_record_list_view" type="text/x-jquery-tmpl">
            <table class="table table-bordered xui-productList xb-stripedTable xb-noTdBorder xb-noBottom xb-noBorder xb-theadBg" style="margin-bottom: 10px;clear:both;">
                <thead>
                    <tr>
                        <th>卡名称</th>
                        <th>面值</th>
                        <th>数量</th>
                        <th>卡类型</th>
                        <th>卡号区间</th>
                        <th>有效期</th>
                        <th>备注</th>
                        <th>操作</th>
                    </tr>
                </thead>

                <tbody>
                    {{each(i, card_rule) items}}
                    <tr>
                        <td style="width:auto">
                            <a href="/card/card_detail/get/?id=${card_rule.id}" >${card_rule.name}</a>
                        </td>
                        <td>${card_rule.money}</td>
                        <td>${card_rule.count}</td>
                        <td>${card_rule.card_type}</td>
                        <td>${card_rule.card_range}</td>
                        <td>${card_rule.valid_time_from}至${card_rule.valid_time_to}</td>
                        <td>${card_rule.remark}</td>
                        <td>
                            <a href="javascript:void(0);" class="exportCard" onclick="export_card_list(${ card_rule.id });">导出全部</a>
                            <a id="appendTime" class="appendTime" rule-id="${card_rule.id}" href="javascript:void(0)">卡延期</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </script>
    {% endverbatim %}
    <script type="text/javascript">
        $(document).ready(function() {
            var filterBox = new W.view.card.cards.cardFilter({
                el: ".xa-cardFilterView",
                dataView: $('[data-ui-role="advanced-table-card-rule"]').data('view'),
                userWebappId: {{user.get_profile.webapp_id}},
                status:''
            });
        });
        function export_card_list(card_id) {
            var url = '/card/weizoom_cards/export/?card_id='+card_id;
            window.open(url);
        }
        var CardRule = W.view.common.AdvancedTable.extend({
            load: function(from_goto, options) {
                //构造传递给后台api的参数
                var args = {};

                // 解决BUG 002900: 微站-订单管理-创建筛选标签可以创建但是创建好的点击没有效果
                // 去掉注释部分
                _.extend(args, this.args, args);
                if (this.options.args) {
                    _.extend(args, $.parseJSON(this.options.args));
                }
                if (this.frozenArgs) {
                    _.extend(args, this.frozenArgs);
                }
                if (this.extraArgs) {
                    _.extend(args, this.extraArgs);
                }

                if (this.sortAttr) {
                    args['sort_attr'] = this.sortAttr;
                }
                if (this.searchQuery) {
                    args['query_attr'] = this.searchAttr;
                    args['query'] = this.searchQuery;
                }
                if (this.filterAttr) {
                    args['filter_attr'] = this.filterAttr;
                    args['filter_value'] = this.filterValue;
                }

                if (this.itemCountPerPage) {
                    args['count_per_page'] = this.itemCountPerPage;
                    args['page'] = this.curPage;
                    args['enable_paginate'] = 1
                }

                if (this.enableSort) {
                    if (from_goto) {
                        //来自翻页的load，保持排序行为
                    } else {
                        this.enableSort = false;
                    }
                }
                var _this = this;
                //W.getLoadingView().show();
                W.getApi().call({
                    app: this.options.app,
                    api: this.options.api,
                    args: args,
                    method: this.options.apiMethod,
                    scope: this,
                    success: function(data) {
                        _this.rawData = data;
                        if (data.items.length == 0) {
                            if (options && options.emptyDataHint) {
                                W.showHint('error', options.emptyDataHint);
                            }
                        }
                        _this.items = new Backbone.Collection(data.items);
                        var $node = $.tmpl(this.template, {
                            items: data.items,
                            data: data,
                            categories: data.categories,
                            'userWebappId': _this.userWebappId
                        });
                        
                        ($node.find('#appendTime')).each(function(){
                            $(this).click(function(event){
                                rule_id = $(this).attr('rule-id');
                                W.dialog.showDialog('W.weapp.dialog.AppendWeizoomCardTimeDialog', {
                                    success: function(data) {
                                        data.rule_id = rule_id
                                        W.getLoadingView().show();
                                        W.getApi().call({
                                            app: 'card',
                                            api: 'card_expired_time/append',
                                            method: 'post',
                                            args: data,
                                            success: function(){
                                                $('div[data-ui-role="advanced-table-card-rule"]').data('view').reload();
                                            },
                                            error: function(resp) {
                                                console.log(resp);
                                                if(resp.code==500){
                                                    W.showHint('error','有效期结束时间不能小于开始时间！');
                                                }else{
                                                    W.showHint('error','卡延期失败！');
                                                }    
                                            }
                                        })
                                    }
                                })
                            })
                        });
                        if (this.enableSelect) {
                            if (this.disableHeaderSelect) {
                                $node.find('thead tr').prepend('<th width="30"></th>');
                            } else {
                                $node.find('thead tr').prepend('<th width="30"><input type="checkbox" class="xa-selectAll" /></th>');
                            }
                            if (this.selectableTrSelector) {
                                $node.find('tbody tr').each(function() {
                                    var $tr = $(this);
                                    
                                    if ($tr.hasClass(_this.selectableTrSelector)) {
                                        $tr.prepend('<td width="30"><input type="checkbox" class="xa-select" /></td>');
                                    } else {
                                        $tr.prepend('<td width="30"></td>');
                                    }
                                });
                            } else {
                                $node.find('tbody tr').each(function() {
                                    var $tr = $(this);
                                    $tr.prepend('<td><input type="checkbox" class="xa-select" /></td>');
                                });
                            }
                        }

                        //table不存在
                        xwarn(this.$content);
                        this.$content.html($node);
                        
                        var multilineClass = this.$content.find('#multiline').attr('name');
                        if (multilineClass) {
                            this.$content.find(multilineClass).dotdotdot();
                        }

                        //处理翻页
                        if (this.paginationView) {
                            this.paginationView.setPageInfo(data.pageinfo);
                            if (this.paginationView && data.pageinfo.object_count != 0) {
                                this.paginationView.show();
                            } else {
                                this.paginationView.hide();
                            }
                        }

                        this.afterload();               
                    },
                    error: function(resp) {
                        // W.getLoadingView().show();
                        // alert('加载分类失败!');
                        return false;
                    }
                });
            },
            // console.log($('.appendTime'));
        });
        $('.card_rule_list').delegate('.exportCard','click',function(e){
            var targ;
            if (e.target) {
                targ = e.target;
            }else if (e.srcElement) {   
                targ = e.srcElement;
            }
        });
        W.registerUIRole('div[data-ui-role="advanced-table-card-rule"]', function() {
            xlog("registed advance-table");
            var $div = $(this);
            var app = $div.attr('data-app');
            var api = $div.attr('data-api');
            var resource = $div.attr('data-resource');    
            if (resource) {
                api = resource;
            }

            var apiMethod = $div.attr('data-method') || 'get';
            var args = $div.attr('data-args');
            var template = $div.attr('data-template-id');
            var initSort = $div.attr('data-init-sort');
            var enablePaginator = $div.data('enablePaginator');
            var enableSort = !!($div.attr('data-enable-sort') === 'true');
            var enableSelect = !!($div.attr('data-selectable') === 'true');
            var disableHeaderSelect = !!($div.attr('data-disable-header-select') === 'true');
            var selectableTrSelector = $div.data('selecttableTr');
            //var onlyShowFrontSelect = !!($div.attr('data-only-show-front-select') === 'true');
            var sortApi = $div.attr('data-sort-api');
            var itemCountPerPage = $div.attr('data-item-count-per-page');
            var userWebappId = $div.attr('data-user-webapp-id');
            var outerSelecter = $div.attr('data-outer-selecter');

            var autoLoad = $div.data('autoLoad');
            if (autoLoad !== false) {
                autoLoad = true;
            }

            if (itemCountPerPage) {
                itemCountPerPage = parseInt(itemCountPerPage);
            } else {
                itemCountPerPage = 15;
            }

            var advancedTable = new CardRule({
                el: $div[0],
                template: template,
                app: app,
                api: api,
                args: args,
                apiMethod: apiMethod,
                initSort: initSort,
                itemCountPerPage: itemCountPerPage,
                enablePaginator: enablePaginator,
                enableSort: enableSort,
                enableSelect: enableSelect,
                disableHeaderSelect: disableHeaderSelect,
                //onlyShowFrontSelect: onlyShowFrontSelect,
                selectableTrSelector: selectableTrSelector,
                sortApi: sortApi,
                userWebappId: userWebappId,
                autoLoad: autoLoad,
                outerSelecter: outerSelecter
            });
            advancedTable.render();

            $div.data('view', advancedTable);
        });
    </script>
{% endblock %}
