{% extends "content_base.html" %}
{% load common_tag %}
{% load account_filter %}

{% block css %}
<style>
	#ui-datepicker-div{
		z-index: 9999 !important;
	}
</style>
{% endblock %}

{% block content-panel %}
<ul class="breadcrumb">
	<li>
		<a href="/market_tools/research/">调研列表</a><span class="divider">/</span>
	</li>
	<li class="active">{% if research.id %}查看{% else %}添加{% endif %}调研</li>
</ul>

<form class="form-horizontal" method="post" id="editForm">
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="parents_name">调研名称：</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="name" name="name" placeholder="输入调研名称" value="{% if research %}{{ research.name }}{% endif %}"  data-validate="required-none" data-validate-name="{{ research.id }}" />
				<div class="errorHint"></div>
			</div>
		</div>
		
		<div class="control-group">
			<label  class="control-label" >详情：</label>
			<div class="controls">
				<textarea class="input-xlarge hide" id="detail" name="detail" data-ui-role="richtext-editor" data-type="full" data-height="200" data-width="500">
					{% if research %}{{ research.detail|format_emotion|safe }}{% endif %}
				</textarea>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="probability">奖项设置：</label>
            <div class="controls" data-ui-role="prize-selector-control" data-coupon-rules='{{coupon_rule_items|safe}}' data-prize-type="{{research.prize_type}}" data-prize-source="{{research.prize_source}}"></div>
		</div>
		
		<div class="control-group">
			<label class="control-label">非会员可参与：</label>
			<div class="controls">
				<label class="checkbox inline">
					<input type="checkbox" name="is_non_member"
					       {% if research.is_non_member or research == None %}checked="checked"{% endif %}>
				</label>
 			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="head_url">用户输入项：</label>
			<div class="controls" id="itemListZone">
          	</div>
		</div>
    </fieldset>

	<fieldset>
		<legend></legend>
		<div class="control-group">
			<div class="controls">
			{% if not research %}
			<p style="color:#C09853;">活动一旦创建将不可修改，请先认真核对确认</p>
			<input type="submit" class="btn btn-success" id="submitBtn" value="&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;" />
			{% else %}
			<div class="market-tools-overlay" style="height:103.68%;"></div>
			{% endif %}			
			</div>
		</div>
	</fieldset>
</form>

{% endblock %}

{% block dialog %}
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function() {
		var $inputs = $('input[type="text"]');
		if ($inputs) {
			$inputs.eq(0).focus();
		}
		
		var data =  {% if research_items %}"{{ research_items }}"{% else %} null {% endif %};
        if (data) {
            data = $.parseJSON('{{ research_items|safe }}');
        }
        var view = new W.view.markettool.ActivityItemListView({
            el: '#itemListZone',
            canEdit: true,
            items : data
        });
        view.render();
        
		//提交
		$('#editForm').submit(function() {
			if (!W.validate()) {
				return false;
			}

			return true;
		});
	});
</script>
{% endblock %}
