{% extends "content_base.html" %}
{% load common_tag %}
{% load account_filter %}

{% block css %}
{% endblock %}

{% block content-panel %}
<ul class="breadcrumb">
	<li><a href="/market_tools/research/">调研列表</a><span class="divider">/</span></li>
	<li class="active">{{ research.name }}的参与者</li>
</ul>

<form class="form-horizontal" method="post" id="editForm">
	<fieldset>
		<div class="control-group">
			<table class="table table-bordered table-condensed">
	            <thead>
	                <tr>
	                <th>头像</th>
	                <th>会员名称</th>
	                <th>收集项目</th>
	                <th>提交时间</th>
	               </tr>
	            </thead> 
	            <tbody>
	               {% for webapp_user in webapp_users %}
	               {% with webapp_user.member as member %}
		            <tr >
						<td style="width: 80px;">
							<div class="imgBox fl m5" style="width: 60px; padding: 5px;">
							<img src="{% if member.user_icon %}{{ member.user_icon }}{% else %}/static/img/user-1.jpg{% endif %}" onerror="this.src='/static/img/user-1.jpg'"/>
							</div>
							
						</td>
						<td style="width: 85px;">
						{% if member %}
						<a href="/member/member_detail/edit/?id={{ member.id }}">
							{{ member.username_for_html|safe }}
						</a>
						{% else%}
							非会员
						{% endif %}
						</td>
						<td>
							{% for item_value in webapp_user.item_values %}
								<div>
								{{ item_value.title }} : 
								{% if item_value.is_image %}
									{% if item_value.user_input_value %}
									<img class="imgBox" src="{{item_value.user_input_value}}" style="max-width: 100px" />
									{% else %}
									无
									{% endif %}
								{% else %}
								{{ item_value.user_input_value }}
								{% endif %}
								</div>
							{% endfor %}
						</td>
						<td>
							{% if webapp_user%}
							{{ webapp_user.join_at|date:'Y-m-d H:i' }}
							{% endif %}
						</td>
					</tr>
					{% endwith %}
	               {% endfor %}
	              </tbody>
	         </table>
	         <div data-ui-role="paginator" data-pageinfo='{{pageinfo|safe}}'></div>
		</div>
    </fieldset>
</form>

{% endblock %}

{% block dialog %}
{% endblock %}

{% block js %}
<script type="text/javascript">
	
</script>
{% endblock %}
