{% extends "content_base.html" %}
{% load common_tag %}
{% load account_filter %}

{% block content-panel %}
<div class="relative">
	<ul class="breadcrumb">
		<li class="active">调研列表</li>
	</ul>
	<span class="breadcrumRightButton">
		<a class="btn btn-primary" href="./research/create/">添加调研<i class="icon-plus icon-white"></i></a>
	</span>
</div>

{% if researches %}
<div>
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th>调研名称</th>
				<th>参与人数</th>
				<th>创建日期</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{% for research in researches %}
			<tr>
				<td width="150" style="word-break:break-all; overflow:auto;">
					<a href="./research/update/{{ research.id }}/">{{ research.name }}</a>
				</td>
				<td>
					<div>
					<a href="./research_info/view/?research_id={{ research.id }}">{{ research.member_count }}</a>
						
					</div>
				</td>
				<td>
					{{ research.created_at|date:'Y-m-d H:i' }}
				</td>
				<td>
					<a class="btn btn-danger wx_delete" href="./research/delete/{{ research.id }}/">删除</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div data-ui-role="paginator" data-pageinfo='{{pageinfo|safe}}'></div>
</div>
{% else %}
	当前还没有调研，请添加调研
{% endif %}
{% endblock %}


{% block js %}
<script type="text/javascript">
</script>
{% endblock %}
