.wui-powerme-container .wui-i-body .wui-i-btngroup .wui-i-btn-using{
    background: #ffae20;
    border-radius: 5px;
    border-bottom: 3px solid #be7900;
}
.wui-powerme-container .wui-i-body{
    background: #e63041;
    padding: 10px 0;
}
.wui-powerme-container .wui-i-timing i{
    background-position: -49px -40px;
}
.wui-powerme-container .wui-i-rules .wui-i-star, .wui-powerme-container .wui-i-states .wui-i-star{
    background-position: 9px -36px;
}
.wui-i-description-content {
    color: #a00211;
}
.wui-powerme-container .wui-i-masterinfo b{
    color: #e63041;
    font-size: 15px;
}
.wui-powerme-container .wui-i-rules b, .wui-powerme-container .wui-i-states b{
    color: #74000b;
}
.wui-i-rules-content {
    color: #fff;
}
.wui-powerme-container .wui-i-line{
    border-bottom: 1px solid #6f2e0e;
}
.wui-powerme-container .wui-i-title-content {
    background: #e63041;
}