{% extends "content_base_v2.html" %}
{% load project_filter %}
{% load account_filter %}

{% block content-panel %}
<div class="xui-wepage-analysisPage">
    <div class="relative">
        <ul class="breadcrumb">
            <li>您当前所在位置</li>
            <li><a href="/stats/manage_summary/">经营报告</a></li>
            <li class="active">经营概况</li>
        </ul>
    </div>

    <div id="stats-date-filter-view" class="xui-filter xui-filterPanel "></div>

    <div class="xui-charWrap" style="border:none">
        <div class="xui-i-title"> <div class="xui-i-block"></div><span class="ml5">店铺经营概况</span></div>
        <div class="xui-ChartBody" >
        <table class="xui-summary mt0">
            <tr class="xui-i-tr">
                {% if is_valid_for_bv %}
                    <td class="xui-i-differ">
                        <div class="xui-i-wrapFirst h80 w100" >
                            <p class=" fl ml10 w140"><img class="fl" src="/static_v2/img/editor/icon_money.png"/><span class="xui-i-value f18 fl ml5">当前微品牌价值</span></p>
                            <div class="cb"></div>
                            <p class="fl ml10 w150 pl10 f24 fn" style="text-align:right;">￥{{ brand_value }}</p>
                        </div>
                        <p class=" fr xui--wrapFirst-money">
                            {% ifequal value_sign 1 %}
                                <img class="" src="/static_v2/img/editor/raise.png"/>
                            {% endifequal %}{% ifequal value_sign -1 %}
                                <img class="" src="/static_v2/img/editor/down.png"/>
                            {% endifequal %}{% ifequal value_sign 0 %}
                            {% endifequal %}
                            <span class="xui-i-value f16 fn">￥{{ bv_diff }}</span>
                        </p>
                    </td>
                {% endif %}
                <td>
                    <div class="xui-i-wrap">
                        <span class="xui-i-money" id="transaction_money">0.00</span><br/>
                        <img class="xui-i-img xui-i-hide" src="/static_v2/img/editor/help.png"/>
                        <span class="xui-i-name">成交金额</span>
                        <img class="xui-i-img" id="transaction_money_help" src="/static_v2/img/editor/help.png"/>
                    </div>
                </td>
                <td>
                    <div class="xui-i-wrap">
                        <span class="xui-i-money" id="transaction_orders">0</span><br/>
                        <img class="xui-i-img xui-i-hide" src="/static_v2/img/editor/help.png"/>
                        <span class="xui-i-name">成交订单</span>
                        <img class="xui-i-img" id="transaction_orders_help" src="/static_v2/img/editor/help.png"/>
                    </div>
                </td>
                <td>
                    <div class="xui-i-wrap">
                        <span class="xui-i-money" id="buyer_count">0</span><br/>
                        <img class="xui-i-img xui-i-hide" src="/static_v2/img/editor/help.png"/>
                        <span class="xui-i-name">购买总人数</span>
                        <img class="xui-i-img" id="buyer_count_help" src="/static_v2/img/editor/help.png"/>
                    </div>
                </td>
                <td>
                    <div class="xui-i-wrap">
                        <span class="xui-i-money" id="vis_price">0</span><br/>
                        <img class="xui-i-img xui-i-hide" src="/static_v2/img/editor/help.png"/>
                        <span class="xui-i-name">客单价</span>
                        <img class="xui-i-img" id="vis_price_help" src="/static_v2/img/editor/help.png"/>
                    </div>
                </td>
            </tr>
        </table>
    </div>
       
    </div>
    

    <div class="hidden">
        <div 
        data-ui-role="manage-summary-base-data-advanced-table"
        data-app="stats"
        data-resource="manage_summary"
        data-template-id="#manage-date-table-view"
        data-enable-paginator="false"
        data-enable-sort="false"
        data-selectable="false"
        data-item-count-per-page="10"
        data-disable-header-select="true"
        data-args='{"start_date":"{{start_date}}", "end_date":"{{end_date}}"}' 
    ></div>
    </div>
    
    <!--<div class="xui-chart"></div>-->

    {% if is_valid_for_bv %}
    <div id="brand-value-container">
    </div>
    {% endif %}

    <div class="xui-charWrap">
        <div class="xui-i-title"> <div class="xui-i-block"></div><span class="ml5">销售额趋势图</span></div>
        <div class="xui-ChartBody" id="visitTrend" data-ui-role="manage-saleroom-echart" data-app="stats" data-api="saleroom_value">
        </div>
    </div>
    <div class="xui-charWrap">
        <div class="xui-i-title"> <div class="xui-i-block"></div><span class="ml5">成交订单趋势图</span></div>
        <div class="xui-ChartBody" id="visitTrend" data-ui-role="manage-ordernum-echart" data-app="stats" data-api="ordernum_value">
        </div>
    </div>
</div>

</div>
{% endblock %}


{% block js %}
{% verbatim %}
<script id="manage-date-table-view" type="text/x-jquery-tmpl">
    
</script>
{% endverbatim %}

<script type="text/javascript">
    $(document).ready(function() {
        var BRAND_VALUE_FREQ = "week";
        
        var view = new W.view.stats.DateFilterView({
            el : '#stats-date-filter-view'
        });
        view.render();

        $('#start_date').val('{{start_date}}');
        $('#end_date').val('{{end_date}}');
        view.updateTimeTags();

        // 点击"查询"触发处理的监听函数
        $(document).delegate('.xa-date-search','click',function(event) {
            var args = {};
            args.start_date = $('#start_date').val();
            args.end_date = $('#end_date').val();
            //更新基础数据的数据
            $('[data-ui-role="manage-summary-base-data-advanced-table"]').data('view').reload(args);

            $('[data-ui-role="manage-ordernum-echart"]').data('view').reload(args);
            $('[data-ui-role="manage-saleroom-echart"]').data('view').reload(args);

            view.updateTimeTags();
        });

        // 第一次页面刷新时显示微品牌价值
        {% if is_valid_for_bv %}
        var brandValueView = new W.view.stats.BrandValueChart({
            el: '#brand-value-container',
            endDate: $('#end_date').val()
        });
        brandValueView.render();
        brandValueView.reload({
            //startDate: $('#start_date').val(),
            endDate: $('#end_date').val(),
            freqType: BRAND_VALUE_FREQ
        });
        {% endif %}

        /*
        W.getApi().call({
            app: 'stats',
            resource: 'brand_value',
            args: {
                "start_date": $('#start_date').val(),
                "end_date": $('#end_date').val(),
                "freq_type": BRAND_VALUE_FREQ
            },
            success: function(data) {
                var echartBrandValue = echarts.init($('#statsBrandValue').get(0));
                echartBrandValue.setOption(data, true);
            }
        });
*/

        $('#repeat_buying_member_rate_help').popover({
            content : "<div class='xui-i-alert'>时间段内，再次购买人数/总购买人数x100%</div>",
            trigger : "hover",
            html : true,
            placement : "bottom"
        });

        $('#member_recommend_rate_help').popover({
            content : "<div class='xui-i-alert'>时间段内，发起推荐会员数/会员总数x100%</div>",
            trigger : "hover",
            html : true,
            placement : "bottom"
        });

     
        $('#repeat_buying_product_rate_help').popover({
            content : "<div class='xui-i-alert'></div>",
            trigger : "hover",
            html : true,
            placement : "bottom"
        });

        $('#product_recommend_rate_help').popover({
            content : "<div class='xui-i-alert'></div>",
            trigger : "hover",
            html : true,
            placement : "bottom"
        });

        $('#transaction_money_help').popover({
            content : "<div class='xui-i-alert'>当前所选时段内该店铺已支付订单和货到付款提交成功订单的总金额</div>",
            trigger : "hover",
            html : true,
            placement : "bottom"
        });

        $('#transaction_orders_help').popover({
            content : "<div class='xui-i-alert'>当前所选时段内该店铺已发货、待发货、已完成的订单数之和</div>",
            trigger : "hover",
            html : true,
            placement : "bottom"
        });

        $('#buyer_count_help').popover({
            content : "<div class='xui-i-alert'>购买商品的总人数</div>",
            trigger : "hover",
            html : true,
            placement : "bottom"
        });

        $('#vis_price_help').popover({
            content : "<div class='xui-i-alert'>当前所选时段内平均每个订单的金额</div>",
            trigger : "hover",
            html : true,
            placement : "bottom"
        });

        $('#ori_qrcode_member_count_help').popover({
            content : "<div class='xui-i-alert'>发起推广扫码的会员数</div>",
            trigger : "hover",
            html : true,
            placement : "bottom"
        });

        $('#member_from_qrcode_count_help').popover({
            content : "<div class='xui-i-alert'>通过扫码新关注的会员数（包括推广扫码、带参数二维码）</div>",
            trigger : "hover",
            html : true,
            placement : "bottom"
        });
        $('#share_url_member_count_help').popover({
            content : "<div class='xui-i-alert'>发起分享链接的会员数</div>",
            trigger : "hover",
            html : true,
            placement : "bottom"
        });
        $('#member_from_share_url_count_help').popover({
            content : "<div class='xui-i-alert'>通过分享链接新关注的会员数</div>",
            trigger : "hover",
            html : true,
            placement : "bottom"
        });

    });
</script>

{% endblock %}
