{% extends "webapp_content_base.html" %}
{% load common_tag %}

{% block css %}
<link rel="stylesheet" href="/markettools_static/weizoom_card/css/wzcoin.css">
<link rel="stylesheet" href="/webapp_static/backend_default_v3/css/default_v3.css">
<style type="text/css">
	body{
		background: -webkit-linear-gradient(top,#fbfbfb,#e1e1e1)!important;
	}
	.xui-detail-wrapper{
		font-size: 0.9rem;
		font-family: "华文细黑";
	}
	.xui-remain{
		margin-bottom: 10px;
	}
	.xui-content{
		background: #f5f5f5;
	}
	.xui-card-details{
		border:1px solid #dedede;
		border-bottom: none;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		width: 94%;
		margin: 0 auto;
		background: #fff;
		margin-top: 10px;
		position: relative;
	}
	.xui-detail-top{
		overflow: hidden;
		padding:10px 10px 0;
	}
	.xui-detail-left{
		float: left;
	}
	.xui-detail-left .xui-valid-time{
		font-family: 'Microsoft Yahei';
		font-size: 0.7rem;
	}
	.xui-detail-right{
		float: right;
	}
	.xui-detail-bottom{
		background: #41a3e1;
		padding: 5px;
		color: #fff;	
		padding-right: 10px;
		padding-left: 10px;
	}
	.xui-remain-money{
		margin-top: 8px;
		color: #ee3715;
	}
	.xui-remain-money span:first-child{
		color: #333;
		vertical-align: text-bottom;
		margin-right: 5px;
		font-family: 'Microsoft Yahei';
		font-size: 1.1rem;
	}
	.xui-check-detail{
		display: block;
		text-align: right;
		padding: 5px;
		margin-bottom: 5px;
		font-size: 1rem;
		color: #52a9e3;
	}
	.xui-invalid-card{
		margin-top: 15px;
	}
	.xui-phone-num{
		font-size: 1rem;
	}
	.xui-invalid-title{
		width: 90%;
		margin:0 auto;
	}
	.xui-invalid-title span{
		font-family: "黑体";
		font-size: 1rem;
	}
	b{
		display: inline-block;
		width: 4px;
		height: 16px;
		background-color: #1aa3f9;
		margin-bottom: -2px;
		margin-right: 2px;
	}
	.xui-invalid-card .xui-detail-bottom{
		background: #c1c2c2;
	}
	.xui-invalid-card .xui-detail-left{
		color:#c1c2c2;
	}
	.xui-invalid-card .xui-card-num{
		color: #c1c2c2;
	}
	.xui-invalid-card .xui-remain-money,.xui-invalid-card .xui-remain-money span:first-child {
		color:#c1c2c2;
	}
    .xui-wrap{
    	background: url("/markettools_static/weizoom_card/img/bg.png") repeat-x bottom;
    }
    .xui-numfont{
    	font-family: "Arial";
    }
    .xui-text{
    	font-size: 1rem;
    }
    .xui-tab{
    	font-size: 0;
    	height: 40px;
    	line-height: 40px;
    }
    .xui-tab > div{
    	display: inline-block;
    	width: 33.333%;
    	font-family: 'Microsoft Yahei';
    	box-sizing: border-box;
    	background-color: #fff;
    }
    .xui-tab-active{
    	font-size: 1.1rem;
    	text-align: center;
    	color: #cf0404;
    	border-bottom: 2px solid #cf0404;
    }
    .xui-tab-normal{
    	font-size: 0.95rem;
    	text-align: center;
       	display: inline-block;
    	width: 33.333%;
    	font-family: 'Microsoft Yahei';
    	box-sizing: border-box;
    	background-color: #fff;
    	color: #000;
    }
    .xui-invalid-seal{
    	background: url("/markettools_static/weizoom_card/img/invalid-logo.png");
    	background-size: cover;
    	width: 62px;
    	height: 62px;
    	position: absolute;
    	right: 5px;
    	bottom: 0;
    }
    @media only screen and (max-width: 320px){
    .xui-tab-normal{
    	font-size: 0.9rem;
    }
    .xui-tab-active{
    	font-size: 1rem;
    }
    .xui-detail-top{
    	padding-right: 0;
    }
}
</style>
{% endblock %}

{% block content-panel %}
<div data-role="page" data-theme="x" class="xui-detail-wrapper">
	<div data-role="content" data-theme="x">
		{% if is_weshop %}
		<div class="xui-notBind">
			<div class="xui-tab">
				<a class="xui-tab-normal" href="./?module=market_tool:weizoom_card&model=weizoom_card_wallet&action=get&workspace_id=market_tool:weizoom_card&webapp_owner_id={{request.webapp_owner_id}}&project_id=0" style="border-right: 1px solid #f5f5f5;">微众卡包</a>
				<div class="xui-tab-active">其他卡包</div>
				<a class="xui-tab-normal" href="./?module=market_tool:weizoom_card&model=weizoom_card_login&action=get&workspace_id=market_tool:weizoom_card&webapp_owner_id={{request.webapp_owner_id}}&project_id=0&is_query=0" style="border-left: 1px solid #f5f5f5;">微众卡余额查询</a>
				
			</div>
		</div>
		{% endif %}
		<div class="xui-content">
			<div class="xui-valid-card">
				{% for item in cards %}
				{% if item.is_expired == 0%}
				<div class="xui-wrap">
					<div class="xui-card-details">
						<div class="xui-detail-top">
							<div class="xui-detail-left">
								<div class="xui-valid-time">有效期:{{item.validate_time_from | slice:"10"}}~{{item.validate_time_to | slice:"10"}}</div>
								<div class="xui-remain-money">
									<span>{{item.name}}</span>
								</div>
							</div>
							<div class="xui-detail-right">
								<a href="http://mall.weizoom.com/mall/product/?woid={{request.webapp_owner_id}}&module=mall&model=product&rid={{item.product_id}}" class="xui-check-detail">查看详情</a>
								<div>
									<span>卡号:</span> 
									<span class="xui-numfont">{{item.card_id}}</span>
								</div>
							</div>
						</div>
						<div class="xui-detail-bottom">
							<span>
								到账时间:
								<span class="xui-numfont">{{item.time | slice:"10"}}</span>
								<span class="fr">
									密码:
									<span class="xui-numfont">{{item.password}}</span>
								</span>
							</span>
						</div>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>

			{% if has_expired_cards %}
			<div class="xui-invalid-card">
				<div class="xui-invalid-title">
					<b></b>
					<span>失效卡：</span>
				</div>
				{% for item in cards %}
				{% if item.is_expired == 1 %}
				<div class="xui-wrap">
					<div class="xui-card-details">
						<div class="xui-detail-top">
							<div class="xui-detail-left">
								<div class="xui-valid-time">有效期:{{item.validate_time_from | slice:"10"}}~{{item.validate_time_to | slice:"10"}}</div>
								<div class="xui-remain-money">
									<span>{{item.name}}</span>
								</div>
							</div>
							<div class="xui-detail-right">
								<a href="http://mall.weizoom.com/mall/product/?woid={{request.webapp_owner_id}}&module=mall&model=product&rid={{item.product_id}}" class="xui-check-detail">查看详情</a>
								<div class="xui-card-num">
									<span>卡号:</span> 
									<span class="xui-numfont">{{item.card_id}}</span>
								</div>
							</div>
						</div>
						<div class="xui-detail-bottom">
							<div class="xui-invalid-seal"></div>
							<span>
								到账时间:
								<span class="xui-numfont">{{item.time | slice:"10"}}</span>
								<span class="fr">
									{% if item.password %}
									密码:
									<span class="xui-numfont">{{item.password}}</span>
									{% endif %}
								</span>
							</span>
						</div>
					</div>
				</div>
				{% endif %}
				{% endfor %}
		    </div>
		    {% endif %}
	    </div>
    </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}