{% extends "content_base.html" %}
{% load common_tag %}
{% load account_filter %}
{% block css %}
<style>
.popover{
	min-width: 252px;
}
</style>
{% endblock %}
{% block content-panel %}
<div class="relative">
	<ul class="breadcrumb">
		<li class="active">微优惠券</li>
	</ul>

	<span class="breadcrumRightButton">
		<!--
		<a id="editCouponConfigBtn" class="btn btn-primary" href="javascript:void(0);"><i class="icon-cog icon-white"></i> 配置</a>
	-->
		<a class="btn btn-primary" href="./coupon_rule/create/"><i class="icon-plus icon-white"></i> 添加微优惠券规则</a>
	</span>
</div>

<div>
	<legend style="display:none;">生成规则</legend>
	<div data-ui-role="advanced-table" data-enable-paginator="true" data-app="market_tools/coupon" data-api="coupon_rule/get" data-template-id="#coupons_list_view" data-enable-sort="false" data-item-count-per-page="15">
	</div>
</div>

<div class="mt10">
	<span style="font-weight: bolder; margin-left: 5px;">优惠券排行榜时间设置:</span>
	<div style="display: inline-block;vertical-align: middle; margin-top: 10px">
		<input 
			type="text" 
			class="input-xlarge" 
			id="start_date" 
			name="start_date" 
			style="width:160px;z-index:9999"
		    placeholder="开始日期" 
		    value="{{coupon_saller_data.start_date|date:'Y-m-d'}}"
		    readonly="readonly" 
		    data-validate="required-none" 
		    data-ui-role="datepicker"
		    data-format="yy-mm-dd" 
		    data-min="2014-06-01" 
		/>
	-
		<input 
			type="text" 
			class="input-xlarge" 
			id="end_date" 
			name="end_date" 
			style="width: 160px;z-index:9999"
		    placeholder="结束日期" 
		    value="{{coupon_saller_data.end_date|date:'Y-m-d'}}"
		    readonly="readonly" 
		    data-validate="required-none" 
		    data-ui-role="datepicker"
		    data-format="yy-mm-dd" 
		    data-min="now" 
		    data-min-el="#start_date" 
		/>
	</div>
	<button class="btn btn-success ua-saveCouponSallerData">保存</button>
</div>

<div style="margin-top: 40px;" class="couponsListView">
	<div style="font-weight: bolder; margin-left: 5px;">已发放微优惠券列表:</div>
	<div data-ui-role="advanced-table" data-enable-paginator="true" data-app="market_tools/coupon" data-api="records/get" data-template-id="#coupon_list_view" data-enable-sort="false" data-item-count-per-page="15">
	</div>
</div>


{% endblock %}

{% block jsTemplate %}
	{% include_raw 'jsTemplate/paginationView.html' %}
	{% verbatim %}
	<script id="coupons_list_view" type="text/x-jquery-tmpl">
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th>微优惠券规则名称</th>
                <th class="tx_sortable" data-sort-attr='valid_days' width="80">有效时间</th>
				<th class="tx_sortable" data-sort-attr='money' width="80">抵扣金额</th>
				<th class="tx_filterable">
					<div class="dropdown">
						<p class="m0 dropdown-toggle" style="font-size: 14px;">使用限制</p>
						<ul class="dropdown-menu">
							<li><a href="javascript:void(0);" data-attr=''>全部</a></li>
							{{each(i, valid) data.valids}}
 								<li><a href="javascript:void(0);" data-attr='valid' data-value='${valid.name}'>
									{{if valid.name != -1}}
									订单满${valid.name}元，可以使用
									{{/if}}
									{{if valid.name == -1}}
									无限制
									{{/if}}
								</a></li>
							{{/each}}
						</ul>
					</div>
				</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{{each(i, coupon_rule) items}}
			<tr data-id="${ coupon_rule.id }">
				<td>
					<a href="./coupon_rule/update/?rule_id=${coupon_rule.id}">${ coupon_rule.name }</a>
				</td>
				<td>
					${ coupon_rule.valid_days }天
				</td>
				<td>
					${ coupon_rule.money }元
				</td>
				<td>
					{{if coupon_rule.valid_restrictions != -1 }}
					订单满${coupon_rule.valid_restrictions}元，可以使用
					{{else}}
					无限制
					{{/if}}
				</td>
				<td>
					<a href="./coupon_rule/delete/?rule_id=${coupon_rule.id}" class="btn btn-danger wx_delete">删除</a>
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	</script>
	<script id="coupon_list_view" type="text/x-jquery-tmpl">
		<table class="table table-bordered table-condensed" style="margin-bottom: 10px;">
		<thead>
			<tr>
				<th>
					{{if data.has_active_coupon }}
					<input type="checkbox" onclick="checkAll(this)"/>
					{{/if}}
				</th>
				<th class="tx_filterable">
					<div class="dropdown">
						<p class="m0 dropdown-toggle" style="font-size: 14px; ">微优惠券</p>
						<ul class="dropdown-menu"style="height:250px;overflow-y:scroll;">
							<li><a href="javascript:void(0);" data-attr='coupon_rule' data-value="-1">全部</a></li>
							{{each(i, role) data.roles}}
 								<li><a href="javascript:void(0);" data-attr='coupon_rule' data-value='${role.id}'> ${role.name}</a></li>
							{{/each}}
						</ul>
					</div>
				</th>
				<th>
					<p class="tx_searchable m0">微优惠券编码</p>
				</th>
				<th class="tx_sortable" data-sort-attr='provided_time'>发放时间</th>
                <th class="tx_sortable" data-sort-attr='expired_time'>过期时间</th>
				<th class="tx_sortable" data-sort-attr='money'>抵扣金额</th>
				<th class="tx_filterable">
					<div class="dropdown">
						<p class="m0 dropdown-toggle" style="font-size: 14px;">使用状态</p>
						<ul class="dropdown-menu">
	                        <li><a href="javascript:void(0);" data-attr='status' data-value="-1">全部</a></li>
							<li><a href="javascript:void(0);" data-attr='status' data-value="0">未使用</a></li>
							<li><a href="javascript:void(0);" data-attr='status' data-value="1">已使用</a></li>
							<li><a href="javascript:void(0);" data-attr='status' data-value="2">已过期</a></li>
							<li><a href="javascript:void(0);" data-attr='status' data-value="3">作废</a></li>
						</ul>
					</div>
				</th>
				<th>使用者</th>
				<th>
					<p class="tx_searchable m0" data-attr="target">
					发放目标
					</p>
				</th>
			</tr>
		</thead>
		<tbody id="couponListTable">
			{{each(i, coupon) items}}
			<tr {{if coupon.status > 1 }}style="color: #AFAFAF;"{{/if}} {{if coupon.status == 1 }}style="color: #0000FF;"{{/if}}>
				<td style="width: 13px;">
					{{if coupon.status == 0 }}
	                <input type="checkbox" data-id="${coupon.id}" />
                    {{/if}}
				</td>
				<td>
					${coupon.rule_name}
				</td>
				<td>
					${coupon.coupon_id}
				</td>
				<td>
					${coupon.provided_time}
				</td>
				<td>
					${coupon.expired_time}
				</td>
				<td>
					${coupon.money}元
				</td>
				<td>
					{{if coupon.status == 0 }}
						未使用
					{{/if}}
					{{if coupon.status == 1 }}
						已使用
					{{/if}}
					{{if coupon.status == 2 }}
						已过期
					{{/if}}
					{{if coupon.status == 3 }}
						作废
					{{/if}}
				</td>
				<td>
					{{if coupon.status == 1 }}
						{{html coupon.consumer.username_for_html}}
					{{/if}}
				</td>
				<td>
					{{if coupon.is_manual_generated }}
					手工
					{{else}}
					<a href="/member/detail/?id=${coupon.member.id}">{{html coupon.member.username_for_html}}</a>
					{{/if}}
				</td>
			</tr>
			{{/each}}
		</tbody>
	</table>
	<div class="clearfix mb30">
		{{if data.has_active_coupon}}
		<span class="fl">
			<button id="discardCouponBtn" class="btn btn-danger mr30">作废</button>
		</span>
		{{/if}}
		<span class="fl">
			<a class="btn btn-danger wx_delete" href="/market_tools/coupon/expired_coupon/delete/">删除作废优惠券</a>
		</span>
	</div>
	</script>
	{% endverbatim %}
{% endblock %}

{% block js %}
<script type="text/javascript">
var checkAll = function(o){
   	$(':checkbox').attr('checked', $(o).is(':checked'));
}
$(document).ready(function() {
	$('.ua-saveCouponSallerData').click(function() {
		if (!W.validate()) {
			W.getErrorHintView().show('请选择时间再保存！');
			return false;
		}
		var start_date = $('input[name=start_date]').val();
		var end_date = $('input[name=end_date]').val();
		W.getApi().call({
			app: 'market_tools/coupon',
			api: 'coupon_saller_data/update',
			args: {
				'start_date': start_date,
				'end_date': end_date
			},
			method: 'post',
			success: function(data) {
				W.getErrorHintView().show('更新优惠券排行榜时间成功！');
			},
			error: function(resp) {
                W.getErrorHintView().show('更新优惠券排行榜时间失败！');
			}
		})
	});
	
	$('#editCouponConfigBtn').click(function() {
		W.dialog.showDialog('W.dialog.mall.EditMallCouponCofnigDialog', {
			success: function(data) {
				W.getLoadingView().hint('更新优惠券配置').show();
				W.getApi().call({
					app: 'market_tools/coupon',
					api: 'coupon_config/update',
					args: data,
					method: 'post',
					success: function(data) {
						W.getLoadingView().hide();
					},
					error: function(resp) {
						W.getLoadingView().hide();
		                W.getErrorHintView().show('更新优惠券配置失败！');
					}
				})
			}
		});
	});
	
	$('.couponsListView').delegate('#discardCouponBtn', 'click', function(event) {
    	//获取选中的coupon的id集合
    	var coupon_ids = [];
    	$('#couponListTable input[type="checkbox"]').each(function() {
    		var $checkbox = $(this);
    		if ($checkbox.is(':checked')) {
    			var couponId = $checkbox.attr('data-id');
    			coupon_ids.push(couponId);
    		}
    	});

    	if (coupon_ids.length == 0) {
    		alert('请选择需要作废的优惠券');
    		return;
    	}

    	//报废选中的coupon
    	W.getLoadingView().show();
    	W.getApi().call({
    		app: 'market_tools/coupon',
    		api: 'coupons/discard',
    		method: 'post',
    		args: {
    			'coupon_ids': coupon_ids.join(',')
    		},
    		success: function(data) {
    			 $('div[data-ui-role="advanced-table"]:last').data('view').reload();
    		},
    		error: function(resp) {
    			W.getLoadingView().hide();
    			W.getErrorHintView().show('保存失败');
    		},
    		scope: this
    	});
    });
});
</script>
{% endblock %}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   