{% extends "content_base.html" %}
{% load common_tag %}
{% load account_filter %}

{% block css %}
{% endblock %}

{% block content-panel %}
<ul class="breadcrumb">
  <li><a href="/market_tools/coupon/">微优惠券</a><span class="divider">/</span></li>
  <li class="active">{% if coupon_rule %}微优惠券信息{% else %}添加微优惠券规则{% endif %}</li>
</ul>
<form class="form-horizontal" method="post" id="editForm">
  <fieldset>
    <div class="control-group">
      <label class="control-label">规则名称：</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="name" name="name" style="width: 350px" placeholder="最长18个字符" value="{% if coupon_rule %}{{ coupon_rule.name }}{% endif %}" data-validate="required-none" maxlength="18" data-validate-max-length="18" />
        <div class="errorHint"></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">抵扣金额：</label>
      <div class="controls x-errorHintContainer">
        <div class="input-append">
          <input type="text" class="input-xlarge" id="money" name="money" style="width: 320px" placeholder="输入抵扣金额（单位：元）" value="{{ coupon_rule.money }}" data-validate="require-price" {% if coupon_rule %}disabled="disabled"{% endif %}/>
          <span class="add-on">元</span>
        </div>
        <div class="errorHint"></div>
      </div>
    </div>
    <div class="control-group">  
      <label class="control-label">有效时间：</label>
      <div class="controls x-errorHintContainer">
        <label class="input">
          优惠券发放后&nbsp;<input type="text" class="input-small" name="valid_days" placeholder="输入有效天数" value="{{ coupon_rule.valid_days }}" data-validate="require-positive-int" {% if coupon_rule %}disabled="disabled"{% endif %} /> 天
        </label>
        <span class="errorHint"></span>
      </div>
    </div>
    <div class="control-group">  
      <label class="control-label star_show">使用限制：</label>
      <div class="controls x-errorHintContainer">
      	 {% if coupon_rule %}
      	 	{% if coupon_rule.valid_restrictions == -1 %}
      	 	<label class="mt5">
      	 		无限制
	        </label>
      	 	{% else %}
      	 	<label class="mt5">
	         	 满<input type="text" class="input-small" name="valid_restrictions" disabled="true" placeholder="输入规则" value="{{ coupon_rule.valid_restrictions }}" /> 元可以使用
	        </label>
      	 	{% endif %}
		 {% else %}
		  <label class="radio w100 inline">
      		<input type="radio" checked name='is_valid_restrictions' value="0">无限制
      	</label>
        <label class="radio w20 inline">
        	<input type="radio" name='is_valid_restrictions' value="1" class="xa-valid-restrictions">
         	 满
        </label>
        <input type="text" class="input-small" name="valid_restrictions" placeholder="输入规则" value="{{ coupon_rule.valid_restrictions }}" /> 元可以使用
        <span class="errorHint"></span>
      	 {% endif %}
      </div>
    </div>
    <div class="control-group mt5 mr5 xa-operateBtns" id="operateBtns">
      <div class="controls ml20 tc">
        {% if coupon_rule %}
          <input type="submit" class="btn btn-success" id="submitBtn" value="保&nbsp;存" />
          <input type="button" class="btn btn-primary xa-slelectButton" data-type="1" value="按会员发优惠券" />
          <input type="button" class="btn btn-primary xa-slelectButton" data-type="2" value="按群组发优惠券" />
          <input type="button" class="btn btn-primary xa-slelectButton" data-type="3" value="按等级发优惠券" />
          <input type="button" class="btn btn-primary" id="manualGenerateBtn" data-type="4" value="手动生成优惠券" />
          <a class="btn btn-danger wx_delete" href="/market_tools/coupon/coupon_rule/delete/?rule_id={{ coupon_rule.id }}">删&nbsp;除</a>
        {% else %}
          <input type="submit" class="btn btn-success" id="submitBtn" value="创&nbsp;建" />
        {% endif %}
      </div>
    </div>
  </fieldset>
</form>
  <fieldset id="manualGenerateCouponConfigZone" class="hide form-horizontal">
    <legend>批量生成配置</legend>
    <div class="control-group">
      <label class="control-label">优惠券数量：</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="manualGenerateCount" name="manualGenerateCount" style="width: 350px" placeholder="" data-validate="require-positive-int" />
        <div class="errorHint"></div>
      </div>
    </div>
    <div class="control-group mt5 mr5 x-actionBtns">
      <div class="controls ml20 tc">
        <input type="button" class="btn btn-success" id="confirmManualGenerateBtn" value="生&nbsp;成" />
        <input type="button" class="btn x-returnBtn" value="返&nbsp;回" />
      </div>
    </div>
  </fieldset>
  <fieldset class="xa-dataListView hidden" data-type="1">
  	<legend>发放优惠券</legend>
  	<div data-ui-role="select-box-for-member-view" data-title="所有会员;己选会员" data-app="market_tools/coupon" data-api="member_list/get">
  	</div>
  	<div class="mt10">
  	发放数量：<input class="w100 xa-validate" type="text"/>&nbsp;每人
  	<div class="errorHint"></div>
  	<div>
	  	<a class="btn xa-submit btn-success" href="javascript: void(0)" data-type="1">为己选会员发放优惠券</a>
	  	<a class="btn xa-returnBtn">返回</a>
  	</div>
  	</div>
  </fieldset>
  <fieldset class="xa-dataListView hidden" data-type="2">
  	<legend>为指定分组发放优惠券</legend>
  	<div data-ui-role="select-box-for-member-view" data-title="所有分组;己选分组" data-app="market_tools/coupon" data-api="member_tag_list/get">
  	</div>
  	<div class="mt10">
  	发放数量：<input class="w100 xa-validate" type="text"/>&nbsp;每人
  	<div class="errorHint"></div>
  	<div>
	  	<a class="btn xa-submit btn-success" href="javascript: void(0)" data-type="2">为己选分组发放优惠券</a>
	  	<a class="btn xa-returnBtn">返回</a>
  	</div>
  	</div>
  </fieldset>
  <fieldset class="xa-dataListView hidden" data-type="3">
  	<legend>为指定等级发放优惠券</legend>
  	<div data-ui-role="select-box-for-member-view" data-title="所有等级;己选等级" data-app="market_tools/coupon" data-api="member_grade_list/get">
  	</div>
  	<div class="mt10">
  	发放数量：<input class="w100 xa-validate" type="text"/>&nbsp;每人
  	<div class="errorHint"></div>
  	<div>
	  	<a class="btn xa-submit btn-success" href="javascript: void(0)" data-type="3">为己选等级发放优惠券</a>
	  	<a class="btn xa-returnBtn">返回</a>
  	</div>
  	</div>
  </fieldset>
  <div id="manualGeneratedCouponsZone" class="hide">
    <legend>优惠券</legend>
    <table class="table table-bordered table-condensed">
      <thead>
        <tr>
          <th>优惠券</th>
          <th>过期时间</th>
          <th>抵扣金额</th>
        </tr>
      </thead>
      <tbody>
        {% for coupon in coupons %}
        <tr data-id="{{ product.id }}">
          <td>
            {{ coupon.coupon_id }}
          </td>
          <td>
            {{ coupon.expired_time }}
          </td>
          <td>
            {{ coupon.money }}元
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="control-group mt5 mr5 x-actionBtns">
      <div class="controls ml20 tc">
        <a class="btn btn-primary" id="exportCouponsBtn" href="javascript:void(0);">
          <i class="icon-download-alt icon-white"></i> 导出EXCEL
        </a>
        <a class="btn x-returnBtn">返回</a>
      </div>
    </div>
  </div>
{% endblock %}

{% block dialog %}
{% endblock %}

{% block jsTemplate %}

{% endblock %}

{% block js %}
<script type="text/javascript">
  var couponRuleId = "{{ coupon_rule.id }}";
  function showCouponList(coupons) {
    var buf = [];
    _.each(coupons, function(coupon) {
      buf.push(
        '<tr>' +
          '<td>' +
            coupon.coupon_id +
          '</td>' +
          '<td>' +
            coupon.expired_time +
          '</td>' +
          '<td>' +
            coupon.money + '元' +
          '</td>' +
        '</tr>'
      );
    });

    $('#manualGeneratedCouponsZone tbody').empty().html(buf.join('\n'));
    $('#operateBtns').hide();
    $('#manualGenerateCouponConfigZone .x-actionBtns').hide();
    $('#manualGeneratedCouponsZone').show();
  }

	$('.xa-slelectButton').click(function(event) {
		var $el = $(event.currentTarget);
		var data_type = $el.attr('data-type') || 1;
		$('.xa-dataListView').addClass('hidden');
		$('.xa-operateBtns').hide(); 
		$('#manualGenerateCount').attr('data-validate', '');
		$('.xa-dataListView[data-type=' + data_type + ']').removeClass('hidden');
		$('.xa-dataListView').find('.xa-validate').attr('data-validate', '');
		$('.xa-dataListView[data-type=' + data_type + ']').find('.xa-validate').attr('data-validate', 'int');
		
	});
	$('.xa-submit').click(function(event) {
		if (!W.validate()) {
			return false;
		}
		var $el = $(event.currentTarget);
		var data_type = $el.attr('data-type') || 1;
		var $right = $('.xa-dataListView[data-type=' + data_type + ']').find('.right-data-list');
		var $check = $right.find("input[name='member_check']");
		var ids = [];
		var $id = $check.each(function() {
			ids.push($(this).attr('value'));
		});
		var idStr = ids.join('_');
		var errorInfo = data_type==1 ? '请选择会员！' : data_type==2 ? '请选择分组！': '请选择等级！';
		if (!idStr) {
			W.getErrorHintView().show(errorInfo);
			return false;
		}
		var count = $el.parents('fieldset:eq(0)').find('.xa-validate').val();
		W.getApi().call({
			method: 'post',
			app: 'market_tools/coupon',
			api: 'coupons/send',
			args: {
				'type': data_type,
				'ids': idStr.trim(),
				'count': count,
				'rule_id': couponRuleId
			},
			success: function() {
				W.getSuccessHintView().show('发放成功！');
				window.location.reload();
			},
			error: function() {
				W.getErrorHintView().show('发放失败！');
			}
		});
	});
	
	$('.xa-returnBtn').click(function() {
		$('.xa-dataListView').find('.xa-validate').attr('data-validate', '');
		$('.xa-dataListView').addClass('hidden');
		$('.xa-operateBtns').show();
	});
	
  $(document).ready(function() {
    var $inputs = $('input[type="text"]');
    if ($inputs) {
      $inputs.eq(0).focus();
    }

    //提交
    $('#editForm').submit(function() {
      if (!W.validate($('form').eq(0))) {
        return false;
      }
      $('#submitBtn').attr('disabled=disabled');
      return true;
    });

    //放弃手工生成，返回
    $('.x-returnBtn').click(function(event) {
      $('#manualGenerateCouponConfigZone').hide();
      $('#manualGenerateCouponConfigZone .x-actionBtns').show();
      $('#manualGeneratedCouponsZone').hide();
      $('.errorHint').text('');
      $('#manualGenerateCount').val('');
      $('#operateBtns').show();
    });

    //手工生成
    $('#manualGenerateBtn').click(function() {
      $('#operateBtns').hide();
      $('#manualGenerateCount').attr('data-validate', 'require-positive-int');
      $('.xa-dataListView').addClass('hidden');
      $('#manualGenerateCouponConfigZone').show();
      $('#manualGenerateCount').focus();
    });

    $('#confirmManualGenerateBtn').click(function(event) {
      var $manualGenerateCountInput = $('#manualGenerateCount')
      if (!W.validate($('#manualGenerateCouponConfigZone'))) {
        $manualGenerateCountInput.focus();
        return;
      }

      var manualGenerateCount = parseInt($manualGenerateCountInput.val());
      
      W.getLoadingView().show();
      W.getApi().call({
        app: 'market_tools/coupon',
        api: 'manual_coupons/create',
        args: {
          count: manualGenerateCount,
          rule_id: couponRuleId
        },
        method: 'post',
        success: function(data) {
          W.getLoadingView().hide();
          showCouponList(data.items);
        },
        error: function(resp) {
          W.getLoadingView().hide();
          W.getErrorHintView().show('创建优惠券失败！');
        }
      });
    });
    $('input[name=is_valid_restrictions]').change(function() {
    	var $el = $(this);
    	if ($el.val()==='1'){
    		$('input[name=valid_restrictions]').attr('data-validate', 'require-positive-int');
    	} else {
    		$('input[name=valid_restrictions]').attr('data-validate', '');
    	}
    });
    var is_checked = $('input.xa-valid-restrictions').attr('checked');
	
    //导出coupon列表
    $('#exportCouponsBtn').click(function(event) {
      var url = '/market_tools/coupon/coupon_rule/export/?rule_id=' + couponRuleId;
      window.open(url);
    });
  });
</script>
{% endblock %}