{% load workbench_filter %}

{% ifequal component.type 'appkit.exsigndescription' %}

    <style>
        .Chr, p:not(.wui-description p){
            font-family: STHeiti;
        }
				.wui-description p span,.wui-ExSignRules li{
					font-family: "微软雅黑","Microsoft YaHei";
				}

        .Chr.Num{
            font-family: Arial;
        }

        .wui-SignPageDiv {
			background-image:  url('/termite_static/img/component/exsign/exsigndescription_rules_bg.png');
            width: 100%;
        }

        .wui-TopPaneDiv {
            background-image: url('/termite_static/img/component/exsign/exsigndescription_top_bg.png');
            text-align: center;
            color: white;
            padding-bottom: 15px;
            background-repeat: no-repeat;
			background-size: 100% 120%;
			background-position: 35% 50%;
        }
		.wui-Member{
			padding-top: 20px;
			font-size: 1.2rem;
		}
		.wui-MemberGrade,.wui-MemberPoint{
			float: left;
			width: 50%;
		}
		.wui-MemberGrade div{
			padding-right: 50%;
		}
		.wui-MemberGrade-grade{
			font-size: 1rem;
			color: #572200;
		}
		.wui-MemberPoint div{
			padding-left: 50%;
		}
		.wui-MemberPoint-point{
			font-size: 1rem;
			color: #FEEA00;
		}
		.wui-clearf{
			clear: both;
		}
        .wui-UserPhotoDiv {
            padding-top: 20px;
            padding-bottom: 5px;
        }

        .wui-UserPhotoCircle {
            width: 70px;
            height: 70px;
            padding: 2px;
            background: #FFFEFF;
            border-radius: 40px;
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
            -moz-border-radius: 40px;
            -webkit-border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
        }

        .wui-UserPhotoCircle img {
            width: 70px;
            height: 70px;
            line-height: 0; /* remove line-height */
            display: inline-block; /* circle wraps image */
            border-radius: 50%; /* relative value */
            -moz-border-radius: 40px;
            -webkit-border-radius: 50%;
            transition: linear 0.25s;
        }

        .wui-UserName {
            padding-top: 4px;
        }

        .wui-UserPointDiv {
            margin: 4px 0 8px 0;
        }

        .wui-TotalPoints {
            color: #FFFD32;
            margin-left: 10px;
        }

        .wui-Rules.Border {
            border: 1px solid white;
            width: 118px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 16px;
            padding: 4px 0 4px 0;
        }
        .wui-Rules.Chr span{
            margin-left: 8px;
            margin-right: -13px;
        }
        .wui-BodyPaneDiv{
            margin-top: 10%;
            margin-bottom: 10%;
        }

        .wui-SignCircle {
            width: 160px;
            height: 160px;
            padding: 2px;
            background: #FF964A;
            border-radius: 120px;
            -webkit-border-radius: 50%;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            position: relative;
        }

        .wui-SignCircle .wui-SignSign {
            width: 145px;
            height: 145px;
            background: #feb930;
            display: inline-block; /* circle wraps image */
            border-radius: 120px;
            -webkit-border-radius: 50%;
            margin: auto;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            position: absolute;
        }

        .wui-SignSign .wui-SignChr {
            color: white;
            font-size: 2.5em;
            line-height: 145px;
        }

        .wui-SignDescriptionDiv {
            text-align: center;
			padding-bottom: 20px;
        }
		.wui-ExSignRules{
			list-style-type: decimal;
			text-align: left;
			background: #FFF5EB;
			border-top-left-radius: 15px;
			border-top-right-radius: 15px;
			margin-right: 5%;
			margin-left: 5%;
			background: -webkit-linear-gradient(#FBF9F7, rgba(253, 240, 225, 0.3)); /* Safari 5.1 - 6.0 */
			background: -o-linear-gradient(#FBF9F7, rgba(253, 240, 225, 0.3)); /* Opera 11.1 - 12.0 */
			background: -moz-linear-gradient(#FBF9F7, rgba(253, 240, 225, 0.3)); /* Firefox 3.6 - 15 */
			background: linear-gradient(#FBF9F7, rgba(253, 240, 225, 0.3)); /* 标准的语法 */
			color: #F35C3E;
			padding: 20px 10px 30px 30px;

		}
		.wui-ExSignRules >li{
			list-style-type: decimal;
			padding-bottom: 10px;
		}
		.wui-ExSignRules >li ul li{
			padding-bottom: 5px;
		}
		.wui-ExSignRules .wui-rules-serial-prizes,.wui-ExSignRules .wui-rules-daily-prizes div{
			padding-bottom: 5px;
		}

        .wui-SignCircle.wa-sign-board{
            background-color: rgba(253, 190, 123, 0.65);
            font-weight: bold;
            margin-top: auto;

        }
        .wui-SignCircle.wa-sign-board .wui-SignSign{
            background-color: #fff;
            border: 5px solid #fff;
        }
        .wui-SignCircle.wa-sign-board .wui-SignChr{
            line-height: 30px;
            font-size:1em;
        }
        .wui-SignCircle.wa-sign-board .wui-SignChr-Head{
			color: #ff8300;
            margin-top: 10px;
            font-size: 0.8em;
        }
        .wui-SignCircle.wa-sign-board .wui-SignChr-Days{
            letter-spacing: 3px;
            margin-top: 7px;
            font-size: 1.3em;
            padding-top: 10px;
        }
        .wui-SignCircle.wa-sign-board .wui-SignChr-Days b{
			color:#ff8300;
            font-size: 3em;
            font-weight: 700;
            margin-left: 25px;
        }
		 .wui-SignCircle.wa-sign-board .wui-SignChr-Days .wui-SignChr-DaysText{
			 color: #FD3B32;
		}
        .wui-SignCircle.wa-sign-board .wui-SignChr-Tail{
            color:#ff8300;
            font-size: 0.8em;
        }
        .wui-integral-adder{
            position: absolute;
            font-size: 20px;
            margin-left: 10px;
        }
        /* 翻页动画 */
        .animate3d{
            height: 160px;
            width: 160px;
            margin: 0 auto;
        }
        .front-face, .back-face{
            position: absolute;
            z-index: 0;
        }
        .wui-i-dialog-btn.wui-i-closeDialog{
            border-radius: 35px;
        }

        .animated{
            -webkit-animation-duration:0.6s;
            animation-duration:0.6s;
            -webkit-animation-fill-mode:forwards;
            animation-fill-mode:forwards
        }

        @-webkit-keyframes flipOutYToBack{
            0%{-webkit-transform:perspective(400px) rotate3d(0,1,0,0deg);transform:perspective(400px) rotate3d(0,1,0,0deg);opacity: 1}
            10%{-webkit-transform:perspective(400px) rotate3d(0,1,0,90deg);transform:perspective(400px) rotate3d(0,1,0,90deg);opacity: 0}
            100%{opacity: 0}
        }

        @keyframes flipOutYToBack{
            0%{-webkit-transform:perspective(400px) rotate3d(0,1,0,0deg);transform:perspective(400px) rotate3d(0,1,0,0deg);opacity: 1}
            10%{-webkit-transform:perspective(400px) rotate3d(0,1,0,90deg);transform:perspective(400px) rotate3d(0,1,0,90deg);opacity: 0}
            100%{opacity: 0}
        }
        .flipOutYToBack{
            -webkit-backface-visibility:visible!important;
            backface-visibility:visible!important;
            -webkit-animation-name:flipOutYToBack;
            animation-name:flipOutYToBack
        }
        @-webkit-keyframes flipOutYToFront{
            0%{-webkit-transform:perspective(400px) rotate3d(0,1,0,0deg);transform:perspective(400px) rotate3d(0,1,0,0deg)}
            10%{-webkit-transform:perspective(400px) rotate3d(0,1,0,-90deg);transform:perspective(400px) rotate3d(0,1,0,-90deg)}
            100%{-webkit-transform:perspective(400px) rotate3d(0,1,0,0deg);transform:perspective(400px) rotate3d(0,1,0,0deg)}
        }

        @keyframes flipOutYToFront{
            0%{-webkit-transform:perspective(400px) rotate3d(0,1,0,0deg);transform:perspective(400px) rotate3d(0,1,0,0deg)}
            10%{-webkit-transform:perspective(400px) rotate3d(0,1,0,-90deg);transform:perspective(400px) rotate3d(0,1,0,-90deg)}
            100%{-webkit-transform:perspective(400px) rotate3d(0,1,0,0deg);transform:perspective(400px) rotate3d(0,1,0,0deg)}
        }
        .flipOutYToFront{
            -webkit-backface-visibility:visible!important;
            backface-visibility:visible!important;
            -webkit-animation-name:flipOutYToFront;
            animation-name:flipOutYToFront
        }

        @-webkit-keyframes fadeOutUp{0%{opacity:1;-webkit-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(-20px);transform:translateY(-20px)}}

        @keyframes fadeOutUp{0%{opacity:1;-webkit-transform:translateY(0);-ms-transform:translateY(0);transform:translateY(0)}100%{opacity:0;-webkit-transform:translateY(-20px);-ms-transform:translateY(-20px);transform:translateY(-20px)}}

        .fadeOutUp{-webkit-animation-name:fadeOutUp;animation-name:fadeOutUp}

		.wui-coupon-count{
			color: #FDEB00;
		}
		.wui-rules-member-center{
			color: #207CBE;
			text-decoration: underline;
		}

    </style>
    <link href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="wui-SignPageDiv wa-signPageDiv" data-component-cid="{{component.cid}}">
    <div class="wui-TopPaneDiv">
		<div class="wui-Member">
			<div class="wui-MemberGrade">
				<div>当前等级</div>
				<div class="wui-MemberGrade-grade wa-member-grade"></div>
			</div>
			<div class="wui-MemberPoint">
				<div>我的积分</div>
				<div class="wui-MemberPoint-point wa-user-integral"></div>
			</div>
			<div class="wui-clearf"></div>
		</div>
		<div class="wui-BodyPaneDiv">
			<div class="wui-SignDiv animate3d">
				<div class="wui-SignCircle wa-sign-board back-face">
					<div class="wui-SignSign">
						<p class="wui-SignChr wui-SignChr-Head">已连续签到</p>
						<p class="wui-SignChr wui-SignChr-Days wa-i-serial-count"><b class="Chr Num"></b><span class="wui-SignChr-DaysText">天</span></p>
						<p class="wui-SignChr wui-SignChr-Tail">已签到</p>
					</div>
				</div>
				<div class="wui-SignCircle wa-sign-btn front-face">
					<div class="wui-SignSign">
						<p class="wui-SignChr">签到</p>
					</div>
				</div>
			</div>
		</div>
		<div class="wa-prize-board">
			<span class="wa-daily_title">今日可以领取</span><span class="daily_points wa-daily_points Num">{%if component.model.daily_points %}{{component.model.daily_points}}{%else%}0{%endif%}积分，</span><span class="daily_prizes wa-daily_prizes" {%if not component.model.daily_prizes %}style="display: none"{%endif%}><b class="wui-coupon-count" >{{component.model.daily_prizes | length}}张</b>优惠券</span>
		</div>
	</div>
    <div class="wui-SignDescriptionDiv">
		<div class="wui-SignDescriptionDivRules">
			<img src="/termite_static/img/component/exsign/exsigndescription_rules_top.png" />
		</div>
		<ul class="Chr wui-ExSignRules wa-exsign-rules">
				<li class="wui-description" {% if not component.model.description %}style="display: none"{% endif %}>{{component.model.description | safe}}</li>
				<li class="wui-rules"><div>签到次数和对应奖品关系如下：</div>
					<div class="wui-rules-daily">
						<div class="fl">每日签到：</div>
						<div class="fl">
							<ul>
								<li class="wui-rules-daily-point">获得{%if component.model.daily_points %}{{component.model.daily_points}}{%else%}0{%endif%}积分</li>
								<li class="wui-rules-daily-prizes" {% if not component.model.daily_prizes %}style="display: none"{% endif %}>
									{% for daily_prize in  component.model.daily_prizes %}
									<div>获得{{daily_prize.name}}</div>
								{% endfor %}
								</li>
							</ul>
						</div>
						<div class="wui-clearf"></div>
					</div>
					{% for sub_component in component.components %}
						{{ sub_component.html|safe }}
					{% endfor %}
				</li>
				<li>签到奖励可以到<b class="wui-rules-member-center">个人中心</b>查看</li>
			</ul>
	</div>
</div>
{% endifequal %}


{% ifequal component.type 'appkit.exsignitem' %}
<div class="wui-rules-serial wui-rules-serial{{ component.cid }}" data-dynamic-cid="{{component.cid}}">
<div class="wui-rules-days fl">连续签到<span>{{ component.model.serial_count }}</span>天：</div>
<div class="wui-rules-rule fl">
	<ul>
		<li class="wui-rules-serial-point" {% if not component.model.serial_count_points %}style="display: none"{% endif %}>获得<span>{%if component.model.serial_count_points %}{{component.model.serial_count_points}}{%else%}0{%endif%}</span>积分</li>
		<li class="wui-rules-serial-prizes">
			{% for serial_count_prize in  component.model.serial_count_prizes %}
				<div>获得{{serial_count_prize.name}}</div>
			{% endfor %}
		</li>
	</ul>
</div>
<div class="wui-clearf"></div>
</div>
{% endifequal %}
