@charset "utf-8";
/*CSS reset*/
html{color:#333;background:#FFF;}
body{font-family:Arial;word-wrap:break-word;}
body,div,dl,dt,dd,ul,ol,li{margin:0;padding:0;}
.xui-clearListStyle{
    list-style:none;
}
.rawHtml ol {
	margin: 0 0 10px 25px;
}
.rawHtml ul {
	margin: 0 0 10px 25px;
}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var,optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
textarea{resize:none}
/*文字排版*/
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f16{font-size:16px;}
.f20{font-size:20px;}
.fb{font-weight:bold}
.fn{font-weight:normal;}
.em6{font-size: 0.6rem;}
.em65{font-size: 0.65rem;}      /* 18px */
.em7{font-size: 0.7rem;}        /* 20px */
.em75{font-size: 0.75rem;}      /* 22px */
.em8{font-size: 0.8rem;}        /* 24px */
.em85{font-size: 0.85rem;}      /* 26px */
.em9{font-size: 0.9rem;}        /* 28px */
.em95{font-size: 0.95rem;}      /* 30px */
.em1{font-size: 1rem;}          /* 32px */
.em105{font-size: 1.05rem;}
.em110{font-size: 1.1rem;}
.em120{font-size: 1.2rem;}
.em130{font-size: 1.3rem;}
.em140{font-size: 1.4rem;}
.em150{font-size: 1.5rem;}
.em20{font-size: 2rem;}
.t2{text-indent:2em;}
.lh150{line-height:150%;}
.lh180{line-height:180%;}
.lh200{line-height:200%;}
.unl{text-decoration:underline;}
.no_unl{text-decoration:none;}
.rawHtml ol {
	margin: 0 0 10px 25px;
	list-style: auto;
}
.rawHtml ul {
	margin: 0 0 10px 25px;
	list-style: auto;
}
.rawHtml ol > li {list-style: auto;}
.rawHtml ul > li {list-style: auto;}

/*定位*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}
.bc{margin-left:0;margin-right:0;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.cb{clear:both;}
.cl{clear:left;}
.cr{clear:right;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clear{height:0;clear:both;overflow:hidden;}
.vm{vertical-align:middle;}
.vt{vertical-align:top;}
.pr{position:relative;}
.pa{position:absolute;}
.pf{position: fixed;}
.abs-right{position:absolute;right:0}
.zoom{zoom:1;}
/*.hidden{visiility:hidden;display:none;}*/
.none{display:none;}
.cursorPointer{cursor: pointer;}
.disF{display: -webkit-box;display: -ms-flexbox;display: flex;}
.disT{display: table;}
.disTc{display: table-cell;}
.disBl{display: block;}

/*长度高度*/
.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w110{width:110px;}
.w150{width:150px;}
.w180{width:180px;}
.w200{width:200px;}
.w300{width:300px;}
.w350{width:350px;}
.w400{width:400px;}
.w500{width:500px;}
.w600{width:600px;}
.w700{width:700px;}
.w800{width:800px;}
.w{width:100%}
.h20{height:20px;}
.h50{height:50px;}
.h80{height:80px;}
.h100{height:100px;}
.h150{height:150px;}
.h200{height:200px;}
.h{height:100%}

/*边距*/
.mc{margin: 0px auto !important;}
.m0{margin:0 !important;}
.m1{margin:1px !important;}
.m2{margin:2px !important;}
.m3{margin:3px !important;}
.m4{margin:4px !important;}
.m5{margin:5px !important;}
.m10{margin:10px !important;}
.m15{margin:15px !important;}
.m25{margin:25px !important;}
.m30{margin:30px !important;}
.mt5{margin-top:5px !important;}
.mt0 {margin-top:0px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}
.mt70{margin-top:70px !important;}
.mt80{margin-top:80px !important;}
.mt90{margin-top:90px !important;}
.mt100{margin-top:100px !important;}
.mb0 {margin-bottom:0px !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb30{margin-bottom:30px !important;}
.mb40{margin-bottom:40px !important;}
.mb50{margin-bottom:50px !important;}
.mb60{margin-bottom:60px !important;}
.mb80{margin-bottom:80px !important;}
.mb100{margin-bottom:100px;}
.ml0{margin-left:0px !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.ml20{margin-left:20px !important;}
.ml30{margin-left:30px !important;}
.ml40{margin-left:40px !important;}
.ml50{margin-left:50px !important;}
.ml60{margin-left:60px !important;}
.ml80{margin-left:80px !important;}
.ml100{margin-left:100px !important;}
.ml150{margin-left:150px !important;}
.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr15{margin-right:15px !important;}
.mr20{margin-right:20px !important;}
.mr30{margin-right:30px !important;}
.mr40{margin-right:40px !important;}
.mr50{margin-right:50px !important;}
.mr100{margin-right:100px !important;}
.mr250{margin-right:250px !important;}
.mr300{margin-right:300px !important;}
.p5{padding:5px !important;}
.p10{padding:10px !important;}
.p15{padding:15px !important;}
.p20{padding:20px !important;}
.p25{padding:25px !important;}
.p30{padding:30px !important;}
.pt0 {padding-top: 0px !important;}
.pt5{padding-top:5px !important;}
.pt10{padding-top:10px !important;}
.pt15{padding-top:15px !important;}
.pt20{padding-top:20px !important;}
.pt30{padding-top:30px !important;}
.pt50{padding-top:50px !important;}
.pt100{padding-top:100px !important;}
.pb0{padding-bottom:0px !important;}
.pb5{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:20px !important;}
.pb30{padding-bottom:30px !important;}
.pb50{padding-bottom:50px !important;}
.pb100{padding-bottom:100px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px !important;}
.pl15{padding-left:15px !important;}
.pl20{padding-left:20px !important;}
.pl25{padding-left:25px !important;}
.pl30{padding-left:30px !important;}
.pl45{padding-left:45px !important;}
.pl50{padding-left:50px !important;}
.pl100{padding-left:100px !important;}
.pl250{padding-left:250px !important;}
.pr5{padding-right:5px !important;}
.pr10{padding-right:10px !important;}
.pr15{padding-right:15px !important;}
.pr20{padding-right:20px !important;}
.pr30{padding-right:30px !important;}
.pr50{padding-right:50px !important;}
.pr100{padding-right:100px !important;}
.min180{min-height:180 !importantpx;}
.min220{min-height:220 !importantpx;}

/*文字灰度：由深及浅*/
.c3{color: #333;}
.c6{color: #666;}
.c65{color: #656565;}
.c9{color: #999;}

.cRed{color: #CF0404;}
.cBlue{color: #057FCD;}

/* 其他 */
.noborder{border: none;}
.zoom{overflow:auto; zoom:1;}
.block {display: block;}

.text_nowrap{
	width: 185px;/* 要显示文字的宽度 */
	height: 25px;
	float: left;/* 左对齐，不设置的话只在IE下好用 */
	overflow: hidden; /* 超出的部分隐藏起来 */
	white-space: nowrap;/* 不显示的地方用省略号...代替 */
	text-overflow: ellipsis;/* 支持 IE */
	-o-text-overflow: ellipsis;/* 支持 Opera */
}

ul.clearStyle, ol.clearStyle, li.clearStyle {
    list-style: none outside none;
}

textarea, input[type="text"], input[type="password"], input[type="submit"] {
	-webkit-appearance: none;
}
