{% extends "jqm_content_base.html" %}
{% load common_tag %}

{% block css %}
<link type="text/css" rel="stylesheet" href="/webapp_static/default/css/default.css">
<link type="text/css" rel="stylesheet" href="/markettools_static/point_card/css/point_card.css">
<style>
	div{
		text-align: center;
	}
	div.title{
		font-size: 20px;
	}
</style>
{% endblock %}

{% block content-panel %}
<div data-role="page" data-theme="x" class="{% if not user.is_from_weixin %}notweixin{% endif %} detailPage" data-title="{{ page_title }}">
	<div data-role="header" data-theme="x">
		<h1>积分充值</h1>
	</div>
	  <div class="xui-successIcon"></div>
	<div class="xui-successInfo">充值成功！</div>
	<div>您的账号已增加{{point}}积分，请到<a href="./?module=user_center&model=user_info&action=get&workspace_id=mall&webapp_owner_id={{request.webapp_owner_id}}&project_id={{product.id}}" style="color:#5bb75b;">个人中心</a>查看</div>
</div>
{% endblock %}