<script id="market-too-choose-prize-tmpl-src" type='text/x-jquery-tmpl'>
<div class="w500">
   	<div class="zoom prizeItem" >
    	<div style="width:50%;position:absolute;">奖励类型</div>
		<div style="width:26%;position:absolute;text-align:right;">奖品</div><br>
		<div class='mt10'>
            <select name="prize_type" class="span2 mr10" {{if prize_type}}default-value='${prize_type}'{{else}}value='1'{{/if}} >
                {{if items.length}}
                <option value="1">优惠劵</option>
                {{/if}}
                <!--<option value="2">兑换码</option>-->
                <option value="3">积分</option>
                <option value="-1">不奖励</option>
            </select>
            <select class="span2 prize xua-coupon" name="prize_source" for_type="1" {{if prize_type == 1}}default-value='${prize_source}'{{else}}style="display:none;" disabled="disabled" {{/if}} >
                <option value="">请选择优惠劵...</option>
                {{each(i,item) items}}
                <option value="${item.id}" data-count="${item.remained_count}">${item.name}</option>
                {{/each}}
            </select>
           
            <input type="text" class="span2 prize2" name="prize_source" for_type="3" {{if prize_type == 3}}default-value='${prize_source}'{{else}}style="display:none;" disabled="disabled" {{/if}} placeholder="请输入积分数值">
            <div class="errorHint"></div>
            <p name="prize_source" for_type="1"><span class="xua-remainedCount hide mr20"></span><a target="_blank" class="hide">增加码库</a></p>
        </div>
    </div>
</div>
</script>