<script id="mall-promotion-filter-view-tmpl-src" type="text/x-jquery-tmpl">
<div class="xui-form disT">
	<div class="xui-col disTc">
		<div class="xui-i-item">
			<label class="">商品名称：</label>
			<input type="text" class="form-control" id="name" name="name" value="" />
		</div>
		<div class="xui-i-item">
			<label>商品条码：</label>
			<input type="text" class="form-control" id="bar_code" name="bar_code" value="" />
		</div>
	</div>

	<div class="xui-col disTc">
		{{if (promotionType === 'all')}}
		<div class="xui-i-item pl20">
			<label>促销类型：</label>
			<select class="" id="promotion_type" name="promotion_type">
				<option value="all">全部</option>
				<option value="flash_sale">限时抢购</option>
				<option value="premium_sale">买赠</option>
				<!--<option value="price_cut">满减</option>-->
				<option value="integral_sale">积分应用</option>
			</select>
		</div>
		{{/if}}
		<div class="xui-i-item ml20">
			<label>促销状态：</label>
			<select class="" id="promotion_status" name="promotion_status">
				<option value="-1">全部</option>
				<option value="1">未开始</option>
				<option value="2" {{if (promotionStatus == '2')}} selected="selected" {{/if}}>进行中</option>
				<option value="3">已结束</option>
			</select>
		</div>
	</div>

	<div class="xui-col disTc">
		<div class="xui-i-item">
			<label>活动时间
			：</label>
			<input
				type="text"
				class="form-control xui-datePicker"
				id="start_date"
				name="start_date"
				style=""
			    value="${startDate}"
			    readonly="readonly"
				data-enable-select-time="true"
				data-validate="require-notempty"
				data-ui-role="date-picker"
			    data-format="yy-mm-dd HH:MM" />
			至
			<input
				type="text"
				class="form-control xui-datePicker"
				id="end_date"
				name="end_date"
			    value="${endDate}"
			    readonly="readonly"
			    data-enable-select-time="true"
				data-validate="require-notempty"
				data-ui-role="date-picker"
			    data-format="yy-mm-dd HH:MM"
			    data-min-el="#start_date"/>
		</div>
	</div>
</div>
<div class="xui-btn-group">
	<a class="btn btn-primary mr40 xa-search xui-fontBold" href="javascript:void(0);">查&nbsp;&nbsp;&nbsp;询</a>
	<a class="btn btn-default xa-reset xui-fontBold" href="javascript:void(0);">重&nbsp;&nbsp;&nbsp;置</a>
</div>
</script>

<script id="mall-coupon-filter-view-tmpl-src" type="text/x-jquery-tmpl">
<div class="xui-form disT">
	<div class="xui-col disTc">
		<div class="xui-i-item">
			<label class="">优惠券名称：</label>
			<input type="text" class="form-control" id="name" name="name" value="" />
		</div>
	</div>
	<div class="xui-col disTc">
		<div class="xui-i-item">
			<label>优惠码：</label>
			<input type="text" class="form-control" id="coupon_id" name="coupon_id" value="" />
		</div>
	</div>
	<div class="xui-col disTc">
		<div class="xui-i-item">
			<label>优惠券类型：</label>
			<select class="" id="coupon_promotion_type" name="promotion_type">
				<option value="-1">全部</option>
				<option value="1">通用券</option>
				<option value="2">多商品券</option>
			</select>
		</div>
	</div>
	<div class="xui-col disTc">
		<div class="xui-i-item">
			<label>促销状态：</label>
			<select class="" id="promotion_status" name="promotion_status">
				<option value="-1">全部</option>
				<option value="1">未开始</option>
				<option value="2" {{if (promotionStatus == '2')}} selected="selected" {{/if}}>进行中</option>
				<option value="3">已过期</option>
				<option value="5">已失效</option>
			</select>
		</div>
	</div>
	<div class="xui-col disTc">
		<div class="xui-i-item ml15">
			<label>活动时间
			：</label>
			<input
				type="text"
				class="form-control xui-datePicker"
				id="start_date"
				name="start_date"
				style=""
			    value="${startDate}"
			    readonly="readonly"
				data-enable-select-time="true"
				data-validate="require-notempty"
				data-ui-role="date-picker"
			    data-format="yy-mm-dd HH:MM" />
			至
			<input
				type="text"
				class="form-control xui-datePicker"
				id="end_date"
				name="end_date"
			    value="${endDate}"
			    readonly="readonly"
			    data-enable-select-time="true"
				data-validate="require-notempty"
				data-ui-role="date-picker"
			    data-format="yy-mm-dd HH:MM"
			    data-min-el="#start_date"/>
		</div>
	</div>
</div>
<div class="xui-btn-group">
	<a class="btn btn-primary mr40 xa-search xui-fontBold" href="javascript:void(0);">查&nbsp;&nbsp;&nbsp;询</a>
	<a class="btn btn-default xa-reset xui-fontBold" href="javascript:void(0);">重&nbsp;&nbsp;&nbsp;置</a>
</div>
</script>

<script id="mall-forbiddenCoupon-filter-view-tmpl-src" type="text/x-jquery-tmpl">
<div class="xui-form disT">
	<div class="xui-col disTc">
		<div class="xui-i-item">
			<label class="">商品名称：</label>
			<input type="text" class="form-control" id="name" name="name" value="" />
		</div>
		<div class="xui-i-item">
			<label>禁用状态：</label>
			<select class="" id="promotion_status" name="promotion_status">
				<option value="-1">全部</option>
				<option value="1">未开始</option>
				<option value="2" {{if (promotionStatus == '2')}} selected="selected" {{/if}}>进行中</option>
			</select>
		</div>
	</div>
	<div class="xui-col disTc">
		<div class="xui-i-item">
			<label>商品条码：</label>
			<input type="text" class="form-control" id="bar_code" name="bar_code" value="" />
		</div>
	</div>
	<div class="xui-col disTc">
		<div class="xui-i-item ml15">
			<label>起止时间
			：</label>
			<input
				type="text"
				class="form-control xui-datePicker"
				id="start_date"
				name="start_date"
				style=""
			    value="${startDate}"
			    readonly="readonly"
				data-enable-select-time="true"
				data-validate="require-notempty"
				data-ui-role="date-picker"
			    data-format="yy-mm-dd HH:MM" />
			至
			<input
				type="text"
				class="form-control xui-datePicker"
				id="end_date"
				name="end_date"
			    value="${endDate}"
			    readonly="readonly"
			    data-enable-select-time="true"
				data-validate="require-notempty"
				data-ui-role="date-picker"
			    data-format="yy-mm-dd HH:MM"
			    data-min-el="#start_date"/>
		</div>
	</div>
</div>
<div class="xui-btn-group">
	<a class="btn btn-primary mr40 xa-search xui-fontBold" href="javascript:void(0);">查&nbsp;&nbsp;&nbsp;询</a>
	<a class="btn btn-default xa-reset xui-fontBold" href="javascript:void(0);">重&nbsp;&nbsp;&nbsp;置</a>
</div>
</script>


