{% extends "new_jqm_content_base.html" %}
{% load common_tag %}
{% block css %}
<style>
	/*重置*/
	body,html{
		background-color: #e1e1e6;
	}
	.ui-page,.ui-content{
		background: #e1e1e6;
	}
	.xui-userCenter-header{
		background: #2d3e4f;
		color:#fff;
	}
	.xui-SJintegralLogPage .xui-integralLogList{
		padding-top:20px;
	}
	.xui-SJintegralLogPage .xui-integralLogList .xui-inner-content{
		background: #fff;
		margin:10px 10px 10px 40px;
		border-radius:5px;
		padding:10px;
		border:none;
		box-shadow: 0 0 0 1px #d5d4d8;
	}
	.xui-SJintegralLogPage .xui-integralLogList .xui-inner-time{
		float: inherit;
		padding-left: 40px;
		color: #000;
		margin-top: -4px;
		position:absolute;
	}
	.xui-SJintegralLogPage .xui-integralLogList .xui-inner-dot{
		background: url(/webapp_static/backend_default/imgs/dot.png) no-repeat!important;
		position:absolute;
		top:7px;
		left: 20px;
		border:none;
		float: inherit;
		margin:-10px 0;
		width: 16px;
		height: 16px;
		-webkit-background-size: cover!important;
		background-size: cover!important;
	}
	.xui-SJintegralLogPage .xui-outer-content{
		padding:15px 0;
	}
	/*new*/
	.xui-SJintegralLogPage .xui-inner-roleBox{
		text-align: center;
	}
	.xui-SJintegralLogPage .xui-integralLogList li.xui-line{
		background:url(/webapp_static/backend_default/imgs/line.jpg) repeat-y 27px 0;
		margin-top:0;
	}
	.xui-SJintegralLogPage .xui-headphoto{
		text-align: center;
	}
	.xui-SJintegralLogPage .xui-headphoto img{
		border-radius:50%;
		width: 96px;
		height: 96px;
	}

</style>
{% endblock %}
{% block content-panel %}
<div data-role="page" data-theme="x" class="xui-SJintegralLogPage"  data-title="{{ page_title }}">
	<div data-role="content">
        <dl class="xui-userCenter-header">
            <dt>
	            <div class="xui-headphoto">
    	            <img src="{% if member.user_icon %}{{ member.user_icon }}{% else %}/static/img/user-1.jpg{% endif %}" onerror="this.src='/static/img/user-1.jpg'"/>
                </div>
            </dt>
            <dd>
                <h2 class="mt5 tc" style="font-size:1.4em;">{{ member_info.name }}</h2>
                <div class="xui-inner-roleBox mt5">
                    <!-- <span class="xui-inner-roleLabel">
                    {{ member_info.status_name }}
                    </span> -->
                    <div>{% if member.integral %}{{ member.integral }}{% else %}0{% endif %}积分</div>
                </div>
            </dd>
        </dl>
        {%if not member_integral_logs%}
        <div class="influence-log-list error-info pa" style="left:50%;color:#9c9c9c;">您还没有积分日志</div>
        {% else %}
        <ul class="clearStyle xui-integralLogList">
	        {% for member_integral_log in member_integral_logs %}
		        <li class="pr xui-line">
			        <div class="xui-inner-time">{{ member_integral_log.created_at|date:"Y/m/j" }}</div>

			        {% ifequal member_integral_log.event_type '好友奖励' %}
			        <span class="xui-inner-dot"></span>
			        <div class="xui-outer-content">
				        <div class="xui-inner-content">
					        <p class="zoom">
						        <span class="fl">好友奖励</span>
						        <span class="fr xui-text-red">+{{member_integral_log.integral_count}}</span>
					        </p>
					        {% if member_integral_log.logs %}
						        <ul class="zoom clearStyle xui-userCenter-friendList">
							        {% for log in member_integral_log.logs %}
								        {% if log.pic %}
									        <li><img src="{{ log.pic }}"/></li>
								        {% endif %}
							        {% endfor %}
						        </ul>
					        {% endif %}
				        </div>
				    </div>
			        {% else %}
			        <span class="xui-inner-dot"></span>
			        <div class="xui-outer-content">
				        <div class="xui-inner-content">
					        <p class="zoom">
	                            <span class="fl">
	                                {{ member_integral_log.event_type }}
	                            </span>
	                            <span class="fr xui-text-red">
	                            {% if member_integral_log.integral_count > 0 %}
		                            +
	                            {% else %}

	                            {% endif %}
		                            {{ member_integral_log.integral_count }}
	                            </span>
					        </p>
				        </div>
				    </div>
			        {% endifequal %}

		        </li>
	        {% endfor %}
        </ul>
        {% endif %}
		<!-- <div class="xui-btn-layer-footer xui-form-box">
            <a data-role="button" class="btn-back" href="/m/rice/user_center/{{ webapp_id }}/">&nbsp;&nbsp;返 回&nbsp;&nbsp;</a>
        </div> -->
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
jQuery(document).ready(function($) {
	var bodyHeight = window.document.body.clientHeight;
	var tipsWidth =  parseInt($('.error-info').css('width'));
	var headerHeight = parseInt($('.xui-userCenter-header').css('height'));
	var tipsTop = bodyHeight - (bodyHeight - headerHeight)*0.5;
	$('.error-info').css({
		'top': tipsTop,
		'margin-left': "-"+ tipsWidth * 0.5 +"px"
	});;
});


</script>
{% endblock %}
