{% extends "new_jqm_content_base.html" %}
{% load common_tag %}

{% block css %}
<link rel="stylesheet" href="/webapp_static/backend_default/css/default.css">
<style>
    body,html{
        background-color: #e1e1e6;
    }
    .ui-page,.ui-content{
        background: #e1e1e6!important;
    }
    .xui-section{
        padding:15px;
    }
    .xui-btnBox{
        margin:0 10px;
    }
    .xui-btnBox .ui-btn-inner{
        padding: 0;
    }
    .xui-btnBox .xui-btn{
        padding:6px 0;
        width: 100%;
    }
    .xui-btn-danger.ui-btn-up-x, .xui-btn-danger.ui-btn-down-x, .xui-btn-danger.ui-btn-hover-x, .xui-btn-danger.ui-btn-active{
        border:none;
        box-shadow: 0 0 0 1px #ae0001;
    }
</style>
{% endblock %}

{% block content-panel %}
<div data-role="page" data-theme="x" class="{% if not user.is_from_weixin %}notweixin{% endif %}"  data-title="{{ page_title }}">
	<div data-role="content" data-theme="x">
            <div class="xui-section" style="text-align:center;">
           		{% if member %} 
           		<input type='hidden' id="member_id" value="{{member.id}}" />
    			<img width="250" height="250" data-ui-role="dimensionalCode" src="{% if qrcode_url %}{{qrcode_url}}{% endif %}" effective-time="{% if expired_second %}{{expired_second}}{% endif %}" api="member_qrcode/get" app="apps/shengjing/user_center" data-allow-autoplay=false >
            	{% else %}
            	<input type='hidden' id="member_id" value="0" />
            	<img width="250" height="250" src="{{default_img}}">
            	{% endif %}
    		</div>
            <div class="xui-section">
	            <div class="xui-content-layer-content rawHtml">
	                {{ member_qrcode_settings.detail|safe }}
	            </div>
	        </div>
            <div class="xui-btnBox mb15">
                <a href="./?module=apps:shengjing:user_center&resource=my_friends&action=get&workspace_id=apps:&webapp_owner_id={{request.webapp_owner_id}}&project_id=0" data-role="button" class="xui-btn xui-btn-danger" id="btnSubmit">我的朋友</a>
            </div>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/js/widget/jquery.mobile.twoDimensionalCode.js"></script>
{% endblock %}
