@charset "utf-8";
.ui-page{
	background: #fff!important;
}
.ui-shadow-inset{
	box-shadow: none;
	border-bottom: 1px solid #ccc;
}

div.ui-input-text{
	margin:1.2em 0!important;
}
.ui-input-text.ui-focus{
	box-shadow: none;
	border-bottom: 1px solid #5bb75b;
}
.ui-corner-all{
	border-radius: 0px;
}
.ui-shadow{
	box-shadow:none;
}
.ui-btn-corner-all{
	border-radius: 0px;
}
.ui-btn-inner{
	padding:0.46em 17px;
}
.xui-confirm-btn{
	background: #5bb75b;
	border-radius: 7px;
	box-shadow: 0px 2px 0px #409d40;
	color:#fff;
	margin:0 auto;
}
.xui-confirm-btn:hover{
	background: #44a844;
}
.xui-successInfo{
	margin:10px;
	font-size:1.5em;
	color:#3a3a3a;
}
.xui-successIcon{
	width:125px;
	height:125px;
	background:url('/markettools_static/point_card/img/success.png') no-repeat center center #f2f2f2;
	border-radius:50%;
	margin:0 auto;
	box-shadow:0px 1px 2px #ccc;
	margin-top:50px;
}
input::-moz-placeholder{
	color:#99783d;
}
