.header-nav {
    display: none;
    height: 42px;
    line-height: 3;
    margin: 10px -10px;
    border-bottom: 1px soild #000;
    position: relative;
    z-index: 9999;
}
.header-nav ul {
    list-style: outside none none;
    margin-top: -10px;
    text-align: center;
    width: 100%;
    
}
.header-nav ul li {
    display: inline-block;
    float: left;
    height: 41px;
    padding: 0;
    width: 25%;
}