{% extends "content_base.html" %}
{% load common_tag %}
{% load account_filter %}

{% block content-panel %}
<div class="relative">
	<ul class="breadcrumb">
		<li class=""><a href="/market_tools/weizoom_card/">钱包列表<span class="divider">/</span></a></li>
		<li class=""><a href='/market_tools/weizoom_card/adjust_accounts/'>核算<span class="divider">/</span></a></li>
		<li class="actives">{{ user_profile.user.username }}积分详情</li>
	</ul>
	
</div>

<div>
	<div class="xa-listView" data-ui-role="advanced-table" data-app="market_tools/weizoom_card" data-api="integral_adjust_accounts/get" data-args='{"user_id":{{user_id}} }' data-template-id="#adjust_accounts_list_view" data-enable-paginator="true"></div>
</div>
{% endblock %}

{% block jsTemplate %}
	{% verbatim %}
	<script id="adjust_accounts_list_view" type="text/x-jquery-tmpl">
		<table class="table table-bordered table-condensed">
			<thead>
				<th>比例</th>
				<th>积分</th>
				<th>金额（元）</th>
			</thead> 
			<tbody>
				{{each(i, item) items}}
				<tr tr_id='${item.id}'>
					<td>1:${item.integral_each_yuan}</td>
					<td>${item.integral}</td>
					<td>${item.integral_money_sum}</td>
				</tr>
				{{/each}}
			</tbody>
		 </table>
	</script>
	{% endverbatim %}
	
{% endblock %}

{% block js %}
<script type="text/javascript">
function get_date(){
	var start_date = $('#start_date').val();
	var end_date = $('#end_date').val();
	var args = {};
	if (start_date){
		args.start_date = start_date
	};
	if (end_date){
		args.end_date = end_date
	}
	return args
}

function get_str_date(){
	var args = get_date();
	if (args){
		if (args.start_date && args.end_date){
			get_args = 'start_date=' + args.start_date + '&end_date=' + args.end_date;
		}else{
			if (args.start_date){
				get_args = 'start_date=' + args.start_date
			}else if(args.end_date) {
				get_args = 'end_date=' + args.end_date
			}else{
				get_args = ''
			}
		}
	}
	return get_args
}

$(document).ready(function() {
	$('#exportBtn').click(function(event) {
		var url = '/market_tools/weizoom_card/adjust_accounts/export/';
		var args = get_str_date();
		if (args.length > 0){
			url = url + '?' + args;
		}
		window.open(url);
	});

	var tableView = $('.xa-listView').data('view')
	$('.reload-adjust-accounts').click(function(event) {
		tableView.options.enableLoad = true;
		tableView.errorEvent = function() {
			alert('加载数据失败!');
			W.getLoadingView().hide();
		};
		var args = get_date();
		tableView.curPage = '1';
		if (args){
			tableView.options.args = JSON.stringify(args)
		}
		tableView.reload();
	});
});
</script>
{% endblock %}