{% extends "content_base.html" %}
{% load common_tag %}
{% load account_filter %}

{% block content-panel %}
<div class="relative">
	<ul class="breadcrumb">
		<li class="active"><a href="/market_tools/weizoom_card/">钱包列表</a></li>
		<li class="">/核算</li><span class="divider"></span>
	</ul>
	<span class="breadcrumRightButton">
		<a id="exportBtn" class="btn btn-primary" href="javascript:void(0);"><i class="icon-plus icon-white"></i>导出excel</a>
	</span>
</div>

<div class="mt10">
	<span style="font-weight: bolder; margin-left: 5px;">微众卡结算:</span><br />
	<div style="display: inline-block;vertical-align: middle; margin-top: 10px">
		<input 
			type="text" 
			class="input-xlarge" 
			id="start_date" 
			name="start_date" 
			style="width:160px;z-index:9999"
		    placeholder="开始日期" 
		    value="{{coupon_saller_data.start_date|date:'Y-m-d'}}"
		    readonly="readonly" 
		    data-validate="required-none" 
		    data-ui-role="datepicker"
		    data-format="yy-mm-dd" 
		    data-min="2014-06-01" 
		/>
	-
		<input 
			type="text" 
			class="input-xlarge" 
			id="end_date" 
			name="end_date" 
			style="width: 160px;z-index:9999"
		    placeholder="结束日期" l
		    value="{{coupon_saller_data.end_date|date:'Y-m-d'}}"
		    readonly="readonly" 
		    data-validate="required-none" 
		    data-ui-role="datepicker"
		    data-format="yy-mm-dd" 
		    data-min="now" 
		    data-min-el="#start_date" 
		/>
	</div>
	<button class="btn btn-success reload-adjust-accounts">确定</button>
</div>

<div>
	<div class="xa-listView" data-ui-role="advanced-table" data-app="market_tools/weizoom_card" data-api="adjust_accounts/get" data-template-id="#adjust_accounts_list_view" data-enable-paginator="true"></div>
</div>
{% endblock %}

{% block jsTemplate %}
	{% verbatim %}
	<script id="adjust_accounts_list_view" type="text/x-jquery-tmpl">
		<table class="table table-bordered table-condensed">
			<thead>
				<th>商家</th>
				<th class="tx_filterable">
						<div class="dropdown">
							<p class="m0 dropdown-toggle" style="font-size: 14px;">运营类型</p>
							<ul class="dropdown-menu">
		                       <li><a href="javascript:void(0);" data-attr='account_type'  data-value="-1">全部</a></li>
								
								<li><a href="javascript:void(0);" data-attr='account_type'  data-value="0">自运营</a></li>
								<li><a href="javascript:void(0);" data-attr='account_type'  data-value="1">代运营</a></li>
								<li><a href="javascript:void(0);" data-attr='account_type'  data-value="2">其它</a></li>
							</ul>
						</div>
					</th>
					<th>微众卡（元）</th>
					<th>积分（元）</th>
					<th class="w100">总金额</th>
			</thead> 
			<tbody>
				{{each(i, item) items}}
				<tr tr_id='${item.id}'>
					<td><a class='td_user_name' href='javascript:void(0)' data-name="${item.name}">${item.display_name}</a></td>
					<td>${item.account_type}</td>
					<td>${item.weizoom_card_money}</td>
					{{if item.integral_money == 0}}
					<td>${item.integral_money}</td>
					{{else}}
					<td><a href='/market_tools/weizoom_card/adjust_accounts/integral/${item.id}/'>${item.integral_money}</a></td>
					{{/if}}
					<td>${item.total_sum}</td>
				</tr>
				{{/each}}
			</tbody>
		 </table>
		总结额：${data.total_price} 元
	</script>
	{% endverbatim %}
	
{% endblock %}

{% block js %}
<script type="text/javascript">
function get_date(){
	var start_date = $('#start_date').val();
	var end_date = $('#end_date').val();
	var args = {};
	if (start_date){
		args.start_date = start_date
	};
	if (end_date){
		args.end_date = end_date
	}
	return args
}

function get_str_date(){
	var args = get_date();
	if (args){
		if (args.start_date && args.end_date){
			get_args = 'start_date=' + args.start_date + '&end_date=' + args.end_date;
		}else{
			if (args.start_date){
				get_args = 'start_date=' + args.start_date
			}else if(args.end_date) {
				get_args = 'end_date=' + args.end_date
			}else{
				get_args = ''
			}
		}
	}
	return get_args
}

$(document).ready(function() {
	$('#exportBtn').click(function(event) {
		var url = '/market_tools/weizoom_card/adjust_accounts/export/';
		var args = get_str_date();
		if (args.length > 0){
			url = url + '?' + args;
		}
		window.open(url);
	});

	$('.xa-listView').delegate('.td_user_name', 'click', function() {
		var date_args = get_str_date()
		this.href = '/market_tools/weizoom_card/adjust_accounts/detail/?username=' + $(this).attr('data-name');
		if (date_args){
			this.href = '/market_tools/weizoom_card/adjust_accounts/detail/?username=' + $(this).attr('data-name') + '&' + date_args
		}
		return true;
	});

	var tableView = $('.xa-listView').data('view')
	$('.reload-adjust-accounts').click(function(event) {
		tableView.options.enableLoad = true;
		tableView.errorEvent = function() {
			alert('加载数据失败!');
			W.getLoadingView().hide();
		};
		var args = get_date();
		tableView.curPage = '1';
		if (args){
			tableView.options.args = JSON.stringify(args)
		}
		tableView.reload();
	});
});
</script>
{% endblock %}