{% extends "new_jqm_content_base.html" %}
{% load common_tag %}
{% load mall_filter %}

{% block css %}
<style>
.xui-addrManage-page .xui-regular-radio + label.xui-regular-radio-label,.xui-addrManage-page .xui-addNew label{
    padding:10px;
    margin:0;
}
</style>
{% endblock %}

{% block content-panel %}
	<div data-role="page" data-theme="x" class="{% if not user.is_from_weixin %}notweixin{% endif %} xui-addrManage-page" data-title="{{ page_title }}">
		<div class="xui-section mt10">
		<form action="">
			<ul>
			{%for ship_info in ship_infos %}
				<li data-role="button" data-icon="true" class="tl">
					<div class="disT" style="width:100%">
						<label class="xui-radioBox disTc tc" for="is_addrItem_{{ship_info.id}}">
		               		<input type="radio" id="is_addrItem_{{ship_info.id}}" name="is_addrItem" data-role="none" class="xui-regular-radio hidden" {% if ship_info.is_selected %}checked=checked{% endif %} data-id="{{ship_info.id}}">
		               		<label for="is_addrItem_{{ship_info.id}}" class="xui-regular-radio-label"></label>
		               	</label>
						<a href="./?woid={{request.webapp_owner_id}}&module=apps:shihuazhiye:mall&model=address&action=edit&id={{ship_info.id}}&redirect_url_query_string={{ redirect_url_query_string|url_filter }}" class=" disTc">
		               	<div class="xui-infoLink">
								<div class="pr20">
						            <h2 class="mb5">收货人：{{ship_info.ship_name}}<span class="ml15">{{ship_info.ship_tel}}</span></h2>
						            <div style="color:#7f7f7f;">{{ship_info.get_str_area}} {{ship_info.ship_address}}</div>
				               </div>
			            </div>
				        </a>
	               </div>
				</li>
			{%endfor%}
			</ul>
			</form>
			<a href="./?woid={{request.webapp_owner_id}}&module=apps:shihuazhiye:mall&model=address&action=add&redirect_url_query_string={{ redirect_url_query_string|url_filter }}" data-role="button" data-icon="true" class="xui-addNew tl disT">
				<div class="disTc tc"><label for="" class=""></label></div>
				<span class="disTc" style="color:#888">新增收货地址</span>
			</a>
		</div>
		
	</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
// 跳转queryString
var redirectUrlQueryString = "{{redirect_url_query_string}}".replace(/&amp;/g,'&');
$(document).ready(function() {
	$('[name="is_addrItem"]').click(function(event){
		var ship_info_id = $(this).attr('data-id');
		console.log('aaa', ship_info_id);
        //显示提交订单的提示
        $('body').alert({
            isShow: true,
            info:'正在修改收货地址',
            speed: 200000
        });
	    W.getApi().call({
	        app: 'webapp',
	        api: 'project_api/call',
	        method: 'post',
	        args: {
	            woid: W.webappOwnerId,
	            module: 'mall',
	            target_api: 'address/select',
	            ship_id: ship_info_id
	        },
	        success: function(data) {
	            xlog(333,data);
	            var ship_id = data['ship_id'];
	            if (data['msg'] != null) {
	                $('body').alert({
	                    isShow: true,
	                    speed: 2000,
	                    info: data['msg']
	                })
	            } else {
	                window.location.href = "./?"+redirectUrlQueryString;
	            }
	        },
	        error: function(resp) {
	            var errMsg = '保存失败';
	            if (resp.errMsg) {
	                errMsg = resp.errMsg;
	            } else if (resp.data && resp.data['msg']) {
	                errMsg = resp.data['msg']
	            }

	            $('body').alert({
	                isShow: true,
	                info: errMsg,
	                speed: 2000,
	                callBack: function() {
	                    // window.location.reload();
	                }
	            });
	        }
	    });
	});
});
</script>
{% endblock %}