{% extends "new_jqm_content_base.html" %}
{% load common_tag %}
{% block css %}
<style>
body,html,.ui-page,.ui-content{
    background: none repeat scroll 0 0 #fff;
}
</style>
{% endblock %}

{% block content-panel %}
<div data-role="page" data-theme="x" class="xui-orderListPage"  data-title="{{ page_title }}">
	<div data-role="content" data-theme="x">
        {% if orders %}
        <div class="xui-list mt10 mb40 xt-orderList">
            <ul data-role="listview" data-theme="x" data-icon="false">
                {% for order in orders %}
                <li class="pt20 pb10 pl20">
                    <a href="./?woid={{request.webapp_owner_id}}&module=apps:shihuazhiye:mall&model=order&action=pay&order_id={{order.order_id}}&workspace_id=apps:shihuazhiye:mall">
                        <div class="clearfix">
                            <div class="fl">报名号：{{ order.order_id }}</div>
                            <div class="fr xt-status">
                            {% ifequal order.status 0 %}
                                    <span class="xui-text-red">[待支付]</span>
                                {% endifequal %}
                                {% ifequal order.status 1 %}
                                    [已取消]
                                {% endifequal %}
                                {% ifequal order.status 2 %}
                                    <span class="xui-text-green">[已支付]</span>
                                {% endifequal %}
                                {% ifequal order.status 3 %}
                                    <span class="xui-text-orange">[待发货]</span>
                                {% endifequal %}
                                {% ifequal order.status 4 %}
                                    <span class="xui-text-green">[已发货]</span>
                                {% endifequal %}
                                {% ifequal order.status 5 %}
                                    <span class="xui-text-green">[已完成]</span>
                                {% endifequal %}
                            </div>
                        </div>
                        <div class="clearfix mt10">
                            <div class="fl xt-productCount">{{ order.product_count }}人次课程</div>
                            <div class="fr xui-inner-time">{{ order.created_at|date:"Y-m-j H:i" }}</div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
            <div class="xui-errorInfo">您还没有报名信息</div>
        {% endif %}
	</div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
