{% extends "content_base_v2.html" %}

{% block css %}
<style>
    table.xui-groups td .xui-group_name{
	    text-align: left;
	    margin-left: 22px;
	    color:#333333;
    }
    table.xui-groups td .xui-productImgBox{
    	width: 70px;
    	height: 70px;
    	display: inline-block;
    }
    table.xui-groups td .xui-productImgBox img{
    	width: 60px;
    	height: 60px;
    	margin: 5px;
    }
    table.xui-groups td .xui-productNameBox{
    	width: 140px;
    	display: inline-block;
    }
    table.xui-groups tr.xui-product_itle{
    	background:#F2F0F1 !important;
    }
    table.xui-groups tr.xui-product_record{
    	background:#FFFFFF !important;
    	border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
    }
    table.xui-groups tr td .xui-time_start,table tr td .xui-time_end{
    	width: 85px;
    	display: inline-block;
    }
    table.xui-groups tr td .xui-group_action .xui-i-action{
		display: inline-block;
		text-align: center;
    }


</style>
{% endblock %}

{% block content-panel %}
<div class="xui-GroupsAppPage xui-appPage-commonStyle">
	<div class="relative">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
			<li><a href="/apps/">百宝箱</a></li>
			<li class="active">团购</li>
		</ul>
	</div>

	<div class="xui-filterPanel mb15">
		<div class="xui-form disT">
			<div class="xui-col disTc">
				<div class="xui-i-item">
					<label class="">商品名称：</label>
					<input type="text" class="form-control" id="product_name" name="product_name" value="" />
				</div>
			</div>

			<div class="xui-col disTc">
				<div class="xui-i-item ml20">
					<label>状态：</label>
					<select class="" id="status" name="status">
						<option value="-1">全部</option>
						<option value="0">未开启</option>
						<option value="1">进行中</option>
						<option value="2">已结束</option>
					</select>
				</div>
			</div>
			<div class="xui-col disTc">
				<div class="xui-i-item">
					<label>起止时间
					：</label>
					<input
						type="text"
						class="form-control xui-datePicker"
						id="start_time"
						name="start_time"
						style=""
					    value=""
					    readonly="readonly"
						data-enable-select-time="true"
						data-validate="require-notempty"
						data-ui-role="date-picker"
					    data-format="yy-mm-dd HH:MM" />
					至
					<input
						type="text"
						class="form-control xui-datePicker"
						id="end_time"
						name="end_time"
					    value=""
					    readonly="readonly"
					    data-enable-select-time="true"
						data-validate="require-notempty"
						data-ui-role="date-picker"
					    data-format="yy-mm-dd HH:MM"
					    data-min-el="#start_time"/>
				</div>
			</div>
			<div class="xui-col disTc">
				<div class="xui-i-item">
					<label class="">团购名称：</label>
					<input type="text" class="form-control" id="group_name" name="group_name" value="" />
				</div>
			</div>
		</div>
		<div class="xui-btn-group">
			<a class="btn btn-primary mr40 xa-search xui-fontBold" href="javascript:void(0);">查&nbsp;&nbsp;&nbsp;询</a>
			<a class="btn btn-default xa-reset xui-fontBold" href="javascript:void(0);">重&nbsp;&nbsp;&nbsp;置</a>
		</div>
	</div>

	<div class="panel panel-default xui-tableBox">
		<div class="panel-header clearfix">
			<a href="/apps/group/group/" class="btn btn-success fr">
				<span class="xui-plusBoldermr5 xui-plus-sign pr" style="">+</span> 新建团购
			</a>
		</div>

		<div
			class="panel-body panel-table p0"
			data-ui-role="advanced-table"
			data-app="apps/group"
			data-resource="groups"
			data-template-id="#table"
			data-enable-paginator="true"
			data-enable-sort="false"
			data-selectable="false"
			data-disable-header-select="true"
			data-item-count-per-page="10"
		>
		</div>
	</div>
</div>
{% endblock %}


{% block js %}
{% verbatim %}
<script id="table" type="text/x-jquery-tmpl">
	{{if items!='' }}
	<table class="table table-bordered xb-stripedTable xb-noTdBorder xb-noBottom xb-noBorder xb-theadBg mb10 xui-groups">
		<thead>
			<tr>
				<th>商品信息</th>
				<th>开团人数</th>
				<th>购买人数</th>
				<th>浏览人数</th>
				<th>状态</th>
				<th>起止时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		  {{each(i, item) items}}
            <tr class="xui-product_itle" data-id="${item.id}">
                <td colspan="7">
                    <div title="${item.name}" class="xui-group_name">
                        团购名称：${item.name}
                    </div>
                </td>
            </tr>
			<tr data-id="${item.id}" class="xui-product_record">
				<td
					class="tl pl25"
					style="width:250px; height:60px;"
					title="${item.name}"
				>
					<div class="xui-productImgBox">
						<img class="xui-productImg" src="${item.product_img}">
					</div>
					<div class="xui-productNameBox">
					   <a
						class="xui-ellipsisFox"
						limit="15"
						href="/apps/group/group/?id=${item.id}&related_page_id=${item.related_page_id}">
							${item.product_name}
						</a>
					</div>
				</td>
				<td>
					${item.group_item_count}
				</td>
				<td>
					${item.group_customer_count}
				</td>
				<td>
					${item.group_visitor_count}
				</td>
				<td>
					${item.status}
				</td>
				<td >
				 <div class="xui-time_start">
				 	<div class="xui-i-time_date">${item.start_time_date}</div>
				 	<div class="xui-i-time_time">${item.start_time_time}</div>
				 </div>
				 <div class="xui-time_end">
				 	<div class="xui-i-time_date">${item.end_time_date}</div>
				 	<div class="xui-i-time_time">${item.end_time_time}</div>
				 </div>

				</td>
				<td>
					<div class="xui-group_detail">
						<a href="/apps/group/group_participances/?id=${item.id}" class="ml5">参团详情</a>
					</div>
					<div class="xui-group_action">
						{{if (item.handle_status === 0)}}
							{{if (item.status === '进行中')}}
							<div class="xui-i-action">
								<a href="javascript:void(0)" class="xa-close" data-id=${item.id}>结束</a>
							</div>
							{{/if}}
							{{if (item.status === '未开启')}}
							<div class="xui-i-action">
								<a href="/apps/group/group/?id=${item.id}&related_page_id=${item.related_page_id}" class="xa-edit" data-id=${item.id}>编辑</a>
							</div>
							{{/if}}
							{{if (item.status === '未开启')}}
							<div class="xui-i-action">
								<a href="javascript:void(0)" class="xa-start" data-id=${item.id}>开启</a>
							</div>
							{{/if}}

							{{if (item.status === '已结束')}}
							<div class="xui-i-action">
								<a href="javascript:void(0)" class="xa-delete" data-id=${item.id}>删除</a>
							</div>
							{{/if}}
						{{else}}
							{{if (item.status === '进行中')}}
								<div class="xui-i-action">
									<a href="javascript:void(0)" class="xa-close" data-id=${item.id}>结束</a>
								</div>
								{{/if}}
								{{if (item.status === '未开启')}}
								<div class="xui-i-action">
									<a href="/apps/group/group/?id=${item.id}&related_page_id=${item.related_page_id}" class="xa-edit" data-id=${item.id}>编辑</a>
								</div>
								{{/if}}
								{{if (item.status === '未开启')}}
								<div class="xui-i-action">
									<a href="javascript:void(0)" class="xa-close" data-id=${item.id}>结束</a>
								</div>
								{{/if}}

								{{if (item.status === '已结束')}}
								<div class="xui-i-action">
									<a href="javascript:void(0)" class="xa-delete" data-id=${item.id}>删除</a>
								</div>
								{{/if}}
						{{/if}}




					</div>
					<!-- <a href="javascript:void(0);" class="ml5 xa-preview" data-id=${item.id}>预览</a> -->
				</td>
			</tr>
			{{/each}}
		</tbody>
		<div class="cb"></div>
	</table>
	{{else}}
		<div class="xui-emptyBox m10">
			<img src="/static_v2/img/editor/empty.png">
			<span class="ml20">您还没有相关数据！</span>
		</div>
	{{/if}}
	<br>
</script>
{% endverbatim %}

<script type="text/javascript">
$(document).ready(function() {
    var table = $('div[data-ui-role="advanced-table"]').data('view');

	$('body').delegate('.xa-delete', 'click', function(event) {
		var $el = $(event.target);
		var id = $el.data('id');
		W.requireConfirm({
			$el: $el,
			width: 420,
			height: 55,
			position: 'right-middle',
			isTitle: false,
			msg: '确定删除？',
			confirm: function() {
				W.getApi().call({
					app: 'apps/group',
					resource: 'group',
					method: 'delete',
					args: {
						id: id
					},
					success: function(data) {
						W.showHint('success', '删除数据成功！');
						table.reload();
					},
					error: function(response) {
						W.showHint('error', '删除数据失败，请稍后再试！');
					}
				});
			}
		});
	});

	$('body').delegate('.xa-start', 'click', function(event) {
		var $el = $(event.target);
		var id = $el.data('id');
		W.getApi().call({
			app: 'apps/group',
			resource: 'group_status',
			method: 'post',
			args: {
				id: id,
				target: 'running' //进行中
			},
			success: function(data) {
				W.showHint('success', '开启活动成功！');
				table.reload();
			},
			error: function(response) {
				W.showHint('error', '更新状态失败，请稍后再试！');
			}
		});
	});
	$('body').delegate('.xa-close', 'click', function(event) {
		var $el = $(event.target);
		var id = $el.data('id');
		W.getApi().call({
			app: 'apps/group',
			resource: 'group_status',
			method: 'post',
			args: {
				id: id,
				target: 'stoped' //结束
			},
			success: function(data) {
				W.showHint('success', '关闭活动成功！');
				table.reload();
			},
			error: function(response) {
				W.showHint('error', '更新状态失败，请稍后再试！');
			}
		});
	});

	$('body').delegate('.xa-preview', 'click', function(event) {
		var $el = $(event.target);
		var id = $el.data('id');
		var previewUrl = '/m/apps/group/m_group/?woid='+W.uid+'&id='+id;
		window.open('/termite2/app_preview/?preview_url='+encodeURIComponent(previewUrl), '_tab');
	});

	$('.xa-search').click(function(event) {
		var group_name = $.trim($('[name="group_name"]').val());
		var product_name = $.trim($('[name="product_name"]').val());
		var status = $.trim($('[name="status"]').val());
		var startTime = $.trim($('[name="start_time"]').val());
		var endTime = $.trim($('[name="end_time"]').val());
		table.reload({
			group_name:group_name,
			product_name: product_name,
			status: status,
			start_time: startTime,
			end_time: endTime
		}, {
			emptyDataHint: '没有符合条件的数据'
		});
	});

	$('.xa-reset').click(function(event) {
		$('[name="group_name"]').val('');
		$('[name="product_name"]').val('');
		$('[name="status"]').val('-1');
		$('[name="start_time"]').val('');
		$('[name="end_time"]').val('');
	});

});
</script>
{% endblock %}

