@charset "utf-8";

.xui-hidden {
	display: none;
}
.xui-btn {
    background: #000000 none repeat scroll 0 0;
    border-radius: 4px;
    display: inline-block;
    font-size: 1.1em;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    text-shadow: none;
    white-space: nowrap;
}
.xui-btn-danger {
    background: #d10000 none repeat scroll 0 0;
    border: 1px solid #d10000;
    color: #ffffff;
}
.xui-btn-disable {
	background-color: #AAAAAA;
	border: 1px solid #d10000;
    color: #ffffff;
}
.xui-mandatory:before {
	font-size: 1.4em;
	content: "*";
	color: #FF0000;
	vertical-align: middle;
	position: relative;
	top: 4px;
	right: 5px;
}




/** 
 * app cover样式
 */
.wui-appParticipantResult-Cover {
	position: absolute;
	width: 100%;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0px;
	left: 0px;
}
.wui-appParticipantResult-Cover .wui-i-background {
	background-color: #FFF;
	width: 75%;
	margin: 0px auto;
	margin-top: 30%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: relative;
	padding-top: 8%;
	padding-bottom: 5%;
}
.wui-appParticipantResult-Cover .wui-i-successIcon {
	border: 5px solid #59c969;
    border-radius: 50%;
    color: #59c969;
    font-size: 50px;
    height: 60px;
    line-height: 60px;
    margin: 0 auto;
    text-align: center;
    width: 60px;
}
.wui-appParticipantResult-Cover .wui-i-successText {
	color: #333;
	font-size: 30px;
	text-align: center;
	margin-top: 4%;
}
.wui-appParticipantResult-Cover .wui-i-info {
	color: #999;
	font-size: 20px;
	text-align: center;
	margin-top: 8%;
}
.wui-appParticipantResult-Cover .wui-i-button {
	margin: 0px auto;
	text-align: center;
	margin-top: 6%;
	background-color: #057FCD;
	padding: 15px 0px;
	font-size: 20px;
	color: #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.wui-appParticipantResult-Cover .wui-i-buttons-1 .wui-i-button{
	display: block;
	width: 70%;
}
.wui-appParticipantResult-Cover .wui-i-buttons-2 .wui-i-button{
	display: inline-block;
	width: 45%;
	margin:35px 0 0 5px;
}

.wui-appParticipantResult-Cover .wui-i-close {
	border: 2px solid #999;
    border-radius: 50%;
    color: #999;
    cursor: pointer;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin: 0 auto;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 20px;
}






/**
 * 用户调研survey description样式
 */
.wui-surveyDescription {
    padding: 20px;
}
.wui-surveyDescription .wui-i-title {
    margin-top: 15px;
    font-size: 24px;
    font-weight: bold;
}
.wui-surveyDescription .wui-i-subtitle {
    margin-top: 20px;
    color: #A0A0A0;
    font-size: 20px;
}
.wui-surveyDescription .wui-i-description {
    margin-top: 25px;
    color: #666;
    padding-bottom: 20px;
}
.wui-surveyDescription .wui-i-info {
	border-top: solid 1px #E5E5E5;
    padding: 25px 0px 5px 0px;
    color: #999;
}


/**
 * 用户调研qa样式
 */
.wui-QA {
	padding: 15px 20px 0px 20px;
}
.wui-QA .wui-i-title {
	color: #333;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	border-left: solid 8px #1AA2F8;
	padding-left: 10px;
}
.wui-QA .wui-i-mandatory {
	color: #CDCDCD;
}
.wui-QA .wui-i-input {
	min-height: 150px;
	width: 100%;
	border: solid 1px #E5E5E5;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	padding: 5px;
}


/**
 * 用户调研的文本调研组件样式
 */
.wui-textSelection {
	padding: 15px 20px 0px 20px;
}
.wui-textSelection .wui-i-title {
	color: #333;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
	border-left: solid 8px #1AA2F8;
	padding-left: 10px;
}
.wui-textSelection .wui-i-mandatory {
	color: #CDCDCD;
}
.wui-textSelection .wui-i-items {
	padding: 15px;
	background-color: #FFF;
}
.wui-textSelection .wui-i-item {
	padding: 3px 0px;
	border-bottom: solid 1px #E5E5E5;
}
.wui-textSelection .wui-i-item:last-child {
	border-bottom: none;
}




/**
 * 用户调研的快捷模块组件样式
 */
.wui-shortcuts {
	padding: 15px 0px;
}
.wui-shortcuts .wui-i-item {
	margin-top: 10px;
	background-color: #FFF;
	width: 100%;
	display: table;
}
.wui-shortcuts .wui-i-label {
	width: 80px;
	text-align: right;
	color: #666;
	display: table-cell;
	vertical-align: middle;
}
.wui-shortcuts .wui-i-inputContainer {
	padding: 5px;
	display: table-cell;
}
.wui-shortcuts .wui-i-input {
	display: block;
	padding: 5px;
	border: solid 1px transparent;
	color: #878787;
	vertical-align: middle;
	width: 95%;
}





/** 
 *
 */
.wui-submitButton {
	margin: 26px 10px;
}
.notweixin .wui-submitButton {
	display: none;
}
.wui-submitButton .xui-btn {
	padding: 11px 0;
    width: 100%;
    border: none;
}
/*活动的图标*/
.wui-i-time,.wui-i-prize{
	margin-top: 9px;
}
.xui-sprite-timerange{
	background: url('/static_v2/img/m_sprite.png') no-repeat;
	background-position: 0 5px;
	display: block;
	height: 35px;
	width: 30px;
	float: left;
}
.xui-sprite-prize {
	background: url('/static_v2/img/m_sprite.png') no-repeat;
	background-position: -40px 5px;
	display: block;
	height: 35px;
	width: 30px;
	float: left;
}

.wui-lotterydescription{
	background: url("/termite_static/img/component/lottery/roulette_background.png") no-repeat scroll 42% 100% / 110% 100%;
	height: 440px;
	padding-top: 0;
	margin-top: -40px;
}
.wui-lotterydescription>.wui-i-title{
	background: url("/termite_static/img/component/lottery/roulette_title.png") no-repeat scroll 42% 100% / 100% auto;
	padding-top: 0;
	height: 140px;
}
.wui-surveyDescription>.wui-i-innerTitle {
	background: #8d00ab none repeat scroll 0 0;
	font-size: 24px;
	font-weight: bold;
	margin-left: 25%;
	margin-top: 8px;
	padding: 0 5px;
	position: absolute;
	color: white;
}
.wui-lotterydescription>.wui-i-header{
	text-align: center;
}
.wui-lotterydescription>.wui-i-body{
	height: calc(60px * 4 + 3px + 35px);
	width: calc(60px * 4 + 3px + 35px);
	margin-left: auto;
	margin-right: auto;
	padding: 2px;
	position: relative;
	background: #6F2023;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.wui-lotterydescription>.wui-i-body table{
	background: #6F2023;
	height: calc(60px * 4 + 3px);
	width: calc(60px * 4 + 3px);
	margin-left: auto;
	margin-right: auto;
}
.wui-lotterydescription>.wui-i-body .xui-lottery-unit{
	background-color: transparent;
	background-image: url("/termite_static/img/component/lottery/roulette_cube.png");
	background-size: 410% 410%;
	height: 60px;
	width:60px;
	text-align: center;
	border: 1px;
	border-radius:5px;
}
.xa-lottery-unit-0{
	background-position: 0 0;
}
.xa-lottery-unit-1{
	background-position: -62px 0;
}
.xa-lottery-unit-2{
	background-position: -124px 0;
}
.xa-lottery-unit-3{
	background-position: -186px 0;
}
.xa-lottery-unit-11{
	background-position: 0 -63px;
}
.xa-lottery-unit-4{
	background-position: -186px -62px;
}
.xa-lottery-unit-5{
	background-position: -186px -127px;
}
.xa-lottery-unit-6{
	background-position: -186px -189px;
}
.xa-lottery-unit-7{
	background-position: -124px -189px;
}
.xa-lottery-unit-8{
	background-position: -62px -189px;
}
.xa-lottery-unit-9{
	background-position: 0 -190px;
}
.xa-lottery-unit-10{
	background-position: 0 -126px;
}
.xa-lottery-go{
	text-align: center;
	background: #D61625;
	border-radius: 5px;
}
.xa-lottery-go>a{
	border: 1px solid black;
    color: #ffcf3d;
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    height: 100px;
    line-height: 100px;
    width: 90%;
	box-shadow: 0 0 3px black inset;
	border-radius: 5px;
}
.xui-lottery-unit .xa-lottery-unit img{
	height: 63px;
	width: 63px;
	margin: auto;
}
.xui-lottery-unit.active{
	background-color:#FFFF01;
	box-shadow: 0 0 10px #FFFF01;
	-webkit-box-shadow: 0 0 5px #FFFF01;
}

.xa-circle.active{
	background-color:#FFFF01;
	box-shadow: 0 0 10px #FFFF01;
	-webkit-box-shadow: 0 0 5px #FFFF01;
	-moz-box-shadow: 0 0 5px #FFFF01;
}
.xa-circle-unit-0{
	top:1.5%;
	left: 1%;
}
.xa-circle-unit-1{
	top:1.5%;
	left: 26%;
}
.xa-circle-unit-2{
	top:1.5%;
	left: 48%;
}
.xa-circle-unit-3{
	top:1.5%;
	left: 70%;
}
.xa-circle-unit-4{
	top:1.5%;
	left: 95%;
}
.xa-circle-unit-5{
	top: 26%;
	left: 95%;
}
.xa-circle-unit-6{
	top: 48%;
	left: 95%;
}
.xa-circle-unit-7{
	top: 70%;
	left: 95%;
}
.xa-circle-unit-8{
	top: 94%;
	left: 95%;
}
.xa-circle-unit-9{
	top: 95%;
	left: 70%;
}
.xa-circle-unit-10{
	top: 95%;
	left: 48%;
}
.xa-circle-unit-11{
	top: 95%;
	left: 26%;
}
.xa-circle-unit-12{
	top: 95%;
	left: 1%;
}
.xa-circle-unit-13{
	top: 70%;
	left: 1%;
}
.xa-circle-unit-14{
	top: 48%;
	left: 1%;
}
.xa-circle-unit-15{
	top: 26%;
	left: 1%;
}