<script id="apps-prize-keyword-tmpl-src" type="text/x-jquery-tmpl">
    <div class="xui-newKeyView pa">
    <div class="xui-key">
         <div class="xui-i-left"><span class="xui-colorRed">*</span> 规则：</div>
         <div class="xui-i-right">
            <span class="ml20 xa-radio"><input type="radio" class="xa-exact" name="radiobutton" value="0" checked ></span>
            <span class="ml10"> 精确匹配 </span>
            <span class="ml50 xa-radio"><input type="radio" class="xa-mistiness" name="radiobutton" value="1"  ></span>
            <span class="ml10"> 模糊匹配 </span>
         </div>
         <div class="xui-i-left"><span class="xui-colorRed">*</span> 关键词：</div>
         <div class="xui-i-right">
            <input type="text"  maxlength=15  data-validate="require-string" data-maxlength="15" data-minlength="1" class="xa-app-add lh24 w198" placeHolder="输入回车可添加多个关键词"/>
         </div>
    </div>
    <div class="xui-show xa-keywords">
    </div>
        <div class="errorHint xa-errorHint ml20 mb10 cb" style="text-align:left; display:none"></div>

        <div class="tc pb20 cb"> <span class="btn btn-primary xui-save xa-appendSubmit">确&nbsp;&nbsp;定</span><span class="btn btn-default xa-cancel xui-delete ml20 ">取&nbsp;&nbsp;消</span> </div>
    </div>
</script>

<script id="apps-addkey-view-tmpl-src" type="text/x-handlebars-template">
    <div id="keyword-{{ id }}" class="xui-patterns xa-data-patterns fl mt10 ">
        <div class="xui-i-key fl ">
            <span class="data-keyword" data-keyword="{{ keyword }}"> {{ keyword }}</span>
        </div>
        <div class="xui-i-type fl  xa-mode">
            <span class="xa-data-type" data-type="{{ type }}">{{mode}}</span>
            <img id="close-btn-{{ id }}" class="fr xui-close xa-close" src="/static_v2/img/editor/icon_delete.png" />
        </div>
    </div>
</script>



