{% extends "content_base.html" %}
{% load common_tag %}
{% load account_filter %}
{% load workbench_filter %}

{% block content-panel %}
{% with page.component.model as page_model %}
<div class="relative">
	<ul class="breadcrumb">
		<li class="active">{{page_model.entityName}}列表</li>
	</ul>
	<span class="breadcrumRightButton">
		{% if page.filter_component %}
		<div class="btn-group">
			<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
				{{ page.current_filter.text }}
				<span class="caret"></span>
			</a>
			<ul class="dropdown-menu">
				{% for filter in page.filters %}
				<li><a href="javascript:void(0);" data-filter="{{filter.name}}">{{filter.text}}</a></li>
				{% endfor %}
			</ul>
		</div>
		{% endif %}
		<a class="btn btn-primary" href="/workbench/viper/record/create/?project_id={{project_id}}&page_id={{page.page_id}}"><i class="icon-plus icon-white"></i>添加{{page_model.entityName}}</a>
	</span>
</div>

{% if records %}
<div>
	<table class="table table-bordered table-condensed" {% ifequal page_model.is_list_item_sortable "yes" %}data-ui-role="sortable-table"{% endifequal %} data-sort-app="workbench/viper" data-sort-api="record_display_index/update">
		<thead>
			<tr>
				{% for column in page.columns %}
				<th>{{column.label}}</th>
				{% endfor %}
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{% for record in records %}
			<tr data-id="{{record.id}}">
				{% for column in page.columns %}
				<td {% if column.width %}style="width: {{column.width}}px"{% endif %} {% if forloop.first %}class="sortHandle"{% endif %}>
					{% ifequal column.type 'viper.image_selector' %}
					<div class="imgBox fl m5" style="width: auto; padding: 5px;">
						<img src="{{record|get_record_value:column.name}}" width="80"/>
					</div>
					{% else %}
						{% ifequal column.type 'viper.checkbox_group' %}
						{% for item in record|get_record_values:column.name %}
						<div class="alert alert-info alert-category">
							<button type="button" class="close" data-record-id="{{ item.record_id }}" data-field-name="{{ item.name }}">&times;</button>
							{{ item.text }}
						</div>
						{% endfor %}
						{% else %}
							{% ifequal column.name 'webapp_url' %}
							./?type=viper&rid={{record.id}}
							{% else %}
							<div>
								{% if column.name %}
								{{record|get_record_value:column.name}}
								{% else %}
								{{column}}
								{% endif %}
							</div>
							{% endifequal %}
						{% endifequal %}
					{% endifequal %}
				</td>
				{% endfor %}
				<td style="width: 60px;">
					<a class="btn btn-mini" title="编辑" href="/workbench/viper/record/update/?project_id={{project_id}}&page_id={{page.page_id}}&record_id={{record.id}}&datasource_filter={{page.page_id}}_{{record.id}}"><i class="icon-pencil"></i></a>
					<a class="btn btn-danger btn-mini wx_delete" title="删除" href="/workbench/viper/record/delete/?project_id={{project_id}}&page_id={{page.page_id}}&record_id={{record.id}}"><i class="icon-remove icon-white"></i></a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% ifequal page_model.is_enable_paginate "yes" %}
	<div data-ui-role="paginator" data-pageinfo='{{pageinfo|safe}}'></div>
	{% endifequal %}
</div>
{% else %}
	<img src="/static/img/img_kong_sp.jpg" class="ml40 mt20" />
{% endif %}
{% endwith %}
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function() {
		$('ul.dropdown-menu a').click(function(event) {
			var $link = $(event.currentTarget);
			var filter = $link.attr('data-filter');
			var url = parseUrl(window.location.href);
			if (filter !== url.query.filter) {
				url.query.page = '1';
			}
			if (filter === 'all') {
				delete url.query.filter;
			} else {
				url.query.filter = filter;
			}

			var items = [];
			_.each(url.query, function(value, key) {
				items.push(key+'='+value);
			});

			var newUrl = url.baseUrl + '?' + items.join('&');
			window.location.href = newUrl;
		});
	});
</script>
{% endblock %}