{% extends "new_jqm_content_base.html" %}
{% load common_tag %}

{% block content-panel %}
<div data-role="page" data-theme="x" data-title="{{ page_title }}">
    <a href="./?woid={{request.webapp_owner_id}}&module=mall&model=shopping_cart&action=show" class="xui-shoppingCartBtn" data-role="button">
        {{shopping_cart_product_nums}}
    </a>

    {% if has_category %}
    <ul data-ui-role="top-dropdown-nav">
        <li></li>
        <li><a href="./?woid={{request.webapp_owner_id}}&module=mall&model=products&action=list" data-role="button">全部</a></li>
        {% for product_category in product_categories %}
        <li><a href="./?woid={{request.webapp_owner_id}}&module=mall&model=products&action=list&category_id={{product_category.id}}" data-role="button">{{product_category.name}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
  
    <div data-role="content" data-theme="x">
        <div class="xui-hlist xui-hlist-cell-2 xui-products-original">
            {% if products %}
            <ul data-role="listview" data-theme="x" data-icon="false">
                {% for product in products %}
                <li>
                    <a href='./?woid={{request.webapp_owner_id}}&module=mall&model=product&rid={{product.id}}'>
                        <div class="img"><img src="{{ product.thumbnails_url }}" auto_height="160:160"></div>
                        <h3 limit="16">{{ product.name }}</h3>
                        <p>                            
                        {% if product.type == 'integral' %}
                            <!-- 积分商品 -->
                            {{ product.display_price }}积分
                        {% elif product.type == 'object' %}                    
                            <!-- 普通商品 -->
                            ￥{{ product.display_price }}
                        {% endif %}
                        </p>
                    </a>
                    {% ifequal product.stock_type 1 %}
                        {% ifequal product.stocks 0 %}
                        <div class="xui-sellout-tag fr"><div class="xui-sellout-middle"><div class="xui-sellout-inner">已售罄</div></div></div>
                        {% endifequal %} 
                    {% endifequal %}
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <h2>没有相关商品</h2>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
jQuery.fn.limit=function(){  
    var self = $("[limit]");  
    self.each(function(){  
        var objString = jQuery.trim($(this).text());  
        var objLength = objString.length;  
        var num = $(this).attr("limit");  
        if(objLength > num){  
            $(this).attr("title",objString);  
            objString = $(this).text(objString.substring(0,num) + "...");  
        }  
    })  
} 
$(document).ready(function() {
    $(document.body).limit(); 
    $('[auto_height]').imageAutoHeight();
    if ("{{shopping_cart_product_nums}}" === "0") {
            $('.xui-shoppingCartBtn .ui-btn-text').css('display', 'none');
    }else{
        $('.xui-shoppingCartBtn .ui-btn-text').css('display', 'inline-block');
    };
});
</script>
{% endblock %}