{% extends "order_content_base.html" %}
{% load common_tag %}

{% block content-panel %}
<div class="relative">
	<ul class="breadcrumb">
		<li class="active">订单管理</li>
	</ul>
</div>

<div class="ft-order mt20 pt15 ft-boder-table">
	<div class="tx_showTableList"></div>

	<div
			data-ui-role="order-delivery-advanced-table"
			data-app="ft/waybill"
			data-api="orders"
			data-enable-paginator="true"
			data-template-id="#orders-view"
			data-init-sort="-created_at"
			data-item-count-per-page="15"
			>
	</div>
</div>
{% endblock %}

{% block jsTemplate %}
	{% include_raw 'jsTemplate/paginationView.html' %}
	{% include_raw 'jsTemplate/ordersView.html' %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	//订单详情[TABLE]			RiceOrderDetailView
/*
	var orderDetailView = new W.OrderDetailListView({
		el: '.tx_showTableList',
		template: '#orders-view',
		collectionClass: W.OrderDetailCollection,
		collection: {
		}
	});
	orderDetailView.bind('reloading', function(args) {
		args = args || {};
		var isLoadStatus = args.status && args.status !== '-1' ? true : false;
		var isLoadSource = args.source && args.source !== '-1' ? true : false;
		var isLoadSearch = args.order_id ? true : false;
		if(isLoadStatus || isLoadSource || isLoadSearch) {
			$('[name="total_statistics"]').hide();
		}
		else {
			$('[name="total_statistics"]').show();
		}
	}, orderDetailView);*/
});
</script>
{% endblock %}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   