{% extends "content_base.html" %}
{% load common_tag %}
{% load account_filter %}

{% block css %}
<style>
.vote_statistics {
	padding: 15px 15px;
	margin-bottom: 20px;
	background-color: #F0F0F0;
}

.statistics_block span {
	font-size: 16px;
	line-height: 30px;
}

.statistics_block span.name {
	min-width: 130px;
	max-width: 130px;
	display: inline-block;
}

.statistics_block table {
	width: 80%;
	padding-bottom: 20px;
	margin: -25px 0px 0px 130px;
	background-color: #FFFFFF;
}

.statistics_block table thead {
	background-color: #D0D0D0;
	height: 35px;
}

.statistics_block thead th {
	vertical-align: middle;
	border-right: 3px solid #FFFFFF;
}

.statistics_block thead th:first-child {
	border-left: 3px solid #FFFFFF;
}

.column_block {
	display: inline-block;
	vertical-align: middle;
}

.one-member-block {
	margin-top: 10px;
}

.one-member-block:first-child {
	margin-top: 0;
}

img.member_head_img {
	width: 60px;
}
</style>
{% endblock %}

{% block content-panel %}
<div class="relative">
	<ul class="breadcrumb">
		<li class="active">趣味测试列表</li>
	</ul>
	<span class="breadcrumRightButton">
		<a class="btn btn-primary" href="./test_game/create/">添加趣味测试<i class="icon-plus icon-white"></i></a>
	</span>
</div>
{% if test_games %}
<div>
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th>趣味测试名称</th>
				<th>参加人数</th>
				<th>操作</th>
				
			</tr>
		</thead>
		<tbody>
			{% for test_game in test_games %}
			<tr data-id="{{ test_game.id }}">
				<td><a href="./test_game/update/{{test_game.id}}/">{{test_game.name}}</a></td>
				<td><a class="relation-text" href="javascript:void(0);">{{test_game.joined_user_count}}</a></td>
				<td><a class="btn btn-danger wx_delete" href="./test_game/delete/{{ test_game.id }}/">删除</a></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div data-ui-role="paginator" data-pageinfo='{{pageinfo|safe}}'></div>
</div>
{% else %}
	当前还没有趣味测试，请添加
{% endif %}
{% endblock %}
{% block js %}
<script>
	$('.relation-text').click(function(event){
		var _this = this;
		var $el = $(event.currentTarget);
        var $tr = $el.parents('tr');

		if ($el.html() == '0') {
			return false;
		}

		W.dialog.showDialog('W.weapp.markettools.test_game.dialog.JoinUsersDialog', {
			gameId: $tr.attr('data-id')
      	});
	});
</script>
{% endblock %}
