{% load workbench_filter %}

{% ifequal component.type 'appkit.groupdescription' %}
    <div class="wui-group-container">
        <div class="wui-i-body">
            <div class="wui-i-help_group">
                <div class="wui-i-shop_circle">
                    <img src="/static/img/default_shop_avatar.png">
                </div>
                <div class="wui-i-title-pic">
                </div>
                <div class="wui-i-rules xa-rules">
                    <div class="wui-i-title xa-i-title">
                        <span class="wui-i-rules-title-content xa-i-rules-title-content">
                            <i class="wui-i-star"></i><p>团购说明</p><i class="wui-i-star"></i>
                        </span>
                    </div>
                    <div class="wui-i-rules-contentbox xa-i-rules-contentbox none">
                        <div class="wui-i-closebtn xa-i-closebtn">
                            ×
                        </div>
                        <div class="wui-i-rules-content xa-i-rules-content">
                            <div class="wui-i-title-box xa-i-title-box">
                                <p class="wui-i-title">团购说明</p>
                            </div>
                            <div class="wui-i-content-box xa-i-content-box">
                                {{ component.model.rules|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wui-i-description xa-description cl">
                <div class="wui-i-description-content">
                    <div class="wui-i-product-title">{{ component.model.title }}</div>
                    <div class="wui-i-product-img">{{ component.model.product_img }}</div>
                    <div class="wui-i-choose_group_box">
                        <span>选择团购</span>
                        <span class="wui-i-end_time">开团截止日期：{{component.model.end_time}}</span>
                        	<label for="radio_item_{{component.cid}}" style="display:block; padding: 3px 0px;">
                                <span id="radio_item_{{component.cid}}" name="radio_{{component.parent_component.cid}}"
                                      data-type="radio" span-type="selection"  class="selection-radio" data-input-name="{{ component.model.group_type }}">
                                </span>
                                <span class="ml5 xa-itemTitle" style="margin-left: 30px!important;line-height: 22px;">{{ component.model.group_type }}人团</span>
                                <span class="ml5 xa-itemTitle" style="margin-left: 20px!important;line-height: 22px;">拼团时间{{ component.model.group_days }}天</span>
                                <span class="ml5 xa-itemTitle" style="margin-left: 20px!important;line-height: 22px;">团购价：{{ component.model.group_price }}元</span>
                            </label>
                    </div>
                    <div class="wui-i-group_box_progress none">
                        <span>团购进度</span>
                        <div class="wui-i-timing wa-timing">
                            <b class="xa-day">{% if component.model.timing_value.day %}{{component.model.timing_value.day}}{% else %}99{% endif %}</b>天
                            <b class="xa-hour">{% if component.model.timing_value.hour %}{{component.model.timing_value.hour}}{% else %}23{% endif %}</b>时
                            <b class="xa-minute">{% if component.model.timing_value.minute %}{{component.model.timing_value.minute}}{% else %}59{% endif %}</b>分
                            <b class="xa-second">{% if component.model.timing_value.second %}{{component.model.timing_value.second}}{% else %}59{% endif %}</b>秒
                        </div>
                    </div>
                    <div class="wui-i-btngroup">
                        <button class="wui-i-btn-closed wa-closed wui-hide">活动已结束</button>
                        <button class="wui-i-btn-notready wa-notready wui-hide">活动尚未开启,敬请期待</button>
                        <button class="wui-i-btn-power wa-power wui-hide"><span class="wa-power-btn-action">我要参团</span></button>
                        <button class="wui-i-btn-using wa-using wui-hide">我要开团</button>
                        <button class="wui-i-btn-using wa-using-join wui-hide">直接参团</button>
                    </div>
                    <div class="wui-i-states none">
                        <div class="wui-i-title">
                            <span class="wui-i-helper-title-content">
                                <i class="wui-i-star"></i><i class="wui-i-star"></i>
                            </span>
                        </div>
                        <ul class="wa-top100">
                            <li class="wui-i-top100-title" style="padding: 16px 10px 0;">
                                <span style="margin-left: 18px">团员</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endifequal %}
