{% extends "content_base.html" %}

{% load common_tag %}
{% load account_filter %}
{% block content-panel %}
<div class="relative">
	<ul class="breadcrumb">
		<li class="active"><a href="/apps/shengjing/?module=study_plan&resource=course_list&action=get">课程列表</a></li>
	</ul>
</div>
<form class="form-horizontal" method="post" id="editForm">
  <fieldset>
    <div class="control-group">
      <label class="control-label">课程名称：</label>
      <div class="controls">
	      <input type="text" data-validate="required" placeholder="最多30个字" data-validate-max-length="30" name="name" value="{% if course %}{{course.name}}{% endif %}"/>
	      <div class="errorHint"></div>
     </div>
    </div>
    <div class="mb20" style="margin-top: -10px; margin-left: 90px; color: #666;">注：课程名称仅作后台区分课程使用，显示在手机端的课程名称以下方选择的期数为准。</div>
    
    <div class="control-group">
    	<label style="display: block; margin-left: 90px;">选择课程期数：</label>
	    <div 
	    	data-ui-role="select-box-for-member-view"
	    	data-search-data="course_name"
	    	data-app="apps/shengjing"
	    	data-api="study_plan/shengjing_course_list/get"
	    	data-title="所有课程：;己选课程："
	    	data-one-template="#one_course_view_template"
	    	style="margin-left: 90px;"
	    	class="ua-selectView"
	    >
	    </div>
    </div>
    
    <div class="control-group">
		<label class="control-label" for="logo_url">课程封面：</label>
		<div class="controls x-thumbnailUrl">
			<input data-validate="require-image" type="hidden" name="course_cover_pic_url" id="course_cover_pic_url" value="{% if course.course_cover_pic_url %}
			{{ course.course_cover_pic_url }}{% endif %}" data-ui-role="image-selector" data-width="60"
			       data-height="60"/>
			<div data-ui-role="image-selector-view"></div>
			<div class="errorHint"></div>
		</div>
	</div>
	
	 <div class="control-group">
      <label class="control-label">课程描述：</label>
      <div class="controls">
	      <textarea style="width: 486px;" name="course_des" data-validate="required" data-validate-max-length="200">{% if course %}{{ course.introduction }}{% endif %}</textarea>
	      <div class="errorHint"></div>
     </div>
    </div>
    
    <div class="control-group">
		<label  class="control-label" >课程内容：</label>
		<div class="controls">
			<textarea class="input-xlarge hide" id="detail" name="detail" data-ui-role="richtext-editor" data-type="full" data-height="200" data-width="500">{% if course %}{{ course.description|format_emotion|safe }}{% endif %}</textarea>
		</div>
	</div>
	<div class="control-group" style="margin-left: 90px">
		<input type="checkbox" name="non_participants" style="margin-top: -2px; margin-right: 5px"{% if course and course.non_participants == True %} checked=checked{% endif %}>非学员可报名</input>
	</div>
  </fieldset>
  <fieldset>
		<legend></legend>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn btn-success" id="submitBtn" value="&nbsp;&nbsp;提&nbsp;&nbsp;交&nbsp;&nbsp;" />
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}
{% block jsTemplate %}
{% verbatim %}
<script id="one_course_view_template" type="text/x-jquery-tmpl">
	<li data-id="${id}">
		<div class="m5" style="border: 1px solid #ccc; padding:5px;">
			<div class="fl w120">
				<div class="inline-text ml5">${course_name}</div>
				<div class="inline-text ml5 mt5">${start_date}</div>
			</div>
			<div class="fr pt15">
				<input name="member_check" type="checkbox" value="${id}" >
			</div>
			<div class="clear"></div>
		</div>
	</li>
</script>
{% endverbatim %}
{% endblock %}
{% block js %}
<script>
$(document).ready(function() {
	var view = $('.ua-selectView').data('view');
	view.bind('moveRightView', function() {
		setTimeout(function() {
			var course_ids = '{{course_ids}}'.split(',');
			console.log(typeof course_ids, 999, course_ids, '{{course_ids}}')
			var selectView = $('.ua-selectView').data('view');
			var $left = $('.left-data-list');
			var $check = $left.find("input[name='member_check']");
			$check.each(function() {
				var id = $(this).attr('value');
				for (var i=0; i<course_ids.length; i++) {
					if (id==course_ids[i]) {
						$(this).attr('checked', 'true');
					}
				}
			});
			selectView.onRightMoveButton();
		}, 200);
	});


	$('#editForm').submit(function() {
		$('#editForm').find("input[name='course_ids']").remove();
		var $right = $('.right-data-list');
		var $check = $right.find("input[name='member_check']");
		var ids = [];
		var $id = $check.each(function() {
			ids.push($(this).attr('value'));
		});
		var idStr = ids.join(',');
		if (!idStr){
			W.getErrorHintView().show('请选择课程！');
			return false;
		}
		$('#editForm').append($('<input type="text" class="hide" name="course_ids" value="'+idStr+'">'));
		if (!W.validate()) {
			return false;
		}
		return true;
	});
})
</script>
{% endblock %}
