{% extends "content_base_v2.html" %}

{% block css %}
    <style>
        .table >thead tr, .table >tbody tr{
            border-bottom: 1px solid #eee;
        }
        .table>tbody tr th:nth-child(1){
            text-align: left;
            padding-left: 30px;
            max-width: 25%;
        }
        .table>tbody tr th:nth-child(2){
            text-align: left;
            max-width: 680px;
            min-width: 480px;
        }
        .table>tbody tr th:nth-child(3), .table>tbody tr th:nth-child(4){
            width: 100px;
        }
        .table thead > tr:nth-child(1){
            background: #fff;
        }
        .table tbody > tr:nth-child(odd) {
            background: #fff;
        }
        .table tbody > tr:nth-child(even) {
            background: #fff;
        }
        .xui-progressBar{
            position: relative;
            background: #66ABF6;
            vertical-align: middle;
            height: 21px;
            border-radius: 3px;
        }
        span{
            display: inline-block;
        }
        .xui-i-totalcount{
            margin: 7px;
        }
        .xui-i-tableHeader{
            font-family: sans-serif;
            color: #666666;
            font-weight: 600;
            background: #C8D1E4;
            width: 98%;
            margin-left: 10px;
            padding: 15px;
        }
        .xui-advancedTablePaginator {
            background: #F6F6F6;
            margin: -10px 10px -5px 10px;
            padding-bottom: 5px;

        }
        .xui-appPage-commonStyle .xui-paginationPosition{
            position: relative;
        }
        .xb-pagination-component {
            height: 33px;
        }
        td .xui-uploadimg{
          width: 60px;
          height: 75px;
          float: left;
          margin-left: 20px;
        }
        .xa-uploadimg_box{
            display: none;
            position: absolute;
            width: 500px;
            height: auto;
            overflow: auto;
            margin: auto;
            top: 25%; left: 0;right: 0;
            text-align: center;
            background-color: #DDDDDD;
            z-index: 1000000;
            overflow-y: hidden;
        }
        .xa-uploadimg_box .xa-close_btn{
            position: absolute;
            top: 5px; right: 5px;
            z-index: 1000000;
        }
        .xa-uploadimg_box .xa-uploadimg{
            max-width: 100%;
            height: auto;
            border: 2px solid #DDDDDD;
        }
        .xa-arr{
            position: absolute;
            top:40%;
            height: 97px;
            width: 38px;
            background: url("/static_v2/img/arrow_lr.png");
            background-repeat: no-repeat;
            z-index: 1000001;
        }
        .xa-arr.xa-arr_left{
            left: 3px;
        }
        .xa-arr.xa-arr_right{
            right: 2px;
            background-position: -91px;
        }
    </style>
{% endblock %}

{% block content-panel %}
<div class="xui-voteParticipanceFormPage xui-appPage-commonStyle">
	<ul class="breadcrumb" style="margin-bottom:-12px;">
		<li>您当前所在位置</li>
		<li><a href="/apps/lottery/lotteries/">百宝箱</a></li>
		<li><a href="/apps/survey/surveies/">用户调研</a></li>
		<li class="active">查看统计</li>
	</ul>
	
    <div class="panel panel-default xui-tableBox">
        <div class="panel-header clearfix">
            <b class="xui-i-totalcount fr">总参与人数: {{ total_participance }} 人</b>
            <a class="btn btn-default xui-fontBold fr xui-i-exportBtn xa-i-exportBtn" href="javascript:void(0);">批量导出</a>
            <a id="export_href" style="display: none ">DownloadXLS</a>
        </div>
        {% for title in titles %}
            <div class="xui-i-tableHeader">
                <span>{{ forloop.counter }}、{{ title.title }}（{{ title.title_type }}）</span>
                <span class="fr">有效参与人数:{{ title.count }} 人</span>
            </div>
            {% ifequal title.type 'appkit.selection' %}
                <table class="table table-bordered xb-stripedTable xb-noTdBorder xb-noBottom xb-noBorder mb10">
                    <thead>
                        <tr style="color: #888888">
                            <td>选项</td>
                            <td></td>
                            <td>参与人数</td>
                            <td>百分比</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for v in title.values %}
                            <tr>
                                <th>{{ v.name }} </th>
                                <th>
                                    <span style="background: #EEEEEE; width: 100%"><span class="xui-progressBar" style="width: {% ifequal v.per '0' %}0{% else %}{{ v.per }}{% endifequal %}"></span></span>
                                </th>
                                <th>{{ v.count }}</th>
                                <th>{{ v.per }}</th>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <div
                    class="panel-body panel-table p0"
                    data-ui-role="advanced-table"
                    data-app="apps/survey"
                    data-resource="question"
                    data-args='{"id": "{{survey_id}}","question_title":"{{title.title_}}"}'
                    data-template-id="#question_table"
                    data-enable-paginator="true"
                    data-enable-sort="false"
                    data-selectable="false"
                    data-disable-header-select="true"
                    data-item-count-per-page="10">
                </div>
            {% endifequal %}
        {% endfor %}
    </div>

</div>
{% endblock %}
{% block js %}
{% verbatim %}
    <script id="question_table" type="text/x-jquery-tmpl">
        <table id="question_value" class="table table-bordered xb-stripedTable xb-noTdBorder xb-noBottom xb-noBorder mb10">
            <thead>
                <tr style="color: #888888;">
                    <td style="text-align:left;padding-left: 30px;">答案内容</td>
                    <td style="width:20%">提交时间</td>
                </tr>
            </thead>
            <tbody>
                {{each(i, item) items}}
                    <tr>
                        {{if (item.type === 'uploadimg') }}
                            <td>{{html item.content}}</td>
                        {{else}}
                            <td style="text-align:left;padding-left: 30px;"><div style="width:100%;word-break:break-all; overflow:auto;">${ item.content }</div></td>
                        {{/if}}
                            <td>${ item.created_at }</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <div class="xa-uploadimg_box inactive"></div>
    </script>
{% endverbatim %}
    <script>
    //export
    $('.xa-i-exportBtn').click(function(event){
        W.getLoadingView();
        var export_id =window.location.search.split('?id=')[1];
        W.getApi().call({
            method: 'get',
            app: 'apps/survey',
            resource: 'survey_statistics-export',
            args: {'export_id':export_id},
            success: function(resp){
                if(resp.code == 200){
                    $('#export_href').prop({
                        'href': resp.download_path,
                        'download': resp.filename
                    }).get(0).click();

                }
                console.log("导出成功");
            },
            error: function(error){
                console.log('导出失败');
            }
        });
    });

    //click_img
    var click_count = 1;
    $('body').delegate('.xa-uploadimg', 'click', function(event) {
        if(click_count ===1) {
            var curr_hight = $(document).scrollTop();
            $('.xa-uploadimg_box').css('top',curr_hight+'px');

            click_count = click_count + 1;
            var that = this;
            var img_len = $(that).parent().find('img').length;
            var img_arr = $(that).parent().find('img').clone(true);
            var img_id_index = parseInt($(that).attr('id').split('-')[1]);

            $('.xa-uploadimg_box').append("<div class='xa-uploadimg_div'></div><div><img class='xa-close_btn' src='/static_v2/img/close_btn.png'></div><div class='xa-arr xa-arr_left'></div><div class='xa-arr xa-arr_right'></div>").fadeIn('fast');
            $('.xa-uploadimg_div').append($(that).clone(true));
            if(img_len==1){
                $('.xa-arr').css('display','none');
            }

            $('.xa-close_btn').click(function(){
                    $('.xa-uploadimg_box').fadeOut('fast');
                    $('.xa-uploadimg_box').empty();
                    click_count = 1;
                });
            $('.xa-arr_left').click(function(){
                img_id_index = img_id_index - 1;
                if (img_id_index < 0){
                    img_id_index = img_len - 1;
                }
                $('.xa-uploadimg_div').empty().append(img_arr[img_id_index]);
            });
            $('.xa-arr_right').click(function () {
                img_id_index = img_id_index + 1;
                if (img_id_index > img_len-1){
                    img_id_index = 0;
                }
                $('.xa-uploadimg_div').empty().append(img_arr[img_id_index]);
            });
        }
    });
    </script>
{% endblock %}