{% extends "content_base_v2.html" %}
{% load apps_filter %}
{% block css %}
    <style>
    .tl.pl25 img{
    	height: 60px;
    	width: 60px;
    }
    .modal-body .table.table-bordered img{
    	height: 75px;
    	width: 60px;
        margin: 2px;
    }
    .xa-uploadimg_box{
        display: none;
        position: absolute;
        background-color: #DDDDDD;
        border: 2px solid #DDDDDD;
        width: 500px;
        height: 500px;
        overflow: auto;
        margin: auto;
        top: 50%; left: 0; bottom: 0; right: 0;
        text-align: center;
    }
    .xa-uploadimg_box .xa-close_btn{
        position: absolute;
        top: 0; right: 0;
        z-index: 1000000;
    }
    .xa-uploadimg_box .xa-uploadimg{
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        margin: auto;
        top: 50%; left: 0; bottom: 0; right: 0;
    }
    </style>
{% endblock %}
{% block content-panel %}
<div class="xui-surveyParticipancesAppPage xui-appPage-commonStyle">
	<div class="relative">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
			<li><a href="/apps/lottery/lotteries/">百宝箱</a></li>
			<li><a href="/apps/survey/surveies/">用户调研</a></li>
			<li class="active">查看结果</li>
		</ul>
	</div>
	
	<div class="xui-formPanel pb10 mb15">
		<div class="xui-i-col">
			<div class="xui-i-item">
				<label class="">用户名 &nbsp;</label>
				<input type="text" class="form-control" id="participant_name" name="participant_name" value="" />
			</div>
		</div>
		<div class="xui-i-col">
			<div class="xui-i-item ml10">
				<label>调研时间 &nbsp;</label>
				<input
					type="text"
					class="form-control xui-datePicker"
					id="start_time"
					name="start_time"
					style=""
					value=""
					readonly="readonly"
					data-enable-select-time="true"
					data-validate="require-notempty"
					data-ui-role="date-picker"
					data-format="yy-mm-dd HH:MM"
                    data-max-el="#end_time"/>
				至
				<input
					type="text"
					class="form-control xui-datePicker"
					id="end_time"
					name="end_time"
					value=""
					readonly="readonly"
					data-enable-select-time="true"
					data-validate="require-notempty"
					data-ui-role="date-picker"
					data-format="yy-mm-dd HH:MM"
					data-min-el="#start_time"/>
			</div>
		</div>
		<div class="xui-i-col">
			<div class="ml80">
				<a class="btn btn-primary mr30 xa-search xui-fontBold" href="javascript:void(0);">查&nbsp;&nbsp;&nbsp;&nbsp;询</a>
				<a class="btn btn-default xa-export xui-fontBold" href="javascript:void(0);">批量导出</a>
                <a id="export_href" style="display: none ">DownloadXLS</a>
			</div>
		</div>
	</div>
	
	<div class="panel panel-default xui-tableBox">
		<div 
			class="panel-body panel-table p0 mt10"
			data-ui-role="advanced-table" 
			data-app="apps/survey" 
			data-resource="survey_participances" 
			data-args='{"id": "{{activity_id}}"}'
			data-template-id="#table" 
			data-enable-paginator="true" 
			data-enable-sort="false" 
			data-selectable="false" 
			data-disable-header-select="true" 
			data-item-count-per-page="10" 
		>
		</div>
	</div>
</div>
{% endblock %}


{% block js %}
<!-- *start_prunt_task* -->
	<!-- [prunt_task] 
	  {
	    "task": "weizoom-load-app-views-dialogs"
	  }
	-->
{{ "survey"|load_app_views_and_dialogs|safe }}
<!-- *end_prunt_task* -->

{% verbatim %}
<script id="table" type="text/x-jquery-tmpl">
	{{if items!='' }}
	<table class="table table-bordered xb-stripedTable xb-noTdBorder xb-noBottom xb-noBorder xb-theadBg mb10">
		<thead>
			<tr>
				<th>用户名</th>
				<th>调研时间</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		  {{each(i, item) items}}
			<tr data-id="${item.id}">
				<td 
					class="tl pl25"
					style="width:250px; height:60px;" 
				>
					<img src="${item.participant_icon}" />
					${item.participant_name}
				</td>
				<td>
					${item.created_at}
				</td>
				<td>
					<a href="javascript:void(0);" class="ml5 xa-viewData">查看结果</a>
				</td>
			</tr>
			{{/each}}
		</tbody>
		<div class="cb"></div>
	</table>
	{{else}}
		<div class="xui-emptyBox m10">
			<img src="/static_v2/img/editor/empty.png">
			<span class="ml20">您还没有相关数据！</span>
		</div>
	{{/if}}
	<br>
</script>
{% endverbatim %}

<script type="text/javascript">
$(document).ready(function() {
	$('body').delegate('.xa-viewData', 'click', function(event) {
		var activityId = $(event.currentTarget).parents('tr').data('id');
		W.dialog.showDialog('W.dialog.app.survey.ViewParticipanceDataDialog', {
			activityId: activityId,
			success: function(data) {
				// alert(data);
			}
		});
	});
	
	var participant_name,startTime,endTime;
	$('.xa-search').click(function(event) {
		participant_name = $.trim($('[name="participant_name"]').val());
		startTime = $.trim($('[name="start_time"]').val());
		endTime = $.trim($('[name="end_time"]').val());
		var table = $('[data-ui-role="advanced-table"]').data('view');
		table.reload({
			participant_name: participant_name,
			start_time: startTime,
			end_time: endTime
		}, {
			emptyDataHint: '没有符合条件的数据'
		});
	});

    //export
    $('.xa-export').click(function(event){
        W.getLoadingView();
		participant_name = $.trim($('[name="participant_name"]').val());
		startTime = $.trim($('[name="start_time"]').val());
		endTime = $.trim($('[name="end_time"]').val());
        var export_id =window.location.search.split('?id=')[1];
        W.getApi().call({
            method: 'get',
            app: 'apps/survey',
            resource: 'survey_participances-export',
            args: {
				'export_id':export_id,
				'participant_name': participant_name,
				'start_time': startTime,
				'end_time': endTime
			},
            success: function(resp){
                if(resp.code == 200){
                    $('#export_href').prop({
                        'href': resp.download_path,
                        'download': resp.filename
                    }).get(0).click();

                }
                console.log("导出成功");
            },
            error: function(error){
                console.log('导出失败');
            }
        });
    });
});

</script>
{% endblock %}

