<% extends "new_jqm_content_base.html" %>
<% load common_tag %>
__STRIPPER_TAG__
<% block css %>
<style type="text/css">
	.xui-record {
		margin: 10px 15px;
		padding: 5px;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
		border-radius: 5px;
	}
	.xui-record .xui-inner-content {
		color: #8F8F8F;
	}

	a[data-role="button"] {
		padding: 10px;
		margin: 10px 15px;
	}
</style>
<% endblock %>
__STRIPPER_TAG__
<% block content-panel %>
<div data-role="page" data-theme="x">
	<div data-role="header">
		<h1>{{page.component.model.title|capfirst}}(<<record.id>>)</h1>
	</div>
    <div data-role="content" data-theme="x">
    	<div class="xui-recordContainer">
	        <% for item in record.items %>
	        <div class="xui-record">
		        <h3><<item.0>></h3>
		        <p class="xui-inner-content"><<item.1>></p>
		    </div>
	        <% endfor %>
	    </div>
        <div>
	    	<a data-role="button" href="javascript:void(0);" data-theme="b" class="xa-showMetaData" data-id="<<record.id>>">显示元信息</a>
	    </div>
    </div>
</div>
<% endblock %>
__STRIPPER_TAG__
<% block js %>
<script type="text/javascript">
	W.pageId = "<<request.GET.page_id>>";
	$(document).ready(function() {
		$('.xa-showMetaData').click(function(event) {
			event.stopPropagation();
			event.preventDefault();

			var $link = $(event.currentTarget);
			var id = $link.attr('data-id');
			
			W.getApi().call({
				app: 'webapp',
	        	api: 'project_api/call',
				args: {
		            woid: W.webappOwnerId,
		            project_id: W.projectId,
		            target_api: 'record_meta_data/get',
		            module: 'apps:{{app_name}}:{{page.component.model.module}}',
		            record_id: id
		        },
		        success: function(data) {
		        	var $container = $('.xui-recordContainer');
		        	_.each(data, function(value, key) {
		        		var content = '<div class="xui-record"><h3>'+key+'</h3><p class="xui-inner-content">'+value+'</p></div>';
		        		$container.append(content);
		        	});
		        },
		        error: function(data) {
		        	alert('失败');
		    	}
	        })
		});
	});
</script>
<% endblock %>
