{% extends "content_base_v2.html" %}

{% block content-panel %}
<div class="xui-acountHelpPage">

	<div class="relative">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
			<li><a href="/auth/account_help/get/">权限管理</a></li>
			<li class="active">账号帮助</li>
		</ul>
	</div>
	<div class="panel xui-rightPanelBg">
		<div class="panel-heading xui-rightPanelTitle">
				当前子账号使用情况：
				<span style="font-weight:normal;" class="ml20">
				已使用：
				<span style="color:#1183ca;" class="mr20">{{sub_account_count}}</span>
				剩余：
				<span style="color:#cf0404;">{{remain_sub_account_count}}</span>
				</span>
		</div>
		<div class="panel-body mb50">
			<label class="mt10 mb10">
				操作步骤
			</label>
			<div class="ml20 disT">
				<div class="disTc p15 tc vm xui-stepBox">
					<ul style="margin-left:54px">
						<li data-target="firstStep" class="xui-i-step xui-i-activeStep xa-step">第一步</li>
						<li data-target="secondStep" class="xui-i-step xa-step">第二步</li>
						<li data-target="thirdStep" class="xui-i-step xa-step">第三步</li>
					</ul>
				</div>
				<div class="disTc pr50 tc vm xui-stepInfo" style="width:727px;">
					<ul>
						<li id="firstStep" class="xui-hide">
							<div class="disTc vm tr" style="width:240px;">
								<img src="/static_v2/img/editor/step1.png" alt="" class="xui-help-img">
							</div>
							<div class="disTc tl vm pl15">
								<label for="">设置角色</label>
								<p>
								根据后台使用者职责，配置拥有不同权限的角色，使网站后台管理工作安全，高效！
								</p>
							</div>
						</li>
						<li id="secondStep" class="xui-hide">
<div class="disTc vm tr" style="width:240px;">
								<img src="/static_v2/img/editor/step2.png" alt="" class="xui-help-img">
							</div>
							<div class="disTc tl vm pl15">
								<label for="">创建部门 </label>
								<p>
								创建部门，使组织架构一目了然！
								</p>
							</div>
						</li>
						<li id="thirdStep" class="xui-hide">

						<div class="disTc vm tr" style="width:240px;">
								<img src="/static_v2/img/editor/step3.png" alt="" class="xui-help-img">
							</div>
							<div class="disTc tl vm pl15">
								<label for="">员工账号</label>
								<p>
								为每个部门录入员工信息，同时为员工创建专属子账号，一人一号掌控员工权限和操作记录。
								</p>
							</div></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">	
$(document).ready(function() {
	var $document = $(document);

	var target = $('.xui-i-activeStep').data('target');
	$('#'+target).addClass('xui-i-activeContent');

	$document.delegate('.xa-step', 'click', function(event) {
		var $link = $(event.currentTarget);
		$('.xui-i-activeStep').removeClass('xui-i-activeStep');
		$link.addClass('xui-i-activeStep');

		$('.xui-i-activeContent').removeClass('xui-i-activeContent');
		var target = $('.xui-i-activeStep').data('target');
		$('#'+target).addClass('xui-i-activeContent');
	});
});
</script>
{% endblock %}