<script id="mall-promotion-select-product-view-tmpl-src" type="text/x-jquery-tmpl">
<div class="xui-formPanel pb0 h110">
<p class="f12 fb ml40 pt10 pb5">商品查询：</p>
	<div class="xui-i-col">
		<div class="xui-i-item">
			<label class="">商品名称：</label>
			<input type="text" class="form-control" id="name" name="name" value="" />
		</div>
	</div>

	<div class="xui-i-col">
		<div class="xui-i-item ml10">
			<label>商品条码：</label>
			<input type="text" class="form-control" id="bar_code" name="bar_code" value="" />
		</div>
	</div>

	<div class="xui-i-col">
		<div class="ml80">
			<a class="btn btn-primary mr30 xa-search xui-fontBold" href="javascript:void(0);">查&nbsp;&nbsp;&nbsp;&nbsp;询</a>
			<a class="btn btn-default xa-reset xui-fontBold" href="javascript:void(0);">重&nbsp;&nbsp;&nbsp;&nbsp;置</a>
		</div>
	</div>
</div>
</script>
