{% load project_filter %}
{% load account_filter %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

		{% block customerized_meta %}{% endblock %}

		<title>微众云商通——微商城管理</title>




		
		<!-- *start_prunt_task* -->
		<!-- [prunt_task] 
			{
				"task": "weizoom-merge",
				"args": {
					"dest":"cdn/standard_static/css/base_v2_all.css"
				}
			}
		-->
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/lib/bootstrap-3.3.2/css/bootstrap.min.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/lib/bootstrap-3.3.2/css/bootstrap-slider.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/lib/jquery/jquery-ui-1.10.3/css/redmond/jquery-ui-1.10.3.custom.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/lib/uploadify-3.2.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/lib/colpick/colpick.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/bootstrap_enhance.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/base.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/common.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/emojilc6cc2.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/widget.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/sidebar_menu.css">

			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/mall_product.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/mall_order.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/stats_order.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/fanses_remark.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/mall_promotion.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/mall_home.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/member.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/card_num.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/weixin_advance_manage.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/weixin_message.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/mass_message.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/new_weixin_message.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/auth.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/apps.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/weixin_template_message.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/weixin_fun_date.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/direct_follow.css">

			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/termite.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/apps_termite.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/termite_workbench.css">
			<link type="text/css" rel="stylesheet" media="all" href="/static_v2/css/marketing.css">
		<!-- *end_prunt_task* -->





		{% block css %}{% endblock %}

	</head>
	<body>
		{% block content %} {% endblock %}





		<script type="text/javascript">
			window.UEDITOR_HOME_URL = '/static/ueditor-1.2.6.1/'
            function logout(){
                localStorage.removeItem('message_count')
                location.href = "/logout/";
            }
		</script>
		<!-- *start_prunt_task* -->
		<!-- [prunt_task] 
			{
				"task": "weizoom-merge",
				"args": {
					"dest":"cdn/standard_static/js/base_v2_all.js"
				}
			}
		-->
			<script type="text/javascript" src="/static_v2/lib/jquery/jquery-1.11.2.min.js"></script>
			<script type="text/javascript" src="/static_v2/lib/jquery/jquery-migrate-1.2.1.js"></script>
			<script type="text/javascript" src="/static_v2/lib/jquery.tmpl.min.js"></script>
			<script type="text/javascript" src="/static_v2/lib/jquery/jquery-ui-1.10.3/jquery-ui-1.10.3.custom.min.js"></script>
			<script type="text/javascript" src="/static_v2/lib/jquery/jquery-ui-timepicker-addon.js"></script>
			<script type="text/javascript" src="/static_v2/lib/jquery.uploadify-3.2.min.js"></script>
			<script type="text/javascript" src="/static_v2/lib/jquery.dotdotdot.min.js"></script>
			<script type="text/javascript" src="/static_v2/lib/handlebars-v3.0.1.js"></script>

			<script type="text/javascript" src="/static_v2/lib/bootstrap-3.3.2/js/bootstrap.min.js"></script>
			<script type='text/javascript' src="/static_v2/lib/bootstrap-3.3.2/js/bootstrap-slider.min.js"></script>
			<script type="text/javascript" src="/static_v2/lib/underscore-1.7.0.min.js"></script>
			<script type="text/javascript" src="/static_v2/lib/backbone-1.1.2.js"></script>
			<script type="text/javascript" src="/static_v2/lib/spin-1.3.js"></script>
			<script type="text/javascript" src="/static_v2/lib/echarts-2.2.3/echarts-all.js"></script>
			<script type="text/javascript" src="/static_v2/lib/colpick/colpick.js"></script>

			<script type="text/javascript" src="/static_v2/js/system/system.js"></script>
			<script type="text/javascript" src="/static_v2/js/system/debug.js"></script>
			<script type="text/javascript" src="/static_v2/js/system/resource.js"></script>
			<script type="text/javascript" src="/static_v2/js/system/api.js"></script>
			<script type="text/javascript" src="/static_v2/js/system/dialog.js"></script>
			<script type="text/javascript" src="/static_v2/js/system/swfobject.js"></script>
			<script type="text/javascript" src="/static_v2/js/system/validate.js"></script>
			<script type="text/javascript" src="/static_v2/js/system/loading.js"></script>
			<script type="text/javascript" src="/static_v2/js/system/global_hook.js"></script>
			<script type="text/javascript" src="/static_v2/js/system/zero_clipboard.js"></script>
			<script type="text/javascript" src="/static_v2/js/system/emotion.js"></script>
			<script type="text/javascript" src="/static_v2/js/system/template-0.9.js"></script>
			<script type="text/javascript" src="/static_v2/js/system/handlebar_helper.js"></script>

			<script type="text/javascript" src="/static_v2/js/termite/design/design.js"></script>
			<script type="text/javascript" src="/static_v2/js/common/GlobalBroadcaster.js"></script>
			<script type="text/javascript" src="/static_v2/js/termite/page_synchronizer.js"></script>
			<script type="text/javascript" src="/static_v2/js/termite/component/common/Component.js"></script>
			<script type="text/javascript" src="/static_v2/js/termite/component/common/Render.js"></script>

			<script type="text/javascript" src="/static/ueditor-1.2.6.1/ueditor.config.js"></script>
			<script type="text/javascript" src="/static/ueditor-1.2.6.1/ueditor.all.js"></script>
		<!-- *end_prunt_task* -->





		<!-- *start_prunt_task* -->
		<!-- [prunt_task] 
			{
				"task": "weizoom-merge-views-dialogs",
				"args": {
					"dest": {
						"js": "cdn/standard_static/js/weizoom_views_dialogs.js",
						"template": "templates/weapp_views_dialogs.html"
					}
				}
			}
		-->
			<!-- views start -->
			{{ weapp_models|safe }}
			<!-- views end -->

			<!-- views start -->
			{{ weapp_views|safe }}
			<!-- views end -->

			<!-- dialogs start -->
			{{ weapp_dialogs|safe }}
			<!-- dialogs end -->
		<!-- *end_prunt_task* -->






		<script type="text/javascript" src="/resource_js/"></script>
		{% block base_js %}{% endblock %}
		<script type="text/javascript">
			/**
				子账号权限控制相关函数------------------------------------------
			*/
			function renderNavs() {
				//去fans系统获取用户权限信息
				var userPermissions = "";
				$.ajax({
					url:'{{fans_host}}/auth/api/permission_set/',
					type:'get',
					dataType:'jsonp',
					success:function(response) {
						if (response.code == 200) {
							userPermissions = response.data;
							render(userPermissions);
						} else {
							render(userPermissions);
						}
					}
				});

			}

			//渲染菜单
			function render(userPermissions) {
				if(!userPermissions || userPermissions === 'error') {
					alert("获取您的权限信息失败，请联系客服！" + userPermissions);
					return;
				}
				if(userPermissions === '' || userPermissions === '[]') {
					alert("您没有权限浏览任何页面，请联系您的管理员！");
					return;
				}

				//先清空原有的菜单列表
				$('.xa-first-navs').empty();
				$('.xa-sideBar').empty();

				var navTree = getNavTree();
				var indexPage = "/";  //没有权限浏览此一级目录时跳转到的页面地址
				var redirectToSecondPage = false;  //没有权限时是否跳转到本一级目录内的其他二级目录
				var hasPermission = false;  //标记是否有权限查看此页面
				var firstNavName = "{{first_nav_name}}";
				var permissions = JSON.parse(userPermissions);

				var firstNavs = navTree.firstNavs;
				var secondNavs = navTree.secondNavs;

				//渲染一级导航
				for(var index in firstNavs) {
					var firstNav = firstNavs[index];
					if(firstNav.permission === "" || $.inArray(firstNav.permission, permissions) >= 0){
						//设置浏览无权限页面时自动跳转到的页面
						if(indexPage === "/") {
							indexPage = firstNav.url;
						}

						var className = "";
						if(firstNav.className) {
							className = '<i class="xui-noticyTip ' + firstNav.className + '"></i>';
						}

						if(firstNavName === firstNav.name) {
							hasPermission = true;

							$('.xa-first-navs').append('<li class="pr"><a' + 
								' class="active"' + 
								' href="' + firstNav.url + 
								'" title="' + firstNav.title + '">' + 
								firstNav.title + '</a>'+ className + '</li>');
						} else {
							$('.xa-first-navs').append('<li class="pr"><a' + 
								' href="' + firstNav.url + 
								'" title="' + firstNav.title + '">' + 
								firstNav.title + '</a>' + className + '</li>');
						}
					}
				}

				//渲染左侧导航
				var secondNavName = "{{second_nav_name}}";
				var thirdNavName = "{{third_nav_name}}";
				
				//二级导航
				if(secondNavName.length > 0 && secondNavs.length > 0) {
					hasPermission = false;  //如果有二级导航的话也要满足权限

					// $('.xa-sideBar').addClass('xui-sideBarBg');
					$('.xa-sideBar').append('<ul class="nav xa-second-navs"></ul>');

					for(var index in secondNavs) {
						var secondNav = secondNavs[index];
						if(secondNav.permission === "" || $.inArray(secondNav.permission, permissions) >= 0){
							if(!redirectToSecondPage) {
								indexPage = secondNav.url;
								redirectToSecondPage = true;
							}
							if(secondNavName === secondNav.name) {
								hasPermission = true;
								$('.xa-second-navs').append('<li class="active">' + 
									'<a href="' + secondNav.url + 
									'" title="' + secondNav.title + 
									'" name="' + secondNav.name + '">' + 
									'<i class="xui-icon-sideBar xui-sideBar-' + secondNav.name + '"></i>' + 
									secondNav.title + '<i class="xui-icon-arrow"></i></a></li>');
							} else {
								$('.xa-second-navs').append('<li>' + 
									'<a href="' + secondNav.url + 
									'" title="' + secondNav.title + 
									'" name="' + secondNav.name + '">' + 
									'<i class="xui-icon-sideBar xui-sideBar-' + secondNav.name + '"></i>' + 
									secondNav.title + '<i class="xui-icon-arrow"></i></a></li>');
							}

							//三级导航
							var thirdNavs = null;
							if(secondNav.hasOwnProperty('thirdNavs')) {
								thirdNavs = secondNav.thirdNavs;
							}
							if(thirdNavs) {
								for(var _index in thirdNavs) {
									var thirdNav = thirdNavs[_index];
									var className = "";
									if(thirdNav.className) {
										className = '<i class="xui-noticyTip ' + thirdNav.className + '"></i>';
									}
									if(thirdNavName === thirdNav.name) {
										$('.xa-second-navs').append('<li class="xui-sideBar-third active_third">' + 
											'<a href="' + thirdNav.url + 
											'" title="' + thirdNav.title + 
											'" name="' + thirdNav.name + '">&nbsp;&nbsp;&nbsp;&nbsp;' + 
											thirdNav.title + '<i class="xui-icon-arrow"></i>' + 
											className + '</a></li>');
									} else {
										$('.xa-second-navs').append('<li class="xui-sideBar-third">' + 
											'<a href="' + thirdNav.url + 
											'" title="' + thirdNav.title + 
											'" name="' + thirdNav.name + '">&nbsp;&nbsp;&nbsp;&nbsp;' + 
											thirdNav.title + '<i class="xui-icon-arrow"></i>' + 
											className +'</a></li>');
									}
								}
							}
						}
					}
				}

				if(!hasPermission) {  //没权限时跳转到指定页面
					window.location.href = "http://" + location.host + indexPage;
				} else {
					//在菜单没渲染完之前先把正文隐藏掉，不然会先出正文然后才出菜单，很难看
					$('.xa-first-navs').css('visibility','visible');
					$('.xa-sideBar').css('visibility','visible');
					$('.xa-content').css('visibility','visible');
				}
			}

			//判断是否是子账号，如果是的话需要判断权限
			function isSubUser() {
				var userId = "{{request.user.id}}";
				var managerId = "{{request.manager.id}}";
				return userId !== managerId;
			}

			//获取导航标签的树状结构
			function getNavTree() {
				var navTree = {
					'firstNavs': [],
					'secondNavs': []
				};
				{% if first_navs %}
					{% for nav in first_navs %}
						navTree.firstNavs.push({
							'name': '{{nav.inner_name}}',
							'title': '{{nav.name}}',
							'url': '{{nav.url}}',
							'permission': '{{nav.permission}}',
							'className': '{{nav.class_name}}'
						});
					{% endfor %}
				{% endif %}

				{% if second_navs %}
					{% for second_nav in second_navs %}
						{% for nav in second_nav.navs %}
							var secondNav = {
								'name': '{{nav.name}}',
								'title': '{{nav.title}}',
								'url': '{{nav.url}}',
								'permission': '{{nav.permission}}'
							};
							{% if nav.third_navs %}
								secondNav['thirdNavs'] = [];
								{% for third_nav in nav.third_navs %}
									secondNav['thirdNavs'].push({
										'name': '{{third_nav.name}}',
										'title': '{{third_nav.title}}',
										'url': '{{third_nav.url}}',
										'permission': '{{third_nav.permission}}',
										'className': '{{third_nav.class_name}}'
									});
								{% endfor %}
							{% endif %}
							navTree.secondNavs.push(secondNav);
						{% endfor %}
					{% endfor %}
				{% endif %}
				
				return navTree;
			}
			/**
				子账号权限控制相关函数结束----------------------------------------------------------
			*/

			$(document).ready(function($) {
				if(isSubUser()) {
					//如果是子账号则进入权限控制模块
					xlog('in sub user mode');
					renderNavs();
				} else {
					//如果是manager账号则直接显示菜单和数据
					$('.xa-first-navs').css('visibility','visible');
					$('.xa-sideBar').css('visibility','visible');
					$('.xa-content').css('visibility','visible');
				}
			});
		</script>
		<!-- <div class="wui-rightNav">
			<a title="数据挖掘" href="http://data.weizoom.com/?token={{token}}"></a>
			<a title="粉丝沟通" href="http://weibo.weizoom.com/?token={{token}}"></a>
			<a title="微信沟通" href="/new_weixin/outline/"></a>
			<a title="微商城" href="/mall2/outline/"></a>
			<a title="未读消息" href="/new_weixin/realtime_messages/?status=0">
				<span class="xa-num-unread-message-count xui-noticyNum"></span>
			</a>
		</div> -->
	{# 百度统计代码开始 #}
	<script>
	var _hmt = _hmt || [];
	(function() {
	var hm = document.createElement("script");
	hm.src = "//hm.baidu.com/hm.js?ee18872310bbb14797f87c9eda185a85";
	var s = document.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(hm, s);
	})();
	</script>
	{# 百度统计代码结束 #}
	</body>
</html>
