{% extends "base_v2.html" %}
{% load project_filter %}
{% load account_filter %}

{% block content %}
<div id="spin-wrapper">
	<div id="spin"></div>
	<div id="spin-hint" class="ml10"></div>
</div>
<div id="main-mask"></div>
<div class="xui-header">
	<div class="xui-i pr">
		<div class="xui-logo">
			<!-- <div class="xui-i-logoHref xa-i-logoHref"></div> -->
			<img src="/static_v2/img/editor/topLogo.jpg" alt="" class="xa-i-logoHref">
		</div>
		<span class="xui-systemName"></span>
		<div class="xui-headerActionBar">
			{% if request.user.is_manager %}
				{% if request.user.username == 'ceshi01' or request.user.username == 'jobs' %}
					<a href="http://fans.weapp.weizzz.com/auth/account_help/" target="_blank"><i class="xui-toolIcon"></i>权限管理</a>
				{% endif %}
					<a href="javascript:void(0);" data-toggle="popover" id="mf"><i class="xui-toolIcon"></i>修改密码</a>
				{% if request.user.username == 'malla' or request.user.username == 'ceshi01' or request.user.username == 'jobs' %}
					<a href="{{ fans_host }}/message/message_list/?from=portal" target="_blank"><i class="xui-toolIcon"></i>系统通知<i class="xui-noticyTip" style="display:inline" id ="message_count"></i></a>
					<a href="{{ fans_host }}/help_center/outline/" target="_blank"><i class="xui-toolIcon"></i>帮助中心</a>
				{% endif %}
				<div id='popover_tmpl' style="display:none;">
					<form class="form-horizontal">
						<div class="control-group">
							<span class="control-label" for="old_password">当前密码</span>
							<span class="controls">
								<input type="password" id="old_password" name="old_password"/>
							</span>
						</div>

						<div class="control-group">
							<span class="control-label pr15" for="new_password">新密码</span>
							<span class="controls">
								<input type="password" id="new_password" name="new_password" />
							</span>
						</div>

						<div class="control-group">
							<span class="control-label" for="confirm_password">确认密码</span>
							<span class="controls">
								<input type="password" id="confirm_password" name="confirm_password"/>
								<p class="origin edit_password" error="old_password"></p>
							</span>
						</div>

						<div class="control-group tc">
							<input type="button" class="btn btn-primary xa-submit btn-sm " value="保存" />
							<input type="button" class="btn btn-default xa-cancle btn-sm" value="取消" />
						</div>
					</form>
				</div>
			{% endif %}
			<span class="ml15">欢迎您：{{ request.user.username }}</span>
			<a href="javascript:void(0)" onclick="logout()" title="{{ request.user.username }}" class="ml10">退出</a>
			</span>
				
		</div>
	</div>
	<div class="xui-navBar xa-navBar">
		<div class="xui-i pr">
			<ul class="xui-navBar-box clearStyle xa-first-navs hidden">
				{% if first_navs %}
					{% for nav in first_navs %}
						<li class="pr {% ifequal nav.name '大数据挖掘' %}xui-i-bigDataTab{% endifequal %}">
							<a {% ifequal first_nav_name nav.inner_name %}class="active"{% endifequal %} href="{{nav.url}}{% if nav.need_token %}?token={{token}}{% endif %}" {% if nav.need_token %}target="_blank"{% endif %} title='{{nav.name}}'>{{nav.name}}</a>
							{% if nav.class_name %}<i class="xui-noticyTip {{nav.class_name}}"></i>{% endif %}
						</li>
					{% endfor %}
				{% endif %}
			</ul>
			
		</div>
	</div>
</div>

<div id="" class="xui-mainPanel">
	<div class="xui-container pr">
		<!-- 左侧垂直方向二级导航 -->
		{% if second_navs %}
			<div id="" class="xui-sideBar xa-sideBar pa xui-sideBarBg hidden">
				<ul class="nav">
				{% for second_nav in second_navs %}
					{% for nav in second_nav.navs %}
						<li class="{% ifequal second_nav_name nav.name %}active{% endifequal %}">
							<a href="{{nav.url}}" title="{{nav.title}}" name="{{nav.name}}">
								<i class="xui-icon-sideBar xui-sideBar-{{nav.name}}"></i> {{nav.title|safe}}
								<i class="xui-icon-arrow"></i>
							</a>
						</li>
						<!-- 三级导航 -->
						{% if nav.third_navs %}
							{% for third_nav in nav.third_navs %}
								<li class="xui-sideBar-third {% ifequal third_nav_name third_nav.name %}active_third{% endifequal %}">
									<a href="{{third_nav.url}}" title="{{third_nav.title}}" name="{{third_nav.name}}">
										&nbsp;&nbsp;&nbsp;&nbsp;{{third_nav.title|safe}}
										<i class="xui-icon-arrow"></i>
									</a>
								</li>
							{% endfor %}
						{% endif %}
					{% endfor %}
				{% endfor %}
				</ul>
			</div>
		{% endif %}
		<!-- 内容 start -->
		<div class="span9 pr xui-content xa-content hidden" style="">
			{% block content-panel %}{% endblock %}
		</div>
		<!-- 内容 end -->
	</div>
</div>

<div class="footer xui-footer">
	<div class="xui-content">
		<div class="xui-i" style="">
			<p style="color:#cd0205">系统负责人：010-50948901&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;系统服务微信号：2575261826</p>
			<p>Copyright&nbsp;&copy; 2012-2015 weizoom.com 微众传媒 版权所有&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="http://www.weizoom.com">微众传媒</a> 旗下微众云商通</p>
		</div>
		<div class="xui-i">
			<img width="80" height="80" src="/static_v2/img/editor/sys_QRcode.jpg" class="fl"><span class="fl mt20 ml10 xui-greyColor">扫码添加<br>微信号</span>
		</div>
	</div>
</div>

{% block global_elements %}{% endblock %}
{% endblock %}

{% block base_js %}
<div id="jsons" style="display: none;">
	{% for json in jsons %}
	<div id="__json-{{json.name}}">
		{{json.content|format_json|ltgt_translate|safe}}
	</div>
	{% endfor %}
</div>

<script type="text/javascript">
	W.uid = {{ user.id }};
	W.mid = {{ request.manager.id }};
	W.username = "{{ user.username }}";
	W.host = "{{request.META.HTTP_HOST}}";
	W.API_VERSION = 1;
	W.isUnderDevelop = {% if under_develop %}true{% else %}false{% endif %};
	W.isUseWepage = {% if user.get_profile.is_use_wepage %}true{% else %}false{% endif %};

	{% if preview_info %}
	  W.previewName = "{{ preview_info.name }}";
	  W.previewImage = "{{ preview_info.image_path }}";
	{% else %}
	  W.previewName = "信息预览";
	  W.previewImage = "/static/img/user-1.jpg";
	{% endif %}

</script>
<script type="text/javascript">
	/**
		子账号权限控制相关函数------------------------------------------
	*/
	//提供给fans系统的回调函数，用于在localStorage中设置用户的权限信息
	var callback = function() {
		var userPermissions = window.frames[0].localStorage.getItem('userPermissions');
		render(userPermissions);
	}

	function connectFans(){
		document.domain = location.host.replace('fans.', '').replace('weapp.', '');
		var hm = document.createElement("iframe");
		hm.src = "{{ fans_host }}/static/crossdomain.html";
		hm.style.display = 'none'
		var s = document.getElementsByTagName("script")[0];
		s.parentNode.insertBefore(hm, s);
	}

	function renderNavs() {
		//去fans系统获取用户权限信息
		connectFans();
	}

	//渲染菜单
	function render(userPermissions) {
		if(!userPermissions || userPermissions === 'error') {
			alert("获取您的权限信息失败，请联系客服！" + userPermissions);
			return;
		}
		if(userPermissions === '') {
			alert("您没有权限浏览任何页面，请联系您的管理员！");
			return;
		}

		//先清空原有的菜单列表
		$('.xa-first-navs').empty();
		$('.xa-sideBar').empty();

		var navTree = getNavTree();
		var indexPage = "/";  //没有权限浏览此页面时跳转到的页面地址
		var hasPermission = false;  //标记是否有权限查看此页面
		var firstNavName = "{{first_nav_name}}";
		var permissions = JSON.parse(userPermissions);

		var firstNavs = navTree.firstNavs;
		var secondNavs = navTree.secondNavs;

		//渲染一级导航
		for(var index in firstNavs) {
			var firstNav = firstNavs[index];
			if(firstNav.permission === "" || $.inArray(firstNav.permission, permissions) >= 0){
				//设置浏览无权限页面时自动跳转到的页面
				if(indexPage === "/") {
					indexPage = firstNav.url;
				}

				if(firstNavName === firstNav.name) {
					hasPermission = true;

					$('.xa-first-navs').append('<li class="pr"><a' + 
						' class="active"' + 
						' href="' + firstNav.url + 
						'" title="' + firstNav.title + '">' + 
						firstNav.title + '</a></li>');
				} else {
					$('.xa-first-navs').append('<li class="pr"><a' + 
						' href="' + firstNav.url + 
						'" title="' + firstNav.title + '">' + 
						firstNav.title + '</a></li>');
				}
			}
		}

		//渲染左侧导航
		var secondNavName = "{{second_nav_name}}";
		var thirdNavName = "{{third_nav_name}}";
		
		//二级导航
		if(secondNavName.length > 0 && secondNavs.length > 0) {
			hasPermission = false;  //如果有二级导航的话也要满足权限

			// $('.xa-sideBar').addClass('xui-sideBarBg');
			$('.xa-sideBar').append('<ul class="nav xa-second-navs"></ul>');

			for(var index in secondNavs) {
				var secondNav = secondNavs[index];
				if(secondNav.permission === "" || $.inArray(secondNav.permission, permissions) >= 0){
					if(secondNavName === secondNav.name) {
						hasPermission = true;
						$('.xa-second-navs').append('<li class="active">' + 
							'<a href="' + secondNav.url + 
							'" title="' + secondNav.title + 
							'" name="' + secondNav.name + '">' + 
							'<i class="xui-icon-sideBar xui-sideBar-' + secondNav.name + '"></i>' + 
							secondNav.title + '<i class="xui-icon-arrow"></i></a></li>');
					} else {
						$('.xa-second-navs').append('<li>' + 
							'<a href="' + secondNav.url + 
							'" title="' + secondNav.title + 
							'" name="' + secondNav.name + '">' + 
							'<i class="xui-icon-sideBar xui-sideBar-' + secondNav.name + '"></i>' + 
							secondNav.title + '<i class="xui-icon-arrow"></i></a></li>');
					}

					//三级导航
					var thirdNavs = null;
					if(secondNav.hasOwnProperty('thirdNavs')) {
						thirdNavs = secondNav.thirdNavs;
					}
					if(thirdNavs) {
						for(var _index in thirdNavs) {
							var thirdNav = thirdNavs[_index];
							if(thirdNavName === thirdNav.name) {
								$('.xa-second-navs').append('<li class="xui-sideBar-third active_third">' + 
									'<a href="' + thirdNav.url + 
									'" title="' + thirdNav.title + 
									'" name="' + thirdNav.name + '">&nbsp;&nbsp;&nbsp;&nbsp;' + 
									thirdNav.title + '<i class="xui-icon-arrow"></i></a></li>');
							} else {
								$('.xa-second-navs').append('<li class="xui-sideBar-third">' + 
									'<a href="' + thirdNav.url + 
									'" title="' + thirdNav.title + 
									'" name="' + thirdNav.name + '">&nbsp;&nbsp;&nbsp;&nbsp;' + 
									thirdNav.title + '<i class="xui-icon-arrow"></i></a></li>');
							}
						}
					}
				}
			}
		}

		if(!hasPermission) {  //没权限时跳转到指定页面
			window.location.href = "http://" + location.host + indexPage;
		} else {
			//在菜单没渲染完之前先把正文隐藏掉，不然会先出正文然后才出菜单，很难看
			$('.xa-first-navs').removeClass('hidden');
			$('.xa-sideBar').removeClass('hidden');
			$('.xa-content').removeClass('hidden');
		}
	}

	//判断是否是子账号，如果是的话需要判断权限
	function isSubUser() {
		var userId = "{{request.user.id}}";
		var managerId = "{{request.manager.id}}";
		return userId !== managerId;
	}

	//获取导航标签的树状结构
	function getNavTree() {
		var navTree = {
			'firstNavs': [],
			'secondNavs': []
		};
		{% if first_navs %}
			{% for nav in first_navs %}
				navTree.firstNavs.push({
					'name': '{{nav.inner_name}}',
					'title': '{{nav.name}}',
					'url': '{{nav.url}}',
					'permission': '{{nav.permission}}'
				});
			{% endfor %}
		{% endif %}

		{% if second_navs %}
			{% for second_nav in second_navs %}
				{% for nav in second_nav.navs %}
					var secondNav = {
						'name': '{{nav.name}}',
						'title': '{{nav.title}}',
						'url': '{{nav.url}}',
						'permission': '{{nav.permission}}'
					};
					{% if nav.third_navs %}
						secondNav['thirdNavs'] = [];
						{% for third_nav in nav.third_navs %}
							secondNav['thirdNavs'].push({
								'name': '{{third_nav.name}}',
								'title': '{{third_nav.title}}',
								'url': '{{third_nav.url}}',
								'permission': '{{third_nav.permission}}'
							});
						{% endfor %}
					{% endif %}
					navTree.secondNavs.push(secondNav);
				{% endfor %}
			{% endfor %}
		{% endif %}
		
		return navTree;
	}
	/**
		子账号权限控制相关函数结束----------------------------------------------------------
	*/


	document.addEventListener("visibilitychange", common_interval_check_func, false);

	function common_interval_check_func(){
		if(document.visibilityState != 'visible'){
			return
		}
		W.getApi().call({
			app:'new_weixin',
			resource:'outline',
			showLoading: false,
			args:{},
			success: function (data) {
				//待发货订单计数
				var unship_order_count = data.unship_order_count;
				var orderTipItem = $('.xa-orderTip');
				if(unship_order_count>0){
					orderTipItem.show();
					if(unship_order_count>99){
						orderTipItem.text(99);
					}
					else{
						orderTipItem.text(unship_order_count);
					}
				}
				else{
					orderTipItem.hide();
					orderTipItem.text(0);
				}

				//微信未读消息计数
				var unreadRealtimeCount = data.unread_realtime_count;
				var msgTip = $('.xa-msgTip');
				if (unreadRealtimeCount > 0){
					msgTip.show();
					if (parseInt(unreadRealtimeCount) > 99){
						unreadRealtimeCount = '99+'
					}
					msgTip.text(unreadRealtimeCount);
				} else {
					msgTip.hide();
				}
			},error: function(resp) {
				//TODO 进行错误通知
			}
		});
	}

	

	$(document).ready(function($) {
		if(isSubUser()) {
			//如果是子账号则进入权限控制模块
			xlog('in sub user mode');
			renderNavs();
		} else {
			//如果是manager账号则直接显示菜单和数据
			$('.xa-first-navs').removeClass('hidden');
			$('.xa-sideBar').removeClass('hidden');
			$('.xa-content').removeClass('hidden');
		}

		common_interval_check_func();
		{% if not under_develop %}
		var common_interval_check = setInterval(common_interval_check_func, 10000);
		{% endif %}

		// 批量发货
		$('a[name="orderBatchDelivery"]').click(function(event){
			W.dialog.showDialog('W.dialog.common.OrderBatchDeliverDialog', {
				success: function(data) {
					// W.getLoadingView().show();

					W.getApi().call({
						app: 'mall2',
						resource: 'bulk_shipment',
						method: 'post',
						args: {
							file_url: data
						},
						success: function(data) {
							console.log('bulk_shipments/update', data.error_count);
							if (data.error_count == 0) {
								W.getSuccessHintView().show('批量处理已完成！成功'+data['success_count']+'条');
								W.getLoadingView().hide();
							} else {
								W.dialog.showDialog('W.dialog.common.OrderResultBatchDeliverDialog', {
										data: data,
										success: function(data) {},
										error: function(data) {}
									});
							}
							if (data.success_count>0){
								common_interval_check_func();
							}

						},
						error: function(resp) {
							W.getLoadingView().hide();
							W.getErrorHintView().show('处理失败，请稍后重试！66666');
						}
					})
				}
			});
		});
		var tmpl = getPopoverContent();
		$('#mf').popover({
			html: true,
			trigger: "click",
			content: tmpl,
			container: '.xui-headerActionBar',
			animation: false,
			placement: "bottom",
			template: '<div class="popover" role="tooltip" id="popover"><div class="arrow"></div><div class="popover-content"></div></div>'
		});
		$('#mf').on('shown.bs.popover',initSubmit);
		function getPopoverContent(){
			var result = $('#popover_tmpl').html();
			$('#popover_tmpl').remove();
			return result;
		}
		//获取message_count
		if(localStorage.getItem('message_count') ==null){
			$.ajax({
			url:'{{fans_host}}/count/message_count/',
			type:'post',
			dataType:'jsonp',
			success:function(response) {
				if (response.code == 200) {
					localStorage.message_count=response.data.message_count;
					$("#message_count").html(localStorage.message_count)
					$("#message_count").css('display','inline');
				}else{
					xlog("获取message_count失败")
				}
			}
		});
		}else{
			$("#message_count").html(localStorage.message_count)
			$("#message_count").css('display','inline');
		}

		function initSubmit(){
			$('#old_password').val('');
			$('.xa-cancle').on('click',function(){
				$('#mf').popover('hide');
			});
			$('.xa-submit').on('click',function(){
				var oldPassword = $('#old_password').val();
				var newPassword = $('#new_password').val();
				var confirmPassword = $('#confirm_password').val();
			
				if (oldPassword.length == 0) {
					$('.edit_password').text("请输入初始密码").css('display', 'block');
					return false;
				}
				if (newPassword.length == 0) {
					$('.edit_password').text("请输入新密码").css('display', 'block');
					return false;
				}
				if (confirmPassword.length == 0) {
					$('.edit_password').text("请输入确认密码").css('display', 'block');
					return false;
				}
				if (newPassword != confirmPassword && confirmPassword !=0) {
					$('.edit_password').text("两次密码输入不一致").css('display', 'block');
					return false;
				}

				$.ajax({
					url:'{{fans_host}}/password/update/',
					type:'post',
					dataType:'jsonp',
					data:{
						old_password: oldPassword,
						new_password: newPassword,
						confirm_password: confirmPassword
					},
					// xhrFields: {withCredentials: true},
					// crossDomain: true,
					success:function(response) {
						if (response.code == 200) {
							if (response.data.success) {
								$('.edit_password').text("").css('display', 'block');
								alert("修改成功");
							} else {
								alert(response.data.reason);
							}
							$('#old_password').val('');
							$('#new_password').val('');
							$('#confirm_password').val('');
						}
						else{
							$('.edit_password').text("初始密码不正确").css('display', 'block');	
						}
					}
				});


				return false;
			});
		}

		// 导航右边线选中无
		$('.xui-navBar a.active').parent('li').prev().children('a').addClass('xui-rightBorder');
	});

</script>


<script type="text/javascript">
$(document).ready(function($) {

	$('.xa-i-logoHref').click(function(event){
		location.href = "/mall2/outline/";
	});
});
</script>
{% block js %}{% endblock %}
{% endblock %}
