{% extends "base.html" %}
{% load account_filter %}
{% block customerized_meta %}
<meta name="description" content="微众传媒-微信营销平台|具有多年社会化营销经验|为用户提供微信营销、微信建站、微信商城等一体化服务">
<meta name="keywords" content="微信营销,微信营销平台,微信营销方法,怎样做好微信营销,微信营销活动,企业微信营销,微信建站,微信电商">
{% endblock %}
{% block title %}微众传媒-微信营销管理平台_weapp.weizoom.com{% endblock %}
{% block css %}
 <link type="text/css" rel="stylesheet" media="all" href="/landing_static/css/landing-index-header.css">
 <link rel="stylesheet" href="/landing_static/css/landing-reset.css" type="text/css">
 <link rel="stylesheet" href="/landing_static/css/landing-help-center.css" type="text/css">
{% endblock %}
{% block content %}
<div id="qq" class="scorllsidebar">
	<div class="sidebarclose tx_closeAll"><span class="tx_close close">关闭</span></div>
	<a target="_black" href="http://wpa.qq.com/msgrd?v=3&uin=2900075001&site="><div class="qqcontent">
	</div></a>
</div>
<div id="overlay" style="z-index:9999;width:100%;height:10000px"></div>
    <div class="navbar-fixed-top">
        <div class="container clearfix">
	        <img src="/landing_static/img/index/logo.png" alt="logo" style="float: left; display: block;" />
	        
	        <div class="headerAction rfloat">
	        	<span class="login_btn"><a class="tx_login" href="javascript: void(0)">登录</a></span>
	        	<div class="tel"></div>
	        	<div class="loginViewBox"></div>
	        </div>
	        
	        <ul class="rfloat tx_active">
	            <li><a nav_name="index" {% ifequal nav_name 'index' %} class="active" {% endifequal %}href="/login/">首页</a></li>
	            <li>|</li>
	            <li><a nav_name="tscn" href="/login/#page3">功能优势</a></li>
	            <li>|</li>
	            <li><a nav_name="jxal" href="/login/#page4">精选案例</a></li>
	            <li>|</li>

	            <li><a nav_name="help_center" {% ifequal nav_name 'help_center' %} class="active" {% endifequal %} href="/account/help_center/">帮助中心</a></li>
	        </ul>
        </div>
    </div>

	{% block content-panel %}
	{% endblock %}

	<div id="footer">
		<div class="footercontainer">
		<div class="fl">
			<div class="logo">
			<img src="/landing_static/img/index/footer_logo.png">
			<P class="title">微众传媒--为好产品代言</P>
		    </div>
		   
		        <P class="address">公司地址：北京市海淀区花园东路泰兴大厦3层301</P>
		        <p class="copyright">© 2014 <a href="#">Mokaine</a>. All Rights Reserved</p>
		    	<p class="copyright">友情链接：<a href="http://www.weizoom.com">微众传媒</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://weibo.com/weizoomofficial">爱微众</a></p>
		</div>
		<div class="conr fr">
			<div class="conrcontainer">
				<span>
					<a target="_blank" href="http://www.weizoom.com/plus/list.php?tid=12">关于我们</a>
				</span>
				<span>
					<a target="_blank" href="http://www.weizoom.com/plus/list.php?tid=13">联系我们</a>
				</span>
				<span>
					<a target="_blank" href="http://www.weizoom.com/plus/list.php?tid=14">招贤纳士</a>
				</span>
				<span>
					<a class="last" target="_blank" href="http://www.weizoom.com/plus/list.php?tid=15">公司发展</a>
				</span>
			</div>
			<div class="markbox fr">
				<img src="/landing_static/img/index/mark2.jpg" style="padding-right:20px;">
				<img class="pr" src="/landing_static/img/index/mark1.jpg">
			</div>
		</div>
		</div>
	</div>
{% endblock %}
{% block base_js %}
	<!-- <script type="text/javascript" src="/static/jquery/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="/static/jquery/jquery.tmpl.min.js"></script> -->

	<script src="/static/jquery/jquery.cookie.js"></script>

	<script>
	$(document).ready(function() {
		var isOpera = !!window.opera || navigator.userAgent.indexOf(' OPR/') >= 0;
		var isFirefox = typeof InstallTrigger !== 'undefined';
		var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0;
		var isChrome = !!window.chrome && !isOpera;

		if ((!isFirefox) && (!isChrome) && (!isSafari)) {
			$('.browserRestrictions').css('display', 'block');
		}
    });

	 $('.tx_login').click(function(event) {
		W.dialog.showDialog('W.weapp.dialog.LoginDialog', {});
	 });
	
  	
	function addActive(url) {
		var url = url || window.location.href;
		var url_last = url.substr(url.length-1, 1);
		if (url_last==='3' || url_last==='4') {
			var nav_name = $.cookie('nav_name');
		} else {
			var nav_name = '{{nav_name}}';
		}
		var as = $('.navbar-fixed-top .tx_active').find('li a');
		$(as).removeClass('active');
		as.each(function() {
			var $a = $(this);
			var cur_nav_name = $a.attr('nav_name');
			if (cur_nav_name===nav_name) {
				$a.addClass('active');
			}
		});
	}
	addActive();
	$('.navbar-fixed-top .tx_active li a').click(function(event) {
		var $el = $(event.currentTarget);
		var nav_name = $el.attr('nav_name');
		$.cookie('nav_name', nav_name, {path: '/'})
		var url = $el.attr('href');
		addActive(url);
		return true;
	});
	var navName = "{{nav_name}}";
	
	$('#qq .tx_closeAll').click(function(){
		$('#qq').addClass('hidden');
	});
	</script>
	{% block js %}
	{% endblock %}
{% endblock %}