<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/page/Page.js"></script>
<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/componentadder/ComponentAdder.js"></script>
<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/pageheader/PageHeader.js"></script>
<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/shopheader/ShopHeader.js"></script>
<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/personalityTheme/personalityTheme.js"></script>
<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/personalityTheme/personalityThemeGroup.js"></script>

<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/specialTemplate/specialTemplate.js"></script>
<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/specialTemplate/specialTemplateGroup.js"></script>


<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/richtext/RichText.js"></script>

<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/item/Item.js"></script>
<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/item/ItemGroup.js"></script>
<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/itemlist/ItemList.js"></script>

<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/image/Image.js"></script>
<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/image/ImageGroup.js"></script>

<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/notice/notice.js"></script>

<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/title/Title.js"></script>

<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/textnav/TextNav.js"></script>
<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/textnav/TextNavGroup.js"></script>

<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/imagenav/ImageNav.js"></script>
<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/imagenav/ImageNavGroup.js"></script>

<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/block/Block.js"></script>

<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/imagedisplay/Image.js"></script>
<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/imagedisplay/ImageDisplay.js"></script>

<!--
<script type="text/javascript" src="/termite_static/termite_js/app/component/wepage/imageadvertisement/ImageAdvertisement.js"></script>
-->