 <script id="weixin-edit-simulator-tmpl-src" type="text/x-jquery-tmpl">
	<div class="xui-simulator xa-simulator">
		<div class="xui-simulator-back-btn xa-simulator-back-btn"></div>
		<div class="xui-title-zone xa-simulatorTitle">${title}</div>
        <div class="xui-simulator-screen xa-simulator-screen">
        	<div class="xui-simulator-screen-right {{if enableAction}}xui-hide{{/if}}"></div>
        	<div class="xui-simulator-screen-bottom {{if enableAction}}xui-hide{{/if}}"></div>
	        {{if enableWeixin}}
	        <div class="xui-timeline-zone xa-timeline-zone">
	        </div>
	        {{/if}}
	        {{if enableBrowser && !enableAddMenu}}
	        <div class="xui-browser-zone xa-browser-zone" {{if !enableWeixin}}style="left:0%"{{/if}}>
                <iframe src="${initBrowserUrl}" frameborder="0" width="100%" height="100%" id="mobile-browser" name="mobile-browser"></iframe>
            </div>
	        {{/if}}
	        {{if enableMenu}}
	        <div class="alert tc" style="margin-top: 200px;"><storng>【提示】</storng>拖动菜单项可进行排序</div>
	        {{/if}}
        </div>
        {{if enableAddMenu}}
        <div class="popover top in x-menuItemContainer">
			<div class="arrow"></div>
			<div class="x-menuItems">
			</div>
		</div>
        <div id="menubar-zone" class="relative">
	        <div class="" style="margin: 0; width: 100%;">
				<div class="x-menus" style="width: 100%;">
				</div>
			</div>
			<!--
        	<div class="" style="position: absolute; top: 50px; left: 102px;">
				<button class="x-addMenuBtn btn btn-success"><i class="icon-plus icon-white"></i>添加菜单</button>
			</div>
			-->
        </div>
        {{/if}}
    </div>
</script>








<script id="weixin-material-single-news-tmpl-src" type="text/x-jquery-tmpl">
	<div class="xui-one-weixin-message xui-single-message">
		<ul class="xui-i-news">
			<li class="xui-i-message xa-i-news-message" data-id="${news.id}" data-link="${news.url}" >
				<div class="xui-i-news-content">
					<span class="xui-i-messageTitle" name="title">{{if news.title}}${news.title}{{else}}标题{{/if}}</span>
					<span class="xui-i-messageDate">${news.date}</span>
					<div class="xui-i-messageImgBox mt5">
						<img class="xui-i-messageImg {{if !news.pic_url}}xui-hide{{/if}}" src="${news.pic_url}" name="picture">
						{{if !news.pic_url}}
							<span class="xui-i-messageNoneImgText">封面图片</span>
						{{/if}}
					</div>
					<span class="xui-i-messageSummary" name="summary">{{if news.summary}}${news.summary}{{else}}摘要{{/if}}</span>
					<span class="xui-i-messageReadFull mt10 mb10 pr">阅读全文<i class="xui-icon-arrow"></i></span>
				</div>
			</li>
		</ul>
	</div>
</script>





<script id="weixin-material-multi-newses-tmpl-src" type="text/x-jquery-tmpl">
<div class="xui-one-weixin-message xui-multi-message">
	<ul class="xui-i-news">
		<li class="xui-i-message xui-i-firstMessage xa-i-news-message pr"
			data-link="${mainNews.url}" 
			data-id="${mainNews.id}"
			data-pin='false'>
			<div class="xui-i-news-content">
				<div class="xui-i-messageImgBox clearfix pr">
					<img class="xui-i-messageImg {{if !mainNews.pic_url}}xui-hide{{/if}}" src="${mainNews.pic_url}" name="picture">
					{{if !mainNews.pic_url}}
						<span class="xui-i-messageNoneImgText">封面图片</span>
					{{/if}}
					<div class="xui-i-messageTitle pa p10">
						<span name="title">{{if mainNews.title}}${mainNews.title}{{else}}标题{{/if}}</span>
					</div>
					
				</div>
				<div class="xui-i-message-editor xa-i-message-editor-bar pa xui-hide">
					<span class="xui-i-edit xa-i-edit-news-btn">编辑</span>
					<!-- <span class="xui-i-delete xa-i-delete-news-btn xui-hide">删除</span> -->
				</div>
			</div>
		</li>
	    {{each(i,news) subNewses}}
		<li class="xui-i-message xa-i-news-message clearfix pr"
			data-link="${news.url}" 
			data-id="${news.id}" 
			data-pin='false'>
			<div class="clearfix pr xui-i-news-content">
				<span class="xui-i-messageTitle fl" name="title">{{if news.title}}${news.title}{{else}}标题{{/if}}</span>
				<div class="xui-i-messageImgBox pa">
					<img class="xui-i-messageImg {{if !news.pic_url}}xui-hide{{/if}}" src="${news.pic_url}" name="picture">
					{{if !news.pic_url}}
						<span class="xui-i-messageNoneImgText">缩略图</span>
					{{/if}}
				</div>				
			</div>
			<div class="xui-i-message-editor xa-i-message-editor-bar pa xui-hide">
				<span class="xui-i-edit xa-i-edit-news-btn">编辑</span>
				<span class="xui-i-delete xa-i-delete-news-btn xui-hide">删除</span>
			</div>
		</li>
	    {{/each}}
	</ul>
	<!-- start 添加新图文 -->
	<div class="btn btn-primary xui-add-news xa-add-news-btn {{if !enableAddNews}}xui-hide{{/if}}">+新增</div>
	<!-- finish 添加新图文 -->	
</div>

</script>





<script id="weixin-material-text-message-tmpl-src" type="text/x-jquery-tmpl">
<div class="mt20 ${extraClass}" data-id="${id}">
    <div class="profile ${extraClass}-profile">
    	<img src="${imagePath}" width="45"/>
    </div>
    <div class="content">
	    {{each(i,text) texts}}
	    {{html text}}<br/>
	    {{/each}}
    </div>
    <div class="cb"></div>
</div>
</script>