{% load workbench_filter %}

{% ifequal component.type 'wepage.navbar' %}
<div 
	class="wui-template-globalNavbar"
	data-component-cid="{{component.cid}}" 
	style=""
>
{{component.model.type}}
	{% if component.model.type == "weixin" %}
	<div class="xui-globalBottomBar" data-ui-role="bottomNav">
        <div class="xui-home">
            <a href="###" class="xui-bg"></a>
        </div>
        {% with component.components|length as fisrt_count %}
        {% for fisrt_component in component.components %}
            <div data-component-cid="{{fisrt_component.cid}}" class="xui-flex xui-flex-two">
                <div class="xui-menu xa-menu f14">
                    <a href="###" class="wa-inner-link">{{ fisrt_component.model.title }}</a>
                </div>
                <div class="xui-subMenuContainer">
                    <span class="xui-menuArrow"></span>
                    <span class="xui-menuArrowBorder"></span>
                    <ul class="xui-subMenu">
                        {% with fisrt_component.model.second_navs|parse_json_str as second_navs %}
                            {% for second_nav in second_navs %}
                            <li class="f12"><a href="{{ second_nav.target|extract_target_data:request|safe }}">{{ second_nav.title }}</a></li>
                            {% endfor %}
                        {% endwith %}
                    </ul>
                </div>
            </div>
        {% endfor %}
        {% endwith %}
	</div>
	{% endif  %}
	{% if component.model.type == "slide" %}
	<div class="wui-weshopSideBar" data-ui-role="sideNav" {% if in_design_mode %}data-disable-switch="true" data-auto-active="product-category"{% endif %}>
		<div class="xui-globalSideBar">
			<div class="xui-bottomNav">
				<ul class="">
					<li class="xa-outLink" data-page="home"><i class="xui-bg"></i></li>
					<li class="xa-category" data-page="product-category"><i class="xui-bg"></i></li>
					<li class="xa-outLink" data-page="shopping-cart">
						<i class="xui-bg"><span class="xui-shopCar">2</span></i>
					</li>
					<li class="xa-outLink" data-page="usercenter"><i class="xui-bg"></i></li>
				</ul>
			</div>
		</div>
		<div class="xui-sidePanel xa-sidePanel"  {% if in_production_mode %}id="xa-wrapper" {% endif %} {% if in_design_mode %}style="display:block;"{% endif %}>
			<ul class="xui-mainMenu">
				<li class="xui-firstNav">
					<a href="###">
						<span>全部商品<i class="xui-leftArrow"></i></span>
					</a></li>
				<li class="xui-firstNav xa-firstNav"> 
					<a href="###">
						<span>衣服分类衣服分类衣服<i class="xui-leftArrow"></i></span>
					</a>
					<ul class="xui-subMenu">
						<li class="pl50"><a href="###">衣服分类衣服分类衣服</a></li>
						<li class="pl50"><a href="###">衣服分类衣服分类衣服</a></li>
						<li class="pl50"><a href="###">衣服分类衣服分类衣服</a></li>
						<li class="pl50"><a href="###">衣服分类衣服分类衣服</a></li>
					</ul>
				</li>
				 <li class="xui-firstNav xa-firstNav"> 
					<span>衣服分类衣服分类衣服<i class="xui-leftArrow"></i></span>
				</li>
				 <li class="xui-firstNav xa-firstNav"> 
					<span>衣服分类衣服分类衣服<i class="xui-leftArrow"></i></span>
					<ul class="xui-subMenu">
						<li class="pl50">衣服分类衣服分类衣服</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	{% endif %}
</div>
{% endifequal %}
