{% extends "content_base.html" %}
{% load common_tag %}
{% load account_filter %}

{% block content-panel %}
<div class="relative">
	<ul class="breadcrumb">
		<li class="active">微信摇一摇</li>
	</ul>
	<span class="breadcrumRightButton">
		<a class="btn btn-primary" href="/market_tools/shake/edit/0/"><i class="icon-plus icon-white"></i>添加微信摇一摇</a>
	</span>
</div>

<div>
	<div class="xa-listView" data-ui-role="advanced-table" data-app="market_tools/shake" data-api="shakes/get" data-template-id="#shake_list_view" data-enable-paginator="true" data-init-sort="-created_at"></div>
</div>

<div style="margin-top: 40px;">
	<div style="font-weight: bolder; margin-left: 5px;">中奖列表:</div>
	<div data-ui-role="advanced-table" data-app="market_tools/shake" data-api="records/get" data-template-id="#record_list_view" data-init-sort="-created_at" data-item-count-per-page="15" data-enable-paginator="true">
	</div>
</div>
{% endblock %}

{% block jsTemplate %}
	{% verbatim %}
		<script id="record_list_view" type="text/x-jquery-tmpl">
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>活动名称</th>
						<th>中奖用户</th>
						<th>中奖金额</th>
						<th>中奖时间</th>
						<th>是否发成功</th>
					</tr>
				</thead>
				<tbody>
					{{each(i, record) items}}
					<tr data-id="${record.id}">
						<td>
							<span class="select_text">
								${record.name}
							</span>
						</td>
						<td>
							<div>
								{{if record.user_id}}
								<a href="/member/detail/?id=${record.user_id}">{{html record.username}}</a>
								{{else}}
								{{html record.username}}
								{{/if}}
							</div>
						</td>
		
						<td>
							<span class="select_text">
								${record.money}
							</span>
						</td>
						
						<td>
							<div>
								${record.created_at}
							</div>
						</td>

						<td>
							<div>
								{{if record.is_sended}}
									是
								{{else}}
									否
								{{/if}}
							</div>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</script>
		<script id="shake_list_view" type="text/x-jquery-tmpl">
			<table class="table table-bordered table-condensed">
	            <thead>
	                <th>摇一摇活动名称</th>
	                <th>操作</th>
	            </thead> 
	            <tbody>
	            	{{each(i, item) items}}
	            	<tr tr_id='${item.id}'>
	            		<td><a href="/market_tools/shake/edit/${item.id}/">${item.name}</a></td>
	            		<td><a href="/market_tools/shake/delete/${item.id}/">删除</a></td>
	            	</tr>
	            	{{/each}}
	            </tbody>
	         </table>
	</script>
	{% endverbatim %}
	
{% endblock %}

{% block js %}
<script type="text/javascript">
	
</script>
{% endblock %}
