{% extends "apps_base.html" %}

{% block css %}
<style type="text/css">
    html,body{
        height: 100%;
        font-family: "黑体";
    }
</style>
{% endblock %}

{% block content-panel %}

{% endblock %}

{% block js %}
<script type="text/javascript">
    wx.ready(function(){
        wx.scanQRCode({
            needResult: 1, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
            scanType: ["qrCode"], // 可以指定扫二维码还是一维码，默认二者都有
            success: function (res) {
                var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                alert(result);
            }
        });
    });
</script>
{% endblock %}