<script id="weixin-fans-filter-view-tmpl-src" type="text/x-jquery-tmpl">
    <div class="xa-fansFilterView xui-filterPanel">
        <div class="xui-form disT">
            <div class="xui-col disTc w470">
                <div class="xui-i-item fl">
                    <label class="">微信昵称</label>
                    <input type="text" class="form-control " id="name" name="name" value="" />
                </div>
                <div class="xui-i-item">
                    <label class="w60">分组</label>
                    <select id="category" name="category">
                    </select>
                </div>
            </div>
            <div class="xui-col disTc w470">
                <div class="xui-i-item fl">
                    <label>关注状态</label>
                    <select id="status" name="status">
                        <option value="-1">全部</option>
                        <option value="1" name="tag">已关注</option>
                        <option value="0" name="tag">已跑路</option>
                    </select>
                </div>
                <div class="xui-col disTc">
                    <div class="xui-i-item">
                        <label class="w60">性别</label>
                        <select id="sex" name="sex">
                            <option value="-1">全部</option>
                            <option value="1">男</option>
                            <option value="2">女</option>
                            <option value="0">未知</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="tc">
            <a class="btn btn-primary mr40 xa-search xui-fontBold" href="javascript:void(0);">查询</a>
        </div>
    </div>
</script>
