{% extends "apps_base.html" %}

{% block css %}
<style>
    .wui-mask{
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(181, 181, 181, 0.3);
        z-index: 10;
        height: 100%;
        width: 100%;
    }
    /*.mask{
        background: rgba(0,0,0,0.8)!important;
        position: fixed!important;
    }*/
    .xui-share {
        background: url("/termite_static/img/component/powerme/share.png") no-repeat scroll 82% 10px / 53% auto rgba(0, 0, 0, 0);
        height: 75%;
        position: fixed;
        text-align: center;
        top: 5%;
        width: 100%;
        z-index: 10001;
    }
    .xui-share.xa-share > div p {
        color: #fff;
        text-align: center;
        width: 100%;
    }
    .xui-spritebg{
        background: url("/termite_static/img/component/powerme/Sprite.png") no-repeat scroll 0 0 / 150% auto rgba(0, 0, 0, 0)
    }
    /* 分享的closeButton */
    .xui-colseButton {
        background-position: -36px 0;
        height: 47px;
        left: 40%;
        margin-left: 11px;
        position: absolute;
        top: 60%;
        width: 50px;
    }
    /* 二维码的closeBtn */
    .xui-closeBtn {
        height: 30px;
        padding-left: 235px;
        position: fixed;
        top: 12%;
        width: 45px;
    }
    .xui-successHint {
        background: no-repeat scroll 0 0 url("/termite_static/img/component/redpacket/success_msg.png");
        border-radius: 3px;
        left: 12%;
        padding: 16% 10% 16% 9%;
        position: fixed;
        top: 20%;
        width: 60%;
        height: 15%;
        z-index: 11111;
        text-align: center;
        background-position: 5px -20px;
        background-size: 85%;
    }
    .xui-successHint{
        color:#3E1917;

    }
    .xui-successHint .xui-i-msg{
        color:#3E1917;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .xui-successHint .wui-i-closebtn{
        color: white;
        font-size: x-large;
        font-weight: bold;
        width: 30px;
        height: 30px;
        background: #FF422D;
        text-align: center;
        border-radius: 100px;
        position: relative;
        left: 96%;
        top: -111%;
        line-height: 30px;
    }
    .xui-successHint .xui-i-intro_text {
        font-weight: bold;
    }
    .xui-successHint .xui-i-intro_num {
        color:#C11F20;
        font-weight: bold;
    }
    .xui-successHint .xui-i-num {
        font-size: 220%;
    }
    .xui-attention{
        position: fixed;
        top: 12%;
        width: 100%;
        text-align: center;
        z-index: 10001;
    }
    .xa-attention-member .xui-twoDimensionBox{
        text-align: center;
    }
    .xa-attention-guest .xui-twoDimensionBox{
        text-align: left;
    }
    .xui-attention .xui-twoDimensionBox {
        background: url("/termite_static/img/component/powerme/attention.png") no-repeat scroll 0 0 / 100% auto #fff;
        border-radius: 8px;
        padding: 5px 20px 20px 20px;
        width: 260px;
        display: inline-block;
    }
    .xui-attention .xui-twoDimension{
        display: block;
        height: 180px;
        position: relative;
        width: 180px;
        margin-left: 40px;
    }
    .xui-twoDimensionBox p {
        display: inline-block;
    }
    .wui-wraper{
        background: white none repeat scroll 0 0;
        border-radius: 100px;
        float: left;
        height: 44px;
        width: 44px;
    }
    .wui-win-font-color{
        color: orangered;
    }
    .wa-power-btn-action{
        max-width: 18%;
    }
    .wa-mobile_solution{
        max-width: 43%;
    }
    .wui-i-btn-power span{
        display: inline-block;
        position: relative;
        max-width: 41%;
        /* height: 20px; */
        /* line-height: 20px; */
        text-overflow: ellipsis;
        /*border: 1px solid #999;*/
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

</style>
{% endblock %}

{% block content-panel %}
    {{ page_html_content|safe }}

    <div class="xui-powerSucceed xa-powerSucceed none">
        <div class="f15 xui-successHint xui-spritebg">
            <p class="xui-i-msg none">现金红包已领取成功,系统会在24小时内把现金打入您的钱包，请注意查收！</p>
            <div style="display: inline-block;color: #333;width: 75%;">
                <p class="xui-i-intro_text">您已为<span class="wa-pageownername">"未命名"</span>贡献</p>
                <p class="xui-i-intro_num"><span class="xui-i-num">+</span><span class="xui-i-num wa-helpmoneynumber">0.00</span><span>元</span></p>
                </div>
                <div class="wui-i-closebtn xa-i-closebtn">
                    ×
                </div>
        </div>
    </div>
    <!-- 非会员引导 -->
    <div class="xui-attention xa-attention-guest none">
        <div class="xui-twoDimensionBox">
            <div class="xa-attention-tip-one" style="margin-top: 32px;">
                <p>1.长按二维码关注</p><span class="wui-win-font-color">“{{ mpUserPreviewName }}”</span><span>公众号</span>
            </div>
            <img src="{% if params_qrcode_url %}{{params_qrcode_url}}{% else %}{{ request.webapp_owner_info.qrcode_img }}{% endif %}" alt="" class="xui-twoDimension">
            <div class="xa-attention-tip" style="display:none">
                <p class="wui-win-font-color">2.关注公众号后即可为好友助力值+1</p>
            </div>
            <div class="xa-attention-reply" style="margin-top: 5px;">
                <p>2.回复：</p><div class="wui-win-font-color" style="display: inline;">“{{ reply_content|safe }}”，即可参加活动</div>
            </div>
            <div class="xui-closeBtn xa-closeBtn"></div>
        </div>
    </div>
    <!-- 个人引导 -->
    <div class="xui-attention xa-attention-member none">
        <div class="xui-twoDimensionBox">
            <div class="xa-attention-tip-one" style="margin-left: 8px;margin-right: 5px;margin-top: 32px;">
                <div style="color: orangered;text-align:center">您已参加该活动！</div>
                <div style="text-align:center">长按二维码进入公众号</div>
                <div style="text-align:center">获取你自己的专属页，</div>
            </div>
            <img src="{{ request.webapp_owner_info.qrcode_img }}" alt="" class="xui-twoDimension">
            <div class="xa-attention-reply" style="margin-left:8px;margin-right: 5px;margin-top: 5px;">
                分享到朋友圈,发动小伙伴帮你助力赢大奖！
            </div>
            <div class="xui-closeBtn xa-closeBtn"></div>
        </div>
    </div>
    <div class="xui-share xa-share none">
        <div style="margin-top: 49%">
            <p>好的事物，一起分享</p><p>邀请好友或者分享到朋友圈，</p>
            <div style="display: inline">
                <p style="display: inline">发动小伙伴帮<p style="color: yellow;display: inline" class="wa-pageownername"></p><p style="display: inline">赢大奖！</p>
            </div>
        </div>
        <div class="xui-colseButton xui-spritebg xa-colseButton"></div>
    </div>

{% endblock %}

{% block js %}
<script type="text/javascript">
    var is_helped = true;
    var is_self_page = true;
    var page_owner_name = '';
    var page_owner_member_id = '';
    var qrcode_url = W.qrcodeUrl;
    var new_qrcode_url = {% if params_qrcode_url %}'{{params_qrcode_url}}'{% else %}qrcode_url{% endif %};
    $(function(){
        //隐藏参与活动按钮
        $('.xa-submitButtonContainer').hide();
        if(W.isPC){
            return false;
        }
        $('.wui-appParticipantResult-Cover').hide();
        //展示参与统计
        getDynamicData();
    });

    function updateBtnStatus(){
        if('进行中' != W.activityStatus){
            $('.wa-timing').hide();
            if('未开始' == W.activityStatus){
                $('.wa-notready').show();
            }else{
                $('.wa-closed').show();
            }
            return false;
        }
        //如果是自己的主页
        if(is_self_page){
            //参与活动
            participate_red_packet();
            $('.wa-using').text('邀请好友 帮我拼红包').on('click', openGuideMask).show();
        }else{
            var using_msg;
            var $attention = $('.xa-attention-guest');
            var $powerBtn = $('.wa-power');
            $powerBtn.find('.wa-mobile_solution').html(page_owner_name);
            if(W.isMember){
                if(is_helped){
                    $powerBtn.find('.wa-power-btn-action').html('已帮');
                    $powerBtn.on('click', function(){
                        openGuideMask();
                    }).show();
                }else{
                    $powerBtn.find('.wa-power-btn-action').html('帮');
                   $powerBtn.on('click', function(){
                       if(is_helped){
                           openGuideMask();
                       }else{
                           powerYou();
                       }
                   }).show();
                }
            }else{
                if(is_helped){
                    $powerBtn.find('.wa-power-btn-action').html('已帮');
                    $powerBtn.on('click', function(){
                        openGuideMask();
                    }).show();
                }else{
                    $powerBtn.find('.wa-power-btn-action').html('帮');
                    $powerBtn.on('click', function(){
                        powerYou();
                    }).show();
                }
            }

            if(W.isAlreadyParticipanted){
                using_msg = '您已参加该活动';
                $('.wa-using').text(using_msg).on('click', function(){
                    openMemberMask();
                }).show();
            }else{
                using_msg = '我也要参加';
                $('.wa-using').text(using_msg).on('click', function(){
                    $attention.find('img').attr('src', qrcode_url);
                    $attention.find('.xa-attention-tip').hide();
                    $attention.find('.xa-attention-reply').children().first().html("2.回复：");
                    openGuestMask();
                }).show();
            }
        }

    }

    function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null) return unescape(r[2]);
        return null;
    }

    //发送请求，单独获取排名数据，优化首页时间
    function getDynamicData(){
        loadingStatus(true);
        var fid = GetQueryString("fid");
        W.getApi().call({
            app: 'm/apps/red_packet',
            resource: 'm_red_packet',
            method: 'get',
            args: {
                webapp_owner_id: W.webappOwnerId,
                id: W.appRecordId,
                fid: fid
            },
            success: function(data) {
                console.log(data);
                //渲染按钮状态
                updateActivityStatus(data);
                //更新金额数字
                updateMoneyInfo(data);
                //启动倒计时
                renderTime(data.member_info.timing);
                //渲染帮助者名单
                showHelperInfo(data);
                //隐藏loading动画元素
                loadingStatus(false);
                //进度bar动画
                runProcessBar(data);
            },
            error: function(data) {
                if(data.errMsg == 'is_deleted'){
                    deletedRecord();
                }else{
                    wuiAlert(data.errMsg)
                }
            }
        });
    }
    function runProcessBar(data){
        red_packet_money = member_info.red_packet_money;
        current_money = member_info.current_money;

        process = parseFloat(current_money/red_packet_money).toFixed(1)*100 +"%";

        $(".xa-i-percentbox").left(process);
        $(".xa-i-bar_process").width(process);
        $(".xa-i-percentbox").html(process);
    }

    function updateActivityStatus(data){
        member_info = data.member_info;
        is_self_page = member_info.self_page;
        //更新页面拥有者名称
        page_owner_name = is_self_page ? '你' : member_info.page_owner_name;
        $('.wa-pageownername').html(page_owner_name);
        //检查活动状态,更新参与按钮并绑定事件
        W.activityStatus = member_info.activity_status;
        W.isAlreadyParticipanted = member_info.is_already_participanted;
        W.member_id = member_info.member_id;
        W.isMember = member_info.isMember;
        //TODO 未关注会员处理

        is_helped = member_info.is_helped;
        page_owner_member_id = member_info.page_owner_member_id;
        updateBtnStatus();
    }

    function updateMoneyInfo(data){
        member_info = data.member_info;
        red_packet_money = member_info.red_packet_money;
        current_money = member_info.current_money;
        $('.wa-i-current_money').text(current_money+'元');
        $('.wa-i-red_packet_money').text('总金额'+red_packet_money+'元');
    }

    function participate_red_packet(){
        //进入页面就算参与拼红包活动
        W.getApi().call({
            app: 'm/apps/red_packet',
            resource: 'red_packet_participance',
            method: 'post',
            args: {
                webapp_owner_id: W.webappOwnerId,
                id: W.appRecordId,
                fid: page_owner_member_id
            },
            success: function(data) {
                console.log(page_owner_name+'成功参与活动');
            },
            error: function(data) {
                console.error(data.errMsg);
            }
        });
    }

    function showHelperInfo(data){
        var helpers_info = data.helpers_info;
        if(helpers_info || $.isEmptyObject(helpers_info)){
            var li_content = '';
            for(var i in helpers_info){
                var p = helpers_info[i];
                li_content += "<div class='wui-i-friend'><div  class='wui-i-avatarbox'><div class='wui-i-avatar'><img src='"+ p.user_icon+"'></div></div><div class='wui-i-info'><li class='wui-i-money'>"+ p.help_money+"元</li><li class='wui-i-name'>"+ p.username+"</li></div></div>";
            }
            $('.wa-top100').append($(li_content));
        }
    }

    function renderTime(seconds){
        seconds = parseInt(seconds);
        var formatTime = function(data){
            data = parseInt(data);
            if(data<10){
                return '0'+data;
            }
            return data;
        };
        var $s = $('.xa-second');
        var $m = $('.xa-minute');
        var $h = $('.xa-hour');
        var $d = $('.xa-day');
        var timer = window.setInterval(function(){
            if(seconds <= 0){
                window.clearInterval(timer);
                return false;
            }
            var left_seconds = formatTime(seconds%60);
            var left_minites = formatTime(seconds/60%60);
            var left_hours = formatTime(seconds/60/60%24);
            var left_days = formatTime(seconds/60/60/24);
            $s.text(left_seconds);
            $m.text(left_minites);
            $h.text(left_hours);
            $d.text(left_days);
            seconds--;
        },990);
    }

    function openGuideMask(){
        mask('show');
        $('.xa-share').removeClass('none');
    }
    function openSuccessWin(){
        mask('show');
        $('.xui-powerSucceed').removeClass('none');
    }
    function openGuestMask(){
        mask('show');
        $('.xa-attention-guest').removeClass('none');
    }
    function openMemberMask(){
        mask('show');
        $('.xa-attention-member').removeClass('none');
    }
    function powerYou(){
        var $attention = $('.xa-attention-guest');
        if (is_helped) {
            if(!W.isMember){
                $attention.find('.xa-attention-tip').show();
                $attention.find('img').attr('src', new_qrcode_url);
                $attention.find('.xa-attention-reply').children().first().html("3.回复：");
                openGuestMask();
            }
            return
        }
        is_helped = true;
        W.getApi().call({
            app: 'm/apps/red_packet',
            resource: 'red_packet_participance',
            method: 'put',
            args: {
                webapp_owner_id: W.webappOwnerId,
                id: W.appRecordId,
                fid: page_owner_member_id
            },
            success: function(data) {
                if (W.isMember) {
                    $('.xui-successHint').find('.wa-helpmoneynumber').html(data.help_info.help_money);
                    $('.wa-power').find('.wa-power-btn-action').html('已帮');
                    openSuccessWin();
                }else{
                    $attention.find('.xa-attention-tip').show();
                    $attention.find('img').attr('src', new_qrcode_url);
                    $attention.find('.xa-attention-reply').children().first().html("3.回复：");
                    openGuestMask();
                }
            },
            error: function(data) {
                if(data.errMsg){
                    if(data.errMsg != '只能点赞一次'){
                        wuiAlert(data.errMsg);
                        is_helped = false;
                    }else{
                        if(!W.isMember){
                            $attention.find('.xa-attention-tip').show();
                            $attention.find('img').attr('src', new_qrcode_url);
                            $attention.find('.xa-attention-reply').children().first().html("3.回复：");
                            openGuestMask();
                        }
                    }

                }

            }
        });
    }
    //隐藏所有
    $('.mask').click(function(){
        mask('hide');
        $('.xui-powerSucceed').addClass('none');
        $('.xui-attention').addClass('none');
        $('.xa-share').addClass('none');
        $('.xui-errMsg').addClass('none');
    });
    $('.xa-closeBtn').click(function(){
        $('.xui-attention').addClass('none');
        mask('hide');
    });
    $('.xa-colseButton').click(function(){
        $('.xa-share').addClass('none');
        mask('hide');
    });
    $('.xa-i-closebtn').click(function(){
        $('.xa-rules').addClass('none');
        mask('hide');
    });
    $('.xa-powerSucceed .xa-i-closebtn').click(function(){
        $('.xa-powerSucceed').addClass('none');
        mask('hide');
    });
</script>
{% endblock %}

