@charset "utf-8";
.ui-page{
	background: #fff!important;
}
.ui-shadow-inset{
	box-shadow: none;
	border-bottom: 1px solid #ccc;
}

div.ui-input-text{
	margin:1.2em 0!important;
}
.ui-input-text.ui-focus{
	box-shadow: none;
	border-bottom: 1px solid #5bb75b;
}
.ui-corner-all{
	border-radius: 0px;
}
.ui-shadow{
	box-shadow:none;
}
.ui-btn-corner-all{
	border-radius: 0px;
}
.ui-btn-inner{
	padding:0.46em 17px;
}
.xui-confirm-btn{
	background: #5bb75b;
	border-radius: 7px;
	box-shadow: 0px 2px 0px #409d40;
	color:#fff;
	margin:0 auto;
}
.xui-confirm-btn:hover{
	background: #44a844;
}
.xui-successInfo{
	margin:10px;
	font-size:1.5em;
	color:#3a3a3a;
}
input::-moz-placeholder{
	color:#99783d;
}

/*手机端店铺详情样式*/
.xt-storeName{
    color: #333;
    margin-left: 10px;
}

.store-phone,.store-location,.store-busline{
	color: #333;
    font-size: 0.9em;
    padding-left: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.store-busline {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}


.right_img{
	height: 20px;
}

img.icon--img{
    width: 18px;
    height: 18px;
    display:inline;
    float:left;
    margin-top: 10px;
}

