{% extends "content_base.html" %}
{% load common_tag %}
{% load account_filter %}

{% block css %}
<style type="text/css">
#product-form input[type='text'], #product-form textarea {
	width: 330px;
}
.star_show:before{
    content: '';
}
</style>
{% endblock %}

{% block content-panel %}
<ul class="breadcrumb">
	<li>
		<a href="/market_tools/lottery/">微信抽奖</a>
		<span class="divider">/</span>
	</li>
	<li class="active">{% if lottery.id %}更新{% else %}添加{% endif %}抽奖</li>
</ul>

<div id="lotteryLayer" is_edit_page="{% if lottery.name %}true{% endif %}">
<form class="form-horizontal" method="post" id="roulette-form">
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="name">抽奖活动名称：</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="name" name="name" placeholder="输入活动名称" value="{{ lottery.name }}" data-validate="required" data-validate-max-length="36" />
				<div class="errorHint"></div>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="name">时间范围：</label>
			<div class="controls">
				<input type="text" class="span2" name="start_at" placeholder="开始时间" data-validate="required" value="{{ lottery.start_at|date:'Y-m-d' }}">
                <input type="text" class="span2" name="end_at" placeholder="结束时间" data-validate="required" value="{{ lottery.end_at|date:'Y-m-d' }}">
				<div class="errorHint"></div>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="name">活动类型：</label>
			<div class="controls">
				<select name="type" id="lottery_type" class="span2"  data-origin="{{lottery.type}}">
                    <option value="0">刮刮卡</option>
                    <option value="1">砸金蛋</option>
                    <option value="2">大转盘</option>
                </select>
				<div class="errorHint"></div>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="probability">抽奖消耗的积分：</label>
			<div class="controls">
				<input type="text" class="input-xlarge w50" id="expend_integral" name="expend_integral" placeholder=""
				       value="{% if lottery.expend_integral %}{{ lottery.expend_integral }}{% else %}0{% endif %}"
				       data-validate="require-int"/>
				<div class="errorHint"></div>
			</div>
		</div>

<!-- 		<div class="control-group">
			<label class="control-label" for="probability">预计参与人数：</label>
			<div class="controls">
				<input type="text" class="input-xlarge w50" id="expected_participation_count" name="expected_participation_count" placeholder=""
				       value="{% if lottery.expected_participation_count %}{{ lottery.expected_participation_count }}{% else %}0{% endif %}"
				       data-validate="require-int"/>
				<div class="errorHint"></div>
			</div>
		</div>

        <div class="control-group">
            <label class="control-label" for="probability">每个会员可参与次数：</label>
            <div class="controls"><input class="input-xlarge w50" type="text" name="daily_play_count" value="{{lottery.daily_play_count}}"></div>
        </div> -->
        <div class="control-group">
			<label class="control-label" for="probability">抽奖限制：</label>
			<div class="controls">
                <span class="inline">每人每天</span>
                <input class="span1" type="text" name="daily_play_count" value="{{lottery.daily_play_count}}" data-validate="require-positive-int" />次
                <div class="errorHint"></div>
			</div>
            <div class="errorHint"></div>
		</div>

        <div class="control-group">
			<label class="control-label" for="probability">未中奖描述语：</label>
			<div class="controls">
				<input type="text" class="input-xlarge" placeholder="请填写未中奖后的提示语" id="not_win_desc" name="not_win_desc" value="{% if lottery.not_win_desc %} {{ lottery.not_win_desc }} {% else %}谢谢参与{% endif %}" data-validate="required" data-validate-max-length="10" />
                <div class="errorHint"></div>
			</div>
		</div>
		
		 <div class="control-group" style="display:none">
			<label class="control-label" for="probability">中奖机制：</label>
			<div class="controls" data-validate="selectRadio">
				<label class="radio"><input type="radio" name="award_type" value="0" checked="checked" {% if lottery.award_type == 0 %}checked="checked"{% endif %}>每个会员只能中一次</label>
				<label class="radio"><input type="radio" name="award_type" value="1" {% if lottery.award_type == 1 %}checked="checked"{% endif %}>每个会员每天可中一次</label>
                <label class="radio inline"><input type="radio" name="award_type" value="2" {% if lottery.award_type == 2 %}checked="checked"{% endif %}>每个会员每隔</label><input class="span1" type="text" name="award_hour" value="{{lottery.award_hour}}0">小时可中一次
                <label class="radio"><input type="radio" name="award_type" value="3" {% if lottery.award_type == 3 %}checked="checked"{% endif %}>每个会员每次抽都可中</label>
				<div class="errorHint"></div>
			</div>
		</div>


		<div class="control-group">
            <label class="control-label" for="probability">奖项设置：</label>
			<div class="controls w500">
                <div style="float: right; font-weight: bold; color: rgb(85, 85, 85);">中奖概率总和不能超过100%</div>
                <div class="cl"></div>
				<div class=" prizeItem" style="display:none;">
                    <p>
                        <span class="label">奖项名称：</span>
                        <span>谢谢参与</span>
                    </p>
                    <p>
                        <span class="label">中奖率：</span>
                        <input name="no_prize_odd" type="text" class="span1 tx_odds" value="{{lottery.no_prize_odd}}0" data-validate="require-int">%
                        <span class="errorHint"></span>
                    </p>
                </div>
				
                {% if lottery.prizes %}
                {% for prize in lottery.prizes %}
				<div class="tx_prizeItem prizeItem">
                    <button class="close tx_removeItem" type="button">×</button>
                    <p>
                        <span class="label">奖项名称：</span>
                        <span class="tx_prize_name">一等奖</span>
                        <input name="prize_name|1" type="text" class="span2 tx_prize_name_input" style="display: none" value="{{prize.name}}" >
                        <span class="errorHint"></span>
                    </p>
                    <p>
                        <span class="label">中奖率：</span>
                        <input name="prize_odds|1" type="text" class="span1 tx_odds" value="{{prize.odds}}" data-validate="require-int">%
                        <span class="errorHint"></span>
                    </p>
                    <p>
                        <span class="label">奖品数：</span>
                        <input name="prize_count|1" type="text" class="span1" value="{{prize.count}}" data-validate="required-custom-function" data-validate-function="validatePrizeCount" maxlength="9">
                        <span class="errorHint"></span>
                    </p>
                    <div class="zoom">
                        <span class="label">奖品类型：</span>
                        <select name="prize_type|1" class="span2" data-origin="{{prize.prize_type}}">
                            <option value="1">优惠劵</option>
                            <!--<option value="2">兑换码</option>-->
                            <option value="3">积分</option>
                            <option value="0">实物奖品</option>
                        </select>

                        <select class="span2 xua-coupon" name="prize_source|1" for_type="1" disabled="disabled" style="display:none;" data-origin="{{prize.prize_source}}">
                            <option value="">请选择优惠劵...</option>
                            {% for rule in coupon_rules %}
                            <option value="{{rule.id}}" data-count="{{rule.remained_count}}">{{rule.name}}</option>
                            {% endfor %}
                        </select>
                        <span name="prize_source|1" class="xua-remainedCount hide"></span>
                        <!--<select class="span2" name="prize_source|1" for_type="2" disabled="disabled" style="display:none;" {% if prize.prize_type == 2 %}value="{{prize.prize_source}}"{% endif %}>
                            <option value="">请选择兑换码...</option>
                        </select>-->
                        <input type="text" class="span2" name="prize_source|1" for_type="3" disabled="disabled" style="display:none;" {% if prize.prize_type == 3 %}value="{{prize.prize_source}}"{% endif %} placeholder="请输入积分数值">
                        <input type="text" class="span2" name="prize_source|1" for_type="0" disabled="disabled" style="display:none;" {% if prize.prize_type == 0 %}value="{{prize.prize_source}}"{% endif %} placeholder="请输入奖品内容">
                        <p class="errorHint ml80 pl5"></p>
                        <p name="prize_source|1"><a target="_blank" class="hide">增加码库</a></p>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="tx_prizeItem prizeItem">
                    <button class="close tx_removeItem" type="button">×</button>
                    <p>
                        <span class="label">奖项名称：</span>
                        <span class="tx_prize_name">一等奖</span>
                        <input name="prize_name|1" type="text" value="一等奖" class="span2 tx_prize_name_input" style="display: none">
                        <span class="errorHint"></span>
                    </p>
                    <p>
                        <span class="label">中奖率：</span>
                        <input name="prize_odds|1" type="text" class="span1 tx_odds" data-validate="require-int" value="0">%
                        <span class="errorHint"></span>
                    </p>
                    <p>
                        <span class="label">奖品数：</span>
                        <input name="prize_count|1" type="text" class="span1" data-validate="required-custom-function" data-validate-function="validatePrizeCount" maxlength="9">
                        <span class="errorHint"></span>
                    </p>
                    <div class="zoom">
                            <span class="label">奖品类型：</span>
                            <select name="prize_type|1" class="span2 mr10">
                                <option value="1">优惠劵</option>
                                <!--<option value="2">兑换码</option>-->
                                <option value="3">积分</option>
                                <option value="0">实物奖品</option>
                            </select>

                            <select class="span2 xua-coupon" name="prize_source|1" for_type="1" disabled="disabled" style="display:none;">
                                <option value="">请选择优惠劵...</option>
                                {% for rule in coupon_rules %}
                                <option value="{{rule.id}}" data-count="{{rule.remained_count}}">{{rule.name}}</option>
                                {% endfor %}
                            </select>
                            <span name="prize_source|1" class="xua-remainedCount hide"></span>
                            <!--<select class="span2" name="prize_source|1" for_type="2" disabled="disabled" style="display:none;">
                                <option value="">请选择兑换码...</option>
                            </select>-->
                            <input type="text" class="span2" name="prize_source|1" for_type="3" disabled="disabled" style="display:none;" placeholder="请输入积分数值">
                            <input type="text" class="span2" name="prize_source|1" for_type="0" disabled="disabled" style="display:none;" placeholder="请输入奖品内容">
                            <p class="errorHint ml80 pl5"></p>
                            <p name="prize_source|1" class="hide"><a target="_blank">增加码库</a></p>
                    </div >
                </div>
                {% endif %}
                <button class="btn btn-block tx_addPrizeItem" for_item=".tx_prizeItem" type="button">添加奖项</button>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="detail">活动详情：</label>
			<div class="controls">
				<textarea rows="5" class="input-xlarge hide" id="detail" name="detail" data-validate="required" placeholder="输入活动详情" data-validate-max-length="10240">{{ lottery.detail }}</textarea>
			</div>
		</div>

    </fieldset>

	<fieldset>
		<legend></legend>
		<div class="control-group">
			<div class="controls">
                {% if lottery.can_update %}
                <p style="color:#C09853;">活动一旦创建将不可修改，请先认真核对确认</p>
                <button type="submit" class="btn btn-success" id="submit-product">&nbsp;&nbsp;&nbsp;&nbsp;保&nbsp;&nbsp;存&nbsp;&nbsp;&nbsp;&nbsp;</button>
                <a href="/market_tools/lottery/" class="btn">&nbsp;&nbsp;&nbsp;&nbsp;返&nbsp;&nbsp;回&nbsp;&nbsp;&nbsp;&nbsp;</a>
                {% else %}
                    <div class="market-tools-overlay" style="height:102.5%;"></div>
                {% endif %}

            </div>
		</div>
	</fieldset>
</form>
</div>

{% endblock %}

{% block dialog %}
{% endblock %}

{% block jsTemplate %}
	{% include_raw 'jsTemplate/imageView.html' %}
{% endblock %}

{% block js %}
<script type="text/javascript">
    $('body').delegate('.xua-coupon', 'change', function(){
        var count = $(':selected', this).data('count');
        if(count || count == 0){
            $(this).next('.xua-remainedCount').html('当前库存:'+count).show();
            $(this).nextAll('p:last').show().find('a').attr('href','/mall_promotion/coupon/create/?rule_id='+$(this).val()).show();
        }
    })
    function validatePrizeCount(el){
        // $(el).val()
        var result = {}
        result.isValidate = true;
        result.errorHint = false;
        if(!/^\d+$/g.test($(el).val())){
            result.isValidate = false;
            result.errorHint = '格式不正确，请输入整数';
        }else{
            var index = $(el).attr('name').split('|')[1];
            if($('[name="prize_type|'+index+'"]').val()==1 && $('[name="prize_source|'+index+'"]').find(':selected').data('count')<parseInt($(el).val())) {
                result.isValidate = false;
                result.errorHint = '奖品数量应不大于当前库存';
            }
        }
        return result;
    }
    new W.Lottery({
        el: '#lotteryLayer',
        item_id: '{{lottery.id}}'
    });
</script>
{% endblock %}
