{% extends "content_base.html" %}
{% load common_tag %}
{% load account_filter %}

{% block content-panel %}
<div class="relative">
	<ul class="breadcrumb">
		<li class="active">微信抽奖</li>
	</ul>
	<span class="breadcrumRightButton">
{#		<a class="btn btn-primary" href="/market_tools/lottery/edit/0/"><i class="icon-plus icon-white"></i>添加抽奖活动</a>#}
	</span>
</div>

{% if lotteries %}
<div>
	<div style="font-weight: bolder; margin-left: 5px;">抽奖列表:</div>
	<table class="table table-bordered table-condensed">
		<thead>
			<tr>
				<th>活动名称</th>
				<th>开始时间</th>
				<th>结束时间</th>
				<th>类型</th>
				<th>参与次数</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{% for lottery in lotteries %}
			<tr data-id="{{ lottery.id }}">
				<td>
					<div>
						<a href="/market_tools/lottery/edit/{{ lottery.id }}/">{{ lottery.name }}</a>
					</div>
				</td>

				<td>
					<span class="select_text">
						{{ lottery.start_at|date:"Y-m-d" }}
					</span>
				</td>
				<td>
					<div>
						{{ lottery.end_at|date:"Y-m-d" }}
					</div>
				</td>
				<td>
					<div>
						{% if lottery.type == 0 %}刮刮卡{% endif %}
						{% if lottery.type == 1 %}砸金蛋{% endif %}
						{% if lottery.type == 2 %}大转盘{% endif %}
					</div>
				</td>
				<td>
					<div>
						{{ lottery.involved_count }}
					</div>
				</td>
				<td>
					<div>
						{{ lottery.status_text }}
					</div>
				</td>
				<td>
					<div>
						{% if lottery.is_active %}<a href="">停止</a>{% endif %}
						{% if lottery.can_delete %}
							<a class="btn btn-danger wx_delete" href="/market_tools/lottery/delete/{{ lottery.id }}/">删除</a>
						{% endif %}
						{% if lottery.can_stop %}
							<a class="btn btn-warning" href="/market_tools/lottery/stop/{{ lottery.id }}/">暂停</a>
						{% endif %}
						{% if lottery.can_restart %}
							<a class="btn btn-success" href="/market_tools/lottery/start/{{ lottery.id }}/">重启</a>
						{% endif %}
					</div>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div style="margin-top: 40px;">
	<div style="font-weight: bolder; margin-left: 5px;">中奖列表:</div>
	<div data-ui-role="advanced-table" data-app="market_tools/lottery" data-api="records/get" data-template-id="#record_list_view" data-init-sort="-created_at" data-item-count-per-page="15" data-enable-paginator="true">
	</div>
</div>
{% else %}
	<img src="/static/img/img_kong_hd.jpg" class="ml40 mt20" />
{% endif %}
{% endblock %}

{% block jsTemplate %}
	{% verbatim %}
		<script id="record_list_view" type="text/x-jquery-tmpl">
			<table class="table table-bordered table-condensed">
				<thead>
					<tr>
						<th>中奖用户</th>
						<th>
							<p class="tx_searchable m0">
								<span class="pr30 mr40"> 中奖编号 </span>
							</p>
						</th>
						<th>活动</th>
						<th>获奖等级</th>
						<th>奖品名称</th>
						<th>中奖时间</th>
						<th>发奖时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					{{each(i, record) items}}
					<tr data-id="${record.id}">
						<td>
							<div>
								<a href="/member/detail/?id=${record.user_id}">{{html record.username}}</a>
							</div>
						</td>
		
						<td>
							<span class="select_text">
								${record.prize_number}
							</span>
						</td>
						<td>
							<div>
								${record.lottery_name}
							</div>
						</td>
						<td>
							<div>
								${record.prize_name}
							</div>
						</td>
						<td>
							<div>
								{{if record.prize_type == 1}}
		                    		优惠劵${record.prize_money}元
			                    {{/if}}
			                    {{if record.prize_type == 2}}
			                    	兑换码
			                    {{/if}}
			                    {{if record.prize_type == 3}}
			                  	  	积分${record.prize_detail}
			                    {{/if}}
			                    {{if record.prize_type == 0}}
			                    	${record.prize_detail}
			                    {{/if}}
							</div>
						</td>
						<td>
							<div>
								${record.created_at}
							</div>
						</td>
						<td>
							<div>
								{{if record.is_awarded}}${record.awarded_at}{{else}}未发奖{{/if}}
							</div>
						</td>
						<td>
							<div>
								{{if record.is_awarded}}{{else}}<a href="/market_tools/lottery/award_prize/${record.id}/">发奖</a>{{/if}}
							</div>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</script>
	{% endverbatim %}
	
{% endblock %}

{% block js %}
<script type="text/javascript">
</script>
{% endblock %}
