html,body {
	background-color: #efeff4;
}
#messages_list .fr{
	float: right;
	display: inline;
	margin-top: -9px;
	color: #888;
}
#messages_list .fr span{
	margin-left: 41px;
}
#messages_list .time{
	font-size: 12px;
	margin-top: 5px;
}
#messages_list .clear{
	clear: both;
}
#messages_list .fl{
	width: 75%;
	float: left;
	display: inline-block;

}
.msg{
	/*max-width: 65%;*/
	overflow: hidden;
	text-overflow: ellipsis;
}
.msg img{
	width: 17px;
	vertical-align: middle;
}
#message_history {
	padding-bottom: 50px;
	/*margin-top: 45px;*/
}
#message_history .img_size{
	width: 44px;
	height: 44px;
	position: relative;
	display: inline;
	margin-top: 15px;
	border-radius: 30px;
}
#message_history .fl{
	float: left;
	display: inline;
}
#message_history .fr{
	float: right;
	display: inline;
}
#message_history p{
	display: block;
	word-break: break-all;
	margin-top: 5px;
	margin-bottom: 5px;
}
#message_history .message_info_box{
	background : none repeat scroll 0 0;
	position: relative;
	overflow: visible;
	word-break: break-all;
	max-width: 70%;
}
#message_history .message_content{
	/*border: 1px solid #ccc;*/
	border-radius: 6px;
	margin: 10px;
	margin-top: 0px;
	position: relative;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
	min-width: 86px;
	min-height: 34px;
	line-height: 24px;
}
#message_history .message_sender {
	color: #0088D1;
	margin: 6px;
}
#message_history .message_sender_right {
	margin: 3px;
	margin-right: 10px;
}
#message_history .message_sender_left {
	margin: 3px;
	margin-left: 10px;
}
#message_history .message_content_right {
	background: #89cdcc;
}
#message_history .message_content_right p{
	color: #fff;
}

#message_history .message_content_left {
	background: #FFF;
}
.pic_padding{
     padding: 4px;
}
#message_history .message_content_left .bubble_arrow_fl {
	left: -7px;
}
#message_history .message_content_right .bubble_arrow_fr {
	right: -7px;
}
#message_history .bubble_arrow_fr {
	position: absolute;
	top: 10px;
	width: 0;
	height: 0;
	border-width: 3px 0px 10px 11px;
	border-style: solid;
	border-color: transparent transparent transparent #89cdcc;
}
#message_history .bubble_arrow_fl {
	position: absolute;
	top: 10px;
	width: 0;
	height: 0;
	border-width: 3px 11px 10px 0px;
	border-style: solid;
	border-color: transparent #fff transparent transparent;
}
#message_history .clear{
	clear: both;
	overflow: hidden;
	height: 0px;
}
#message_history .surr_b{
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}
#message_history .time{
	color: #999997;
	font-size: 12px;
}
.voiceContent_left{
	margin-left: 10px;
}
.voiceContent_right{
	margin-right: 10px;
}

.voiceContent_left .icoVoice,.voiceContent_left .playVoice,
.voiceContent_right .icoVoice,.voiceContent_right .playVoice{
	cursor: pointer;
	display: inline-block;
	height: 20px;
	width: 25px;
	margin-top: 7px;
}

.voiceContent_left .icoVoice{
	float: left;
	background-image: url("../img/icon_sound_left.png");
	background-repeat: no-repeat;
	background-size: 40% auto;
	/*background: url("../img/icon_sound_left.png") no-repeat scroll 0 0 / 40% auto rgba(0, 0, 0, 0);*/
}

.voiceContent_left .playVoice{
	float: left;
	background-image: url("../img/voiceplay_left.gif");
	background-position: 15px 0;
	background-repeat: no-repeat;
	background-size: 40% auto;
	/*background: url("../img/voiceplay_left.gif") no-repeat scroll 15px 0 / 40% auto rgba(0, 0, 0, 0);*/
}

.voiceContent_right .icoVoice{
	background-image: url("../img/icon_sound_right.png");
	background-position: 15px 0;
	background-repeat: no-repeat;
	background-size: 40% auto;
	float: right;
	/*background: url("../img/icon_sound_right.png") no-repeat scroll 15px 0 / 40% auto rgba(0, 0, 0, 0);*/
}

.voiceContent_right .playVoice{
	background-image: url("../img/voiceplay_right.gif");
	background-position: 15px 0;
	background-repeat: no-repeat;
	background-size: 40% auto;
	float: right;
	/*background: url("") no-repeat scroll 15px 0 / 40% auto rgba(0, 0, 0, 0);*/
}

.pic{
	width:90px;
	border-radius: 4px;
/*	visibility: hidden;*/
}

.voice_duration{
    color: black;
    left: 10px;
    position: absolute;
    top: 1px;
    display:none;
    width: 40px;
}
.reply_box{
	bottom: -100px;
	position: fixed;
	width: 100%;
	height: 150px;
	z-index: 999;
	display: none;
}
.msg_content{
	width: 65%;
	margin-left: 45px;
	margin-top: 7px;
	position: absolute;
	height: 38px;
	-webkit-appearance: none;
	padding: 8px 40px 8px 15px;
	margin-bottom: 15px;
	line-height: 22px;
	-webkit-user-select: text;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 3px;
	outline: 0;
}
#mul_msg{
	position: absolute;
	font-size: 35px;
	margin-left: 5px;
	margin-top: 10px;
}
.msg_send{
	position: absolute;
	right: 10px;
	margin-top: 7px;
	font-size: 17px;
}
.multy_selects{
	position: absolute;
	height: 100px;
	width: 100%;
	margin-top: 50px;
	border-top: 1px solid #B8B8B8;
}
#recordAni{
	visibility: hidden;
	position: fixed;
	bottom: 50px;
	left: 35%;
	height: 100px;
	width: 100px;
	z-index: 1000;
}
.button {
	width: 33%;
	height: 100px;
	border-right: 1px dashed #B8B8B8;
	text-align: center;
	line-height: 130px;
	float: left;
}
.fontSize60{
	font-size: 60px;
}
.fontSize70{
	font-size: 70px;
}
.fontSize80{
	font-size: 80px;
}
.button-active {
	color: green;
}
.button:active {
	background-color: #B0B0B0;
}
.recording{
	height: 100px;
	width: 100px;
	border-style:solid;
	position:absolute;
	box-sizing:border-box;
	border-width:50px;
	border-color:rgba(255,255,255,0);
	border-radius: 50px;
	background-color: coral;
	font-size: 48px;
}
.counting{
	position:absolute;
	width: 100px;
    height: 100px;
    margin: 0 auto;
    line-height: 100px;
    font-size: 23px;
}
.pic_mask{
    position: absolute;
    font-size: 20px;
    visibility: hidden;
    margin-left: -60px;
	margin-top: 25px;
}
.pic_mask_text{
    position:absolute;
    display: none;
    left: 0;
    top: 0;
    width: 10px;
	height: 10px;
	background-color: red;
	border-radius: 10px;
}
.voice_duration{
    color: black;
    left: 10px;
    position: absolute;
    top: 1px;
    display:none;
    width: 40px;
}


#emoji_button{
	display: inline-block;
	width: 35px;
	height: 35px;
	margin-top: 10px;
	position: absolute;
	right: 85px;
	z-index: 999;
}

#emoji_button img{
	width: 30px;
}
.list_emoji{
	width: 90%;
	margin:auto;
}

.one_emoji {
	display: inline-block;
	padding: 5px;
	margin: 5px 10px 5px 0;
}
.emoji_append{
	width: 20px;
	vertical-align: middle;
}

#show_emoji{
	width: 100%;
	margin-top: 50px;
	padding-bottom: 10px;
	visibility: hidden;
}

.message_content_text{
	margin: 5px;
}

