{% extends "content_base_v2.html" %}
{% block css%}
<style>
.xa-list [class^="icon-"]{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-top: 1px;
    line-height: 14px;
    vertical-align: text-top;
}
    .xa-list .icon-arrow-up{
        /*background: #000;*/
        background: url('/static_v2/img/weixin/storingUp.png') no-repeat ;
    }
    .xa-list .icon-arrow-down{
        /*background: #f00;*/
        background: url('/static_v2/img/weixin/storing.png') no-repeat;

    }
</style>
{% endblock%}
{% block content-panel %}
<div class="xui-memberListPage">

    <div class="relative">
        <ul class="breadcrumb">
            <li>您当前所在位置</li>
            <li><a href="/new_weixin/materials/">高级管理</a></li>
            <li><a href="/new_weixin/channel_qrcodes/">渠道扫码</a></li>
            <li class="active">关注粉丝</li>
        </ul>
    </div>
    <div class="xui-filterPanel " >
        <div class="xui-form disT ml20">
            <div class="xui-i-item">
            <label>关注时间：</label>
            <input
                type="text"
                class="form-control xui-datePicker"
                id="start_date"
                name="start_date"
                style=""
                value=""
                readonly="readonly"
                data-validate="require-notempty"
                data-enable-select-time="true"
                data-ui-role="datepicker"
                data-format="yy-mm-dd"
                data-max="now"/>
            <span class="ml5 mr5">至</span>
            <input
                type="text"
                class="form-control xui-datePicker"
                id="end_date"
                name="end_date"
                value=""
                readonly="readonly"
                data-validate="require-notempty"
                data-ui-role="datepicker"
                data-enable-select-time="true"
                data-format="yy-mm-dd"
                data-max="now"
                data-min-el="#start_date"/>

            <a class="btn btn-primary xa-search xui-fontBold" href="javascript:void(0);">查询</a>
            <a class="xa-reset btn btn-primary xui-fontBold" href="javascript:void(0);">重置</a>
        </div>

    </div>
    </div>
    <div class="panel panel-default xb-rightPanel pr mt20 xa-list">
        <div class="panel-heading">
            <!-- <a class="xui-tipBox fr">
            如何对数据排序<b class="xui-tip">?</b></a> -->
            <input type="checkbox" class="is_show vs" checked value="0">&nbsp;&nbsp;仅显示通过二维码新关注会员
        </div>

        <div
            data-ui-role="advanced-table"
            data-app="new_weixin"
            data-args='{"qrcode_id": {{ qrcode_id }}, "is_show":"1" }'
            data-resource="channel_qrcode_member"
            data-template-id="#members-view"
            data-enable-paginator="true"
            data-enable-sort="false"
            data-selectable="false"
            data-item-count-per-page="50"
            class="panel-body"
        ></div>
    </div>
</div>
{% endblock %}


{% block js %}
{% verbatim %}
<script id="members-view" type="text/x-jquery-tmpl">

    <table class="table table-bordered xui-productList xb-stripedTable xb-noTdBorder xb-noBottom xb-noBorder xb-theadBg xui-qrcode-table" >
        <thead>
        <tr>
            <th >粉丝</th>
            <th class="tx_sortable" style="width:15%;text-align:center;" data-sort-attr='pay_times'><a>购买次数</a></th>
            <th class="tx_sortable" style="width:15%" data-sort-attr='integral' ><a>积分</a></th>
            <th class="tx_sortable" style="width:15%" data-sort-attr='pay_money'><a>消费总额</a></th>
            <th style="width:20%">会员等级</th>
            <th  class="tx_sortable " style="width:20%" data-sort-attr='created_at' data-init-sort="-created_at" >关注时间</th>
        </tr>
        </thead>
        <tbody>

        {{each(i, member) items}}
        <tr class='h60' data-id="${member.id}">
            <td style="position:relative;">
                <div class="xui-memberHeader fl pl30">
                    {{if member.is_subscribed == 0}}
                        <div class="xui-cancelCover tc pa">
                            <span>已跑路</span>
                        </div>
                    {{/if}}
                    <a href="/member/member_detail/edit/?id=${ member.id }" target='_blank'>
                        <img src="{{if member.user_icon}}${ member.user_icon }{{else}}/static/img/user-1.jpg{{/if}}" onerror="this.src='/static/img/user-1.jpg'"/>
                    </a>
                </div>
                <div class="fl xui-i-fansName">
                    <a class='lh26 xui-i-link' href="/member/member_detail/edit/?id=${ member.id }" target='_blank'>
                        {{html member.username}}
                        {{if member.name !== ''}}
                            (${member.name})
                        {{/if}}
                    </a>
                </div>
            </td>
            <td style="text-align:center">
                <div class="centerAlign">${ member.pay_times }</div>
            </td>
            <td>
                <div class="centerAlign">${ member.integral }</div>
            </td>
            <td>
                <div class="centerAlign">${ member.pay_money }</div>
            </td>
            <td>
                <div class="centerAlign">${ member.grade_name }</div>
            </td>
            <td>
                <div class="centerAlign">${ member.follow_time }</div>
            </td>
        </tr>
        {{/each}}
        </tbody>
    </table>

</script>
{% endverbatim %}

<script type="text/javascript">
$(document).ready(function() {
    $('#start_date').attr('value','');
    $('#end_date').attr('value','');

    function dateViewReload(){
        var start_date = $('#start_date').val();
        var end_date = $('#end_date').val();
        var is_checked = $('.is_show').is(':checked');
        var dataView = $('[data-ui-role="advanced-table"]').data('view');
        var is_show = 0;
        if (is_checked == true){
            is_show = 1;
        }
        var args= '{"start_date":"'+start_date+'","end_date":"'+end_date+'", "is_show":"'+is_show+'"}';
        dataView.options.args =  args;//this.getFilterValueByDict(args);
        dataView.setPage(1);
        dataView.reload();
    }

    $('.xa-search').click(function(){
        dateViewReload();
    })
    $('.xa-reset').click(function(){
        $('#start_date').attr('value','');
        $('#end_date').attr('value','');
    })

    $('.is_show').click(function(){
        dateViewReload();
    })

    //var args = this.getFilterValue();

});
</script>
{% endblock %}