{% extends "content_base_v2.html" %}

{% block content-panel %}
<div class="xui-weixin-materialsPage">
	<div class="relative">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
			<li><a href="/new_weixin/materials/">高级管理</a></li>
			<li class="active">图文管理</li>
		</ul>
	</div>
	<div class="xb-rightPanel pl10 pr10 pb30">
		<div class="xui-head pl10">
			<a href="/new_weixin/single_news/" class="btn btn-success fl mt10 w150 lh20"><span class="xui-add-btn-icon">+</span>新建单图文</a>
			<a href="/new_weixin/multi_news/" class="btn btn-success fl ml20 mt10 w150 lh20"><span class="xui-add-btn-icon">+</span>新建多图文</a>
			<div class="fr">
				<input type="text" class="xa-search-title"><a class="xui-searchBtn btn btn-default xa-searchBtn c65 fr m0 mt10 pt0 mr10">搜索</a>
			</div>
		</div>
		<div class="">
			{% if has_material %}
				<div 
					data-ui-role="advanced-table" 
					data-app="new_weixin" 
					data-resource="materials"
					data-template-id="#materials-view"
					data-enable-paginator="true" 
					data-enable-sort="false" 
					data-selectable="false" 
					data-item-count-per-page="20" 
					data-disable-header-select="false"
					class="panel-body"
					data-user-webapp-id={{user.get_profile.webapp_id}}
					data-init-sort="-created_at"
				></div>
			{% else %}
			<div class="xui-emptyBox m10">
				<div class="xui-i-emptyHint">
					<img src="/static_v2/img/editor/empty.png">
					<div>
						<span>还没有相关数据</span>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
		
	</div>
	
	
</div>
{% endblock %}


{% block js %}
{% verbatim %}
<script id="materials-view" type="text/x-jquery-tmpl">
	{{if data.pageinfo.object_count != 0}}
	<table class="table table-condensed mb0 xui-tableHead">
		<thead>
			<tr>
				<th>标题</th>
				<th width="280" class="tx_sortable" data-sort-attr='created_at'>创建时间</th>
				<th width="280">操作</th>
			</tr>
		</thead>
        {{each(i, material) items}}
		<tr data-id="${material.id}" data-type="${material.type}">
			<td class="p10">
				<a href="/new_weixin/news_preview/?id=${material.id}" target="_blank">
					<ul class="wui-newses" style="width:300px;">
						{{each(i, news) material.newses}}					
						<li class="wui-i-news">
							<span class="wui-i-header">图文</span>
							<span class="wui-i-title" title="${news.title}">${news.title}</span>
						</li>
						{{/each}}
						{{if material.type == 'single'}}
						<li class="wui-i-news clearfix pr">
							阅读全文
							<i class="xui-icon-arrow-w11" style="border-color:#000"></i>
						</li>
						{{/if}}
					</ul>
				</a>
			</td>
			<td>${material.created_at}</td>
			<td>
				{{if material.type=='single'}}
				<a href="/new_weixin/single_news/?id=${material.id}">编辑</a>
				{{else}}
				<a href="/new_weixin/multi_news/?id=${material.id}">编辑</a>
				{{/if}}
				<a class="xa-detete pl10" href="javascript:void(0);">删除</a>
			</td>
		</tr>
		{{/each}}
	</table>
	{{/if}}

	{{if data.pageinfo.object_count == 0}}
	<div class="xui-emptyBox m10"><img src="/static_v2/img/editor/empty.png"><span class="ml20">您还没有相关数据！</span></div>
	{{/if}}
</script>
{% endverbatim %}
<script type="text/javascript">
$(document).ready(function() {
    var table = $('[data-ui-role="advanced-table"]').data('view');
    var reloadTable = function() {
        var data = {
            'query': $('.xa-search-title').val()
        }
        table.reload(data, {
            emptyDataHint: '没有符合条件的图文'
        });
    }

    $('body').delegate('.xa-detete', 'click', function(event) {
        console.log('delete');
        var $tr = $(event.currentTarget).parents('tr');
        var type = $tr.attr('data-type');
        var id = $tr.attr('data-id');
        W.requireConfirm({
            $el: $(event.currentTarget),
            width: 420,
            height: 55,
            position: 'right-middle',
            isTitle: false,
            msg: '确定删除？',
            confirm: function() {
                W.getLoadingView().show();
                var resource = '';
                if (type === 'single') {
                    resource = 'single_news';
                } else {
                    resource = 'multi_news';
                }
                W.getApi().call({
                    method: 'delete',
                    app: 'new_weixin',
                    resource: resource,
                    args: {
                        id: id
                    },
                    success: function(data) {
                        W.getLoadingView().hide();
                        reloadTable();
                    },
                    error: function(response) {
                        alert('删除素材失败');
                        W.getLoadingView().hide();
                    }
                });
            }
        });

    });

    $('.xa-searchBtn').click(function(event) {
        reloadTable();
    });
});

</script>
{% endblock %}