{% extends "content_base_v2.html" %}

{% block content-panel %}
<div class="relative">
	<ul class="breadcrumb">
		<li>您当前所在位置</li>
		<li><a href="/mall_promotion/promotion_list/get/">高级管理</a></li>
		<li><a href="/new_weixin/qrcodes/">带参数二维码</a></li>
		<li class="active">交易订单</li>
	</ul>
</div>
<div class="xui-filterPanel" >
        <div class="xui-form disT ml20">
            <div class="xui-i-item">
			<label>下单时间：</label>
			<input
				type="text"
				class="form-control xui-datePicker"
				id="start_date"
				name="start_date"
				style=""
			    value=""
			    readonly="readonly"
				data-validate="require-notempty"
				data-enable-select-time="true"
				data-ui-role="datepicker"
			    data-format="yy-mm-dd"
			    data-max="now"/>
			<span class="ml5 mr5">至</span>
			<input
				type="text"
				class="form-control xui-datePicker"
				id="end_date"
				name="end_date"
			    value=""
			    readonly="readonly"
				data-validate="require-notempty"
				data-ui-role="datepicker"
				data-enable-select-time="true"
			    data-format="yy-mm-dd"
			    data-max="now"
			    data-min-el="#start_date"/>
			
			<a class="btn btn-primary xa-search xui-fontBold" href="javascript:void(0);">查询</a>
			<a class="xa-reset btn btn-primary xui-fontBold" href="javascript:void(0);">重置</a>
		</div>
</div>
</div>
<div class="panel panel-default mt20 xui-bigBoxbg">

<div class="panel panel-default ml10 mr10 mb50" style="border:none;">
	<div class="panel-heading">
	<input type="checkbox" class="is_show vs" checked value="0">&nbsp;&nbsp;仅显示扫码后成交订单
</div>
	<div
		data-ui-role="advanced-table"
		data-app="new_weixin"
		data-resource="qrcode_order"
		data-args='{"setting_id": "{{setting_id}}"}'
		data-template-id="#promotions-view"
		data-enable-paginator="true"
		data-enable-sort="false"
		data-selectable="true"
		data-disable-header-select="true"
		data-item-count-per-page="10"
		data-outer-selecter='.xa-selectAll'
		data-selecttable-tr='xa-selectTr'
		class="panel-body xui-promotionHead pb0"
	></div>

</div>

</div>
{% endblock %}


{% block js %}
{% verbatim %}
<script id="promotions-view" type="text/x-jquery-tmpl">
	{{if data.pageinfo.object_count != 0}}
	<table class="table table-condensed mb0 xui-tableHead">
		<thead>
			<tr>
				<th width="310">
					商品
				</th>
				<th width="80">单价/数量</th>
				<th width="140">优惠金额</th>
				<th width="100">买家</th>
				<th width="110">实付金额</th>
				<th width="90">订单状态</th>
				<!--<th>商品数</th>
				<th>收货人</th>
				<th class="tx_sortable" data-sort-attr='created_at'>下单时间</th>
				<th class="tx_sortable" data-sort-attr='payment_time'>付款时间</th>
				-->
			</tr>
		</thead>
	</table>
	{{/if}}

	{{if data.pageinfo.object_count == 0}}
		<div class="xui-emptyBox">
		<img src="/static_v2/img/editor/empty.png"><span class="ml20">您还没有相关数据！
		</span>
		</div>
	{{/if}}

	<ul>
        {{each(i, order) items}}
		<li data-order-id="${order.id}">
			<table width="100%" class="table mb15 xui-table-orderDetail">
				<tr class="xui-order-firstTr">
					<td colspan="8">
					<div class="fl">
						<p class="ml20 fl">
						订单编号：
						<a title="查看" class="xt-orderLink" href="/mall/order_detail/get/?order_id=${order.id}" target="_blank">${order.order_id}</a>
						</p>
						<p class="ml10 fl w60">
						&nbsp;
							${order.pay_interface_name}
						</p>
						<p class="ml40 fl">
							下单时间：${order.created_at}
						</p>
						<p class="ml150 fl">
							付款时间：${order.payment_time}
						</p>
					</div>
					</td>
				</tr>
				<tr>
					<td class="" width="390px">
					<ul class="">
					{{each(i, product) order.products}}
						<li class="disT" style="width:100%;" data-id="${product.id}">
							<div style="display:table-cell;vertical-align:middle;text-align: center;width:75px">

                            {{if product.thumbnails_url.search('http://weappimg') != -1}}
                            <img class="xui-product-thumbnails" src="${product.thumbnails_url + '!60'}" width="60" height="60"/>
                            {{else}}
                            <img class="xui-product-thumbnails" src="${product.thumbnails_url}" width="60" height="60"/>
                            {{/if}}

							</div>
							<div style="width:235px;display:table-cell">
								<p class="tl">
								<a href="/mall/product/update/?id=${product.id}&source=onshelf" class="xa-productName" name="xa-productName">
									{{if product.promotion }}
										{{if product.promotion.type == "flash_sale"}}【限时抢购】{{/if}}
										{{if product.promotion.type == "premium_sale:premium_product"}}【赠品】 {{/if}}
									{{/if}}
									${product.name}
								</a></p>
								<p class="tl pt10">
								{{each(p, property) product.custom_model_properties}}
									{{if p == (product.custom_model_properties.length - 1)}}
										${property.property_value}
									{{else}}
										${property.property_value}&nbsp;/&nbsp;
									{{/if}}
								{{/each}}
								</p>
							</div>
							<div style="width:80px;display:table-cell">
								<p class="tc">${product.price}</p>
								<p class="tc">(${product.count}&nbsp;件)</p>
							</div>
						</li>
					{{/each}}
					</ul>
					</td>
					<td width="140px">
						{{if order.save_money != 0 }}
							${ order.save_money}
						{{/if}}
					</td>
					<td width="100">
						{{if order.buyer_id > 0}}
							<a href="/member/member_detail/edit/?id=${ order.buyer_id }" target='_blank'>{{html order.buyer_name}}</a>
						{{else}}
							{{html order.buyer_name}}
						{{/if}}
						{{if order.customer_message}}
							
						{{/if}}
						<!--${order.customer_message}-->
					</td>
					<td width="110">
						${ order.pay_money }
						{{if order.postage > 0 }}
	                    </br>
	                    	<span class="xui-colorGray">(含运费：${order.postage})</span>
	                    {{/if}}
	                    {{if order.weizoom_card_money > 0}}
	                    </br>
		                    <span class="xui-weizoomCard pr">
			                    <i class="xa-weizoomCardImg"></i>
			                    </br>
			                    <span class="pa xa-weizoomCardHint" style="display:none;">微众卡支付&nbsp${order.weizoom_card_money}元</span>
		                    </span>
	                    {{/if}}
					</td>
					<td class="nowrap" width="90">
						<div>
	                        {{html formatOrderStatus(order.status)}}
						</div>
					</td>
					<!--<td class="auto_wrap">
						<div style="width:150px;" class="nowrap">
							{{if order.customer_message}}
									${order.customer_message}
							{{/if}}
						</div>
					</td>-->
				</tr>
				{{if order.remark }}
				<tr>
					<td colspan="8" class="xui-remark">
					<img src="/static_v2/img/editor/attention.jpg">卖家备注：${order.remark}
					</td>
				</tr>
				{{/if}}
			</table>
		</li>
		{{/each}}
	</ul>
		</tbody>
	</table>
</div>
</script>
{% endverbatim %}

<script type="text/javascript">
function formatOrderStatus(status) {
	var color = '#333333';
	if (status === '退款中') {
		return '<img src="/static_v2/img/editor/refund.jpg" class="mr5"><span style="color:red">' + status + '</span>';
	} else {
		return '<span style="color: ' + color + '">' + status + '</span>';
	}
	return
}
$(document).ready(function() {
	$('#start_date').attr('value','');
	$('#end_date').attr('value','');

});
</script>
{% endblock %}
