{% extends "content_base.html" %}

{% load common_tag %}
{% load account_filter %}

{% block css %}
<link type="text/css" rel="stylesheet" media="all" href="/static/css/webapp.css">
{% endblock %}

{% block single-content-panel %}
  <div id="productList" class="">
    <div class="relative">
      <ul class="breadcrumb">
        <li class="active">产品列表</li>
      </ul>
      <span class="breadcrumRightButton">
        <a id="addProductBtn" class="btn btn-primary" href="/product/product/add/"><i class="icon-plus icon-white"></i>添加产品</a>
      </span>
    </div>
    <table class="table table-bordered table-condensed mt10">
      <thead>
        <tr>
          <th>产品名</th>
          <th>价格</th>
          <th>用户数</th>
          <th>商品数</th>
          <th>微站模块</th>
          <th>营销工具</th>
          <th>备注</th>
          <th>创建日</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        {% for product in products %}
        <tr>
          <td style="width: 120px">
            <a class="btn btn-primary" href="/product/product/add/?id={{product.id}}">{{product.name}}</a>
          </td>
          <td style="width: 80px">
            {{product.price}}
          </td>
          <td style="width: 50px">
            {{product.user_count}}
          </td>
          <td style="width: 50px">
            {{product.max_mall_product_count}}
          </td>
          <td style="vertical-align: top;">
            {% for module in product.webapp_modules %}
            <div class="alert alert-info m5 p5">{{module}}</div>
            {% endfor %}
          </td>
          <td style="vertical-align: top;">
            {% for module in product.market_tool_modules %}
            <div class="alert alert-info m5 p5">{{module}}</div>
            {% endfor %}
          </td>
          <td style="width: 200px;">
            {{product.remark}}
          </td>
          <td style="width: 100px;">{{product.created_at|date:"Y-m-d"}}</td>
          <td style="width: 40px;">
            <a class="btn btn-mini btn-warning x-syncToUserBtn" title="查看用户" href="/product/product_users/get/?product_id={{product.id}}"><i class="icon-user icon-white"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block base_js %}
<script type="text/javascript">
</script>  
{% endblock %}
