{% extends "new_jqm_content_base.html" %}
{% load common_tag %}
{% block css %}
<link rel="stylesheet" href="/webapp_static/backend_default/css/default.css">
<link rel="stylesheet" href="/markettools_static/weizoom_card/css/wzcoin.css">
<style>
	.ui-cover{
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.7);
		z-index: 10000;
		position: absolute;
		top: 0;
	}
	.ui-applyBox{
		background: #fff;
		-webkit-background-size: cover;
		background-size: cover;
		width: 90%;
		margin: 0 auto;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px; 
		border-radius: 5px;
		position: fixed;
		margin-left: 5%;
		padding: 20px 0;
	}
	.xui-wzcoinConfirm-page .ui-content {
		/* background: #fff!important; */
		background-color: #efeff4 !important;
	}
	.ui-applyBox .xui-btn .ui-btn-text{
		font-size: 1em;
	}
	.xui-main-info{
		box-sizing: border-box;
		background-color: #ee3715;
		overflow: hidden;
		color: #fff;
		padding: 10px;
		padding-top: 20px;
		font-size: 0.9rem;
	}
	.xui-wzcoinConfirm-page .xui-numTips {
		 color: #fff;
		 padding: 0 2px;
		 border-bottom:none;
	}
	.xui-main-info .xui-fl{
		float: left;
		width: 48%;
		border-right: 1px dotted #f3735c;
		padding-right: 10px;
	}
	.xui-main-info .xui-fl div{
		padding-bottom: 10px;
	}
	.xui-main-info .xui-fr{
		float: right;
		width: 42%;
	}
	.xui-main-info .xui-fl div>a{
		color: #fff;
	}
	.xui-main-info .xui-exit{
		float:right;
		color: #f8a899;
		border:1px solid rgba(255,255,255,.6);
		margin-top: 10px;
		padding:0px 5px;
		border-radius: 5px;
	}
	.xui-main-info .xui-fr .xui-textTips{
		display: block;
		text-align: center;
		color: #fff;
		font-size: 1.2rem;
	}
	.xui-main-info .xui-fr>div{
		text-align: center;
		padding-top: 10px;
	}
	.xui-main-info .xui-fr .xui-numTips{
		font-size: 1.3rem;
	}
	.xui-use-detail{
		margin-top: 10px;
		background-color: #fff;
		padding: 10px;
	}
	.xui-use-detail .xui-use{
		line-height:40px;
		border-bottom: 1px solid #ebebeb;
	}
	.xui-use-detail table{
		vertical-align: middle;
		color: #333;
		width: 100%;
		font-size: 0.8rem;
	}
	.xui-use-detail table tr{
		border-bottom:1px solid #ebebeb;
	}
	.xui-use-detail table>thead{
		line-height: 40px;
	}
	.xui-use-detail table>thead>tr>td{
		text-align: center;
	}
	/*.xui-use-detail table tr>td:not(last){*/
		/*width: 25%;*/
	/*}*/
</style>
{% endblock %}
{% block content-panel %}
<div data-role="page" data-theme="x" class="xui-wzcoinConfirm-page">
	<div data-role="content" data-theme="x">
			<div class="xui-section-item xui-main-info">
				<div class="xui-fl">
					<div>微众卡号：<span class="xui-numTips">{{weizoom_card.weizoom_card_id}}</span></div>
					<div>密码：
						<span class="xui-numTips xui-password xa-password">{{weizoom_card.password}}</span>
						<a href="javascript:void(0)" class="xui-hidden xa-hidden">隐藏</a>
					</div>
					<a href="javascript:void(0);" class="xui-exit" >退出登陆</a>
				</div>
				<div class="xui-fr">
					<span class="xui-textTips">余额</span>
					<div>¥<b class="xui-numTips">{{weizoom_card.money}}</b></div>
				</div>
			</div>
			<div class="xui-use-detail">
				<div class="xui-use"><b>使用详情</b></div>
				<table>
					<thead>
					<tr>
						<td>时间</td>
						<td>明细</td>
						<td>去处/来源</td>
					</tr>
					</thead>
					<tbody>
					{% for order in card_orders %}
					<tr>
						<td>{{order.created_at}}</td>
						<td>{{order.money}}</td>
						<td>{{order.product_name}}</td>
					</tr>
					{% endfor%}
					</tbody>
				</table>
			</div>
	</div>
</div>

<!--<div data-role="page" data-theme="x" class="xui-wzcoinConfirm-page">-->
    <!--<div data-role="content" data-theme="x">-->
    	<!--<form class="xui-form" method="post" action="" id="editForm">-->
				<!--<div class="xui-section-item xui-submitBox">-->
					<!--<div class="xui-form-controls xui-main-info">-->
						<!--<div>-->
							<!--<div>微众卡号：<span class="xui-numTips">{{weizoom_card.weizoom_card_id}}</span></div>-->
							<!--<div>密码：<span class="xui-numTips">{{weizoom_card.password}}</span></div>-->
						<!--</div>-->
					<!--</div>-->
					<!--<div class="xui-form-controls">-->
						<!--<span class="xui-textTips">您的微众卡余额：<span class="xui-numTips">{{weizoom_card.money}}</span>元</span>-->
					<!--</div>-->
					<!--<div class="xui-form-controls mt">-->
						<!--<span class="xui-textTips">现有积分：<span class="xui-numTips">{{change_integral}}</span>积分</span>-->
					<!--</div>-->
					<!-- -->

					<!--{% if is_can_pay %}-->
						<!--<div class="mt30 clearfix tc">-->
							<!--<a href="./?module=user_center&model=user_info&action=get&workspace_id=mall&webapp_owner_id={{request.webapp_owner_id}}" data-role="button" class="xui-btn xui-btn-disable" id="back">返回</a>-->
						<!--</div>-->
						<!--&lt;!&ndash; {% if request.user.is_weizoom_mall %}-->
						<!--<div class="mt30 clearfix">-->
							<!--<a href="#" data-role="button" class="xui-btn xui-btnSubmit fl ua-apply" id="payBtn">兑换积分</a>-->
							<!--<a href="./?module=user_center&model=user_info&action=get&workspace_id=mall&webapp_owner_id={{request.webapp_owner_id}}" data-role="button" class="xui-btn xui-btn-disable fr" id="back">返回</a>-->
						<!--</div>-->
						<!--{% else %} &ndash;&gt;-->
						<!--&lt;!&ndash; {% endif %} &ndash;&gt;-->
					<!--{% else %}-->
					<!--<p style="color:#ae0001" class="mt20">您的微众卡余额不足！</p>-->
					<!--<div class="mt30 clearfix">-->
						<!--<a href="./?module=user_center&model=user_info&action=get&workspace_id=mall&webapp_owner_id={{request.webapp_owner_id}}" data-role="button" class="xui-btn xui-btnSubmit fl" id="submitBtn">确认</a>-->
						<!--<a href="./?module=user_center&model=user_info&action=get&workspace_id=mall&webapp_owner_id={{request.webapp_owner_id}}" data-role="button" class="xui-btn xui-btn-disable fr" id="back">取消</a>-->
					<!--</div>-->
					<!--{% endif %}-->
					<!-- -->
				<!--</div>-->
		<!--</form>-->
	<!--</div>-->
	<!--<div class="ui-cover hidden ua-cover">-->
		<!--<div class="ui-applyBox ua-applyBox pr tc">-->
			<!--<div class="p20">-->
				<!--<span class="xui-textTips">恭喜您成功兑换<span class="xui-numTips">{{change_integral}}</span>积分！</span>-->
				<!--<div class="tc mt30">-->
				<!--<a href="./?module=user_center&model=user_info&action=get&workspace_id=mall&webapp_owner_id={{request.webapp_owner_id}}" data-role="button" class="xui-btn xui-btn-danger" id="submitBtn">确认</a>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function() {
		var bodyHeight = window.document.body.clientHeight;
		var height = bodyHeight * 0.3
	
		var $submitBtn = $('#payBtn');
        $submitBtn.click(function() {
        	var card_id = "{{weizoom_card.id}}";
        	W.getApi().call({
        		app: 'webapp',
                api: 'project_api/call',
                method: 'post',
                args: _.extend({
                    project_id: W.projectId,
                    card_id: card_id,
                    module:'mall',
                    target_api: 'weizoom_card_to_integral/change',
                }),
		        success: function(data) {
		        	$('.ua-cover').removeClass('hidden');
					$('.ui-applyBox').css('top',height);
		        },
		        error: function(data) {
		        	var code = parseInt(data['code']);
			        var msg = '支付失败';
			        if (code == 500){
				       	msg = data['data']['msg']
			        }
			        $('.ui-page').alert({
			         	isShow: true,
			         	info: msg,
			         	isSlide: true,
			         	speed: 2000
			         });
		        }
        	})
        })
		$(".xa-hidden").click(function(){
			if($(".xa-hidden")[0].innerHTML=='隐藏'){
			var reg=/\d/g;
				$(".xa-hidden")[0].innerHTML='显示';
			$('.xa-password')[0].innerHTML=$('.xa-password')[0].innerHTML.replace(reg,'*')
			}else{
				$(".xa-hidden")[0].innerHTML='隐藏';
				$('.xa-password')[0].innerHTML='{{weizoom_card.password}}';
			}
		})

	});
</script>
{% endblock %}
