
         		<!-- {% if not is_login %}
         		<div class="text_item" data-appbuilder-object="text">没有登陆</div>
         		{% else %} -->
         		<style>
         			.img_size{
         				width: 44px;
         				height: 44px;
         				position: relative;
         				display: inline;
         				margin-top: 15px;
         			}
         			.fl{
         				float: left;
         				display: inline;
         			}
         			.fr{
         				float: right;	
         				display: inline;
         			}
         			p{
         				display: block;
         			}
         			.mess_content{
         				background : none repeat scroll 0 0;
         				position: relative;
         				width: 75%;
         				border: 1px solid #ccc;
         				border-radius: 6px;	
         				margin: 10px;
         				padding : 10px;
         			}
         			.clear{
         				clear: both;
         				overflow: hidden;
         				height: 0px;
         			}
         			.surr_b{
         				width: 100%;
         			}
         			.time{
         				color: #999997;
         			}
         		</style>
         		<script>
         			(function(){
         				$("a[href='/mobile_app/logout/']").hide();
         				$('#backButton').bind('click',function(){
         					$('#replay_btn').remove();
         					$("a[href='/mobile_app/logout/']").show();
         				});
         			$.ui.setTitle('对话历史');
         			if('{{is_active}}' == 'True'){	
         				$('#defaultHeader').append("<a id='replay_btn' class='button' style='float:right'>回复</a>");
         				$('#replay_btn').bind('click',function(){
         				$('#replay_').css({
	         				'position' : 'absolute',
	         				'z-index' : 2,
	         				'top' : '10px',
	         				'left' : '0px',
	         				'width' : '100%',
	         				'height' : '30%'
         				});
         				var css_status = $('#replay_').css('display');
         				if(css_status == 'none'){
         					$('#replay_').css('display','block');
         				}else{
         					$('#replay_content').val('');
         					$('#replay_').css('display','none');
         				}
         			});
         			}
         			$('#replay_ a').bind('click',function(){
         				if($('#replay_content').val().trim() == '')return false;
         				$('#replay_').css('display','none');
         				$.post('/mobile_app/messages/reply/', {
				        			'session_id': '{{session_id}}', 
				        			'content': $('#replay_content').val(), 
				        			'receiver_username': '{{weixin_user_id}}'
		        				}, function(response) {
		        					$('#replay_content').val('');
						});
         			});
         			})();
         		</script>
         		<div class="container">
         		{% for message in  sessions%}
         			<div class="surr_b">
         			{% ifequal message.is_reply 1 %}
         				<span class="fr">
         					<img src="{{message.sender_icon}}" class="img_size">
         				</span>
         				<div class="mess_content fr">
         					<p class="p_margin_right">{{message.sender_name}} : {{message.content}}</p>
         					<p class="p_margin_right time">{{message.weixin_created_at}}</p>
         				</div>
		          {% else %}
		          		<span class="fl">
         					<img src="{{message.sender_icon}}" class="img_size">
         				</span>
         				<div class="mess_content fl">
         					<p class="p_margin_left">{{message.sender_name}} : {{message.content}}</p>
         					<p class="p_margin_left time">{{message.weixin_created_at}}</p>
         				</div>
		          {% endifequal %}
		          <div class="clear"></div>
		            </div>

         		{% endfor %}
			<div id="replay_" style="display: none">
				<textarea id="replay_content" name="replay_content" rows="6" placeholder="回复内容..."></textarea>
				<a class="button" style="float:right;margin-top: -52px;margin-right: 5px;">确定</a>
			</div>
         	</div>	
         		<!-- {% endif %} -->
         		
         