{% extends "mobile_base.html" %}

{% block css %}
	<style type="text/css">
		#content img{
			width: 44px;
			height: 44px;
			display: inline;
			vertical-align: middle;
			margin-right: 10px;
			margin-top: 8px;
		}
		a{
			text-decoration:none;
		}
		li{
			padding: 5px 10px 5px 10px !important;
			margin: 0px 10px 0px 10px !important;
			overflow: hidden;
		}
		a:after{
			content: '' !important;
		}
		.fl{
         				float: left;
         				display: inline;
         		}
         		.fr{
         				float: right;	
         				display: inline;
         				margin-right: 20px;
         		}
         		.time{
         			font-size: 10px !important;
         			margin-top: 18px !important;
         			margin-right: 10px !important;
         		}
         		.clear{
         			clear: both;
         		}
         		.msg{
         			font-size: 12px !important;
         			color: #444 !important;
         		}
         		.af-badge{
         			right: 11px !important;
         		}
	</style> 
{% endblock %}

{% block content %}
    <div id="content">
         	<div data-title='消息列表' id="message" class="panel" js-scrolling="true" selected="true">

         			<ul class="list">
                    		{% for session in sessions %}
                               		<li>
                               			<a href="session_history/show/{{session.id}}">
                               				
							<span class="fl">
								<img src="{{session.weixin_user_icon}}">
							</span>
							<div class="fl">
								<p><b>{{session.sender_name}}</b></p>
								<p class="msg">{{session.content}}</p>
							</div>	
							<div class="fr">
								{% ifnotequal session.unread_count 0%}
									<p class="af-badge">{{session.unread_count}}</p>
								{% endifnotequal %}
								<p class="time">{{session.created_at}}</p>
							</div>
							<div class="clear"></div>
                               					
					</a>
                               		</li>
                     		{% endfor %}
                     </ul>
         		
         		
         		
         	</div>
    </div>
{% endblock %}
{% block js %}
	<script>
		$(document).ready(function(){
			scroll_to_refresh('#message');
			$('ul li a').bind('click',function(){
				re_href = $(this).attr('href');
			});
		});
	</script>
	
{% endblock %}