{% extends "mobile_base.html" %}
{% block css %}
<style>
.logout,#navbar{
  display: none !important;
}
</style>
{% endblock %}
{% block header %}
{% endblock %}
{% block content %}
<div id="content">
<div class='panel' id='main' selected='true'><header><h1>用户登录</h1></header>
  <div class="formGroupHead"></div>
  <img src="/static/img/logo.png" style="margin-bottom: 10px; margin-left: 33%;">
    <form method="post" action="">
      <input id="username" name="username" placeholder="请输入账号" type="text" required>
      <input id="password" name="password" type="password" required placeholder="请输入密码">
        {% if errorMsg %}
        <div style="color:red;" class="red">{{errorMsg}}</div>
		    {% endif %}
      <div class="btn_login"  style="margin-left:75%">
        <button type="submit" class="button green block">登录</button></div>
    </form>
</div>
</div>
{% endblock %}