{% extends "mobile_base.html" %}
{% load common_tag %}


{% block content %}


    <div id="content">
        <div class="panel" data-title="概要" id="main">
            <div id="statisticsView">
                <div
                    data-ui-role="chart"
                    class="mt20 chart longChart"
                    id="dailyBuy"
                    data-title="每日购买量"
                    data-url="/mobile_app/api/buy_trend/get/",
                    data-args='{"days":7}'
                >
                    <div id="chartDailyBuy" style="height: 300px; width: 100%;"></div>
                </div>

                <div
                    data-ui-role="chart"
                    class="mt20 chart longChart"
                    id="dialyMessage"
                    data-title="每日接收消息数"
                    data-url="/mobile_app/api/daily_message_trend/get/",
                    data-args='{"days":7}'
                >
                    <div id="chartDialyMessage" style="height: 300px; width: 100%;"></div>
                </div>

                <div
                    data-ui-role="chart"
                    class="mt20 chart longChart"
                    id="dialyUV"
                    data-title="每日微站访问数"
                    data-url="/mobile_app/api/visit_daily_trend/get/",
                    data-args='{"days":7}'
                >
                    <div id="chartDialyUV" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript" src="/static/canvasjs/canvasjs.min.js"></script>
    <script type="text/javascript">
        window.onload = function(){
            var chart_divs = $(".chart");
            chart_divs.forEach(function(div){
                var div_id = div.id;
                var chart_div = $("#" + div_id);
                var chart_title = chart_div.attr("data-title");
                console.log(chart_title);
                var chart_url = chart_div.attr("data-url");
                var chart_args = JSON.parse(chart_div.attr("data-args"));
                var chart_id = chart_div.children("div").attr("id");
                $.getJSON(chart_url, chart_args, function(data_json){
                    var data = JSON.parse(data_json.data);
                    var labels = data.x_axis.labels.labels;
                    var chart_data = []
                    for(var k = 0; k < data.elements.length; k++){
                        var pointdatas = [];
                        var line = {};
                        line.color = data.elements[k].colour;
                        line.type = "line";
                        line.showInLegend = true;
                        line.legendText = data.elements[k].text;
                        for(var j = 0; j < data.elements[k].values.length; j++){

                            data.elements[k].values[j].label = labels[j];
                            pointdatas[j] = data.elements[k].values[j];
                        }
                        line.dataPoints = pointdatas;
                        chart_data[k] = line;
                    }

                    chart_info = {
                        title:{
                            text: chart_title,
                            fontSize: 20,
                        },

                        axisX:{
                           title: "日期",
                           titleFontSize: 10,
                        },

                        axisY:{
                            minimum: 0,
                        },

                        legend: {
                           horizontalAlign: "left",
                           verticalAlign: "top",
                           fontSize: 10,
                        }
                    };

                    chart_info.data = chart_data;

                    var chart = new CanvasJS.Chart(chart_id, chart_info);
                    chart.render();
                    return true;
                });
            });
        }
    </script>
{% endblock %}
