<script id="mall-product-model-property-editor-tmpl-src" type="text/x-jquery-tmpl">
<table class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th>名称</th>
			<th class="xa-imageColumn {{if !isImageMode}}hide{{/if}}">图片</th>
			<th>操作</th>
		</tr>
	</thead>			
	<tbody>
		{{each(i, value) values}}
		<tr>
			<td style="width: 100px;">
				<input type="text" class="input-medium" name="value^name^${value.id}" value="${value.name}" />
			</td>
			<td class="xa-imageColumn {{if !value.image}}hide{{/if}}">
				<input type='hidden' name='value^image^${value.id}' value='${value.image}' data-validate="require-image" />
				<div class="xa-imageZone {{if !value.image}}hide{{/if}}">
					<img src="{{html value.image}}" class="imgBox" style="max-width: 60px; padding: 5px;" />
					<a class="btn xa-changeIcon btn-mini ml5 btn-primary" href="javascript:void(0);"><i class="icon-pencil icon-white"></i></a>
				</div>
				<div class="xa-selectZone {{if value.image}}hide{{/if}}">
					<a class="btn xa-selectIcon" href="javascript:void(0);"><i class="icon-picture"></i> 选择图标</a>
				</div>
				<div class="errorHint"></div>
			</td>
			<td style="width: 30px;">
				<a class="btn btn-danger btn-mini xa-removeValueBtn"><i class="icon-white icon-remove"></i></a>
			</td>
		</tr>
		{{/each}}
	</tbody>
</table>
<div class="mt5">
	<a class="btn xa-addValueBtn" href='javascript:void(0);'><i class="icon-plus"></i> 添加规格值</a>
</div>
</script>


<script id="mall-product-model-property-editor-single-value-tmpl-src" type="text/x-jquery-tmpl">
<tr>
	<td style="width: 100px;">
		<input type="text" class="input-medium" name="value^name^${cid}"/>
	</td>
	<td class="xa-imageColumn {{if !isImageMode}}hide{{/if}}">
		<input type='hidden' name='value^image^${cid}' value='' data-validate="require-image"/>
		<div class="xa-imageZone hide">
			<img src="" class="imgBox" style="max-width: 60px; padding: 5px;" />
			<a class="btn xa-changeIcon btn-mini ml5 btn-primary" href="javascript:void(0);"><i class="icon-pencil icon-white"></i></a>
		</div>
		<div class="xa-selectZone">
			<a class="btn xa-selectIcon" href="javascript:void(0);"><i class="icon-picture"></i> 选择图标</a>
		</div>
		<div class="errorHint"></div>
	</td>
	<td style="width: 30px;">
		<a class="btn btn-danger btn-mini xa-removeValueBtn"><i class="icon-white icon-remove"></i></a>
	</td>
</tr>
</script>