{% extends "content_base.html" %}
{% load common_tag %}

{% block content-panel %}
	<ul class="breadcrumb">
		<li class="active">营销工具</li>
	</ul>
	<div id="TableListView">
		<table>
			<tr>
				<td width='160px' align='center'>
					<a href="/question/editor/questions/">
					<img src="/static/img/question.png"><br>
						微信问答
					</a>
				</td>
				<td width='160px' align='center'>
					<a href="/market_tools/scratch_card/editor/list/">
						<img src="/static/img/market_tool/scratch_card.jpg"><br>
						刮刮卡
					</a>
				</td>
				<td width='160px' align='center'>
					<a href="/market_tools/roulette/editor/list/">
						<img src="/static/img/market_tool/roulette.jpg"><br>
						大转盘
					</a>
				</td>

				<td width='160px' align='center'>
					<a href="/market_tools/prize_management/editor/prize_records/">
						<img src="/static/img/market_tool/prize_record.jpg"><br>
						奖品发放
					</a>
				</td>

			</tr>
		</table>

	</div>

{% endblock %}

{% block jsTemplate %}
	{% include_raw 'jsTemplate/paginationView.html' %}
{% endblock %}

{% block js %}
	<script type="text/javascript">
	</script>
{% endblock %}
