@charset"utf-8";
html,body{
		background: #fff!important;
	}
	.xui-btn .ui-btn-text{
		font-size: 20px;
	}
	/*支付登陆页面样式*/
	.xui-wzcoinPay-page{background-color: #fff;}
	.xui-wzcoinPay-page .ui-btn-inner{
		text-overflow:inherit;
	}
	.xui-wzcoinPay-page .xui-form-controls{
		margin:20px 0;
		border-bottom: 1px solid #DDDDDD;
	}
	.xui-wzcoinPay-page .xui-form-controls .xui-form-cell{
		width: 70px!important;
		padding:0;
		text-align: right;
		color:#E5E5E5;
		/*-webkit-background-size:23%;
		background-size: 23%;*/
		background-position: 6px center;
	}
	.xui-wzcoinPay-page .xui-form .ui-input-text{
		border:none;
		background:transparent!important;
	}
	.xui-wzcoinPay-page .xui-form .ui-input-text.ui-focus{
		background: transparent;
		border:none;
	}
	.xui-wzcoinPay-page .xui-section{
		padding:0;
	}
	.xui-wzcoinPay-page .xui-section-item{
		padding:1px 20px!important;
	}
	.xui-wzcoinPay-page .xui-submitBox{
		margin-top: 15%;
	}
	.xui-wzcoinPay-page .xui-submitBox .ui-btn{
		background: #ae0001;
		border:none;
		box-shadow: 0 0 0 1px #ae0001;
		width: 100%;
		padding:10px 0;
		margin:50px auto 20px auto;
		color:#fff;
		-webkit-border-radius:4px;
		border-radius:4px;
		font-family:'黑体';
	}
	.xui-wzcoinPay-page .xui-submitBox .xui-btn2{
		height:42px;
		line-height:42px;
		margin: 50px auto 20px;
		font-size: 1.1rem;
	}
	.xui-wzcoinPay-page .xui-pageTitle{
		font-size: 2.2rem;
		margin-top:20%;
	}
	.xui-wzcoinPay-page .xui-pageTip{
		color:#BBBBBB;
		margin-top: 2%;
		font-size: 1.25rem;
	}
	.xui-wzcoinPay-page .xui-ffht{
		font-family: "黑体";
	}
	.xui-wzcoinPay-page .xui-count{
		background: url(/static_v2/img/webapp/usercenter/count.png) no-repeat;
		-webkit-background-size: 20px 22px;
			background-size: 20px 22px;
	}
	.xui-wzcoinPay-page .xui-pwd{
		background: url(/static_v2/img/webapp/usercenter/pwd.png) no-repeat;
		-webkit-background-size: 20px 22px;
			background-size: 20px 22px;
	}
	/*充值确认页面*/
	.xui-wzcoinConfirm-page{background-color: #f0f0f0!important;}
	.xui-wzcoinConfirm-page .ui-content{
		background: #fff!important;
		border-bottom:1px solid #d5d4d8;
		font-family:'黑体';
	}
	.xui-wzcoinConfirm-page .ui-btn-inner{
		text-overflow:inherit;
	}
	.xui-wzcoinConfirm-page .xui-form-controls{
		margin:10px 0;
	}
	.xui-wzcoinConfirm-page .xui-form-controls .xui-form-cell{
		padding:0;
		text-align: right;
	}
	.xui-wzcoinConfirm-page .xui-submitBox{
		padding: 35px!important;
	}
	.xui-wzcoinConfirm-page .xui-submitBox .ui-btn{
		width: 35%;
		padding: 9px 15px;
		-webkit-border-radius:6px;
		border-radius:6px;
	}
	.xui-wzcoinConfirm-page .xui-submitBox .xui-btnSubmit{
		background: #ae0001;
		border:1px solid #ae0001;
		color:#fff;
	}
	.xui-wzcoinConfirm-page .xui-textTips{
		color:#3c3c3c;
		font-size:1em;
	}
	.xui-wzcoinConfirm-page .xui-numTips{
		color:#ae0001;
		padding:0 10px;
		border-bottom:1px solid #afafaf;
	}
	.xui-wzcoinConfirm-page .xui-popText{
		color:#fff;
		top:47%;
		left:8%;
		width:100%;
	}
	.xui-wzcoinConfirm-page .xui-popNum{
		color:#ffea77;
		border-bottom:1px solid #e49282;
		padding:0 10px;
	}
	.xui-wzcoinConfirm-page .ui-applyBox .xui-btnSubmit{
		padding:6px 0;
		width: 86%;
		border:#ffc75b;
		background: #ffc75b;
		top: 70%;
		left: 50%;
		margin-left: -43%;
		position:absolute;
	}
	.xui-wzcoinConfirm-page .xui-popBg{
        background: url('/standard_static/img/webapp/popbg1.png') no-repeat;
        background-size: cover;
        height: 273px;
        left: 50%;
        margin-left: -143px;
        text-align: center;
        top: 50%;
        width: 286px;
        padding:0 20px;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
    }
    .xui-wzcoinConfirm-page .xui-popBg p:first-child{
        color: #f77f31;
        font-size: 1.3em;
        margin-top: 43px;
    }

/*
微众卡查询结果的样式
*/

.xui-wzResult-page {
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
	font-size: 1.2rem;
	position: relative;
}

.xui-wzResult-page .xui-submitWz {
    background: #fff none repeat scroll 0 0;
	text-align: center;
    margin: 7px;
	padding-top: 20px;
}
.xui-wzResult-page .xui-submitWz .xui-successHint {
    margin-bottom: 25px;
    position: relative;
    width: 100%;
}

.xui-wzResult-page .xui-submitWz .xui-successHint img {
    height: 1.67rem;
    position: relative;
    top: 7px;
    width: 1.67rem;
}
.xui-wzResult-page .xui-submitWz .xui-wcInfo{
	margin-top: 10px;
	text-align: left;
	padding-left: 10px;
}
.xui-wzResult-page .xui-submitWz .xui-wcInfo p{
	padding-bottom: 10px;
}
.xui-wzResult-page .xui-submitWz .xui-wcInfo .xui-valid-time{
	font-size: 0.9rem;
	color: #B5B5B5;
}
.xui-wzResult-page .xui-submitWzOther{
	background: #fff none repeat scroll 0 0;
    width: 100%;
}
.xui-wzResult-page .xui-submitWzOther .xui-cuttingLineThick {
    margin: 0;
}
.xui-wzResult-page .xui-submitWzOther .xui-wcInfoOther{
	border-top: 1px solid #dbdbdb;
	display: block;
	height: 100%;
	padding: 20px 15px;
	color: #000;
}
.xui-wzResult-page .xui-submitWzOther .xui-wcInfoOther .shop_list_split{
	float: right;
	display: inline-block;
	color: #999999;
	margin-left: 20%;
	max-width: 50%;
	white-space: nowrap;
	overflow : hidden;
	text-overflow: ellipsis;
}
.xui-wzResult-page .xui-submitWzOther .shop_list_name{
	display: none;
	border-top: 1px solid #dbdbdb;
	background-color: #F9F9F9;
	padding: 8px 23px;
	color: #999999;
	line-height: 2rem;
}
.xui-wzResult-page .xui-submitWzOther .xui-wcInfoOther .xui-down-arrow{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}
.xui-wzResult-page .xui-submitWzOther .xui-wcInfoOther .xui-shop-normal{
	float: right;
	color: #C5C5C5;
}
.xui-wzResult-page .xui-submitWzOther .xui-searchOther{
	border-top: 1px solid #dbdbdb;
	display: block;
	height: 100%;
	padding: 20px 15px;
	color: #000;
}
.xui-wzResult-page .xui-submitWzOther img{
	float: right;
	width: 3%;
	margin-top: 4px;
}
.xui-wzResult-page .xui-wcInfoOther{
	padding: 20px 15px;
	height: 100%;
}
.xui-wzResult-page .xui-submitWzOther .xui-wcInfoOtherDetail{
	border-top: 1px solid #dbdbdb;
	display: block;
	height: 100%;
	padding: 20px 15px;
	color: #000;
}
.xui-wzResult-page .xui-submitWzOther .xui-wcInfoOtherDetail .xui-down-arrow{
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
}

.xui-wzResult-page .xui-submitWzOther .detail_list{
	display: none;
	border-top: 1px solid #dbdbdb;
	background-color: #F9F9F9;
	padding: 8px 23px;
	color: #999999;
	line-height: 2rem;
}
.xui-wzResult-page .xui-submitWzOther table{
	width: 100%;
}
.xui-wzResult-page .xui-submitWzOther table tr{
	text-align: center;
}
.xui-wzResult-page .xui-submitWzOther table thead{
	color: #000000;
	font-size: 1rem;
}
.xui-wzResult-page .xui-submitWzOther table tbody tr td {
	border-top: 1px solid #dbdbdb;

}
.xui-wzResult-page .xui-submitWzOther table tbody tr>td.xui-order-info-time{
		font-size: 0.9rem;
		color: #999;
}
.xui-wzResult-page .xui-submitWzOther table tbody tr>td.xui-order-info-name{
	color: #000000;
	font-size: 1rem;
	text-align: center;
}
.xui-wzResult-page .xui-submitWzOther .xui-order-info-money{
	font-weight: 500;
}
.xui-wzResult-page .xui-go-btn{
	position: relative;
	text-align: center;
	top: 20px;
}
.xui-wzResult-page .xui-goUserInfo-btn {
    background: #0580CE none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    font-size: 1em;
    height: 45px;
    line-height: 45px;
    width: 45%;
}
.xui-wzResult-page .xui-goShopping-btn {
    background: #d10000 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    font-size: 1em;
    height: 45px;
    line-height: 45px;
    width: 45%;
}