@charset"utf-8";
html,body{
		background: #fff!important;
	}
	.xui-btn .ui-btn-text{
		font-size: 20px;
	}
	/*支付登陆页面样式*/
	.xui-wzcoinPay-page{background-color: #fff;}
	.xui-wzcoinPay-page .ui-btn-inner{
		text-overflow:inherit;
	}	
	.xui-wzcoinPay-page .xui-form-controls{
		margin:20px 0;
		border-bottom: 1px solid #DDDDDD;
	}
	.xui-wzcoinPay-page .xui-form-controls .xui-form-cell{
		width: 70px!important;
		padding:0;
		text-align: right;
		color:#E5E5E5;
		/*-webkit-background-size:23%;
		background-size: 23%;*/
		background-position: 6px center;
	}
	.xui-wzcoinPay-page .xui-form .ui-input-text{
		border:none;
		background:transparent!important;
	}
	.xui-wzcoinPay-page .xui-form .ui-input-text.ui-focus{
		background: transparent;
		border:none;
	}
	.xui-wzcoinPay-page .xui-section{
		padding:0;
	}
	.xui-wzcoinPay-page .xui-section-item{
		padding:1px 20px!important;
	}
	.xui-wzcoinPay-page .xui-submitBox{
		margin-top: 15%;
	}
	.xui-wzcoinPay-page .xui-submitBox .ui-btn{
		background: #ae0001;
		border:none;
		box-shadow: 0 0 0 1px #ae0001;
		width: 100%;
		padding:10px 0;
		margin:50px auto 20px auto;
		color:#fff;
		-webkit-border-radius:4px;
		border-radius:4px;
		font-family:'黑体';
	}
	.xui-wzcoinPay-page .xui-submitBox .xui-btn2{
		height:42px;
		line-height:42px;
		margin: 50px auto 20px;
		font-size: 1.1rem;
	}
	.xui-wzcoinPay-page .xui-pageTitle{
		font-size: 2.2rem;
		margin-top:20%;
	}
	.xui-wzcoinPay-page .xui-pageTip{
		color:#BBBBBB;
		margin-top: 2%; 
		font-size: 1.25rem;
	}
	.xui-wzcoinPay-page .xui-ffht{
		font-family: "黑体";
	}
	.xui-wzcoinPay-page .xui-count{
		background: url(/static_v2/img/webapp/usercenter/count.png) no-repeat;	
		-webkit-background-size: 20px 22px;
			background-size: 20px 22px;	
	}
	.xui-wzcoinPay-page .xui-pwd{
		background: url(/static_v2/img/webapp/usercenter/pwd.png) no-repeat;	
		-webkit-background-size: 20px 22px;
			background-size: 20px 22px;	
	}
	/*充值确认页面*/
	.xui-wzcoinConfirm-page{background-color: #f0f0f0!important;}
	.xui-wzcoinConfirm-page .ui-content{
		background: #fff!important;
		border-bottom:1px solid #d5d4d8;
		font-family:'黑体';
	}
	.xui-wzcoinConfirm-page .ui-btn-inner{
		text-overflow:inherit;
	}
	.xui-wzcoinConfirm-page .xui-form-controls{
		margin:10px 0;
	}
	.xui-wzcoinConfirm-page .xui-form-controls .xui-form-cell{
		padding:0;
		text-align: right;
	}
	.xui-wzcoinConfirm-page .xui-submitBox{
		padding: 35px!important;
	}
	.xui-wzcoinConfirm-page .xui-submitBox .ui-btn{
		width: 35%;
		padding: 9px 15px;
		-webkit-border-radius:6px;
		border-radius:6px;
	}
	.xui-wzcoinConfirm-page .xui-submitBox .xui-btnSubmit{
		background: #ae0001;
		border:1px solid #ae0001;
		color:#fff;
	}
	.xui-wzcoinConfirm-page .xui-textTips{
		color:#3c3c3c;
		font-size:1em;
	}
	.xui-wzcoinConfirm-page .xui-numTips{
		color:#ae0001;
		padding:0 10px;
		border-bottom:1px solid #afafaf;
	}
	.xui-wzcoinConfirm-page .xui-popText{
		color:#fff;
		top:47%;
		left:8%;
		width:100%;
	}
	.xui-wzcoinConfirm-page .xui-popNum{
		color:#ffea77;
		border-bottom:1px solid #e49282;
		padding:0 10px;
	}
	.xui-wzcoinConfirm-page .ui-applyBox .xui-btnSubmit{
		padding:6px 0;
		width: 86%;
		border:#ffc75b;
		background: #ffc75b;
		top: 70%;
		left: 50%;
		margin-left: -43%;
		position:absolute;
	}
	.xui-wzcoinConfirm-page .xui-popBg{
        background: url('/standard_static/img/webapp/popbg1.png') no-repeat;
        background-size: cover;
        height: 273px;
        left: 50%;
        margin-left: -143px;
        text-align: center;
        top: 50%;
        width: 286px;
        padding:0 20px;
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
    }
    .xui-wzcoinConfirm-page .xui-popBg p:first-child{
        color: #f77f31;
        font-size: 1.3em;
        margin-top: 43px;
    }