<script id="weixin-menu-link-tmpl-src" type="text/x-jquery-tmpl">
<ul class="dropdown-menu xa-linkItemActionMenu">
    {{if isUseWepage}}
    <li><a href="javascript:void(0);" class="xa-linkItemMenu" data-type="webappPage">微页面</a></li>
    {{/if}}
    <li><a href="javascript:void(0);" class="xa-linkItemMenu" data-type="product">商品及分组</a></li>
    <li><a href="javascript:void(0);" class="xa-linkItemMenu" data-type="webappHome">店铺主页</a></li>
    <li><a href="javascript:void(0);" class="xa-linkItemMenu" data-type="member">会员主页</a></li>
    <li><a href="javascript:void(0);" class="xa-linkItemMenu" data-type="shoppingCart">购物车 </a></li>
    <li><a href="javascript:void(0);" class="xa-linkItemMenu" data-type="marketPage">营销推广</a></li>
    {{if member_qrcode}}
    <li><a href="javascript:void(0);" class="xa-linkItemMenu" data-type="memberQrcode">推广扫码</a></li>
    {{/if}}
    <li><a href="javascript:void(0);" class="xa-linkItemMenu" data-type="channelQrcode">代言人二维码</a></li>
    <li><a href="javascript:void(0);" class="xa-linkItemMenu" data-type="myOrder">我的订单</a></li>
    {{if shengjing}}
    <li><a href="javascript:void(0);" class="xa-linkItemMenu" data-type="shengjingCustom">盛景定制APP</a></li>
    {{/if}}
    <li><a href="javascript:void(0);" class="xa-linkItemMenu" data-type="sign">签到</a></li>
    {{if card_exchange}}
    <li><a href="javascript:void(0);" class="xa-linkItemMenu" data-type="cardExchange">兑换平台</a></li>
    {{/if}}
</ul>
</script>