{% extends "content_base.html" %}
{% load common_tag %}
{% load account_filter %}

{% block css %}
<link type="text/css" rel="stylesheet" media="all" href="/static/css/small_simulator.css">
<style>
	#ui-datepicker-div{
		z-index: 9999 !important;
	}
</style>
{% endblock %}

{% block content-panel %}
<ul class="breadcrumb">
	<li>
		<a href="/market_tools/channel_qrcode/">渠道扫码</a><span class="divider">/</span>
	</li>
	<li class="active">{% if setting.id %}更新{% else %}添加{% endif %}渠道</li>
</ul>

<form class="form-horizontal" method="post" id="editForm" action="/market_tools/channel_qrcode/edit_setting/">
	<fieldset>
		<input id="setting_id" name="setting_id" class="hide" value="{% if setting %}{{setting.id}}{% else %}0{% endif %}">
		<div class="control-group">
			<label class="control-label" for="parents_name">渠道名称：</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="name" name="name" placeholder="输入渠道名称" value="{% if setting %}{{ setting.name }}{% endif %}"  data-validate="required-none" data-validate-name="{{ setting.id }}" />
				<div class="errorHint"></div>
			</div>
		</div>
		
		<div class="control-group">
			<label  class="control-label" for="award">渠道奖励：</label>
			<div class="controls" id="prize_selector"  data-ui-role="prize-selector" data-init-prizeinfo='{% if setting %}{{ setting.award_prize_info|safe }}{% else %}{% endif %}'></div>
			<input id="prize_info" name="prize_info" class="hide" value="">
			<div style="color: #ccc; margin: 5px 0 5px 180px;">通过扫描该渠道二维码并且关注后发放给会员的奖励</div>
		</div>
		
		<div class="control-group">
			<label  class="control-label" for="show_style">扫码后行为：</label>
			<div class="controls" style="margin-top: 5px;">
				<input type="radio" value="0" {% if setting %}{% ifequal setting.reply_type 0 %}checked{% endifequal %}{% else %}checked{% endif %} style="margin-top:-2px" class="reply_type" name="reply_type" id="no_reply" class="m10 p20" >与普通关注一致
				<input type="radio" value="1" {% if setting %}{% ifequal setting.reply_type 1 %}checked{% endifequal %}{% endif %} style="margin-top:-2px; margin-left:10px" class="reply_type" name="reply_type" id="reply_word" >回复文字
				<input type="radio" value="2" {% if setting %}{% ifequal setting.reply_type 2 %}checked{% endifequal %}{% endif %} style="margin-top:-2px; margin-left:10px" class="reply_type" name="reply_type" id="reply_material" >回复图文
				<div class="errorHint" style="margin-left:175px"></div>
			</div>


			
			<div class="tab-content" style="margin: 20px 0 5px 160px;">
				<div id="weixinMessageEditer-textMessageZone" style="width: 350px">
					<div class="control-group mr5 mt5">
						<div class="controls ml20">
							<textarea class="input-xlarge hide" id="reply_detail" name="reply_detail" data-ui-role="richtext-editor" data-height="300" data-width="350">{% if setting %}{{ setting.reply_detail|format_emotion|safe }}{% endif %}</textarea>
						</div>
					</div>
				</div>

				<div id="weixinMessageEditer-newsMessageZone" style="width: 350px">
					<input id="reply_material_id" name="reply_material_id" class="hide" value="">
					<div id="small-phone" class="small-phone-nobackground mc">
					</div>
				</div>
			</div>
		</div>

		<div class="control-group">
			<label  class="control-label" for="show_style">已关注会员可参与：</label>
			<div class="controls" style="margin-top: 5px;">
				<input type="radio" value="0" {% if setting %}{% ifequal setting.re_old_member 0 %}checked{% endifequal %}{% else %}checked{% endif %} style="margin-top:-2px" class="re_old_member" name="re_old_member" id="re_old_member" class="m10 p20" >否
				<input type="radio" value="1" {% if setting %}{% ifequal setting.re_old_member 1 %}checked{% endifequal %}{% endif %} style="margin-top:-2px; margin-left:10px" class="re_old_member" name="re_old_member" id="not_re_old_member" >是
			</div>

		</div>
		
		<div class="control-group">
			<label class="control-label" for="grade_id">扫描后自动成为：</label>
			<div class="controls">
				<select name="grade_id" id="grade_id" data-validate="require-select">
						{% for member_grade in member_grades %}
							<option value="{{member_grade.id}}" {% ifequal setting.grade_id member_grade.id %}selected="selected"{% endifequal %}>{{member_grade.name}}</option>
						{% endfor %}
				</select>
				<div class="errorHint"></div>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="parents_name">备注：</label>
			<div class="controls">
				<input type="text" class="input-xlarge" id="remark" name="remark" value="{% if setting %}{{ setting.remark }}{% endif %}" />
			</div>
		</div>
		
    </fieldset>

	<fieldset>
		<legend></legend>
		<div class="control-group">
			<div class="controls">
			{% if not research %}
			<input type="submit" class="btn btn-success" id="submitBtn" value="提&nbsp;&nbsp;交" />
			{% endif %}			
			</div>
		</div>
	</fieldset>
</form>

{% endblock %}

{% block dialog %}
{% endblock %}

{% block js %}
<script type="text/javascript">
	$(document).ready(function() {
		var materialId = {% if setting %}{{ setting.reply_material_id }}{% else %}0{% endif %};
		var $textMessage = $('#weixinMessageEditer-textMessageZone');
		var $newsMessage = $('#weixinMessageEditer-newsMessageZone');
		var materialDisplayView = new W.view.weixin.MaterialDisplayView({
			el: '#weixinMessageEditer-newsMessageZone',
			enableEdit: true,
			enableChangeMaterial: true
		});
		materialDisplayView.render();
		
		$('#no_reply').click(function() {
			$textMessage.hide();
			$newsMessage.hide();
			$('#reply_material_id').val(0);
		})
		
		$('#reply_word').click(function() {
			$textMessage.show();
			$newsMessage.hide();
			$('#reply_material_id').val(0);
		})
		
		$('#reply_material').click(function() {
			$textMessage.hide();
			$newsMessage.show();
			if (materialId > 0) {
				W.dialog.initDialog('W.dialog.weixin.SelectMaterialDialog', {})
				$('#reply_material_id').val(materialId);
				materialDisplayView.showMaterial(materialId);
			}
			else {
				showSelectMaterialDialog();
			}
		})
		
		function showSelectMaterialDialog() {
			W.dialog.showDialog('W.dialog.weixin.SelectMaterialDialog', {
				success: function(ids) {
					if (ids.length > 0) {
						materialId = ids[0];
						xlog(materialId)
						materialDisplayView.showMaterial(materialId);
						$('#reply_material_id').val(materialId);
					}
				}
			})
		}
		
		$('body').on("click", '.xa-embededPhone-showBtn', function() {
			showSelectMaterialDialog();
		})
		
		$('.reply_type:checked').click();
        
		//提交
		$('#editForm').submit(function() {
			if (!W.validate()) {
				return false;
			}
			var prize_info = JSON.stringify($('#prize_selector').data('view').getPrizeInfo());
			$('#prize_info').val(prize_info);
			return true;
		});
	});
</script>
{% endblock %}
