{% extends "webapp_content_base_v4.html" %}

{% block css %}
<style type="text/css">
	h1 {
		color: #00F;
	}

	.xui-record .xui-inner-content {
		color: #8F8F8F;
	}

    .wui-mask{
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        opacity: 0.8 !important;
        background: black;
        height: 100%;
        width: 100%;
    }

    .wui-resultDialog{
        background: white;
        display: none;
        position: fixed;
        top: 20%;
        left: 5%;
        width: 90%;
        border-radius: 5px;
        z-index: 2;
    }
    .wui-resultDialog>.wui-i-header>.wui-i-title{
        margin-top: 30px;
        margin-left: 25px;
        font-size: 1.5em;
        font-weight: 200;
        overflow: visible;
        color: #0090d6;
    }
    .wui-resultDialog>.wui-i-close{
        background: white;
        color: dimgrey;
        border-radius: 30px;
        height: 30px;
        width: 30px;
        float: right;
        margin-top: -10px;
        margin-right: -10px;
        text-align: center;
        vertical-align: middle;
        line-height: 33px;
        font-size: 1.2rem;
    }
    .wui-resultDialog>.wui-i-header, .wui-resultDialog>.wui-i-body, .wui-resultDialog>.wui-i-bottom{
        width: 100%;
        margin-bottom: 15px;
        text-align: center;
    }
    .wui-resultDialog>.wui-i-body, .wui-resultDialog .integral, .wui-resultDialog .coupon{
        display: none;
    }
    .wui-resultDialog .wui-i-dialog-btn{
        height: 35px;
        background: #d81c26;
        border: 0;
        font-size: 1rem;
        font-weight: bolder;
        border-radius: 3px;
        width: 170px;
        display: block;
        margin: 10px auto;
    }
    .wui-resultDialog>.wui-i-bottom>.wui-i-closeDialog{
        color: white;
        background: #0090D6;
    }
    .wui-resultDialog .wui-i-contentHeader{
        font-size: 1.2rem;
        color: #454545;
        margin: 5px 25px;
    }
    .wui-resultDialog .wui-i-content button{
        width: 70px;
        color: white;
        background: #d81c26;
    }
    .wui-rules-div{
        display: none;
        margin-left: 10%;
        margin-right: 10%;
        font-family: STHeiti;
        color:#6D6D6D;
    }
    .wui-rules-intro-div,.wui-rules-rules-div{
        margin-top: 10px;
    }
    .wui-rules-i-title{
        font-size: 1.2em;
        font-weight: bold;
        color:#4E4E4E;
    }
    .wui-rules-i-content{
        margin-left: 20%;
    }

    .wui-rules-footer-div{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 35px;
    }
    .wui-rules-i-desc{
        font-style: bold;
    }
    .wui-rules-footer-div .wui-rules-i-center{
        color:red;
    }
    .wui-rules-i-btn{
        margin-top: 10px;
    }
    .wui-btn.wui-btn-back{
        height: 50px;
        width: 155px;
        color: #FFF;
        background: #0090D6 none repeat scroll 0% 0%;
        text-align: center;
        line-height: 50px;
        border:0px;
        border-radius: 3px;
        font-size: 1.2em;
        font-style: bold;
    }
</style>
{% endblock %}

{% block content-panel %}
    {{ page_html_content|safe }}
    <div id="resultDialog" class="wui-resultDialog">
        <b class="wui-i-close xa-closeDialog">&#10005</b>
        <div class="wui-i-header">
            <h2 class="wui-i-title xa-dialog-title">签到活动未开始！</h2>
        </div>
        <div class="wui-i-body xa-dialog-content">
            <div class="wui-i-contentHeader xa-dialog-contentHeader">本次签到奖励</div>
            <div class="wui-i-content xa-entity-content">
                <p class="integral">
                    积分：<span></span>
                </p>
                <p class="coupon">
                    优惠券：<span></span>
                </p>
            </div>
        </div>
        <div class="wui-i-bottom xa-dialog-bottom">
            <button type="button" class="wui-i-dialog-btn wui-i-closeDialog xa-closeDialog xa-closeBtn">知道了</button>
        </div>
    </div>
    <div class="wui-rules-div wa-rules-div">
        <div class="wui-rules-intro-div">
            <p class="wui-rules-i-title">签到说明</p>
            <p class="wui-rules-i-content">签到有礼！</p>
        </div>
        <div class="wui-rules-rules-div">
            <p class="wui-rules-i-title">活动规则</p>
            <ol class="wui-rules-i-content">
                <li>1.每日签到获得20积分</li>
                <li>1.每日签到获得20积分</li>
                <li>1.每日签到获得20积分</li>
                <li>1.每日签到获得20积分</li>
            </ol>
        </div>
        <div class="wui-rules-footer-div">
            <div class="wui-rules-i-desc">备注:签到奖励可以到<a class="wui-rules-i-center">个人中心</a>查看</div>
            <div class="wui-rules-i-btn"><button class="wui-btn wui-btn-back">返回签到</button></div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	W.pageId = "{{request.GET.page_id}}";
    var member_info = JSON.parse('{{ member_info|safe }}');
    console.log(member_info);
    var prize_info = JSON.parse('{{ prize_info|safe}}');
    console.log(prize_info);
    var status = "{{ activity_status }}";
    var resultDialog;

    function ResultDialog(selector){
        var that = this;
        this.$el = $(selector || '#resultDialog');
        this.$title = this.$el.find('.xa-dialog-title');
        this.$dialogContent = this.$el.find('.xa-dialog-content');
        this.$contentHeader = this.$el.find('.xa-dialog-contentHeader');
        this.$entityContent = this.$el.find('.xa-entity-content');
        this.$userCenter = this.$el.find('.xa-userCenter');
        this.$closeBtn = this.$el.find('.xa-closeBtn');
        this.$integral = this.$el.find('.integral');
        this.$coupon = this.$el.find('.coupon');


        this.$userCenter.on('click', function(){
            if (!W.isMember) {
                $('body').html('<div class="wui-appParticipantResult-Cover"><div class="wui-qrcode">' +
                        '<img height="205px" width="205px" src="'+ W.qrcodeUrl+'">' +
                        '</div><div></div>');
            }
            else {
                window.location.href = '/termite/workbench/jqm/preview/?module=user_center&model=user_info&action=get&workspace_id=mall&webapp_owner_id=' + W.webappOwnerId;
            }

        });
        //初始化result dialog
        this.$mask = $('<div class="wui-mask"></div>');
        this.$mask.on('click', function(){
            that.close();
        });
        $('body').append(this.$mask);
        this.$el.find('.xa-closeDialog').on('click',function(){
            that.close();
        });
    }
    ResultDialog.prototype.render = function(status, data){
        if(status){
            this.$title.text('签到成功！');
            if(data.integral){
                this.$integral.text(data.integral).show();
            }else if(data.coupon){
                if(data.coupon.status){
                    this.$coupon.text(data.coupon.content).show();
                }else{
                    this.$entityContent.html('奖励已领完');
                }
            }
            this.$dialogContent.show();
        }else{
            this.$title.text(data.errMsg);
            this.$dialogContent.hide();
        }
        this.$mask.show();
        this.$el.show();
    };
    ResultDialog.prototype.close = function(){
        this.$mask.hide();
        this.$el.hide();
    };

	$(function() {
        //隐藏参与活动按钮
        $('.xa-submitButtonContainer').hide();
        resultDialog = new ResultDialog();
        //绑定签到按钮点击事件
        $('.wa-sign-btn').on('click', function(){
            if('未开始' === status){
                resultDialog.render(false, {});
            }else{
                //发起签到请求
                W.getApi().call({
                    app: 'm/apps/sign',
                    resource: 'sign_participance',
                    method: 'put',
                    args: {
                        webapp_owner_id: W.webappOwnerId,
                        id: W.appRecordId
                    },
                    success: function(data) {
                        resultDialog.render(true, {});
                    },
                    error: function(data) {
                        resultDialog.render(false, data);
                    }
                });

            }
        });
        //填充用户信息
        $('.wa-username').find('p').html(member_info.user_name);
        $('.wa-user-integral').html(member_info.user_integral);
        $('.wa-user-icon').find('img').attr('src', member_info.user_icon);
        //填充签到奖励信息
        $('.wa-daily_points').html(prize_info.daily_prize.integral || 0);
        if (prize_info.daily_prize.coupon){
            prize_html = '"'+prize_info.daily_prize.coupon.name+'"';
            prize_html += '一张';
        }else{
            prize_html = ''
        }
        $('.wa-daily_prizes').html(prize_html);
        //绑定规则信息事件
        $('.wa-signPageDiv').find('.wa-rules').on('click', function(){
            $('.wa-signPageDiv').hide();
            $('.wa-rules-div').show();
        });
{#        //从后台获取数据#}
{#        W.getApi().call({#}
{#            app: 'm/apps/sign',#}
{#            resource: 'sign_participance',#}
{#            method: 'get',#}
{#            args: {#}
{#                owner_id: W.webappOwnerId#}
{#            },#}
{#            success: function(data) {#}
{#                alert('参与成功');#}
{#            },#}
{#            error: function(data) {#}
{#                alert('参与失败');#}
{#            }#}
{#        });#}
	});
</script>
{% endblock %}

