#message_his {
	background-image: -webkit-gradient(linear, left bottom,left top, color-start(0, #abe7f2), color-stop(1, #e2ccb4))!important;
	background:-moz-linear-gradient(top,#abe7f2,#e2ccb4) !important; /*火狐*/ 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#abe7f2), to(#e2ccb4))!important;/*谷歌*/ 
}
#messages_list img{
	width: 44px;
	height: 44px;
	display: inline;
	vertical-align: middle;
	margin-right: 10px;
	margin-top: 8px;
	border-radius: 20px;
}
#messages_list a{
	text-decoration:none;
	padding: 0px !important;
	margin: 0px !important;
}
#messages_list li{
	padding: 0px 10px 0px 0px !important;
	margin: 0px 0px 0px 10px !important;
	overflow: hidden;
	border-bottom: 1px solid #ddd !important;
	list-style-type: none;
 }
#messages_list a:after{
	content: '' !important;
}
#messages_list .fl{
	float: left;
	display: inline;
	max-width: 50%;
	overflow: hidden;
	word-break: keep-all;
	white-space: nowrap;
	text-overflow: ellipsis;
}
#messages_list .fr{
	float: right;
	display: inline;
	margin-right: 20px;
	color: #888;
}
#messages_list .time{
	font-size: 12px;
	margin-top: 5px;
	margin-right: -20px;
}
#messages_list .clear{
	clear: both;
}
#messages_list .msg{
	font-size: 12px;
	color: #888;
}
#messages_list .af-badge{
	right: 0px !important;
	top: 40px !important;
}
#message_history {
	padding-bottom: 50px;
	/*margin-top: 45px;*/
}
#message_history .img_size{
	width: 44px;
	height: 44px;
	position: relative;
	display: inline;
	margin-top: 15px;
	border-radius: 20px;
}
#message_history .fl{
	float: left;
	display: inline;
}
#message_history .fr{
	float: right;
	display: inline;
}
#message_history p{
	display: block;
	word-break: break-all;
}
#message_history .message_info_box{
	background : none repeat scroll 0 0;
	position: relative;
	overflow: hidden;
	word-break: break-all;
	max-width: 70%;
}
#message_history .message_content{
	border: 1px solid #ccc;
	border-radius: 6px;
	margin: 10px;
	margin-top: 0px;
	position: relative;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.05);
	min-width: 86px;
	min-height: 34px;
}
#message_history .message_sender {
	color: #0088D1;
	margin: 6px;
}
#message_history .message_sender_right {
	margin: 3px;
	margin-right: 10px;
}
#message_history .message_sender_left {
	margin: 3px;
	margin-left: 10px;
}
#message_history .message_content_right {
	background: #03a7e4;
}
#message_history .message_content_right p{
	color: #fff;
}

#message_history .message_content_left {
	background: #F2F2F5;
}
.pic_padding{
     padding: 10px 0;
}
#message_history .message_content_left .bubble_arrow {
	left: -7px;
}
#message_history .message_content_right .bubble_arrow {
	right: -7px;
}
#message_history .bubble_arrow {
	position: absolute;
	top: 10px;
	z-index: 99;
}
#message_history .message_content_left .bubble_arrow .W_arrow_bor em {
	color: #F2F2F5;
	margin: 0 0 0 -9px;
}
#message_history .message_content_right .bubble_arrow .W_arrow_bor em {
	color: #D7EBFE;
	margin: 0 0 0 -9px;
}
#message_history .bubble_arrow .W_arrow_bor i, #message_history .bubble_arrow .W_arrow_bor em {
	border-width: 5px;
	border-style: solid;
	display: inline-block;
	font-size: 0;
	height: 0;
	line-height: 0;
	overflow: hidden;
	vertical-align: top;
	width: 0;
}
#message_history .message_content_left i, #message_history .message_content_left em {
	border-color: #f2f2f5 #f2f2f5 transparent transparent;
}
#message_history .message_content_right i, #message_history .message_content_right em {
	border-color: #03a7e4 transparent transparent #03a7e4;
}
#message_history .clear{
	clear: both;
	overflow: hidden;
	height: 0px;
}
#message_history .surr_b{
	width: 100%;
}
#message_history .time{
	color: #999997;
	font-size: 12px;
}
#afui #message_his {
	position: fixed;
}
#reply_box {
	bottom: 0px;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 1999 !important;
	display: none;
	background: #ebecee;
}
#reply_box textarea {
    display: block;
    height: 36px;
    line-height: 36px;
    margin: 6px 45px;
    padding: 0 5% 2px 2px;
    width: 57%;
}
#reply_box .button{
	margin-top: -42px;
    position: absolute;
    right: 45px;
}

/*没有更多消息*/
#error_message_history{
	height: 26px;
	padding-left: 25px;
	padding-top: 4px;
	width: 100%;
	z-index: 900;
	color: red;
	text-align: center;
}

.init_li{
	cursor: pointer;
	text-align: center;
	vertical-align: top;
	display: block;
	padding: 8px 10px;
}
.init_li:hover{
	background: none repeat scroll 0 0 #999;
}

.slide-view{
	background: none repeat scroll 0 0 #000;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 999;
}

.voiceContent_left{
	margin-left: 10px;
}
.voiceContent_right{
	margin-right: 10px;
}

.voiceContent_left .icoVoice,.voiceContent_left .playVoice,
.voiceContent_right .icoVoice,.voiceContent_right .playVoice{
	cursor: pointer;
	display: inline-block;
	height: 20px;
	width: 25px;
	margin-top: 7px;
}

.voiceContent_left .icoVoice{
	float: left;
	background-image: url("../img/icon_sound_left.png");
	background-repeat: no-repeat;
	background-size: 40% auto;
	/*background: url("../img/icon_sound_left.png") no-repeat scroll 0 0 / 40% auto rgba(0, 0, 0, 0);*/
}

.voiceContent_left .playVoice{
	float: left;
	background-image: url("../img/voiceplay_left.gif");
	background-position: 15px 0;
	background-repeat: no-repeat;
	background-size: 40% auto;
	/*background: url("../img/voiceplay_left.gif") no-repeat scroll 15px 0 / 40% auto rgba(0, 0, 0, 0);*/
}

.voiceContent_right .icoVoice{
	background-image: url("../img/icon_sound_right.png");
	background-position: 15px 0;
	background-repeat: no-repeat;
	background-size: 40% auto;
	float: right;
	/*background: url("../img/icon_sound_right.png") no-repeat scroll 15px 0 / 40% auto rgba(0, 0, 0, 0);*/
}

.voiceContent_right .playVoice{
	background-image: url("../img/voiceplay_right.gif");
	background-position: 15px 0;
	background-repeat: no-repeat;
	background-size: 40% auto;
	float: right;
	/*background: url("") no-repeat scroll 15px 0 / 40% auto rgba(0, 0, 0, 0);*/
}

.pic{
	width:90px;
}

.showbig{
	max-height: 100%;
	max-width: 98%;
	transform: scale(1) translate(0px, 0px);
	transition: all 200ms ease 0s;
	vertical-align: middle;
	visibility: visible;
}

.add_pic{
    display: block;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    position: absolute;
}
#file{
	width: 45px;
	height: 45px;
	opacity: 0;
	position: absolute;
	top: 1px;
	left: 0;
}
.send_pic{
    float: right;
    margin-top:55px;
}
.add_audio{
    height: 45px;
    margin-top: -45px;
    padding-left: 14px;
    padding-top: 10px;
    position: absolute;
    right: 0;
    width: 45px;
}
.btn_clicked{
    color: tomato;
}
.message_content_text > img {
  background: none repeat scroll 0 0 #fff;
}
.pic_mask{
    opacity: 0.7;
    position:absolute;
    background: none repeat scroll 0 0 #000000;
    width: 90px;
    display: none;
}

.pic_mask_text{
    position:absolute;
    display: none;
    left: 0;
    top: 0;
}
.voice_duration{
    color: black;
    left: 10px;
    position: absolute;
    top: 1px;
    display:none;
    width: 40px;
}