#orders{
	margin-top: 60px;
	height: 90% !important;
}
.tab{
	margin-top: 10px;
}
#afui .list > li > .order_id_link:after{
	top:12% !important;
}
.det{
	padding-left: 10px;
	margin-bottom: 10px;
}
#afui .list .order_info{
	padding-right: 10px;

}
#order_action{
	/*padding-right: 10%;*/
}
#afui .order_info .button{
	margin: 0;
}
#search_order{
	position: relative;
	z-index: 2;
	padding: 10px 12px;
	display: none;
	background-color: inherit;
	width: 100% !important;
    /*margin: 0 12px;*/
}
#afui #order_id_search{
	float:right;
	border: 1px solid #E3E6EB;
	border-radius: 5px;
	/*margin-right: 2% !important;*/
	margin-top:0px;
	padding:5px 3px 5px 5px;
	width: 15% !important;
	height: 40px;
	text-align: center;
}
#afui #order_id_search:before{
/*	left: 0;*/
	top:6px;
}
#order_id_search .button .pressed{
	background: none repeat scroll 0 0 #fff;
}
#afui #filter{
	/*margin-left: 10px;*/
	width: 20%;
	text-align: center;
	padding:0 !important;
}
#afui #search_order_id{
	width: 60% ;
/*	height: auto !important;*/
	padding: 0 5px ;
	-moz-user-select: text;
}

#clear_order_id{
    width:5%;
	position:absolute;
	display: block;
	top:20px;
	height: 30px;
	left: 72%;
	z-index:3;
	cursor: pointer;
}
#clear_order_id:before{
	left:0;
	color:#E3E6EB;
}

#main_info{
	position: absolute;
	z-index:9999;
	width:70%;
	background-color:white;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	text-align: center;
	right:13px;
	top:50px;
	padding-top: 11px;

}
#main_info .express{

}
#main_info .express label{
	width: 66%;
	text-align: left;
	padding: 0 11px 11px 6px;
}
#main_info .express select{
	/*width: 66%;*/
	/*margin-left: 5px !important;*/
	/*float: left;*/
	/*margin-bottom: 15px;*/
	margin-bottom: 0;
}
#main_info .express input{
	/*width: 66%;*/
	/*margin-left: 5px !important;*/
	/*float: left;*/
	margin-bottom: 0;
}
#main_info .express .express_error{
	margin-left: 5px;
	clear:both;
	height: 2em;
	text-align: left;
	color:red;
}
#main_info .drop-box-arrow-down-right{
/*	background: url("./img/sanjiao.png") no-repeat scroll right top transparent;*/
    height: 8px;
    margin: -24px 10px 0 0;
    width: 40px;
    float: right;
}