.sale_context{
    width: 100%;
}
.show_date{
    width: 20%;
    text-align: center;
    float: left;
}
.post_date{
    width: 20%;
    height: 40px;
    background: url("../img/date-bg.gif") no-repeat scroll center 0 rgba(0, 0, 0, 0);
    text-align: center;
    float: left;
}

.show_date,.post_date{
    margin-top: 2px;
}

.date_month{
    color: #fff;
}
.date_day{
    font-size: 16px;
    padding-top: 2px;
}

.show_order_info{
    width: 80%;
    font-size: 10px;
    float: left;
}
.clearfix:after {
    content:".";
    display:block;
    height:0;
    visibility:hidden;
    clear:both;
}

 table{
    width: 100%!important;
}

.clearfix { *zoom:1; }

.sale_icon{
    display: inline-block;
    font-size: 1.5em;
    width: 16%;
}

.sale_icon img{
    width: 16px;
}

.sale_icon_and_count{
    padding-top: 5px;
    text-align: justify;
}

.good{
    color: green;
}

.pay{
    color: blue;
}
#order_static_content{
    padding-top:50px;
}
#statisticsView{
    /*margin-top:50px;*/
}
.li_bottom {
    border-bottom:3px solid #00AEEF;
    /*box-shadow:2px 2px 2px rgba(20%,20%,40%,0.6),4px 4px 6px rgba(20%,20%,40%,0.4),6px 6px 12px rgba(20%,20%,40%,0.4);*/
}
