@charset "utf-8";
/*背景*/
body.ui-overlay-x .ui-page.xui-egg-page{
    background: #ac070b;
    background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
}
.android body.ui-overlay-x .ui-page.xui-egg-page{
    background: #ac070b;
    background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
}

/*金蛋*/
.xui-egg-card{
    margin:0 auto;
    max-width:320px;
    position:relative;
}
.xui-egg-card img{
    width:100%;
}
.xui-egg-card-widget{
    position:absolute;
    left: 50%;
    bottom: 15%;
    width: 100px;
    height: 30px;
    color:#5C3D04;
    font-size:0.95em;
}


/*内容介绍区域*/
.xui-content-layer{

}
.xui-content-layer .xui-content-layer-title{
    width:115px;
    height:35px;
    line-height:44px;
    font-weight:normal;
    font-size:1em;
    color:#f9c596;
    overflow:hidden;
}
.xui-content-layer .xui-content-layer-content{
    color:#fff;
    line-height:25px;
    font-size: 0.9em;
    padding:5px 0;
}
.xui-content-info{
    background:#990508;  
    color:#fff;
    font-size: 0.9em;
    padding:10px;
    margin-top:10px;
}
.xui-content-layer-content.rawHtml > p ,.xui-content-layer-content > p{
    color: #fff;
}
.zoom {
    color: #fff;
}

/*积分层*/
.xui-integral-content{
    position:relative;
    display:inline-block;
}
.xui-integral-delete{
    position:absolute;
    top:0px;
    right:0px;
    width:30px;
    text-align:right;
}

/*状态*/
.xui-lottery-status{
    position:absolute;
    right:0;
    top:0;
    width:100px;
    height:100px;
    z-index:99999;
}
.xui-lottery-status-0{
    background:url(/markettools_static/lottery/img/active_suspend.png) 0 0 no-repeat;
}
.xui-lottery-status-2{
    background:url(/markettools_static/lottery/img/active_over.png) 0 0 no-repeat;
}
.xui-lottery-status-,
.xui-lottery-status-1{
    display:none;
}
.xui-lottery-status-3{
    background:url(/markettools_static/lottery/img/active_not_start.png) 0 0 no-repeat;
}

.xui-header-btnLayer{
    position:relative;
    z-index: 999;
}
.xui-btn-again{
    position:fixed;
    top:10px;
    left:0px;
    z-index: 99999;
    background:rgba(0,0,0,0.2);
    border-radius:0 15px 15px 0;
    -moz-border-radius:0 15px 15px 0;
    -webkit-border-radius:0 15px 15px 0;
    height:30px;
    padding:0 20px 0 10px;
    line-height: 28px;
    color:#F9C596;
    cursor:pointer;
    border:none;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    text-shadow:none;
}
.xui-btn-again .ui-btn-inner{
    padding:0;
    border:none;
    text-shadow:none;
    overflow:visible;
}
.xui-btn-again .ui-btn-text{
    font-size:0.8em;
    text-shadow:none;
}