<script id="apps-prize-selector-v4-tmpl" type="text/x-handlebar-tmpl">
<div class="xui-apps-prizeSelector" style="margin-top: 2px;">
	<div class="coupon_div xa-selectCoupon {{#if prize.name}}xui-hide{{/if}}" data-target="coupon">
		<a
			href="javascript:void(0);"
			class="ml5"
		>请选择优惠券	</a>
		<input style="width:0;background:#F9F9F9;border:0" type="text" />
		<div class="errorHint" style="margin-left: 58%;width: 100px;"></div>
	</div>
	<div class="xui-inline xa-selectedCoupon xa-optionTarget {{#if prize.name}}{{else}}xui-hide{{/if}}">
		<div class="pr xui-i-selectedBox" style="margin-left:0;">
			<span class="xui-i-selected-title xa-couponName" coupon-id="{{ prize.id }}">{{prize.name}}</span>
			<button class="close xui-close xa-removeCoupon" style="display:block;opacity:1;line-height:16px;" type="button">×</button>
			<a href="javascript:void(0);" class="xa-selectCoupon ml5">修改</a>
			<span style="color:#666666">剩余库存: <span class="xa-couponCount">{{#if prize.count}}{{prize.count}}{{ else }} 0 {{/if}}</span>&nbsp;&nbsp;</span>
			<span><a href="/mall2/coupon_list/?id={{ prize.id }}" target="_blank" class="xa-changeCouponCount" >追加库存</a></span>
		</div>

	</div>
	<div class="errorHint" style="margin-left: 37%;"></div>
</div>
</script>
