{% extends "content_base.html" %}
{% load common_tag %}
{% load account_filter %}

{% block css %}
<link href="/static/css/small_simulator.css" media="all" rel="stylesheet" type="text/css">
{% endblock %}

{% block content-panel %}
	<ul class="breadcrumb">
		<li class="active">自定义菜单</li>
	</ul>
	<div id="editMenuPanel"></div>

{% endblock %}

{% block dialog %}
{% endblock %}

{% block js %}
	<script type="text/javascript">
		var isActive = '{{ is_active }}';
		var menus = $.parseJSON('{{ menu_items|safe }}');
		$(document).ready(function() {
			var editMenuPanel = new W.view.weixin.EditMenuPanel({
				el: '#editMenuPanel',
				menus: menus
			});
		});
	</script>
{% endblock %}
