{% extends "webapp_content_base_v4.html" %}

{% block css %}
<style type="text/css">
	h1 {
		color: #00F;
	}

	.xui-record .xui-inner-content {
		color: #8F8F8F;
	}

    .wui-mask{
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        opacity: 0.8 !important;
        background: black;
        height: 100%;
        width: 100%;
    }

    .wui-resultDialog{
        background: url("/termite_static/img/component/lottery/roulette_mobile_dialog_bg.png") no-repeat;
        display: none;
        position: fixed;
        top: 20%;
        left: 10%;
        width: 80%;
        height: 250px;
        border-radius: 5px;
        z-index: 1;
    }
    .wui-resultDialog>.wui-i-title{
        background: url("/termite_static/img/component/lottery/roulette_mobile_dialog_title_icon.png") no-repeat;

    }
    .wui-resultDialog>.wui-i-close{
        background: red;
    }
</style>
{% endblock %}

{% block content-panel %}
    {{ page_html_content|safe }}
    <div id="resultDialog" class="wui-resultDialog">
        <i class="wui-i-close xa-closeDialog">&#10005</i>
        <h2 class="wui-i-title"></h2>
        <h3 class="wui-i-subTitle"></h3>
        <div class="wui-i-content"></div>
        <div class="wui-i-bottom">
            <a class="ui-btn wui-i-btnup">
                <span class="ui-btn-text">个人中心</span>
            </a>
            <a class="ui-btn wui-i-btndown">
                <span class="ui-btn-text">关闭</span>
            </a>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        function Roulette($lottery){
            this.index = -1;
            this.count = 0;
            this.timer = 0;
            this.speed = 100;
            this.times = 0;
            this.cycle = 50;
            this.prize = -1;
            this.prize_name = "谢谢参与";
            this.prize_type = 'no_prize';
            this.isRolling = false;
            this.light_index = -1;
            this.light_count = 0;
            this.light_speed = 100;
            this.lights_timer = 0;
            this.$lottery = $lottery;
            this.PRIZE = {
                '谢谢参与': getRandomStopPosition(['1', '5', '8', '10']), //谢谢参与位置
                '一等奖': getRandomStopPosition(['0', '7']), //一等奖位置
                '二等奖': getRandomStopPosition(['2', '4', '9']), //二等奖位置
                '三等奖': getRandomStopPosition(['3', '6', '11']) //三等奖位置
            };
            function getRandomStopPosition(arr){
                var len = arr.length - 1;
                return arr[parseInt(Math.random()*len+0.5)];
            }

            //初始化
            var len = $lottery.find(".xa-lottery-unit").length;
            if(len>0){
                this.count = len;
                $lottery.find(".xa-lottery-unit-"+this.index).addClass("active");
                //lights
                this.light_count = $lottery.find(".xui-circle").length;
            }else{
                alert('没有找到容器');
                return void(0);
            }
            //初始化result dialog
            this.$dialog = $('#resultDialog');
            var $body = $('body');
           $body.append($('<div class="wui-mask"></div>'));
        }
        Roulette.prototype.move = function(){
            //lottery
            var $lottery = this.$lottery;
            $lottery.find(".xa-lottery-unit-"+this.index).removeClass("active");
            this.index++;
            if(this.index>=this.count){
                this.index = 0;
                this.times ++;
            }
            $lottery.find(".xa-lottery-unit-"+this.index).addClass("active");
            //lights
            var light_index = this.light_index;
            $lottery.find(".xa-circle-unit-"+light_index).removeClass("active");
            light_index += 1;
            if(light_index>this.light_count){
                light_index = 0;
            }
            $lottery.find(".xa-circle-unit-"+light_index).addClass("active");
            this.light_index = light_index;
        };
        Roulette.prototype.stop = function(data){
            this.prize_type = data.prize_type;
            this.prize_name = data.result;
            var index = this.PRIZE[data.result];
            this.prize = parseInt(index);
        };
        Roulette.prototype.roll = function(){
            this.isRolling = true;
            this.move();
            if(this.prize == -1 || this.times<3){
                if(this.speed > 50) this.speed -= 10;
            }else{
                console.log('prize:'+this.prize+' index:'+this.index);
                if(this.speed >= 250 && ((this.prize == 0 && this.index == 7) || this.prize == this.index)){
                    clearTimeout(this.timer);
                    this.times = 0;
                    this.prize = -1;
                    this.speed = 100;
                    this.isRolling = false;
                    this.popupResult();
                    return;
                }
                this.speed += 20;
            }
            var that = this;
            this.timer = setTimeout(function(){
                that.roll();
            },this.speed);
        };
        Roulette.prototype.popupResult = function(action){
            if(action){
                if(this.prize_type == 'entity'){
                    //实物

                }
            }
            this.$dialog.show();
            $('.wui-mask').show();
        };
    </script>
    <script type="text/javascript">
        var lottery_status, can_play_count;
        window.lottery = {};//测试用

        $(function(){
            //隐藏参与活动按钮
            $('.xa-submitButtonContainer').hide();
            //TODO 发起请求获取中奖历史和剩余积分

            lottery_status = '{{ lottery_status }}' == 'True' ? true : false;
            can_play_count = parseInt('{{ can_play_count }}');
            var $container = $('.wui-lotterydescription').find('.wui-i-body');
            window.lottery = new Roulette($container);
            $(".xa-lottery-go").click(function(){
                if(lottery.isRolling || !lottery_status){
                    return false;
                }else{
                    W.getApi().call({
                        app: 'm/apps/lottery',
                        resource: 'lottery_prize',
                        method: 'put',
                        args:{
                            id: W.appRecordId,
                            webapp_owner_id: W.webappOwnerId
                        },
                        success: function(data){
                            can_play_count = data.can_play_count;
                            $frameDoc.find('.wui-lotterydescription .xa-header p>b').html(can_play_count);
                            lottery.roll();
                            lottery.stop(data);
                            console.log('抽奖结束');
                        },
                        error: function(error){
                            alert(error);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}

