{% extends "content_base.html" %}
{% load common_tag %}
{% load account_filter %}

{% block css %}
{% endblock %}

{% block content-panel %}
<ul class="breadcrumb">
	<li><a href="/account/accounts/">帐号信息</a><span class="divider">/</span></li>
	<li><a href="/account/sub_users/">员工帐号管理</a><span class="divider">/</span></li>
	<li class="active">添加员工帐号</li>
</ul>

<form class="form-horizontal" method="post" id="editForm" data-id="{% if product %}{{ product.id }}{% else %}0{% endif %}">
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="name">员工帐号：</label>
			<div class="controls">
				{{sub_user.username}}
				<input type="hidden" name="id" id="d" value="{{ sub_user.id }}" />
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="physical_unit">输入密码：</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="password" name="password" placeholder="输入密码"  data-validate="required-none" />
				<div class="errorHint"></div>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="physical_unit">确认密码：</label>
			<div class="controls">
				<input type="password" class="input-xlarge" id="confirm_password" name="confirm_password" placeholder="确认密码"  data-validate="required-none" />
				<div class="errorHint"></div>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="remark">备注：</label>
			<div class="controls">
				<textarea class="input-xlarge" id="remark" name="remark" style="height: 100px;"></textarea>
			</div>
		</div>
    </fieldset>

	<fieldset>
		<legend></legend>
		<div class="control-group">
			<div class="controls">
				<input type="submit" class="btn btn-success" id="submitBtn" value="提&nbsp;&nbsp;交" />
			</div>
		</div>
	</fieldset>
</form>

{% endblock %}

{% block dialog %}
{% endblock %}

{% block jsTemplate %}
	{% include_raw 'jsTemplate/imageView.html' %}
{% endblock %}

{% block js %}
<script type="text/javascript">


	$(document).ready(function() {
		var $inputs = $('input[type="text"]');
		if ($inputs) {
			$inputs.eq(0).focus();
		}

		$('[name="putaway_type"]').change(function() {
		    if(this.checked) {
		        $(this).parents('li').find('#dateSelector-dropBox').show();
		    }
		    console.log(this.checked, $(this).find('#dateSelector-dropBox'))
		})
		//提交
		$('#editForm').submit(function() {
			if (!W.validate($(this))) {
				return false;
			}
			var password = $('#password').val();
			var confirm_password = $('#confirm_password').val();
			if (password != confirm_password){
				alert('请输入相同密码');
				return false;
			}
			return true;
		});
		
	});
</script>
{% endblock %}

