<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
	<title>支付提示</title>
	<link type="text/css" rel="stylesheet" href="/termite_static/alipay/aliPay.css">
</head>
<body>
<div class="tc iosPage">
	<img src="/termite_static/alipay/ios_icon.jpg" alt="" width="118" height="118" class="icon">
	<img src="/termite_static/alipay/guide_arrow.jpg" alt="" class="arrow">
	<h2>订单等待支付</h2>
	<p style="font-size:0.85rem;">请点击右上角打开浏览器，为您转至支付宝完成支付</p>
	<a href="/termite/workbench/jqm/preview/?woid={{woid}}&module=mall&model=pay_interfaces&action=list&order_id={{order.id}}&ignore_template=1" class="btn">选择其他支付方式</a>
</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
    var hm = document.createElement("script");
    hm.src = "/weixin/js/config/?path="+encodeURIComponent(location.href);
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
    wx.ready(function(){       
		wx.showOptionMenu(); 	
    })
</script>
</body>
</html>

