{% extends "content_base_v2.html" %}
{% block content-panel %}
<div class="xui-weixin-messagePage xui-weixin-followRulesPage">
    <div class="relative">
        <ul class="breadcrumb">
            <li>您当前所在位置</li>
            <li><a href="/new_weixin/keyword_rules/">消息互动</a></li>
            <li>关注自动回复</li>
        </ul>
    </div>
    <!--
	<div class="relative">
		<ul class="breadcrumb">
			<li class="active">规则列表</li>
		</ul>
		<span class="breadcrumLeftButton">
			<a class="btn btn-primary" href="/weixin/message/qa/rule/add/"><i class="icon-plus icon-white"></i>新建自动回复</a>
		</span>
	</div>-->
    <ul class="xui-messageNav">
        <li><a href="/new_weixin/keyword_rules/">关键词自动回复</a></li>
        <li class="active"><a href="/new_weixin/follow_rules">关注后自动回复</a></li>
        <li><a href="/new_weixin/unmatch_rules">消息托管</a></li>
        <li><a href="/new_weixin/message_tails">小尾巴</a></li>
    </ul>
    <div class="pt15 pb15 pl20 fb">关注后回复以下内容</div>
    <div class="xui-message-view ml10" style="width:600px;height:225px;" id="edit-message-panel"> </div>
    <div class="xui-messageWarp clear" id="edit-message-panel">
    </div>
</div>
</div>
{% endblock %}


{% block js %}
<script type="text/javascript">
$(document).ready(function() {
    var rule = W.loadJSON('rule');
    console.log(rule);
    var method = 'put';
    var options = {
        el: '#edit-message-panel',
        cancelBtnText: '清除内容',
        submitBtnText:'保&nbsp;&nbsp;存',
        richTextEditorWidth: '500'
    }
    if (rule) {
        method = 'post';
        var answer = rule.answer;
        console.log(answer.newses);
        if (answer.type === 'text') {
            options.answer = answer.content;
        } else if (answer.type === 'news') {
            options.materialId = answer.content;
            options.material = answer;
        }
    }

    var editor = new W.view.weixin.MessageEditor(options);
    editor.bind("finish-edit", function(message) {
        if (!W.validate()) {
            return false;
        }
        xlog('get message');
        xlog(message);
        var args = new Object();
        var answer = new Object();
        if (message.type == 'text') {
            answer.content = message.answer;
            answer.type = 'text';
            args.material_id = 0;
        } else {
            answer.content = message.materialId;
            answer.type = 'news';
            args.material_id = message.materialId;
        }
        if (rule) {
            args.id = rule.id;
        } else {
            args.id = -1;
        }
        args.answer = JSON.stringify(answer);
        xlog(args);
        W.getApi().call({
            app: 'new_weixin',
            resource: 'follow_rules',
            method: method,
            args: args,
            success: function(data) {
                W.showHint('success', '保存成功');
                setTimeout(function() {
                    location.reload()
                }, 1000);
            },
            error: function(resp) {
                W.showHint('error', '保存失败');
                setTimeout(function() {
                    location.reload()
                }, 1000);
            },
        })
    });


    editor.bind("cancel-edit", function(message) {
        xlog('get  message');
        xlog(message);
        var args = new Object();
        if (rule) {
            args.id = rule.id;
        } else {
            args.id = -1;
        }
        xlog(args);
        W.getApi().call({
            app: 'new_weixin',
            resource: 'follow_rules',
            method: 'delete',
            args: args,
            success: function(data) {
                W.showHint('success', '清除成功');
                setTimeout(function() {
                    location.reload()
                }, 1000);
            },
            error: function(resp) {
                W.showHint('error', '清除失败');
                setTimeout(function() {
                    location.reload()
                }, 1000);
            },
        })
    });


});
</script>

{% endblock %}
