{% extends "content_base_v2.html" %}
{% block css%}
<style type="text/css">
    .xui-background{
        position: relative;
        min-height: 531px;
    }
    .template_message_item{
        border-bottom: 1px solid #e6e6e6;
        width: 580px;
        color: #666666;
        height: 40px;
        line-height: 40px;
    }
    input.template_control{
        display: inline-block;
        vertical-align: middle;
        width: 15px;
        height: 15px;
        background-color: #ffffff;
        margin: 0;
        margin-right: 10px;                 
    }
    .template_edit{
        margin-left: 350px;
    }
    .template_edit_container{
        position: absolute;
        background: #ebebeb;
        right: 15px;
        top: 15px;
        border: 1px solid #e5e5e5;
    }
    .template_edit_panel{
        display: none;
        width: 320px;
        background: url(/static_v2/img/editor/weixin_bg.png) top no-repeat;
        padding: 70px 15px 15px;
    }
    .template_edit_content{
        width: 100%;
        height: 100%;
        background: #ffffff;
        border: 2px solid #dfdfdf;
        border-radius: 5px;
        padding: 20px 10px 0;
    }
    .template_edit_content h2{
        margin: 0;
        font-size: 15px;
        font-weight: bold;
    }
    .template_edit_panel input{
        width: 100%;
        height: 28px;
        line-height: 28px;
        padding-left: 6px;
        color: #666666;  
    }
    .template_edit_detail{
        border-top: #f5f5f5 solid 1px;
        margin-top: 20px;
        height: 35px;
        line-height: 35px;
        color: #666666;
        overflow: hidden;
    }
    .template_edit_detail i{
        display: inline-block;
        float: right;
        font-family: "黑体";
        font-weight: bold;
        font-size: 16px;
        font-style: normal;
    }
    .template_edit_content ul li{
        margin-bottom: 5px; 
    }
    .template_edit_content ul li span{
        color: #1c69bb;
    }
    .template_commit{
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background: rgba(0,0,0,0.2);
    }
    .template_commit button{
        width: 100px;
    }
    .cl6{
        color: #666666;
    }
</style>
{% endblock %}
{% block content-panel %}
<div class="xui-weixin-template_messagesPage">
    <div class="relative">
        <ul class="breadcrumb">
            <li>您当前所在位置</li>
            <li><a href="/new_weixin/realtime_messages/">消息互动</a></li>
            <li class="active">模板消息</li>
        </ul>
    </div>
    <div>

    </div>
    <div class="xui-background">
        <div class="template_edit_container">
            <div class="template_edit_panel"></div>
        </div>
        {% if has_templates %}
            <div class="panel-body"></div>
        {% else %}
            <div>暂没有配置模版消息</div>
        {% endif %}
        <div class="template_commit">
            <button type="button" class="btn btn-primary xa-sync-template">更新模版</button>
            <button class="btn btn-primary xa-submit">保&nbsp;&nbsp;&nbsp;&nbsp;存</button>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% verbatim %}
<script id="weixin-template-message-view" type="text/x-handlebar-tmpl">
    <div id="template_message_list">
        {{#if items.length}}
            {{#each items}}
                {{#if_in title}}
                    <div class="template_message_item">
                        <input type="checkbox" name="control" class="template_control" {{#ifequal status 'True'}}checked{{/ifequal}} data-template-id="{{template_id}}" data-status = "{{status}}">
                        <span>{{title}}（行业：{{industry_name}}）</span>
                        <a href="javascript:void(0)" class="template_edit" title="编辑" data-template-id="{{template_id}}">编辑</a>
                    </div>
                {{/if_in}}
            {{/each}}
        {{/if}}
    </div>
</script>

<script id="weixin-template-edit-view" type="text/x-handlebar-tmpl">
    <div class="template_edit_content" data-template-id="{{template_id}}">
        <h2>{{item_title}}</h2>
        <div class="cl6 mt5 mb5">7月11日</div>
        <input type="text" name="first" class="template_edit_first mb10" value={{#if item_first}}"{{item_first}}"{{/if}}></input>
        {{#list item_message_arr}}{{/list}}
        <input type="text" name="remark" class="mt5 template_edit_remark" value={{#if item_remark}}"{{item_remark}}"{{/if}}></input>   
        <div class="template_edit_detail">
            详情<i>></i>
        </div>           
    </div>
</script>
{% endverbatim %}

<script type="text/javascript">
var using_templates = ["拼团成功通知", "拼团退款提醒", "商品发货通知", "购买成功通知", "订单标记发货通知", "积分变动通知", "付款成功通知"];
var items;
$(document).ready(function(){
    //获取模版消息
    W.resource.new_weixin.NewTemplateMessages.get({
        data: {
            woid: W.webappOwnerId
        },
        success: function(data){
            console.log(data);
            items = data.items;
            renderList();
        },
        error: function(){
            W.showHint('error', '获取模版消息失败，清重试！');
        }
    });

    // items = [{
    //             'status': 'False',
    //             'first': '',
    //             'remark': '',
    //             'industry_name': "IT科技",
    //             'title': "领取奖金提醒",
    //             'template_id': "iPk5sOIt5X_flOVKn5GrTFpncEYTojx6ddbt8WYoV5s",
    //             'example': "您已提交领奖申请\n\n领奖金额：xxxx元\n领奖时间：2013-10-10 12:22:22\n银行信息：xx银行(尾号xxxx)\n到账时间：预计xxxxxxx\n\n预计将于xxxx到达您的银行卡"
    //         }]
    // renderList();

    //同步模版
    $('.xa-sync-template').on('click', function(){
        W.resource.new_weixin.NewTemplateMessages.post({
            data: {
                woid: W.webappOwnerId
            },
            success: function(data){
                console.log(data);
                W.showHint('error', '更新模版成功');
            },
            error: function(resp){
                W.showHint('error', resp.errMsg);
            }
        });
    });

    //编辑
    $('body').delegate('.template_edit','click',function(){
        if($('.template_edit_content').length != 0){
            saveData();
        }
        var template_id = $(this).attr('data-template-id');
        var item = items.filter(function(e){
            return e['template_id'] == template_id;
        })[0];
        var item_message_arr = item.example.split('\n\n')[1].split('\n');
        var context = {
            item_title: item.title,
            template_id: template_id,
            item_first: item.first,
            item_message_arr: item_message_arr,
            item_remark: item.remark
        };
        var source = $('#weixin-template-edit-view').html();
        var template = Handlebars.compile(source);  
        var html = template(context);
        $('.template_edit_panel').html(html).show();
    });

    //更改状态
    $('body').delegate('.template_control','click',function(){
        var template_id = $(this).attr('data-template-id');
        if( $(this).attr('data-status') == 'True'){
            $(this).attr('data-status','False');
            for(var i=0;i<items.length;i++){
                if(items[i]['template_id'] == template_id){;
                    items[i]['status'] = 'False';
                }
            }          
        }else{
            $(this).attr('data-status','True'); 
            for(var j=0;j<items.length;j++){
                if(items[j]['template_id'] == template_id){
                    items[j]['status'] = 'True';
                }
            }           
        }
    });

    //保存
    $('.template_commit').click(function(){
        saveData();    
        console.log(items);    
        W.getApi().call({
            app: 'new_weixin',
            resource: 'new_template_messages',
            method: 'post',
            args: {
                items: items,
                woid: W.webappOwnerId
            },
            success: function(data){
                W.showHint('success', '保存成功');
            },
            error: function(resp){
                W.showHint('error','保存失败')
            }
        });        
    });

    function saveData(){
        var template_id = $('.template_edit_content').attr('data-template-id');
        var cur_first = $('.template_edit_content').find('.template_edit_first').val();
        var cur_remark = $('.template_edit_content').find('.template_edit_remark').val();
        for(var i=0;i<items.length;i++){
            if(items[i]['template_id'] == template_id){
                items[i].first = cur_first;
                items[i].remark = cur_remark;
            }
        }
    }

    function renderList(){
        var context = {
            items: items,
            using_templates: using_templates
        };
        var source = $('#weixin-template-message-view').html();
        var template = Handlebars.compile(source);  
        var html = template(context);
        $('.panel-body').html(html);
    }
});
</script>
{% endblock %}