{% extends "content_base_v2.html" %}
{% block css%}
<style type="text/css">
    .xui-background{
        position: relative;
        min-height: 531px;
    }
    .template_hint {
        border:1px solid #f58b0f;
        background: #fff7eb;
        color: #f58b0f;
        padding: 15px;
        font-size: 15px;    
        margin: 0;
    }
    .template_message_item{
        border-bottom: 1px solid #e6e6e6;
        width: 580px;
        color: #666666;
        height: 37px;
        line-height: 37px;
        position: relative;
    }
    input.template_control{
        display: inline-block;
        vertical-align: middle;
        width: 15px;
        height: 15px;
        background-color: #ffffff;
        margin: 0;
        margin-right: 10px;                 
    }
    .template_edit{
        display: inline-block;
        position: absolute;
        height: 14px;
        right: 15px;
    }
    .template_edit_container{
        position: absolute;
        background: #ebebeb;
        right: 15px;
        top: 15px;
        border: 1px solid #e5e5e5;
    }
    .template_edit_panel{
        display: none;
        width: 320px;
        background: url(/static_v2/img/editor/weixin_bg.png) top no-repeat;
        padding: 70px 15px 15px;
    }
    .template_edit_content{
        width: 100%;
        height: 100%;
        background: #ffffff;
        border: 2px solid #dfdfdf;
        border-radius: 5px;
        padding: 20px 10px 0;
    }
    .template_edit_content h2{
        margin: 0;
        font-size: 15px;
        font-weight: bold;
    }
    .template_edit_panel input{
        width: 100%;
        height: 28px;
        line-height: 28px;
        padding-left: 6px;
        color: #666666;  
    }
    .template_edit_detail{
        border-top: #f5f5f5 solid 1px;
        margin-top: 20px;
        height: 35px;
        line-height: 35px;
        color: #666666;
        overflow: hidden;
    }
    .template_edit_detail i{
        display: inline-block;
        float: right;
        font-family: "黑体";
        font-weight: bold;
        font-size: 16px;
        font-style: normal;
    }
    .template_edit_content ul li{
        margin-bottom: 5px; 
    }
    .template_edit_content ul li span{
        color: #1c69bb;
    }
    .template_commit{
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        height: 60px;
        line-height: 60px;
        background: rgba(0,0,0,0.2);
    }
    .template_commit button{
        width: 100px;
    }
    .cl6{
        color: #666666;
    }
    .xui-i-changed h2,.xui-i-deleted h2{
        margin: 0 0 10px;
        font-size: 15px;
        font-weight: 700;
    }
    .xui-i-changed p,.xui-i-deleted p{
        font-size: 14px;
        text-indent: 10px;
    }
    .xui-hidden {
        display: none;
    }
</style>
{% endblock %}
{% block content-panel %}
<div class="xui-weixin-template_messagesPage">
    <div class="relative">
        <ul class="breadcrumb">
            <li>您当前所在位置</li>
            <li><a href="/new_weixin/realtime_messages/">消息互动</a></li>
            <li class="active">模板消息</li>
        </ul>
    </div>
    <p class="template_hint">只有认证的服务号才能使用模板消息，请前往微信公众平台-模板库-选择行业（ IT科技/互联网/电子商务、消费品/消费品）搜索相应的模板标题，添加对应编号的模板消息至我的模板后即可使用</p> 
    <div class="xui-background">
        <div class="template_edit_container">
            <div class="template_edit_panel"></div>
        </div>
        {% if has_templates %}
            <div class="panel-body"></div>
        {% else %}
            <div>暂没有配置模版消息</div>
        {% endif %}
        <div class="template_commit">
            <button type="button" class="btn btn-primary xa-sync-template">更新模版</button>
            <button class="btn btn-primary xa-submit">保&nbsp;&nbsp;&nbsp;&nbsp;存</button>
        </div>
    </div>
</div>

{% verbatim %}
<script id="weixin-template-message-view" type="text/x-handlebar-tmpl">
    <div id="template_message_list">
        {{#each items}}
            {{#if_in this.title ../using_templates}}
                <div class="template_message_item">
                    <input type="checkbox" name="control" class="template_control" {{#if status}}checked{{/if}} data-template-id="{{template_id}}" data-status = "{{status}}" data-title="{{ title }}">
                    <span>{{title}}（行业：{{industry_name}}）</span>
                    <a href="javascript:void(0)" class="template_edit" title="编辑" data-template-id="{{template_id}}">编辑</a>
                </div>
            {{/if_in}}
        {{/each}}
    </div>
</script>

<script id="weixin-template-edit-view" type="text/x-handlebar-tmpl">
    <div class="template_edit_content" data-template-id="{{template_id}}">
        <h2>{{item_title}}</h2>
        <div class="cl6 mt5 mb5">7月11日</div>
        <input type="text" name="first" class="template_edit_first mb10" value="{{item_first}}"></input>
        {{#list item_message_arr}}{{/list}}
        <input type="text" name="remark" class="mt5 template_edit_remark" value="{{item_remark}}"></input>
        <div class="template_edit_detail">
            详情<i>></i>
        </div>
    </div>
</script>

<!-- 同步模版的弹窗 -->
<script id="weixin-template-sync-dialog" type="text/x-handlebar-tmpl">
    <div class="modal fade xui-templateSyncDialog" id="templateSyncDialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">更新内容</h3>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer modal-footerBg">
                    <button data-dismiss="modal" class="btn btn-danger" type="button">知道了</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="weixin-template-syncResult-dialog" type="text/x-handlebar-tmpl">
    <div class="xui-i-changed {{#unless has_changed }}xui-hidden{{/unless}}">
        <h2>新增的模版：</h2>
        {{#each changed}}
            <p>{{ title }}</p>
        {{/each}}
    </div>
    <div class="xui-i-deleted {{#unless has_deleted }}xui-hidden{{/unless}}">
        <h2>删除的模版：</h2>
        {{#each deleted}}
            <p>{{ title }}</p>
        {{/each}}
    </div>
    <div class="xui-i-desc">请对新增的模版进行配置，已被删除的模版将不再展示</div>
</script>
{% endverbatim %}
{% endblock %}


{% block js %}
<script type="text/javascript">
var using_templates = ["拼团成功通知", "拼团退款提醒", "商品发货通知", "购买成功通知", "订单标记发货通知", "积分变动通知", "付款成功通知"];
var items;
var editing = false; //标识当前是否在编辑某个模版内容
var curr_first = '';
var curr_remark = '';
//更新模版后的消息弹窗
var AfterSyncDialog = W.dialog.Dialog.extend({
    events: _.extend({
    }, W.dialog.Dialog.prototype.events),
    
    templates: {
        dialogTmpl: '#weixin-template-sync-dialog',
        resultTmpl: '#weixin-template-syncResult-dialog'
    },
    onInitialize: function(options){
        $('#templateSyncDialog').remove();
        var source = $('#weixin-template-syncResult-dialog').html();
        var template = Handlebars.compile(source);
        this.changed_tmpls = options.changed_tmpls;
        this.deleted_tmpls = options.deleted_tmpls;
        this.all_deleted_template_ids = [];
        for(var i= 0, l=this.deleted_tmpls.length; i<l; i++){
            this.all_deleted_template_ids.push(this.deleted_tmpls[i].template_id);
        }
        this.$dialog.find('.modal-body').html(template({
            changed: options.changed_tmpls,
            deleted: options.deleted_tmpls,
            has_changed: options.changed_tmpls.length,
            has_deleted: options.deleted_tmpls.length
        }));
    },
    onShow: function(){
        if($.isEmptyObject(items)) return;
        //去除已删除的
        for(var i= 0, l=items.length; i<l; i++){
            var tmp = items[i];
            if(this.all_deleted_template_ids.indexOf(tmp.template_id) >= 0){
                delete items[i];
            }
        }
        //加入新增的
        items = items.concat(this.changed_tmpls);
        //重新渲染模版列表
        var context = {
            items: items,
            using_templates: using_templates
        };
        renderList();
    }
});
function renderList(){
    var context = {
        items: items,
        using_templates: using_templates
    };
    var source = $('#weixin-template-message-view').html();
    var template = Handlebars.compile(source);  
    var html = template(context);

    $('.panel-body').html(html);
}
$(document).ready(function(){
    //获取模版消息
    W.resource.new_weixin.NewTemplateMessages.get({
        data: {
            woid: W.mid
        },
        success: function(data){
            console.log(data);
            items = data;
            renderList();
        },
        error: function(){
            W.showHint('error', '获取模版消息失败，清重试！');
        }
    });

    //同步模版
    $('.xa-sync-template').on('click', function(){
        W.resource.new_weixin.NewTemplateMessages.post({
            data: {
                woid: W.mid
            },
            success: function(data){
                console.log(data);
                var changed_tmpls = data.changed;
                var deleted_tmpls = data.deleted;
                W.dialog.showDialog('AfterSyncDialog', {
                    changed_tmpls: changed_tmpls,
                    deleted_tmpls: deleted_tmpls
                });
            },
            error: function(resp){
                W.showHint('error', resp.errMsg);
            }
        });
    });
    
    //编辑
    $('body').delegate('.template_edit','click',function(){
        var $content = $('.template_edit_content');
        var old_first = $content.find('.template_edit_first').val();
        var old_remark = $content.find('.template_edit_remark').val();
        if(editing && (curr_first != old_first || curr_remark != old_remark)){
            W.showHint('warning', '请先保存更改');
            return;
        }
        var template_id = $(this).attr('data-template-id');
        var item = items.filter(function(e){
            return e['template_id'] == template_id;
        })[0];
        var item_message_arr = item.example.split('::');
        var context = {
            item_title: item.title,
            template_id: template_id,
            item_first: item.first,
            item_message_arr: item_message_arr,
            item_remark: item.remark
        };
        var source = $('#weixin-template-edit-view').html();
        var template = Handlebars.compile(source);  
        var html = template(context);
        $('.template_edit_panel').html(html).show();

        curr_first = item.first;
        curr_remark = item.remark;
        editing = true;
    });

    //更改状态
    $('body').delegate('.template_control','click',function(){
        var template_id = $(this).attr('data-template-id');
        var title = $(this).attr('data-title');
        if( $(this).attr('data-status') == 'true'){
            $(this).attr('data-status','false');
            for(var i=0;i<items.length;i++){
                if(items[i]['template_id'] == template_id){
                    items[i]['status'] = false;
                }
            }          
        }else{
            $(this).attr('data-status','true'); 
            for(var j=0;j<items.length;j++){
                if(items[j]['template_id'] == template_id){
                    items[j]['status'] = true;
                }
            }           
        }
        var status = $(this).attr('data-status');
        W.resource.new_weixin.NewTemplateMessages.put({
            data: {
                woid: W.mid,
                action: 'status',
                template_id: template_id,
                status: status == 'true',
                title:title
            },
            success: function(data){
                editing = false;
                W.showHint('success', status == 'true' ? '启用模版': '停用模版');
            },
            error: function(resp){
                W.showHint('error','更改状态失败')
            }
        });
    });

    //保存
    $('.xa-submit').click(function(){
        var template_info = getSaveData();
        console.log(items);
        W.resource.new_weixin.NewTemplateMessages.put({
            data: {
                woid: W.mid,
                action: 'items',
                saved_data: JSON.stringify(template_info)
            },
            success: function(data){
                editing = false;
                W.showHint('success', '保存成功');
            },
            error: function(resp){
                W.showHint('error','保存失败')
            }
        });
    });

    function getSaveData(){
        var $content = $('.template_edit_content');
        var template_id = $content.attr('data-template-id');
        var cur_first = $content.find('.template_edit_first').val();
        var cur_remark = $content.find('.template_edit_remark').val();
        result = '';
        for(var i=0;i<items.length;i++){
            if(items[i]['template_id'] == template_id){
                items[i].first = cur_first;
                items[i].remark = cur_remark;
                result = items[i];
                break;
            }
        }
        return result;
    }
});
</script>
{% endblock %}