{% extends "content_base_v2.html" %}
{% load common_tag %}
{% load account_filter %}
{% block content-panel %}
<div class="xui-weixin-messagePage xa-ruleWrap">
	<div class="relative">
		<ul class="breadcrumb">
			<li>您当前所在位置</li>
			<li><a href="/new_weixin/keyword_rules/">消息互动</a></li>
			<li class="">消息托管</li>
		</ul>
	</div>

	<ul class="xui-messageNav">
		<li><a href="/new_weixin/keyword_rules/">关键词自动回复</a></li>
		<li><a href="/new_weixin/follow_rules/">关注后自动回复</a></li>
		<li class="active" ><a href="/new_weixin/unmatch_rules">消息托管</a></li>
		<li><a href="/new_weixin/message_tails">小尾巴</a></li>
	</ul>
	<div>
	<!-- 规则名称：{{ rule_name }} -->
	</div>
	{% if rule %}
		<div class="xui-contentWrap mb0 pb0" id="xa-MessageTrust" >
			<div class="xui-messageTrust ml10 mr10 mt10">
				<div class="xui-i-left fl">
					<h2 class="mt0 fb">信息托管</h2>
				消息托管模式开启后，不管粉丝给你发什么信息，未触发其他自动回复规则时就会回复以下你设置的内容。
				</div>
				<div class="xui-i-right fl ml120">
					{% ifequal rule.active_type 0 %}
						<span class="btn btn-primary xui-save xui-i-btnColor xa-switch " data-switch=0 style="background-color:#207cbe"> 开&nbsp;&nbsp;启</span>
					{% else %}
						{% ifequal rule.active_type 2 %}
							<span class="btn btn-primary xui-save xui-i-btnColor xa-switch" data-switch=2 style="background-color:#d9534f">  停&nbsp;&nbsp;用 </span>
						{% else %}
						{% endifequal %}
					{% endifequal %}
				</div>
			</div>
			<div class="lh50 cb tc h50 pb20"><p>设置开启条件</p></div>
			<div class="xui-setting ml10 mr10">
				<div class="xui-row" style="border-bottom: none;">
					<div class="xui-i-left fl lh1"> 分时段开启 </div>
					<div class=" fl mt18 ml20">
						<input class="start_hour" type="time" value={{rule.start_hour}} /> 至
						<input class="end_hour" type="time" value={{rule.end_hour}} />
					</div>
				</div>
				<div class="xui-row">
					<div class="xui-i-left fl lh1">周几生效 </div>
					<div class="fl mt20 ml10"> 
						<input class="xa-day ml10 " id="xa-days_Mon"  value="1" {% ifequal rule.active_days.Mon True %} checked {% else %} {% endifequal %} type="checkbox"/><span class="vtb ml5">一</span>
						<input class="xa-day ml10 " id="xa-days_Tue" value="2" {% ifequal rule.active_days.Tue True %} checked {% else %} {% endifequal %} type="checkbox"/><span class="vtb ml5">二</span>
						<input class="xa-day ml10 " id="xa-days_Wed" value="3" {% ifequal rule.active_days.Wed True %} checked {% else %} {% endifequal %} type="checkbox"/><span class="vtb ml5">三</span>
						<input class="xa-day ml10 " id="xa-days_Thu"  value="4" {% ifequal rule.active_days.Thu True %} checked {% else %} {% endifequal %} type="checkbox"/><span class="vtb ml5 " >四</span>
						<input class="xa-day ml10 " id="xa-days_Fri" value="5" {% ifequal rule.active_days.Fri True %} checked {% else %} {% endifequal %} type="checkbox"/><span class="vtb ml5">五</span>
						<input class="xa-day ml10 " id="xa-days_Sat" value="6" {% ifequal rule.active_days.Sat True %} checked {% else %} {% endifequal %} type="checkbox"/><span class="vtb ml5">六</span>
						<input class="xa-day ml10 " id="xa-days_Sun" value="7" {% ifequal rule.active_days.Sun True %} checked {% else %} {% endifequal %} type="checkbox"/><span class="vtb ml5">日</span>
					</div>
				</div>
			</div>
			<div class="lh50 cb tc h50"><p>设置回复内容</p></div> 
			<div class="xui-replyContent pr w692">
				<span class="pa" style="top:20px;left:-86px;">回复内容</span>
				<table class="table xui-unmatchTable">
					<tr><td class="tl h50 ">自动回复(随机发一条)</td></tr>
					<tr><td class="xa-data-answer tl h50 ">  
						{% if not rule.answer %}
							还没有任何回复！
						{% endif %}
						{% for item in rule.answer %}
							<div class="xui-answersWrap">
								{% if item.type == "text" %}
									<div class="xa-answer-content xui-answerContent xa-addTargetBlank fl" data-answer-type={{item.type}}  data-answer-content='{{item.content}}'><span class="xui-type">文本</span>{{item.content|safe}}</div>
								{% else %}
									<div class="xa-answer-content xui-answerContent fl" data-answer-type="news" data-answer-content={{item.content}}>
										<span class="xui-type">图文</span><a href="/new_weixin/news_preview/?id={{item.content}}" target="_blank">{{item.newses.0.title}}</a>
									</div>
								{% endif %}
								<div class="fr">
									<a class="xa-edit-answer mr10"  href="javascript:void(0);">编辑</a><a class="xa-close-answer"  href="javascript:void(0);">删除</a>
								</div>
							</div>
						{% endfor %}
					</td></tr>
					<tr><td class=" tl h50 tl"><a class="xa-addAnswer"  href="javascript:void(0);">+添加一条回复</a></td></tr>
				</table>
			</div>
			<div class="xui-btnWrap"> <span class="btn btn-primary xui-save xa-submit" data-id={{rule.id}}  method='post'>保&nbsp;&nbsp;存</span> </div>
	</div>

	{% else %}
		<div  class="xui-contentWrap mb0 pb0" id="xa-MessageTrust" >
		<div class="xui-messageTrust ml10 mr10 mt10">
			<div class="xui-i-left fl">
			<h2 class="mt0 fb">信息托管</h2>
			消息托管模式开启后，不管粉丝给你发什么信息，未触发其他自动回复规则时就会回复以下你设置的内容。
			</div>
			<div class="xui-i-right fl ml120">
				<span class="btn btn-primary xui-save xui-i-btnColor xa-switch" style="background-color:#207cbe" data-switch=0>开&nbsp;&nbsp;启</span>
			</div>
			</div>
		<div class="lh50 cb tc h50"><p>设置开启条件</p></div>
		<div class="xui-setting ml10 mr10">
			<div class="xui-row" style="border-bottom: none;">
				<div class="xui-i-left fl lh1 pt30"> 分时段开启 </div>
				<div class=" fl mt18 ml20">
					<input class="start_hour" value='00:00' type="time"/>至
					<input class="end_hour" value='00:00' type="time"/>
				</div>
		</div>
		<div class="xui-row">
			<div class="xui-i-left fl lh1 pt30">周几生效 </div>
			<div class=" fl mt20 ml10"> 
				<input class="xa-day ml10" id="xa-days_Mon" ml10 value="1" type="checkbox"/><span class="vtb ml5">一</span>
				<input class="xa-day ml10" id="xa-days_Tue" ml10 value="2" type="checkbox"/><span class="vtb ml5">二</span>
				<input class="xa-day ml10" id="xa-days_Wed" ml10 value="3" type="checkbox"/><span class="vtb ml5">三</span>
				<input class="xa-day ml10" id="xa-days_Thu" ml10 value="4" type="checkbox"/><span class="vtb ml5">四</span>
				<input class="xa-day ml10" id="xa-days_Fri" ml10 value="5" type="checkbox"/><span class="vtb ml5">五</span>
				<input class="xa-day ml10" id="xa-days_Sat" ml10 value="6" type="checkbox"/><span class="vtb ml5">六</span>
				<input class="xa-day ml10" id="xa-days_Sun" ml10 value="7" type="checkbox"/><span class="vtb ml5">日</span>
			</div>
		</div>
		
		</div>
		<div class="lh50 cb tc"><p class="mb0">设置回复内容</p></div> 
		<div class="xui-replyContent pr w692">
			<span class="pa" style="top:20px;left:-86px;">回复内容</span>
			<table class="xui-unmatchTable table table-bordered table-condensed ">
				<tr><td class="tl h50 ">自动回复(随机发一条)</td></tr>
				<tr><td class="xa-data-answer tl h50 "> 还没有任何回复！  
				</td></tr>
				<tr><td class=" tl h50  tl"><a class="xa-addAnswer"  href="javascript:void(0);">+添加一条回复</a></td></tr>
			</table>
		</div>
		<div class="cb"></div>
		<div class="xui-btnWrap"> <span class="btn btn-primary xui-save xa-submit" method='put' >保&nbsp;&nbsp;存</span> </div>
	</div>
	</div>
	
	{% endif %}
	
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
	_switch= $('.xa-switch').attr('data-switch');
	var messageEditorPopup = new W.view.weixin.MessageEditorPopup({	 
		richTextEditorWidth: 450,
		richTextEditorHeight:200,
		width: 490,
		offset_Y:18,
		offset_X:-31,
	});

	messageEditorPopup.bind('cancel-edit', function() {
		messageEditorPopup.setContent('');
		$('.xa-editing').removeClass('xa-editing');
	});

	messageEditorPopup.bind('finish-edit', function(message) {
		messageEditorPopup.setContent('');

		//判断是否是编辑回复内容
		if($('.xa-editing').length > 0) {
			var dataAnswerContent = message.answer;
			if (message.type === 'news') {
				dataAnswerContent = message.materialId;
			}
			$('.xa-editing').attr('data-answer-content', dataAnswerContent);
			$('.xa-editing').attr('data-answer-type', message.type);
			$('.xa-editing').empty();

			if(message.type == "text") {
				if (message.answer.indexOf("<a") >= 0) {
					var answer = message.answer;
				} else {
					var answer = message.answer.replace("<","&lt");
				}
				$('.xa-editing').append('<span class="xui-type">文本</span>'+answer);
				$('.xa-addTargetBlank a').attr('target', '_blank');
			} else {
				$('.xa-editing').append('<span class="xui-type">图文</span><a href="/new_weixin/news_preview/?id='+message.materialId+'" target="_blank">'+message.material.newses[0].title+'</a>');
			}

			//点编辑按钮编辑完内容后，再把原来编辑的节点标记删掉
			$('.xa-editing').removeClass('xa-editing');
			return;
		}

		var $answer = $('.xa-data-answer');
		// 清空 answer 区域
		if($answer.find('div').length === 0) {
			$answer.html("");
		}
		// $('.xui-answersWrap a').attr('target', '_blank');
		if(message.type=="text") {
			if (message.answer.indexOf("<a") >= 0) {
				var answer = message.answer;
			}else{
				var answer=message.answer.replace("<","&lt");
			}
			$('.xa-data-answer').append('<div class="xui-answersWrap"><div class="xui-answerContent fl xa-answer-content xa-addTargetBlank" data-answer-type='
			+message.type+' data-answer-content=\''+answer+'\'> <span class="xui-type">文本</span>'+answer+'</div><div class="fr"><a class="xa-edit-answer mr10" href="javascript:void(0);">编辑</a><a class="xa-close-answer" href="javascript:void(0);">删除</a></div></div>');
			$('.xa-addTargetBlank a').attr('target', '_blank');
		} else {
			$('.xa-data-answer').append('<div class="xui-answersWrap"><div class="xui-answerContent fl xa-answer-content" data-answer-type="news" data-answer-content="'+message.materialId+'"><span class="xui-type">图文</span><a href="/new_weixin/news_preview/?id='+message.materialId+'" target="_blank">'+message.material.newses[0].title+'</a></div><div class="fr"><a class="xa-edit-answer mr10" href="javascript:void(0);">编辑</a><a class="xa-close-answer" href="javascript:void(0);">删除</a></div></div>');
		}
		messageEditorPopup.setContent('');
	});

	messageEditorPopup.render();

	$('.xa-addAnswer').click(function(event) {	
		event.stopPropagation();
		event.preventDefault();
		messageEditorPopup.show($(event.currentTarget));
	});

	$(document).delegate('.xa-edit-answer','click',function(event) {
		event.stopPropagation();
		event.preventDefault();
		var content = $(event.currentTarget).parent().prev().attr('data-answer-content');
		$(event.currentTarget).parent().prev().addClass('xa-editing');

		var type = $(event.currentTarget).parent().prev().attr('data-answer-type');
		if (type === 'text') {
			messageEditorPopup.setContent(content);
		} else {
			var materialId = content;
			W.getApi().call({
				method: 'get',
				app: 'new_weixin',
				resource: 'keyword_rules_material',
				args: {
					materialId: materialId
				},
				success: function(data) {
					messageEditorPopup.displayNews(data.material);
				},
				error: function(resp) {
					// W.showHint('error', '获取图文信息失败，请刷新重试');
				}
			});
		}

		messageEditorPopup.showWithOffset($(event.currentTarget), -411, 10);
	});

	$(".xa-ruleWrap").delegate('.xa-close-answer','click',function() {
		$(this).parent().parent().remove();		
		var $answer = $('.xa-data-answer');
		if($answer.find('div').length === 0){
			$answer.html("还没有任何回复！");
		}
	})

	$(".xa-ruleWrap").delegate('.xa-submit','click',function  () {
		methodstr=$(this).attr('method');
		var answer=[];
		$('.xa-data-answer').each(function() { 
			$(this).find(".xa-answer-content").each(function() {
				var temp=new Object();
				temp.content=$(this).attr('data-answer-content');
				temp.type=$(this).attr('data-answer-type');
				console.log('each'+temp.type);
				answer.push(temp);
			})
		}); 
		var week=new Object();
		week.Mon=false;
		week.Tue=false;
		week.Wed=false;
		week.Thu=false;
		week.Fri=false;
		week.Sat=false;
		week.Sun=false;
		if (document.getElementById("xa-days_Mon").checked){ week.Mon=true;} else{};
		if (document.getElementById("xa-days_Tue").checked){ week.Tue=true;} else{};
		if (document.getElementById("xa-days_Wed").checked){ week.Wed=true;} else{};
		if (document.getElementById("xa-days_Thu").checked){ week.Thu=true;} else{};
		if (document.getElementById("xa-days_Fri").checked){ week.Fri=true;} else{};
		if (document.getElementById("xa-days_Sat").checked){ week.Sat=true;} else{};
		if (document.getElementById("xa-days_Sun").checked){ week.Sun=true;} else{};
		var args=new Object();
		args.active_days=JSON.stringify(week);
		if(answer.length > 0) {
			args.answer=JSON.stringify(answer);
		} else {
			args.answer='';
		}
		
		args.start_hour=$('.start_hour').val();
		args.end_hour=$('.end_hour').val();
		args.active_type=_switch;
		args.material_id=0;
		if(methodstr=="post") {args.id=$(this).attr('data-id')} 
		else{methodstr="put"; args.id=-1;};
		W.getApi().call({
			app: 'new_weixin',
			resource: 'unmatch_rules',
			method: methodstr,
			args: args,
			success: function(data) {
				W.showHint('success', '保存成功');
				setTimeout(function(){location.reload()},1000);
			},
			error: function(resp) {
				W.showHint('error', '保存失败');
				//setTimeout(function(){location.reload()},1000);
			},
		});
	})

	$("body").delegate('.xa-switch','click',function() {
		if(_switch==0){
			_switch=2;
			$(this).css('background-color','#d9534f');
			$(this).html('停&nbsp;&nbsp;用');
		}
		 else{
			_switch=0;
			$(this).css('background-color','#207cbe');
			$(this).html('开&nbsp;&nbsp;启');
		}
	});

	//给超链接增加target属性
	setTimeout(function(){
		$('.xa-addTargetBlank a').attr('target', '_blank');
	},1000);

});
</script>
{% endblock %}
