{% extends "webapp_content_base_v4.html" %}

{% block css %}
<style type="text/css">
	h1 {
		color: #00F;
	}
	.wui-QA,.wui-shortcuts{
		background: #fff;
	}
	.wui-QA .wui-i-title {
    	border-left: 0;
		padding-left: 0;
	}
	.wui-shortcuts{
		padding: 15px 20px 0;
	}
	.wui-shortcuts .wui-i-label {
		text-align: left;
		width: 40px;
	}
	.wui-shortcuts .wui-i-input {
		border: 1px solid #e5e5e5;
		padding: 5px 0 5px 5px;
    	width: 100%;
	}
	.wui-submitButton {
		background: #fff none repeat scroll 0 0;
		padding: 26px 10px;
		margin: 0;
	}
	.xui-record {
		margin: 10px 15px;
		padding: 5px;
		box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
		border-radius: 5px;
	}
	.xui-record .xui-inner-content {
		color: #8F8F8F;
	}
	a.xui-button {
		padding: 10px;
		display: block;
		text-align: center;
		color: #FFF;
		margin: 10px 15px;
		background-color: rgba(0, 125, 255, 0.5);
		border-radius: 10px;
	}
</style>
{% endblock %}

{% block content-panel %}
<div>
	<div>
		<div class="xui-recordContainer">
		
			<div class="wui-QA" data-component-cid="{{component.cid}}" style="">
				<h1 class="wui-i-title">反馈内容<span class="wui-i-mandatory">(必填)</span></h1>
				<div class="xa-inputControl" data-input-type="textarea" data-input-name="{{component.model.title}}" data-control-type="appkit.qa">
					<textarea class="wui-i-input" {% if component.model.is_mandatory == "true" %}data-validate='require-notempty::请填写项目"{{component.model.title}}"'{% endif %}></textarea>
				</div>
			</div>
			<ul class="wui-shortcuts">
                <li class="wui-i-item">
                    <label class="wui-i-label">姓名</label>
                    <div class="wui-i-inputContainer xa-inputControl" >
                        <input class="wui-i-input" type="text" name="name" placeholder="请输入姓名" value="">
                    </div>
                </li>
				<li class="wui-i-item">
                    <label class="wui-i-label">手机</label>
                    <div class="wui-i-inputContainer xa-inputControl" >
                        <input class="wui-i-input" type="text" name="phone"  placeholder="请输入手机号码" value="">
                    </div>
                </li>
				<li class="wui-i-item">
                    <label class="wui-i-label">QQ</label>
                    <div class="wui-i-inputContainer xa-inputControl" >
                        <input class="wui-i-input" type="text" name="QQ"  placeholder="请输入QQ" value="">
                    </div>
                </li>
            </ul>
			<div class="wui-submitButton xui-hide xa-submitButtonContainer" data-component-cid="{{component.cid}}" style="">
				<a class="xui-btn xui-btn-danger xa-submitTermite" data-role="button" href="javascript:void(0);" style="">提交</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	W.pageId = "{{request.GET.page_id}}";
	$(document).ready(function() {
		$('.xa-join').click(function(event) {
			event.stopPropagation();
			event.preventDefault();
			var $link = $(event.currentTarget);
			var id = $link.attr('data-id');
			var tel = $.trim($('[name="tel"]').val());
			W.getApi().call({
				app: 'm/apps/feedback',
				resource: 'feedback_participance',
				method: 'put',
				args: {
					woid: W.webappOwnerId,
					belong_to: id,
					tel: tel
				},
				success: function(data) {
					alert('参与成功');
				},
				error: function(data) {
					alert('参与失败');
				}
			})
		});
	});
</script>
{% endblock %}

