{% extends "apps_base.html" %}

{% block css %}
<style type="text/css">
	h1 {
		color: #00F;
	}
    .xui-share {
        background: url("/termite_static/img/component/powerme/share.png") no-repeat scroll 82% 10px / 53% auto rgba(0, 0, 0, 0);
        position: fixed;
        text-align: center;
        top: 5%;
        width: 100%;
        z-index: 10001;
    }
    .xui-share.xa-share > div p {
        color: #fff;
        text-align: center;
        width: 100%;
    }
    /* 分享的closeButton */
    .xui-colseButton {
        margin-top: 18%;
        color: #fff;
    }

    .xui-attention{
        position: fixed;
        top: 12%;
        width: 100%;
        text-align: center;
        z-index: 10001;
    }
    .xui-attention .xui-twoDimensionBox {
        background: #fff;
        border-radius: 8px;
        padding: 5px 20px 20px 20px;
        width: 260px;
        display: inline-block;
    }
    .xui-attention .xui-twoDimension{
        display: block;
        height: 180px;
        position: relative;
        width: 180px;
        margin-left: 40px;
        margin-top: 20px;
        margin-bottom: 15px;
    }
</style>
{% endblock %}

{% block content-panel %}
    {{ page_html_content|safe }}
    <div class="xui-share xa-share none">
        <div style="margin-top: 49%">
            <p>邀请你的小伙伴，帮你一起拼团</p>
        </div>
        <div class="xui-colseButton xui-spritebg xa-colseButton">知道了</div>
    </div>

    <!-- 非会员引导 -->
    <div class="xui-attention xa-attention-guest none">
        <div class="xui-twoDimensionBox">
            <div class="xa-attention-tip-one" style="margin-top: 32px;">
                <p style="font-size: 1.1rem;">长按二维码，关注后即可开团</p>
            </div>
            <p style="color:#9E9E9E;">方便您查看团购情况</p>
            <img src="{{ request.webapp_owner_info.qrcode_img }}" alt="" class="xui-twoDimension">
        </div>
    </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
	var is_helped = true;
    var is_self_page = true;
    var page_owner_member_id = '';
    var page_owner_icon = '';//用户头像
    var group_type = '';
    var group_relation_id = {% if group_relation_id %}'{{group_relation_id}}'{% else %}''{% endif %};
	$(function(){
        //隐藏参与活动按钮
        $('.xa-submitButtonContainer').hide();
        //选择团购按钮点击
        $('.wui-i-choose_group_box').delegate('li', 'click', function(){
            var $this = $(this).find('span').first();
            var type = $this.attr('data-type');
            var className = 'radio' === type ? 'radio-select' : 'checkbox-select';
            if('radio' === type){
                $(this).siblings().find('span').removeClass(className);
                if($this.hasClass(className)) return;
            }
            $this.toggleClass(className);
        });
        if(W.isPC){
            return false;
        }
        $('.wui-appParticipantResult-Cover').hide();
        //展示参与统计
        getDynamicData();
    });
	function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null) return unescape(r[2]);
        return null;
    }
    //发送请求，单独获取排名数据，优化首页时间
    function getDynamicData(){
        loadingStatus(true);
        var fid = GetQueryString("fid");
        W.getApi().call({
            app: 'm/apps/group',
            resource: 'm_group',
            method: 'get',
            args: {
                webapp_owner_id: W.webappOwnerId,
                id: W.appRecordId,
                group_relation_id: group_relation_id,
                fid: fid
            },
            success: function(data) {
                console.log(data);
                //渲染按钮状态
                updateActivityStatus(data);
                //隐藏loading动画元素
                loadingStatus(false);

                //已开团
                if(group_relation_id != ''){
                    //启动倒计时
                    renderTime(data.member_info.timing);
                    //进度bar动画
                    runProcessBar(data.member_info.grouped_number,data.member_info.group_type);
                    //渲染团员名单
                    showHelperInfo(data);
                }
            },
            error: function(data) {
                if(data.errMsg == 'is_deleted'){
                    deletedRecord();
                }else{
                    wuiAlert(data.errMsg)
                }
            }
        });
    }

	function updateActivityStatus(data){
        //检查活动状态,更新参与按钮并绑定事件
        member_info = data.member_info;
        W.activityStatus = member_info.activity_status;
        W.member_id = member_info.member_id;
        W.isMember = member_info.isMember;
        is_self_page = member_info.self_page;
        is_group_leader = member_info.is_group_leader;
        is_helped = member_info.is_helped;
        page_owner_member_id = member_info.page_owner_member_id;
        group_status = member_info.group_status;
        group_type = member_info.group_type;
        //更新页面小团的数据
        page_owner_icon = member_info.page_owner_icon;
        if(page_owner_icon != ""){
            $('.wui-i-shop_circle').find('img').attr('src', page_owner_icon);
        }
        if(group_type != ""){
            $('.wui-i-title-pic').addClass('wui-i-title-pic-'+group_type);
        }
        updateBtnStatus();
    }

    function updateBtnStatus(){
        if('进行中' != W.activityStatus){
            $('.wa-timing').hide();
            if('未开始' == W.activityStatus){
                $('.wa-notready').show();
            }else{
                $('.wa-closed').show();
            }
            return false;
        }
        //如果是自己的主页
        if(is_self_page){
            if(is_group_leader){
                $('.wa-using').text('邀请好友参团').on('click', function(){
                        openGuideMask();
//                        openGuestMask();
                    }).show();
            }else{
                $('.wa-using-join').text('直接参团').on('click', openJoinGruop).show();
                if(W.isMember){
                    $('.wa-using').text('我要开团').on('click', openGruop).show();
                }else{
                    $('.wa-using').text('我要开团').on('click', openGuestMask).show();
                }

            }
        }else{
            var $powerBtn = $('.wa-power');
            if(!is_helped){
                $powerBtn.find('.wa-power-btn-action').html('我要参团');
                $powerBtn.on('click', function(){
                        JoinGroup();
                    }).show();
                $('.wa-using-join').text('看看还有什么团').on('click', openJoinGruop).show();
            }else{
                $('.wa-using').text('邀请好友参团').on('click', openGuideMask).show();
                $('.wa-using-join').text('我要开团').on('click', openJoinGruop).show();
            }
        }
    }
    //我要开团
	function openGruop(){
        var choosen_group_type = $('.wui-i-choose_group_box').find('.radio-select').attr('data-input-name');
        if (choosen_group_type){
            W.getApi().call({
                app: 'm/apps/group',
                resource: 'group_participance',
                method: 'post',
                args: {
                    webapp_owner_id: W.webappOwnerId,
                    group_record_id: W.appRecordId,
                    fid: page_owner_member_id,
                    group_type: choosen_group_type
                },
                success: function(data) {
                    //TODO 传is_group_order,relation_belong_to过去
                    var relation_belong_to = data.relation_belong_to;
                    var data_href = "/workbench/jqm/preview/?woid=6&module=mall&model=order&action=edit&product_id=5&product_count=1&product_model_name=standard";
                    window.open(data_href, '_tab');
                },
                error: function(data) {
                    wuiAlert(data.errMsg);
                }
            });
        }else{
            wuiAlert('请选择团购类型！');
        }
    }

    // 直接参团
    function openJoinGruop(){
        var link = window.location.origin + '/m/apps/group/m_group_list/?webapp_owner_id='+W.webappOwnerId;
        window.open(link, '_tab');
    }

    // 我要参团
    function JoinGroup(){
        is_helped = true;
        W.getApi().call({
            app: 'm/apps/group',
            resource: 'group_participance',
            method: 'put',
            args: {
                webapp_owner_id: W.webappOwnerId,
                group_relation_id: group_relation_id,
                fid: page_owner_member_id
            },
            success: function(data) {
                console.log('successsuccess');
//                if (W.isMember) {
//                    $('.wa-power').find('.wa-power-btn-action').html('已帮');
//                    openSuccessWin();
//                }else{
//                    $attention.find('.xa-attention-tip').show();
//                    $attention.find('img').attr('src', new_qrcode_url);
//                    $attention.find('.xa-attention-reply').children().first().html("3.回复：");
//                    openGuestMask();
//                }
            },
            error: function(data) {
                if(data.errMsg){
                    if(data.errMsg != '只能参与一次'){
                        wuiAlert(data.errMsg);
                        is_helped = false;
                    }else{
                         wuiAlert(data.errMsg);
                    }

                }

            }
        });
    }
    //隐藏所有
    $('.mask').click(function(){
        mask('hide');
//        $('.xui-powerSucceed').addClass('none');
        $('.xui-attention').addClass('none');
        $('.xa-share').addClass('none');
//        $('.xui-errMsg').addClass('none');
        $('.xa-i-rules-contentbox').addClass('none');
        $('.xa-loadingFrame').addClass('none');
    });
    $('.xa-colseButton').click(function(){
        $('.xa-share').addClass('none');
        mask('hide');
    });
    // 活动规则
    $('.xa-i-closebtn').click(function(){
        $('.xa-i-rules-contentbox').addClass('none');
        mask('hide');
    });
    $('.xa-i-rules-title-content p').click(function(){
        $('.xa-i-rules-contentbox').removeClass('none');
        mask('show');
    });

    // 邀请好友参团
    function openGuideMask(){
        mask('show');
        $('.xa-share').removeClass('none');
    }
    //未关注引导
    function openGuestMask(){
        mask('show');
        $('.xa-attention-guest').removeClass('none');
    }

    function renderTime(seconds){
        seconds = parseInt(seconds);
        var formatTime = function(data){
            data = parseInt(data);
            if(data<10){
                return '0'+data;
            }
            return data;
        };
        var $s = $('.xa-second');
        var $m = $('.xa-minute');
        var $h = $('.xa-hour');
        var $d = $('.xa-day');
        var timer = window.setInterval(function(){
            if(seconds <= 0){
                window.clearInterval(timer);
                return false;
            }
            var left_seconds = formatTime(seconds%60);
            var left_minites = formatTime(seconds/60%60);
            var left_hours = formatTime(seconds/60/60%24);
            var left_days = formatTime(seconds/60/60/24);
            $s.text(left_seconds);
            $m.text(left_minites);
            $h.text(left_hours);
            $d.text(left_days);
            seconds--;
        },990);
    }

    // 进度条
    function runProcessBar(current,total){
        $('.wui-i-choose_group_box').addClass('none');
        $('.wui-i-group_box_progress').removeClass('none');
        var current_number = current;
        var total_number = total;
        var process = "0%";
        process = parseFloat(current_number/total_number*100).toFixed(1)+"%";
        if(process=="100.0%"){
            process="100%";
        }else if(process=="0.0%"){
            process="0%";
        }
        $('.xa-i-percentbox').text(current_number+'人');
        $('.wa-i-total_number').text(total_number+'人');
        $(".xa-i-percentbox").css("left",process);
        $(".xa-i-bar_process").width(process);
        percentBox_process_tmp = process;
//        percentBoxTimer();
    }

    //已参团的列表
    function showHelperInfo(data){
        var helpers_info = data.helpers_info;
        console.log(helpers_info);
        if ($.isEmptyObject(helpers_info)){
            $('.wui-i-states').addClass('none');
        }else{
            if(helpers_info || $.isEmptyObject(helpers_info)){
                $('.wui-i-states').removeClass('none');
                var li_content = '';
                for(var i in helpers_info){
                    var p = helpers_info[i];
                    li_content += "<span class='wui-i-friend'><span class='wui-i-avatarbox'><span class='wui-i-avatar'><img src='"+ p.user_icon+"'></span></span></span>";
                }
                $('.wa-grouped-members').append($(li_content));
            }
        }
    }

</script>
{% endblock %}

