{% extends "apps_base.html" %}

{% block css %}
<style type="text/css">
	h1 {
		color: #00F;
	}
    /*iphone4 横屏*/

</style>
{% endblock %}

{% block content-panel %}
    {{ page_html_content|safe }}
{% endblock %}

{% block js %}
<script type="text/javascript">
	var is_helped = true;
    var is_self_page = true;
    var page_owner_member_id = '';
	$(function(){
        //隐藏参与活动按钮
        $('.xa-submitButtonContainer').hide();
        if(W.isPC){
            return false;
        }
        $('.wui-appParticipantResult-Cover').hide();
        //展示参与统计
        getDynamicData();
    });

	function GetQueryString(name){
        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
        var r = window.location.search.substr(1).match(reg);
        if(r!=null) return unescape(r[2]);
        return null;
    }
    //发送请求，单独获取排名数据，优化首页时间
    function getDynamicData(){
        loadingStatus(true);
        var fid = GetQueryString("fid");
        W.getApi().call({
            app: 'm/apps/group',
            resource: 'm_group',
            method: 'get',
            args: {
                webapp_owner_id: W.webappOwnerId,
                id: W.appRecordId,
                fid: fid
            },
            success: function(data) {
                console.log(data);
                //渲染按钮状态
                updateActivityStatus(data);
                //隐藏loading动画元素
                loadingStatus(false);
            },
            error: function(data) {
                if(data.errMsg == 'is_deleted'){
                    deletedRecord();
                }else{
                    wuiAlert(data.errMsg)
                }
            }
        });
    }

	function updateActivityStatus(data){
        member_info = data.member_info;
        is_self_page = member_info.self_page;

        //检查活动状态,更新参与按钮并绑定事件
        W.activityStatus = member_info.activity_status;
//        W.isAlreadyParticipanted = member_info.is_already_participanted;
        W.member_id = member_info.member_id;
        W.isMember = member_info.isMember;

        is_helped = member_info.is_helped;
        page_owner_member_id = member_info.page_owner_member_id;
        updateBtnStatus();
    }

    function updateBtnStatus(){
        if('进行中' != W.activityStatus){
            $('.wa-timing').hide();
            if('未开始' == W.activityStatus){
                $('.wa-notready').show();
            }else{
                $('.wa-closed').show();
            }
            return false;
        }
        //如果是自己的主页
        if(is_self_page){
            $('.wa-using').text('我要开团').on('click', openGruop).show();
			$('.wa-using-join').text('直接参团').on('click', openJoinGruop).show();
        }else{
            var using_msg;
            var $attention = $('.xa-attention-guest');
            var $powerBtn = $('.wa-power');
            if(W.isMember){
                if(is_helped){
                    $powerBtn.find('.wa-power-btn-action').html('已帮');
                    $powerBtn.on('click', function(){
                        openGuideMask();
                    }).show();
                }else{
                    $powerBtn.find('.wa-power-btn-action').html('帮');
                   $powerBtn.on('click', function(){
                       if(is_helped){
                           openGuideMask();
                       }else{
                           powerYou();
                       }
                   }).show();
                }
            }else{
                if(is_helped){
                    $powerBtn.find('.wa-power-btn-action').html('已帮');
                    $powerBtn.on('click', function(){
                        openGuideMask();
                    }).show();
                }else{
                    $powerBtn.find('.wa-power-btn-action').html('帮');
                    $powerBtn.on('click', function(){
                        powerYou();
                    }).show();
                }
            }

            if(W.isAlreadyParticipanted){
                using_msg = '看看还有什么团';
                $('.wa-using-join').text(using_msg).on('click', function(){
                    openJoinGruop();
                }).show();
            }else{
                using_msg = '我也要参加';
                $('.wa-using').text(using_msg).on('click', function(){
                    $attention.find('img').attr('src', qrcode_url);
                    $attention.find('.xa-attention-tip').hide();
                    $attention.find('.xa-attention-reply').children().first().html("2.回复：");
                    openGruop();
                }).show();
            }
        }
    }
    //我要开团
	function openGruop(){
        W.getApi().call({
            app: 'm/apps/group',
            resource: 'group_participance',
            method: 'post',
            args: {
                webapp_owner_id: W.webappOwnerId,
                id: W.appRecordId,
                fid: page_owner_member_id
            },
            success: function(data) {
                console.log('openGruop()');
                //TODO 传is_group_order,group_record_id过去
                var data_href = "/workbench/jqm/preview/?woid=6&module=mall&model=order&action=edit&product_id=5&product_count=1&product_model_name=standard";
                window.open(data_href, '_tab');
            },
            error: function(data) {
                console.error(data.errMsg);
            }
        });

    }
    //直接参团
    function openJoinGruop(){
        var link = window.location.origin + '/m/apps/group/m_group_list/?webapp_owner_id='+W.webappOwnerId;
        window.open(link, '_tab');
    }

    // 活动规则
    $('.xa-i-closebtn').click(function(){
        $('.xa-i-rules-contentbox').addClass('none');
        mask('hide');
    });
    $('.xa-i-rules-title-content p').click(function(){
        $('.xa-i-rules-contentbox').removeClass('none');
        mask('show');
    });
</script>
{% endblock %}

