{% load workbench_filter %}


{% ifequal component.type 'jqm.searchinput' %}
<div 
    {% ifequal component.selectable "yes" %}data-ui-behavior="xub-selectable"{% endifequal %} 
    data-ui-sortable="true" 
    data-cid="{{component.cid}}"
    class="mt5 mb5 xui-br" 
>
    <div data-role="fieldcontain" data-controltype="searchinput" class="{{component.model.class}}">
        <label for="textinput{{component.cid}}">
            {{component.model.title}}
        </label>
        <input name="{{component.model.name}}" id="searchinput{{component.cid}}" placeholder="{{component.model.placeholder}}" value="" data-type="search" type="text" {% ifequal component.model.is_mini "yes" %}data-mini="true"{% endifequal %} >
    </div>
</div>
{% endifequal %}