{% extends "content_base.html" %}
{% load common_tag %}

{% block css %}
	<link type="text/css" rel="stylesheet" media="all" href="/static/css/small_simulator.css">
	<style>
		.xui-more{
			text-align: center;
			margin: 0 auto;
			width: 220px;
			background: #F2F2F2;
			padding: 8px 0;
			font-size: 14px;
			border-radius: 5px;
			cursor: pointer
		}
		.xui-more:hover{
			background: #F0F0F0;
			color: #666;
			
		}
	</style>
{% endblock %}

{% block content-panel %}
	<div class="relative">
		<ul class="breadcrumb">
			<li class="active">图文消息列表</li>
		</ul>
		<span class="breadcrumRightButton">
			<a class="btn btn-primary" href="/weixin/message/material/single_news/add/"><i class="icon-plus icon-white"></i>单图文</a>
			<a class="btn btn-primary" href="/weixin/message/material/multi_news/add/"><i class="icon-plus icon-white"></i>多图文</a>
		</span>
	</div>

	{% if materials %}
	<div id="newses" class="pl30 pr50">

	</div>
	<div class="xa-more xui-more">加载更多</div>
	{% else %}
		目前还没有数据
	{% endif %}
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(document).ready(function() {
			var newsesView = new W.view.weixin.MaterialListView({
				el: '#newses',
				enableEdit: true,
				page: 1
			});
			newsesView.bind('fetchDataAfter', function(data){
				if (data.data.pageinfo) {
	        		var page_has_next = data.data.pageinfo.has_next || false;
	        		if (!page_has_next) {
	        			$('.xa-more').hide();
	        		}
	        	} 
			});
			$('.xa-more').click(function() {
				newsesView.newses.page = newsesView.newses.page + 1;
				newsesView.fetchData();
			});
			newsesView.bind('finish-delete-news', function(){
				window.location.href = '/weixin/message/material/newses/'
			});
			newsesView.bind('update-news', function(newsId){
				window.location.href = '/weixin/message/material/news/update/'+newsId+'/';
			});

			newsesView.render();
		});
	</script>
{% endblock %}