{% extends "jqm_content_base.html" %}
{% load common_tag %}

{% block css %}
<link type="text/css" rel="stylesheet" href="/static/css/market_tools_css/common.css">
<link type="text/css" rel="stylesheet" href="/markettools_static/red_envelope/css/red_envelope.css">
{% endblock %}

{% block content-panel %}
	<div data-role="page" data-theme="x" class=" {% if is_participated %}open_bg {% endif %}{% if not user.is_from_weixin %}notweixin{% endif %} detailPage xui-redenvelope-page" data-title="{{ page_title }}">
		
		<div class="xi-joinRedEnvelopeSuccess {% if not is_participated %}hidden{% endif %}">
		
		{% if red_envelope.logo_url %}
			<div class="envelope_logo"><img src="{{ red_envelope.logo_url }}" alt=""></div>
				
			<div class="text-box">
			{% else %}
			<div class="text-box" style="margin-top:30px;">
			{% endif %}

			<div class="xui-envelope-title text-color">{{ red_envelope.name }}</div>
				<div class="text-color total_award_value">{{ red_envelope.total_award_value }}</div>
				<div class="text-color red_envelope_desc">{{ red_envelope.desc }}
				</div>
			</div>
				
			<div class="prize_name text-color">{% if prize.prize_type != -1 %}恭喜您获得：{% if prize.prize_type == 1 %}优惠券{% endif %}{% if prize.prize_type == 3 %}积分{% endif %}{% else %}{{prize.prize_name}}{% endif %}</div>
			{% if prize.prize_type != -1 %}
			<div class="prize_detail">{{ prize.prize_detail }}</div>
			{% endif %}
			

		</div>
		<div class="{% if is_participated %}hidden{% endif %}">
			<div class="xi-showPrizeBox"></div>

			<form {% if not red_envelope.logo_url %}style="margin-top:30px;"{% endif %} class="xui-activity-form xui-form-box" method="post">
			
						
				
				<div class="xui-envelope-title text-color">{{ red_envelope.name }}</div>
				<div class="text-color total_award_value">{{ red_envelope.total_award_value }}</div>
				<div class="text-color red_envelope_desc">{{ red_envelope.desc }}
				</div>
				{% if red_envelope.logo_url %}
				<div class="envelope_logo"><img src="{{ red_envelope.logo_url }}" alt=""></div>
				{% endif %}
				<div class="envelope-btn-box">
				<button type="button" id="btnSubmit">&nbsp;</button></div>
			</form>
		</div>
	</div>
{% endblock %}

{% block js %}
<script>
 $(document).ready(function() {
	var red_envelope_id = '{{red_envelope.id}}';
	$('#btnSubmit').click(function() {


		var open_bg = $(".ui-page.xui-redenvelope-page");
		open_bg.addClass("open_bg");
		data = {};
		 W.getApi().call({
        	app: 'webapp',
            api: 'project_api/call',
            args: _.extend({
                project_id: W.projectId,
                red_envelope_id: red_envelope_id,
                target_api: 'prize/get'
            }, data),
	        method: 'get',
	        success: function(data) {
                $('form').remove();
                window.location.reload();
                // $('.xi-showPrizeBox').text(data.record_prize.prize_name);
                // $('.xi-joinRedEnvelopeSuccess').removeClass('hidden');
	        },
	        error: function() {
		        $('.ui-page').alert({
		         	isShow: true,
		         	info: '领取红包失败',
		         	isSlide: true,
		         	speed: 2000
		         });
	        }
        })
	});
})
</script>

{% endblock %}
