h1, h2, h3 {
	line-height: normal !important;
}

/**
 * login page样式
 */

#loginPage {
 	background: url(/standard_static/img/weixin_login_bg.png) no-repeat center center fixed;
    -webkit-background-size: cover; /*for webKit*/
    -moz-background-size: cover; /*Mozilla*/
    -o-background-size: cover; /*opera*/
    background-size: cover; /*generic*/
}

#loginPage form {
	width: 50%;
	margin: 200px auto;
}

#loginPage .xui-inner-hint {
	color: red;
	text-align: center;
	background-color: #EFEFEF;
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
}

/**
 * friend page样式
 */
#friendPage .headImgBox {
	border: solid 1px #CFCFCF;
	width: 50px;
	height: 50px;
	padding: 2px;
	background-color: #FFFFFF;
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	position: absolute;
	right: 5px;
	bottom: -20px;
}

#friendPage #friendSharedMessageList {
	font-size: 12px;
}

#friendPage .oneSharedMessage {
	padding-top: 15px;
	padding-bottom: 20px;
	border-bottom: solid 1px #BFBFBF;
	padding-left: 10px;
	padding-right: 20px;
}

#friendPage .oneSharedMessage:last-child {
	border-bottom: none;
}

#friendPage .oneSharedMessage_headImgBox {
	width: 50px;
}

#friendPage .oneSharedMessage_name {
	color: blue;
}

#friendPage .oneSharedMessage_link {
	background-color: #DFDFDF;
	padding: 5px;
	display: block;
	font-weight: normal;
}

#friendPage a.oneSharedMessage_link:link, #friendPage a.oneSharedMessage_link:visited {
	color: black;
}

#friendPage .oneSharedMessage_linkImg {
	width: 40px;
	margin-right: 10px;
}

#friendPage .oneSharedMessage_action {
	color: #BFBFBF;
}


/**
 * share page样式
 */
#sharePage form {
	margin: 10px;
}

#sharePage #sendBtn {
	margin-top: 30px;
}

/**
 * message page样式
 */

#phone .ui-block-a {
	padding-top: 10px;
	width: 8%;
}

#phone .ui-block-b {
	padding-top: 3px;
	width: 81%;
	margin-left: 10px;
	padding-left: 10px;
	border-left: solid 1px #8F8F8F;
}

#timeline-zone {
	-moz-user-select: none;
	-webkit-user-select: none;
}

.customer {
	/*border: solid 1px blue;*/
	text-align: left;
}

.shop-service {
	/*border: solid 1px green;*/
	text-align: left;
	margin-bottom: 20px;
}

.profile {
	width: 50px;
	height: 45px;
	float: right;
}

.shop-service .profile {
	float: left;
}

.yangmi-profile .customer-profile {
	background: url('/static/img/yangmi_43.jpg') top left no-repeat !important;
	background-position: 5px 0px !important;
	-webkit-box-shadow: 0px 0px 1px rgba(203, 203, 200, 0.75);
	-moz-box-shadow:    0px 0px 1px rgba(203, 203, 200, 0.75);
	box-shadow:         0px 0px 1px rgba(203, 203, 200, 0.75);
}

.zhouxun-profile .customer-profile {
	background: url('/static/img/zhouxun_43.jpg') top left no-repeat;
	background-position: 5px 0px !important;
	-webkit-box-shadow: 0px 0px 1px rgba(203, 203, 200, 0.75);
	-moz-box-shadow:    0px 0px 1px rgba(203, 203, 200, 0.75);
	box-shadow:         0px 0px 1px rgba(203, 203, 200, 0.75);
}

.customer-profile {
	/*background: url('/static/img/weixin-customer.jpg') top left no-repeat;*/
	margin-right: 5px;
}

.shop-service-profile {
	/*background: url('/static/img/user-1.jpg') top left no-repeat;*/
	margin-left: 5px;
}

.content {
	float: right;
	margin-right: 5px;
	margin-top: 3px;
	background-color: #DCDCDC;
	border: solid 1px #CBCBC8;
	padding: 5px 10px;
	-webkit-box-shadow: 0px 0px 5px rgba(203, 203, 200, 0.75);
	-moz-box-shadow:    0px 0px 5px rgba(203, 203, 200, 0.75);
	box-shadow:         0px 0px 5px rgba(203, 203, 200, 0.75);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	max-width: 150px;
}

.shop-service .content {
	float: left;
	margin-left: 5px;
	margin-top: 3px;
	background-color: #B9EA4D;
	border: solid 1px #A1D066;
	padding: 5px 10px;
	-webkit-box-shadow: 0px 0px 5px rgba(162, 208, 104, 0.75);
	-moz-box-shadow:    0px 0px 5px rgba(162, 208, 104, 0.75);
	box-shadow:         0px 0px 5px rgba(162, 208, 104, 0.75);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	max-width: 150px;
}

.shop-service .content-picture {
	background-color: white;
	padding: 10px;
	max-width: 85%;
	margin: 0px auto;
	float: none;
	cursor: pointer;
}

.shop-service .main-picture {
	height: 210px;
	background-color: black;
}

.shop-service .main-picture-box {
	height: 180px;
	overflow: hidden;
}

.shop-service .main-picture-title {
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	line-height: 30px;
}

.shop-service .single-content-picture .main-picture-title {
	color: black;
	background-color: white;
	font-size: 16px;
	font-weight: bold;
	padding-left: 0px;
	line-height: 30px;
	/*padding-bottom: 5px;*/
}

.shop-service .single-content-picture .main-picture-title .date {
	color: #8F8F8F;
	font-size: 12px;
	padding-left: 0px;
	line-height: 25px;
	font-weight: normal;
	margin: 0px;
}

.shop-service .single-content-picture .main-picture {
	height: 240px;
	background-color: white;
}

.shop-service .single-content-picture .description {
	background-color: white;
	color: #888888;
	font-size: 14px;
	line-height: 1.2em;
	border-bottom: solid 1px #BFBFBF;
}

.shop-service .single-content-picture .more-link {
	font-size: 14px;
}

.shop-service .sub-pictures {

}

.shop-service .sub-picture {
	height: 40px;
	border-top: solid 1px #BFBFBF;
	padding: 3px 1px;
}

.shop-service .sub-picture-title {
	font-size: 14px;
	font-weight: bold;
	line-height: 40px;
	float: left;
}

.shop-service .sub-picture-box {
	line-height: 40px;
	width: 40px;
	height: 40px;
	float: right;
}

/* menu bar 区域的样式 */
#phone #menubar-zone {
	width: 100%;
	height: 54px;
	background-color: #EFEFEF;
	line-height: 40px;
	text-align: left;
	color: #8B8B8B;
	bottom: 0px;
	position: absolute;
	font-family:"微软雅黑";
}

#phone #menubar-zone .oneMenu {
	line-height: 53px; 
	padding: 0px 0px; 
	margin-top: 0px;
}

#phone #menubar-zone .btn-group > .btn:last-child {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

#phone #menubar-zone .btn-group > .btn:first-child {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

#phone .popover.top .arrow:after {
    border-top-color: #F7F7F7;
}

#phone .popover {
	width: 100px;
	top: auto;
	bottom: 65px; 
	left: 0px;
}

#phone .popover h3 {
	font-size: 12px;
	padding: 8px;
	text-align: center;
	cursor: pointer;
}

#phone .x-menuItems h3.active {
	background-color: #F1FF83;
}

#phone .x-menus {
	margin-top: 0px;
}

#phone .x-menus .btn {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#phone .oneMenu.active {
	background-image: linear-gradient(to bottom, #FFFFB3, #FFFF00);
	box-shadow: none;
}

#phone .oneMenu.active:hover, #small-phone .oneMenu.active:focus {
	background-image: linear-gradient(to bottom, #FFFFB3, #FFFF00);
	transition: none;
	background-position: 0 0px;
}

#phone h3.ui-state-highlight {
	margin: 1px;
	padding: 15px 0px;
	background: none;
}

#phone #weixin-menubar-btn {
	/*border: 1px solid #FF0000;*/
    bottom: 8px;
    height: 35px;
    left: 5px;
    position: absolute;
    width: 35px;
}

#messagePage-menuBar a {
	color: #333333;
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight: normal;
}