.chartTitle {
	font-size: 1em;
	background: none repeat scroll 0 0 #F2F2F2;
	color: #505050;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	padding: 0 10px;
}
.chartTitle ul {float: right; margin-right: 10px; font-weight: normal;}
.chartTitle ul li {display: inline;}
.chartTitle li a:link, .chartTitle li a:visited {color: #666;}
.chartTitle li.active a:link, .chartTitle li.active a:visited, .chartTitle ul a:hover {color: #5082BD; text-decoration: underline;}

.chart {	width: 360px;float:left;margin:0 0 20px 0;min-height:290px;overflow:hidden;}
.chart h3.title{border-radius: 5px 5px 0 0;}
.longChart{	width: auto;float:none;}
.longChart .singleTitleChart_flash{float:left;width:370px;min-height:250px;}
.longChart .singleTitleChart_tableList{margin:0 0 0 370px;}
.longChart .singleTitleChart_tableList .table-condensed th, .longChart .singleTitleChart_tableList .table-condensed td{padding:1px 5px;font-size:12px;}
.chart .singleTitleChart_tableList .pagination{margin:5px 0; height:22px;}
.chart .singleTitleChart_tableList .pagination ul > li > a, .chart .singleTitleChart_tableList.pagination ul > li > span{line-height:22px;font-size:12px;}
.chart .singleTitleChart_tableList .table{margin-bottom:0;}
.tableListPagination table{margin-bottom:0;}
.tableListPagination .pagination{margin:5px 0; height:22px;}
.tableListPagination .pagination ul > li > a, .chart .singleTitleChart_tableList.pagination ul > li > span{line-height:22px;font-size:12px;}

#statisticsView h3.title{font-size:24px; font-weight:bold;}