.add-btn {
	display: inline-block;
	height: 90px;
	margin: 0 18px;
	color: #b5b5b5;
	background: transparent url('/static/img/appmsg-icon.png') no-repeat 50% -242px;
	line-height: 150px;
}

#timedWeixinEditer-newsMessageZone-editLinkZone {
	line-height: 180px;
	overflow: hidden;
}

#timedWeixinEditer-newsMessageZone a:visited, #timedWeixinEditer-newsMessageZone a:link {
	text-decoration: none;
}

#timedWeixinEditer-newsMessageZone a.add-btn:hover {
	background-position: 50% -42px;
	color: #D9D9D9;
}

.multi-access {
	background-position: 50% -342px;
}

#timedWeixinEditer-newsMessageZone a.multi-access:hover {
	background-position: 50% -142px;
	color: #D9D9D9;
}

.small-phone-nobackground {
	background: none !important;
	width: 300px !important;
	height: auto !important;
	position: relative !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.dateBox{
    border:1px solid #BDBDBD;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 0 5px rgba(203, 203, 200, 0.75);
    /*float: left;*/
}

.li1{ position:relative; }

/*one massMessageTimeline css*/
dl.oneMassMessageTimeline{padding:2px 0;margin-bottom:2px;}
dl.oneMassMessageTimeline dt{display:inline;float:left;}
dl.oneMassMessageTimeline dd{margin:0 0 0 72px;overflow:hidden;zoom:1;}
dl.oneMassMessageTimeline dd dd{margin:0;}
dl.oneMassMessageTimeline .oneTimeline_context{ min-height:70px;padding-top:10px;}
dl.oneMassMessageTimeline .oneTimeline_actionLayout{height:22px;/*color:#999999;*/padding:3px; font-size:12px; border-top:1px solid #BDBDBD;}
dl.oneMassMessageTimeline .oneTimeline_actionLayout_right{float:right; color:#DDDDDD; margin-right: 10px;;}
dl.oneMassMessageTimeline .oneTimeline_actionLayout_left{float:left; margin-left: 10px;}
dl.oneMassMessageTimeline .oneTimeline_actionLayout_left a{color:#899FB7;}

.time_mass_message_delete{
    cursor: hand;
}
.not_start_status{color:#2489ce;}
.sending_status{color:#f8864d;}
.success_status{color: #999999;}
.failed_status{color: #ee5f5b;}
