.oneSession_li {
	border-bottom: 1px solid #D0D5D9;
}

dl.oneSession {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 15px;
}

dl.oneSession dt {
	float: left;
	width: 45px;
	height: 45px;
}

dl.oneSession dd {
	margin-left: 60px;
}

dl.oneSession .oneSession_title {
    color: #585858;
    height: 35px;
}

.oneSession_title .navbar .nav > li > a {
    padding-top: 7px;
    padding-bottom: 7px;
}

dl.oneSession:hover {
	background: #F8F8D8;
	cursor: pointer;
    /*
	-webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow:    3px 3px 5px rgba(0, 0, 0, 0.75);
	box-shadow:         3px 3px 5px rgba(0, 0, 0, 0.75);
    */
}

dl.oneSession .oneSession_info {
	color: #999999;
    font-size: 12px;
}
.xui-sectionTop [class^="xui-sessionsIcon-"], [class*=" xui-sessionsIcon-"]{
        display: inline-block;
        background: url(/termite_static/img/sessions_icon.png) no-repeat;
    }
.xui-session-btn{
    margin: 0 3px;
    width: 18px;
    height: 18px;
}
.xui-sessionsIcon-reply{
    background-position:-36px 0;
}
.xui-sessionsIcon-reply:hover{
    background-position:-54px 0;
}
.xui-sessionsIcon-download{
    background-position:0 0;
}
.xui-sessionsIcon-download:hover{
    background-position:-18px 0;
}
.xui-sessionsIcon-starActive{
    background-position:-90px 0;        
}
.xui-sessionsIcon-star{
    background-position:-72px 0;
}
.oneSession_session {
	position: relative;
}

.oneSession_replyForm {
	position: absolute;
	right: 20px;
    width: 400px;
    z-index: 5;
    padding: 10px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    cursor: auto;
}

.drop-box-arrow-down-right {
    background: url("/static/img/sanjiao.png") no-repeat scroll right top transparent;
    height: 8px;
    margin: -17px 10px 5px 10px;
}
.center-button input {
	width: 50px;
	display: block;
}
.doReplySession {
	margin-right: 20px;
} 

.oneSession dt {
	position: relative;
}

.unreadMessageCount {
    background: #DD0000;
    color: #f2f735;
    height: 18px;
    position: absolute;
    right: -12px;
    top: -3px;
    width: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    1px 1px 3px rgba(0, 0, 0, 0.75);
    box-shadow:         1px 1px 3px rgba(0, 0, 0, 0.75);
    text-align: center;
    overflow: hidden;
}

.unreadMenu {
    background: none repeat scroll 0 0 #D64445;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.75);
    color: #FFFFFF;
    height: 6px;
    margin: 0 -5px;
    overflow: hidden;
    position: absolute;
    width: 6px;
}
.unreadnotice{
	border: none;
	box-shadow: none;
    height: 16px;
    margin: -3px -15px 0;
    width: 16px;
    line-height: 15px;	
}
.unreadMenuNav {
    margin: -3px -7px 0;
    text-align: center;
}

#unreadCountHint {
    cursor: pointer;
}

/*交互历史页面css*/
#histories_list {
	margin-top: 30px;
}

.messageLog_userImg {
    border: 1px solid #D4D8DB;
    height: 64px;
    padding: 1px;
    width: 64px;
}

.messageLog_myMessageContent {
    background: none repeat scroll 0 0 #F3F3F3;
}

.messageLog_messageContent, .messageLog_myMessageContent {
    border: 1px solid #E6E6E6;
    max-width: 470px;
    padding: 12px 14px 14px;
    position: relative;
    width: 396px;
}

.messageLog_oneMessage {
    /*border-bottom: 1px dashed #E2E2E2;*/
    margin: 0 auto;
    padding: 20px 0;
}

.messageLog_messageContentTop {
    color: #444444;
    line-height: 1.6;
    word-break: break-all;
}

.messageLog_messageContentTop em {
    color: #0099CB;
    font-style: normal;
}


.messageLog_messageContentDown {
    color: #999999;
    font-family: Arial,Helvetica,sans-serif;
}

.messageLog_replyMessage {
    background: url("/static/img/right.jpg") no-repeat scroll 0 0 transparent;
    height: 11px;
    overflow: hidden;
    position: absolute;
    right: -7px;
    top: 25px;
    width: 7px;
}


.messageLog_message {
    background: url("/static/img/left.jpg") no-repeat scroll 0 0 transparent;
    height: 11px;
    left: -7px;
    overflow: hidden;
    position: absolute;
    top: 25px;
    width: 7px;
}


dl.oneSession dd.remarkLayout {
	background: #F6F8F7;
	color: #999999;
	font-size: 12px;
	margin-top: 5px;
	line-height: 35px;
	margin-bottom: 5px;
	overflow: hidden;
}

dl.oneSession dd.remarkLayout .remarkMessage {
	float: left;
	padding: 0 0px;
}
.edit_remark{
	line-height: 35px;
	height: 35px;
}

dl.oneSession .edit_remark .btn-remark{
	border-radius: 3px 3px 3px 3px;
	font-size: 10.5px;
	padding-bottom: 4px;
	padding-top: 4px;
	color: #0088CC;
	text-decoration: none;
}

dl.oneSession .edit_remark > a:hover{
	height: 60px;
	background-color: #EEEEEE;
	text-decoration: none;
	padding:4px 8px;
}
dl.oneSession .edit_remark > a{
	padding:4px 8px;
}
dl.oneSession .edit_remark.open > a{
	background-color: #999999;
	border-color: #999999;
	color: #FFFFFF;
}

/*语音按钮样式*/
.xui-voiceContent{
    width:100px;
    height:24px;
    background-image: -moz-linear-gradient(center top , #f3f3f3 10%, #f1f1f1 30%, #ececec 50%, #e9e9e9 70%, #e6e6e6 90%, #e5e5e5 100%);
    background:-webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#e5e5e5), color-stop(0.1, #f3f3f3), color-stop(0.3, #f1f1f1), color-stop(0.5, #ececec), color-stop(0.7, #e9e9e9), color-stop(0.9, #e6e6e6), color-stop(1, #e5e5e5));
    border-radius:20px;
    border:1px solid #ccc;
    box-shadow: 0 0 1px #ccc;
}
.xui-voiceIco{
    display: inline-block;
    float: left;
    width:17px;
    height:20px;
    margin:3px 12px;
}
.xui-voiceContainer [class^="xui-voiceIco-"], [class*=" xui-voiceIco-"]{
    background: url(/termite_static/img/icon_sound.png) no-repeat;
}
.xui-voiceIco-listen{
    background-position:0 0!important;
}
.xui-voicePlay{
    background:url(/termite_static/img/voice.gif) no-repeat;
    background-position:inherit!important;
}
/*图片灯箱*/
.xui-sessionsImg{
    display:inline-block;
    width: 150px;
}