#phone {
	background: url('/static/img/weixin_bg_600.png') top left no-repeat;
	width: 400px;
	height: 600px;
	-webkit-box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 25px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 25px rgba(50, 50, 50, 0.75);
	text-align: center;
	margin-top: 30px;
	margin-left: 15px;
	margin-bottom: 20px;
	position: relative;
}

.cb {
	clear: both;
}

#phone #send-btn {
	position: absolute;
	bottom: 5px;
	width: 100px;
	left: 150px;
}

#phone #weixin-input {
    bottom: 15px;
    height: 30px;
    left: 48px;
    position: absolute;
    width: 260px;
	border: none;
}

#phone input[type='text'] {
	width: 240px;
	height: 25px;
}

#phone input[type='submit'] {
	width: 100px;
}

#screen {
	width: 398px;
	height: 460px;
	position: absolute;
	top: 82px;
	left: 0px;
	overflow-x: hidden;
}

#title-zone {
	border: solid 1px red;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: white;
}

#timeline-zone {
	/*border: solid 1px red;*/
	/*
	width: 398px;
	height: 460px;
	position: absolute;
	top: 82px;
	left: 0px;
	*/
	width: 383px;
	overflow-y: auto;
	-moz-user-select: none;
	-webkit-user-select: none;
}

#browser-zone {
	width: 398px;
	height: 460px;
	overflow-y: hidden;
	overflow-x: hidden;
	position: absolute;
	top: 0px;
	left: 100%;
}

#back-weixin-btn {
    height: 32px;
    left: 10px;
    position: absolute;
    top: 35px;
    width: 62px;
}

#weixin-unsubscribe-btn {
    height: 32px;
    left: 331px;
    position: absolute;
    top: 35px;
    width: 60px;
}

#top-weixin-title {
	height: 40px;
	left: 70px;
	position: absolute;
	top: 30px;
	width: 260px;
	line-height: 40px;
	text-align: center;
	color: #DDDDDD;
	font-family:"微软雅黑";
	font-size: 22px;
}

.customer {
	/*border: solid 1px blue;*/
	text-align: left;
}

.shop-service {
	/*border: solid 1px green;*/
	text-align: left;
	margin-bottom: 20px;
}

.profile {
	width: 50px;
	height: 45px;
	float: right;
}

.shop-service .profile {
	float: left;
}

.yangmi-profile .customer-profile {
	background: url('/static/img/yangmi_43.jpg') top left no-repeat !important;
	background-position: 5px 0px !important;
	-webkit-box-shadow: 0px 0px 1px rgba(203, 203, 200, 0.75);
	-moz-box-shadow:    0px 0px 1px rgba(203, 203, 200, 0.75);
	box-shadow:         0px 0px 1px rgba(203, 203, 200, 0.75);
}

.zhouxun-profile .customer-profile {
	background: url('/static/img/zhouxun_43.jpg') top left no-repeat;
	background-position: 5px 0px !important;
	-webkit-box-shadow: 0px 0px 1px rgba(203, 203, 200, 0.75);
	-moz-box-shadow:    0px 0px 1px rgba(203, 203, 200, 0.75);
	box-shadow:         0px 0px 1px rgba(203, 203, 200, 0.75);
}

.customer-profile {
	/*background: url('/static/img/weixin-customer.jpg') top left no-repeat;*/
	margin-right: 5px;
}

.shop-service-profile {
	/*background: url('/static/img/user-1.jpg') top left no-repeat;*/
	margin-left: 5px;
}

.content {
	float: right;
	margin-right: 5px;
	margin-top: 3px;
	background-color: #DCDCDC;
	border: solid 1px #CBCBC8;
	padding: 5px 10px;
	-webkit-box-shadow: 0px 0px 5px rgba(203, 203, 200, 0.75);
	-moz-box-shadow:    0px 0px 5px rgba(203, 203, 200, 0.75);
	box-shadow:         0px 0px 5px rgba(203, 203, 200, 0.75);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	max-width: 150px;
}

.shop-service .content {
	float: left;
	margin-left: 5px;
	margin-top: 3px;
	background-color: #B9EA4D;
	border: solid 1px #A1D066;
	padding: 5px 10px;
	-webkit-box-shadow: 0px 0px 5px rgba(162, 208, 104, 0.75);
	-moz-box-shadow:    0px 0px 5px rgba(162, 208, 104, 0.75);
	box-shadow:         0px 0px 5px rgba(162, 208, 104, 0.75);
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	max-width: 150px;
}

.shop-service .content-picture {
	background-color: white;
	padding: 10px;
	width: 340px;
	max-width: 340px;
	margin: 0px auto;
	float: none;
	cursor: pointer;
}

.shop-service .main-picture {
	height: 210px;
	background-color: black;
}

.shop-service .main-picture-box {
	height: 180px;
	overflow: hidden;
}

.shop-service .main-picture-title {
	color: white;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
	line-height: 30px;
}

.shop-service .single-content-picture .main-picture-title {
	color: black;
	background-color: white;
	font-size: 16px;
	font-weight: bold;
	padding-left: 0px;
	line-height: 30px;
	/*padding-bottom: 5px;*/
}

.shop-service .single-content-picture .main-picture-title .date {
	color: #8F8F8F;
	font-size: 12px;
	padding-left: 0px;
	line-height: 25px;
	font-weight: normal;
	margin: 0px;
}

.shop-service .single-content-picture .main-picture {
	height: 240px;
	background-color: white;
}

.shop-service .single-content-picture .description {
	background-color: white;
	color: #888888;
	font-size: 14px;
	line-height: 1.2em;
	border-bottom: solid 1px #BFBFBF;
}

.shop-service .single-content-picture .more-link {
	font-size: 14px;
}

.shop-service .sub-pictures {

}

.shop-service .sub-picture {
	height: 40px;
	border-top: solid 1px #BFBFBF;
	padding: 3px 1px;
}

.shop-service .sub-picture-title {
	font-size: 14px;
	font-weight: bold;
	line-height: 40px;
	float: left;
}

.shop-service .sub-picture-box {
	line-height: 40px;
	width: 40px;
	height: 40px;
	float: right;
}


/* Let's get this party started */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(0,0,0,0.1);
}

/* Handle */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.2);
}

/* menu bar 区域的样式 */
#phone #menubar-zone {
	width: 100%;
	height: 54px;
	background-color: #EFEFEF;
	line-height: 40px;
	text-align: left;
	color: #8B8B8B;
	bottom: 0px;
	position: absolute;
	font-family:"微软雅黑";
}

#phone #menubar-zone .oneMenu {
	line-height: 53px; 
	padding: 0px 0px; 
	margin-top: 0px;
}

#phone #menubar-zone .btn-group > .btn:last-child {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

#phone #menubar-zone .btn-group > .btn:first-child {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

#phone .popover.top .arrow:after {
    border-top-color: #F7F7F7;
}

#phone .popover {
	width: 100px;
	top: auto;
	bottom: 65px; 
	left: 0px;
}

#phone .popover h3 {
	font-size: 12px;
	padding: 8px;
	text-align: center;
	cursor: pointer;
}

#phone .x-menuItems h3.active {
	background-color: #F1FF83;
}

#phone .x-menus {
	margin-top: 0px;
}

#phone .x-menus .btn {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

#phone .oneMenu.active {
	background-image: linear-gradient(to bottom, #FFFFB3, #FFFF00);
	box-shadow: none;
}

#phone .oneMenu.active:hover, #small-phone .oneMenu.active:focus {
	background-image: linear-gradient(to bottom, #FFFFB3, #FFFF00);
	transition: none;
	background-position: 0 0px;
}

#phone h3.ui-state-highlight {
	margin: 1px;
	padding: 15px 0px;
	background: none;
}

#phone #weixin-menubar-btn {
	/*border: 1px solid #FF0000;*/
    bottom: 8px;
    height: 35px;
    left: 5px;
    position: absolute;
    width: 35px;
}

