@charset "utf-8";
/*********************************************************************
 * weiboDefault: 微博平台默认theme
 *********************************************************************/
html.weiboDefault, .weiboDefault body{
    background-color: #000;                
}

.weiboDefault #header {
    padding: 10px 20px;
    font-size: 2.5em;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    color: white;
}

.weiboDefault #timelines {
    background-color: #6C9BD1;
    border: solid 1px transparent;
    overflow: hidden;
}

.weiboDefault .oneTimeline {
    margin: 20px 20px;
    padding: 20px;
    background-color: #E6EDF7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    min-height: 100px;
}

.weiboDefault .author_thumbnails {
    width: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.weiboDefault .author_thumbnails img {
    width: 100px;
}

.weiboDefault .timeline {
    margin-left: 120px;
}

.weiboDefault .content {
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 100px;
    line-height: 1.2em;
}

.weiboDefault #footer {
    height: 30px;
    text-align: right;
    line-height: 30px;
    background-color: #BBB;
    color: blue;
    padding-right: 20px;
    text-align: center;
}

/*********************************************************************
 * weiboA: 微博平台A theme
 *********************************************************************/
 html.weiboA, .weiboA body{
    background-color: #000;
    overflow: hidden;
}

.weiboA #header {
    padding: 10px 20px;
    font-size: 2.5em;
    font-weight: bolder;
    font-family: "黑体";
    height: 60px;
    line-height: 60px;
    color: #52709F;
    background-color: #EEF0F1;
}

.weiboA #timelines {
    background-color: #7B9ABE;
    border: solid 1px transparent;
    overflow: hidden;
    font-family: "黑体";
}

.weiboA #timelines ul {
    width: 100%;
}

.weiboA .oneTimeline {
    margin: 20px 20px;
    padding: 20px;
    background-color: #E6EDF7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    min-height: 100px;
}

.weiboA .author_thumbnails {
    width: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.weiboA .author_thumbnails img {
    width: 100px;
}

.weiboA .pic {
    width: 150px;
    margin-right: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75)
}

.weiboA .pic img {
    width: 100%;
}

.weiboA .timeline {
    margin-left: 120px;
}

.weiboA .timeline .content {
    font-size: 2.5em;
    font-weight: bold;
    margin-right: 50px;
    line-height: 1.2em;
}

.weiboA .timeline .contentWithPic {

}

.weiboA .timeline .info {
    font-size: 1.5em;
    color: #888;
    /*position: absolute;
    bottom: 5px;
    */
    text-align: right;
    margin-right: 20px;
    margin-top: 15px;
    /*right: 20px;*/
}

.weiboA #footer {
    height: 40px;
    text-align: right;
    line-height: 40px;
    font-size: 1.5em;
    background-color: #7B9ABE;
    color: #EEE;
    padding-right: 40px;
    text-align: right;
    text-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
}

/*********************************************************************
 * weixinA: 微信平台A theme
 *********************************************************************/
 html.weixinA, .weixinA body{
    background-color: #000;
    overflow: hidden;
}

.weixinA #header {
    padding: 10px 20px;
    font-size: 2.5em;
    font-weight: bolder;
    font-family: "黑体";
    height: 60px;
    line-height: 60px;
    color: #3DB733;
    background-color: #000;
}

.weixinA #timelines {
    font-family: "黑体";
    background-color: #E2DDC8;
    border: solid 1px transparent;
    overflow: hidden;
}

.weixinA #timelines ul {
    width: 100%;
}

.weixinA .oneTimeline {
    margin: 20px 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: relative;
    min-height: 100px;
}

.weixinA .author_thumbnails {
    width: 100px;
    position: absolute;
    top: 20px;
    left: 20px;
}

.weixinA .author_thumbnails img {
    width: 100px;
}

.weixinA .timeline {
    margin-left: 120px;
}

.weixinA .content {
    font-size: 2.5em;
    font-weight: bold;
    margin-right: 50px;
    line-height: 1.2em;
}

.weixinA .timeline .info {
    font-size: 1.5em;
    color: #888;
    position: absolute;
    bottom: 5px;
    text-align: right;
    right: 20px;
}

.weixinA .content_name {
    color: #3DB733;
}

.weixinA #footer {
    height: 40px;
    text-align: right;
    line-height: 40px;
    font-size: 1.5em;
    background-color: #E2DDC8;
    color: #EEE;
    padding-right: 40px;
    text-align: right;
    text-shadow: 0px 0px 5px rgba(50, 50, 50, 0.75);
}