{% extends "content_base.html" %}
{% load common_tag %}
{% load account_filter %}

{% block css %}
{% endblock %}

{% block content-panel %}
<ul class="breadcrumb">
	<li><a href="/market_tools/activity/">活动列表</a><span class="divider">/</span></li>
	<li class="active">活动参与会员</li>
</ul>

<div class="form-horizontal" method="post" id="editForm">
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="parents_name">活动名称：</label>
			<div class="controls" style="margin-top:4px">{{ activity.name }}</div>
		</div>

		<div class="control-group">
			<label class="control-label" >活动日期：</label>
			<div class="controls" style="margin-top:4px">
				{{ activity.start_date }} ~ {{ activity.end_date }}
			</div>
		</div>	
		
		<div class="control-group">
			<label class="control-label" for="head_url">报名会员：</label>
			<div class="controls">
			<div data-ui-role="advanced-table" data-app="market_tools/activity" data-args='{"activity_id":"{{activity.id}}"}' data-api="member_records/get" data-template-id="#activity_member_list_view" data-item-count-per-page="15" data-enable-paginator="true"></div>	
		   </div>
		</div>
    </fieldset>

    
	<fieldset>
		<legend></legend>
		<div class="control-group">
			<div class="controls">
				<a class="btn btn-primary" id="export_excel" href="/market_tools/activity/activity/export/{{ activity.id }}/">导出数据</a>
			</div>
		</div>
	</fieldset>

</div>

{% endblock %}

{% block dialog %}

{% endblock %}
{% block jsTemplate %}
	{% verbatim %}
	<script id="activity_member_list_view" type="text/x-jquery-tmpl">
		<table class="table table-bordered table-condensed">
	            <thead>
	                <tr>
	                <th style="vertical-align: middle;">头像</th>
	                <th>
						<p class="mt10 {{if !data.activity.is_enable_offline_sign}}tx_searchable{{/if}}">
						会员名称
						</p>
					</th>
	                <th style="vertical-align: middle;">收集项目</th>
	                {{if data.activity.is_enable_offline_sign}}
	                <th>
	                	<p class="mt10 tx_searchable">
	                		凭证码
	                	</p>
	                </th>
	                <th class="tx_filterable w100" style="vertical-align: middle;">
	                	<div class="dropdown">
							<p class="m0 dropdown-toggle" style="font-size: 14px;">签到</p>
							<ul class="dropdown-menu">
		                        <li><a href="javascript:void(0);" data-attr='sign_status' data-value="-1">全部</a></li>
								<li><a href="javascript:void(0);" data-attr='sign_status' data-value="1">已签到</a></li>
								<li><a href="javascript:void(0);" data-attr='sign_status' data-value="0">未签到</a></li>
							</ul>
						</div>
	                </th>
	                {{/if}}
	               </tr>
	            </thead> 
	            <tbody>
	              {{each(i, webapp_user) data.weapp_users}} 
		            <tr >
						<td style="width: 80px;">
							<div class="imgBox fl m5" style="width: 60px; padding: 5px;">
							<img src="{{if webapp_user.member.user_icon}}${webapp_user.member.user_icon}{{else}}/static/img/user-1.jpg{{/if}}" onerror="this.src='/static/img/user-1.jpg'"/>
							</div>
							
						</td>
						<td style="width: 85px;">
						{{if webapp_user.member.username_for_html}}
						<a href="/webapp/user_center/member/${member.id}/">
							{{html webapp_user.member.username_for_html}}
						</a>
						{{else}}
						非会员
						{{/if}}	
						</td>
						<td>
							{{each(i, item_value) webapp_user.item_values}}
								<div>
								${item_value.title}: 
								{{if item_value.is_image}}
									{{if item_value.user_input_value}}
									<img class="imgBox" src="${item_value.user_input_value}" style="max-width: 100px" />
									{{else}}
									无
									{{/if}}
								{{else}}
								${item_value.user_input_value}
								{{/if}}
								</div>
							{{/each}}
						</td>
						{{if data.activity.is_enable_offline_sign}}
						<td>
							${webapp_user.sign_code}
						</td>
						<td>
							{{if webapp_user.sign_status == 0 }}
							<a href="../../activity_sign_status/update/${webapp_user.sign_code}/?member_id={{if member.id}}${member.id}{{else}}-1{{/if}}" class="btn btn-success">签到</a>
							{{else}}
							已签到
							{{/if}}
						</td>
						{{/if}}
					</tr>
	               {{/each}}
	              </tbody>
	         </table>
	</script>
	{% endverbatim %}
{% endblock %}
{% block js %}
<script type="text/javascript">
	
</script>
{% endblock %}
