{% extends "landing_content_base.html" %}
{% block content-panel %}
<link rel="stylesheet" href="/landing_static/css/landing-main.css" type="text/css">
<div class="containerbox">
<div class="msg_box"><b class="msg_icon"></b><div class="msg_content"><a href="/account/notice_list/" target="_blank"><span class="notice_content"></span><span class="notice_created_at"></span></a></div></div>
<div class="banner">
			<ul>
				<li style="background-image: url('/landing_static/img/index/banner_04.jpg');">
				</li>
				
				<li style="background-image: url('/landing_static/img/index/banner_01.jpg');"></li>
				
				<li style="background-image: url('/landing_static/img/index/banner_02.jpg');">
				</li> 
				
				<li style="background-image: url('/landing_static/img/index/banner_03.jpg');">
				</li>
				
			</ul>
		</div>
		<div class="down banner_down"><div class="downbox page4"><a href="#page2"></a></div></div>
		<div class="fx" id="page2">
            <div class="container container_reset clearfix">
                <div class="learnmore lfloat">
                    <img src="/landing_static/img/index/title_fx.png">
                    <div class="fx_text">
                    <p>微众分销平台是微众传媒专门基于微信平台开发的一套集建站、营销、分销为一体的新型公众号管理平台</p>
                    <p>不但集合了市面上所有微信CMS系统的核心功能，更是独家提出了粉丝分销概念</p>
                    <p>结合微众平台独有的系统支持，让粉丝成为您好产品的推销员</p>
                    </div>
                    <div class="learnmore_btn"><a href="#page3"></a></div>
                </div>
            </div>
		</div>
		<div class="down down2_bgc"><div class="downbox page4"><a href="#page3"></a></div></div>
         <a name="tscn" id="tscn"></a>
		<div class="ts" id="page3">
		    <div class="ts_bg">
		        <div class="container container_reset">
		            <div class="longbox">
                        <div class="longConCam">
                            <div class="indexShow">
                                <a href="javascript:void(0)" class="indexShowLeft unslider-arrow prev"></a>
                                <a href="javascript:void(0)" class="indexShowRight unslider-arrow next"></a>
                                <div class="indexShowBox" style="height:744px!important;">
                                    <ul>
                                        <li style="float:left"><img src="/landing_static/img/index/ts_con.png" width="960px" height="744px" /></li>
                                        <li style="float:left"><img src="/landing_static/img/index/jc_con.png" width="960px" height="744px" /></li>
                                        <li style="float:left"><img src="/landing_static/img/index/ds_con.png" width="960px" height="744px" /></a></li>
                                        <li style="float:left"><img src="/landing_static/img/index/yx_con.png" width="960px" height="744px" /></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
		        </div>
		    </div>
		</div>
		<div class="down down3_bgc"><div class="downbox page4"><a href="#page4"></a></div></div>
		<div class="cl" id="page4">
                <div class="cl_bg">
                <div class="cl_content container_reset">
                    <img src="/landing_static/img/index/title_page4.png" alt="产品案例" title="产品案例">
                    <p class="cl_text"></p>
                     <div class="cl_iphonebox clearfix">
                       <ul>
                            <li>
                                <div class="imgbox">
                                <img src="/landing_static/img/index/p1.png" width="252" height="379">

                                <div class="caption">
                                    <div class="blur"></div>
                                   <div class="qrcontent">
                                        <img src="/landing_static/img/index/p1_code.jpg" alt="岗山硒谷米琦尔">
                                        <p>岗山硒谷米琦尔</p>
                                    </div>
                                </div>
                                </div> 
                            </li>
                            <li>
                                <div class="imgbox">
                                <img src="/landing_static/img/index/p2.png" width="252" height="379">

                                <div class="caption">
                                    <div class="blur"></div>
                                   <div class="qrcontent">
                                        <img src="/landing_static/img/index/p2_code.jpg" alt="开封市旅游局">
                                        <p>开封市旅游局</p>
                                    </div>
                                </div>
                                </div>
                            </li>
                            <li>
                                <div class="imgbox">
                                <img src="/landing_static/img/index/p3.png" width="252" height="379">

                                <div class="caption">
                                    <div class="blur"></div>
                                   <div class="qrcontent">
                                        <img src="/landing_static/img/index/p3_code.jpg" alt="长江商学院">
                                        <p>长江商学院</p>
                                    </div>
                                </div>
                                </div>
                            </li>
                        </ul>
                        
     </div>
                </div>
                </div>
            </div>
		</div>
		<div class="down down4_bgc"><div class="downbox page4"><a href="#page5"></a></div></div>
		    <div class="jr" id="page5">
		    </div>
		</div>
{% endblock %}

{% block js %}
<script src="/landing_static/js/unslider.js"></script> 
<script>
	$(document).ready(function() {
		$('.banner').unslider({
			fluid: true,
			dots: true,
			speed: 500
		});

		var mannuedUnslider = $('.indexShowBox').unslider({
			speed: 500,
			delay: false
		});

		$('.unslider-arrow').click(function() {
	        var fn = this.className.split(' ')[2];
	        
	        //  Either do unslider.data('unslider').next() or .prev() depending on the className
	        mannuedUnslider.data('unslider')[fn]();
	    });

		//  Find any element starting with a # in the URL
		//  And listen to any click events it fires
		$('a[href^="#"]').click(function() {
			//  Find the target element
			var target = $($(this).attr('href'));
			
			//  And get its position
			var pos = target.offset(); // fallback to scrolling to top || {left: 0, top: 0};
			
			//  jQuery will return false if there's no element
			//  and your code will throw errors if it tries to do .offset().left;
			if(pos) {
				//  Scroll the page
				$('html, body').animate({
					scrollTop: pos.top,
					scrollLeft: pos.left
				}, 1000);
			}
			
			//  Don't let them visit the url, we'll scroll you there
			return false;
		});
		
		var GoSquared = {acct: 'GSN-396664-U'};

		W.getApi().call({
	     app: 'notice',
	     api: 'notice/get_land',
	     args: {},
	     scope: this,
	     success: function(data) {
	     	var notice = data.notices[0];
	     	if (notice){
	     		$('.msg_content').find('a').find('.notice_content').text(notice.title);
	     		$('.msg_content').find('a').find('.notice_created_at').text(notice.create_time.substr(0, 10));
	     	} else {
	     		 var content = '暂无公告';
	         	 $('.msg_content').find('a').find('.notice_content').text(content);
	     	}
	     },
	     error: function(resp) {
	         var content = '暂无公告';
	         $('.msg_content').find('a').find('.notice_content').text(content);
	     }
    });
    });
</script>
{% endblock %}
