@charset "utf-8";

/*背景*/
body{
	background: #360000;
}
body.ui-overlay-x .ui-page.xui-redenvelope-page{
    background: #360000 url('/markettools_static/red_envelope/img/bg.jpg') no-repeat 0 0 scroll;
    background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
    position: absolute!important;
}
.android body.ui-overlay-x .ui-page.xui-redenvelope-page{
    background: #360000 url('/markettools_static/red_envelope/img/bg.jpg') no-repeat 0 0 scroll;
    background-size: 100% auto;
    -moz-background-size: 100% auto;
    -webkit-background-size: 100% auto;
}
#btnSubmit{
	width: 100px;
	height:101px;
	margin:0 auto;
	position:absolute;

}
.envelope-btn-box{
	position: relative;
	width: 113px;
	margin: 0 auto;
}
.envelope-btn-box .ui-btn{
	width: 123px;
	height: 123px;
	background: url('/markettools_static/red_envelope/img/btn.png') no-repeat;
	background-size: 100%;
	overflow: hidden;
	margin:0 auto;
	position: absolute;
	left:50%;
	margin-left:-61px;
	margin-top:20px;

}
.envelope-btn-box .ui-btn-inner{
	border:none;
/*line-height: 300px;*/
}
.envelope-btn-box .ui-shadow{
	box-shadow:none;
}
/*发红包页面*/
.open_bg{
	background:url('/markettools_static/red_envelope/img/open_bg.jpg') no-repeat 0 0 scroll!important;
	background-size: 100% auto!important;
}
.text-color{
		color: #f6e6b0;
}
.xui-envelope-title{
	font-size: 1.9em;
	position: relative;
	margin:30px 0 auto;
	text-align: center;
}
.total_award_value{
	font-size:2.5em;
	margin:10px 0 auto;
	text-align: center;
}
.red_envelope_desc{
	margin:0 auto;
	text-align: center;
	width: 90%;
}
.envelope_logo{
	width: 82px;
	height: 47px;
	position: absolute;
	top:10px;
	left:50%;
	margin-left:-41px;
}
.envelope_logo img{
	width: 82px;
	height: 47px;
}
.prize_name{
	margin:0 auto;
	text-align: center;
}
.xui-form-box{
	margin-top: 75px;
}
.prize_detail{
	color:#fff;
	margin: 0 auto;
	width: 200px;
	height: 35px;
	background-color: rgba(0,0,0,.4);
	border-radius:6px;
	padding:5px;
	text-align: center;
	line-height: 35px;
	margin-top:20px;
}
.text-box{
	margin-top:80px;
}

/*红包结果页面*/