@charset "utf-8";
/*摇一摇*/
html{
	background-color: #333;
}
.hidden {
  display: none!important;
 }
body{
	margin: 0 auto;
	min-width: 320px;
	max-width: 640px;
	height:100%;
	box-shadow:0 0 20px 0px rgba(0,0,0,.8)
}
.xui-page{
	max-width: 640px;
	position: relative;
}
.xui-shake-bg{
	background-image: url(/markettools_static/shake/img/light.jpg);
	background-color: #ee3614;
	background-position: top auto;
	-webkit-background-size: cover;
	background-size: cover;
}
.xui-shake-bg img{
	width: 100%;
	border: 0;
	vertical-align: middle;
}
.autoX{
	left: 0;
	right: 0;
	position: absolute;
	margin: auto;
}
.xui-hand{
	width: 65.3125%;
	top: 2.381%;
	z-index: 2;
}
.shake{
	-webkit-animation: phone_shake 1s linear infinite;
    animation: phone_shake 1s linear infinite;
    transform-origin: 50% 150%;
    -webkit-transform-origin: 50% 150%;
}


.xui-handBg{
	width: 78.125%;
	top: 14.6825%;
	z-index: 1;
}
.xui-title{
	width: 84.0625%;
	top: 46.4286%;
	z-index: 3;
}
div[class^="xui-star"]{
	-webkit-animation: fade 1s infinite ease-out;
	animation: fade 1s infinite ease-out;
}
.xui-star1{
	width: 5.625%;
	top: 9.921%;
	right: 12.03125%;
	-webkit-animation-delay:1s!important;
	animation-delay:1s!important;
}
.xui-star2 img{
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.xui-star2{
	width: 3.125%;
	top: 13.492%;
	left: 9.375%;
	
}
.xui-star3{
	width: 4.375%;
	top: 52.5794%;
	left: 10.9375%;
	-webkit-animation-delay:0.5s!important;
	animation-delay:0.5s!important;
}
.xui-star4{
	width: 4.375%;
	top: 61.0119%;
	right: 6.25%;
	-webkit-animation-delay:0.2s!important;
	animation-delay:0.2s!important;
}

.xui-r1{
	width: 3.75%;
	top: 6.0516%;
	left: 14.53125%;
}
.xui-r2{
	width: 3.4375%;
	top: 6.94444%;
	right: 21.25%;
}
.xui-r3{
	width: 3.4375%;
	top: 6.94444%;
	left: 7.34375%;
}
.xui-r4{
	width: 3.125%;
	top: 18.25397%;
	right: 15.46875%;
}
.xui-r5{
	width: 7.8125%;
	top: 21.528%;
	right: 4.21875%;
}
.xui-music{
	width: 8.75%;
	top: 12px;
	right:12px;
}
.play{
	animation: rotate 1.2s linear infinite;
	-webkit-animation: rotate 1.2s linear infinite;
}
.xui-info{
	bottom:6.9444%;
}
.xui-ruleBtn{
	width:50.625%;
	height:28px;
	font-size:0.9rem;
	font-weight: bold;
	color:#ee3614;
	background: #fffb41;
	border-radius: 4px;
	line-height: 28px;
	display:block;
	margin:0 auto;
}
.xui-page h1{
	font-size: 1.1rem;
	color:#fff;
}
.xui-page h2{
	font-size: 1.1rem;
	font-weight:bold;
	color:#fffb41;
	margin-bottom:8px;
}
.xui-page h4,
.xui-page p{
	font-size: 0.85rem;
	color:#fff;
}
.xui-timeLimit{
	margin-bottom: 10px;
}
.xui-rule{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	z-index: 20;
	display: none;
	overflow-y:auto; 
	padding:0 15px;
	box-sizing:border-box;
}
.xui-rule .xui-ruleContent{
	overflow:auto;
	padding:10px;
	color:#fff;
}
.xui-rule h3{
	font-size: 1.2rem;
	font-weight: bold;
	color:#fff;
	margin:0;
	padding:24px 0;
	border-bottom: 1px solid rgba(255,255,255,.15);
}
.xui-rule .xui-close{
	display: block;
	height: 25px;
	width: 25px;
	position: relative;
	background-color: #d81c26;
	border-radius: 50%;
}
.xui-rule .xui-close::after,
.xui-rule .xui-close::before{
	content:"";
	display: inline-block;
	background-color: #fff;
	position: absolute;
	width: 2px;
	height: 16px;
	left: 12px;
	top: 4px;
}
.xui-rule .xui-close::after{
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.xui-rule .xui-close::before{	
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);	
}
.xui-cover{
	background-color: rgba(0,0,0,0.8);
	z-index: 21;
	animation: fadeIn 0.3s ease-in-out;
	-webkit-animation: fadeIn 0.3s ease-in-out;
}
.xui-pop{
	width:80%;
	top:27.7778%;
	z-index: 22;
	animation: bounceInDown 2s ease-in-out;
	-webkit-animation: bounceInDown 2s ease-in-out;
}
.xui-pop h2{
	font-weight: bold;
	font-size: 1.45rem;
	color:#d81c26;
	top: 16%;
}
.xui-pop p{
	font-size: 0.9rem;
	color:#454545;
	top: 35%;
	padding:0 25px;
}
.xui-pop .xui-close{
	height: 13.1783%;
	width: 9.961%;	
	right:3.90625%;
	top:5.168%;
}
.xui-redBtn,.xui-whiteBtn{
	font-size: 0.9rem;
	border-radius:4px;
	width: 63.28125%;
	height:28px;
	line-height: 28px;
	display: inline-block;
	text-align: center;
}
.xui-redBtn{
	background-color: #d81c26;
	color:#fff;
	top:65%;
}
.xui-whiteBtn{
	background-color: #fff;
	color:#454545;
	top:70.8%;
}
.fadeIn {
	animation: fadeIn 0.2s ease-in-out;
	-webkit-animation: fadeIn 0.2s ease-in-out;
}
/*加载提示*/
#jpreOverlay {
	background-image: url(/markettools_static/shake/img/light.jpg);
	background-size:100% 100%;
}
#jpreLoader{
	width:100%;
	height:200px;
	padding: 0 20px;
	box-sizing: border-box;
	top:50%!important;
}
#jpreBar {
	height:10%!important;
	border-radius:25px;
	-moz-border-radius:25px;
	-webkit-border-radius:25px;
	
	background-size:30px 30px;
	-moz-background-size:30px 30px;
	-webkit-background-size:30px 30px;
	-o-background-size:30px 30px;

	background-image: -webkit-gradient(linear, left top, right bottom, 
		color-stop(0%,rgba(255,255,255,0.2)), 
		color-stop(25%,rgba(255,255,255,0.2)), 
		color-stop(25%,rgba(255,255,255,0)), 
		color-stop(50%,rgba(255,255,255,0)), 
		color-stop(50%,rgba(255,255,255,0.2)), 
		color-stop(75%,rgba(255,255,255,0.2)),
		color-stop(75%,rgba(255,255,255,0)),
		color-stop(100%,rgba(255,255,255,0)));
	background-image: -webkit-linear-gradient(-45deg, 
		rgba(255,255,255,0.3) 0%,
		rgba(255,255,255,0.3) 25%,
		rgba(255,255,255,0) 25%,
		rgba(255,255,255,0) 50%,
		rgba(255,255,255,0.3) 50%,
		rgba(255,255,255,0.3) 75%,
		rgba(255,255,255,0) 75%,
		rgba(255,255,255,0) 100%);
	background-image: linear-gradient(135deg, 
		rgba(255,255,255,0.15) 0%,
		rgba(255,255,255,0.15) 25%,
		rgba(255,255,255,0) 25%,
		rgba(255,255,255,0) 50%,
		rgba(255,255,255,0.15) 50%,
		rgba(255,255,255,0.15) 75%,
		rgba(255,255,255,0) 75%,
		rgba(255,255,255,0) 100%);
		
	animation: progress 2s linear infinite;
	-webkit-animation: progress 2s linear infinite;	
}
#jprePercentage {
	color:#fff;
	font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;
	font-weight:bold;
	text-align:center;
	text-shadow:1px 1px 1px #f00;
	top:5%;
	font-size:3em;
}

#jpreButton{
	display: none;
}
@-webkit-keyframes phone_shake {
    0% {
        -webkit-transform: rotate(4deg)
    }

    5% {
        -webkit-transform: rotate(0deg)
    }

    10% {
        -webkit-transform: rotate(-4deg)
    }

    15% {
        -webkit-transform: rotate(0deg)
    }

    20% {
        -webkit-transform: rotate(4deg)
    }

    25% {
        -webkit-transform: rotate(0deg)
    }

    30% {
        -webkit-transform: rotate(-4deg)
    }

    100%,35% {
        -webkit-transform: rotate(0deg)
    }
}
@keyframes phone_shake {
    0% {
        -webkit-transform: rotate(4deg)
    }

    5% {
        -webkit-transform: rotate(0deg)
    }

    10% {
        -webkit-transform: rotate(-4deg)
    }

    15% {
        -webkit-transform: rotate(0deg)
    }

    20% {
        -webkit-transform: rotate(4deg)
    }

    25% {
        -webkit-transform: rotate(0deg)
    }

    30% {
        -webkit-transform: rotate(-4deg)
    }

    100%,35% {
        -webkit-transform: rotate(0deg)
    }
}
@-webkit-keyframes fade {
	0%,100% {
		opacity:1;
		-webkit-transform:scale3d(1,1,1);
		transform:scale3d(1,1,1);
		}

	50% {
		opacity:0.2;
		-webkit-transform:scale3d(0.5,0.5,0.5);
		transform:scale3d(0.5,0.5,0.5);
		}
}
@keyframes fade {
	0%,100% {
		opacity:1;
		-webkit-transform:scale3d(1,1,1);
		transform:scale3d(1,1,1);
		}

	50% {
		opacity:0.2;
		-webkit-transform:scale3d(0.5,0.5,0.5);
		transform:scale3d(0.5,0.5,0.5);
		}
}
@keyframes rotate{
	0%{
		transform:rotate(0)
	}

	100%{
		transform:rotate(360deg)
	}
}
@-webkit-keyframes rotate{
	0%{
		transform:rotate(0)
	}

	100%{
		transform:rotate(360deg)
	}
}
@-webkit-keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -1000px, 0);
    transform: translate3d(0, -1000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -60px -60px;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-height: 480px){
	.xui-hand{
		width: 60.1%;
		top: 1%;
	}
	.xui-handBg{
		width: 72.65625%;
		top: 14.6825%;
	}
	.xui-title{
		width: 76%;
		top: 45.4286%;
	}
	.xui-info{
		bottom:3.486%;
	}
	.xui-page h1{
		font-size: 1rem;
		margin-bottom:5px;
	}
	.xui-page h2{
		font-size: 1rem;
		margin-bottom:5px;
	}
	.xui-page h4,
	.xui-page p{
		font-size: 0.75rem;
	}
	.xui-timeLimit{
		margin-bottom: 5px;
	}
}