{% extends "content_base.html" %}
{% load common_tag %}
{% block css %}
<link type="text/css" rel="stylesheet" href="/termite_static/jquery/jquery.fancybox-1.3.1.css">
{% endblock %}
{% block content-panel %}
<div class="relative">
 <div class="breadcrumb">
  <li><a href="/weixin/message/message/">实时消息</a><span class="divider">/</span></li>
  <span class="active">星标消息</span>
 </div>
 
</div>

<div id="sessions">
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/termite_static/jquery/jquery.fancybox-1.3.1.js"></script>
<script type="text/javascript">
 var is_debug = {% if is_debug_enabled %}true{% else %}false{% endif %};
 var shouldShowAuthorizeCover = {% if should_show_authorize_cover %}true{% else %}false{% endif %};
 $(document).ready(function() {
  var view = new W.view.weixin.SessionListView({
   el: '#sessions',
   is_debug: is_debug,
   is_collected: true,
   is_fancyBox: true
  });
  view.render();

  $('body').delegate('div.xui-voiceContent', 'click', function
        (event) {
          $(this).siblings('#media')[0].play();
          $(this).find('span').addClass('xui-voicePlay');
          $(this).siblings('#media').bind('ended', function() {
                  $(this).siblings().find('span').removeClass('xui-voicePlay');
              });
   });

  if (shouldShowAuthorizeCover) {
   W.view.showAuthorizeCover({
    hint: '您还没有回复消息的权限，请<a href="javascript:void(0);" class="x-docTrigger">查看文档</a>',
    doc: 'unfreeze_need_service_and_certified_account_restrictions-tmpl-src'
   });
  }
 });
</script>
{% endblock %} 