<script id="logistics-info-view" type="text/x-jquery-tmpl">
<div class="w200">
	<div class="mt20 ml20 fl">
		<label>请选择物流公司：</label>
		<select class="w150 ua-logistics">
		</select>
	</div>
	<div class="mt5 ml20 fl">
		<label> 快递单号：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		<input name="logistics_order_id" class="w150" type="text"/>
		<div class="logistics_error red"></div>
	</div>
	<div class="mt5 ml20 fl">
		<label> 发货人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
		<input name="leader_name" class="w150" type="text" placeholder="备注请用竖线隔开"/>
		<div class="leader_name_error red"></div>
	</div>
	<div class="mt5 ml20 mr20">
		<input type="button" class="fr btn btn-success tx_logistics_submit" value="确定">
	</div>
</div>
</script>


<script id="single-logistics-info-view" type="text/x-jquery-tmpl">
	<option value="${value}">${name}
	</option>
</script>