{% extends "jqm_content_base.html" %}

{% block css %}
<link type="text/css" rel="stylesheet" href="/static/css/market_tools_css/common.css">
<link type="text/css" rel="stylesheet" href="/markettools_static/lottery/css/roulette.css">
{% endblock %}

{% block mobileinit %}
<script type="text/javascript">
$(document).bind("mobileinit", function () {
    $.mobile.ajaxEnabled = false;
});
</script>
{% endblock %}

{% block content-panel %}
<div data-role="page" data-theme="x" class="{% if not user.is_from_weixin %}notweixin{% endif %} xui-rouletter-page" data-title="{{ page_title }}">
    {% if lottery %}
        <div class="xui-lottery-status xui-lottery-status-{{type}}"></div>
        <div class="xui-header-btnLayer">
            <a class="xui-btn-again" style="display:none" href="javascript:window.location.href=window.location.href;" data-role="button">再来一次</a>
        </div>
        <div class="xui-rouletter-lay" auto_height="400:368">
            <div class="xui-rouletter-widget" 
                data-ui-role="roulette" 
                app="webapp" 
                api="project_api/call" 
                args="{target_api: 'prize/get', project_id:'{{request.project.id}}', lottery_id: '{{lottery.id}}'}" 
                lottery-count="{{lottery.prizes|length}}" 
                defalute-value="{% if last_record %}{{ last_record.prize_name }}{% endif %}" 
                can-play-count="{% if type == 1 %}{{can_play_count}}{% endif %}"
                not_win_desc="{{lottery.not_win_desc}}"
                >
                </div>
        </div>
    
        <div class="xui-content-info">
            <p>还剩
                <span class="xui-integral-content">
                    <span class="tx_integral_content bold">
                    {{member.integral}}
                    </span>
                    <span class="tx_integral_delete xui-integral-delete" style="display:none">-{{lottery.expend_integral}}</span>
                </span>
                积分
            </p>
            <p class="mt5">你有
                <span class="bold tx_playCount">{{can_play_count}}</span>
                次抽奖机会
            </p>
        </div>
        
        {% if records %}
        <div class="xui-content-layer">
            <h2 class="xui-content-layer-title">中奖历史</h2>
            <div class="xui-content-layer-content">
                {% for record in records %}
                <p class="zoom" style="line-height: 28px;">
                    <span class="fl">{{record.created_at|date:'Y-m-d'}}</span>
                    <span class="fl ml5">{{record.prize_name}}:</span>
                    <span class="fl ml5">{% if record.prize_type == 1 %}{{record.prize_detail}}{%else%}{{record.prize_detail}}{% if record.prize_type == 3 %}积分{% endif %}{% endif %}</span>
                    {% if record.prize_type == 1 %}
                    <a style="line-height: 20px; margin-top:-5px; padding: 2px 5px; margin-left: 5px; border-radius: 3px; background: #FE4940; color: #fff; display: inline-block" href="./?module=market_tool:coupon&model=usage&action=get&workspace_id=market_tool:coupon&webapp_owner_id={{lottery.owner_id}}&project_id=0" >点击查看</a>
                    {% endif %}
                </p>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        
        <div class="xui-content-layer">
            <h2 class="xui-content-layer-title">活动时间</h2>
            <div class="xui-content-layer-content">
                {{ lottery.start_at|date:'Y.m.d' }} - {{ lottery.end_at|date:'Y.m.d' }}
            </div>
        </div>
        <div class="xui-content-layer">
            <h2 class="xui-content-layer-title">奖项设置</h2>
            <div class="xui-content-layer-content">
                {% if lottery.prizes %}
                {% for prize in lottery.prizes %}
                <p>
                    {{prize.name}}：
                   <!--  {% if prize.prize_type == 1 %}
                    优惠劵
                    {% endif %}
                    {% if prize.prize_type == 2 %}
                    兑换码
                    {% endif %}
                    {% if prize.prize_type == 3 %}
                    积分
                    {% endif %}
                    {% if prize.prize_type == 0 %}
                    实物奖品
                    {% endif %} -->
                    {{prize.prize_source}}{% if prize.prize_type == 3 %}
                    积分
                    {% endif %}</p>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        
        <div class="xui-content-layer">
            <h2 class="xui-content-layer-title">活动说明</h2>
            <div class="xui-content-layer-content rawHtml">
                {{ lottery.detail|safe }}
            </div>
        </div>
        
    {% else %}
    <div class="error-info">
        还没有设置大转盘
    </div>
    {% endif %}
</div>
{% endblock %}

{% block js %}
<script src="/markettools_static/lottery/js/jquery.mobile.roulette.js"></script>
<script type="text/javascript">
/*减积分*/
(function() {
    var $deleteNum = $('.tx_integral_delete');
    var value = $deleteNum.text();
    var $content = $('.tx_integral_content');
    var $playCount = $('.tx_playCount');
    var $btnAgain = $('.xui-btn-again');
    var isStart = false;
    var canPlayCount;
    $('[data-ui-role="roulette"]').bind('start', function() {
        if(isStart) {
            return;
        }
        isStart = true;
        $content.text(parseInt($content.text(), 10) + parseInt(value, 10));
        var width = $('.xui-integral-box').width();
        $deleteNum.css({
            display:'block',
            opacity: 1,
            '-moz-opacity': 1,
            '-webkit-opacity': 1,
            top:'0px',
            '-moz-transition': 'top 0s',
            '-webkit-transition': 'top 0s',
            '-o-transition':  'top 0s',
            'transition':  'top 0s'
        });
        setTimeout(function() {
            $deleteNum.css({
                top:'-30px',
                opacity: 0,
                '-moz-opacity': 0,
                '-webkit-opacity': 0,
                '-moz-transition': 'top 1s, opacity 1s',
                '-webkit-transition': 'top 1s, opacity 1s',
                '-o-transition':  'top 1s, opacity 1s',
                'transition':  'top 1s, opacity 1s'
            });
        }, 100);

        canPlayCount = parseInt($playCount.text(), 10) - 1;
        $playCount.text(canPlayCount);
    });
    $('[data-ui-role="roulette"]').bind('complate', function(event, data) {
        if(data.integral) {
            $content.text(data.integral);
        }
        if(data.can_play_count) {
            $playCount.text(data.can_play_count);
        }
        
        //显示"再来一次"
        if(canPlayCount > 0) {
            $btnAgain.show();
        }
        else {
            $btnAgain.remove();
        }
//        isStart = false;
        
//		setTimeout('window.location.reload()',2000);
    });
})();
</script>
{% endblock %}
