{% extends "new_jqm_content_base.html" %}
{% load common_tag %}

{% block css %}
	<link type="text/css" rel="stylesheet" href="/markettools_static/activity/css/activity.css?v=1">
	<link type="text/css" rel="stylesheet" href="/webapp_static/backend_default/css/loading.css">
	<style>
        #browser-zone {
            height: 100% !important;
        }
        label{
            color: #3d2005 !important;
            font-weight:bolder !important;
            font-size: 20px !important;
            display: inline-block !important;
            margin: 0 5px 0 0 !important;
        }
		.container1 > div, .container2 > div, .container3 > div{
			background: #fff;
		}
		.xui-loading{
			top:43%;
		}
        .xui-uploadImage {
            background: url("/markettools_static/activity/img/uploadImg.png") no-repeat scroll center center / 20% auto transparent !important;
            border: 2px solid #fff !important;
            height: 120px !important;
            width: 210px !important;
            margin: 0 auto 0 45px !important;
        }
        .xui-uploadImage input{
            margin-left: -90px !important;
            width: 240px !important;
            height: 120px !important;
        }

        .ui-btn-text{
        	color: #D28E1E;
        }

        .radio-on-text {
			color: red !important;
		}

        .xui-uploadImage img{
            width: 210px !important;
            height: 120px !important;
        }
        div.ui-input-text{
            display: inline-block !important;
            padding: 0 !important;
            border-color: -moz-use-text-color -moz-use-text-color #323b40;
            vertical-align: bottom;
        }
        input.ui-input-text {
            font-size: 19px;
            padding: 0 !important;
            color: #3d2005 !important;
        }
	    .mt25{
	        width: 100%;
	        margin: 20px auto 0 auto;
	    }


	    .ui-radio {
		    float: left;
		    width: auto;
		}
        .ui-checkbox, .ui-radio {
            clear: none;
            display: block;
            overflow: hidden;
            width: 120px;
            margin: 15px auto 0 5px !important;
        }
        .ui-radio input{
            display: none;
        }
		.xui-activity-content {
			margin-top: 0;
			min-height: 100% !important;
		}

		.ui-icon {
			background-image: url("/markettools_static/activity/img/radio_bdg.png") !important;
			background-position: 0 0 !important;
		}

	    .xa-toJoin{
	        background-color: #3d2005 !important;
	        text-align: center;
	        width: 80%;
	        color: white !important;
	        margin: 0 auto;
	    }
	    .xa-toJoin:active{
	        background-color: #ea564e !important;
	    }
	    .radio_img {

	    }
	</style>
{% endblock %}

{% block content-panel %}
	<!--loading加载-->
	<div class="xui-loading" style="display: none">
		<div class="xui-loading-container container1">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="xui-loading-container container2">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
		<div class="xui-loading-container container3">
			<div class="circle1"></div>
			<div class="circle2"></div>
			<div class="circle3"></div>
			<div class="circle4"></div>
		</div>
	</div>
	<!--<div data-role="page" data-theme="x" class="{% if not user.is_from_weixin %}notweixin{% endif %} detailPage xui-activity-page" data-title="{{ page_title }}">-->
	<div style="background:url(/markettools_static/activity/img/ph_bg.jpg)no-repeat center center;-webkit-background-size:100%;background-size:100% 100%;min-height:100%;overflow:visible;width:100%;left:0;top:0">
    {% if activity %}
        <div class="xui-activity-status xui-activity-status-{{activity.status}}"></div>
		<p style="color:#a17008;text-align: center;font-family: Verdana;font-size: 2em;padding-top: 20px;">生活PH值大检测</p>
		<div data-role="content" data-theme="x" class="activity-box">
			<div class="vote_apply">
				<!-- 活动信息区域 -->
				<div class="xui-activity-content" style="height: 100% !important; margin-left: 20px !important; margin-right: 10px !important;">
					<!-- 用户输入区域 -->
					<div class="form-box-div">
						{% if activity.status == 3 %}
						<div class="xui-alert-info">敬请期待...</div>
						{% endif %}
						<form class="xui-form-box" method="post" action="">
							<fieldset>
								<div data-role="fieldcontain" class="xui-form-controls">
                                    {% if type_dict and type_dict.type == 'select' %}
	                                <div>
	                                 	<input
		                        		id="{{ type_dict.input_name }}"
	                                	name="{{type_dict.input_name}}"
		                        		class="xa-validate"
		                        		value=""
		                        		data-target="#billInputZone"
		                        		{% if item.is_mandatory %}
									    required
									    required-msg="{{ type_dict.title }}不能为空"
									    {% endif %}
									    type="hidden"
									    >
	                                	{% for option in type_dict.options %}
			                                <label>
			                        		<input type="radio"
			                        		id="{{ type_dict.input_name }}"
		                                	name="{{type_dict.input_name}}"
			                        		class=""
			                        		value="{{ option }}"
			                        		data-target="#billInputZone"

										    >
			                				{{ option }}
			                    			</label>
		                    			{% endfor %}
                                        <div style="clear: both"></div>
									</div>
	                                {% endif %}

	                                {% if ph_dict and ph_dict.type == 'text' %}
									<div class="mt25">
                                        <label for="{{ ph_dict.input_name }}">PH值</label>
										<input
											style="text-align: center; width: 160px;"
											id="{{ ph_dict.input_name }}"
											name="{{ ph_dict.input_name }}"
										    type="text"
										    value="{{ ph_dict.value }}"
										    data-validate="required-ph"
										    {% if ph_dict.is_mandatory %}
										    required
										    required-msg="{{ ph_dict.title }}不能为空"
										    {% endif %}
										/>
									</div>
	                                {% endif %}

	                                {% if type_dict and type_dict.type == 'checkbox' %}
	                                <label for="{{ type_dict.input_name }}">{{type_dict.title}}</label>
	                                <div class="mt25">
	                                <input
		                        		id="{{ type_dict.input_name }}"
	                                	name="{{type_dict.input_name}}"
		                        		class="xa-validate"
		                        		value=""
		                        		data-target="#billInputZone"
		                        		{% if type_dict.is_mandatory %}
									    required
									    required-msg="{{ type_dict.title }}不能为空"
									    {% endif %}
									    type="hidden"
									    >
		                                {% for option in type_dict.options %}
		                                <label for="{{ item.input_name }}">
		                                	<input type="checkbox"
		                                	id="{{ type_dict.input_name }}"
		                                	name="{{type_dict.input_name}}"
		                                	value="{{ option }}"
										    >{{ option }}
										    <div class="radio_img"></div>
		                                </label>
		                                {% endfor %}
	                                </div>
	                                {% endif %}

	                                {% if img_dict and img_dict.type == 'image' %}
                                    <div class="mt25">
                                    <label for="{{ img_dict.input_name }}">测试图</label><br>
                                        <input
		                                	id="{{ img_dict.input_name }}"
		                                	name="{{img_dict.input_name}}"
		                                	data-ui-role="uploadImage"
		                                    type="file"
		                                    {% if img_dict.is_mandatory %}
										    required
										    required-msg="{{ img_dict.title }}不能为空"
										    {% endif %}
		                                />
		                                {% if is_alert_img_msg %}
		                                <div>仅支持ios6以上的用户上传图片</div>
		                                {% endif %}
		                            </div>
		                            {% endif %}

                                    {% if comment_dict and comment_dict.type == 'text' %}
									<div class="mt25">
                                        <label for="{{ comment_dict.input_name }}">评论</label>
										<input
                                            style="text-align: center; width: 170px;"
											id="{{ comment_dict.input_name }}"
											name="{{ comment_dict.input_name }}"
										    type="text"
										    value="{{ comment_dict.initial_data }}"
										/>
									</div>
	                                {% endif %}
								</div>
							</fieldset>
						</form>
					</div>


					</div>
					<div class="xui-activity-btnBox mt10">
					{% if  activity.status == 1 %}
						<a class="xui-btn-join xa-toJoin" style="text-shadow: none;">提交</a>
					{% else %}
						{% if  activity.status == 3 %}
							<a class="xui-btn-join">敬请期待</a>
						{% else %}
						<a class="xui-btn-join xa-changeState">提交</a>
						{% endif %}
					{% endif %}

					</div>
			</div>

		</div>
        <div style="clear: both"></div>
    {% endif %}
    </div>
	<!--</div>-->
{% endblock %}

{% block js %}
    <script src="/static/js/widget/jquery.mobile.uploadImage.js" type="text/javascript"></script>
	<script type="text/javascript">
	var activityId = '{{activity.id}}';
	W.Validate = function(options) {
		this.$el = options.$el;
		this.validate = function(keyName, valideteFn, msg) {
			var isValid = true;
			var msg = msg;
			this.$el.find('input['+keyName+']:enabled').each(function() {
				isValid = valideteFn($(this));
				if(!isValid) {
					isValid = false;
					msg = $(this).attr(keyName+'-msg') || msg;
					return false;
				}
			});
			return {
				isValid: isValid,
				msg: msg
			};
		};

		var prototype = W.Validate.prototype;
		var key;
		var result;
		for(key in prototype) {
			if('function' === typeof prototype[key]) {
				result = this[key]();
				if(false === result.isValid) {
					return result;
				}
			}
		}
		return result;
	}
	W.Validate.prototype.required = function() {
		return this.validate('required',function($el) {
			if(!$el.val()) {
				return false;
			}else {
				return true;
			}
		}, '请填写此字段');
	};

    $(document).ready(function() {
    	/*设置背景位置和内容位置*/
    	$(".ui-btn-text").css("color", "#D28E1E");
    	var bodyHeight = window.document.body.clientHeight;
    	var innerbgHeight = $('.xui-inner-bg').height()*0.5;
    	var innerbgTop = $('.xui-inner-bg').css('top');
    	var contentH = bodyHeight *0.75;
    	$('.xui-inner-bg').css('margin-top', '-'+ innerbgHeight +'px');
    	//$('.xui-activity-content').css('height',contentH);

    	/*显示表单*/
    	$('.xa-toJoin').bind('click',function(event) {
    		var type = $(this).attr('type');
			$(this).attr('disabled', true);
	        var validate = new W.Validate({
		        $el: $('.xui-form-box')
	        });

	        var tmp = false;
	        $(".ui-radio input").each(function(){
	        	if (this.checked) {
	        		tmp = true;
	        	}
	        });

	        if (!tmp) {
	        	$('body').alert({
			        isShow: true,
			        info: "请选择一个选项",
			        speed: 2000
		        });
		        $(this).attr('disabled', false);
		        return false;
	        }

	        if(!validate.isValid) {
		        $('body').alert({
			        isShow: true,
			        info: validate.msg,
			        speed: 2000
		        });
		        $(this).attr('disabled', false);
		        return false;
		    }

		    //var phValue=document.getElementById('5-0').value;

            var tmp_e = "";
            $(".mt25 label").each(function(){
	        	if ($(this).text() == "PH值") {
	        		tmp_e = $(this).next().children("input");
	        	}
	        });
            var phValue = tmp_e.val();
		    if (phValue.match(/^([1-9]|1[0-4])$/g)) {
		    	if (!(parseInt(phValue) <=14 && parseInt(phValue) >= 0)) {
		    		$('body').alert({
				        isShow: true,
				        info: "请输入1-14的整数作为ph值",
				        speed: 2000
			        });
			        $(this).attr('disabled', false);
			        return false;
		    	}
		    } else {
		    	$('body').alert({
			        isShow: true,
			        info: "请输入1-14的整数作为ph值",
			        speed: 2000
		        });
		        $(this).attr('disabled', false);
		        return false;
		    }
			    var $input   = $('form input[name]');
			    var $inputval = $('form input.xa-validate');
		        var $img = $('form img[name="file_img"]');
		        var data = {};
		        $input.each(function() {
                    var value = $(this).val();
			        data[$(this).attr('name')] = value;
		        });
		        $inputval.each(function() {
                    var value = $(this).val();
			        data[$(this).attr('name')] = value;
		        });

		        $img.each(function() {
			        data[$(this).attr('file_name')] = $(this).attr('src');
		        });
		        var _this = this;
		        $('.xui-loading').css('display', 'block');
		        W.getApi().call({
		        	app: 'webapp',
	                api: 'project_api/call',
	                method: 'post',
	                args: _.extend({
	                    project_id: W.projectId,
	                    activity_id: activityId,
	                    target_api: 'activity_ph/join'
	                }, data),
			        success: function(data) {
                        $('.ui-page').alert({
				         	isShow: true,
				         	info: '上传成功',
				         	isSlide: true,
				         	speed: 2000
				        });
				        $('.tx_btnTop').hide();
                        var ids = data.ids;
                        //跳转到分享页面
                        //window.location.href = "/market_tools/activity/activity/mobile_app/redirectToShare/?act_id="+activityId+"&ids="+ids+"&memberId={{ webapp_user_id }}";
			            window.location.href = './?module=market_tool:activity&model=activity&action=share&workspace_id=market_tool:activity&webapp_owner_id={{ webapp_owner_id }}&project_id=0&act_id='+activityId+'&ids='+ids+'&memberId={{ webapp_user_id }}';
                    },
			        error: function() {
				        $('.ui-page').alert({
				         	isShow: true,
				         	info: '上传失败',
				         	isSlide: true,
				         	speed: 2000
				        });
				        $(_this).attr('disabled', false);
				        $('.xui-loading').css('display', 'none');
			        }
		        });
    	});
$('.ui-radio').find('input').attr('checked', false);
$('.ui-radio').find('.ui-icon-radio-on').removeClass('ui-icon-radio-on').addClass('ui-icon-radio-off');
$('.ui-checkbox').find('input').attr('checked', false);
$('.ui-checkbox').find('.ui-icon-checkbox-on').removeClass('ui-icon-checkbox-on').addClass('ui-icon-checkbox-off');

	$('.ui-radio').change(function(event) {
		$(".ui-btn-text").css("color", "#D28E1E");
		var radioName = $(this).find('input').attr('name');
		var radios = $('input[name="'+radioName+'"]:checked');
		$(this).find(".ui-btn-text").css("color", "#603719");
		var radiosVal =radios.val();
		$(this).parent('div').find('.xa-validate').attr('value', radiosVal)
	});
	$('.ui-checkbox').change(function(event) {
		var checkboxName = $(this).find('input').attr('name');
		var checkboxs = $('input[name="'+checkboxName+'"]:checked');
		var value = [];
		checkboxs.each(function(index, el) {
			var checkboxsVal =$(this).val();
			value.push(checkboxsVal);


		});
		var info = value.join(',');
		$(this).parent('div').find('.xa-validate').attr('value', info);

	});
	$('#8-2').change(function(event) {
		var file = this.files[0];
		var reader = new FileReader();
		reader.readAsDataURL(file);
		reader.onload = function() {
			var img = new Image();
			img.src = this.result.replace('data:base64,', 'data:'+file.type+';base64,');
			var w = img.width;
			var h = img.height;
			if (h > w) {
				$('.xui-uploadImage').css('width','120px','height','210px');
				$('.xui-uploadImage input').css('width','120px','height','210px');
				$('.xui-uploadImage img').css('width','120px','height','210px');
			}
		}

	})
        $('body').delegate('a.tx_btnTop', 'click', function(event) {
            window.scrollTo(0, $('.form-box-div').offset().top);
        });
    })
	</script>
{% endblock %}
