{% extends "webapp_content_base.html" %}
{% load common_tag %}

{% block css %}
<!-- <link type="text/css" rel="stylesheet" href="/static/css/market_tools_css/common.css"> -->
<link rel="stylesheet" href="/markettools_static/coupon/css/idangerous.swiper.css">
<style>
    .xui-myActivityPage .wui-swiper-tabs a {
        width: 50%;
    }
    .wui-swiper-slide{overflow-y: auto;}
    .xui-myActivityPage .wui-tabs a {
        width:33.33%;
    }
    .xui-listItem{
        background: #fff;
        border-bottom:1px solid #dfdfdf;
    }
    .xui-listInner{
        border-bottom:1px solid #dfdfdf!important;
        text-align: left;
    }
    .xui-listInner .ui-btn-inner{
        white-space:normal;
    }
    .xui-listInner p{width:100%;}
    .xui-listInner p span:first-child{width:80%;}
    a:link,a:hover,a:visited{
        color:#333;
    }
    
</style>
{% endblock %}

{% block content-panel %}
<div class="xui-page {% if not user.is_from_weixin %}notweixin{% endif %} xui-myActivityPage wui-swiper">
        <div class="wui-swiper-tabs">
            <a href="javascript:void(0)" class="wui-inner-active"><span class="wui-inner-tabTitle mt5 em85 c65">我的活动</span><i></i></a>
            <a href="javascript:void(0)"><span class="wui-inner-tabTitle mt5 em85 c65">我的抽奖</span><i></i></a>
{#            <a href="javascript:void(0)"><span class="wui-inner-tabTitle mt5 em85 c65">我的投票</span></a>#}
        </div>
        <div class="wui-swiper-container" style="margin-top:47px;">
            <div class="wui-swiper-wrapper">
                <div class="wui-swiper-slide">
                    {% if events_items %}
                    <ul class="xui-listItem">
                        {% for events_item in events_items %}
                        <li data-role="button" data-icon="true" class="xui-listInner pl10 pr15">
                            <a href="{{activity.target_link}}" data-coupon-id="{{coupon.id}}">
                                <p class="pt15 pb15 disT">
                                    <span class="disTc pl5 em1">{{ events_item.name }}</span>
                                    <span class="mr20 em1 disTc vm ">
                                    {% if activity.status == 1 %}
                                    <span class="xui-text-green">已启动</span>
                                    {% endif %}
                                    {% if activity.status == 0 %}
                                    已暂停
                                    {% endif %}
                                    {% if activity.status == 3 %}
                                    未启动
                                    {% endif %}
                                    {% if activity.status == 2 %}
                                    <span class="xui-text-red">已过期</span>
                                    {% endif %}
                                    </span>
                                </p>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <div class="error-info">
                    您还没有参与活动
                    </div>
                    {% endif %}
                </div>
                <div class="wui-swiper-slide">
                    {% if lotteres %}
                    <ul class="xui-listItem">
                        {% for lottery_record in lotteres %}
                        <li data-role="button" data-icon="true" class="xui-listInner pl10 pr15">
                            <a href="{{ lottery_record.url }}">
                                    <div>
                                        <span class="mr5 pl5 em1">{{ lottery_record.prize_name }}</span>
                                        <span class="c65 em1">
                                            {% if lottery_record.prize_type == 1 %}
                                            优惠劵{{lottery_record.prize_money}}元
                                            {% endif %}
                                            {% if lottery_record.prize_type == 2 %}
                                            兑换码
                                            {% endif %}
                                            {% if lottery_record.prize_type == 3 %}
                                            积分{{lottery_record.prize_source}}
                                            {% endif %}
                                            {% if lottery_record.prize_type == 0 %}
                                            实物奖品{{lottery_record.prize_source}}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <span class="mt5 em7 pl5 pr10 c9">
                                        {% if lottery_record.is_awarded %}
                                        领奖日期：{{ lottery_record.awarded_at|date:'Y.m.d' }}
                                        {% else %}
                                        编号：{{lottery_record.prize_number}}
                                        {% endif %}
                                    </span>
                                    {% if lottery_record.prize_type == 1 %}
                                    <span class="mt5 em7 pl5 c9">
                                        {% if lottery_record.is_awarded %}
                                        过期日期：{{promotion.end_date|date:"Y-m-j H:i:s"}}
                                        {% else %}
                                        编号：{{lottery_record.prize_number}}
                                        {% endif %}
                                    </span>
                                    {% endif %}
                                </span>
                                {% if lottery_record.prize_type == 0 %}
                                <span class="disTc vm em9">
                                    {% if lottery_record.is_awarded %}
                                        已领取
                                    {% else %}
                                        <span class="xui-text-green">未领取</span>
                                    {% endif %}
                                </span>
                                {% endif %}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <div class="error-info">
                    您还没有奖品
                    </div>
                    {% endif %}
                </div>
{#                <div class="wui-swiper-slide">#}
{#                    {% if votes %}#}
{#                    <ul class="xui-listItem">#}
{#                        {% for vote in votes %}#}
{#                        <li data-role="button" data-icon="true" class="xui-listInner pl15 pr15">#}
{#                            <a href="{{ vote.url }}" style="display:inline-block;width:85%;" class="pl5">{{ vote.name }}</a>#}
{#                        </li>#}
{#                        {% endfor %}#}
{#                    </ul>#}
{#                    {% else %}#}
{#                    您还没有参与投票#}
{#                    {% endif %}#}
{#                </div>#}
            </div>
        </div>
            
        </div>
        <!-- <div class="xui-btn-layer-footer xui-form-box">
            <a data-role="button" class="btn-back" href="/m/rice/user_center/{{ webapp_id }}/">&nbsp;&nbsp;返 回&nbsp;&nbsp;</a>
        </div> -->
    </div>
</div>
{% endblock %}

{% block js %}
<script src="/markettools_static/coupon/js/idangerous.swiper.js"></script>
<script type="text/javascript">
    var bodyWidth = window.document.body.clientWidth;
    var bodyHeight = window.document.body.clientHeight;
    var containerHeight = bodyHeight - 47;
    $(".wui-swiper-container").css({'height':containerHeight,'width': bodyWidth });
    $(".wui-swiper-slide").css('height', containerHeight );
    // $("body").css('overflow-y', 'hidden');
    var tabsSwiper = new Swiper('.wui-swiper-container',{
        speed:500,
        onSlideChangeStart: function() {
            $(".wui-swiper-tabs .wui-inner-active").removeClass('wui-inner-active');
            $(".wui-swiper-tabs a").eq(tabsSwiper.activeIndex).addClass('wui-inner-active');
        }
    });
    $(".wui-swiper-tabs a").on('touchstart mousedown',function(e){
        e.preventDefault();
        $(".wui-swiper-tabs .wui-inner-active").removeClass('wui-inner-active');
        $(this).addClass('wui-inner-active');
        tabsSwiper.swipeTo($(this).index());
    });
</script>
{% endblock %}
